.color-4293F4 {
  color: #4293F4;
}
.color-AAA {
  color: #AAAAAA !important;
}
#applyProjTree {
  width: 1200px;
  margin: auto;
  padding-bottom: 40px;
}
.proj-name {
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
}
.projinfo-detail {
  width: 1200px;
  height: 40px;
  line-height: 40px;
  background: #F2F3F8;
  color: #515151;
  padding: 0 20px;
  border: 1px solid #ECEFF5;
  margin-bottom: 20px;
}
.projinfo-detail span {
  padding-right: 30px;
  display: inline-block;
  max-width: 330px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
.projinfo-detail span:last-child {
  padding-right: 0;
}
.apply-status {
  text-align: right;
}
.apply-status-icon {
  padding-left: 50px;
  position: relative;
}
.apply-status-icon i {
  padding: 8px;
  position: absolute;
  left: 28px;
  top: 2px;
  border-radius: 2px;
}
.apply-status-0, .apply-status-3 {
  background: #999FAE;
}
.apply-status-2 {
  background: #19AE91;
}
.apply-status-1 {
  background: #4293F4;
}
.apply-status-4 {
  background: #E0A44A;
}
.stage-list {
  height: 40px;
  line-height: 39px;
  font-size: 16px;
  color: #4293F4;
  text-align: center;
  margin-top: 10px;
  width: 100%;
  border: 1px solid #CEE2FA;
}
.stage-list .stage-title {
  border-right: 1px solid #CEE2FA;
  background: #F1F6FB;
}
.stage-list .stage-title:last-child {
  border-right: none;
}
.pro-gc-content .stage-list-card {
  padding: 0 30px;
  position: relative;
  float: left;
}
.stage-list-1 .stage-list-card {
  width: 100%;
}
.stage-list-2 .stage-list-card {
  width: 50%;
}
.stage-list-3 .stage-list-card {
  width: 33.3%;
}
.stage-list-4 .stage-list-card {
  width: 25%;
}
.stage-index-3.stage-list-card {
  float: right;
}
.pro-gc-content {
  padding: 40px 0;
  background: #FAFBFC;
  border: 1px solid #CEE2FA;
  width: 100%;
}
.pro-gc-content .stage-card {
  height: 150px;
  background: #fff;
  box-shadow: 0px 0px 16px 0px rgba(2,51,107,0.12);
  border-radius: 4px;
  position: relative;
  padding: 28px 16px;
  width: 100%;
}
.pro-gc-content .projTree-item {
  margin-bottom: 40px;
}
.pro-gc-content .projTree-item:last-child {
  margin-bottom: 0;
}
.pro-gc-content .proj-tree-status {
  color: #fff;
  position: absolute;
  right: 0;
  top: 0;
  width: 48px;
  height: 18px;
  border-radius: 0px 4px 0px 0px;
  text-align: center;
  line-height: 17px;
  font-size: 12px;
}
.pro-gc-content .proj-tree-name {
  color: #515151;
  line-height: 24px;
  height: 48px;
  font-weight: 800;
}
.pro-gc-content .proj-tree-gcdm {
  font-size: 12px;
  color: #7A7A7A;
  margin-top: 6px;
}
.pro-gc-content .opt {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  left: 0;
  height: 32px;
  line-height: 32px;
  background: #FAFBFC;
}
.pro-gc-content .opt span {
  cursor: pointer;
  width: 49%;
  display: inline-block;
  color: #4293F4;
}
.pro-gc-content .opt span.disabled {
  color: #aaa;
  cursor: not-allowed;
}
.pro-gc-content .opt .search-detail {
  position: relative;
}
.pro-gc-content .opt .search-detail:after {
  content: '';
  position: absolute;
  width: 1px;
  display: inline-block;
  height: 16px;
  background: #ECEFF5;
  right: 0;
  top: 8px;
}
.has-child:after, .pro-gc-content .stage-card:before {
  content: '';
  display: inline-block;
  height: 4px;
  width: 26px;
  background: #B2BECB;
  position:absolute;
  right: -26px;
  top: calc(50% - 1px);
}
.pro-gc-content .stage-index-3 .stage-card:before, .pro-gc-content .stage-index-3 .stage-card:after {
  content: none;
}
.pro-gc-content .stage-card:after {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 8px solid #B2BECB;
  position: absolute;
  left: -6px;
  top: 70px;
}
.pro-gc-content .stage-card:before {
  left: -31px;
  top: 74px;
}
.pro-gc-content .stage-index-0 .stage-card:before, .pro-gc-content .stage-index-0 .stage-card:after {
  content: none;
}
.pro-gc-content .stage-list-card i.line {
  position: absolute;
  width: 4px;
  display: inline-block;
  background: #B2BECB;
  left: -4px;
}
.pro-gc-content .stage-list-card .projTree-item .line {
  left: -34px;
  top: 74px;
  bottom: -118px;
}
