<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>智能引导</title>
    <link rel="stylesheet" href="../../static/mall/css/main/components/lead.css" th:href="@{/mall/css/main/components/lead.css}">
</head>
<body>
    <div id="lead" class="regular-wrap">
        <section>
            <div class="title-wrap">
                <div class="mask"></div>
                <div class="content">
                    <h2 class="title">欢迎使用操作指引</h2>
                   <!-- <div class="tab-wrap">
                        <div class="tab-item" :class="[item.tabIndex==activeTab? 'active': '']" v-for="item in allTabList"
                             :key="item.tabIndex" @click="switchTab(item)">{{item.name}}</div>
                    </div>-->
                </div>
            </div>
        </section>
    </div>
</body>
</html>