<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>智能引导</title>
    <link rel="stylesheet"  th:href="@{/mall/skin_v4.1/css/lead/lead.css}">
</head>
<body>
    <div id="lead" class="regular-wrap">
        <section>
            <div class="title-wrap">
                <div class="mask"></div>
                <div class="content">
                    <h2 class="title">欢迎使用申报指引</h2>
                    <div class="pd-tab-nav">
                        <img class="customerService"  th:src="@{/mall/skin_v4.1/images/lead/CustomerService.svg}" alt="客服" />
                        <div class="message-text">
                            <p><img class="arrow"  th:src="@{/mall/skin_v4.1/images/lead/u182.svg}" alt="箭头" />您好，欢迎使用佛山市自助智能引导，请您根据以下的步骤完成指引。</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>

        </section>
        <!-- 智能引导内容 -->
        <section>
            <div class="lead-content">
                <p class="p-header">智能引导</p>
                <p>请认真回答下面问题，将根据您的选择来推荐当前所选项目的项目类型和事项。</p>
                <div class="col-status-z">
                    <div class="sel-status">
                        <div id="guidediv">
                            <el-form :model="guideSelVal" v-if="guideList&&guideList.length>0">
                                <el-form-item :required="item.mustAnswer==1"
                                              v-for="(item,index) in guideList" :key="index" :label="item.factorName">
                                    <p class="status-label">
                                        <el-tooltip class="item" effect="light" :content="item.factorName?item.factorName:'无'"
                                                    placement="right">
                                            <i class="el-icon-question"></i>
                                        </el-tooltip>
                                    </p>
                                    <template v-if="item.answerType=='s'||item.answerType=='y'">
                                        <el-radio-group v-model="item.selectAnswerId">
                                            <el-radio v-for="(itemAns,ind) in item.answerFactors"
                                                      @change="getChildsStateList(guideList,item,itemAns,index,'true1','guide')"
                                                      :key="ind"
                                                      :value="itemAns.factorId" :label="itemAns.factorId" :checked="itemAns.factorId" name="answer">{{itemAns.factorName}}
                                            </el-radio>
                                        </el-radio-group>
                                        <div name="append"></div>
                                    </template>
                                    <template v-else>
                                        <el-checkbox-group v-model="item.selectAnswerId">
                                            <el-checkbox v-for="(itemAns,indAns) in item.answerFactors" :value="itemAns.factorId"
                                                         :key="indAns"
                                                         @change="function(value){getChildsStateList(guideList,item,itemAns,index,value,'guide')}"
                                                         :label="itemAns.factorId" name="answer">{{itemAns.factorName}}
                                            </el-checkbox>
                                        </el-checkbox-group>
                                    </template>
                                </el-form-item>
                            </el-form>
                            <el-form :model="stageSelVal" v-if="projInfoDetail.themeId&&projInfoDetail.themeId!=''">
                                <el-form-item required label="选择你要申报的阶段">
                                    <p class="status-label">
                                        <el-tooltip class="item" effect="light" content="请选择项目申报阶段"
                                                    placement="right">
                                            <i class="el-icon-question"></i>
                                        </el-tooltip>
                                    </p>
                                    <template v-if="stageListBefore&&stageListBefore.length">
                                        <el-radio-group v-model="stageId" @change="getStateList">
                                            <el-radio v-for="(item,ind) in stageListBefore"
                                                      :key="ind"
                                                      :value="item.stageId" :label="item.stageId">{{item.stageName}}
                                            </el-radio>
                                        </el-radio-group>
                                    </template>
                                    <template v-else>
                                        <span>该主题下无可申报阶段</span>
                                    </template>
                                </el-form-item>
                            </el-form>
                            <el-form :model="stateSelVal" v-if="stateList&&stateList.length>0">
                                <el-form-item :required="item.mustAnswer==1"
                                              v-for="(item,index) in stateList"
                                              :key="index"
                                              :label="item.stateName">
                                    <p class="status-label">
                                        <el-tooltip class="item" effect="light" :content="item.stateMemo?item.stateMemo:'无'" placement="right">
                                            <i class="el-icon-question"></i>
                                        </el-tooltip>
                                    </p>
                                    <template v-if="item.answerType=='s'||item.answerType=='y'">
                                        <el-radio-group v-model="item.selectAnswerId">
                                            <el-radio v-for="(itemAns,ind) in item.answerStates"
                                                      :key="ind"
                                                      @change="getChildsStateList(stateList,item,itemAns,index,'true1')"
                                                      :value="itemAns.parStateId"
                                                      :label="itemAns.parStateId" name="answer">{{itemAns.stateName}}</el-radio>
                                        </el-radio-group>
                                    </template>
                                    <template v-else>
                                        <el-checkbox-group v-model="item.selectAnswerId"
                                                           :required="item.mustAnswer==1">
                                            <el-checkbox v-for="(itemAns,indAns) in item.answerStates"
                                                         :key="indAns"
                                                         :value="itemAns.parStateId"
                                                         @change="function(value) {getChildsStateList(stateList,item,itemAns,index,value)}"
                                                         :label="itemAns.parStateId" name="answer">{{itemAns.stateName}}</el-checkbox>
                                        </el-checkbox-group>
                                    </template>
                                </el-form-item>
                            </el-form>
                        </div>
                    </div>
                </div>
                <div class="footer-stage-btn">
                    <el-button type="primary" @click="toListMatter">提 交</el-button>
                </div>
            </div>
        </section>
        <!-- 智能引导内容 end-->
    </div>
    <script th:src="@{/mall/skin_v4.1/js/lead/lead.js}" type="text/javascript"></script>
</body>
</html>