<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>铜陵市中介服务网上超市</title>
	<!--<link rel="shortcut icon" href="../../../static/zjcs/common/images/favicon.ico" th:href="@{/zjcs/common/images/favicon.ico}">-->
	<link rel="stylesheet" href="/framework-ui/src/main/resources/static/agcloud/framework/js-lib/element-2/element.css" th:href="@{/agcloud/framework/js-lib/element-2/element.css}">
	<link rel="stylesheet" href="/framework-ui/src/main/resources/static/agcloud/framework/ui-private/default/common/css/layout.css" th:href="@{/agcloud/framework/ui-private/default/common/css/layout.css}">
	<link rel="stylesheet" href="/framework-ui/src/main/resources/static/agcloud/framework/ui-private/default/blue/css/theme.css" th:href="@{/agcloud/framework/ui-private/default/blue/css/theme.css}">
	<link rel="stylesheet" href="../../../static/zjcs/common/css/reset.css" th:href="@{/zjcs/common/css/reset.css}">
	<link rel="stylesheet" href="../../../static/zjcs/guide/css/market_guide.css" th:href="@{/zjcs/guide/css/market_guide.css}">
	<script>
		var ctx = '[[@{/}]]';
		// var ctx = 'http://192.168.14.40:8085/aplanmis-mall/';
	</script>
<body class="scrollable bodyCss">
<!--头部导航-->
<div class="header">
	<iframe src="../common/header.html" th:src="@{/supermarket/main/header.html}" frameborder="0" width="100%" height="100%"></iframe>
</div>
<div id="market_guide">
	<!--主体内容-->
	<div class="ts-content">
		<div class="mod">
			<div class="local-main">
				<span class="local-icon"></span>
				<span class="local-span">当前位置：</span>
				<a class="local-a" href="index.html">首页</a>
				<span class="local-span">&gt;</span>
				<a class="local-a active" href="#">合同范本 </a>
			</div>
			<div class="page-main clearfix">
				<div class="page-sidebar">
					<div class="sidebar-tit">合同范本</div>
					<ul class="nav-tree">
						<!--<li>合同范本</li>
						<li>中介机构入驻指南</li>-->
						<li class="active">合同范本</li>
						<!-- <li>资料下载 </li> -->
					</ul>
				</div>
				<div class="sidebar-con">
					<div class="sidebar-item">
						<div class="guide-article">
							<div class="article-tit">铜陵市网上中介服务超市中介机构入驻指南</div>
							<h3>一、入驻原则</h3>
							<p>铜陵市网上中介服务超市（以下简称中介超市）遵循“开放、有序、公开、公平、公正”的原则，面向全国符合条件的中介服务机构常态开放、实时入驻。入驻中介超市的中介服务机构可在全省范围内依法开展从业活动，自主参与竞争。</p>
							<h3>二、入驻主体</h3>
							<p>为行政管理工作（行政许可、行政处罚、行政强制、行政检查、行政给付、行政征收、行政裁决、行政确认、行政奖励和其他行政职权）提供有偿中介服务的企业、事业单位、社会组织等机构。</p>
							<h3>三、入驻条件</h3>
							<h4>（一）具有独立承担民事责任的能力；</h4>
							<h4>（二）符合依法依规应当具备的相关资质（资格）条件；</h4>
							<h4>（三）有依法缴纳税收和社会保障资金的良好记录；</h4>
							<h4>（四）无法律法规规定禁止在广东省开展从业活动的情形；</h4>
							<h4 class="marbottom">（五）法律法规规定的其他条件。</h4>
							<h3>四、入驻申请流程</h3>
							<h4>（一）网站注册登录</h4>
							<!--								<p>中介服务机构可访问铜陵市网上中介服务超市（网址：<a href="http://zjcs.tsszjcs.org.cn">http://zjcs.tsszjcs.org.cn</a>），通过该网站申请进驻中介超市，并进行登录操作。</p>-->
							<p>中介服务机构可访问铜陵市网上中介服务超市，通过该网站申请进驻中介超市，并进行登录操作。
							</p>
							<h4>（二）机构信息注册</h4>
							<!--								<p>中介服务机构访问铜陵市网上中介服务超市（网址：http://zjcs.tsszjcs.org.cn），点击【超市指南】栏目，点击“中介机构注册指南”栏目，进入页面后点击“中介机构注册”按钮，按系统提示选择营业执照（法人登记证等）登记机关所在行政区划，阅读并同意入驻告知书全部内容，选择入驻的资质（资格）类型，按页面提示填报相关信息，按要求上传有关材料原件扫描件，并保证填报信息和有关扫描件的一致性，提交网上入驻申请。</p>-->
							<p>
								中介服务机构访问铜陵市网上中介服务超市，点击【超市指南】栏目，点击“中介机构注册指南”栏目，进入页面后点击“中介机构注册”按钮，按系统提示选择营业执照（法人登记证等）登记机关所在行政区划，阅读并同意入驻告知书全部内容，选择入驻的资质（资格）类型，按页面提示填报相关信息，按要求上传有关材料原件扫描件，并保证填报信息和有关扫描件的一致性，提交网上入驻申请。</p>
						</div>
					</div>
					<div class="sidebar-item active">
						<div class="guide-article">
							<div class="article-tit">铜陵市网上中介服务超市合同范本</div>
							<!--								<div class="article-tit">铜陵市网上中介服务超市项目业主入驻指南</div>-->
							<h3>劳务合同范本.doc</h3><a href="/aplanmis-mall/zjcs/guide/劳务合同范本.doc">劳务合同范本.doc</a>
							<h3>技术服务合同标准范本.doc</h3><a href="/aplanmis-mall/zjcs/guide/商标许可使用协议.docx">劳务合同范本.doc</a>
							<h3>商标许可使用协议.docx</h3><a href="/aplanmis-mall/zjcs/guide/技术服务合同标准范本.doc">劳务合同范本.doc</a>
						</div>
					</div>
					<div class="sidebar-item">
						444444444
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--底部导航-->
<div class="footer">
	<iframe src="../common/footer.html" th:src="@{/supermarket/main/footer.html}" frameborder="0" width="100%" height="100%"></iframe>
</div>

<script src="/framework-ui/src/main/resources/static/agcloud/framework/js-lib/jquery-v1/jquery.min.js" th:src="@{/agcloud/framework/js-lib/jquery-v1/jquery.min.js}"></script>
<script src="/framework-ui/src/main/resources/static/agcloud/framework/js-lib/vue-v2/vue.js"
		th:src="@{/agcloud/framework/js-lib/vue-v2/vue.js}"></script>
<script src="/framework-ui/src/main/resources/static/agcloud/framework/js-lib/element-2/element.js" th:src="@{/agcloud/framework/js-lib/element-2/element.js}"></script>
<script src="/framework-ui/src/main/resources/static/agcloud/framework/ui-private/common/js/common.js"
		th:src="@{/agcloud/framework/ui-private/common/js/common.js}"></script>

<script src="../../../static/zjcs/guide/js/market_guide.js" th:src="@{/zjcs/guide/js/market_guide.js}" type="text/javascript"></script>
</body>
</html>
