<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
		PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- xml配置对于NULL值默认作为字符串来处理 -->
		<setting name="jdbcTypeForNull" value="VARCHAR"/>
        <setting name="logImpl" value="LOG4J"/>
        <setting name="lazyLoadingEnabled" value="false" />
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	<typeAliases>
		<package name="com.augurit.agcloud.bsc.domain"/>
		<package name="com.augurit.agcloud.opus.common.domain"/>
		<package name="com.augurit.agcloud.meta.domain"/>
		<package name="com.augurit.agcloud.bpm.common.domain"/>
		<package name="org.flowable.app.domain.editor"/>
		<package name="com.augurit.agcloud.aoa.domain"/>
		<package name="com.augurit.aplanmis.common.domain"/>
		<package name="com.augurit.aplanmis.lhys.domain"/>
		<package name="com.augurit.aplanmis.cod.domain"/>
		<package name="com.augurit.agcloud.bpm.admin.qingjia.domain"/>
		<package name="com.augurit.agcloud.agx.common.domain"/>
		<package name="com.augurit.agcloud.bpm.admin.qingjia.domain"/>
		<package name="com.augurit.demo.domain"/>
	</typeAliases>


	<typeHandlers>
		<typeHandler handler="com.augurit.aplanmis.common.handler.DefaultEnumTypeHandler" javaType="com.augurit.aplanmis.common.constants.PublishStatus"/>
		<typeHandler handler="com.augurit.aplanmis.common.handler.DefaultEnumTypeHandler" javaType="com.augurit.aplanmis.common.constants.DeletedStatus"/>
		<typeHandler handler="com.augurit.aplanmis.common.handler.DefaultEnumTypeHandler" javaType="com.augurit.aplanmis.common.constants.ActiveStatus"/>
		<typeHandler handler="com.augurit.aplanmis.common.handler.DefaultEnumTypeHandler" javaType="com.augurit.aplanmis.common.constants.InOutStatus"/>
		<typeHandler handler="com.augurit.aplanmis.common.handler.DefaultEnumTypeHandler" javaType="com.augurit.aplanmis.common.constants.NeedStateStatus"/>
		<typeHandler handler="com.augurit.aplanmis.common.handler.DefaultEnumTypeHandler" javaType="com.augurit.aplanmis.common.constants.InOutType"/>
	</typeHandlers>

	<plugins>
		<plugin interceptor="com.github.pagehelper.PageInterceptor">
			<property name="offsetAsPageNum" value="true"/>
			<property name="rowBoundsWithCount" value="true"/>
		</plugin>
	</plugins>
	<!--<mappers>
		&lt;!&ndash; 集成flowable-modeler 扫描对应的mappsers xml &ndash;&gt;
		<mapper resource="org/flowable/app/repository/editor/Model.xml"/>
		<mapper resource="org/flowable/app/repository/editor/ModelRelation.xml"/>
		<mapper resource="org/flowable/app/repository/editor/ModelHistory.xml"/>
	</mappers>-->

</configuration>
