<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:include="common/common :: commonheader('不予受理通知书打印')" />
    <th:block th:include="common/common :: ntkojs" />
    <script type="text/javascript">
        //var applyinstId = '[[${applyinstId}]]';//打印数据查询参数
        var wordInfoData = null;            //word填充数据
        var loadInfoResult = false;         //标识数据是否成功查询
        var receiveId='[[${receiveId}]]';  //打印数据查询参数--回执ID
        //覆盖文档打开回调方法
        function ntkoondocumentopened(str,doc) {
            TANGER_OCX_bDocOpen = !0;//true
            //当前打开的文档类型 0=没有文档；100 =其他文档类型；1=word；2=Excel.Sheet或者 Excel.Chart ；
            // 3=PowerPoint.Show；4= Visio.Drawing； 5=MSProject.Project；6= WPS Doc；7=Kingsoft.Sheet
            opendoctype = TANGER_OCX_OBJ.DocType;
            //saved属性用来判断文档是否被修改过,文档打开的时候设置成ture,当文档被修改,自动被设置为false,该属性由office提供.
            //当电脑上安装的office没有激活的会报错。
            // TANGER_OCX_OBJ.activeDocument.saved=true;
            if(TANGER_OCX_bDocOpen){                      //当文档完全打开
                prohibitOperate();                          //设置禁用的操作
                if(wordInfoData != null) setWordInfo(wordInfoData);         //设置书签的内容
            }
        }
        //QRCode二维码
        // BarCodeType	long	条码类型
        // StringData	string	条码编码字符串
        // IsFloat	    bool	是否浮动，默认true浮动
        // left	        long	图片的x点
        // top	    	long	图片的y点
        // relative		long	图片定位的相对位置 取值1-4。1：光标位置；2：页边距；3：页面距离 4：默认设置栏，段落（为兼容以前版本默认方式）
        // Scale    	long	二维码图片的缩放比例
        // zorder		long	图片相对文字位置 表示图片是置于文字的上方还是下方。0：下方；1：上方。
        // bIsTransBackground	bool	白色背景是否透明，默认false
        function add2DQRcode(jsonData) {
            //var data= "https://www.baidu.com/";
            var data = "http://19.104.11.180:88/html/portal/query/wx_ywjdcx.html?sblsh="+jsonData.applyinstCode+"&sname="+encodeURI(jsonData.userName)
            console.log(data)
            debugger;
            //弹出提示框，提示：此功能需要扩展功能组件支持。   没有接口去除！！！！！！
            TANGER_OCX_OBJ.Add2DCodePic(2,data, true, 440, 90, 2, 160, 1, true);
        }
        function prohibitOperate() {
            TANGER_OCX_OBJ.FileNew =false;          //禁止文件菜单的新建项
            TANGER_OCX_OBJ.FileOpen  =false;        //禁止文件菜单的打开项
            TANGER_OCX_OBJ.FileClose  =false;       //禁止文件菜单的关闭项
            TANGER_OCX_OBJ.FileSave  =false;        //禁止文件菜单的保存项
            TANGER_OCX_OBJ.FileSaveAs  =false;      //禁止文件菜单的另存为项
        }

        function initInfo(){
            TANGER_OCX_OBJ=document.getElementById("TANGER_OCX");
            //判断chrome的版本是否大于54，若大于54，使用代理解决问题
            //本段代码一般放在TANGER_OCX_OBJ = document.getElementById("TANGER_OCX");代码后面。
            var brower;
            var regStr_Chrome = /chrome\/[\d.]+/gi;
            var agent = navigator.userAgent.toLowerCase();
            if( agent.indexOf("chrome") > 0 ){
                brower = agent.match( regStr_Chrome );
            }
            var verinfo = ( brower + "" ).replace(/[^0-9.]/ig,"");
            var uVerinfo = parseFloat( verinfo );
            if( uVerinfo > 54 ){
                TANGER_OCX_OBJ = new Proxy( TANGER_OCX_OBJ, {
                    set: function (target, key, value, proxy) {
                        var func = target["setattribute"];
                        var args = new Array();
                        args[0] = key;
                        args[1] = value;
                        return ( Reflect.apply(func, target, args) );
                    },
                    get: function(target, key, proxy) {
                        var value = target[key];
                        if(typeof value == 'function'){ // 为函数
                            return function() {
                                return Reflect.apply(value, target, arguments);
                            };
                        }
                        else
                            return( value );
                    }
                });
            }
            // TANGER_OCX_OBJ.IsShowFileErrorMsg = false;   //不弹出文件存取错误
            objTitleBar();                                  //不显示标题
            // TANGER_OCX_OBJ.FullScreenMode = true;       //全屏打开
            loadWordInfoData();                             //加载数据
            openWordTemplet();
        }
        //打开设置好的模板文档
        function openWordTemplet() {
            var url = ctx + "/receive/ts/4-行政许可不予受理决定书0327.doc";
            if(loadInfoResult)
            TANGER_OCX_OBJ.BeginOpenFromURL(url,true);     //打开模板文档
        }
        //设置word模板的值
        function setWordInfo(jsonData) {
            //add2DQRcode(jsonData);
            for (var key in jsonData){
                if(jsonData[key] != null && jsonData[key] != ''){
                    TANGER_OCX_OBJ.SetBookmarkValue(key,jsonData[key]);
                    if(key != 'printDate'){
                        TANGER_OCX_OBJ.ActiveDocument.Bookmarks(key).Range.Select();               //选中书签的内容
                        TANGER_OCX_OBJ.ActiveDocument.Application.Selection.Font.Underline = true;//设置下划线
                    }
                }
            }
        }

        //加载信息
        function loadWordInfoData() {
            var url = ctx + '/rest/receive/getOneReceiveByReceiveId/'+receiveId;
             $.ajax({
                 type: 'get',
                 url: url,
                 cache: false,
                 async: false,
                 //data: {applyinstId:applyinstId,receiptType:"3"},
                dataType: 'json',
                success: function (result) {
                    //debugger;
                    if (result != null) {
                         loadInfoResult = true
                         converInfo(result);
                         console.log(result);
                     }
                 },
                 error: function (msg) {
                     TANGER_OCX_OBJ.ShowTipMessage('提示','数据加载失败！');
                 }
             });
            loadInfoResult = true;
            //converInfo('模拟数据');
        }
        //转换打印数据
        function converInfo(jsonObj) {
            console.log(jsonObj);


            if(jsonObj == '' || typeof (jsonObj) == 'undefined')return '';
            var myDate = new Date(jsonObj.createTime);
            var month = (myDate.getMonth() + 1) < 10 ? '0' + (myDate.getMonth() + 1) : myDate.getMonth() + 1;
            var day = myDate.getDate() < 10 ? '0' + myDate.getDate() : myDate.getDate();
            var applyDate = myDate.getFullYear() + '年' + month + '月' + day + '日' + ' ';/* +
            v
                myDate.getHours() + ':' + myDate.getMinutes() + ':' + myDate.getSeconds();*/
            var printD=new Date();
            var printData = printD.getFullYear() + '年' + (printD.getMonth() + 1) < 10 ? '0' + (printD.getMonth() + 1) : printD.getMonth() + 1 + '月' + printD.getDate() < 10 ? '0' + printD.getDate() : printD.getDate() + '日' ;
            wordInfoData = {
                'userName':jsonObj.receiveUserName,
                'applyDate':applyDate,
                //'itemName':jsonObj.iteminstName,
                'reason':jsonObj.receiveMemo,
                //'consultPhone':jsonObj.issueUserMobile,
                //'printDate':printData,
               // 'userNamePro':jsonObj.receiveUserName,
                //'applyDatePro':applyDate,
                //'itemNamePro':jsonObj.iteminstName,
               // 'reasonPro':jsonObj.receiveMemo,
                'applyinstCode':jsonObj.applyinstCode
            }
            console.log(wordInfoData);
            //debugger;
        }
    </script>

</HEAD>

<!--初始化-->
<BODY onload="initInfo();">
<th:block th:include="common/common :: commonfooter" />
</BODY>
</HTML>