<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>服务窗口</title>
  
    <link rel="stylesheet" href="../../../../../../../framework-ui/src/main/resources/static/agcloud/framework/js-lib/element-2/element.css" th:href="@{/agcloud/framework/js-lib/element-2/element.css}"/>
    <link rel="stylesheet" href="../../../../../../../framework-ui/src/main/resources/static/agcloud/framework/icon-lib/agcloud-fonts/iconfont.css" th:href="@{/agcloud/framework/icon-lib/agcloud-fonts/iconfont.css}">
    <link rel="stylesheet" href="../../../../../../../framework-ui/src/main/resources/static/agcloud/framework/ui-private/default/common/css/layout.css" th:href="@{/agcloud/framework/ui-private/default/common/css/layout.css}">
    <link rel="stylesheet" href="../../../../../../../framework-ui/src/main/resources/static/agcloud/framework/ui-private/default/blue/css/theme.css" th:href="@{/agcloud/framework/ui-private/default/blue/css/theme.css}">
    <link rel="stylesheet" href="../../static/window/css/index.css" th:href="@{/window/css/index.css}">
    <script>
      var ctx = '[[@{/}]]';
      // var ctx = 'http://192.168.30.37:8083/aplanmis-front/';
      // var ctx = 'http://192.168.30.30:8083/aplanmis-front/';
    </script>
</head>
<body>
<div class='loading' v-if="pageLoading">
   <div class="tips">
       <i class="el-icon-loading"></i>
       <p>请稍后</p>
   </div>
</div>
<div id="app" v-cloak>
    <el-container>
      <el-aside class="lt-path">
        <div class="window-title">
          <div class="clearfix">
            <span class="title">窗口列表</span>
            <el-button type="text" @click="addWindow">新增</el-button>
          </div>
        </div>
        <div class="window-bottom">
          <div class="window-search">
            <el-input placeholder="地区、部门等关键词" v-model="keyword" class="input-with-select" @keyup.enter.native="showData">
              <i slot="suffix" class="el-input__icon el-icon-search" @click="showData"></i>
            </el-input>            
          </div>
          <!--窗口人员-->
          <div class="window-box">
            <div class="window-show">
              <div class="title">窗口</div>
              <div class="list" :style="{height: leftMenuH + 'px'}">
                <ul>
                  <li v-for="(item, index) in tableData2" :class="[index === chooseItem ? 'active' : '']" @click="chooseWinlist(item, index)" @contextmenu.prevent="operationItem = index">
                    <i class="ag ag-service-window"></i>
                    {{item.windowName}}
                    <div class="window-operationLayer" v-show="index === operationItem" v-clickoutside="closeOpLayer">
                      <div @click.stop="operationItem=-1,editWindow(item.windowId)">编辑窗口</div>
                      <div @click.stop="operationItem=-1,delateWindow(item.windowId)">删除窗口</div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!--窗口事项-->
          <!--<div class="window-box" v-show="activeName === 'third'">
            <div class="window-show">
              <div class="title">窗口</div>
              <div class="list">
                <ul>
                  <li v-for="(item, index) in unOpenItem" :class="[index === chooseItem ? 'active' : '']" @click="chooseItemlist(item, index)" @contextmenu.prevent="operationItem = index">
                    <i class="el-icon-document"></i>
                    {{item.windowName}}
                    <div class="window-operationLayer" v-show="index === operationItem" v-clickoutside="closeOpLayer">
                      <div @click.stop="editWindow(item.windowId)">编辑窗口</div>
                      <div @click.stop="delateWindow(item.windowId)">删除窗口</div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="window-show">
              <div class="title">已通办事项窗口</div>
              <div class="list hadFixedList">
                <ul>
                  <li v-for="(item, index) in allOpenItem"><i class="el-icon-document"></i>{{item.windowName}}</li>
                </ul>
              </div>
            </div>
            <div class="window-hadFixed"></div>
          </div>-->
          <!--窗口阶段-->
          <!--<div class="window-box" v-show="activeName === 'fourth'">
            <div class="window-show">
              <div class="title">窗口</div>
              <div class="list">
                <ul>
                  <li v-for="(item, index) in unOpenStage" :class="[index === chooseItem ? 'active' : '']" @click="chooseStagelist(item, index)" @contextmenu.prevent="operationItem = index">
                    <i class="el-icon-document"></i>
                    {{item.windowName}}
                    <div class="window-operationLayer" v-show="index === operationItem" v-clickoutside="closeOpLayer">
                      <div @click.stop="editWindow(item.windowId)">编辑窗口</div>
                      <div @click.stop="delateWindow(item.windowId)">删除窗口</div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="window-show">
              <div class="title">已通办阶段窗口</div>
              <div class="list hadFixedList">
                <ul>
                  <li v-for="(item, index) in allOpenStage"><i class="el-icon-document"></i>{{item.windowName}}</li>
                </ul>
              </div>
            </div>
            <div class="window-hadFixed"></div>
          </div>-->
        </div>
      </el-aside>
      <el-main class="rt-path">
        <div class="window-title">
          <div class="clearfix">
            <span>{{windowNameTitle}}</span>
          </div>
        </div>
        <el-tabs v-model="activeName" @tab-click="tabclick" style="padding: 0 12px 0;">
          <el-tab-pane label="窗口人员" name="second">
            <el-row>
              <el-col :span="24">
                <div class="user">
                  <div class="title">
                    <el-row>
                      <el-col :span="12">
                        人员查询
                        <el-input v-model="userKeyWord" style="width: 420px" placeholder="请输入用户姓名、所属组织等">
                          <el-button slot="append" type="primary" icon="el-icon-search" @click.native="getUserByWindowId">查询</el-button>
                        </el-input>
                      </el-col>
                      <el-col :span="12" class="tableOpBtn">
                        <el-button type="primary" @click="openWinDialog">新增人员</el-button>
                        <el-button @click="saveWindowUser">保存配置</el-button>
                        <el-button type="danger" @click="batchRemoveUser">批量删除</el-button>
                      </el-col>
                    </el-row>
                    <el-table
                      border
                      class='el-table'
                      :data="userCheckedData"
                      @selection-change="winTabelSelectionChange"
                      :height="tableH"
                      style="width: 100%; marginTop: 20px;">
                      <el-table-column type="selection" width="55"></el-table-column>
                      <el-table-column prop="userName" label="姓名">
                        <template slot-scope='scope'>
                          {{scope.row.data.userName}}
                        </template>
                      </el-table-column>
                      <el-table-column prop="userMobile" label="手机号码">
                        <template slot-scope='scope'>
                          {{scope.row.data.userMobile}}
                        </template>
                      </el-table-column>
                      <el-table-column prop="orgName" label="所属组织">
                        <template slot-scope='scope'>
                          {{scope.row.data.orgName}}
                        </template>
                      </el-table-column>
                      <el-table-column prop="loginName" label="登录名">
                        <template slot-scope='scope'>
                          {{scope.row.data.loginName}}
                        </template>
                      </el-table-column>
                      <el-table-column label="操作" width='100'>
                        <template slot-scope='scope'>
                          <el-button type="text" style="color: #FF4B47" @click="deleteUser(scope.row)">移除</el-button>
                        </template>
                      </el-table-column>
                    </el-table>
                  </div>
                </div>
              </el-col>
            </el-row>           
          </el-tab-pane>
          <el-tab-pane label="窗口事项" name="third">
            <el-row>
              <el-col :span="24">
                <div class="user">
                  <div class="title">
                    <el-row>
                      <el-col :span="12">
                        事项查询
                        <el-input v-model="itemKeyWord" style="width: 420px" placeholder="请输入事项名称、实施主体等">
                          <el-button slot="append" icon="el-icon-search" @click.native="getItemByWindowId">查询</el-button>
                        </el-input>
                      </el-col>
                      <el-col :span="12" class="tableOpBtn">
                        <el-button type="primary" @click="openWinDialog">新增事项</el-button>
                        <el-button @click="saveWindowItem">保存配置</el-button>
                        <el-button type="danger" @click="batchRemoveItem">批量删除</el-button>
                      </el-col>
                    </el-row>
                    <el-table
                      border
                      class='el-table'
                      :data="itemCheckedData"
                      @selection-change="winTabelSelectionChange"
                      :height="tableH"
                      style="width: 100%; marginTop: 20px;">
                      <el-table-column type="selection" width="55"></el-table-column>
                      <el-table-column prop="itemNature" label="事项类型">
                        <template slot-scope='scope'>
                          <span v-if="scope.row.itemNature === '0'">行政事项</span>
                          <span v-else-if="scope.row.itemNature === '9'">服务协同事项</span>
                          <span v-else-if="scope.row.itemNature === '8'">中介服务事项</span>
                          <span v-else-if="scope.row.itemNature === '6'">公用服务事项</span>
                        </template>
                      </el-table-column>
                      <el-table-column prop="name" label="事项名称"></el-table-column>
                      <el-table-column prop="orgName" label="实施主体"></el-table-column>
                      <el-table-column prop="itemCode" label="事项编码"></el-table-column>
                      <el-table-column label="操作" width='100'>
                        <template slot-scope='scope'>
                          <el-button type="text" style="color: #FF4B47" @click="deleteItem(scope.row)">移除</el-button>
                        </template>
                      </el-table-column>
                    </el-table>
                  </div>
                </div>
              </el-col>
            </el-row> 
          </el-tab-pane>
          <el-tab-pane label="窗口阶段" name="fourth">
            <el-row>
              <el-col :span="24">
                <div class="user">
                  <div class="title">
                    <el-row>
                      <el-col :span="12">
                        阶段查询
                        <el-input v-model="stageKeyWord" style="width: 420px" placeholder="请输入阶段名称、所属主题等">
                          <el-button slot="append" icon="el-icon-search" @click.native="getStageByWindowId">查询</el-button>
                        </el-input>
                      </el-col>
                      <el-col :span="12" class="tableOpBtn">
                        <el-button type="primary" @click="addStage">新增阶段</el-button>
                        <el-button @click="saveWindowStage">保存配置</el-button>
                        <el-button type="danger" @click="batchRemoveStage">批量删除</el-button>
                      </el-col>
                    </el-row>
                    <el-table
                      border
                      class='el-table'
                      :data="tableStageCheckedData"
                      @selection-change="winTabelSelectionChange"
                      :height="tableH"
                      style="width: 100%; marginTop: 20px;">
                      <el-table-column type="selection" width="55"></el-table-column>
                      <el-table-column prop="stageName" label="阶段名称">
                        <template slot-scope='scope'>
                          {{scope.row.data ? scope.row.data.stageName : scope.row.stageName}}
                        </template>
                      </el-table-column>
                      <el-table-column prop="themeName" label="所属主题">
                        <template slot-scope='scope'>
                          {{scope.row.data ? scope.row.data.themeName : scope.row.themeName}}
                        </template>
                      </el-table-column>
                      <el-table-column prop="regionRange" label="权限范围">
                        <template slot-scope='scope'>
                          <el-radio-group v-model="scope.row.regionRange">
                            <el-radio label="0">全市通办</el-radio>
                            <el-radio label="1">属地办理</el-radio>
                          </el-radio-group>
                        </template>
                      </el-table-column>
                      <el-table-column label="操作" width='100'>
                        <template slot-scope='scope'>
                          <el-button type="text" style="color: #FF4B47" @click="deleteStage(scope.row)">移除</el-button>
                        </template>
                      </el-table-column>
                    </el-table>
                  </div>
                </div>
              </el-col>
            </el-row> 
          </el-tab-pane>
        </el-tabs>
      </el-main>
    </el-container>

    <!-- 选择行政区划弹窗 str-->
    <el-dialog title="选择行政区划" :visible.sync="nounDialog" class="edit-row2" width="700px"  top="9vh">
      <div class='header'>
        <el-input placeholder="请输入关键字..." v-model="regionKeyword" class="input-with-select" style='width:300px;'></el-input>
        <!-- <el-button type="primary" size='medium'>查询</el-button> -->
        <el-button size='medium' @click="clearRegionKeyword">清空</el-button>
        <el-button size='medium' @click="unfold">展开</el-button>
        <el-button size='medium' @click="fold">折叠</el-button>
      </div>
      <el-tree
        :data="regionData" 
        class="filter-tree tree1"
        default-expand-all
        :expand-on-click-node="false"
        highlight-current
        :style="{height:treeLeftHeight+'px',overflow: 'auto'}"
        :filter-node-method="filterNodeOrg"
        node-key="id"
        @node-click="regionTreeNode"
        ref="regionTree"
        >
      </el-tree>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" size='medium' @click="regionSave">保存</el-button>
        <el-button size='medium' @click="nounDialog=false">取消</el-button>
      </div>
    </el-dialog>
    <!-- 选择部门弹窗 str-->
    <el-dialog title="选择组织" :visible.sync="orgDialog" class="edit-row2" width="700px" top="9vh">
      <div class='header'>
        <el-input placeholder="请输入关键字..." v-model="orgKeyword" class="input-with-select" style='width:300px;'></el-input>
        <!-- <el-button type="primary" size='medium'>查询</el-button> -->
        <el-button size='medium' @click="clearOrgKeyword">清空</el-button>
        <el-button size='mediums' @click="unfold2">展开</el-button>
        <el-button size='medium' @click="fold2">折叠</el-button>
      </div>
      <el-tree
        :data="orgData" 
        class="filter-tree tree1"
        :style="{height:treeLeftHeight+'px',overflow: 'auto'}"
        default-expand-all
        :expand-on-click-node="false"
        :filter-node-method="filterNodeOrg"
        highlight-current
        @node-click="orgTreeNode"
        node-key="id"
        ref="orgTree"
        >
      </el-tree>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" size='medium'  @click="orgSave">保存</el-button>
        <el-button size='medium' @click="orgDialog=false">取消</el-button>
      </div>
    </el-dialog>
    <!-- 新增弹窗 str-->    
    <div class="right-sidebar" :class="addWindowDialog?'show':''">
      <div class="right-sidebar-content">
        <span class="right-sidebar-close"><i class="ag ag-close" @click="closeWinCallback"></i></span>
        <div class="rt-slidebar-title">{{dialogTitie}}</div>
        <div :style="{height: winH-100+'px', overflow:'auto'}">
          <el-form label-position="right" label-width="140px" :model="formData" ref="form" :rules="rules" :inline='true' >
            <el-form-item  required prop="windowName" v-show='false'>
              <el-input v-model="formData.windowId"></el-input>
            </el-form-item>
            <el-form-item label="窗口名称" required prop="windowName" >
              <el-input v-model="formData.windowName" style="width:350px" placeholder="请输入窗口名称"></el-input>
            </el-form-item>
            <el-form-item label="行政区划" required prop="regionName">
              <el-input v-model="formData.regionName" readonly style="width:350px" placeholder="请选择行政区划"@focus="isForm=true;nounDialog=true">
                <el-button slot="append" icon="el-icon-search"@click="isForm=true;nounDialog=true"></el-button>
              </el-input>
            </el-form-item>
            <el-form-item label="所属部门"  prop="orgName">
              <el-input v-model="formData.orgName" readonly style="width:350px" placeholder="请选择所属部门"@focus="isForm=true;orgDialog=true">
                <el-button slot="append" icon="el-icon-user"@click="isForm=true;orgDialog=true"></el-button>
              </el-input>
            </el-form-item>
            <el-form-item label="排序号"  prop="sortNo">
              <el-input v-model="formData.sortNo" style="width:350px" placeholder="请输入排序号"></el-input>
            </el-form-item>
            <el-form-item label="窗口类型"  prop="windowType">
              <el-select v-model="formData.windowType" placeholder="请选择"style="width:350px">
                <el-option key="0" label="综合窗口" value="0"></el-option>
                <el-option key="1" label="收费发证窗口" value="1"></el-option>
              </el-select>
            </el-form-item>        
            <el-form-item label="办理范围"  prop="regionRange" >
              <el-select v-model="formData.regionRange" placeholder="请选择" style="width:350px">
                <el-option key="0" label="全市通办" value="0"></el-option>
                <el-option key="1" label="属地办理" value="1"></el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="联系电话"  prop="linkPhone" >
              <el-input v-model="formData.linkPhone" style="width:350px" placeholder="请输入联系电话"></el-input>
            </el-form-item>
            <el-form-item label="办公时间"  prop="workTime" >
              <el-input v-model="formData.workTime" style="width:350px" placeholder="请输入办公时间"></el-input>
            </el-form-item>
            <el-form-item label="窗口地址"  prop="windowAddress" >
              <el-input v-model="formData.windowAddress" type='textarea' style="width:350px" placeholder="请输入窗口地址"></el-input>
            </el-form-item>
            <el-form-item label="交通指引"  prop="trafficGuide" >
              <el-input v-model="formData.trafficGuide" type='textarea' style="width:350px" placeholder="请输入交通指引"></el-input>
            </el-form-item>
            <el-form-item label="地图链接"  prop="mapUrl" >
              <el-input v-model="formData.mapUrl" type='textarea' style="width:350px" placeholder="请输入地图链接"></el-input>
            </el-form-item>
            <el-form-item label="地图附件" >
              <el-upload
                class="upload-demo"
                action=""
                :on-change="enclosureFileSelectChange"
                :file-list="fileList"
                name="mapAttFile"
                multiple
                :show-file-list="false"
                :auto-upload="false"
                style="width:350px"
                >
                <el-button size="small" type="primary">点击上传</el-button>
              </el-upload>
              <ul class="pjfile-list">
                <li v-for="(item, index) in fileList" :key="index">
                    <p><i class="el-icon-document"></i>{{item.attName?item.attName:item.name}}</p>
                    <a href="javascript:;" @click="deleteAttr(item)">删除</a>
                    <a href="javascript:;" @click="previewAttr(item)" v-show="isEdit"> 预览</a>
                    <a href="javascript:;" @click="downloadAttr(item)" v-show="isEdit">下载</a>
                </li>
              </ul>
            </el-form-item>
            <el-form-item label="是否启用"  prop="isActive">
              <el-switch
                v-model="formData.isActive"
                active-value="1"
                inactive-value="0"
                active-color="#169aff"
                inactive-color="#ccc">
              </el-switch>
              <el-input v-model="formData.isActive" type="hidden"></el-input>
            </el-form-item>
            <el-form-item label="是否所有单项通办"  prop="isAllItem" >
              <el-switch
                v-model="formData.isAllItem"
                active-value="1"
                inactive-value="0"
                active-color="#169aff"
                inactive-color="#ccc">
              </el-switch>
              <el-input v-model="formData.isAllItem" type="hidden"></el-input>
            </el-form-item>
            <el-form-item label="是否公示"  prop="isPublic" >
              <el-switch
                v-model="formData.isPublic"
                active-value="1"
                inactive-value="0"
                active-color="#169aff"
                inactive-color="#ccc">
              </el-switch> 
              <el-input v-model="formData.isPublic" type="hidden"></el-input>
            </el-form-item>
            <el-form-item label="是否所有阶段通办"  prop="isAllStage" >
              <el-switch
                v-model="formData.isAllStage"
                active-value="1"
                inactive-value="0"
                active-color="#169aff"
                inactive-color="#ccc">
              </el-switch>
              <el-input v-model="formData.isAllStage" type="hidden"></el-input>
            </el-form-item>
            <el-form-item label="是否单项和阶段权限叠加"  prop="stageItemFilter" >
              <el-switch
                v-model="formData.stageItemFilter"
                active-value="1"
                inactive-value="0"
                active-color="#169aff"
                inactive-color="#ccc">
              </el-switch>
              <el-input v-model="formData.stageItemFilter" type="hidden"></el-input>
            </el-form-item>
            <el-form-item label="备注说明"  prop="windowMemo" >
              <el-input type='textarea' v-model="formData.windowMemo" style="width:350px" placeholder="请输入备注说明"></el-input>
            </el-form-item>
          </el-form>
        </div>
      </div>
      <div class="right-sidebar-footer">
        <el-button size='medium' @click="closeWinCallback" :disabled="forbidden">取消</el-button>
        <el-button type="primary" size='medium' @click="addAndSaveWindow" :disabled="forbidden">确定</el-button>
      </div>
    </div>
    <div class="right-sidebar-overlay" v-show="addWindowDialog" @click="addWindowDialog=false"></div>
    <!-- 新增窗口3个阶段的弹窗 str-->    
    <div class="right-sidebar" :class="addWinDialog?'show':''">
      <div class="right-sidebar-content">
        <span class="right-sidebar-close"><i class="ag ag-close" @click="resetWinSearch"></i></span>
        <div class="rt-slidebar-title">{{dialogWinTitie}}</div>
        <div :style="{height: winH-120+'px'}">
          <div class="userBigBox" v-show="activeName === 'second'">
            <div class="searchBox">
              <el-input placeholder="请输入用户姓名、单位名称" v-model="layerUserKeyWord" suffix-icon="el-icon-search" class="input-with-select">
              </el-input>
            </div>
            <div class="userBox">
              <ul class="userList">
                <!--<li><span @click="usercontrol" :class="userShrink?'':'userShrink'"></span><i></i>{{allUser[0].label}}</li>-->
                <el-checkbox-group v-model="userChecked" v-show="userShrink">
                  <el-checkbox v-for="(item,index) in allUser" :label="item" :key="index" v-if='index!=0'>{{item.label}}</el-checkbox>
                </el-checkbox-group>
              </ul>
            </div>
          </div>
          <div class="userBigBox" v-show="activeName === 'third'">
            <div class="searchBox">
              <el-input placeholder="请输入事项、单位名称" v-model="layerItemKeyWord" suffix-icon="el-icon-search" class="input-with-select">
                <el-select v-model="itemNatureOption" @change="selectSerachItem" slot="prepend" style="width: 133px" class="select">
                  <el-option
                    v-for="item in itemNatureOptions"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                  </el-option>
                </el-select>
              </el-input>
            </div>
            <div class="userBox">
              <ul class="userList">
                <!--<li><span @click="itemcontrol" :class="itemShrink?'':'itemShrink'"></span><i></i>{{allItem[0].name}}</li>-->
                <el-checkbox-group v-model="itemChecked" v-show="itemShrink">
                  <el-checkbox v-for="(item,index) in allItem" :label="item" :key="index" v-if='index!=0'>{{item.name}}</el-checkbox>
                </el-checkbox-group>
              </ul>
            </div>
          </div>
          <div class="userBigBox" v-show="activeName === 'fourth'">
            <div class="searchBox">
              <el-input placeholder="请输入用户姓名、单位名称" v-model="layerStageKeyWord" suffix-icon="el-icon-search" class="input-with-select">
              </el-input>
            </div>
            <div class="userBox">
              <el-tree
                :data="stageData" 
                class="filter-tree stage-tree"
                :default-expand-all="stageExpend"
                :expand-on-click-node="false"
                show-checkbox
                :style="{height: winH-160+'px',overflow: 'auto'}"
                :filter-node-method="filterNodeOrg"
                node-key="id"
                :default-checked-keys='keys'
                @check="treeChecked"
                @check-change="handleCheckChange"
                ref="stageTree"
                >
              </el-tree>
            </div>
          </div>
        </div>
      </div>
      <div class="right-sidebar-footer">
        <el-button size='medium' @click="resetWinSearch">取消</el-button>
        <el-button type="primary" size='medium' @click="confirmAdd">确定</el-button>
      </div>
    </div>
    <div class="right-sidebar-overlay" v-show="addWinDialog" @click="resetWinSearch"></div>
</div>


<script src="../../../../../../../framework-ui/src/main/resources/static/agcloud/framework/js-lib/jquery-v1/jquery.min.js" th:src="@{/agcloud/framework/js-lib/jquery-v1/jquery.min.js}"></script>
<script src="../../../../../../../framework-ui/src/main/resources/static/agcloud/framework/js-lib/vue-v2/vue.js" th:src="@{/agcloud/framework/js-lib/vue-v2/vue.js}"></script>
<script src="../../../../../../../framework-ui/src/main/resources/static/agcloud/framework/js-lib/element-2/element.js" th:src="@{/agcloud/framework/js-lib/element-2/element.js}"></script>
<script src="../../../../../../../framework-ui/src/main/resources/static/agcloud/framework/js-lib/agcloud-lib/js/common.js" th:src="@{/agcloud/framework/js-lib/agcloud-lib/js/common.js}"></script>

<script type="text/javascript" src="../../static/window/js/index.js" th:src="@{/window/js/index.js}"></script>
</body>
</html>
