<link rel="stylesheet" href="../../../../static/mall/css/userCenter/agencyAgreementDetail.css"
  th:href="@{/mall/skin_v4.1/css/userCenter/agencyAgreementDetail.css}">

<div class="" id="agencyAgreementDetail" v-cloak v-loading.fullscreen.lock="dloading">

  <!-- 项目单位信息-start -->
  <h4 class="info-title" style="margin-bottom: 6px;">项目单位信息</h4>
  <table class="nor-table line-table" border="0" cellpadding="0" cellspacing="0">
    <tbody>
      <tr>
        <th>单位名称</th>
        <td colspan="2">{{projInfoForm.applicant || '-'}}</td>
        <th>单位地址</th>
        <td colspan="2">{{projInfoForm.applicantDetailSite || '-'}}</td>
      </tr>
      <tr>
        <th>单位性质</th>
        <td colspan="2">{{projInfoForm.unitNature | unitNatureFormat}}</td>
        <th>电子邮箱</th>
        <td colspan="2">{{projInfoForm.email || '-'}}</td>
      </tr>
      <tr>
        <th>项目负责人</th>
        <td>{{projInfoForm.leaderName || '-'}}</td>
        <th>职务</th>
        <td>{{projInfoForm.leaderDuty || '-'}}</td>
        <th>联系方式</th>
        <td>{{projInfoForm.leaderMobilePhone || '-'}}</td>
      </tr>
      <tr>
        <th>项目经办人</th>
        <td>{{projInfoForm.operatorName || '-'}}</td>
        <th>职务</th>
        <td>{{projInfoForm.operatorDuty || '-'}}</td>
        <th>联系方式</th>
        <td>{{projInfoForm.operatorMobilePhone || '-'}}</td>
      </tr>
    </tbody>
  </table>
  <!-- 项目单位信息-end -->

  <!-- 项目基本信息-start -->
  <h4 class="info-title" style="margin-bottom: 6px;">项目基本信息</h4>
  <table class="nor-table line-table" border="0" cellpadding="0" cellspacing="0">
    <tbody>
      <tr>
        <th>项目名称</th>
        <td>{{projInfoForm.projName || '-'}}</td>
        <th>项目代码</th>
        <td>{{projInfoForm.localCode || '-'}}</td>
      </tr>
      <tr>
        <th>项目地址</th>
        <td>{{projInfoForm.projAddr || '-'}}</td>
        <th>项目重点级别</th>
        <td>{{projInfoForm.projLevelCn || '-'}}</td>
      </tr>
      <tr>
        <th>投资总额（万元）</th>
        <td>{{projInfoForm.investSum || '-'}}</td>
        <th>资金来源</th>
        <!-- <td>{{projInfoForm.financialSource | dicFormat('XM_ZJLY') || '-'}}</td> -->
        <td>{{projInfoForm.financialSourceCn || '-'}}</td>
      </tr>
      <tr>
        <th>总建筑面积（m&sup2;）</th>
        <td>{{projInfoForm.foreignBuildingArea || '-'}}</td>
        <th>土地性质</th>
        <td>{{projInfoForm.landSourceCn || '-'}}</td>
      </tr>
      <tr>
        <th>项目简介</th>
        <td colspan="3">{{projInfoForm.scaleContent || '-'}}</td>
      </tr>
      <tr>
        <th>项目当前进度</th>
        <td colspan="3">{{projInfoForm.currentProgress || '-'}}</td>
      </tr>
    </tbody>
  </table>
  <!-- 项目基本信息-end -->

  <!-- 委托代办信息-start -->
  <h4 class="info-title" style="margin-bottom: 6px;">委托代办信息</h4>
  <table class="nor-table line-table" border="0" cellpadding="0" cellspacing="0">
    <tbody>
      <tr>
        <th>具体委托事项</th>
        <td colspan="3">{{projInfoForm.agentStageStateCn || '-'}}</td>
      </tr>
    </tbody>
  </table>
  <!-- 委托代办信息-end -->

  <!-- 代办协议-start -->
  <div v-if="curProj.projAgentState !=1 && curProj.projAgentState !=2">
    <h4 class="info-title" style="margin-bottom: 6px;">代办协议
      <span :style="agencyStatusTagClassFn()" v-if="curProj.projAgentState ==3">（待签章）</span>
      <span :style="agencyStatusTagClassFn()" v-if="curProj.projAgentState ==4||curProj.projAgentState ==9">（已签章）</span>
    </h4>
    <el-table :data="agencyAgreementList" class="elTable" style="width: 100%;" border
              :header-cell-style="{background:'#f7f8fa',height: '40px'}">
      <el-table-column label="代办协议" prop="agentAgreementName" :show-overflow-tooltip="true" :formatter="tableCellFormat">
      </el-table-column>
      <el-table-column label="代办人员" prop="agentUserName" :formatter="tableCellFormat" width="100">
      </el-table-column>
      <el-table-column label="代办人员联系电话" prop="agentUserMobile" :formatter="tableCellFormat" width="150">
      </el-table-column>
      <el-table-column label="操作" align="center" width="260">
        <template slot-scope="scope">
          <el-button type="primary" plain size="small" @click="filePreview(scope.row.atts[0],scope.row.atts[0].fileType)">预览</el-button>
          <el-button type="primary" plain size="small" @click="downloadFile(scope.row.detailId)">下载</el-button>
          <el-button type="primary" size="small" v-if="curProj.projAgentState ==3" >签章</el-button>
        </template>
      </el-table-column>
    </el-table>
  </div>

  <!-- 终止单-start -->
  <div v-if="curProj.projAgentState ==6 || curProj.projAgentState ==7">
    <h4 class="info-title" style="margin-bottom: 6px;">终止单
      <span :style="agencyStatusTagClassFn()" v-if="curProj.projAgentState ==6">（待签章）</span>
      <span :style="agencyStatusTagClassFn()" v-if="curProj.projAgentState ==7">（已签章）</span>
    </h4>
    <el-table :data="agencyStopList" class="elTable" style="width: 100%;" border
              :header-cell-style="{background:'#f7f8fa',height: '40px'}">
      <el-table-column label="终止单" prop="agentAgreementName" :show-overflow-tooltip="true" :formatter="tableCellFormat">
      </el-table-column>
      <el-table-column label="终止时间" prop="agentUserName" :formatter="tableCellFormat" width="100">
      </el-table-column>
      <el-table-column label="终止原因" prop="agentUserMobile" :formatter="tableCellFormat" width="150">
      </el-table-column>
      <el-table-column label="操作" align="center" width="260">
        <template slot-scope="scope">
          <el-button type="primary" plain size="small" @click="filePreview(scope.row,scope.row.fileType)">预览</el-button>
          <el-button type="primary" plain size="small" @click="downloadFile(scope.row.detailId)">下载</el-button>
          <el-button type="primary" size="small" v-if="curProj.projAgentState ==6" >签章</el-button>
        </template>
      </el-table-column>
    </el-table>
  </div>

  <!-- 办结单-start -->
  <div v-if="curProj.projAgentState ==8 || curProj.projAgentState ==9">
    <h4 class="info-title" style="margin-bottom: 6px;">办结单
      <span :style="agencyStatusTagClassFn()" v-if="curProj.projAgentState ==3">（待签章）</span>
      <span :style="agencyStatusTagClassFn()" v-if="curProj.projAgentState ==4||curProj.projAgentState ==9">（已签章）</span>
    </h4>
    <el-table :data="agencyEndList" class="elTable" style="width: 100%;" border
              :header-cell-style="{background:'#f7f8fa',height: '40px'}">
      <el-table-column label="办结单" prop="agentEndName" :show-overflow-tooltip="true" :formatter="tableCellFormat">
      </el-table-column>
      <el-table-column label="办结时间" prop="agentEndTime" :formatter="tableCellFormat" width="100">
      </el-table-column>
      <el-table-column label="操作" align="center" width="260">
        <template slot-scope="scope">
          <el-button type="primary" plain size="small" @click="filePreview(scope.row,scope.row.fileType)">预览</el-button>
          <el-button type="primary" plain size="small" @click="downloadFile(scope.row.detailId)">下载</el-button>
          <el-button type="primary" size="small" v-if="curProj.projAgentState ==8" >签章</el-button>
        </template>
      </el-table-column>
    </el-table>
  </div>

  <!-- 不予受理-start -->
  <div v-if="curProj.projAgentState ==5">
    <h4 class="info-title" style="margin-bottom: 6px;">委托结果</h4>
    <el-table :data="agencyOutScopeList" class="elTable" style="width: 100%;" border
              :header-cell-style="{background:'#f7f8fa',height: '40px'}">
      <el-table-column label="代办人员" prop="agentEndName" :show-overflow-tooltip="true" :formatter="tableCellFormat">
      </el-table-column>
      <el-table-column label="联系电话" prop="agentEndName" :show-overflow-tooltip="true" :formatter="tableCellFormat">
      </el-table-column>
      <el-table-column label="委托结果" prop="agentEndTime" :formatter="tableCellFormat" width="100">
      </el-table-column>
      <el-table-column label="不予受理原因" prop="agentEndTime" :formatter="tableCellFormat" width="100">
      </el-table-column>
    </el-table>
  </div>

  <div class="align-center mt50" v-if="curProj.projAgentState == 3||curProj.projAgentState == 6||curProj.projAgentState == 8">
    <el-button type="primary" @click="submitAgentAgreement">提交协议</el-button>
  </div>
  <!-- 代办协议-end -->

</div>

<script src="../../../static/mall/js/userCenter/components/agencyAgreementDetail.js"
  th:src="@{/mall/skin_v4.1/js/userCenter/components/agencyAgreementDetail.js}" type="text/javascript"></script>
