<div class="wt-tab" id="guideListVue" v-cloak v-loading.fullscreen.lock="mloading" style="position: relative;">
  <div>
    <p class="p-header">部门确认</p>
    <div class="wt-tab-content">
      <div class="wt-tab-item" >
        <div class="guide-search">
          <span class="guide-title">状态</span>
          <el-select v-model="applyState" placeholder="请选择" @change="getDraftApplyList">
            <el-option label="牵头部门待签收" value="1"></el-option>
            <el-option label="牵头部门处理中" value="2"></el-option>
            <el-option label="所有部门征求处理中" value="3"></el-option>
            <el-option label="申请人待确认" value="4"></el-option>
            <el-option label="结束" value="5"></el-option>
            <el-option label="其他" value="-1"></el-option>
          </el-select>
          <span class="guide-title">项目/工程查询</span>
          <el-input type="text" placeholder="请输入工程代码 / 项目代码 / 项目名称"  v-model="keyword"></el-input>
          <el-button type="primary" @click="pageNumDH = 1;getDraftApplyList();">搜索</el-button>
          <el-button @click="pageNumDH = 1;pageSizeDH=10;applyState='';keyword='';getDraftApplyList();">重置</el-button>
        </div>
        <el-table :data="guideApplyListData"
                  style="width: 100%"
                  class="draft-apply-table">
          <el-table-column label="项目/工程名称" prop="projName" min-width="220px">
            <template slot-scope="scope">
              <div class="guide-gcbm">{{scope.row.gcbm}}</div>
              <div>{{scope.row.projName}}</div>
            </template>
          </el-table-column>
          <el-table-column label="当前阶段" prop="stageName" width="160px" align="center"></el-table-column>
          <el-table-column label="创建时间" width="220px" align="center">
            <template slot-scope="scope">
              <span>{{$options.filters.formatDate(scope.row.guideStartTime)}}</span>
            </template>
          </el-table-column>
          <el-table-column label="状态" min-width="140px" align="center">
            <template slot-scope="scope">
              <span class="guide-state" :class="(scope.row.applyState=='4')?'guided':'guiding'">
                {{$options.filters.formatApplyState(scope.row.applyState)}}
              </span>
            </template>
          </el-table-column>
          <el-table-column label="操作" width="100" align="center">
            <template slot-scope="scope">
              <span class="option-btn">
                <a :href="ctx+'rest/main/toIndexPage?applyState=1&applyinstId='+scope.row.applyinstId+'&guideId='+scope.row.guideId+'&projInfoId='+scope.row.projInfoId+'#/myParallelPage'" v-if="scope.row.applyState=='4'">进入确认</a>
                <a :href="ctx+'rest/main/toIndexPage?applyState=0&applyinstId='+scope.row.applyinstId+'&guideId='+scope.row.guideId+'&projInfoId='+scope.row.projInfoId+'#/myParallelPage'" v-else>进入查看</a>
              </span>
            </template>
          </el-table-column>
        </el-table>
        <el-pagination background align="right" @size-change="handleSizeChangeDe" style="margin-top:20px;"
                       @current-change="handleCurrentChangeDe" :page-sizes="[10, 20, 30, 50]" :page-size="pageSizeDH"
                       :current-page="pageNumDH" layout="total,sizes, prev, pager, next, jumper" :total="totalDH"
                       v-show="totalDH>10">
        </el-pagination>
      </div>

    </div>
  </div>
</div>

<script src="../../../static/mall/skin_v4.1/js/userCenter/components/guideList.js"
        th:src="@{/mall/skin_v4.1/js/userCenter/components/guideList.js}" type="text/javascript"></script>

<style>
  .guide-search {
    margin-bottom: 20px;
  }
  .guide-search .el-input {
    width: 400px;
  }
  .guide-search .el-select .el-input {
    width: 200px;
  }
  .guide-search .guide-title {
    padding: 0 10px;
  }
  .draft-apply-table th {
    height: 60px;
    background: rgba(249,251,253,1);
    font-size: 14px;
    font-weight: 400;
    color: rgba(127,133,144,1);
  }
  .guide-state {
    position: relative;
  }
  .guide-state:before {
    content: '';
    position: absolute;
    padding: 4px;
    border-radius: 50%;
    top: 6px;
    left: -12px;
    background: #F59A23;
  }
  .guide-state.guided:before {
    background: #4293F4;
  }
  .guide-gcbm {
    color: #7F7F7F;
  }
</style>