<link rel="stylesheet" href="../../../static/mall/css/userCenter/declarehave.css"
  th:href="@{/mall/css/userCenter/declarehave.css}">
<div class="wt-tab" id="withdrawApplyListVue" v-cloak v-loading.fullscreen.lock="mloading" style="position: relative;">

  <div>
    <p class="p-header">撤件列表</p>
    <div class="wt-tab-content">
      <div class="wt-tab-item" >
        <div class="search-input">
          <span class="search-title">项目/工程查询</span>
          <input type="text" placeholder="请输入工程代码 / 项目代码 / 项目名称"  v-model="keyword">
          <button class="search-btn" @click="pageNumDH = 1;getWithdrawApplyList();"> <i class="el-icon-search" style="font-size: 16px;"></i>查询</button>
        </div>
        <table class="wt-table">
          <thead>
            <tr>
              <th class="al" width="20%">申报流水号</th>
              <th class="al" width="40%">项目代码 | 项目名称</th>
              <th width="40%">阶段/事项名称</th>
            </tr>
          </thead>
          <tbody id="inProgressProjBody">
            <template v-if="withdrawApplyListData.length>0">
              <tr v-for="item in withdrawApplyListData">
                <td width="20%">{{item.applyinstCode}}</td>
                <td class="al" width="40%">
                  <el-tooltip placement="top" effect="light">
                    <div slot="content">项目代码：{{item.localCode}}<br/> <br/>工程代码：{{item.gcbm}}<br /> <br/>项目/工程名称：{{item.projName}}</div>
                    <div>
                      <p>{{item.localCode}}</p>
                      <span class="ellipsis pro-name">{{item.projName}}</span>
                    </div>
                  </el-tooltip>
                </td>
                <td width="40%">
                  <el-tooltip placement="top" effect="light" v-if="item.isSeriesApprove == 1">
                    <div slot="content">项目类型：{{item.themeName}}<br/> <br/> 办理事项：{{item.stageIteminstName}}</div>
                    <div>
                     <span class=" pro-name" >{{item.stageIteminstName}}</span>
                    </div>
                  </el-tooltip>
                  <el-tooltip placement="top" effect="light" v-else>
                    <div slot="content">项目类型：{{item.themeName}} <br/> <br/> 所处阶段：{{item.stageIteminstName}}</div>
                    <div>
                      <span class="stageIteminstName-bg" >{{item.stageIteminstName}}</span>
                    </div>
                  </el-tooltip>
                </td>
              </tr>
            </template>
            <template v-else>
              <tr v-if="noDataTip">
                <td colspan="5" style="text-align: center;border-bottom:none; color: #909399;">{{noDataTip}}</td>
              </tr>
            </template>
          </tbody>
        </table>
        <el-pagination background align="right" @size-change="handleSizeChangeDe" style="margin-top:20px;"
          @current-change="handleCurrentChangeDe" :page-sizes="[10, 20, 30, 50]" :page-size="pageSizeDH"
          :current-page="pageNumDH" layout="total,sizes, prev, pager, next, jumper" :total="totalDH"
          v-show="totalDH>10">
        </el-pagination>
      </div>

    </div>
  </div>
</div>

<script src="../../../static/mall/js/userCenter/components/withdrawApplyList.js"
  th:src="@{/mall/js/userCenter/components/withdrawApplyList.js}" type="text/javascript"></script>

<style>
  #declareHaveVue .parallel-appr-title{
    width:930px;
    height:48px;
    line-height: 48px;
    background:rgba(255,252,238,1);
    border:1px solid rgba(255,184,34,1);
    opacity:0.76;
    border-radius:4px;

  }
  #declareHaveVue  thead tr th {
    width:930px;
    height:60px;
    background:rgba(249,251,253,1);
    font-size:14px;
    font-family:Microsoft YaHei;
    font-weight:400;
    color:rgba(127,133,144,1);
  }
  .wt-table th, .wt-table td{
    font-size:14px;
    font-family:Microsoft YaHei;
    font-weight:400;
    color:rgba(87,89,98,1);
  }
  .wt-tab-nav-two{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
  }
  .wt-tab-nav-two li{
    font-size: 16px;
    width: 160px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background:rgba(249,251,253,1);
    border:1px solid rgba(230,234,244,1);
	cursor: pointer;
  }
  .wt-tab-nav-two li.active{
    background: #fff;
    border-bottom: none;
  }
  .wt-tab-nav-two .bottom-line{
    display: inline-block;
    width: 12px;
    height: 1px;
    background:rgba(230,234,244,1);
    margin-top: 39px;
  }
  .applyintState{
    width:8px;
    height:8px;
    border-radius:50%;
    display: inline-block;
  }
  .bg1{
    background:rgba(0,193,97,1);
  }
  .bg2{
    background:#457EFF;
  }
  .bg3{
    background: #B7C8DC;
  }


  .receive-modal .el-dialog__body {
    background: rgba(242,243,248,1);
    padding: 16px;
  }
  .receive-item-header {
    border-bottom: 1px solid #EBEDF2;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    font-size: 16px;
  }
  .receive-list {
    padding: 10px 14px;
    margin-left: 23px;
    position: relative;
  }
  .receive-list:before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 1px;
    top: 0;
    bottom: 30px;
    background: #EBEDF2;
    left: 0;
  }
  .receive-list li {
    margin-bottom: 10px;
    position: relative;
  }
  .receive-list li:before {
    content: '';
    display: inline-block;
    position: absolute;
    height: 1px;
    width: 14px;
    top: 10px;
    background: #EBEDF2;
    left: -14px;
  }
  .receive-item {
    background: rgba(255,255,255,1);
    box-shadow: 0px 0px 8px 0px rgba(50,50,50,0.05);
    border-radius: 4px;
    width: 230px;
    margin-bottom: 16px;
  }
  .receive-list span {
    padding: 4px 8px 5px 8px;;
    cursor: pointer;
  }

  .receive-list span:hover, .receive-item.active li.active span {
    color: #169AFF;
    background: rgba(244,250,254,1);
  }
  .receive-type, .receive-type-y {
    padding: 0 12px;
    color: #07CDC6;
    border-radius: 11px;
    border: 1px solid #07CDC6;
    font-size: 14px;
    height: 22px;
    line-height: 22px;
    margin: 9px 0;
    display: inline-block;
  }
  .receive-type-y {
    color: #FFB822;
    border: 1px solid #FFB822;
  }

  .receive-modal .el-dialog {
    background: rgba(242,243,248,1);
    margin-top: 50px !important;
  }
  .pdf-view-win {
    width: 100%;
    padding-left: 250px;
    height: 100%;
  }
  .receive-item-header .icon {
    line-height: 40px;
    padding-left: 5px;
    cursor: pointer;
  }
  .receive-item-header span.ellipsis {
    display: inline-block;
    width: 130px;
  }
</style>