<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>办事指南</title>
    <link rel="stylesheet" href="../../static/mall/css/guide/guideIndex.css" th:href="@{/mall/skin_v4.1/css/guide/guideIndex.css}">
<!--    <link rel="stylesheet" href="../../static/mall/css/guide/viewer.min.css" th:href="@{/mall/skin_v4.1/css/guide/viewer.min.css}">-->
</head>
<body>
<div id="guideIndex" v-cloak v-loading.fullscreen.lock="fullscreenLoading">
    <div v-if="!fullscreenLoading">
        <!--新UI弃用 暂时隐藏-->
        <section style="display: none;">
            <div class="guid-banner">
                <div class="guide-banner-opactity">
                    <div class="guide-banner-content">
                        <p class="guid-banner-title">欢迎使用办事指南</p>
                        <div class="wt-search">
                            <div class="search-input index-input">
                                <div>
                                    <input type="text" v-model.trim="itemListKeyword" @keyup.13="searchItemList();"placeholder="  查询项目类型/事项/结果物  "><el-button class="search-btn" @click="searchItemList();">查询</el-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="wt-content">
                <div class="floor margin-top-40" v-show="!isSinglePage">
                    <div class="wt-tab" id="floorTab">
                        <ul class="wt-tab-nav" id="mallThemeTypeList">
                            <div class="wt-search">
                                <div class="search-input index-input">
                                    <div>
                                        <input type="text" v-model.trim="itemListKeyword" @keyup.13="searchItemList();"placeholder="  查询项目类型/事项/结果物  "><el-button class="search-btn" @click="searchItemList();">查询</el-button>
                                    </div>
                                </div>
                            </div>
                        </ul>
                        <div class="guide-tip">
                            <img src="../../static/mall/images/guide/u736.png" th:src="@{/mall/skin_v4.1/images/guide/u736.png}" />
                            <span>智能引导</span>
                        </div>

                        <div class="wt-tab-content" style="padding-top: 16px;">
                            <!-- 按主题申报 start -->
                            <!--<transition name="el-fade-in-linear">-->
                            <div class="wt-tab-item clearfix" id="themeApproval" v-show="approvalwayTypeFlag">
                                <div class="guide-content-left" v-loading="themeLoading">
                                    <ul id="themeul">
                                        <el-collapse accordion v-model="approvalWayActiveName" @change="approvelWayActiveChange">
                                            <el-collapse-item :name="index+1" v-for="(item, index) in themeListData" :key="index">
                                                <template slot="title">
                                                    <li class="theme-type theme-list" :class="{'active':approvalWayActiveName === (index+1)}">
                                                        <p class="theme-type-name ellipsis"><i class="theme-type-icon"></i>{{item.themeTypeName}}
                                                            <i class="tooggle-icon"></i></p>
                                                    </li>
                                                </template>
                                                <li class="theme-type active">
                                                    <ul class="theme-type-list">
                                                        <li class="theme-type-item ellipsisLn" :id='itemSub.themeId' :class="{active:index==0 && indexSub==0 , selected : itemSub.isSelected && itemSub.isSelected == '1'}" @click="goToGuid($event,itemSub.themeId,indexSub,itemSub.themeMemo)" v-for="(itemSub, indexSub) in item.themeList" :key="indexSub">
                                                            <el-tooltip placement="bottom" effect="light">
                                                                <div slot="content" style="width: 200px">
                                                                    <div v-html="itemSub.themeMemo" ></div>
                                                                </div>
                                                                <span>{{(indexSub+1)+'、'+itemSub.themeName}}</span>
                                                            </el-tooltip>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </el-collapse-item>
                                        </el-collapse>
                                    </ul>
                                    <div class="toggle" style="display: none;">
                                        <ul class="toggle-dots">
                                            <li class="active"></li>
                                            <li></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="guide-content-right" v-loading="memoLoading" style="min-height: 200px">
                                    <div class="wt-phase1" id="guideMainLine" >
                                        <div class="wt-tab-item" id="mainLine">
                                            <p class="p-header-phase1">
                                                阶段选择</p>
                                            <ul class="index-phase1 clearfix" id="stageImg">
                                                <div v-if="stagesData.stages && stagesData.stages.length>0">
                                                    <li class="show" style="cursor: pointer;" v-for="(item ,index) in stagesData.stages">
                                                        <img :src="ctx + imgUrl[index]" alt="">
                                                        <div class="stage-name">
                                                            <p class="ellipsis">{{item.stageName}}</p>
                                                            <p class="stage-dealine">{{item.dueNum}}个工作日</p>
                                                        </div>
                                                        <img :src=" ctx + 'mall/skin_v4.1/images/icon/1.png'" alt="" class="sing">
                                                        <p class="sing-text">{{index+1}}</p>
                                                        <div class="wrapperGuide" @click="goToStageApply(item.stageId)">
                                                            <p >查看并联办事指南</p>
                                                        </div>
                                                    </li>
                                                </div>
                                                <div class="noData" v-else>
                                                    暂无阶段
                                                </div>
                                            </ul>

                                        </div>
                                        <div class="wt-tab-item" id="auxiliaryLine">
                                            <p class="parallel-matters-title">
                                                并联事项
                                            </p>
                                            <ul class="paraller-wraper" v-if="stagesData.parallelItems && stagesData.parallelItems.length>0">
                                                <li class="item" v-for="(item,index) in stagesData.parallelItems">
                                                    <p class="title">{{item.title}}</p>
                                                    <div class="item-strip" :class="{selected:itemSub.isSelected=='1'}" v-for="(itemSub,indexSub) in item.items">
                                                        {{itemSub.itemName}}
                                                        <div class="item-strip-bg"  @click="getSinleData(itemSub.itemVerId,itemSub.itemName)">查看事项指南</div>
                                                    </div>
                                                    <!-- <div class="item-strip selected">项目建议书/可行性研究报告批复</div>
                                                     <div class="item-strip">建设项目用地预审</div>
                                                     <div class="item-strip">建设用地 (含临时用地)规划许可证客户</div>-->
                                                </li>
                                                <!--  <li class="item">
                                                      <p class="title">第一阶段并联事项</p>
                                                      <div class="item-strip">建设项目选址意见书核准</div>
                                                      <div class="item-strip">项目建议书/可行性研究报告批复</div>
                                                      <div class="item-strip">建设项目用地预审</div>
                                                      <div class="item-strip">建设用地 (含临时用地)规划许可证客户</div>
                                                  </li>
                                                  <li class="item">
                                                      <p class="title">第一阶段并联事项</p>
                                                      <div class="item-strip">建设项目选址意见书核准</div>
                                                      <div class="item-strip">项目建议书/可行性研究报告批复</div>
                                                      <div class="item-strip">建设项目用地预审</div>
                                                      <div class="item-strip">建设用地 (含临时用地)规划许可证客户</div>
                                                  </li>
                                                  <li class="item">
                                                      <p class="title">第一阶段并联事项</p>
                                                      <div class="item-strip">建设项目选址意见书核准</div>
                                                      <div class="item-strip">项目建议书/可行性研究报告批复</div>
                                                      <div class="item-strip">建设项目用地预审</div>
                                                      <div class="item-strip">建设用地 (含临时用地)规划许可证客户</div>
                                                  </li>-->
                                            </ul>
                                            <ul class="index-phase1 clearfix" style="height: 260px;" v-else>
                                                <div class="noData">
                                                    请先选择项目类型
                                                </div>
                                            </ul>
                                        </div>
                                        <div class="wt-tab-item" style="margin-top: 45px;">
                                            <p class="parallel-matters-title">
                                                并行推进事项
                                            </p>
                                            <ul class="paraller-wraper" v-if="stagesData.seriItems && stagesData.seriItems.length>0">
                                                <li class="item" v-for="(item,index) in stagesData.seriItems">
                                                    <p class="title">{{item.title}}</p>
                                                    <div class="item-strip" :class="{selected:itemSub.isSelected=='1'}" v-for="(itemSub,indexSub) in item.items">
                                                        {{itemSub.itemName}}
                                                        <div class="item-strip-bg" @click="getSinleData(itemSub.itemVerId,itemSub.itemName)">查看事项指南</div>
                                                    </div>
                                                    <!--  <div class="item-strip">项目建议书/可行性研究报告批复</div>
                                                      <div class="item-strip">建设项目用地预审</div>
                                                      <div class="item-strip">建设用地 (含临时用地)规划许可证客户</div>-->
                                                </li>
                                                <!-- <li class="item">
                                                     <p class="title">第一阶段并联事项</p>
                                                     <div class="item-strip">建设项目选址意见书核准</div>
                                                     <div class="item-strip">项目建议书/可行性研究报告批复</div>
                                                     <div class="item-strip">建设项目用地预审</div>
                                                     <div class="item-strip">建设用地 (含临时用地)规划许可证客户</div>
                                                 </li>
                                                 <li class="item">
                                                     <p class="title">第一阶段并联事项</p>
                                                     <div class="item-strip">建设项目选址意见书核准</div>
                                                     <div class="item-strip">项目建议书/可行性研究报告批复</div>
                                                     <div class="item-strip">建设项目用地预审</div>
                                                     <div class="item-strip">建设用地 (含临时用地)规划许可证客户</div>
                                                 </li>
                                                 <li class="item">
                                                     <p class="title">第一阶段并联事项</p>
                                                     <div class="item-strip">建设项目选址意见书核准</div>
                                                     <div class="item-strip">项目建议书/可行性研究报告批复</div>
                                                     <div class="item-strip">建设项目用地预审</div>
                                                     <div class="item-strip">建设用地 (含临时用地)规划许可证客户</div>
                                                 </li>-->

                                                <!--<li class="item" style="width: 685px;">
                                                    <p class="title">第一、第二、第三阶段可并联或并行办理事项</p>
                                                    <div class="item-strip">建设项目选址意见书核准</div>
                                                    <div class="item-strip">项目建议书/可行性研究报告批复</div>
                                                    <div class="item-strip">建设项目用地预审</div>
                                                    <div class="item-strip">建设用地 (含临时用地)规划许可证客户</div>
                                                </li>-->
                                            </ul>
                                            <ul class="index-phase1 clearfix" style="height: 260px;" v-else>
                                                <div class="noData">
                                                    请先选择项目类型
                                                </div>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!--<a :href="ctx+'rest/main/toIndexPage#/userCenterIndex'"><el-button type="primary" class="imediaBtn">立即办理</el-button></a>-->
                            </div>
                            <!-- 按主题申报 end -->
                        </div>
                    </div>
                </div>
            </div>



        </section>
    </div>
    <el-dialog title="单事项办事指南" :visible.sync="singleDialog" width="1000px;" top="10vh">
        <p class="single-title"> {{itemName ||'建设项目选址意见书核准'}}</p>
        <div class="single-body" style="height: 600px;padding-left: 10px;" v-loading="singleLoading">
            <el-scrollbar style="height: 100%;">
            <div class="item">
                <p class="p-header-phase1"> 受理范围</p>
                <P> {{singleData.acceptCondition||'暂无'}}</P>
            </div>
            <div class="item">
                <p class="p-header-phase1"> 实施部门</p>
                <P>{{singleData.deptName || '暂无'}}</P>
            </div>
            <div class="item">
                <p class="p-header-phase1"> 受理权限</p>
                <P>{{singleData.acceptAccess||'暂无'}}</P>
            </div>
            <div class="item">
                <p class="p-header-phase1"> 提交材料</p>
                <template v-if="singleData.states && singleData.states.length > 0">
                    <div v-for="item in singleData.states">
                        <p style="margin: 15px 0px;"><span>{{item.index}}</span><span>：</span><span>{{item.stateName}}</span></p>
                        <el-table
                                :data="tableData"
                                border
                                style="width: 100%">
                            <el-table-column
                                    type="index"
                                    label="序号"
                                    width="80">
                            </el-table-column>
                            <el-table-column
                                    prop="date"
                                    label="材料名称"
                            >
                            </el-table-column>
                            <el-table-column
                                    prop="name"
                                    label="全程网办接件标准"
                            >
                            </el-table-column>
                            <el-table-column
                                    prop="address"
                                    label="备注"
                                    width="150">
                            </el-table-column>
                        </el-table>
                    </div>
                </template>
                <template v-else>
                    <div>暂无</div>
                </template>

            </div>
            <div class="item">
                <p class="p-header-phase1"> 办理结果</p>
                <P>{{singleData.resultName||'暂无'}}</P>
            </div>
            <div class="item">
                <p class="p-header-phase1"> 办理时限</p>
                <P>{{singleData.promissDay||'暂无'}}</P>
            </div>
            <div class="item">
                <p class="p-header-phase1"> 是否收费</p>
                <P>{{singleData.chargeTypeText||'暂无'}}</P>
            </div>
            </el-scrollbar>
        </div>
    </el-dialog>
</div>

<!--<script src="../../static/mall/js/guide/viewer.min.js" th:src="@{/mall/skin_v4.1/js/guide/viewer.min.js}" type="text/javascript"></script>-->
<script src="../../static/mall/js/guide/guideIndex.js" th:src="@{/mall/skin_v4.1/js/guide/guideIndex.js}" type="text/javascript"></script>

</body>
</html>
