<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>办事指南</title>
    <link rel="stylesheet" href="../../static/mall/css/guide/guideIndex.css" th:href="@{/mall/skin_v4.1/css/guide/guideIndex.css}">
    <link rel="stylesheet" href="../../static/mall/css/guide/viewer.min.css" th:href="@{/mall/skin_v4.1/css/guide/viewer.min.css}">
    <script>
        var ctx = "[[@{/}]]";
    </script>
</head>
<body>
<div id="guideIndex" v-cloak>
    <div v-show="!fullscreenLoading">
        <section>
            <div class="guid-banner">
                <div class="guide-banner-opactity">
                    <div class="guide-banner-content">
                        <p class="guid-banner-title">欢迎使用办事指南</p>
                        <div class="wt-search">
                            <div class="search-input index-input">
                                <div>
                                    <input type="text" v-model.trim="itemListKeyword" @keyup.13="searchItemList();"placeholder="  查询项目类型/事项/结果物  "><el-button class="search-btn" @click="searchItemList();">查询</el-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="wt-content">
                <div class="floor margin-top-40" v-show="!isSinglePage">
                    <div class="wt-tab" id="floorTab">
                        <ul class="wt-tab-nav" id="mallThemeTypeList">
                            <li data-id="#themeApproval" :class="{'active':approvalwayTypeFlag}" @click="approvalwayTypeFlag = true">
                                项目类型
                            </li>
                        </ul>
                        <div class="guide-tip">
                            <img src="../../static/mall/images/guide/u736.png" th:src="@{/mall/images/guide/u736.png}" />
                            <span>智能引导</span>
                        </div>

                        <div class="wt-tab-content" style="padding-top: 16px;">
                            <!-- 按主题申报 start -->
                            <!--<transition name="el-fade-in-linear">-->
                            <div class="wt-tab-item clearfix" id="themeApproval" v-show="approvalwayTypeFlag">
                                <div class="guide-content-left" v-loading="themeLoading">
                                    <ul id="themeul">
                                        <el-collapse accordion v-model="approvalWayActiveName" @change="approvelWayActiveChange">
                                            <el-collapse-item :name="index+1" v-for="(item, index) in themeListData" :key="index">
                                                <template slot="title">
                                                    <li class="theme-type theme-list" :class="{'active':approvalWayActiveName === (index+1)}">
                                                        <p class="theme-type-name ellipsis"><i class="theme-type-icon"></i>{{item.themeTypeName}}
                                                            <i class="tooggle-icon"></i></p>
                                                    </li>
                                                </template>
                                                <li class="theme-type active">
                                                    <ul class="theme-type-list">
                                                        <li class="theme-type-item ellipsisLn" :id='itemSub.themeId' :class="{active:index==0 && indexSub==0 , selected : itemSub.isSelected && itemSub.isSelected == '1'}" @click="goToGuid($event,itemSub.themeId,indexSub,itemSub.themeMemo)" v-for="(itemSub, indexSub) in item.themeList" :key="indexSub">
                                                            <el-tooltip placement="bottom" effect="light">
                                                                <div slot="content" style="width: 200px">
                                                                    <div v-html="itemSub.themeMemo" ></div>
                                                                </div>
                                                                <span>{{(indexSub+1)+'、'+itemSub.themeName}}</span>
                                                            </el-tooltip>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </el-collapse-item>
                                        </el-collapse>
                                    </ul>
                                    <div class="toggle" style="display: none;">
                                        <ul class="toggle-dots">
                                            <li class="active"></li>
                                            <li></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="guide-content-right" v-loading='memoLoading'>
                                    <div class="wt-phase1" id="guideMainLine">
                                        <div class="wt-tab-item" id="mainLine">
                                            <p class="p-header-phase1">
                                                阶段选择</p>
                                            <ul class="index-phase1 clearfix" id="stageImg">
                                                <div v-if="stagesData.stages && stagesData.stages.length>0">
                                                    <li class="show" style="cursor: pointer;" v-for="(item ,index) in stagesData.stages">
                                                        <img :src="ctx + imgUrl[index]" alt="">
                                                        <div class="stage-name">
                                                            <p class="ellipsis">{{item.stageName}}</p>
                                                            <p class="stage-dealine">{{item.dueNum}}个工作日</p>
                                                        </div>
                                                        <img :src=" ctx + 'mall/images/icon/1.png'" alt="" class="sing">
                                                        <p class="sing-text">{{index+1}}</p>
                                                        <div class="wrapperGuide" @click="goToStageApply(item.stageId)">
                                                            <p >查看并联办事指南</p>
                                                        </div>
                                                    </li>
                                                </div>
                                                <div class="noData" v-else>
                                                    暂无阶段
                                                </div>
                                            </ul>

                                        </div>
                                        <div class="wt-tab-item" id="auxiliaryLine">
                                            <p class="parallel-matters-title">
                                                并联事项
                                            </p>
                                            <ul class="paraller-wraper" v-if="stagesData.parallelItems && stagesData.parallelItems.length>0">
                                                <li class="item" v-for="(item,index) in stagesData.parallelItems">
                                                    <p class="title">{{item.title}}</p>
                                                    <div class="item-strip" :class="{selected:itemSub.isSelected=='1'}" v-for="(itemSub,indexSub) in item.items">
                                                        {{itemSub.itemName}}
                                                        <div class="item-strip-bg">查看事项指南</div>
                                                    </div>
                                                    <!-- <div class="item-strip selected">项目建议书/可行性研究报告批复</div>
                                                     <div class="item-strip">建设项目用地预审</div>
                                                     <div class="item-strip">建设用地 (含临时用地)规划许可证客户</div>-->
                                                </li>
                                                <!--  <li class="item">
                                                      <p class="title">第一阶段并联事项</p>
                                                      <div class="item-strip">建设项目选址意见书核准</div>
                                                      <div class="item-strip">项目建议书/可行性研究报告批复</div>
                                                      <div class="item-strip">建设项目用地预审</div>
                                                      <div class="item-strip">建设用地 (含临时用地)规划许可证客户</div>
                                                  </li>
                                                  <li class="item">
                                                      <p class="title">第一阶段并联事项</p>
                                                      <div class="item-strip">建设项目选址意见书核准</div>
                                                      <div class="item-strip">项目建议书/可行性研究报告批复</div>
                                                      <div class="item-strip">建设项目用地预审</div>
                                                      <div class="item-strip">建设用地 (含临时用地)规划许可证客户</div>
                                                  </li>
                                                  <li class="item">
                                                      <p class="title">第一阶段并联事项</p>
                                                      <div class="item-strip">建设项目选址意见书核准</div>
                                                      <div class="item-strip">项目建议书/可行性研究报告批复</div>
                                                      <div class="item-strip">建设项目用地预审</div>
                                                      <div class="item-strip">建设用地 (含临时用地)规划许可证客户</div>
                                                  </li>-->
                                            </ul>
                                            <ul class="index-phase1 clearfix" style="height: 260px;" v-else>
                                                <div class="noData">
                                                    请先选择项目类型
                                                </div>
                                            </ul>
                                        </div>
                                        <div class="wt-tab-item" style="margin-top: 45px;">
                                            <p class="parallel-matters-title">
                                                并行推进事项
                                            </p>
                                            <ul class="paraller-wraper" v-if="stagesData.seriItems && stagesData.seriItems.length>0">
                                                <li class="item" v-for="(item,index) in stagesData.seriItems">
                                                    <p class="title">{{item.title}}</p>
                                                    <div class="item-strip" :class="{selected:itemSub.isSelected=='1'}" v-for="(itemSub,indexSub) in item.items">
                                                        {{itemSub.itemName}}
                                                        <div class="item-strip-bg">查看事项指南</div>
                                                    </div>
                                                    <!--  <div class="item-strip">项目建议书/可行性研究报告批复</div>
                                                      <div class="item-strip">建设项目用地预审</div>
                                                      <div class="item-strip">建设用地 (含临时用地)规划许可证客户</div>-->
                                                </li>
                                                <!-- <li class="item">
                                                     <p class="title">第一阶段并联事项</p>
                                                     <div class="item-strip">建设项目选址意见书核准</div>
                                                     <div class="item-strip">项目建议书/可行性研究报告批复</div>
                                                     <div class="item-strip">建设项目用地预审</div>
                                                     <div class="item-strip">建设用地 (含临时用地)规划许可证客户</div>
                                                 </li>
                                                 <li class="item">
                                                     <p class="title">第一阶段并联事项</p>
                                                     <div class="item-strip">建设项目选址意见书核准</div>
                                                     <div class="item-strip">项目建议书/可行性研究报告批复</div>
                                                     <div class="item-strip">建设项目用地预审</div>
                                                     <div class="item-strip">建设用地 (含临时用地)规划许可证客户</div>
                                                 </li>
                                                 <li class="item">
                                                     <p class="title">第一阶段并联事项</p>
                                                     <div class="item-strip">建设项目选址意见书核准</div>
                                                     <div class="item-strip">项目建议书/可行性研究报告批复</div>
                                                     <div class="item-strip">建设项目用地预审</div>
                                                     <div class="item-strip">建设用地 (含临时用地)规划许可证客户</div>
                                                 </li>-->

                                                <!--<li class="item" style="width: 685px;">
                                                    <p class="title">第一、第二、第三阶段可并联或并行办理事项</p>
                                                    <div class="item-strip">建设项目选址意见书核准</div>
                                                    <div class="item-strip">项目建议书/可行性研究报告批复</div>
                                                    <div class="item-strip">建设项目用地预审</div>
                                                    <div class="item-strip">建设用地 (含临时用地)规划许可证客户</div>
                                                </li>-->
                                            </ul>
                                            <ul class="index-phase1 clearfix" style="height: 260px;" v-else>
                                                <div class="noData">
                                                    请先选择项目类型
                                                </div>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                                <!--<a :href="ctx+'rest/main/toIndexPage#/userCenterIndex'"><el-button type="primary" class="imediaBtn">立即办理</el-button></a>-->
                            </div>
                            <!-- 按主题申报 end -->

                        </div>
                    </div>
                </div>


            </div>

            <div title="流程图" v-show="wslct">
                <ul id="wsb1" v-if="detailData.aeaItemGuide && detailData.aeaItemGuide.wsbllct!=undefined && detailData.aeaItemGuide.wsbllct!=null && detailData.aeaItemGuide.wsbllct!=''">
                    <li>
                        <img :data-original="dataOriginal(detailData.aeaItemGuide.wsbllct)" :href="dataOriginal(detailData.aeaItemGuide.wsbllct)" style="display: none" alt="流程图">
                    </li>
                </ul>
                <p v-else>【暂无流程图】</p>
            </div>

            <div title="流程图" v-show="cklct">
                <ul id="wsb2" v-if="detailData.aeaItemGuide && detailData.aeaItemGuide.ckbllct!=undefined && detailData.aeaItemGuide.ckbllct!=null && detailData.aeaItemGuide.ckbllct!=''">
                    <li>
                        <img :data-original="dataOriginal(detailData.aeaItemGuide.ckbllct)" :href="dataOriginal(detailData.aeaItemGuide.ckbllct)" style="display: none" alt="流程图">
                    </li>
                </ul>
                <p v-else>【暂无流程图】</p>
            </div>

            <el-dialog title="查看样本" :visible.sync="matDialog" width="760px">
                <ul v-if="mats!== undefined && mats.length >0" class="matBox">
                    <li v-for="item in mats" @click="download(item)">
                        <img src="../../static/mall/images/icon/guide.png" alt=""/>
                        <a href="javascript:void(0);">{{item.attName}}</a>
                    </li>
                </ul>
                <p v-else style="margin:10px 0;">无模板</p>
                <el-button type="primary" @click="matDialog=false">关闭</el-button>
            </el-dialog>
        </section>
    </div>
    <div v-loading="fullscreenLoading"  v-show="fullscreenLoading" style="width: 100%; height: 100%;position: absolute;top: 180px;"></div>
</div>

<script src="../../static/mall/js/guide/viewer.min.js" th:src="@{/mall/skin_v4.1/js/guide/viewer.min.js}" type="text/javascript"></script>
<script src="../../static/mall/js/guide/guideIndex.js" th:src="@{/mall/skin_v4.1/js/guide/guideIndex.js}" type="text/javascript"></script>

</body>
</html>
