<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>视频教学</title>
    <link rel="stylesheet" th:href="@{/mall/skin_v4.1/css/videoTeaching/videoTeaching.css}">
</head>
<body>
    <div id="videoTeach" class="regular-wrap">
        <!-- title 新Ui废弃，暂时隐藏 -->
        <section style="display: none;">
            <div class="title-wrap">
                <div class="mask"></div>
                <div class="content">
                    <h2 class="title">欢迎使用操作指引</h2>
                    <div class="tab-wrap">
                        <div class="tab-item" :class="[item.tabIndex==activeTab? 'active': '']" v-for="item in allTabList"
                             :key="item.tabIndex" @click="switchTab(item)">{{item.name}}</div>
                    </div>
                </div>
            </div>
        </section>

        <!-- content -->
        <section>
            <div class="list-wrap">
                <div class="tab-2 clearfix" v-show="activeTab == 0">
                    <div class="video-src fl">
                        <video width="800" height="450" controls :src="movieUrl">
                            <!--<source :src="movieUrl" type="video/mp4">
                            <source :src="movieUrl" type="video/ogg">-->
                            您的浏览器不支持Video标签。
                        </video>
                    </div>
                    <div class="video-list fl" >
                        <p class="video-title">视频教学</p>
                        <ul class="video-name">
                            <li @click="videoHandleFn(item)" :class="[item.nameTab==nameActiveTab? 'active': '']" v-for="item in videoNameData">{{item.name}}</li>
                          <!--  <li>2.网厅使用讲解视频</li>-->
                        </ul>
                    </div>
                </div>
                <div class="tab-2" v-show="activeTab == 1">
                    <el-table :data="list" class="scrollable" style="width: 100%;" :header-cell-style="{background:'#f7f8fa',height: '60px'}">
                        <el-table-column label="文件名称" :show-overflow-tooltip ="true">
                            <template slot-scope="scope">
                                <p>{{(Number(scope.$index) + 1 + '.') + scope.row.legalName || '-'}}</p>
                            </template>
                        </el-table-column>
                        <el-table-column label="操作" width="100">
                            <template slot-scope="scope">
                                <a class="color-link" href="javascript:;" @click="jumpToView(scope.row)">查看</a>
                            </template>
                        </el-table-column>
                    </el-table>
                    <el-pagination class="margin-top-20" background align="right" @size-change="handleSizeChange"
                                   @current-change="handleCurrentChange" :page-sizes="[10, 20, 30, 50]" :page-size="checkData.pageSize"
                                   :current-page="checkData.pageNum" layout="total,sizes, prev, pager, next, jumper" :total="total"
                                   v-show="total>10">
                    </el-pagination>
                </div>
            </div>
        </section>
    </div>
    <script th:src="@{/mall/skin_v4.1/js/videoTeaching/videoTeaching.js}" type="text/javascript"></script>
</body>
</html>