<link rel="stylesheet" href="../../../../static/mall/css/userCenter/agencyProjList.css"
  th:href="@{/mall/css/userCenter/agencyProjList.css}">

<div class="my-proj-wrap" id="agencyProjListId" v-cloak v-loading.fullscreen.lock="loading">
  <div v-if="!isShowAddAgreementPandel">
    <p class="p-header">项目代办</p>
    <div class="search-input">
      <span class="search-title">项目查询</span>
      <input class="search-pro-num" type="text" value="" placeholder="请输入项目代码或名称" @keyup.enter.native="searchList"
        v-model="checkData.keyword">
      <el-button type="primary" @click="searchList">搜索</el-button>
    </div>
    <el-table :data="list" class="scrollable" style="width: 100%;"
      :header-cell-style="{background:'#f7f8fa',height: '60px'}">
      <el-table-column label="序号"  width="80">
        <template slot-scope="scope">
          <span>{{scope.$index + 1}}</span>
        </template>
      </el-table-column>
      <el-table-column label="项目代码/名称" prop="applyinstCode" :show-overflow-tooltip="true" >
        <template slot-scope="scope">
          <p>{{scope.row.projName}}</p>
          <p>{{scope.row.localCode}}</p>
        </template>
      </el-table-column>
      <el-table-column label="项目类型" :show-overflow-tooltip="true" >
      </el-table-column>
      <el-table-column label="代办状态" width="120">
        <template slot-scope="scope">
          <span>
            <i class="dot"></i>
          </span>
        </template>
      </el-table-column>
      
      <el-table-column label="操作" width="100">
        <template slot-scope="scope">
          <a href="javascript:;" class="color-4293f4">签订协议</a>
          <!-- <a href="javascript:;" class="color-4293f4">查看</a> -->
        </template>
      </el-table-column>
    </el-table>

    <el-pagination class="mt20 mb20 mr20" background align="right" @size-change="handleSizeChange"
      @current-change="handleCurrentChange" :page-sizes="[10, 20, 30, 50]" :page-size="checkData.pageSize"
      :current-page="checkData.pageNum" layout="total,sizes, prev, pager, next, jumper" :total="total"
      v-show="total>10">
    </el-pagination>


  </div>
  <!-- 新增项目面板 -->
  <div id="agreementPandel" class="agreement-pandel" v-else>
    dfdf
  </div>
</div>
<script src="../../../static/mall/js/userCenter/components/agencyProjList.js"
  th:src="@{/mall/js/userCenter/components/agencyProjList.js}" type="text/javascript"></script>
<style>
</style>