<div class="parallel-appr-content" id="declareVue">
    <div v-if="!isShowDeclarePandel">
        <p class="p-header">我的项目库</p>
        <p class="parallel-appr-title">投资项目申报前，请登陆<b><a
                href="http://www.gdtz.gov.cn/tybm/apply3!search.action"
                target="_blank">“投资项目在线审批监管平台”</a></b>进行项目登记赋码</p>
        <div class="search-input">
            <span class="search-title">项目/工程查询</span>
            <input class="search-pro-num" type="text" value="" id="keyWord" v-model="keyWord"
                   placeholder="请输入工程代码 / 项目代码 / 项目名称">
            <button class="search-btn"  @click="getProjectByLocalCode()"><i class="el-icon-search" style="font-size: 16px;"></i> 联网查询</button>
        </div>

        <div id="projTable">
            <el-table :data="searchProData"
                      row-key="projInfoId"
                      :tree-props="{children: 'children'}"
                       style="width:100%" v-show="searchProData && searchProData.length">
                <el-table-column
                        fixed
                        prop="gcbm"
                        label="项目/工程代码"
                        width="300">
                </el-table-column>
                <el-table-column
                        prop="projName"
                        label="	项目名称"
                        win-width="400">
                    <el-tooltip placement="top" effect="light" slot-scope="scope">
                        <div slot="content">项目代码：{{scope.row.localCode}}<br/> <br/>工程代码：{{scope.row.gcbm}}<br/> <br/>项目/工程名称：{{scope.row.projName}}
                        </div>
                        <div>
                            <span class="ellipsis pro-name">{{scope.row.projName}}</span>
                        </div>
                    </el-tooltip>
                </el-table-column>
                <el-table-column
                        fixed="right"
                        label="操作"
                        align="center"
                        width="280">
                    <template slot-scope="scope">
                         <span class="option-btn">
                                <a :href="ctx + 'rest/main/toIndexPage?projInfoId='+scope.row.projInfoId+'#declare'">并联申报</a>
                            </span>
                        <span class="option-btn">
                                <a href="javascript:void(0);"
                                   @click="parallelDeclareModuleLoad(scope.row,false)">单项申报</a>
                            </span>
                        <!-- 拆分子项目 -->
                        <span class="option-btn">
                              <a href="javascript:void(0);"
                                 @click="splitProjectModuleLoad(scope.row)">拆分子项目</a>
                        </span>
                    </template>
                </el-table-column>
            </el-table>

            <el-table :data="searchProSearchData" v-show="searchProSearchData && searchProSearchData.length"  style="width: 100%">
                <el-table-column
                        fixed
                        prop="gcbm"
                        label="项目代码"
                        width="280">
                </el-table-column>
                <el-table-column
                        prop="projName"
                        label="	项目名称"
                        win-width="400"
                >
                </el-table-column>
                <el-table-column
                        fixed="right"
                        label="操作"
                        align="center"
                        width="280">
                    <template slot-scope="scope">
                         <span class="option-btn">
                                <a :href="ctx + 'rest/main/toIndexPage?projInfoId='+scope.row.projInfoId+'#declare'">并联申报</a>
                            </span>
                        <span class="option-btn">
                                <a href="javascript:void(0);"
                                   @click="parallelDeclareModuleLoad(scope.row,false)">单项申报</a>
                            </span>
                        <!-- 拆分子项目 -->
                        <span class="option-btn">
                              <a href="javascript:void(0);"
                                 @click="splitProjectModuleLoad(scope.row)">拆分子项目</a>
                        </span>
                    </template>
                </el-table-column>
            </el-table>

            <el-table style="width:100%" v-show="(!searchProData||searchProData.length==0) && (!searchProSearchData||searchProSearchData.length==0)">
                <el-table-column
                        fixed
                        label="项目/工程代码"
                        width="280">
                </el-table-column>
                <el-table-column
                        label="	项目名称"
                        win-width="400"
                >
                </el-table-column>
                <el-table-column
                        fixed="right"
                        label="操作"
                        align="center"
                        width="280">
                </el-table-column>
            </el-table>

            <div style="margin-top:15px;" v-if="searchProData.length>0">
                <el-pagination
                        background
                        align="right"
                        :pager-count="5"
                        @size-change="handleSizeChangeDe"
                        @current-change="handleCurrentChangeDe"
                        :page-sizes="[10, 20, 30, 50]"
                        :page-size="pageSizeDe"
                        layout="total,sizes, prev, pager, next, jumper"
                        :total="totalDe">
                </el-pagination>
            </div>

            <div style="margin-top:15px;" v-if="searchProSearchData.length>0">
                <el-pagination
                        background
                        align="right"
                        :pager-count="5"
                        @size-change="handleSizeChangeSearchDe"
                        @current-change="handleCurrentChangeSearchDe"
                        :page-sizes="[10, 20, 30, 50]"
                        :page-size="pageSizeSearchDe"
                        layout="total,sizes, prev, pager, next, jumper"
                        :total="totalSearchDe">
                </el-pagination>
            </div>
        </div>
        
    </div>
    <div id="decalarePandel" class="decalare-pandel-wrap"></div>
</div>
<script src="../../../static/mall/js/userCenter/components/declare.js"
        th:src="@{/mall/js/userCenter/components/declare.js}" type="text/javascript"></script>
<style>
    #declareVue .parallel-appr-title{
        width:100%;
        height:48px;
        line-height: 48px;
        background:rgba(255,252,238,1);
        border:1px solid rgba(255,184,34,1);
        opacity:0.76;
        border-radius:4px;

    }
    #declareTable  thead tr th {
        width:930px;
        height:60px;
        background:rgba(249,251,253,1);
        font-size:14px;
        font-family:Microsoft YaHei;
        font-weight:400;
        color:rgba(127,133,144,1);
    }
    .wt-table th, .wt-table td{
        font-size:14px;
        font-family:Microsoft YaHei;
        font-weight:400;
        color:rgba(87,89,98,1);
    }

</style>