<div class="wt-tab" id="draftsVue">
    <p class="p-header" style="margin-bottom: 0px;">待申报</p>
    <div class="wt-tab-content">

        <div class="wt-tab-item show" id="processProject">
            <div class="search-input">
                <span class="search-title">办件查询</span>
                <input type="text" placeholder="请输入工程代码 / 项目代码 / 项目名称" id="keyword" v-model="keyword">
                <button class="search-btn" onclick="getDraftList(1);">查询</button>
            </div>
        </div>

        <div class="wt-tab-item active" id="myDsraft">
            <table class="wt-table">
                <thead>
                <tr>
                    <th class="al" width="40%">项目代码 | 项目名称</th>
                    <th class="al" width="30%">阶段/事项名称</th>
                    <th width="30%">操作</th>
                </tr>
                </thead>
                <tbody id="draftProjBody">
                <template v-if="draftsData.length>0">
                    <tr v-for="item in draftsData">
                        <td width="40%">{{item.projCode}}<span class="ellipsis pro-name" :title="item.projName" style="margin-top: 7px;">{{item.projName}}</span></td>
                        <td width="30%"><span class="ellipsis pro-name" :title="item.stageIteminstName">{{item.stageIteminstName}}</span></td>
                        <td width="30%">{{item.orgName}}</td>
                    </tr>
                </template>
                <template v-else>
                    <tr><td colspan="10" style="text-align: center;border-bottom:none">暂无【未发起或草稿】的项目信息</td></tr>
                </template>
                </tbody>
            </table>
            <div style="margin-top:15px;">
                <el-pagination v-if="draftsData.length>0"
                        background
                        align="right"
                        :pager-count="5"
                        @size-change="handleSizeChangeDrafts"
                        @current-change="handleCurrentChangeDrafts"
                        :page-sizes="[10, 20, 30, 50]"
                        :page-size="pageSizeDrafts"
                        layout="total,sizes, prev, pager, next, jumper"
                        :total="totalDrafts">
                </el-pagination>
            </div>
        </div>

    </div>
</div>
<script src="../../../static/mall/js/userCenter/components/drafts.js" th:src="@{/mall/js/userCenter/components/drafts.js}" type="text/javascript"></script>