<link rel="stylesheet" href="../../../static/mall/css/userCenter/splitProject.css"
  th:href="@{/mall/css/userCenter/splitProject.css}">
<div class="wt-tab" id="splitProject" v-cloak v-loading.fullscreen.lock="mloading">
  <!-- 项目基本信息信息 -->
  <div class="mt20 proj-module pd-info-pandel">
    <el-form :inline="true" :model="projInfoForm" :rules="rules" class="" ref="projInfoForm">
      <h4 class="mt20">项目/工程信息</h4>
      <p class="ye-notice" style="line-height: 24px;margin-bottom: 20px;"><i class="el-icon-warning-outline"></i>请根据以下指示进行操作。</br>
        1.点击【拆分子项目】按钮后，会生成子项目的工程代码。</br>
        2.编辑表单中子工程的其他信息。</br>
        3.点击【保存】按钮，进行子工程的信息保存。
      </p>
      <el-form-item label="项目/工程名称" class="wt100" prop="projName">
        <el-input class="w-775 btn-input" placeholder="请填写项目名称" v-model="projInfoForm.projName">
        <el-button slot="append" type="primary" @click.stop="splitProject">拆分子项目</el-button>
        </el-input>
      </el-form-item>


      <el-form-item class="wt448" prop="localCode">
        <template slot="label">
          <el-tooltip class="item" effect="dark"
                      content="填写全国统一项目代码(参考“投资项目基本信息共享规范”中的“投资项目统一代码规范”)。如果项目没有全国统一代码，填写地方项目编码。"
                      placement="right-start">
            <i class="el-icon-question"></i>
          </el-tooltip>
          项目代码
        </template>
        <el-input class="w-320" disabled v-model="projInfoForm.localCode" placeholder="请填写项目代码"></el-input>
      </el-form-item>
      <el-form-item class="wt448" prop="gcbm">
        <template slot="label">
          <el-tooltip class="item" effect="dark" content="项目拆分为多个单项工程申报时，单项工程的唯一编码，如果项目不拆分，应与项目代码相同。"
                      placement="right-start">
            <i class="el-icon-question"></i>
          </el-tooltip>
          工程代码
        </template>
        <el-input class="w-320" disabled v-model="projInfoForm.gcbm" placeholder="请填写工程代码"></el-input>
      </el-form-item>
      <el-form-item class="wt448" label="所属主题">
        <el-select class="w-320"  v-model="projInfoForm.themeId"  disabled >
          <el-option v-for="item in themeList" :key="item.themeId" :label="item.themeName"
                     :value="item.themeId">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="立项类型" class="wt448" prop="projType">
        <el-select class="w-320"  v-model="projInfoForm.projType"  disabled>
          <el-option v-for="item in proJAllOptions.XM_PROJECT_STEP" :key="item.id" :label="item.itemName"
                     :value="item.itemCode">
          </el-option>
        </el-select>
      </el-form-item>

      <el-form-item class="wt448" prop="regionalism">
        <template slot="label">
          <el-tooltip class="item" effect="dark" content="市级审批的项目/工程请选择市级行政区划，区县审批的请选择对应的区县行政区划。"
                      placement="right-start">
            <i class="el-icon-question"></i>
          </el-tooltip>
          审批行政区划
        </template>
        <el-select clearable filterable class="w-320" v-model="projInfoForm.regionalism">
          <el-option v-for="item in districtList" :key="item.id" :label="item.regionName"
                     :value="item.regionId">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item class="wt448" prop="projectAddress">
        <template slot="label">
          <el-tooltip class="item" effect="dark" content="选择项目/工程所在地行政区划。如果是跨区，则选择多个行政区划。" placement="right-start">
            <i class="el-icon-question"></i>
          </el-tooltip>
          建设地点
        </template>
        <el-select multiple clearable filterable class="w-320" v-model="projInfoForm.projectAddress" placeholder="请选择建设地点">
          <el-option v-for="item in districtList" :key="item.regionId" :label="item.regionName"
                     :value="item.regionId">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="资金来源" class="wt448" prop="financialSource">
        <el-select class="w-320" v-model="projInfoForm.financialSource">
          <el-option v-for="item in proJAllOptions.XM_ZJLY" :key="item.id" :label="item.itemName"
                     :value="item.itemCode">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item class="wt448" label="是否外资">
        <el-radio-group v-model="projInfoForm.isForeign">
          <el-radio label="0" value="0" key="0">否</el-radio>
          <el-radio label="1" value="1" key="1">是</el-radio>
        </el-radio-group>
      </el-form-item>
      <el-form-item label="投资类型" class="wt448" prop="investType">
        <el-select class="w-320" v-model="projInfoForm.investType">
          <el-option v-for="item in proJAllOptions.XM_TZLX" :key="item.id" :label="item.itemName"
                     :value="item.itemCode">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="土地来源" class="wt448" prop="landSource">
        <el-select class="w-320" v-model="projInfoForm.landSource">
          <el-option v-for="item in proJAllOptions.XM_TDLY" :key="item.id" :label="item.itemName"
                     :value="item.itemCode">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item class="wt448" prop="isAreaEstimate">
        <template slot="label">
          <el-tooltip class="item" effect="dark" content="建设范围未实施区域评估选“否”，建设范围已实施区域评估选“是”。" placement="right-start">
            <i class="el-icon-question"></i>
          </el-tooltip>
          是否完成区域评估
        </template>
        <el-radio-group v-model="projInfoForm.isAreaEstimate" class="w-320">
          <el-radio label="0" value="0" key="0">否</el-radio>
          <el-radio label="1" value="1" key="1">是</el-radio>
        </el-radio-group>
      </el-form-item>
      <el-form-item class="wt448 isDesignSolution twoLine" prop="isDesignSolution">
        <template slot="label">
          <el-tooltip class="item" effect="dark" content="建设用地不带设计方案选“否”，建设用地带设计方案选“是”。" placement="right-start">
            <i class="el-icon-question"></i>
          </el-tooltip>
          土地是否带设计方案
        </template>
        <el-radio-group v-model="projInfoForm.isDesignSolution" class="w-320">
          <el-radio label="0" value="0" key="0">否</el-radio>
          <el-radio label="1" value="1" key="1">是</el-radio>
        </el-radio-group>
      </el-form-item>

      <el-form-item class="wt448" label="建设性质" prop="projNature">
        <el-select class="w-320" v-model="projInfoForm.projNature">
          <el-option v-for="item in proJAllOptions.XM_NATURE" :key="item.id" :label="item.itemName"
                     :value="item.itemCode">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="工程分类" class="wt448">
        <el-select  clearable filterable  class="w-320" v-model="projInfoForm.projCategory">
          <el-option v-for="item in proJAllOptions.XM_GCFL" :key="item.id" :label="item.itemName"
                     :value="item.itemCode">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item class="wt448" label="项目开工时间" prop="nstartTime">
        <el-date-picker type="date" placeholder="项目开工时间" value-format="yyyy-MM-dd" class="w-320"
                        v-model="projInfoForm.nstartTime">
        </el-date-picker>
      </el-form-item>
      <el-form-item class="wt448" label="项目建成时间" prop="endTime">
        <el-date-picker type="date" placeholder="项目建成时间" value-format="yyyy-MM-dd" class="w-320"
                        v-model="projInfoForm.endTime">
        </el-date-picker>
      </el-form-item>
      <el-form-item class="wt448" label="总投资（万元）" prop="investSum">
        <el-input class="w-320" v-model="projInfoForm.investSum" placeholder="请填写总投资金额"></el-input>
      </el-form-item>
      <el-form-item class="wt448" label="总建筑面积（m&sup2;）" prop="foreignBuildingArea">
        <el-input class="w-320" v-model="projInfoForm.foreignBuildingArea" placeholder="请填写建筑面积"></el-input>
      </el-form-item>
      <el-form-item class="wt448" label="用地面积（m&sup2;）" prop="xmYdmj">
        <el-input class="w-320" v-model="projInfoForm.xmYdmj" placeholder="请填写用地面积"></el-input>
      </el-form-item>
      <el-form-item class="wt448" label="重点项目">
        <el-select class="w-320" v-model="projInfoForm.projLevel">
          <el-option v-for="item in proJAllOptions.XM_PROJECT_LEVEL" :key="item.id" :label="item.itemName"
                     :value="item.itemCode">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="国标行业" class="wt448" prop="theIndustry">
        <template slot="label">
          <el-tooltip class="item" effect="dark" content="国标行业以国家统计局发布的《国民经济行业分类》（GB/T 4754-2017）编码为基准。"
                      placement="right-start">
            <i class="el-icon-question"></i>
          </el-tooltip>
          国标行业
        </template>
        <el-input v-model="gbhyShowMsg" readonly placeholder="请选择国标行业" @click.native="isShowGbhy = true"></el-input>
        <div style="position: relative;" v-show="isShowGbhy">
          <div class="gbhyTreeBox">
            <div class="closeTree">
              <i class="el-icon-close" @click="isShowGbhy=false"></i>
            </div>
            <div class="gbhyTree">
              <el-tree
                      :data="gbhySelectData"
                      :props="gbhyProp"
                      node-key="itemCode"
                      show-checkbox
                      ref="gbhy"
                      @check-change="handleCheckChange">
              </el-tree>
            </div>
          </div>
        </div>
        <input v-model="projInfoForm.theIndustry" type="hidden">
      </el-form-item>
      <el-form-item class="wt448 gbCodeYear" label="国标行业代码发布年代" prop="gbCodeYear">
        <el-input class="w-320" disabled v-model="projInfoForm.gbCodeYear" placeholder="请填写国标行业代码发布年代"></el-input>
      </el-form-item>

      <el-form-item class="wt100" prop="foreignRemark">
        <template slot="label">
          <el-tooltip class="item" effect="dark" content="国标行业以国家统计局发布的《国民经济行业分类》（GB/T 4754-2017）编码为基准。"
                      placement="right-start">
            <i class="el-icon-question"></i>
          </el-tooltip>
          建设规模及内容
        </template>
        <el-input class="w-775" v-model="projInfoForm.foreignRemark" type="textarea" placeholder="请填写建设内容"></el-input>
      </el-form-item>

      <el-form-item label="项目地址">
        <el-input class="w-775"  v-model="projInfoForm.projAddr" placeholder="请填写项目地址"></el-input>
      </el-form-item>

      <el-row class="proj-addr-scope">
        <el-col :span="24">
          <el-form-item label="四至范围 东至">
            <el-input v-model="projInfoForm.eastScope" placeholder="请填写东至地址"></el-input>
          </el-form-item>
          <el-form-item label="西至">
            <el-input v-model="projInfoForm.southScope" placeholder="请填写西至地址"></el-input>
          </el-form-item>
          <el-form-item label="南至">
            <el-input v-model="projInfoForm.westScope" placeholder="请填写南至地址"></el-input>
          </el-form-item>
          <el-form-item label="北至">
            <el-input v-model="projInfoForm.northScope" placeholder="请填写北至地址"></el-input>
          </el-form-item>
        </el-col>
      </el-row>


    </el-form>
    <div class="handel mt60" style="text-align: center">
      <el-button class="mr25" @click="returnProjList" style="width:120px;">返 回</el-button>
      <el-button class="mr25" type="primary" style="width:120px;" @click="saveProjData">保 存</el-button>
    </div>
  </div>

  <!-- 子项目列表 -->
  <div class="mt20 proj-module pd-info-pandel">
    <h4 class="mt20">子项目列表</h4>
    <el-table :data="sonProjList" class="scrollable mt20" style="width: 100%;"
      :header-cell-style="{background:'#f7f8fa'}">
      <el-table-column prop="gcbm" label="工程代码" width="240">
      </el-table-column>
      <el-table-column prop="localCode" label="项目代码"  width="220">
      </el-table-column>
      <el-table-column prop="projName" label="项目名称" width="300">
      </el-table-column>
      <el-table-column label="操作" width="160" align="center">
        <template scope="scope">
          <a class="color-3e97df"
             :href="ctx + 'rest/main/toIndexPage?projInfoId='+scope.row.projInfoId+'#declare'">并联申报</a>
          <a class="color-3e97df" :href="ctx + 'rest/main/toIndexPage?projInfoId='+scope.row.projInfoId+'&&flag=singleD#/guideIndex'">单项申报</a>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination class="mt20 mb20 mr20" background align="right" @size-change="handleSizeChange"
      @current-change="handleCurrentChange" :page-sizes="[10, 20, 30, 50]" :page-size="sonProjSearchData.pageSize"
      :current-page="sonProjSearchData.pageNum" layout="total,sizes, prev, pager, next, jumper" :total="sonProjTotal"
      v-show="sonProjTotal>10">
    </el-pagination>
  </div>
</div>

<script src="../../../static/mall/js/userCenter/components/splitProject.js"
  th:src="@{/mall/js/userCenter/components/splitProject.js}" type="text/javascript"></script>