<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <!--  <title>唐山市中介服务网上超市</title>-->
  <title>项目业主入驻</title>
  <link rel="shortcut icon" href="../../../static/zjcs/common/images/favicon.ico" th:href="@{/zjcs/common/images/favicon.ico}">
  <link rel="stylesheet" href="../../../static/zjcs/common/css/reset.css" th:href="@{/zjcs/common/css/reset.css}">
  <link rel="stylesheet" href="../../../../../../../../framework-ui/src/main/resources/static/agcloud/framework/js-lib/element-2/element.css" th:href="@{/agcloud/framework/js-lib/element-2/element.css}" />
  <link rel="stylesheet" href="../../../../../../../../framework-ui/src/main/resources/static/agcloud/framework/icon-lib/agcloud-fonts/iconfont.css" th:href="@{/agcloud/framework/icon-lib/agcloud-fonts/iconfont.css}">
  <link rel="stylesheet" href="../../../static/zjcs/login/css/ownerEnter.css" th:href="@{/zjcs/login/css/ownerEnter.css}">
  <script>
    var ctx = '[[@{/}]]';
    // var ctx = 'http://192.168.32.59:8084/aplanmis-mall/';

  </script>
</head>

<body>
  <div id="app" v-cloak>
    <div class="header">
      <iframe src="../common/header.html" th:src="@{/supermarket/main/header.html}" frameborder="0" width="100%" height="100%"></iframe>
    </div>
    <!-- 面包屑 -->
    <div class="crumbs-wrap">
      <span class="inlineblock-midd crumbs-icon"></span>
      <span class="crumbs-tip">当前位置：</span>
      <el-breadcrumb separator-class="el-icon-arrow-right" class="inlineblock-midd">
        <el-breadcrumb-item><a href="../index.html" th:href="@{index.html}">首页</a></el-breadcrumb-item>
        <el-breadcrumb-item><span>超市指南</span></el-breadcrumb-item>
        <el-breadcrumb-item><span class="crumbs-cur">项目业主注册</span></el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <div class="content">
      <div class="content-head">
        <h2>项目业主入驻</h2>
        <div class="tag">
          <ul>
            <li :class="step==1?'current':''">填写基本信息</li>
            <li :class="step==1?'future':step==2?'current':''">填写委托人信息</li>
            <li :class="step==3?'current':step==1||step==2?'future':''">完成入驻申请</li>
          </ul>
        </div>
      </div>
      <div class="step1" v-if="step=='1'">
        <el-collapse v-model="activeNames">
          <!--  基本信息  start  -->
          <el-collapse-item class="clearfix" name="1" id="baseInfo">
            <template slot="title">
              <i class="header-icon icon ag ag-project-info"></i>基本信息
            </template>
            <el-form label-width="176px" ref="form" :rules="rules" :model="formData">
              <el-form-item label="单位名称" class="proj-code-info" prop="applicant">
                <el-input name="applicant" v-model="formData.applicant" placeholder="请输入单位名称">
                </el-input>
              </el-form-item>
              <div class="clearfix">
                <el-form-item class="input-inline" label="机构代码类型" prop="idtype">
                  <el-select v-model="formData.idtype" placeholder="请选择机构代码类型">
                    <el-option v-for="item in projTypeList" :key="item.id" :label="item.itemName" :value="item.itemCode">
                    </el-option>
                  </el-select>
                </el-form-item>
                <el-form-item class="input-inline" label="统一社会信用码" prop="unifiedSocialCreditCode">
                  <el-input name="unifiedSocialCreditCode" v-model="formData.unifiedSocialCreditCode" placeholder="请输入统一社会信用码">
                </el-form-item>
                <!-- <el-form-item class="input-inline" label="机构类型">
                   <el-select v-model="formData.projApplyType" filterable placeholder="请选择机构类型" @click.native="getProjThemeIdList">
                    <el-option v-for="item in typeList" :key="item.themeId" :label="item.themeName" :value="item.themeName">
                    </el-option>
                  </el-select>
                </el-form-item> -->
                <!--  <el-form-item class="input-inline" prop="projectAddress" label="用户账号">
                  <el-input name="projName" v-model="formData.projName" placeholder="请输入用户账号">
                </el-form-item> -->
                <el-form-item class="input-inline" label="注册地行政区划" prop="applicantDistrict">
                  <el-cascader placeholder="请选择注册地行政区划" v-model="formData.applicantDistrict" :options="options" separator=">" :Props='props'></el-cascader>
                </el-form-item>
                <el-form-item class="input-inline" label="法定代表人" prop="idrepresentative">
                  <el-input name="idrepresentative" v-model="formData.idrepresentative" placeholder="请输入法定代表人">
                </el-form-item>
              </div>
              <el-form-item label="法人代表证件号" class="proj-code-info" prop="idno">
                <el-select v-model="idCard" style="width:15%;">
                  <el-option key="身份证" label="身份证" value="1">
                  </el-option>
                </el-select>
                <el-input name="idno" v-model="formData.idno" placeholder="请输入法人代表证件号" style="width:50%;">
                </el-input>
              </el-form-item>
              <el-form-item class="proj-code-info" label="注册地址" prop="applicantDetailSite">
                <el-input name="applicantDetailSite" v-model="formData.applicantDetailSite" placeholder="请输入注册地址">
              </el-form-item>
              <div class="clearfix">
                <!--   <el-form-item class="input-inline mb5" prop="regionalism" label="经营有效期起">
                  <el-date-picker v-model="formData.contractSignTime" type="date" placeholder="请选择经营有效期起">
                </el-form-item>
                <el-form-item class="input-inline mb5" prop="projectAddress" label="经营有效期止">
                  <el-date-picker v-model="formData.contractSignTime" type="date" placeholder="请选择经营有效期止">
                </el-form-item> -->
              </div>
              <el-form-item>
                <span class="tip">备注：若证书长期有效，则“经营有效期始”按执照的成立日期填，无需填写“经营有效期止”。</span>
              </el-form-item>
              <el-form-item class="proj-code-info mb5" label="经营或业务范围" prop="managementScope">
                <el-input name="managementScope" type="textarea" :rows="5" v-model="formData.managementScope" placeholder="请输入经营或业务范围">
              </el-form-item>
              <el-form-item>
                <span class="tip">备注：若上面机构类型选择了“企业法人”或“企业分支”时，则须填写“经营或业务范围”。</span>
              </el-form-item>
              <div class="clearfix">
                <!--  <el-form-item class="input-inline mb5" label="注册资本币种">
                  <el-select v-model="formData.projApplyType" filterable placeholder="请选择注册资本币种" @click.native="getProjThemeIdList">
                    <el-option v-for="item in moneyList" :key="item.themeId" :label="item.themeName" :value="item.themeName">
                    </el-option>
                  </el-select>
                </el-form-item> -->
                <el-form-item class="input-inline mb5" label="注册资本（万元）" prop="registeredCapital">
                  <el-input name="registeredCapital" v-model="formData.registeredCapital" placeholder="请输入注册资本">
                </el-form-item>
                <el-form-item class="proj-code-info" style="margin-top:40px;">
                  <span class="tip">备注：若上面机构类型选择了“企业法人”或“企业分支”时，则须填写“注册资本币种”和“注册资本(万元)”。</span>
                </el-form-item>
                <!-- <el-form-item label="办公地行政区划" class="input-inline" prop="projName">
                  <el-cascader placeholder="请选择办公地行政区划" v-model="value" :options="options" separator=">" style="width:100%"></el-cascader>
                </el-form-item>
                <el-form-item label="办公地址" class="input-inline" prop="projName">
                  <el-input name="projName" v-model="formData.projName" placeholder="请输入办公地址">
                  </el-input>
                </el-form-item> -->
              </div>
            </el-form>
          </el-collapse-item>
          <el-collapse-item class="clearfix" name="2" id="matfile">
            <template slot="title">
              <i class="header-icon icon ag mat"></i>附件
            </template>
            <el-table :data="tableData" style="width: 100%" border class="table">
              <el-table-column type="expand">
                <template slot-scope="props">
                  <ul>
                    <li v-for="item in props.row.fileList" class="file-box">
                      <span>{{item.name}}</span>
                      <span class="file-icon-btn">
                        <!-- <span title="预览" class="el-icon-search" @click=""></span> -->
                        <!-- <span title="下载" class="el-icon-download" @click=""></span> -->
                        <span title="删除" class="el-icon-delete" @click="deleteAttr(props.row.fileList,item)"></span>
                      </span>
                    </li>
                  </ul>
                </template>
              </el-table-column>
              <el-table-column type="index" width="50" align="center">
              </el-table-column>
              <el-table-column prop="name" label="附件名称">
              </el-table-column>
              <el-table-column prop="bb" label="是否必须上传" align="center" width="120">
              </el-table-column>
              <el-table-column label="操作" width="150">
                <template slot-scope="scope">
                  <!-- <a href="#javascript:void(0);">材料库选择</a>| -->
                  <a href="#javascript:void(0);" @click="showUploadWindowFlag=true;upload(scope.row,'jiben')">上传附件</a>|
                  <!-- <a href="#javascript:void(0);">选择证照</a> -->
                </template>
              </el-table-column>
            </el-table>
          </el-collapse-item>
          <el-collapse-item class="clearfix" name="3" id="contact">
            <template slot="title">
              <i class="header-icon icon ag contact"></i>联系人
            </template>
            <el-form label-width="176px" ref="form2" :rules="rules2" :model="formData2">
              <div class="clearfix">
                <el-form-item class="input-inline" label="联系人" prop="linkmanName">
                  <el-input name="linkmanName" v-model="formData2.linkmanName" placeholder="请输入联系人"></el-input>
                </el-form-item>
                <el-form-item class="input-inline" label="电子邮箱" prop="linkmanMail">
                  <el-input name="linkmanMail" v-model="formData2.linkmanMail" placeholder="请输入电子邮箱"></el-input>
                </el-form-item>
                <el-form-item class="input-inline" label="移动电话" prop="linkmanMobilePhone">
                  <el-input name="linkmanMobilePhone" v-model="formData2.linkmanMobilePhone" placeholder="请输入移动电话">
                </el-form-item>
                </el-input>
                <el-form-item class="input-inline" label="固定电话" prop="projType">
                  <el-input name="linkmanOfficePhon" v-model="formData2.linkmanOfficePhon" placeholder="请输入固定电话" style="width:78%;"></el-input>
                </el-form-item>
                <el-form-item class="input-inline" label="传真" prop="projType">
                  <el-input name="linkmanFax" v-model="formData2.linkmanFax" placeholder="请输入传真"></el-input>
                </el-form-item>
                <!--  <el-form-item class="input-inline" label="网址">
                  <el-input name="projName" v-model="formData2.projName" placeholder="请输入网址"></el-input>
                </el-form-item> -->
              </div>
            </el-form>
          </el-collapse-item>
        </el-collapse>
        <div class="right-bottom-btn">
          <el-button class="save-jinbanUnit-info" @click="backToIndex">取消</el-button>
          <el-button type="primary" class="save-jinbanUnit-info" @click="toStep2">下一步</el-button>
        </div>
      </div>
      <div class="step2" v-if="step=='2'">
        <div class="tips">
          <p>温馨提示</p>
          <ul>
            <li>1. 如果系统为您查询到您有资格电子证书，您可点击【我的资格电子证照】选择您可使用的资格证书电子证照，系统将会自动填充资格信息项，您可根据实际情况修改或添加自动填充的信息； </li>
            <li>2. 您也可以先选择服务类型，系统将会自动为您查询您是否有该服务的资格共享信息，若有，您可通过选择共享信息来填充资格信息的数据项。</li>
            <li>3. 若同个资格同时有电子证照和共享信息且信息相同，请选择一种方式进行填充信息，不要重复录入。</li>
            <li>4. 您也可以自动填写资格信息，若有多个服务类型，可在下方点击【添加资格信息】进行录入。</li>
          </ul>
        </div>
        <el-collapse v-model="activeNames2">
          <!--  基本信息  start  -->
          <el-collapse-item class="clearfix" name="1" id="baseInfo">
            <template slot="title">
              <i class="header-icon icon ag ag-project-info"></i>采购受委托人信息
            </template>
            <el-form label-width="176px" ref="formwtr" :rules="ruleswtr" :model="formDatawtr">
              <el-form-item label="所属科室" class="proj-code-info" prop="projName">
                <el-input name="projName" v-model="formDatawtr.projName" placeholder="请输入所属科室">
              </el-form-item>
              <div class="clearfix">
                <el-form-item class="input-inline" label="采购委托人姓名">
                  <el-input name="linkmanName" v-model="formDatawtr.linkmanName" placeholder="请输入采购人姓名">
                </el-form-item>
                <el-form-item class="input-inline" label="移动电话">
                  <el-input name="linkmanMobilePhone" v-model="formDatawtr.linkmanMobilePhone" placeholder="请输入移动电话">
                </el-form-item>
              </div>
              <el-form-item label="采购委托人证件号" class="proj-code-info" prop="linkmanCertNo">
                <el-select v-model="idCard" style="width:15%;">
                  <el-option key="身份证" label="身份证" value="1">
                  </el-option>
                </el-select>
                <el-input name="linkmanCertNo" v-model="formDatawtr.linkmanCertNo" placeholder="请输入采购委托人证件号" style="width:50%;">
                </el-input>
              </el-form-item>
              <!-- <el-form-item class="proj-code-info" label="采购委托人账号">
                <el-input name="projName" v-model="formDatawtr.projName" placeholder="请输入采购委托人账号">
              </el-form-item> -->
              <div class="clearfix">
                <!--  <el-form-item class="input-inline" label="职务">
                  <el-input name="projName" v-model="formDatawtr.projName" placeholder="请输入职务">
                </el-form-item> -->
                <el-form-item class="input-inline" label="邮箱">
                  <el-input name="linkmanMail" v-model="formDatawtr.linkmanMail" placeholder="请输入邮箱">
                </el-form-item>
                <!-- <el-form-item class="input-inline" prop="regionalism" label="自个有效期起">
                  <el-date-picker v-model="formDatawtr.contractSignTime" type="date" placeholder="请选择自个有效期起">
                </el-form-item>
                <el-form-item class="input-inline" prop="projectAddress" label="资格有效期止">
                  <el-date-picker v-model="formDatawtr.contractSignTime" type="date" placeholder="请选择资格有效期止">
                </el-form-item> -->
              </div>
              <!--  <el-form-item label="备注" class="proj-code-info" prop="projName">
                <el-input name="projName" type="textarea" :rows="5" v-model="formDatawtr.projName" placeholder="请输入备注">
                </el-input>
              </el-form-item> -->
            </el-form>
          </el-collapse-item>
          <el-collapse-item class="clearfix" name="2" id="matfile">
            <template slot="title">
              <i class="header-icon icon ag mat"></i>附件
            </template>
            <el-table :data="tableData2" style="width: 100%" border class="table">
              <el-table-column type="expand">
                <template slot-scope="props">
                  <ul>
                    <li v-for="item in props.row.fileList" class="file-box">
                      <span>{{item.name}}</span>
                      <span class="file-icon-btn">
                        <!-- <span title="预览" class="el-icon-search" @click=""></span> -->
                        <!-- <span title="下载" class="el-icon-download" @click=""></span> -->
                        <span title="删除" class="el-icon-delete" @click="deleteAttr(props.row.fileList,item)"></span>
                      </span>
                    </li>
                  </ul>
                </template>
              </el-table-column>
              <el-table-column type="index" width="50" align="center">
              </el-table-column>
              <el-table-column prop="name" label="附件名称">
              </el-table-column>
              <el-table-column prop="bb" label="是否必须上传" align="center" width="120">
              </el-table-column>
              <el-table-column label="操作" width="150">
                <template slot-scope="scope">
                  <!-- <a href="#javascript:void(0);">材料库选择</a>| -->
                  <a href="#javascript:void(0);" @click="showUploadWindowFlag=true;upload(scope.row,'weituoren')">上传附件</a>|
                  <!-- <a href="#javascript:void(0);">选择证照</a> -->
                </template>
              </el-table-column>
            </el-table>
            <!-- <div class="plus-btn">
              <el-button class="save-jinbanUnit-info plus specialbtn" @click=""><i class="el-icon-plus"></i>添加委托人信息</el-button>
            </div> -->
          </el-collapse-item>
        </el-collapse>
        <div class="right-bottom-btn">
          <el-button class="save-jinbanUnit-info" @click="backToIndex">取消</el-button>
          <el-button type="primary" class="save-jinbanUnit-info" @click="step='1'">上一步</el-button>
          <el-button type="primary" class="save-jinbanUnit-info" @click="saveForm">提交</el-button>
        </div>
      </div>
      <div class="step3" v-if="step=='3'">
        <div class="tips">
          <p>温馨提示</p>
          <ul>
            <li>1、你的注册申报已成功提交处理，中介机构入驻办件号为【190115001100】业务等待形式检查，请记住您的入驻办件号以便查询业务进度。 </li>
            <li>2、办件通过形式检查后，您将会受到授权人员激活账号的短信，请于收到短信的48小时内，点击短信内的激活链接进行账号激活。</li>
            <li>3、点击激活链接前，请注意检查连接格式是否正确，若链接格式为http:zjcs.gdggzy.org.cn/则为正确，若为其他格式，请慎重点击。 </li>
          </ul>
        </div>
        <i class="el-icon-success" style="font-size:87px;margin-left:46%;color: rgb(56,178,10);margin-top: 50px;margin-bottom:20px;"></i>
        <h1 style="text-align:center;font-size: 36px;color: #3F4047;">注册成功</h1>
        <div class="loginInfo">
          <span>您的登陆账号为：{{loginName}}</span>
          <span>您的登陆密码为：{{password}}</span>
        </div>
        <p style="font-size:16px;margin-top: 20px;text-align: center;">进入服务指南-项目业主入驻指南-<a href="javascript:void(0);">进度查询</a> 页面查询业务进度</p>
        <el-button type="primary" style="margin-top: 28px;width: 93px;height: 43px;font-size: 18px;margin-left: 46%;">确定</el-button>
      </div>
    </div>
    <!--文件上传下载弹窗 start-->
    <el-dialog v-loading="loadingFileWin" element-loading-text="文件上传中" element-loading-spinner="el-icon-loading" element-loading-background="rgba(0, 0, 0, 0.3)" class="upload-flie-dialog" :title="showUploadWindowTitle" :visible.sync="showUploadWindowFlag" @closed="uploadTableData=[]" width="750px">
      <div class="upload-file-content">
        <div class="file-opt-btn">
          <el-upload ref="uploadFileWin" class="upload-s-file" :show-file-list="false" multiple action="" style="display:inline-block;" :on-change="enclosureFileSelectChange">
            <el-button slot="trigger" type="primary">选择附件</el-button>
          </el-upload>
        </div>
        <el-table :data="uploadTableData" ref="uploadTableData" row-key="fileId" border>
          <!-- <el-table-column type="selection" align="center" width="55">
          </el-table-column> -->
          <el-table-column prop="name" label="文件名"></el-table-column>
          <el-table-column label="操作" align="center" width="310">
            <template slot-scope="scope">
              <el-button type="primary" @click="deleteFile(scope.row)">删除</el-button>
              <!-- <el-button type="primary" size="mini" @click="">预览</el-button> -->
            </template>
          </el-table-column>
        </el-table>
      </div>
    </el-dialog>
    <!--材料库选择弹窗 start-->
    <!--   <el-dialog class="mat-dialog" title="材料库选择" :visible.sync="matDialog" width="1000px" height="674px">
      <div class="grade-content">
        <div class="tips tips2 tips3">
          <p>温馨提示：选择对应的材料时，请点击【选择】即可完成选择。</p>
        </div>
        <div class="file-opt-btn search-proj">
          <span>附件名称：</span>
          <el-input :inline="true" placeholder="输入关键字" v-model="searchFileListfilter" style="width:36%;margin-right:15px;">
          </el-input>
          <span>附件类型：</span>
          <el-select v-model="matType" style="margin-right:15px;">
            <el-option v-for="item in matTypeList" :key="item.themeId" :label="item.themeName" :value="item.themeName">
            </el-option>
          </el-select>
          <el-button type="primary">查询</el-button>
          <el-button @click="">重置</el-button>
        </div>
        <el-table :data="shareFileList" border ref="shareFileList" class="matfile table">
          <el-table-column label="选择" align="center" width="100">
            <template slot-scope="scope">
              <el-button type="primary" size="" @click="" round>选择</el-button>
            </template>
          </el-table-column>
          <el-table-column prop="attName1" label="材料来源"></el-table-column>
          <el-table-column prop="attName2" label="附件名称"></el-table-column>
          <el-table-column prop="attName3" label="最后更新时间"></el-table-column>
        </el-table>
      </div>
    </el-dialog> -->
    <div class="footer">
      <iframe src="../common/footer.html" th:src="@{/supermarket/main/footer.html}" frameborder="0" width="100%" height="100%"></iframe>
    </div>
  </div>
  <script src="../../../../../../../../framework-ui/src/main/resources/static/agcloud/framework/js-lib/jquery-v1/jquery.min.js" th:src="@{/agcloud/framework/js-lib/jquery-v1/jquery.min.js}"></script>
  <script src="../../../../../../../../framework-ui/src/main/resources/static/agcloud/framework/js-lib/vue-v2/vue.js" th:src="@{/agcloud/framework/js-lib/vue-v2/vue.js}"></script>
  <script src="../../../../../../../../framework-ui/src/main/resources/static/agcloud/framework/js-lib/element-2/element.js" th:src="@{/agcloud/framework/js-lib/element-2/element.js}"></script>
  <!--<script src="/framework-ui/src/main/resources/static/agcloud/framework/js-lib/agcloud-lib/js/common.js" th:src="@{/agcloud/framework/js-lib/agcloud-lib/js/common.js}"></script>-->
  <script src="../../../static/common/js/common.js" th:src="@{/common/js/common.js}"></script>
  <script src="../../../static/zjcs/login/js/ownerEnter.js" th:src="@{/zjcs/login/js/ownerEnter.js}"></script>
</body>

</html>