<!--@Author: ZL-->
<!--@Date:   2019/05/27-->
<!--@Last Modified by:   ZL-->
<!--@Last Modified time: $ $-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>新疆自治区中介服务网上超市</title>
  <!--  <title>唐山市中介服务网上超市</title>-->
  <link rel="stylesheet" href="/framework-ui/src/main/resources/static/agcloud/framework/js-lib/element-2/element.css" th:href="@{/agcloud/framework/js-lib/element-2/element.css}"/>
  <link rel="stylesheet" href="/framework-ui/src/main/resources/static/agcloud/framework/icon-lib/agcloud-fonts/iconfont.css" th:href="@{/agcloud/framework/icon-lib/agcloud-fonts/iconfont.css}">
  <link rel="stylesheet" href="../../../static/zjcs/common/css/reset.css" th:href="@{/zjcs/common/css/reset.css}">
  <link rel="stylesheet" href="../../../static/zjcs/common/css/common-header.css" th:href="@{/zjcs/common/css/common-header.css}">
  <script>
    var ctx = '[[@{/}]]';
  </script>
</head>
<body>
<div id="headerFooter" v-cloak v-loading.fullscreen.lock="hloading">
  <div class="logo-wrap">
      <div class="fl">
        <a class="logo" href="#">
          <!--          <img src="../../../static/zjcs/common/images/market_logo.png" th:src="@{/zjcs/common/images/market_logo.png}">-->
          <img src="../../../static/zjcs/common/images/market_logo-xj.png" th:src="@{/zjcs/common/images/market_logo-xj.png}">
        </a>
      </div>
      <div class="fr quick-menu">
        <ul class="breadcrumb" v-if="!isLoginFlag">
          <li class="login" @click="login"><a href="javascript:;">登录</a></li>
<!--          <li class="register"><a href="#">注册</a></li>-->
        </ul>
        <p v-else>
           <!-- <span v-if="curLoginInfo.isPersonAccount == 1">您好！{{curLoginInfo.personName}}</span> -->
           <span>您好！{{curLoginShowName}}</span>&nbsp;
          <span class="span-a" @click.stop="jumpToPeopleCenter">企业中心</span>&nbsp;
           <a href="javascript:;" @click.stop="loginOut">退出</a>
           <!-- 当前登陆为企业单位 -->
           <a v-if="curLoginInfo.unitInfos && curLoginInfo.unitInfos.length" href="javascript:;" @click.stop="switchUnitFetchList">| 切换单位</a>
        </p>
      </div>
    </div>
  <div class="ts-nav-bar clearfix">
    <ul class="nav navbar-nav fl">
      <li
        v-for="(item, index) in topTabData"
        :id="item.id"
        :class="index==activeName?'active':''"
        :label="item.label"
        @click.prevent="openNewUrl(item.url)">{{item.label}}</li>
    </ul>
    <div class="fr">
      <el-input placeholder="请输入内容"
                v-model="seachKey"  
                class="input-with-select">
        <el-select v-model="selectOption" slot="prepend" style="width:88px" class="select">
          <el-option
            v-for="item in selectOptions"
            :key="item.value"
            :label="item.label"
            :value="item.value">
          </el-option>
        </el-select>
        <el-button slot="append" icon="el-icon-search" @click="switchPage"></el-button>
      </el-input>
    </div>
  </div>
</div>
<script src="/framework-ui/src/main/resources/static/agcloud/framework/js-lib/jquery-v1/jquery.min.js" th:src="@{/agcloud/framework/js-lib/jquery-v1/jquery.min.js}"></script>
<script src="/framework-ui/src/main/resources/static/agcloud/framework/js-lib/vue-v2/vue.js" th:src="@{/agcloud/framework/js-lib/vue-v2/vue.js}"></script>
<script src="/framework-ui/src/main/resources/static/agcloud/framework/js-lib/element-2/element.js" th:src="@{/agcloud/framework/js-lib/element-2/element.js}"></script>

<!--<script src="/framework-ui/src/main/resources/static/agcloud/framework/js-lib/agcloud-lib/js/common.js"-->
<!--  th:src="@{/agcloud/framework/js-lib/agcloud-lib/js/common.js}"></script>-->

<script src="../../../static/common/js/common.js" th:src="@{/common/js/common.js}"></script>

<script src="../../../static/zjcs/common/js/common-header.js"  th:src="@{/zjcs/common/js/common-header.js}"></script>

</body>
</html>
