.index-bg{
    width: 100%;
    background: url(../../images/index/xtopbg.png) no-repeat center center;
    height: 415px;
    background-size: cover;
}
.index-bg .wt-header-tab{
    border-bottom: 1px solid rgba(255,255,255,0.5);
}
.index-bg .header-logo .wt-title{
    color:#ffffff;
}
.index-bg .header-logo .dividing-line{
    background-color: #ffffff;
}
.unitName{
    color: #ffffff;
}
.wt-header-nav, .wt-header-tab .wt-tab-nav{
    background: none;
    color: #ffffff;
}
.go-login{
    color: #ffffff;
}
.wt-header-tab{
    background: none;
}
.wt-header-tab .wt-tab-nav li{
    color: #ffffff;
}
.wt-tab .wt-tab-nav li.active a{
    color: #ffffff;
}
.wt-tab .wt-tab-nav li.active{
    border-bottom: 5px solid #ffffff;
}
