<!-- <!DOCTYPE html> -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <!--引入公共css-->
  <th:block th:include="common/common :: commonheader('材料补全')" />
  <link rel="stylesheet" href="../../static/matMend/css/index.css" th:href="@{/matMend/css/index.css}">
  <script>
    var ctx = "[[@{/}]]";
    // var ctx = "http://192.168.32.48:8083/aplanmis-front/"
    // var ctx = "http://192.168.15.179:8083/aplanmis-front/"
  </script>
</head>

<body class="gray-body">
  <div id="matMend" v-cloak v-loading.fullscreen.lock="mloading">
    <div class="content">
      <!-- 右侧导航 -->
      <div class="right-handel-pandel">
        <div class="vertical-tab">
          <ul>
            <li class="vertical-label" v-for="(item, index) in verticalTabData"
              :class="activeTab==index?'active':item.target" data-name="item.target"
              @click="targetCollapse(item.target,index)">
              <a :href="'#'+item.target">{{item.label}}</a>
            </li>
          </ul>
        </div>
        <!-- 右侧操作按钮栏 -->
        <div class="right-bottom-btn">
          <el-button circle @click="saveMaterialList('6')" :disabled="allPageInfoData.correctState ==7||allPageInfoData.correctState ==8">
            暂存</el-button>
          <el-button circle @click="printReceipt" :disabled="!(allPageInfoData.correctState ==6||allPageInfoData.correctState ==7||allPageInfoData.correctState ==8)">
            打印<br/>回执</el-button>
          <el-button type="primary" circle @click="saveMaterialList('7')" :disabled="allPageInfoData.correctState ==7||allPageInfoData.correctState ==8">
            补全<br />结束</el-button>
          <el-button type="primary" circle @click="saveMaterialList('8')" :disabled="allPageInfoData.correctState ==7||allPageInfoData.correctState ==8">
            补全<br />结束<br />并确认</el-button>
          <el-button type="danger" circle @click="saveMaterialList('5')" :disabled="allPageInfoData.correctState ==7||allPageInfoData.correctState ==8">
            不予<br />受理</el-button>
        </div>
      </div>

      <el-collapse v-model="activeNames">
        <!--  基本信息  start  -->
        <el-collapse-item class="clearfix" name="1" id="baseInfo">
          <template slot="title">
            <i class="header-icon el-icon-document-copy"></i>基本信息
          </template>
          <el-form :inline="true" :model="supplemetForm" :rules="supplementFormRules" label-width="140px"
            class="demo-form-inline supplement-form" ref="supplemetForm">
            <el-form-item class="half-item" label="办件流水号：">
              <span class="color-999">{{supplemetForm.applyinstCode || '暂无'}}</span>
            </el-form-item>
            <el-form-item class="half-item" label="项目编号：">
              <span class="color-999">{{supplemetForm.localCode || '暂无'}}</span>
            </el-form-item>
            <el-form-item class="half-item" label="项目名称：">
              <span class="color-999">{{supplemetForm.projInfoName || '暂无'}}</span>
            </el-form-item>
            <el-form-item class="half-item" label="客户名称：">
              <span class="color-999">{{supplemetForm.owner|| '暂无'}}</span>
            </el-form-item>
            <el-form-item class="half-item" label="补全截止日期：">
              <span class="color-999">{{supplemetForm.correctDueTime | formatDate('yyyy-MM-dd')}}</span>
            </el-form-item>
            <el-form-item class="half-item" label="补全天数(工作日)：">
              <span class="color-999">{{supplemetForm.correctDueDays || '暂无'}}</span>
            </el-form-item>
            <el-form-item class="half-item" label="事项名称：">
              <span class="color-999">{{supplemetForm.iteminstName || '暂无'}}</span>
            </el-form-item>
            <el-form-item class="half-item" label="部门名称：">
              <span class="color-999">{{supplemetForm.chargeOrgName || '暂无'}}</span>
            </el-form-item>
          </el-form>
        </el-collapse-item>
        <!--  基本信息  end  -->

        <!--  材料补全  start  -->
        <el-collapse-item class="clearfix" name="2" id="materialSupplement">
          <template slot="title">
            <i class="header-icon el-icon-document-copy"></i>材料补全
          </template>
          <el-form :rules="materialListForm.rules" :model="materialListForm" ref="materialListForm"
            class="material-form">
            <!-- test -->
            <el-table :data="materialListForm.materialList" row-key="matId" style="width: 100%" border
              class="my-el-table" :header-cell-style="{background:'#f7f8fa'}">
              <el-table-column align="center" label="序号" width="60">
                <template slot-scope="scope">
                  <span>{{scope.$index+1}}</span>
                </template>
              </el-table-column>
              <el-table-column prop="matinstName" width="440" label="材料名称" align="left">
              </el-table-column>
              <el-table-column label="补全要点" width="100" align="center">
                <template slot-scope="scope">
                  <el-tooltip class="my-el-tooltip" effect="dark" placement="top">
                    <div class="white-wrap lineh15" slot="content">{{scope.row.reviewKeyPoints || '无'}}</div>
                    <i class="el-icon-info"></i>
                  </el-tooltip>
                </template>
              </el-table-column>
              <el-table-column label="类型" width="80" align="center">
                <template slot-scope="scope">
                  <div class="cell-div" v-if="scope.row.paperDueIninstId">原件</div>
                  <div class="cell-div" v-if="scope.row.copyDueIninstId">复印件</div>
                  <div class="cell-div" v-if="scope.row.attDueIninstId">电子件</div>
                </template>
              </el-table-column>
              <el-table-column label="应收" width="80" align="center">
                <template slot-scope="scope">
                  <div class="cell-div" v-if="scope.row.paperDueIninstId">{{scope.row.paperCount || '0'}}</div>
                  <div class="cell-div" v-if="scope.row.copyDueIninstId">{{scope.row.copyCount || '0'}}</div>
                  <div class="cell-div" v-if="scope.row.attDueIninstId">{{scope.row.isNeedAtt? '必须': '非必须'}}</div>
                </template>
              </el-table-column>
                <el-table-column label="已收/验" width="100" align="center">
                <template slot-scope="scope">
                  <div class="cell-div" v-if="scope.row.paperDueIninstId">
                    <el-form-item :prop="'materialList.' + scope.$index + '.realPaperCount'"
                      :rules='(scope.row.paperDueIninstId && allPageInfoData.correctState == 6)?materialListForm.rules.realPaperCount: []'
                      v-if="scope.row.paperDueIninstId">
                      <el-input size="mini" v-model="scope.row.realPaperCount">
                      </el-input>
                      <!--<span v-else>{{scope.row.realPaperCount || '0'}}</span>-->
                    </el-form-item>
                    <span v-else style="line-height: 42px">无</span>
                  </div>
                  <div class="cell-div" v-if="scope.row.copyDueIninstId">
                    <el-form-item :prop="'materialList.' + scope.$index + '.realCopyCount'"
                      :rules='(scope.row.copyDueIninstId && allPageInfoData.correctState == 6)?materialListForm.rules.realCopyCount: []'
                      v-if="scope.row.copyDueIninstId">
                      <el-input size="mini" v-model="scope.row.realCopyCount">
                      </el-input>
                      <!--<span v-else>{{scope.row.realCopyCount || '0'}}</span>-->
                    </el-form-item>
                    <span v-else style="line-height: 42px">无</span>
                  </div>
                  <div class="cell-div" v-if="scope.row.attDueIninstId">
                    <el-form-item :prop="'materialList.' + scope.$index + '.attCount'"
                      :rules="(scope.row.isNeedAtt && scope.row.attRealIninstId && allPageInfoData.correctState == 6)?materialListForm.rules.attCount : []"
                      v-if="scope.row.attMatinstId">
                      <span>{{scope.row.attCount || '0'}}</span>
                    </el-form-item>
                    <span v-else style="line-height: 42px">无</span>
                  </div>
                </template>
              </el-table-column>
              <el-table-column label="补全意见" align="center" min-width="200">
                <template slot-scope="scope">
                  <div class="cell-div" v-if="scope.row.paperDueIninstId">
                      <p>{{scope.row.paperDueIninstOpinion || '暂无'}}</p>
                  </div>
                  <div class="cell-div" v-if="scope.row.copyDueIninstId">
                      <p>{{scope.row.copyDueIninstOpinion || '暂无'}}</p>
                  </div>
                  <div class="cell-div" v-if="scope.row.attDueIninstId">
                      <p>{{scope.row.attDueIninstOpinion || '暂无'}}</p>
                  </div>
                </template>
              </el-table-column>
              <el-table-column align="center" label="操作" width="100">
                <template slot-scope="scope" >
                  <div class="cell-div" v-if="scope.row.paperDueIninstId">
                    <p>/</p>
                  </div>
                  <div class="cell-div" v-if="scope.row.copyDueIninstId">
                    <p>/</p>
                  </div>
                  <div class="cell-div cell-btn" v-if="scope.row.attDueIninstId">
                    <el-button size="mini" type="primary"
                               @click="showFileListDialog(scope.row)">查看</el-button>
                    <el-button class="mt10 ml0" size="mini" type="success"
                               @click="openUploadDialog(scope.row)">上传</el-button>
                  </div>
                </template>
              </el-table-column>
            </el-table>

            <el-form-item class="fill-item mt20" label="备注：">
              <el-input type="textarea" :disabled="true" v-model="materialListForm.materialSupplementRemark">
              </el-input>
            </el-form-item>
          </el-form>
        </el-collapse-item>
        <!--  材料补全  end  -->

        <!--  窗口信息  start  -->
        <el-collapse-item class="clearfix" name="3" id="windowInfo">
          <template slot="title">
            <i class="header-icon el-icon-document-copy"></i>窗口信息
          </template>
          <el-form :inline="true" :model="supplemetForm" :rules="supplementFormRules" label-width="140px"
            class="demo-form-inline supplement-form" ref="winForm">
            <el-form-item class="fill-item" label="窗口负责人：">
              <span class="color-999">{{supplemetForm.windowUserName || '暂无'}}</span>
            </el-form-item>
            <el-form-item class="half-item" label="经办人：">
              <span class="color-999">{{supplemetForm.opsUserName || '暂无'}}</span>
            </el-form-item>
            <el-form-item class="half-item" label="经办日期：">
              <span class="color-999">{{supplemetForm.opsTime | formatDate('yyyy-MM-dd')}}</span>
            </el-form-item>
            <el-form-item class="half-item" label="补全结束人：">
              <span class="color-999">{{supplemetForm.correctUserName || '暂无'}}</span>
            </el-form-item>
            <el-form-item class="half-item" label="补全结束日期：">
              <span class="color-999">{{supplemetForm.correctEndTime | formatDate('yyyy-MM-dd')}}</span>
            </el-form-item>
            <el-form-item class="half-item" label="打印人：">
              <span class="color-999">{{supplemetForm.printUserName || '暂无'}}</span>
            </el-form-item>
            <el-form-item class="half-item" label="打印日期：">
              <span class="color-999">{{supplemetForm.printTime | formatDate('yyyy-MM-dd')}}</span>
            </el-form-item>
          </el-form>
        </el-collapse-item>
        <!--  窗口信息  end  -->
      </el-collapse>
    </div>

    <!-- 材料补全列表电子件附件的dialog -->
    <el-dialog title="文件列表" :visible.sync="fileListDialog" width="1000px" @closed="uploadAttRow">
      <el-button class="ml20" size="mini" type="danger" @click="delFileForMaterial('batch')">删除</el-button>
      <el-table :data="enclosureListForMaterial" class="mt20"
        style="width: 100%;" :header-cell-style="{background:'#f7f8fa'}"
        @selection-change="handleSelectionChangeForMaterial">
        <el-table-column type="selection" width="55">
        </el-table-column>
        <el-table-column type="index" width="60" label="序号">
        </el-table-column>
        <el-table-column prop="fileName" label="文件名称">
        </el-table-column>
        <el-table-column label="上传时间" width="200">
          <template slot-scope="scope">{{scope.row.updateTime | formatDate('yyyy-MM-dd')}}</template>
        </el-table-column>
        <el-table-column label="操作"  width="100" align="center">
          <template slot-scope="scope">
            <span class="file-icon-btn">
              <span title="预览" class="el-icon-search" @click="filePreview(scope.row)"></span>
              <span title="删除" class="el-icon-delete" @click="delFileForMaterial(scope.row.fileId)"></span>
            </span>
          </template>
        </el-table-column>
      </el-table>
      <span slot="footer" class="dialog-footer">
        <el-button @click="fileListDialog = false">关 闭</el-button>
      </span>
    </el-dialog>

    <!-- 材料补全列表电子件===》文件上传--->
    <el-dialog title="文件上传" :visible.sync="fileUploadDialogState" width="600px" class="file-upload-dialog"
      @closed="closeUploadDialog">
      <el-upload class="enclosure-upload-file-ref inlineblock-midd al-center" ref="enclosureFileUploadRef" drag
        action="" :multiple="true" :on-change="enclosureFileSelectChange" :on-remove="enclosureFileSelectRemove"
        :auto-upload="false">
        <i class="el-icon-upload"></i>
        <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em>
        </div>
      </el-upload>
      <span slot="footer" class="dialog-footer">
        <el-button @click="fileUploadDialogState = false">关 闭</el-button>
        <el-button type="primary" @click="fileUploadAndSaveFile">上 传</el-button>
      </span>
    </el-dialog>
    <!--  打印回执-->
    <el-dialog title="打印回执" :visible.sync="pdfPreviewState" width="1000px" class="file-upload-dialog">
      <div class="fl" :style="{height: (curHeight-150)+'px'}">
        <div class="receive-item active">
          <div class="serviceBox">
            <ul class="receive-list">
              <li :key="index" :class="receiveId==item.receiveId?'active':''" v-for="(item,index) in receiveList" @click="jumpToPrintReceipt(item.receiveId,ind)">
                <span>{{item.receiptType =='7'?'补全回执':item.receiptType =='13'?'物料回执':'其他回执'}}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="pdf-view-win" :style="{height: (curHeight-144)+'px'}">
        <iframe :src="pdfSrc" width="80%" height="100%" style="min-height: 460px;"></iframe>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="pdfPreviewState = false">关 闭</el-button>
      </span>
    </el-dialog>
  </div>
</body>
<script src="../../../../../../../framework-ui/src/main/resources/static/agcloud/framework/js-lib/jquery-v1/jquery.min.js" th:src="@{/agcloud/framework/js-lib/jquery-v1/jquery.min.js}"></script>
<script src="../../../../../../../framework-ui/src/main/resources/static/agcloud/framework/js-lib/vue-v2/vue.js" th:src="@{/agcloud/framework/js-lib/vue-v2/vue.js}"></script>
<script src="../../../../../../../framework-ui/src/main/resources/static/agcloud/framework/js-lib/element-2/element.js" th:src="@{/agcloud/framework/js-lib/element-2/element.js}"></script>
<script src="../../../../../../../framework-ui/src/main/resources/static/agcloud/framework/js-lib/agcloud-lib/js/common.js" th:src="@{/agcloud/framework/js-lib/agcloud-lib/js/common.js}"></script>
<script src="../../static/matMend/js/index.js" th:src="@{/matMend/js/index.js}"></script>

</html>