/* yangx样式 */
/* logo和导航 */
.zjHeader{
    width: 100%;
    height: 110px;
    background: #ffffff;
}
.contentIn{
    width: 1170px;
    margin: 0 auto;
}
.logo-title{
    font-size: 32px;
    color: #333;
    line-height: 106px;
    font-weight: bold;
}
.logo-title img{
    margin: 16px 16px 0 0;
}
.guidance{
    text-align: right;
    margin-top: 32px;
}
.guidance .guidance-icon{
    display: inline-block;
    width:120px;
    height:40px;
    padding-left: 46px; 
    background:  url(../images/consult.png) no-repeat 14px center;
    border:1px solid rgba(217, 217, 217, 1);
    border-radius:4px;
    line-height: 40px;
    text-align: left;
    color: #333;
    cursor: pointer;
}
.guidance .guidance-icon2{
    margin-left: 10px;
    background:  url(../images/handbook.png) no-repeat 14px center;
}
.guidance .guidance-icon:hover{
    color: #36a3f7;
}

/* 内容 */
.declare{
    margin-top: 14px;
    height: 174px;
    border: 1px solid #e8e8e8;
    box-sizing: border-box;
}
.declare1{
    float: left;
    width: 250px;
}
.declare2{
    float: left;
    width: 918px;
    height: 176px;
}
.declare1 li{
    width: 250px;
    height: 86px;
    background:  url(../images/declare.png) no-repeat center center;
    color: #70a6d0;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    line-height: 86px;
    padding: 18px 12px;
}
.declare11,.declare12{
    position: relative;
}
.declare1 li:hover{
    cursor: pointer;
}

.declare2 .declare22{
    display: none;
}
.parallel{
    display: inline-block;
    font-size: 24px;
    width: 46px;
    height: 46px;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 50%;
    line-height: 44px;
    text-align: center;
    margin-right: 10px;
}
.parallel1 h3{
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    font-weight: bold;
}
.parallel1 p{
    line-height: 24px;
    font-size: 14px;
    color: #fff;
}
.declare1 li.active{
    background: #fff;
}
.declare1 li.active .parallel{
    color: #36a3f7;
    border: 1px solid #36A3F7;
}
.declare1 li.active .parallel1 h3{
    color: #36A3F7;
}
.declare1 li.active .parallel1 p{
    color: #7a7a7a;
}

/* 办事指南 */
.guide{
    margin: 12px 0;
}
.guideL{
    width:250px;
    height:910px;
    background:rgba(255,255,255,1);
    border:1px solid rgba(232, 232, 232, 1);
}
.guideR{
    width:906px;
    height:910px;
    background:rgba(255,255,255,1);
    border:1px solid rgba(232, 232, 232, 1);
}
.guide-title li{
    width: 124px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    font-weight: bold;
    background: url(../images/guide/title-bg.png) no-repeat center center;
    color: #fff;
    cursor: pointer;
}
.guide-title li.this{
    border-top: 3px solid #36A3F7;
    color: #36A3F7;
    background: #fff;
}
.theme-info{
    margin: 15px;
}
.theme-info li{
    width:222px;
    height:52px;
    border:1px solid rgba(217, 217, 217, 1);
    border-radius:4px;
    font-size: 15px;
    line-height: 50px;
    margin-bottom: 16px;
    cursor: pointer;
}
.theme-info li i{
    display: inline-block;
    width: 46px;
    height: 30px;
    background: url(../images/guide/theme1.png) no-repeat 10px center;
    vertical-align: middle;
    margin-top: -5px;
}
.theme-info li i.theme-icon2{
    background: url(../images/guide/theme2.png) no-repeat 10px center;
}
.theme-info li i.theme-icon3{
    background: url(../images/guide/theme3.png) no-repeat 10px center;
}
.theme-info li i.theme-icon4{
    background: url(../images/guide/theme4.png) no-repeat 10px center;
}
.theme-info li.this{
    border-color: #36A3F7;
    background: url(../images/guide/theme0.png) no-repeat center center;
    color: #36A3F7;
}
.theme-info li.this i.theme-icon1,.theme-info li:hover i.theme-icon1{
    background: url(../images/guide/theme1-this.png) no-repeat 10px center;
}
.theme-info li.this i.theme-icon2,.theme-info li:hover i.theme-icon2{
    background: url(../images/guide/theme2-this.png) no-repeat 10px center;
}
.theme-info li.this i.theme-icon3,.theme-info li:hover i.theme-icon3{
    background: url(../images/guide/theme3-this.png) no-repeat 10px center;
}
.theme-info li.this i.theme-icon4,.theme-info li:hover i.theme-icon4{
    background: url(../images/guide/theme4-this.png) no-repeat 10px center;
}
.theme-info li:hover{
    color: #36A3F7;
    border-color: #36A3F7;
}


.stage{
    height: 176px;
    box-sizing: border-box;
    padding-left: 10px;
}
.stage li{
    float: left;
    width: 25%;
    text-align: center;
}
.phase li:hover .icons{
    background: #36A3F7;
}
.phase li:hover p{
    color: #36a3f7;
}
.stage a{
    display: inline-block;
    width: 100%;
    height: 100%;
}
.stage a p{
    font-size: 16px;
}
.stage .stage-icons{
    display: inline-block;
    width: 96px;
    height: 96px;
    text-align: center;
    background:url(../images/phases1.png) no-repeat center center;
    margin: 26px 0 5px 0;
}
.stage li a:hover{
    color: #36A3F7;
}
.stage .stage-icon2{
    background:url(../images/phases2.png) no-repeat center center;
}
.stage .stage-icon3{
    background:url(../images/phases3.png) no-repeat center center;
}
.stage .stage-icon4{
    background:url(../images/phases4.png) no-repeat center center;
}
.phase .icons{
    display: inline-block;
    width: 78px;
    height: 78px;
    text-align: center;
    line-height: 78px;
    background:#E2E2E2;
    border-radius: 50%;
    margin: 26px 0 8px 0;
}
.phase a p{
    font-size: 15px;
    font-weight: bold;
    color: #ADADAD;
}
.phase .icons img{
    display: inline-block;
    margin: 20px;
}
.phase .active p{
    color: #36a3f7;
}
.phase .active .icons{
    background:#36a3f7;
}
.phase .active::before{
    background: #34bfa3;
}
.phase .line{
    position: relative;
}
.phase .line::before{
    content: "";
    display: inline-block;
    position: absolute;
    width: 132px;
    height: 3px;
    background: rgba(224,224,224,1);
    top: 65px;
    left: -67px;
}
.phase .active::before{
    background: #34bfa3;
}
.phase .done p{
    color: #34bfa3;
}
.phase .done .icons{
    background: #34bfa3;
}











.matter{
    margin: 15px;
}
.matter-title{
    padding-right: 10px;
}
.matter-title .title{
    font-size: 16px;
    font-weight: bold;
    color: #595959;
}
.matter-title span{
    line-height: 26px;
}
.matterIn{
    margin-top: 15px;
}
.matterIn li{
    width:876px;
    height:50px;
    background:rgba(255,255,255,1);
    border:1px solid rgba(232, 232, 232, 1);
    border-radius:4px;
    padding: 10px;
    line-height: 30px;
    cursor: pointer;
    margin-bottom: 12px;
}
.matterIn li:hover{
    color: #36A3F7;
}
.matterIn li:hover .dot{
    background: #36a3f7;
}









.committee li{
    display: inline-block;
    width: 208px;
    margin: 16px 0 0 14px;
}
.committee a{
    display: inline-block;
    width: 208px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border:1px solid #d9d9d9;
}
.committee a:hover{
	color: #36a3f7;
	border: 1px solid #36a3f7;
}
.committee a:active{
	background-color: #36a3f7;
	color: #fff;


}



/* 办件统计 */
.things{
    height: 254px;
    margin-top: 14px;
}
.section{
    border: 1px solid #e8e8e8;
    box-sizing: border-box;
}
.things .section1{
    float: left;
    width: 250px;
    height: 254px;
    margin-right: 14px;
}
.things .section2{
    float: left;
    width: 906px;
    height: 254px;
}
.sectionTitle{
    width: 100%;
    height: 38px;
    background: #f8f8f8;
    padding-right: 10px;
    line-height: 38px;
    box-sizing: border-box;
}
.sectionTitle h3{
    margin: 0 0 0 14px;
    font-size: 16px;
    float: left;
    padding-left: 12px;
    position: relative;
}
.sectionTitle h3:before{
    content: "";
    display: inline-block;
    position: absolute;
    left: -4px;
    top: 9px;
    width:5px;
    height:20px;
    background:rgba(54,163,247,1);
    border-radius:4px;
}
.sectionTitle a.more{
    float: right;
}
.sectionTitle a.more:hover{
	color: #36a1f7;
}
.stat{
    padding:12px 20px;
}
.stat li{
    width: 208px;
    height: 38px;
    line-height: 37px;
}
.stat h4{
    float: left;
}
.stat p{
    float: right;
}
.stat span{
    font-size: 16px;
    color: #ff4800;
    margin-right: 4px;
}
/* 公告动态 */
.trends {
    padding: 0 18px;
}
.trends li{
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #e8e8e8;
    cursor: pointer;
}
.trends .trendsCon{
    float: left;
}
.trendsCon:hover{
    color: #36a1f7;
}
.trendsCon span{
    color: #36a1f7;
    margin-right: 4px;
}
.trends .time{
    float: right;
    color: #999;
}

/* 办件查询 */
.search{
    width: 100%;
    height: 72px;
    background: url(../images/search-bg.png) no-repeat center center;
    margin: 14px 0;
}
.searchIn{
    float: left;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    line-height: 72px;
    padding-left: 90px;
    background: url(../images/things.png) no-repeat 30px center;
}
.searchIn input{
    margin: 20px 0;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #ccc;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #ccc;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #ccc;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #ccc;
}
.search .code{
    margin:20px 14px 20px 38px;
    border: 1px solid #ffffff;
}
.search .unit{
     width: 300px;
     margin: 20px 0;
     border: 1px solid #ffffff;
 }
.btn{
    width: 82px;
    height: 32px;
    border: none;
    border-radius: 4px;
    color: #36a1f7;
    padding-left: 20px;
    box-sizing: border-box;
    background:#fff url(../images/search.png) no-repeat 12px center;
    cursor: pointer;
}
.search .btn{
    margin: 18px;
}
/* 审批情况 */
.condition{
    margin: 14px 0;
}
.table{
    padding: 0 18px;
}
.table table{
    width: 100%;
    margin-bottom: 12px
}
.table tr{
    height: 54px;
    line-height: 54px;
    border-bottom: 1px solid #e8e8e8;
    cursor: pointer;
}
.table tr:hover .change{
    color: #36a1f7;
}
.table .tablTtitle{
    text-align: left;
    border-bottom: 2px solid rgba(180, 180, 180, 0.3);
}
.table .tablTtitle th{
    font-weight: bold;
	padding: 0 4px;
}
.condition .table td{
	padding: 0 4px;
}
.stateNormal{
    color: #36a3f7;
}
.stateAbnormal{
    color: #ff4800;
}

/* footer底部版权 */
.footer{
    height: 56px;
    line-height: 56px;
    background: #eef2f5;
    text-align: center;
}



/* 办事指南 */
.progress{
    width: 100%;
    height: 50px;
    margin: 18px 0;
}
.progress li{
    float: left;
    width: 242px;
    height: 50px;
    line-height: 50px;
    background: #e8eef2;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    padding-left: 60px;
}
.progress li:hover{
    background: #ceeaff;
    font-weight: bold;
}
.progress li:hover span{
    background: #36a3f7;
}
.progress li.line{
    margin-left: 65px;
    position: relative;
}
.progress li span{
    display: inline-block;
    width: 50px;
    height: 50px;
    font-size: 28px;
    background: #cfdae2;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    margin-right: 10px;
    position: absolute;
    left: 0px;
}
.progress .line:before{
    content: '';
    position: absolute;
    top: 25px;
    left: -72px;
    width:71px;
    height:1px;
    border-top: 4px dotted #c8cfd4;
    z-index: -1;
}
.progress li.current{
    background: #ceeaff;
    font-weight: bold;
}
.progress li.current span{
    background: #36a3f7;
}
.progress .current:before{
    border-top: 4px dotted #36a3f7;
}

/* 阶段事项 */
.items{
    padding:0 18px 18px 18px;
}
.items dl{
    margin-top: 20px;
}
.items dt{
    height: 46px;
    width: 100%;
    background: #e0f2ff;
    padding: 9px 16px;
}
.items dt .itemIitle{
    font-size: 16px;
    line-height: 16px;
    padding-left: 5px;
    border-left: 4px solid #36a3f7;
    margin-top: 6px;
}
.items dd{
    height: 45px;
    line-height: 45px;
    padding: 0 16px;
    border-bottom: 1px solid #e8e8e8;
}
.itemBtn{
    width: 96px;
    height: 26px;
    display: inline-block;
    border-radius: 14px;
    border:1px solid #d9d9d9;
    color: #36a3f7;
    line-height: 26px;
    text-align: center;
    margin-left: 8px;
    background: #fff;
    outline: none;
    cursor: pointer;
}
.itemBtn:hover{
    color: #1192f6;
    border-color: #1192f6;
    background: #fff;
}
/* 实心图标 */
.itemBtn1{
    background: #36a3f7;
    border:none;
    color: #fff;
}
.itemBtn1:hover{
    background: #1192f6;
    color: #fff;
}
/* 空心图标 */
.itemBtn2{
    background: #fff;
    border:1px solid #36a3f7;
    color: #36a3f7;
}
.itemBtn2:hover{
    background: #1192f6;
    color: #fff;
    border: none;
}
/* 橙色图标 */
.itemBtn-orange{
    width:80px;
    height:22px;
    line-height: 22px;
    background:rgba(247,186,54,1);
    border:1px solid rgba(247, 186, 54, 1);
    border-radius:11px;
    color: #fff;
}
.dot{
    display: inline-block;
    width:4px;
    height:4px;
    background:rgba(204,204,204,1);
    border-radius:50%;
    vertical-align: middle;
    margin-right: 5px;
}
/* .itemBtn:hover{
    cursor: default;
    color: #999;
} */
.itemBtn2:hover{
    cursor: pointer;
    color: #ffffff;
    background: #36a3f7;
}


/* 登录页 */
.loginBg {
    background-color: rgba(56, 133, 194,1);
    background: -webkit-linear-gradient(to bottom, #3885c2 0%, rgba(56, 133, 194, 0.3) 100%);
    background: -o-linear-gradient(to bottom, #3885c2 0%, rgba(56, 133, 194, 0.3) 100%);
    background: -moz-linear-gradient(to bottom, #3885c2 0%, rgba(56, 133, 194, 0.3) 100%);
    background: linear-gradient(to bottom, #3885c2 0%, rgba(56, 133, 194, 0.3) 100%);
}
.login{
    width: 540px;
    background: #fff;
    font-size: 18px;
    padding: 60px 42px;
    line-height: 1;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -270px;
    margin-top: -300px;
}
.account{
    height: 50px;
    background: #ceeaff;
}
.account li{
    width: 324px;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    cursor: pointer;
}
.account0{
    background: #36a3f7;
    color: #fff;
}
.loginIn li{
    margin-top: 30px;
}
.loginIn .lobby{
    margin-top: 10px;
}
input[type='text'],input[type='password'] {
    flex: 3;
    -ms-flex: 3;
    width: 100%;
    height: 48px;
    background: #fff;
    border: 1px solid #e8e8e8;
    padding: 0 10px;
    color: #45484b;
    outline: none;
}
.loginIn{
    margin-top: 80px;
    text-align: center;
}
.loginBtn{
    width: 100%;
    height: 48px;
    background: #3e97df;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    line-height: 48px;
    font-size: 16px;
    font-weight: bold;
}
.loginBtn:hover{
    background: #2994df;
}
.loginBtn2{
    background: #ceeaff;
    color: #333;
}
.loginBtn2:hover{
    color: #36a3f7;
    opacity: 0.9;
}
.login .forget{
    width: 500px;
    height: 30px;
    margin: 20px auto;
    font-size: 16px;
}
.login .error{
    width: 500px;
    height: 20px;
    margin: 20px auto;
    font-size: 16px;
    color:red;
    text-align: left;
}
.footerFix{
    width: 100%;
    position: fixed;
    bottom: 0;

}

.loginIn2{
    display: none;
}

/* 弹窗样式 */
.bgBlack{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    position: fixed;
    left: 0;
    top: 0;
    display: none;
}

.addProgram{
    width: 636px;
    /* height: 200px; */
    background: #ffffff;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -318px;
    margin-top: -200px;
    border-radius: 4px;
    display: none;
}
.addTitle{
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: linear-gradient( #36a3f7, #18d3fb);
    padding:0 16px;
    color: #fff;
    border-radius: 4px 4px 0 0;
}
.close{
    padding-top: 10px;
    cursor: pointer;
}
.searchCon{
    margin: 34px 48px;
}
.searchP{
    width: 540px;
    height: 36px;
    line-height: 36px;
    border-radius: 4px;
    border: 1px solid #d9d9d9;
    margin: 34px 48px;
}
.searchP input{
    width: 500px;
}
.searchP .searchS{
    padding: 8px;
    cursor: pointer;
}
.result{
    display: none;
}
.resuLtR{
    margin-left: 10px;
}
.resuLtR h3{
    font-weight: bold;
    line-height: 36px;
}
.resuLtR p{
    line-height: 30px;
}
.verify{
    text-align: right;
    margin: 40px 0;
}
.verify .btnBlue{
    margin-left: 12px;
}
.btnBase{
    line-height: 34px;
    padding: 0 20px;
    border-radius: 4px;
    border: 1px solid #d9d9d9;
    outline: none;
    cursor: pointer;
    display: inline-block;
}
.btnBlue{
    border: none;
    background: #36a3f7;
    color: #fff;
}
/* 预审阶段 */

.examine-done{
    position: absolute;
    right: 50px;
    top: 20px;
    display: inline-block;
    padding: 2px 8px;
    border-radius: 20px;
    color: #fff;
    background: #34bfa3;
    font-size: 12px;
}
.examine-in{
    position: absolute;
    right: 50px;
    top: 20px;
    display: inline-block;
    padding: 2px 8px;
    border-radius: 20px;
    color: #fff;
    background: #36a1f7;
    font-size: 12px; 
}
.examine-in-font{
    color: #36a3f7;
}
.examine-done-font{
    color: #34bfa3;
}



.phases{
    padding: 16px;
}
.phases .phases-in{
    margin: 0 0 14px 0;
}
.phases .phases-in span{
    color: #ff4800;
}
.phases-select{
    margin: 10px 0;
}
.phases-select .radiobox:before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid #36a3f7;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: -1px;
    left: -4px;
}

.phases-select input[type=radio]:checked:before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #36a3f7;
    position: absolute;
    top: 4px;
    left: 1px;
}
.phases-select .radiobox {
    position: relative;
    padding-left: 0;
    cursor: pointer;
    margin-left: 3px;
    margin-right: 20px;
}

/* 单选框 */
.radiobox{
    position: relative;
    padding-left: 10px;
    cursor: pointer;
    margin-left: 10px;
}
.radiobox:before{
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid #36a3f7;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: -1px;
    left: 7px;
}
input[type=radio]:checked:before{
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #36a3f7;
    position: absolute;
    top: 4px;
    left: 12px;
}
input[type=radio]{
    margin-right: 6px;
}

/* checkbox复选框样式 */

.checkbox {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    position: relative;
    font-size: 100%;
    margin-right: 20px;
}
label.checkbox {
    cursor: pointer;
}
input[type=checkbox]{
    margin-right: 12px;
}
input[type=checkbox]:before{
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    width: 1.35em;
    height: 1.35em;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 6px;
    content: '';
    border: 1px solid #36a3f7;
    background: #fff;
    border-radius: 3px;
}

input[type=checkbox]:checked:before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 1.35em;
    height: 1.35em;
    content: '';
    border: 1px solid #C0CCDA;
    border: #36a3f7;
    background: #36a3f7;
    animation-name: none;
    border-radius: 3px;
    box-sizing: border-box;
}
input[type=checkbox]:checked:after {
    position: absolute;
    top: 0.15em;
    left: 0.5em;
    box-sizing: border-box;
    width: 0.4em;
    height: 0.85em;
    transform: rotate(45deg);
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    position: absolute;
    display: none;
    content: '';
    box-sizing: border-box;
    display: block;
}
/* 单选框复选框结束 */
.submit{
    height: 34px;
    width: 100px;
    display: inline-block;
    text-align: center;
    background: #36a3f7;
    color: #ffffff;
    border: 1px solid #36a3f7;
    border-radius: 4px;
    line-height: 34px;
}
.submit:hover{
    color: #fff;
    opacity: 0.9;
}
/* 登录页 */
.loginTitle{
    font-size: 24px;
    text-align: center;
    /*margin:60px 0 38px 0;*/
}
.el-button--primary{
    background: #3e97df!important;
}
.loginBtn{
    padding: 0px;
}
.loginBtn:hover{
    color: #fff8f2;
    opacity: 0.95;
}


















