<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <title>在线查看</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <script>
        var ctx = '[[${ctx}]]'; // 后台返回
        var TANGER_OCX_OBJ;//控件对象
        var TANGER_OCX_bDocOpen = !1;//标记文档是否打开，默认false
        var opendoctype;              //文档类型
        //文档控件顶部标题栏是否显示
        function objTitleBar() {
            TANGER_OCX_OBJ.Titlebar = !TANGER_OCX_OBJ.Titlebar
        }
        //在谷歌或者火狐下面，和服务器交互是异步的方式。SaveTourl执行完后，文档数据的保存操作可能并没执行完。所以引入了保存完成后触发的事件。
        function ntkosavetourl(type,code,html) {
            //alert(type);
        }
        //将文件保存成HTML文件到URL触发
        function ntkopublishashtml(type,code,html){
        }
        //将文档控件中的文档转换为PDF文件并保存到URL触发
        function ntkopublishaspdf(type,code,html){
        }
        //将文件保存成其他文件到URL触发
        function ntkosaveasotherurl(type,code,html){

        }
    </script>
</head>
<!--初始化-->
<BODY onload="initInfo();">
<div id="ocxobject" style="width: 100%;height: 800px">
    <script type="text/javascript">
    /*------------------------------------------------------*/
    /*                   修改控件的配置信息                 */
    /*                   version:1.7.1                      */
    /*                   number:001                         */
    /*------------------------------------------------------*/
    //64位控件的calssid
    //var classidx64="A64E3073-2016-4baf-A89D-FFE1FAA10EE0";
    //var classidx64="A64E3073-2016-4baf-A89D-FFE1FAA10EE2";
    var classidx64 = "A64E3073-2016-4baf-A89D-FFE1FAA10EF2";

    //32位控件的classid
    //var classid="A64E3073-2016-4baf-A89D-FFE1FAA10EC0";
    //var classid="A64E3073-2016-4baf-A89D-FFE1FAA10EC2";
    var classid = "A64E3073-2016-4baf-A89D-FFE1FAA10ED2";
    //32位控件包的路径
    var codebase = ctx + "ntko/plugin/ofctnewclsid.cab#version=6,0,1,0";
    //64位控件包的路径
    var codebase64 = ctx + "ntko/plugin/ofctnewclsidx64.cab#version=6,0,1,0";
    //设置高度
    // var height="800px";
    var height="100%";
    //设置宽度
    var width="100%";
    //买断授权密钥如果不是买断可以不用写
    var MakerCaption = "广州奥格智能科技有限公司";
    //买断授权密钥如果不是买断可以不用写
    var MakerKey = "E60E036F5A09C1A9558295DFEDAD872FE71C75BB";
    //密钥
    var ProductCaption = "唐山市工程建设项目联合审批系统";
    //密钥
    var ProductKey = "02BB10247C0B58CDD816511E891277D590B1717A";

    var pluginUrl = '';//pdf插件


    /*------------------------------------------------------*/
    /*             以下内容 请勿修改，否则可能出错                                                              */
    /*------------------------------------------------------*/

    var userAgent = navigator.userAgent,
        rMsie = /(msie\s|trident.*rv:)([\w.]+)/,
        rFirefox = /(firefox)\/([\w.]+)/,
        rOpera = /(opera).+version\/([\w.]+)/,
        rChrome = /(chrome)\/([\w.]+)/,
        rSafari = /version\/([\w.]+).*(safari)/;
    var browser;
    var version;
    var ua = userAgent.toLowerCase();
    function uaMatch(ua) {
        var match = rMsie.exec(ua);
        if (match != null) {
            return { browser : "IE", version : match[2] || "0" };
        }
        var match = rFirefox.exec(ua);
        if (match != null) {
            return { browser : match[1] || "", version : match[2] || "0" };
        }
        var match = rOpera.exec(ua);
        if (match != null) {
            return { browser : match[1] || "", version : match[2] || "0" };
        }
        var match = rChrome.exec(ua);
        if (match != null) {
            return { browser : match[1] || "", version : match[2] || "0" };
        }
        var match = rSafari.exec(ua);
        if (match != null) {
            return { browser : match[2] || "", version : match[1] || "0" };
        }
        if (match != null) {
            return { browser : "", version : "0" };
        }
    }
    var browserMatch = uaMatch(userAgent.toLowerCase());
    if (browserMatch.browser) {
        browser = browserMatch.browser;
        version = browserMatch.version;
    }
    //document.write(browser);

    if (browser=="IE"){
        if (window.navigator.platform == "Win32") {
            pluginUrl = ctx + "/ntko/plugin/ntkooledocall.cab";
            document.write('<!-- 用来产生编辑状态的ActiveX控件的JS脚本-->   ');
            document.write('<!-- 因为微软的ActiveX新机制，需要一个外部引入的js-->   ');
            document.write('<object id="TANGER_OCX" classid="clsid:' + classid + '"');
            document.write('codebase="' + codebase + '" width="' + width + '" height="' + height + '">   ');
            document.write('<param name="MakerCaption" value="' + MakerCaption + '">   ');
            document.write('<param name="MakerKey" value="' + MakerKey + '">   ');
            document.write('<param name="ProductCaption" value="' + ProductCaption + '">   ');
            document.write('<param name="ProductKey" value="' + ProductKey + '">   ');
            document.write('<param name="IsUseUTF8URL" value="-1">   ');
            document.write('<param name="IsUseUTF8Data" value="-1">   ');
            document.write('<param name="Caption" value="NTKO OFFICE文档控件示例演示 http://www.ntko.com">   ');
            document.write('<SPAN STYLE="color:red">不能装载文档控件。请在检查浏览器的选项中检查浏览器的安全设置。</SPAN>   ');
            document.write('</object>');
        }
        if (window.navigator.platform == "Win64") {
            pluginUrl = ctx + "/ntko/plugin/ntkooledocallx64.cab";
            document.write('<!-- 用来产生编辑状态的ActiveX控件的JS脚本-->   ');
            document.write('<!-- 因为微软的ActiveX新机制，需要一个外部引入的js-->   ');
            document.write('<object id="TANGER_OCX" classid="clsid:' + classidx64 + '"');
            document.write('codebase="' + codebase64 + '" width="' + width + '" height="' + height + '">   ');
            document.write('<param name="MakerCaption" value="' + MakerCaption + '">   ');
            document.write('<param name="MakerKey" value="' + MakerKey + '">   ');
            document.write('<param name="ProductCaption" value="' + ProductCaption + '">   ');
            document.write('<param name="ProductKey" value="' + ProductKey + '">   ');
            document.write('<param name="IsUseUTF8URL" value="-1">   ');
            document.write('<param name="IsUseUTF8Data" value="-1">   ');
            document.write('<param name="Caption" value="NTKO OFFICE文档控件示例演示 http://www.ntko.com">   ');
            document.write('<SPAN STYLE="color:red">不能装载文档控件。请在检查浏览器的选项中检查浏览器的安全设置。</SPAN>   ');
            document.write('</object>');
        }
    }
    else if (browser == "firefox") {
        document.write('<object id="TANGER_OCX" type="application/ntko-plug"  codebase="' + codebase + '" width="' + width + '" height="' + height + '" ForOnSaveToURL="ntkosavetourl"  ForOndocumentopened="ntkoondocumentopened"');
        document.write('ForOnpublishAshtmltourl="ntkopublishashtml"');
        document.write('ForOnpublishAspdftourl="ntkopublishaspdf"');
        document.write('ForOnSaveAsOtherFormatToUrl="ntkosaveasotherurl"');
        document.write('_MakerCaption="' + MakerCaption + '"  ');
        document.write('_MakerKey="' + MakerKey + '"  ');
        document.write('_ProductCaption="' + ProductCaption + '"  ');
        document.write('_ProductKey="' + ProductKey + '"   ');
        document.write('clsid="{' + classid + '}" >');
        document.write('<SPAN STYLE="color:red">尚未安装NTKO Web FireFox跨浏览器插件</SPAN>   ');
        document.write('</object>   ');
    }else if(browser=="chrome"){
        document.write('<object id="TANGER_OCX" clsid="{' + classid + '}"  ForOnSaveToURL="ntkosavetourl"  ForOndocumentopened="ntkoondocumentopened"');
        document.write('ForOnpublishAshtmltourl="ntkopublishashtml"');
        document.write('ForOnpublishAspdftourl="ntkopublishaspdf"');
        document.write('ForOnSaveAsOtherFormatToUrl="ntkosaveasotherurl"');
        document.write('_IsUseUTF8URL="-1"   ');
        document.write('_IsUseUTF8Data="-1"   ');
        document.write('_MakerCaption="' + MakerCaption + '"  ');
        document.write('_MakerKey="' + MakerKey + '"  ');
        document.write('_ProductCaption="' + ProductCaption + '"  ');
        document.write('_ProductKey="' + ProductKey + '"   ');
        document.write('codebase="' + codebase + '" width="' + width + '" height="' + height + '" type="application/ntko-plug" ');
        document.write('<SPAN STYLE="color:red">尚未安装NTKO Web Chrome跨浏览器插件</SPAN>   ');
        document.write('</object>');
    } else if (Sys.opera) {
        alert("sorry,ntko web印章暂时不支持opera!");
    } else if (Sys.safari) {
        alert("sorry,ntko web印章暂时不支持safari!");
    }
    //触发跨浏览插件的方法
    //ie关闭方法
    window.onunload = function () {
        window.opener.ntkoCloseEvent();
    }

    //ie,谷歌，火狐传值
    var ntkoBrowser = {
        ntkoSetReturnValueToParentPage: function (data1, text1) {
            try {
                window.external.SetReturnValueToParentPage(data1, text1);
            } catch (err) {
                if (browser == "IE") {
                    window.opener.ieattachEventntko(data1, text1);
                    //window.opener.postMessage({type:"ntkowordie",text:'{"ntkodata":"'+data1+'","ntkotext":"'+text1+'"}'},"*");
                }
            }
        }

    }
</script>
</div>
    <script type="text/javascript">
        var fileUrl = '[[${fileUrl}]]';
        var suffixName = '[[${suffixName}]]';

        //覆盖文档打开回调方法
        function ntkoondocumentopened(str, doc) {
            TANGER_OCX_bDocOpen = !0;//true
            //当前打开的文档类型 0=没有文档；100 =其他文档类型；1=word；2=Excel.Sheet或者 Excel.Chart ；
            // 3=PowerPoint.Show；4= Visio.Drawing； 5=MSProject.Project；6= WPS Doc；7=Kingsoft.Sheet
            opendoctype = TANGER_OCX_OBJ.DocType;
            //saved属性用来判断文档是否被修改过,文档打开的时候设置成ture,当文档被修改,自动被设置为false,该属性由office提供.
            //当电脑上安装的office没有激活的会报错。
            // TANGER_OCX_OBJ.activeDocument.saved=true;
            console.log("覆盖成功");
            if (TANGER_OCX_bDocOpen) {                      //当文档完全打开
                // prohibitOperate();                          //设置禁用的操作
                // officeToolBar();                            //不显示工具栏
                TANGER_OCX_OBJ.SetReadOnly(true);        //只读模式
            }
        }

        function prohibitOperate() {
            TANGER_OCX_OBJ.FileNew = false;          //禁止文件菜单的新建项
            TANGER_OCX_OBJ.FileOpen = false;        //禁止文件菜单的打开项
            TANGER_OCX_OBJ.FileClose = false;       //禁止文件菜单的关闭项
            TANGER_OCX_OBJ.FileSave = false;        //禁止文件菜单的保存项
            TANGER_OCX_OBJ.FileSaveAs = false;      //禁止文件菜单的另存为项
        }

        function initInfo() {
            TANGER_OCX_OBJ = document.getElementById("TANGER_OCX");
            //判断chrome的版本是否大于54，若大于54，使用代理解决问题
            //本段代码一般放在TANGER_OCX_OBJ = document.getElementById("TANGER_OCX");代码后面。
            var brower;
            var regStr_Chrome = /chrome\/[\d.]+/gi;
            var agent = navigator.userAgent.toLowerCase();
            if (agent.indexOf("chrome") > 0) {
                brower = agent.match(regStr_Chrome);
            }
            var verinfo = (brower + "").replace(/[^0-9.]/ig, "");
            var uVerinfo = parseFloat(verinfo);
            if (uVerinfo > 54) {
                TANGER_OCX_OBJ = new Proxy(TANGER_OCX_OBJ, {
                    set: function (target, key, value, proxy) {
                        var func = target["setattribute"];
                        var args = new Array();
                        args[0] = key;
                        args[1] = value;
                        return (Reflect.apply(func, target, args));
                    },
                    get: function (target, key, proxy) {
                        var value = target[key];
                        if (typeof value == 'function') { // 为函数
                            return function () {
                                return Reflect.apply(value, target, arguments);
                            };
                        } else
                            return (value);
                    }
                });
            }
            // if(pluginUrl == '') pluginUrl = ctx + "/ui-static/aplanmis/ntko/ntkooledocall.cab";
            if (window.navigator.platform == "Win64") {
                pluginUrl = ctx + "/static/ntko/plugin/ntkooledocallx64.cab";
            } else {
                pluginUrl = ctx + "/static/ntko/plugin/ntkooledocall.cab";
            }
            TANGER_OCX_OBJ.AddDocTypePlugin(".pdf", "PDF.NtkoDocument", "4.0.2.0", pluginUrl, 51, true);//加载pdf插件
            objTitleBar();                                  //不显示标题
            // TANGER_OCX_OBJ.FullScreenMode = true;       //全屏打开
            openFile();
        }

        //打开文档
        function openFile() {
            var suffixs = ['.pdf', '.doc', '.docx', '.xls', '.xlsx', '.ppt', '.pptx'];//打开pdf、word、excel、ppt文件
            if (suffixs.indexOf(suffixName) != -1){
                TANGER_OCX_OBJ.BeginOpenFromURL(ctx + fileUrl, true);
            }
        }
    </script>
</BODY>
</HTML>