<!--@Author: ZL-->
<!--@Date:   2019/06/13-->
<!--@Last Modified by:   ZL-->
<!--@Last Modified time: $ $-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <title>奥格中介服务网上超市</title>
	<link href="../../../static/zjcs/common/images/favicon.ico" rel="shortcut icon" th:href="@{/zjcs/common/images/favicon.ico}">
	<link href="/framework-ui/src/main/resources/static/agcloud/framework/js-lib/element-2/element.css" rel="stylesheet" th:href="@{/agcloud/framework/js-lib/element-2/element.css}"/>
	<link href="/framework-ui/src/main/resources/static/agcloud/framework/icon-lib/agcloud-fonts/iconfont.css" rel="stylesheet" th:href="@{/agcloud/framework/icon-lib/agcloud-fonts/iconfont.css}">
	<link href="../../../static/zjcs/common/css/reset.css" rel="stylesheet" th:href="@{/zjcs/common/css/reset.css}">
	<link href="../../../static/zjcs/procurementNotice/css/index.css" rel="stylesheet" th:href="@{/zjcs/procurementNotice/css/index.css}"></link>

	<script>
		var ctx = '[[@{/}]]';
	</script>
</head>
<body>
<div id="index" v-cloak>
	<div class="header">
		<iframe frameborder="0" src="../common/header.html" th:src="@{../header.html}"></iframe>
	</div>
	<div :style="{minHeight:contentMinHeight+'px'}" class="main-content clearfix">
		<el-form :model="searchData" class="search-form clearfix" label-width="100px" ref="searchFrom">
			<el-col :span="12">
				<el-form-item label="项目名称">
					<el-input placeholder="请输入" v-model="searchData.projName"></el-input>
				</el-form-item>
			</el-col>
			<el-col :span="12">
				<el-form-item label="项目业主">
					<el-input placeholder="请输入" v-model="searchData.applicant">
						<el-button @click="getPublicProjPurchaseList()" slot="append"> 搜索</el-button>
					</el-input>
				</el-form-item>
			</el-col>
			<el-col :span="24">
				<el-form-item class="service-id" label="服务类型">
					<el-checkbox-group v-model="searchData.serviceIdList">
						<el-col :span="6" v-for="item in serviceIdListShow">
							<el-checkbox :key="item.serviceId" :label="item.serviceId" name="serviceId">{{item.serviceName}}
							</el-checkbox>
						</el-col>
					</el-checkbox-group>
					<el-button @click="toggleShow()" class="show-more" size="mini" v-show="serviceIdList.length>3">
						{{showMoreServiceId?'展开':'收起'}} <i :class="showMoreServiceId?'el-icon-arrow-down':'el-icon-arrow-up'"></i>
					</el-button>
				</el-form-item>
			</el-col>
			<el-col :span="12">
				<el-form-item label="发布时间">
					<el-col :span="11">
						<el-form-item>
							<el-date-picker placeholder="选择日期" style="width: 100%;" type="date" v-model="searchData.startTime"></el-date-picker>
						</el-form-item>
					</el-col>
					<el-col :span="2" class="line">至</el-col>
					<el-col :span="11">
						<el-form-item>
							<el-date-picker placeholder="选择日期" style="width: 100%;" v-model="searchData.endTime"></el-date-picker>
						</el-form-item>
					</el-col>
				</el-form-item>
			</el-col>
			<el-col :span="12">
				<el-form-item label="竞价类型">
					<el-select placeholder="请选择" v-model="searchData.biddingType">
						<el-option label="随机中标" value="1"></el-option>
						<el-option label="自主选择" value="2"></el-option>
					</el-select>
				</el-form-item>
			</el-col>
		</el-form>
		<el-table :data="purchaseList.rows" style="width: 100%">
			<el-table-column label="项目" prop="projName">
				<template slot-scope="scope">
					<a :href="'details.html?projPurchaseId='+scope.row.projPurchaseId" target="_blank"> {{scope.row.projName}}</a>
				</template>
			</el-table-column>
			<el-table-column label="项目业主" prop="applicant"></el-table-column>
			<el-table-column label="服务类型" prop="serviceName" width="200px"></el-table-column>
			<el-table-column label="发布时间" prop="publishTime" width="200px">
				<template slot-scope="scope">
					{{scope.row.publishTime | formatDate}}
				</template>
			</el-table-column>
		</el-table>
		<el-pagination :page-size="pageSize"
		               :page-sizes="[10, 20, 30, 50]"
		               :pager-count="5"
		               :total="purchaseList.total"
		               @current-change="handleCurrentChange"
		               @size-change="handleSizeChange"
		               align="right"
		               background
		               layout="total,sizes, prev, pager, next, jumper"
		               v-if="purchaseList.total>9">
		</el-pagination>
	</div>
	<div :class="isScroll?'':'fixed-bottom'" class="footer">
		<iframe frameborder="0" src="../common/footer.html" th:src="@{../footer.html}"></iframe>
	</div>
</div>
<script src="/framework-ui/src/main/resources/static/agcloud/framework/js-lib/jquery-v1/jquery.min.js" th:src="@{/agcloud/framework/js-lib/jquery-v1/jquery.min.js}"></script>
<script src="/framework-ui/src/main/resources/static/agcloud/framework/js-lib/vue-v2/vue.js" th:src="@{/agcloud/framework/js-lib/vue-v2/vue.js}"></script>
<script src="/framework-ui/src/main/resources/static/agcloud/framework/js-lib/element-2/element.js" th:src="@{/agcloud/framework/js-lib/element-2/element.js}"></script>
<!--<script src="/framework-ui/src/main/resources/static/agcloud/framework/js-lib/agcloud-lib/js/common.js" th:src="@{/agcloud/framework/js-lib/agcloud-lib/js/common.js}"></script>-->
<script src="../../../static/common/js/common.js" th:src="@{/common/js/common.js}"></script>
<script src="../../../static/zjcs/procurementNotice/js/index.js" th:src="@{/zjcs/procurementNotice/js/index.js}"></script>
</body>
</html>
