<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>施工图审查信息</title>
  <link rel="stylesheet" href="../../../../../../../framework-ui/src/main/resources/static/agcloud/framework/js-lib/element-2/element.css" th:href="@{/agcloud/framework/js-lib/element-2/element.css}" />
  <link rel="stylesheet" href="../../../../../../../framework-ui/src/main/resources/static/agcloud/framework/icon-lib/agcloud-fonts/iconfont.css" th:href="@{/agcloud/framework/icon-lib/agcloud-fonts/iconfont.css}">
  <link rel="stylesheet" href="../../static/form/css/constructReview.css" th:href="@{/form/css/constructReview.css}">
  <script>
    var ctx = '[[@{/}]]';
    var projInfoId= '[[${projInfoId}]]'; 
  // var ctx = 'http://192.168.32.48:8083/aplanmis-front/';
  // var ctx = 'http://192.168.17.15:8083/aplanmis-front/';
  // var ctx = 'http://192.168.15.26:8083/aplanmis-front/';

  </script>
</head>

<body>
  <div class='loading' v-if="pageLoading">
    <div class="tips">
      <i class="el-icon-loading"></i>
      <p>请稍后</p>
    </div>
  </div>
  <div id="app" v-cloak>
    <el-collapse v-model="activeNames">
      <!--  基本信息  start  -->
      <el-collapse-item class="clearfix" name="1" id="baseInfo">
        <template slot="title">
          <i class="header-icon icon ag ag-project-info"></i>施工图审查信息
        </template>
        <el-form label-width="220px" :model="formData" ref="form" :rules="rules" v-if="formData">
          <el-form-item prop="drawingId" v-show='false'>
            <el-input v-model="formData.drawingId"></el-input>
          </el-form-item>
          <div class="clearfix">
            <el-form-item class="input-inline" prop="provinceProjCode" label="省级项目编号">
              <el-input v-model="formData.provinceProjCode" placeholder="请输入省级项目编号"></el-input>
            </el-form-item>
            <el-form-item class="input-inline" prop="drawingQuabookCode" label='施工图审查合格书编号'>
              <el-input v-model="formData.drawingQuabookCode" placeholder="请输入施工图审查合格书编号"></el-input>
            </el-form-item>
          </div>
          <div class="clearfix">
            <el-form-item class="input-inline" required label="投资额（万元）" prop="inverstmentMoeny">
              <el-input v-model="formData.inverstmentMoeny" placeholder="请输入投资额"></el-input>
            </el-form-item>
            <el-form-item class="input-inline" label="图审面积（平方米）" prop="approveDrawingArea">
              <el-input v-model="formData.approveDrawingArea" placeholder="请输入图审面积"></el-input>
            </el-form-item>
          </div>
          <div class="clearfix">
            <el-form-item class="input-inline" label="开始审查日期" prop="approveStartTime">
              <el-date-picker v-model="formData.approveStartTime" type="date" format="yyyy 年 MM 月 dd 日" placeholder="请选择开始审查日期">
            </el-form-item>
            <el-form-item class="input-inline" label="审查完成日期" prop="approveEndTime">
              <el-date-picker v-model="formData.approveEndTime" type="date" placeholder="请选择审查完成日期" format="yyyy 年 MM 月 dd 日">
            </el-form-item>
          </div>
          <div class="clearfix">
            <el-form-item class="input-inline radio" label="一次审查是否通过" prop="isOncePass">
              <el-radio-group v-model="formData.isOncePass" style="width:390px;">
                <el-radio label="1">是</el-radio>
                <el-radio label="0">否</el-radio>
              </el-radio-group>
            </el-form-item>
            <el-form-item class="input-inline" label="一次审查时违反强条数" prop="oncePassAgainstCount">
              <el-input v-model="formData.oncePassAgainstCount" placeholder="请输入一次审查时违反强条数"></el-input>
            </el-form-item>
          </div>
          <div class="clearfix">
            <el-form-item class="input-inline" label="一次审查时违反的强条条目" prop="oncePassAgainstItem">
              <el-input v-model="formData.oncePassAgainstItem" placeholder="请输入一次审查时违反的强条条目"></el-input>
            </el-form-item>
          </div>
          <div class="clearfix">
            <el-form-item class="input-inline allWidth" label="施工图审查意见（终审）" prop="approveOpinion">
              <el-input v-model="formData.approveOpinion" type="textarea" rows="5" placeholder="请输入施工图审查意见"></el-input>
            </el-form-item>
          </div>
          <!-- <div class="clearfix">
  <el-form-item class="input-inline" label="审图确认时间" prop="approveConfirmTime">
    <el-date-picker v-model="formData.approveConfirmTime" type="date" placeholder="请选择审图确认时间" format="yyyy 年 MM 月 dd 日">
  </el-form-item>
  <el-form-item class="input-inline" label="审图确认的行政单位机构代码" prop="govOrgCode">
    <el-input v-model="formData.govOrgCode" placeholder="请输入审图确认的行政单位机构代码"></el-input>
  </el-form-item>
</div><div class="clearfix">
  <el-form-item class="input-inline" label="审图确认的行政单位名称" prop="govOrgName">
    <el-input v-model="formData.govOrgName" placeholder="请输入审图确认的行政单位名称"></el-input>
  </el-form-item>
  <el-form-item class="input-inline" label="审图确认的行政单位区域码" prop="govOrgAreaCode">
    <el-input v-model="formData.govOrgAreaCode" placeholder="请选择审图确认的行政单位区域码"></el-input>
  </el-form-item>
</div> -->
          <el-form-item class="form-title">
            <p class='header'>施工图审查机构</p>
          </el-form-item>
          <el-form label-width="220px" :model="formDataTuShen" ref="form2" :rules="rules2" v-if="formDataTuShen">
            <div class="clearfix">
              <el-form-item class="input-inline" prop="organizationalCode" label="组织机构代码">
                <el-input v-model="formDataTuShen.organizationalCode" placeholder="请输入组织机构代码"></el-input>
              </el-form-item>
              <el-form-item class="input-inline" prop="unifiedSocialCreditCode" label='统一社会信用代码'>
                <el-input v-model="formDataTuShen.unifiedSocialCreditCode" placeholder="请输入统一社会信用代码"></el-input>
              </el-form-item>
            </div>
            <div class="clearfix">
              <el-form-item class="input-inline" prop="applicant" label="单位名称">
                <!-- <el-input v-model="formDataTuShen.applicant" placeholder="请输入单位名称"></el-input> -->
                <el-autocomplete :trigger-on-focus="false" :fetch-suggestions="querySearchJiansheName" @select="function(value) {selUnitInfo(value,formDataTuShen)}" v-model="formDataTuShen.applicant" placeholder="请输入单位名称">
                </el-autocomplete>
              </el-form-item>
              <el-form-item class="input-inline" prop="unitType" label='项目主体类型'>
                <!-- <el-select @change='forceUpdate' v-model="formDataTuShen.unitType" placeholder="请选择项目主体类型">
                  <el-option :label="item.itemName" :value="item.itemCode" v-for="item in proType"></el-option>
                  <el-option label="施工图审查" value="13"></el-option>
                </el-select> -->
                <el-input value="施工图审查" disabled></el-input>
              </el-form-item>
            </div>
            <div class="clearfix">
              <el-form-item class="input-inline" prop="projectLeader" label="图审机构项目负责人">
                <el-select @change='forceUpdate' v-model="formDataTuShen.projectLeader" filterable placeholder="请选择图审机构项目负责人" @click.native="getPerson(formDataTuShen)" style="width:68%;">
                  <el-option :label="item.addressName" :value="item.addressId" v-for="item in person" @click.native="selTypeLinkman(formDataTuShen,item)"></el-option>
                </el-select>
                <el-button icon="el-icon-edit-outline" type="primary" class="item-left-btn" @click="addEditManModalFlag='edit';edit(formDataTuShen,'')" title="编辑" style="margin-left:5px;float:right;"></el-button>
                <el-button icon="el-icon-circle-plus-outline" type="primary" class="item-left-btn" @click="addPerson(formDataTuShen);addEditManModalFlag='add'" title="新增" style="margin-left:3px;float:right;"></el-button>
              </el-form-item>
              <el-form-item class="input-inline" prop="projectLeaderCertNum" label='图审机构项目负责人身份证号码'>
                <el-input v-model="formDataTuShen.projectLeaderCertNum" placeholder="请输入图审机构项目负责人身份证号码" disabled></el-input>
              </el-form-item>
            </div>
            <div class="clearfix">
              <el-form-item class="input-inline" prop="linkmanType" label='承担角色'>
                <el-select @change='forceUpdate' v-model="formDataTuShen.linkmanType" placeholder="请输入承担角色">
                  <!-- <el-option :label="item.itemName" :value="item.itemCode" v-for="item in linkmanType"></el-option> -->
                  <el-option label="施工图审查机构项目负责人" value="502001"></el-option>
                </el-select>
              </el-form-item>
              <el-form-item class="input-inline" prop="professionCertType" label="执行注册证类型">
                <el-select @change='forceUpdate' v-model="formDataTuShen.professionCertType" placeholder="请选择执行注册证类型">
                  <el-option :label="item.itemName" :value="item.itemCode" v-for="item in CertifiType"></el-option>
                </el-select>
              </el-form-item>
            </div>
            <div class="clearfix">
              <el-form-item class="input-inline" prop="professionSealNum" label="执业印章号">
                <el-input v-model="formDataTuShen.professionSealNum" placeholder="请输入执业印章号"></el-input>
              </el-form-item>
              <el-form-item class="input-inline" prop="titleGrade" label='职称等级'>
                <el-select @change='forceUpdate' v-model="formDataTuShen.titleGrade" placeholder="请选择职称等级">
                  <el-option :label="item.itemName" :value="item.itemCode" v-for="item in jobTitle"></el-option>
                </el-select>
              </el-form-item>
            </div>
            <div class="clearfix">
              <el-form-item class="input-inline" prop="titleCertNum" label="职称证号">
                <el-input v-model="formDataTuShen.titleCertNum" placeholder="请输入职称证号"></el-input>
              </el-form-item>
              <el-form-item class="input-inline" prop="prjSpty" label='审查专业'>
                <el-select @change='forceUpdate' v-model="formDataTuShen.prjSpty" placeholder="请选择审查专业">
                  <el-option :label="item.itemName" :value="item.itemCode" v-for="item in prjType"></el-option>
                </el-select>
              </el-form-item>
            </div>
            <div class="clearfix">
              <el-form-item class="input-inline allWidth" label="人员设置" prop="induCommRegNum">
                <el-row class="linkman-set-item" v-for="(type,index) in formDataTuShen.linkmen" :key="index">
                  <el-col :span="1">
                    <el-button v-if="index==0" icon="el-icon-circle-plus-outline" type="primary" class="item-left-btn" @click="addLinkmanTypes(formDataTuShen.linkmen,formDataTuShen)" title="新增"></el-button>
                    <el-button v-else icon="el-icon-remove-outline" type="primary" @click="delLinkmanTypes(formDataTuShen.linkmen,index)" class="item-left-btn" title="删除"></el-button>
                  </el-col>
                  <el-col :span="4">
                    <el-select @change='forceUpdate' v-model="type.linkmanType" placeholder="请选中人员类型">
                      <el-option v-for="item in linkmanType2" :key="item.itemId" :label="item.itemName" :value="item.itemCode" :disabled='item.disabled'>
                      </el-option>
                    </el-select>
                  </el-col>
                  <el-col :span="5">
                    <span><i>*</i>姓名</span>
                    <el-select @change='forceUpdate' v-model="type.linkmanName" filterable placeholder="请选择联系人" @click.native="getPerson(formDataTuShen)" :class="type.linkmanName?'':'red'">
                      <el-option v-for="item in person" :key="item.addressId" @click.native="selTypeLinkman2(type,item)" :label="item.addressName" :value="item.addressName">
                      </el-option>
                    </el-select>
                    <el-button icon="el-icon-circle-plus-outline" type="primary" class="item-left-btn" @click="add(formDataTuShen);addEditManModalFlag='add'" title="新增" style="margin-left:10px;height:33px;"></el-button>
                    <el-button icon="el-icon-edit-outline" type="primary" class="item-left-btn" @click="edit(type,formDataTuShen);addEditManModalFlag='edit'" title="编辑" style="margin-left:12px;height:33px;"></el-button>
                  </el-col>
                  <el-col :span="6">
                    <span><i>*</i>身份证号</span>
                    <el-input v-model="type.linkmanCertNo" placeholder="请输入身份证号" disabled></el-input>
                  </el-col>
                  <el-col :span="6">
                    <span><i>*</i>审查专业</span>
                    <el-select @change='forceUpdate' v-model="type.prjSpty" placeholder="请选择审查专业" @click.native="" :class="type.prjSpty?'':'red'">
                      <el-option v-for="item in prjType" :key="item.itemId" @click.native="" :label="item.itemName" :value="item.itemCode">
                      </el-option>
                    </el-select>
                  </el-col>
                </el-row>
              </el-form-item>
            </div>
          </el-form>
          <el-form-item class="form-title">
            <p class='header'>勘察单位</p>
          </el-form-item>
          <el-form label-width="220px" :model="formDataKanCha" ref="form3" :rules="rules3" v-if="formDataKanCha">
            <div class="clearfix">
              <el-form-item class="input-inline" prop="organizationalCode" label="组织机构代码">
                <el-input v-model="formDataKanCha.organizationalCode" placeholder="请输入组织机构代码"></el-input>
              </el-form-item>
              <el-form-item class="input-inline" prop="unifiedSocialCreditCode" label='统一社会信用代码'>
                <el-input v-model="formDataKanCha.unifiedSocialCreditCode" placeholder="请输入统一社会信用代码"></el-input>
              </el-form-item>
            </div>
            <div class="clearfix">
              <el-form-item class="input-inline" prop="applicant" label="单位名称">
                <!-- <el-input v-model="formDataKanCha.applicant" placeholder="请输入单位名称"></el-input> -->
                <el-autocomplete :trigger-on-focus="false" :fetch-suggestions="querySearchJiansheName" @select="function(value) {selUnitInfo(value,formDataKanCha)}" v-model="formDataKanCha.applicant" placeholder="请输入单位名称">
                </el-autocomplete>
              </el-form-item>
              <el-form-item class="input-inline" prop="unitType" label='项目主体类型'>
                <!--  <el-select @change='forceUpdate' v-model="formDataKanCha.unitType" placeholder="请选择项目主体类型">
                  <el-option :label="item.itemName" :value="item.itemCode" v-for="item in proType"></el-option>
                  <el-option label="工程勘察" value="4"></el-option>
                </el-select> -->
                <el-input value="工程勘察" disabled></el-input>
              </el-form-item>
            </div>
            <div class="clearfix">
              <el-form-item class="input-inline" prop="projectLeader" label="勘察单位项目负责人">
                <el-select @change='forceUpdate' v-model="formDataKanCha.projectLeader" filterable placeholder="请选择勘察单位项目负责人" @click.native="getPerson(formDataKanCha)" style="width:68%;">
                  <el-option :label="item.addressName" :value="item.addressId" v-for="item in person" @click.native="selTypeLinkman(formDataKanCha,item)"></el-option>
                </el-select>
                <el-button icon="el-icon-edit-outline" type="primary" class="item-left-btn" @click="addEditManModalFlag='edit';edit(formDataKanCha,'')" title="编辑" style="margin-left:5px;float:right;"></el-button>
                <el-button icon="el-icon-circle-plus-outline" type="primary" class="item-left-btn" @click="addPerson(formDataKanCha);addEditManModalFlag='add'" title="新增" style="margin-left:3px;float:right;"></el-button>
              </el-form-item>
              <el-form-item class="input-inline" prop="projectLeaderCertNum" label='勘察单位项目负责人身份证号码'>
                <el-input v-model="formDataKanCha.projectLeaderCertNum" placeholder="请输入勘察单位项目负责人身份证号码" disabled></el-input>
              </el-form-item>
            </div>
            <div class="clearfix">
              <el-form-item class="input-inline" prop="linkmanType" label='承担角色'>
                <el-select @change='forceUpdate' v-model="formDataKanCha.linkmanType" placeholder="请输入承担角色">
                  <!-- <el-option :label="item.itemName" :value="item.itemCode" v-for="item in linkmanType"></el-option> -->
                  <el-option label="勘查项目负责人" value="101001"></el-option>
                </el-select>
              </el-form-item>
              <el-form-item class="input-inline" prop="professionCertType" label="执行注册证类型">
                <el-select @change='forceUpdate' v-model="formDataKanCha.professionCertType" placeholder="请选择执行注册证类型">
                  <el-option :label="item.itemName" :value="item.itemCode" v-for="item in CertifiType"></el-option>
                </el-select>
              </el-form-item>
            </div>
            <div class="clearfix">
              <el-form-item class="input-inline" prop="professionSealNum" label="执业印章号">
                <el-input v-model="formDataKanCha.professionSealNum" placeholder="请输入执业印章号"></el-input>
              </el-form-item>
              <el-form-item class="input-inline" prop="titleGrade" label='职称等级'>
                <el-select @change='forceUpdate' v-model="formDataKanCha.titleGrade" placeholder="请选择职称等级">
                  <el-option :label="item.itemName" :value="item.itemCode" v-for="item in jobTitle"></el-option>
                </el-select>
              </el-form-item>
            </div>
            <div class="clearfix">
              <el-form-item class="input-inline" prop="titleCertNum" label="职称证号">
                <el-input v-model="formDataKanCha.titleCertNum" placeholder="请输入职称证号"></el-input>
              </el-form-item>
              <el-form-item class="input-inline" prop="prjSpty" label='审查专业'>
                <el-select @change='forceUpdate' v-model="formDataKanCha.prjSpty" placeholder="请选择审查专业">
                  <el-option :label="item.itemName" :value="item.itemCode" v-for="item in prjType"></el-option>
                </el-select>
              </el-form-item>
            </div>
          </el-form>
          <el-form-item class="form-title">
            <p class='header'>设计单位</p>
          </el-form-item>
          <el-form label-width="220px" :model="formDataSheJj" ref="form4" :rules="rules4" v-if="formDataSheJj">
            <div class="clearfix">
              <el-form-item class="input-inline" prop="organizationalCode" label="组织机构代码">
                <el-input v-model="formDataSheJj.organizationalCode" placeholder="请输入组织机构代码"></el-input>
              </el-form-item>
              <el-form-item class="input-inline" prop="unifiedSocialCreditCode" label='统一社会信用代码'>
                <el-input v-model="formDataSheJj.unifiedSocialCreditCode" placeholder="请输入统一社会信用代码"></el-input>
              </el-form-item>
            </div>
            <div class="clearfix">
              <el-form-item class="input-inline" prop="applicant" label="单位名称">
                <!-- <el-input v-model="formDataSheJj.applicant" placeholder="请输入单位名称"></el-input> -->
                <el-autocomplete :trigger-on-focus="false" :fetch-suggestions="querySearchJiansheName" @select="function(value) {selUnitInfo(value,formDataSheJj)}" v-model="formDataSheJj.applicant" placeholder="请输入单位名称">
                </el-autocomplete>
              </el-form-item>
              <el-form-item class="input-inline" prop="unitType" label='项目主体类型'>
                <!-- <el-select @change='forceUpdate' v-model="formDataSheJj.unitType" placeholder="请选择项目主体类型">
                  <el-option :label="item.itemName" :value="item.itemCode" v-for="item in proType"></el-option>
                  <el-option label="工程设计" value="3"></el-option>
                </el-select> -->
                <el-input value="工程设计" disabled></el-input>
              </el-form-item>
            </div>
            <div class="clearfix">
              <el-form-item class="input-inline" prop="projectLeader" label="设计单位项目负责人">
                <el-select @change='forceUpdate' v-model="formDataSheJj.projectLeader" filterable placeholder="请选择设计单位项目负责人" @click.native="getPerson(formDataSheJj)" style="width:68%;">
                  <el-option :label="item.addressName" :value="item.addressId" v-for="item in person" @click.native="selTypeLinkman(formDataSheJj,item)"></el-option>
                </el-select>
                <el-button icon="el-icon-edit-outline" type="primary" class="item-left-btn" @click="addEditManModalFlag='edit';edit(formDataSheJj,'')" title="编辑" style="margin-left:5px;float:right;"></el-button>
                <el-button icon="el-icon-circle-plus-outline" type="primary" class="item-left-btn" @click="addPerson(formDataSheJj);addEditManModalFlag='add'" title="新增" style="margin-left:3px;float:right;"></el-button>
              </el-form-item>
              <el-form-item class="input-inline" prop="projectLeaderCertNum" label='设计单位项目负责人身份证号码'>
                <el-input v-model="formDataSheJj.projectLeaderCertNum" placeholder="请输入设计单位项目负责人身份证号码" disabled></el-input>
              </el-form-item>
            </div>
            <div class="clearfix">
              <el-form-item class="input-inline" prop="linkmanType" label='承担角色'>
                <el-select @change='forceUpdate' v-model="formDataSheJj.linkmanType" placeholder="请输入承担角色">
                  <!-- <el-option :label="item.itemName" :value="item.itemCode" v-for="item in linkmanType"></el-option> -->
                  <el-option label="设计项目负责人" value="102001"></el-option>
                </el-select>
              </el-form-item>
              <el-form-item class="input-inline" prop="professionCertType" label="执行注册证类型">
                <el-select @change='forceUpdate' v-model="formDataSheJj.professionCertType" placeholder="请选择执行注册证类型">
                  <el-option :label="item.itemName" :value="item.itemCode" v-for="item in CertifiType"></el-option>
                </el-select>
              </el-form-item>
            </div>
            <div class="clearfix">
              <el-form-item class="input-inline" prop="professionSealNum" label="执业印章号">
                <el-input v-model="formDataSheJj.professionSealNum" placeholder="请输入执业印章号"></el-input>
              </el-form-item>
              <el-form-item class="input-inline" prop="titleGrade" label='职称等级'>
                <el-select @change='forceUpdate' v-model="formDataSheJj.titleGrade" placeholder="请选择职称等级">
                  <el-option :label="item.itemName" :value="item.itemCode" v-for="item in jobTitle"></el-option>
                </el-select>
              </el-form-item>
            </div>
            <div class="clearfix">
              <el-form-item class="input-inline" prop="titleCertNum" label="职称证号">
                <el-input v-model="formDataSheJj.titleCertNum" placeholder="请输入职称证号"></el-input>
              </el-form-item>
              <el-form-item class="input-inline" prop="prjSpty" label='审查专业'>
                <el-select @change='forceUpdate' v-model="formDataSheJj.prjSpty" placeholder="请选择审查专业">
                  <el-option :label="item.itemName" :value="item.itemCode" v-for="item in prjType"></el-option>
                </el-select>
              </el-form-item>
            </div>
            <div class="clearfix">
              <el-form-item class="input-inline allWidth" label="人员设置" prop="induCommRegNum">
                <el-row class="linkman-set-item" v-for="(type,index) in formDataSheJj.linkmen" :key="index">
                  <el-col :span="1">
                    <el-button v-if="index==0" icon="el-icon-circle-plus-outline" type="primary" class="item-left-btn" @click="addLinkmanTypes(formDataSheJj.linkmen,formDataSheJj)" title="新增"></el-button>
                    <el-button v-else icon="el-icon-remove-outline" type="primary" @click="delLinkmanTypes(formDataSheJj.linkmen,index)" class="item-left-btn" title="删除"></el-button>
                  </el-col>
                  <el-col :span="4">
                    <el-select @change='forceUpdate' v-model="type.linkmanType" placeholder="请选中人员类型">
                      <el-option v-for="item in linkmanType2" :key="item.itemId" :label="item.itemName" :value="item.itemCode" :disabled='item.disabled'>
                      </el-option>
                    </el-select>
                  </el-col>
                  <el-col :span="5">
                    <span><i>*</i>姓名</span>
                    <el-select @change='forceUpdate' v-model="type.linkmanName" filterable placeholder="请选择联系人" @click.native="getPerson(formDataSheJj)" :class="type.linkmanName?'':'red'">
                      <el-option v-for="item in person" :key="item.addressId" @click.native="selTypeLinkman2(type,item)" :label="item.addressName" :value="item.addressName">
                      </el-option>
                    </el-select>
                    <el-button icon="el-icon-circle-plus-outline" type="primary" class="item-left-btn" @click="add(formDataSheJj);addEditManModalFlag='add'" title="新增" style="margin-left:10px;height:33px;"></el-button>
                    <el-button icon="el-icon-edit-outline" type="primary" class="item-left-btn" @click="edit(type,formDataSheJj);addEditManModalFlag='edit'" title="编辑" style="margin-left:12px;height:33px;"></el-button>
                  </el-col>
                  <el-col :span="6">
                    <span><i>*</i>身份证号</span>
                    <el-input v-model="type.linkmanCertNo" placeholder="请输入身份证号" disabled></el-input>
                  </el-col>
                  <el-col :span="6">
                    <span><i>*</i>审查专业</span>
                    <el-select @change='forceUpdate' v-model="type.prjSpty" placeholder="请选择审查专业" @click.native="" :class="type.prjSpty?'':'red'">
                      <el-option v-for="item in prjType" :key="item.itemId" @click.native="" :label="item.itemName" :value="item.itemCode">
                      </el-option>
                    </el-select>
                  </el-col>
                </el-row>
              </el-form-item>
            </div>
          </el-form>
          <div class="right-bottom-btn">
            <el-button type="primary" class="save-jinbanUnit-info" icon="el-icon-wallet" @click="save(formData,formDataTuShen,formDataKanCha,formDataSheJj)">保存</el-button>
          </div>
      </el-collapse-item>
    </el-collapse>
    <!--新增编辑联系人 start-->
    <el-dialog :title="addEditManModalTitle" :visible.sync="addEditManModalShow" width="750px" class="dg-modal-add-linkmain-info" @close="">
      <el-form :model="addEditManform" class="dialog" ref="addEditManform" label-width="180px" :rules="addLinkManRules">
        <el-form-item label="所在单位：" required>
          <!-- <el-select @change='forceUpdate'v-model="addEditManform.unitName" placeholder="请选择单位">
            <el-option v-for="(item,index) in unitInfoIdList" :key="index" :label="item.applicant" :value="item.unitInfoId"></el-option>
          </el-select> -->
          <el-input v-model="addEditManform.unitName" placeholder="" disabled></el-input>
        </el-form-item>
        <el-form-item label="联系人姓名：" prop="linkmanName">
          <el-input v-model="addEditManform.linkmanName" placeholder="请输入联系人姓名"></el-input>
        </el-form-item>
        <el-form-item label="证件号：" prop="linkmanCertNo">
          <el-input v-model="addEditManform.linkmanCertNo" placeholder="请输入联系人证件号"></el-input>
        </el-form-item>
        <el-form-item label="手机号码：" prop="linkmanMobilePhone">
          <el-input v-model="addEditManform.linkmanMobilePhone" placeholder="请输入联系人手机号码"></el-input>
        </el-form-item>
        <el-form-item label="办公电话：">
          <el-input v-model="addEditManform.linkmanOfficePhon"></el-input>
        </el-form-item>
        <el-form-item label="传真：">
          <el-input v-model="addEditManform.linkmanFax"></el-input>
        </el-form-item>
        <el-form-item label="电子邮件：">
          <el-input v-model="addEditManform.linkmanMail"></el-input>
        </el-form-item>
        <el-form-item label="联系人住址：">
          <el-input v-model="addEditManform.linkmanAddr"></el-input>
        </el-form-item>
        <el-form-item label="备注：">
          <el-input v-model="addEditManform.linkmanMemo"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="addEditManModalShow = false">取 消</el-button>
        <el-button type="primary" @click="saveAeaLinkmanInfo('u')">确 定</el-button>
      </div>
    </el-dialog>
    <!--新增编辑联系人 end-->
  </div>
  <script src="../../../../../../../framework-ui/src/main/resources/static/agcloud/framework/js-lib/jquery-v1/jquery.min.js" th:src="@{/agcloud/framework/js-lib/jquery-v1/jquery.min.js}"></script>
  <script src="../../../../../../../framework-ui/src/main/resources/static/agcloud/framework/js-lib/vue-v2/vue.js" th:src="@{/agcloud/framework/js-lib/vue-v2/vue.js}"></script>
  <script src="../../../../../../../framework-ui/src/main/resources/static/agcloud/framework/js-lib/element-2/element.js" th:src="@{/agcloud/framework/js-lib/element-2/element.js}"></script>
  <script src="../../../../../../../framework-ui/src/main/resources/static/agcloud/framework/js-lib/agcloud-lib/js/common.js" th:src="@{/agcloud/framework/js-lib/agcloud-lib/js/common.js}"></script>
  <script type="text/javascript" src="../../static/form/js/constructReview.js" th:src="@{/form/js/constructReview.js}"></script>
</body>

</html>