<!-- <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>政策法规</title>
  <link rel="stylesheet" href="../../static/mall/css/regulation/regulationIndex.css"
    th:href="@{/mall/css/regulation/regulationIndex.css}">
  <script>
    var ctx = "[[@{/}]]";
    // var ctx = "http://192.168.15.101:8085/aplanmis-mall/";
  </script>
</head>

<body> -->
  <link rel="stylesheet" href="../../static/mall/css/regulation/regulationIndex.css"
  th:href="@{/mall/skin_v4.1/css/regulation/regulationIndex.css}">
  <div class="regular-wrap" id="regularPage" v-cloak v-loading.fullscreen.lock="loading">
    <!-- title -->
    <div class="nav-wrap">
      <div class="tab-item" :class="[item.tabIndex==activeTab? 'active': '']" v-for="item in allTabList"
        :key="item.tabIndex" @click="switchTab(item)">{{item.name}}</div>
    </div>
    <!-- content -->
    <div class="cur-list-wrap">
      <div class="title">
        <h2>{{allTabList[activeTab].name}}</h2>
      </div>
      <el-table :data="list" class="scrollable mt20" style="width: 100%;" :header-cell-style="{background:'#f7f8fa',height: '60px'}">
        <el-table-column label="文件名称" :show-overflow-tooltip ="true">
          <template slot-scope="scope">
            <p>{{(Number(scope.$index) + 1 + '.') + scope.row.legalName || '-'}}</p>
          </template>
        </el-table-column>
        <el-table-column label="操作" width="100">
          <template slot-scope="scope">
            <a class="color-link" href="javascript:;" @click="jumpToView(scope.row)">查看</a>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination class="margin-top-20" background align="right" @size-change="handleSizeChange"
        @current-change="handleCurrentChange" :page-sizes="[10, 20, 30, 50]" :page-size="checkData.pageSize"
        :current-page="checkData.pageNum" layout="total,sizes, prev, pager, next, jumper" :total="total"
        v-show="total>10">
      </el-pagination>
    </div>
  </div>

  <script src="../../static/mall/js/regulation/regulationIndex.js"
    th:src="@{/mall/skin_v4.1/js/regulation/regulationIndex.js}" type="text/javascript"></script>
<!-- </body>

</html> -->