<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--created by 98213    2019-09-18 10:32:41 -->
<!--0 一些前置信息配置 -->
<mapper namespace="com.augurit.aplanmis.common.mapper.AeaAnaWinYearStatisticsMapper">
    <!--1 返回所有字段的SQL字句 -->
    <sql id="allColumns">
    WINDOW_YEAR_STATISTICS_ID  windowYearStatisticsId,
    STATISTICS_RECORD_ID  statisticsRecordId,
    WINDOW_ID  windowId,
    WINDOW_NAME  windowName,
    REGION_ID  regionId,
    REGION_NAME  regionName,
    APPLY_SOURCE  applySource,
    APPLY_RECORD_ID  applyRecordId,
    APPLY_RECORD_NAME  applyRecordName,
    DYBZSPJDXH  dybzspjdxh,
    IS_NODE  isNode,
    IS_PARALLEL  isParallel,
    YEAR_APPLY_COUNT  yearApplyCount,
    ALL_APPLY_COUNT  allApplyCount,
    APPLY_LRR  applyLrr,
    ALL_IN_SUPPLEMENT_COUNT  allInSupplementCount,
    IN_SUPPLEMENT_LRR  inSupplementLrr,
    ALL_SUPPLEMENTED_COUNT  allSupplementedCount,
    SUPPLEMENTED_LRR  supplementedLrr,
    YEAR_PRE_ACCEPTANCE_COUNT  yearPreAcceptanceCount,
    ALL_PRE_ACCEPTANCE_COUNT  allPreAcceptanceCount,
    PRE_ACCEPTANCE_LRR  preAcceptanceLrr,
    YEAR_OUT_SCOPE_COUNT  yearOutScopeCount,
    ALL_OUT_SCOPE_COUNT  allOutScopeCount,
    OUT_SCOPE_LRR  outScopeLrr,
    YEAR_COMPLETED_COUNT  yearCompletedCount,
    ALL_COMPLETED_COUNT  allCompletedCount,
    COMPLETED_LRR  completedLrr,
    YEAR_OVER_TIME_COUNT  yearOverTimeCount,
    ALL_OVER_TIME_COUNT  allOverTimeCount,
    OVER_TIME_LRR  overTimeLrr,
    ALL_PRE_ACCEPTANCE_RATE  allPreAcceptanceRate,
    ALL_OUT_SCOPE_RATE  allOutScopeRate,
    ALL_OVER_TIME_RATE  allOverTimeRate,
    ALL_COMPLETED_RATE  allCompletedRate,
    STATISTICS_START_DATE  statisticsStartDate,
    STATISTICS_END_DATE  statisticsEndDate,
    STATISTICS_YEAR  statisticsYear,
    MODIFIER  modifier,
    MODIFY_TIME  modifyTime,
    ROOT_ORG_ID  rootOrgId
    </sql>

    <!--2 根据主键ID查询单个实体 -->
    <select id="getAeaAnaWinYearStatisticsById" resultType="AeaAnaWinYearStatistics">
        select
        <include refid="allColumns"/>
        from AEA_ANA_WIN_YEAR_STATISTICS
        where WINDOW_YEAR_STATISTICS_ID = #{id}
    </select>

    <!--3 根据条件查询实体list -->
    <select id="listAeaAnaWinYearStatistics" resultType="AeaAnaWinYearStatistics">
        select
        <include refid="allColumns"/>
        from AEA_ANA_WIN_YEAR_STATISTICS
        <where>
            <if test="windowYearStatisticsId != null">
                AND WINDOW_YEAR_STATISTICS_ID = #{windowYearStatisticsId}
            </if>
            <if test="statisticsRecordId != null">
                AND STATISTICS_RECORD_ID = #{statisticsRecordId}
            </if>
            <if test="windowId != null">
                AND WINDOW_ID = #{windowId}
            </if>
            <if test="windowName != null">
                AND WINDOW_NAME = #{windowName}
            </if>
            <if test="regionId != null">
                AND REGION_ID = #{regionId}
            </if>
            <if test="regionName != null">
                AND REGION_NAME = #{regionName}
            </if>
            <if test="applySource != null">
                AND APPLY_SOURCE = #{applySource}
            </if>
            <if test="applyRecordId != null">
                AND APPLY_RECORD_ID = #{applyRecordId}
            </if>
            <if test="applyRecordName != null">
                AND APPLY_RECORD_NAME = #{applyRecordName}
            </if>
            <if test="dybzspjdxh != null">
                AND DYBZSPJDXH = #{dybzspjdxh}
            </if>
            <if test="isNode != null">
                AND IS_NODE = #{isNode}
            </if>
            <if test="isParallel != null">
                AND IS_PARALLEL = #{isParallel}
            </if>
            <if test="yearApplyCount != null">
                AND YEAR_APPLY_COUNT = #{yearApplyCount}
            </if>
            <if test="allApplyCount != null">
                AND ALL_APPLY_COUNT = #{allApplyCount}
            </if>
            <if test="applyLrr != null">
                AND APPLY_LRR = #{applyLrr}
            </if>
            <if test="allInSupplementCount != null">
                AND ALL_IN_SUPPLEMENT_COUNT = #{allInSupplementCount}
            </if>
            <if test="inSupplementLrr != null">
                AND IN_SUPPLEMENT_LRR = #{inSupplementLrr}
            </if>
            <if test="allSupplementedCount != null">
                AND ALL_SUPPLEMENTED_COUNT = #{allSupplementedCount}
            </if>
            <if test="supplementedLrr != null">
                AND SUPPLEMENTED_LRR = #{supplementedLrr}
            </if>
            <if test="yearPreAcceptanceCount != null">
                AND YEAR_PRE_ACCEPTANCE_COUNT = #{yearPreAcceptanceCount}
            </if>
            <if test="allPreAcceptanceCount != null">
                AND ALL_PRE_ACCEPTANCE_COUNT = #{allPreAcceptanceCount}
            </if>
            <if test="preAcceptanceLrr != null">
                AND PRE_ACCEPTANCE_LRR = #{preAcceptanceLrr}
            </if>
            <if test="yearOutScopeCount != null">
                AND YEAR_OUT_SCOPE_COUNT = #{yearOutScopeCount}
            </if>
            <if test="allOutScopeCount != null">
                AND ALL_OUT_SCOPE_COUNT = #{allOutScopeCount}
            </if>
            <if test="outScopeLrr != null">
                AND OUT_SCOPE_LRR = #{outScopeLrr}
            </if>
            <if test="yearCompletedCount != null">
                AND YEAR_COMPLETED_COUNT = #{yearCompletedCount}
            </if>
            <if test="allCompletedCount != null">
                AND ALL_COMPLETED_COUNT = #{allCompletedCount}
            </if>
            <if test="completedLrr != null">
                AND COMPLETED_LRR = #{completedLrr}
            </if>
            <if test="yearOverTimeCount != null">
                AND YEAR_OVER_TIME_COUNT = #{yearOverTimeCount}
            </if>
            <if test="allOverTimeCount != null">
                AND ALL_OVER_TIME_COUNT = #{allOverTimeCount}
            </if>
            <if test="overTimeLrr != null">
                AND OVER_TIME_LRR = #{overTimeLrr}
            </if>
            <if test="allPreAcceptanceRate != null">
                AND ALL_PRE_ACCEPTANCE_RATE = #{allPreAcceptanceRate}
            </if>
            <if test="allOutScopeRate != null">
                AND ALL_OUT_SCOPE_RATE = #{allOutScopeRate}
            </if>
            <if test="allOverTimeRate != null">
                AND ALL_OVER_TIME_RATE = #{allOverTimeRate}
            </if>
            <if test="allCompletedRate != null">
                AND ALL_COMPLETED_RATE = #{allCompletedRate}
            </if>
            <if test="statisticsStartDate != null">
                AND STATISTICS_START_DATE = #{statisticsStartDate}
            </if>
            <if test="statisticsEndDate != null">
                AND STATISTICS_END_DATE = #{statisticsEndDate}
            </if>
            <if test="statisticsYear != null">
                AND STATISTICS_YEAR = #{statisticsYear}
            </if>
            <if test="modifier != null">
                AND MODIFIER = #{modifier}
            </if>
            <if test="modifyTime != null">
                AND MODIFY_TIME = #{modifyTime}
            </if>
            <if test="rootOrgId != null">
                AND ROOT_ORG_ID = #{rootOrgId}
            </if>
        </where>
    </select>
    <!--4 根据条件查询实体list,返回分页对象 -->

    <!--5 新增实体对象 -->
    <insert id="insertAeaAnaWinYearStatistics" parameterType="AeaAnaWinYearStatistics">
        insert into AEA_ANA_WIN_YEAR_STATISTICS (
        WINDOW_YEAR_STATISTICS_ID  ,STATISTICS_RECORD_ID  ,WINDOW_ID  ,WINDOW_NAME  ,REGION_ID  ,REGION_NAME  ,APPLY_SOURCE  ,APPLY_RECORD_ID  ,APPLY_RECORD_NAME  ,DYBZSPJDXH  ,IS_NODE  ,IS_PARALLEL  ,YEAR_APPLY_COUNT  ,ALL_APPLY_COUNT  ,APPLY_LRR  ,ALL_IN_SUPPLEMENT_COUNT  ,IN_SUPPLEMENT_LRR  ,ALL_SUPPLEMENTED_COUNT  ,SUPPLEMENTED_LRR  ,YEAR_PRE_ACCEPTANCE_COUNT  ,ALL_PRE_ACCEPTANCE_COUNT  ,PRE_ACCEPTANCE_LRR  ,YEAR_OUT_SCOPE_COUNT  ,ALL_OUT_SCOPE_COUNT  ,OUT_SCOPE_LRR  ,YEAR_COMPLETED_COUNT  ,ALL_COMPLETED_COUNT  ,COMPLETED_LRR  ,YEAR_OVER_TIME_COUNT  ,ALL_OVER_TIME_COUNT  ,OVER_TIME_LRR  ,ALL_PRE_ACCEPTANCE_RATE  ,ALL_OUT_SCOPE_RATE  ,ALL_OVER_TIME_RATE  ,ALL_COMPLETED_RATE  ,STATISTICS_START_DATE  ,STATISTICS_END_DATE  ,STATISTICS_YEAR  ,MODIFIER  ,MODIFY_TIME  ,ROOT_ORG_ID
            )  values  (
        #{windowYearStatisticsId},#{statisticsRecordId},#{windowId},#{windowName},#{regionId},#{regionName},#{applySource},#{applyRecordId},#{applyRecordName},#{dybzspjdxh},#{isNode},#{isParallel},#{yearApplyCount},#{allApplyCount},#{applyLrr},#{allInSupplementCount},#{inSupplementLrr},#{allSupplementedCount},#{supplementedLrr},#{yearPreAcceptanceCount},#{allPreAcceptanceCount},#{preAcceptanceLrr},#{yearOutScopeCount},#{allOutScopeCount},#{outScopeLrr},#{yearCompletedCount},#{allCompletedCount},#{completedLrr},#{yearOverTimeCount},#{allOverTimeCount},#{overTimeLrr},#{allPreAcceptanceRate},#{allOutScopeRate},#{allOverTimeRate},#{allCompletedRate},#{statisticsStartDate},#{statisticsEndDate},#{statisticsYear},#{modifier},#{modifyTime},  #{rootOrgId}
            )
    </insert>
    <!--6 修改实体对象 -->
    <update id="updateAeaAnaWinYearStatistics" parameterType="AeaAnaWinYearStatistics">
        update AEA_ANA_WIN_YEAR_STATISTICS
        <set>
            <if test="windowYearStatisticsId != null">
                WINDOW_YEAR_STATISTICS_ID = #{windowYearStatisticsId},
            </if>
            <if test="statisticsRecordId != null">
                STATISTICS_RECORD_ID = #{statisticsRecordId},
            </if>
            <if test="windowId != null">
                WINDOW_ID = #{windowId},
            </if>
            <if test="windowName != null">
                WINDOW_NAME = #{windowName},
            </if>
            <if test="regionId != null">
                REGION_ID = #{regionId},
            </if>
            <if test="regionName != null">
                REGION_NAME = #{regionName},
            </if>
            <if test="applySource != null">
                APPLY_SOURCE = #{applySource},
            </if>
            <if test="applyRecordId != null">
                APPLY_RECORD_ID = #{applyRecordId},
            </if>
            <if test="applyRecordName != null">
                APPLY_RECORD_NAME = #{applyRecordName},
            </if>
            <if test="dybzspjdxh != null">
                DYBZSPJDXH = #{dybzspjdxh},
            </if>
            <if test="isNode != null">
                IS_NODE = #{isNode},
            </if>
            <if test="isParallel != null">
                IS_PARALLEL = #{isParallel},
            </if>
            <if test="yearApplyCount != null">
                YEAR_APPLY_COUNT = #{yearApplyCount},
            </if>
            <if test="allApplyCount != null">
                ALL_APPLY_COUNT = #{allApplyCount},
            </if>
            <if test="applyLrr != null">
                APPLY_LRR = #{applyLrr},
            </if>
            <if test="allInSupplementCount != null">
                ALL_IN_SUPPLEMENT_COUNT = #{allInSupplementCount},
            </if>
            <if test="inSupplementLrr != null">
                IN_SUPPLEMENT_LRR = #{inSupplementLrr},
            </if>
            <if test="allSupplementedCount != null">
                ALL_SUPPLEMENTED_COUNT = #{allSupplementedCount},
            </if>
            <if test="supplementedLrr != null">
                SUPPLEMENTED_LRR = #{supplementedLrr},
            </if>
            <if test="yearPreAcceptanceCount != null">
                YEAR_PRE_ACCEPTANCE_COUNT = #{yearPreAcceptanceCount},
            </if>
            <if test="allPreAcceptanceCount != null">
                ALL_PRE_ACCEPTANCE_COUNT = #{allPreAcceptanceCount},
            </if>
            <if test="preAcceptanceLrr != null">
                PRE_ACCEPTANCE_LRR = #{preAcceptanceLrr},
            </if>
            <if test="yearOutScopeCount != null">
                YEAR_OUT_SCOPE_COUNT = #{yearOutScopeCount},
            </if>
            <if test="allOutScopeCount != null">
                ALL_OUT_SCOPE_COUNT = #{allOutScopeCount},
            </if>
            <if test="outScopeLrr != null">
                OUT_SCOPE_LRR = #{outScopeLrr},
            </if>
            <if test="yearCompletedCount != null">
                YEAR_COMPLETED_COUNT = #{yearCompletedCount},
            </if>
            <if test="allCompletedCount != null">
                ALL_COMPLETED_COUNT = #{allCompletedCount},
            </if>
            <if test="completedLrr != null">
                COMPLETED_LRR = #{completedLrr},
            </if>
            <if test="yearOverTimeCount != null">
                YEAR_OVER_TIME_COUNT = #{yearOverTimeCount},
            </if>
            <if test="allOverTimeCount != null">
                ALL_OVER_TIME_COUNT = #{allOverTimeCount},
            </if>
            <if test="overTimeLrr != null">
                OVER_TIME_LRR = #{overTimeLrr},
            </if>
            <if test="allPreAcceptanceRate != null">
                ALL_PRE_ACCEPTANCE_RATE = #{allPreAcceptanceRate},
            </if>
            <if test="allOutScopeRate != null">
                ALL_OUT_SCOPE_RATE = #{allOutScopeRate},
            </if>
            <if test="allOverTimeRate != null">
                ALL_OVER_TIME_RATE = #{allOverTimeRate},
            </if>
            <if test="allCompletedRate != null">
                ALL_COMPLETED_RATE = #{allCompletedRate},
            </if>
            <if test="statisticsStartDate != null">
                STATISTICS_START_DATE = #{statisticsStartDate},
            </if>
            <if test="statisticsEndDate != null">
                STATISTICS_END_DATE = #{statisticsEndDate},
            </if>
            <if test="statisticsYear != null">
                STATISTICS_YEAR = #{statisticsYear},
            </if>
            <if test="modifier != null">
                MODIFIER = #{modifier},
            </if>
            <if test="modifyTime != null">
                MODIFY_TIME = #{modifyTime},
            </if>
            <if test="rootOrgId != null">
                ROOT_ORG_ID = #{rootOrgId},
            </if>
        </set>
        where WINDOW_YEAR_STATISTICS_ID = #{windowYearStatisticsId}
    </update>
    <!--7 删除实体对象,根据主键ID -->
    <delete id="deleteAeaAnaWinYearStatistics">
        delete from   AEA_ANA_WIN_YEAR_STATISTICS
        where
    WINDOW_YEAR_STATISTICS_ID = #{id}
    </delete>

    <delete id="deleteThisYearStatisticsData">
        delete from AEA_ANA_WIN_YEAR_STATISTICS
        where
          STATISTICS_YEAR = #{year} and ROOT_ORG_ID = #{rootOrgId}
    </delete>

    <insert id="batchInsertYearStatisticsData">
        insert into AEA_ANA_WIN_YEAR_STATISTICS (
        WINDOW_YEAR_STATISTICS_ID ,STATISTICS_RECORD_ID ,WINDOW_ID ,WINDOW_NAME ,REGION_ID ,REGION_NAME ,APPLY_SOURCE
        ,APPLY_RECORD_ID ,APPLY_RECORD_NAME ,DYBZSPJDXH ,IS_NODE ,IS_PARALLEL
        ,YEAR_APPLY_COUNT ,ALL_APPLY_COUNT ,APPLY_LRR ,ALL_IN_SUPPLEMENT_COUNT ,IN_SUPPLEMENT_LRR
        ,ALL_SUPPLEMENTED_COUNT ,SUPPLEMENTED_LRR ,YEAR_PRE_ACCEPTANCE_COUNT ,ALL_PRE_ACCEPTANCE_COUNT
        ,PRE_ACCEPTANCE_LRR ,YEAR_OUT_SCOPE_COUNT ,ALL_OUT_SCOPE_COUNT ,OUT_SCOPE_LRR ,YEAR_COMPLETED_COUNT
        ,ALL_COMPLETED_COUNT ,COMPLETED_LRR ,YEAR_OVER_TIME_COUNT ,ALL_OVER_TIME_COUNT ,OVER_TIME_LRR
        ,ALL_PRE_ACCEPTANCE_RATE ,ALL_OUT_SCOPE_RATE ,ALL_OVER_TIME_RATE ,ALL_COMPLETED_RATE ,STATISTICS_START_DATE
        ,STATISTICS_END_DATE ,STATISTICS_YEAR ,MODIFIER ,MODIFY_TIME ,ROOT_ORG_ID
        ) values
        <foreach collection="yearStatisticsList" item="yearStatistics" separator=",">
            (
            #{yearStatistics.windowYearStatisticsId},#{yearStatistics.statisticsRecordId},#{yearStatistics.windowId},#{yearStatistics.windowName},#{yearStatistics.regionId},#{yearStatistics.regionName},#{yearStatistics.applySource},
            #{yearStatistics.applyRecordId},#{yearStatistics.applyRecordName},#{yearStatistics.dybzspjdxh},#{yearStatistics.isNode},#{yearStatistics.isParallel},#{yearStatistics.yearApplyCount},#{yearStatistics.allApplyCount},#{yearStatistics.applyLrr},
            #{yearStatistics.allInSupplementCount},#{yearStatistics.inSupplementLrr},#{yearStatistics.allSupplementedCount},#{yearStatistics.supplementedLrr},#{yearStatistics.yearPreAcceptanceCount},#{yearStatistics.allPreAcceptanceCount},#{yearStatistics.preAcceptanceLrr},#{yearStatistics.yearOutScopeCount},
            #{yearStatistics.allOutScopeCount},#{yearStatistics.outScopeLrr},#{yearStatistics.yearCompletedCount},#{yearStatistics.allCompletedCount},#{yearStatistics.completedLrr},#{yearStatistics.yearOverTimeCount},#{yearStatistics.allOverTimeCount},#{yearStatistics.overTimeLrr},#{yearStatistics.allPreAcceptanceRate},
            #{yearStatistics.allOutScopeRate},#{yearStatistics.allOverTimeRate},#{yearStatistics.allCompletedRate},#{yearStatistics.statisticsStartDate},#{yearStatistics.statisticsEndDate},#{yearStatistics.statisticsYear},#{yearStatistics.modifier},#{yearStatistics.modifyTime},#{yearStatistics.rootOrgId}
            )
        </foreach>
    </insert>

    <select id="getYearStatisticsFromMonth" resultType="com.augurit.aplanmis.common.vo.analyse.WinYearCountVo">
        select
            a.*, ifnull(lastyear.YEAR_APPLY_COUNT,0) as lastYearApplyCount,
            ifnull(lastyear.YEAR_PRE_ACCEPTANCE_COUNT,0) as lastYearPreAcceptacneCount,
            ifnull(lastyear.YEAR_OUT_SCOPE_COUNT,0) as lastYearOutScopeCount,
            ifnull(lastyear.YEAR_COMPLETED_COUNT,0) as lastYearCompletedCount,
            ifnull(lastyear.YEAR_OVER_TIME_COUNT,0) as lastYearOverTimeCount,
            ifnull(lastyear.ALL_IN_SUPPLEMENT_COUNT,0) as lastYearInSupplementCount,
            ifnull(lastyear.ALL_SUPPLEMENTED_COUNT,0) as lastYearSupplementedCount
        from
        (
            select
            WINDOW_ID AS windowId,
            APPLY_SOURCE AS applySource,
            APPLY_RECORD_ID AS applyRecordId,
            IS_PARALLEL AS isParallel,
            sum(MONTH_APPLY_COUNT) AS yearApplyCount,
            sum(ALL_IN_SUPPLEMENT_COUNT) as allInSupplementCount,
            sum(ALL_SUPPLEMENTED_COUNT) as allSupplementedCount,
            sum(MONTH_PRE_ACCEPTANCE_COUNT) AS yearPreAcceptanceCount,
            sum(MONTH_OUT_SCOPE_COUNT) AS yearOutScopeCount,
            sum(MONTH_COMPLETED_COUNT) AS yearCompletedCount,
            sum(MONTH_OVER_TIME_COUNT) AS yearOverTimeCount
            from
            AEA_ANA_WIN_MONTH_STATISTICS
            where
            ROOT_ORG_ID = #{rootOrgId}
            and STATISTICS_MONTH <![CDATA[ >= ]]> #{startMonth}
            and STATISTICS_MONTH <![CDATA[ <= ]]> #{endMonth}
            group by WINDOW_ID, APPLY_SOURCE, APPLY_RECORD_ID, IS_PARALLEL
        ) a
        left join AEA_ANA_WIN_YEAR_STATISTICS lastyear on a.windowId = lastyear.WINDOW_ID
        and a.applySource = lastyear.APPLY_SOURCE
        and a.applyRecordId = lastyear.APPLY_RECORD_ID
        and a.isParallel = lastyear.IS_PARALLEL
        and lastyear.STATISTICS_YEAR = #{lastYear}
    </select>

    <select id="getRegionTotalApplyByTime" resultType="java.util.HashMap">
        select REGION_ID as regionId, REGION_NAME as regionName, sum(YEAR_APPLY_COUNT) as applyCount from
        AEA_ANA_WIN_YEAR_STATISTICS
        <where>
            and STATISTICS_YEAR <![CDATA[ >= ]]> #{startYear}
            and STATISTICS_YEAR <![CDATA[ <= ]]> #{endYear}
            and ROOT_ORG_ID = #{rootOrgId}
        </where>
        group by REGION_ID, REGION_NAME
    </select>

    <select id="getWinShenliStatistics" resultType="hashmap">
        select WINDOW_ID as windowId, WINDOW_NAME as windowName, APPLY_SOURCE as applySource,
        SUM(YEAR_APPLY_COUNT) as applyCount, SUM(YEAR_PRE_ACCEPTANCE_COUNT) as shouliCount, SUM(YEAR_OUT_SCOPE_COUNT) as
        buyushouliCount,
        SUM(YEAR_COMPLETED_COUNT) as banjieCount, SUM(YEAR_OVER_TIME_COUNT) as yuqiCount
        from AEA_ANA_WIN_YEAR_STATISTICS
        <where>
            and STATISTICS_YEAR <![CDATA[ >= ]]> #{startYear}
            and STATISTICS_YEAR <![CDATA[ <= ]]> #{endYear}
            and ROOT_ORG_ID = #{rootOrgId}
        </where>
        group by WINDOW_ID, WINDOW_NAME, APPLY_SOURCE
    </select>

    <!--9 返回所有字段的对象map,用于级联 -->
    <resultMap type="AeaAnaWinYearStatistics" id="AeaAnaWinYearStatisticsMap">
        <id property="windowYearStatisticsId" column="WINDOW_YEAR_STATISTICS_ID"/>
        <result property="statisticsRecordId" column="STATISTICS_RECORD_ID"/>
        <result property="windowId" column="WINDOW_ID"/>
        <result property="windowName" column="WINDOW_NAME"/>
        <result property="regionId" column="REGION_ID"/>
        <result property="regionName" column="REGION_NAME"/>
        <result property="applySource" column="APPLY_SOURCE"/>
        <result property="yearApplyCount" column="YEAR_APPLY_COUNT"/>
        <result property="allApplyCount" column="ALL_APPLY_COUNT"/>
        <result property="applyLrr" column="APPLY_LRR"/>
        <result property="allInSupplementCount" column="ALL_IN_SUPPLEMENT_COUNT"/>
        <result property="inSupplementLrr" column="IN_SUPPLEMENT_LRR"/>
        <result property="allSupplementedCount" column="ALL_SUPPLEMENTED_COUNT"/>
        <result property="supplementedLrr" column="SUPPLEMENTED_LRR"/>
        <result property="yearPreAcceptanceCount" column="YEAR_PRE_ACCEPTANCE_COUNT"/>
        <result property="allPreAcceptanceCount" column="ALL_PRE_ACCEPTANCE_COUNT"/>
        <result property="preAcceptanceLrr" column="PRE_ACCEPTANCE_LRR"/>
        <result property="yearOutScopeCount" column="YEAR_OUT_SCOPE_COUNT"/>
        <result property="allOutScopeCount" column="ALL_OUT_SCOPE_COUNT"/>
        <result property="outScopeLrr" column="OUT_SCOPE_LRR"/>
        <result property="yearCompletedCount" column="YEAR_COMPLETED_COUNT"/>
        <result property="allCompletedCount" column="ALL_COMPLETED_COUNT"/>
        <result property="completedLrr" column="COMPLETED_LRR"/>
        <result property="yearOverTimeCount" column="YEAR_OVER_TIME_COUNT"/>
        <result property="allOverTimeCount" column="ALL_OVER_TIME_COUNT"/>
        <result property="overTimeLrr" column="OVER_TIME_LRR"/>
        <result property="allPreAcceptanceRate" column="ALL_PRE_ACCEPTANCE_RATE"/>
        <result property="allOutScopeRate" column="ALL_OUT_SCOPE_RATE"/>
        <result property="allOverTimeRate" column="ALL_OVER_TIME_RATE"/>
        <result property="allCompletedRate" column="ALL_COMPLETED_RATE"/>
        <result property="statisticsStartDate" column="STATISTICS_START_DATE"/>
        <result property="statisticsEndDate" column="STATISTICS_END_DATE"/>
        <result property="statisticsYear" column="STATISTICS_YEAR"/>
        <result property="modifier" column="MODIFIER"/>
        <result property="modifyTime" column="MODIFY_TIME"/>
        <result property="rootOrgId" column="ROOT_ORG_ID"/>
    </resultMap>
</mapper>