<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--created by Administrator    2019-07-04 17:12:18 -->
<!--0 一些前置信息配置 -->
<mapper namespace="com.augurit.aplanmis.common.mapper.AeaApplyinstProjMapper">
    <!--1 返回所有字段的SQL字句 -->
    <sql id="allColumns">
        APPLYINST_PROJ_ID  applyinstProjId,
    APPLYINST_ID  applyinstId,
    PROJ_INFO_ID  projInfoId,
    CREATER  creater,
    CREATE_TIME  createTime
    </sql>

    <!--2 根据主键ID查询单个实体 -->
    <select id="getAeaApplyinstProjById" resultType="AeaApplyinstProj">
        select
        <include refid="allColumns"/>
        from AEA_APPLYINST_PROJ
        where APPLYINST_PROJ_ID = #{id}
    </select>

    <!--3 根据条件查询实体list -->
    <select id="listAeaApplyinstProj" resultType="AeaApplyinstProj">
        select
        <include refid="allColumns"/>
        from AEA_APPLYINST_PROJ
        <where>
            <if test="applyinstProjId != null">
                AND APPLYINST_PROJ_ID = #{applyinstProjId}
            </if>
            <if test="applyinstId != null">
                AND APPLYINST_ID = #{applyinstId}
            </if>
            <if test="projInfoId != null">
                AND PROJ_INFO_ID = #{projInfoId}
            </if>
            <if test="creater != null">
                AND CREATER = #{creater}
            </if>
            <if test="createTime != null">
                AND CREATE_TIME = #{createTime}
            </if>
        </where>
    </select>

    <select id="getAeaApplyinstProjByApplyinstId"  resultType="com.augurit.aplanmis.common.domain.AeaApplyinstProj">
        select
        <include refid="allColumns"/>
        from AEA_APPLYINST_PROJ
        where APPLYINST_ID = #{applyinstId}
    </select>

    <select id="getAeaApplyinstProjCascadeProjByApplyinstId" resultType="com.augurit.aplanmis.common.domain.AeaApplyinstProj">
        select
            ap.APPLYINST_PROJ_ID  applyinstProjId,
            ap.APPLYINST_ID  applyinstId,
            ap.PROJ_INFO_ID  projInfoId,
            ap.CREATER  creater,
            ap.CREATE_TIME  createTime,
            proj.LOCAL_CODE localCode,
            proj.PROJ_NAME projName,
            proj.GCBM gcbm,
            proj.CENTRAL_CODE centralCode,
            proj.BUILD_AREA_SUM buildAreaSum,
            proj.PROJ_ADDR projAddr,
            proj.ABOVE_FLOOR aboveFloor
        from AEA_APPLYINST_PROJ ap,AEA_PROJ_INFO proj
        where ap.PROJ_INFO_ID = proj.PROJ_INFO_ID and ap.APPLYINST_ID = #{applyinstId}
    </select>
    <!--4 根据条件查询实体list,返回分页对象 -->

    <!--5 新增实体对象 -->
    <insert id="insertAeaApplyinstProj" parameterType="AeaApplyinstProj">
        insert into AEA_APPLYINST_PROJ (APPLYINST_PROJ_ID, APPLYINST_ID, PROJ_INFO_ID, CREATER, CREATE_TIME)
        values (#{applyinstProjId}, #{applyinstId}, #{projInfoId}, #{creater}, #{createTime})
    </insert>
    <!--6 修改实体对象 -->
    <update id="updateAeaApplyinstProj" parameterType="AeaApplyinstProj">
        update AEA_APPLYINST_PROJ
        <set>
            <if test="applyinstProjId != null">
                APPLYINST_PROJ_ID = #{applyinstProjId},
            </if>
            <if test="applyinstId != null">
                APPLYINST_ID = #{applyinstId},
            </if>
            <if test="projInfoId != null">
                PROJ_INFO_ID = #{projInfoId},
            </if>
            <if test="creater != null">
                CREATER = #{creater},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime},
            </if>
        </set>
        where APPLYINST_PROJ_ID = #{applyinstProjId}
    </update>
    <!--7 删除实体对象,根据主键ID -->
    <delete id="deleteAeaApplyinstProj">
        delete
        from AEA_APPLYINST_PROJ
        where APPLYINST_PROJ_ID = #{id}
    </delete>
    <!--8 删除实体对象列表,根据主键ID列表 -->
    <!--9 返回所有字段的对象map,用于级联 -->
    <resultMap type="AeaApplyinstProj" id="AeaApplyinstProjMap">
        <id property="applyinstProjId" column="APPLYINST_PROJ_ID"/>
        <result property="applyinstId" column="APPLYINST_ID"/>
        <result property="projInfoId" column="PROJ_INFO_ID"/>
        <result property="creater" column="CREATER"/>
        <result property="createTime" column="CREATE_TIME"/>
    </resultMap>
</mapper>