<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--created by Administrator    2019-07-04 17:12:19 -->
<!--0 一些前置信息配置 -->
<mapper namespace="com.augurit.aplanmis.common.mapper.AeaBusCertMapper">
    <!--1 返回所有字段的SQL字句 -->
    <sql id="allColumns">
        BUS_CERT_ID  busCertId,
    BUS_TABLE_NAME  busTableName,
    PK_NAME  pkName,
    BUS_RECORD_ID  busRecordId,
    CERT_ID  certId,
    IS_DELETE  isDelete,
    CREATER  creater,
    CREATE_TIME  createTime,
    MODIFIER  modifier,
    MODIFY_TIME  modifyTime,
    MEMO  memo,
    ROOT_ORG_ID rootOrgId
    </sql>

    <!--2 根据主键ID查询单个实体 -->
    <select id="getAeaBusCertById" resultType="AeaBusCert">
        select
        <include refid="allColumns"/>
        from AEA_BUS_CERT
        where BUS_CERT_ID = #{id}
    </select>

    <!--3 根据条件查询实体list -->
    <select id="listAeaBusCert" resultType="AeaBusCert">
        select
        <include refid="allColumns"/>
        from AEA_BUS_CERT
        <where>
            <if test="busCertId != null">
                AND BUS_CERT_ID = #{busCertId}
            </if>
            <if test="busTableName != null">
                AND BUS_TABLE_NAME = #{busTableName}
            </if>
            <if test="pkName != null">
                AND PK_NAME = #{pkName}
            </if>
            <if test="busRecordId != null">
                AND BUS_RECORD_ID = #{busRecordId}
            </if>
            <if test="certId != null">
                AND CERT_ID = #{certId}
            </if>
            <if test="isDelete != null">
                AND IS_DELETE = #{isDelete}
            </if>
            <if test="creater != null">
                AND CREATER = #{creater}
            </if>
            <if test="createTime != null">
                AND CREATE_TIME = #{createTime}
            </if>
            <if test="modifier != null">
                AND MODIFIER = #{modifier}
            </if>
            <if test="modifyTime != null">
                AND MODIFY_TIME = #{modifyTime}
            </if>
            <if test="memo != null">
                AND MEMO = #{memo}
            </if>
            <if test="rootOrgId != null">
                AND ROOT_ORG_ID = #{rootOrgId}
            </if>
        </where>
    </select>
    <!--4 根据条件查询实体list,返回分页对象 -->

    <!--5 新增实体对象 -->
    <insert id="insertAeaBusCert" parameterType="AeaBusCert">
        insert into AEA_BUS_CERT (BUS_CERT_ID, BUS_TABLE_NAME, PK_NAME, BUS_RECORD_ID, CERT_ID, IS_DELETE, CREATER,
                                  CREATE_TIME, MODIFIER, MODIFY_TIME, MEMO,ROOT_ORG_ID)
        values (#{busCertId}, #{busTableName}, #{pkName}, #{busRecordId}, #{certId}, #{isDelete}, #{creater},
                #{createTime}, #{modifier}, #{modifyTime}, #{memo},#{rootOrgId})
    </insert>
    <!--6 修改实体对象 -->
    <update id="updateAeaBusCert" parameterType="AeaBusCert">
        update AEA_BUS_CERT
        <set>
            <if test="busCertId != null">
                BUS_CERT_ID = #{busCertId},
            </if>
            <if test="busTableName != null">
                BUS_TABLE_NAME = #{busTableName},
            </if>
            <if test="pkName != null">
                PK_NAME = #{pkName},
            </if>
            <if test="busRecordId != null">
                BUS_RECORD_ID = #{busRecordId},
            </if>
            <if test="certId != null">
                CERT_ID = #{certId},
            </if>
            <if test="isDelete != null">
                IS_DELETE = #{isDelete},
            </if>
            <if test="creater != null">
                CREATER = #{creater},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime},
            </if>
            <if test="modifier != null">
                MODIFIER = #{modifier},
            </if>
            <if test="modifyTime != null">
                MODIFY_TIME = #{modifyTime},
            </if>
            <if test="memo != null">
                MEMO = #{memo},
            </if>
            <if test="rootOrgId != null">
                AND ROOT_ORG_ID = #{rootOrgId},
            </if>
        </set>
        where BUS_CERT_ID = #{busCertId}
    </update>
    <!--7 删除实体对象,根据主键ID -->
    <delete id="deleteAeaBusCert">
        delete
        from AEA_BUS_CERT
        where BUS_CERT_ID = #{id}
    </delete>
    <!--8 删除实体对象列表,根据主键ID列表 -->
    <!--9 返回所有字段的对象map,用于级联 -->
    <resultMap type="AeaBusCert" id="AeaBusCertMap">
        <id property="busCertId" column="BUS_CERT_ID"/>
        <result property="busTableName" column="BUS_TABLE_NAME"/>
        <result property="pkName" column="PK_NAME"/>
        <result property="busRecordId" column="BUS_RECORD_ID"/>
        <result property="certId" column="CERT_ID"/>
        <result property="isDelete" column="IS_DELETE"/>
        <result property="creater" column="CREATER"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="modifier" column="MODIFIER"/>
        <result property="modifyTime" column="MODIFY_TIME"/>
        <result property="memo" column="MEMO"/>
        <result property="rootOrgId" column="ROOT_ORG_ID"/>
    </resultMap>

    <!--取消业务表关联关系 -->
    <update id="cancelRelation">
        update AEA_BUS_CERT SET IS_DELETE = '1'
        where
        BUS_TABLE_NAME = #{tableName}
        AND PK_NAME = #{pkName}
        AND BUS_RECORD_ID = #{busRecordId}
        AND CERT_ID IN
        <foreach collection="cancelCertIds" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>
</mapper>