<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--created by Augurit    2019-12-23 09:54:35 -->
<!--0 一些前置信息配置 -->
<mapper namespace="com.augurit.aplanmis.common.mapper.AeaHiSolicitMapper">
    <!--1 返回所有字段的SQL字句 -->
    <sql id="allColumns">
    ${alias}.SOLICIT_ID  solicitId,
    ${alias}.SOLICIT_TYPE  solicitType,
    ${alias}.SOLICIT_ORG_ID  solicitOrgId,
    ${alias}.SOLICIT_ITEM_ID  solicitItemId,
    ${alias}.APPLYINST_ID  applyinstId,
    ${alias}.PROCINST_ID  procinstId,
    ${alias}.HI_TASKINST_ID  hiTaskinstId,
    ${alias}.SOLICIT_CODE  solicitCode,
    ${alias}.SOLICIT_TOPIC  solicitTopic,
    ${alias}.SOLICIT_CONTENT  solicitContent,
    ${alias}.SOLICIT_DUE_DAYS  solicitDueDays,
    ${alias}.SOLICIT_REAL_DAYS  solicitRealDays,
    ${alias}.SOLICIT_DAYS_UNIT  solicitDaysUnit,
    ${alias}.SOLICIT_START_TIME  solicitStartTime,
    ${alias}.SOLICIT_END_TIME  solicitEndTime,
    ${alias}.IS_CALC_TIMERULE  isCalcTimerule,
    ${alias}.SOLICIT_TIMERULE_ID  solicitTimeruleId,
    ${alias}.CONCLUSION_FLAG  conclusionFlag,
    ${alias}.CONCLUSION_DESC  conclusionDesc,
    ${alias}.CONCLUSION_TIME  conclusionTime,
    ${alias}.CONCLUSION_USER_ID  conclusionUserId,
    ${alias}.CONCLUSION_USER_NAME  conclusionUserName,
    ${alias}.INITIATOR_ORG_ID  initiatorOrgId,
    ${alias}.INITIATOR_ORG_NAME  initiatorOrgName,
    ${alias}.INITIATOR_USER_ID  initiatorUserId,
    ${alias}.INITIATOR_USER_NAME  initiatorUserName,
    ${alias}.COUNT_LIMIT  countLimit,
    ${alias}.SOLICIT_STATE  solicitState,
    ${alias}.CREATER  creater,
    ${alias}.CREATE_TIME  createTime,
    ${alias}.MODIFIER  modifier,
    ${alias}.MODIFY_TIME  modifyTime,
    ${alias}.ROOT_ORG_ID  rootOrgId
    </sql>

    <!--2 根据主键ID查询单个实体 -->
    <select id="getAeaHiSolicitById" resultType="AeaHiSolicit">
        select
        <include refid="allColumns">
            <property name="alias" value="ahs"/>
        </include>
        from AEA_HI_SOLICIT ahs
        where ahs.SOLICIT_ID = #{id}
    </select>

    <!--3 根据条件查询实体list -->
    <select id="listAeaHiSolicit" resultType="AeaHiSolicit">
        select
        <include refid="allColumns">
            <property name="alias" value="ahs"/>
        </include>
        from AEA_HI_SOLICIT ahs
        <where>
            <if test="solicitId != null AND solicitId != ''">
                AND ahs.SOLICIT_ID = #{solicitId}
            </if>
            <if test="solicitType != null AND solicitType != ''">
                AND ahs.SOLICIT_TYPE = #{solicitType}
            </if>
            <if test="solicitOrgId != null AND solicitOrgId != ''">
                AND ahs.SOLICIT_ORG_ID = #{solicitOrgId}
            </if>
            <if test="solicitItemId != null AND solicitItemId != ''">
                AND ahs.SOLICIT_ITEM_ID = #{solicitItemId}
            </if>
            <if test="applyinstId != null AND applyinstId != ''">
                AND ahs.APPLYINST_ID = #{applyinstId}
            </if>
            <if test="procinstId != null AND procinstId != ''">
                AND ahs.PROCINST_ID = #{procinstId}
            </if>
            <if test="hiTaskinstId != null AND hiTaskinstId != ''">
                AND ahs.HI_TASKINST_ID = #{hiTaskinstId}
            </if>
            <if test="solicitCode != null AND solicitCode != ''">
                AND ahs.SOLICIT_CODE = #{solicitCode}
            </if>
            <if test="solicitTopic != null AND solicitTopic != ''">
                AND ahs.SOLICIT_TOPIC = #{solicitTopic}
            </if>
            <if test="solicitContent != null AND solicitContent != ''">
                AND ahs.SOLICIT_CONTENT = #{solicitContent}
            </if>
            <if test="solicitDueDays != null AND solicitDueDays != ''">
                AND ahs.SOLICIT_DUE_DAYS = #{solicitDueDays}
            </if>
            <if test="solicitRealDays != null AND solicitRealDays != ''">
                AND ahs.SOLICIT_REAL_DAYS = #{solicitRealDays}
            </if>
            <if test="solicitDaysUnit != null AND solicitDaysUnit != ''">
                AND ahs.SOLICIT_DAYS_UNIT = #{solicitDaysUnit}
            </if>
            <if test="solicitStartTime != null AND solicitStartTime != ''">
                AND ahs.SOLICIT_START_TIME = #{solicitStartTime}
            </if>
            <if test="solicitEndTime != null AND solicitEndTime != ''">
                AND ahs.SOLICIT_END_TIME = #{solicitEndTime}
            </if>
            <if test="isCalcTimerule != null AND isCalcTimerule != ''">
                AND ahs.IS_CALC_TIMERULE = #{isCalcTimerule}
            </if>
            <if test="solicitTimeruleId != null AND solicitTimeruleId != ''">
                AND ahs.SOLICIT_TIMERULE_ID = #{solicitTimeruleId}
            </if>
            <if test="conclusionFlag != null AND conclusionFlag != ''">
                AND ahs.CONCLUSION_FLAG = #{conclusionFlag}
            </if>
            <if test="conclusionDesc != null AND conclusionDesc != ''">
                AND ahs.CONCLUSION_DESC = #{conclusionDesc}
            </if>
            <if test="conclusionTime != null AND conclusionTime != ''">
                AND ahs.CONCLUSION_TIME = #{conclusionTime}
            </if>
            <if test="conclusionUserId != null AND conclusionUserId != ''">
                AND ahs.CONCLUSION_USER_ID = #{conclusionUserId}
            </if>
            <if test="conclusionUserName != null AND conclusionUserName != ''">
                AND ahs.CONCLUSION_USER_NAME = #{conclusionUserName}
            </if>
            <if test="initiatorOrgId != null AND initiatorOrgId != ''">
                AND ahs.INITIATOR_ORG_ID = #{initiatorOrgId}
            </if>
            <if test="initiatorOrgName != null AND initiatorOrgName != ''">
                AND ahs.INITIATOR_ORG_NAME = #{initiatorOrgName}
            </if>
            <if test="initiatorUserId != null AND initiatorUserId != ''">
                AND ahs.INITIATOR_USER_ID = #{initiatorUserId}
            </if>
            <if test="initiatorUserName != null AND initiatorUserName != ''">
                AND ahs.INITIATOR_USER_NAME = #{initiatorUserName}
            </if>
            <if test="countLimit != null AND countLimit != ''">
                AND ahs.COUNT_LIMIT = #{countLimit}
            </if>
            <if test="solicitState != null AND solicitState != ''">
                AND ahs.SOLICIT_STATE = #{solicitState}
            </if>
            <if test="creater != null AND creater != ''">
                AND ahs.CREATER = #{creater}
            </if>
            <if test="createTime != null AND createTime != ''">
                AND ahs.CREATE_TIME = #{createTime}
            </if>
            <if test="modifier != null AND modifier != ''">
                AND ahs.MODIFIER = #{modifier}
            </if>
            <if test="modifyTime != null AND modifyTime != ''">
                AND ahs.MODIFY_TIME = #{modifyTime}
            </if>
            <if test="rootOrgId != null AND rootOrgId != ''">
                AND ahs.ROOT_ORG_ID = #{rootOrgId}
            </if>
        </where>
    </select>
    <!--4 根据条件查询实体list,返回分页对象 -->

    <!--5 新增实体对象 -->
    <insert id="insertAeaHiSolicit" parameterType="AeaHiSolicit">
        insert into AEA_HI_SOLICIT (
    SOLICIT_ID  ,SOLICIT_TYPE  ,SOLICIT_ORG_ID  ,SOLICIT_ITEM_ID  ,APPLYINST_ID  ,PROCINST_ID  ,HI_TASKINST_ID  ,SOLICIT_CODE  ,SOLICIT_TOPIC  ,SOLICIT_CONTENT  ,SOLICIT_DUE_DAYS  ,SOLICIT_REAL_DAYS  ,SOLICIT_DAYS_UNIT  ,SOLICIT_START_TIME  ,SOLICIT_END_TIME  ,IS_CALC_TIMERULE  ,SOLICIT_TIMERULE_ID  ,CONCLUSION_FLAG  ,CONCLUSION_DESC  ,CONCLUSION_TIME  ,CONCLUSION_USER_ID  ,CONCLUSION_USER_NAME  ,INITIATOR_ORG_ID  ,INITIATOR_ORG_NAME  ,INITIATOR_USER_ID  ,INITIATOR_USER_NAME  ,COUNT_LIMIT  ,SOLICIT_STATE  ,CREATER  ,CREATE_TIME  ,MODIFIER  ,MODIFY_TIME  ,ROOT_ORG_ID
        )  values  (
    #{solicitId},#{solicitType},#{solicitOrgId},#{solicitItemId},#{applyinstId},#{procinstId},#{hiTaskinstId},#{solicitCode},#{solicitTopic},#{solicitContent},#{solicitDueDays},#{solicitRealDays},#{solicitDaysUnit},#{solicitStartTime},#{solicitEndTime},#{isCalcTimerule},#{solicitTimeruleId},#{conclusionFlag},#{conclusionDesc},#{conclusionTime},#{conclusionUserId},#{conclusionUserName},#{initiatorOrgId},#{initiatorOrgName},#{initiatorUserId},#{initiatorUserName},#{countLimit},#{solicitState},#{creater},#{createTime},#{modifier},#{modifyTime},  #{rootOrgId}
        )
    </insert>
    <!--6 修改实体对象 -->
    <update id="updateAeaHiSolicit" parameterType="AeaHiSolicit">
        update AEA_HI_SOLICIT
        <set>
            <if test="solicitId != null AND solicitId != '' ">
                SOLICIT_ID = #{solicitId},
            </if>
            <if test="solicitType != null AND solicitType != '' ">
                SOLICIT_TYPE = #{solicitType},
            </if>
            <if test="solicitOrgId != null AND solicitOrgId != '' ">
                SOLICIT_ORG_ID = #{solicitOrgId},
            </if>
            <if test="solicitItemId != null AND solicitItemId != '' ">
                SOLICIT_ITEM_ID = #{solicitItemId},
            </if>
            <if test="applyinstId != null AND applyinstId != '' ">
                APPLYINST_ID = #{applyinstId},
            </if>
            <if test="procinstId != null AND procinstId != '' ">
                PROCINST_ID = #{procinstId},
            </if>
            <if test="hiTaskinstId != null AND hiTaskinstId != '' ">
                HI_TASKINST_ID = #{hiTaskinstId},
            </if>
            <if test="solicitCode != null AND solicitCode != '' ">
                SOLICIT_CODE = #{solicitCode},
            </if>
            <if test="solicitTopic != null AND solicitTopic != '' ">
                SOLICIT_TOPIC = #{solicitTopic},
            </if>
            <if test="solicitContent != null AND solicitContent != '' ">
                SOLICIT_CONTENT = #{solicitContent},
            </if>
            <if test="solicitDueDays != null AND solicitDueDays != '' ">
                SOLICIT_DUE_DAYS = #{solicitDueDays},
            </if>
            <if test="solicitRealDays != null AND solicitRealDays != '' ">
                SOLICIT_REAL_DAYS = #{solicitRealDays},
            </if>
            <if test="solicitDaysUnit != null AND solicitDaysUnit != '' ">
                SOLICIT_DAYS_UNIT = #{solicitDaysUnit},
            </if>
            <if test="solicitStartTime != null AND solicitStartTime != '' ">
                SOLICIT_START_TIME = #{solicitStartTime},
            </if>
            <if test="solicitEndTime != null AND solicitEndTime != '' ">
                SOLICIT_END_TIME = #{solicitEndTime},
            </if>
            <if test="isCalcTimerule != null AND isCalcTimerule != '' ">
                IS_CALC_TIMERULE = #{isCalcTimerule},
            </if>
            <if test="solicitTimeruleId != null AND solicitTimeruleId != '' ">
                SOLICIT_TIMERULE_ID = #{solicitTimeruleId},
            </if>
            <if test="conclusionFlag != null AND conclusionFlag != '' ">
                CONCLUSION_FLAG = #{conclusionFlag},
            </if>
            <if test="conclusionDesc != null AND conclusionDesc != '' ">
                CONCLUSION_DESC = #{conclusionDesc},
            </if>
            <if test="conclusionTime != null AND conclusionTime != '' ">
                CONCLUSION_TIME = #{conclusionTime},
            </if>
            <if test="conclusionUserId != null AND conclusionUserId != '' ">
                CONCLUSION_USER_ID = #{conclusionUserId},
            </if>
            <if test="conclusionUserName != null AND conclusionUserName != '' ">
                CONCLUSION_USER_NAME = #{conclusionUserName},
            </if>
            <if test="initiatorOrgId != null AND initiatorOrgId != '' ">
                INITIATOR_ORG_ID = #{initiatorOrgId},
            </if>
            <if test="initiatorOrgName != null AND initiatorOrgName != '' ">
                INITIATOR_ORG_NAME = #{initiatorOrgName},
            </if>
            <if test="initiatorUserId != null AND initiatorUserId != '' ">
                INITIATOR_USER_ID = #{initiatorUserId},
            </if>
            <if test="initiatorUserName != null AND initiatorUserName != '' ">
                INITIATOR_USER_NAME = #{initiatorUserName},
            </if>
            <if test="countLimit != null AND countLimit != '' ">
                COUNT_LIMIT = #{countLimit},
            </if>
            <if test="solicitState != null AND solicitState != '' ">
                SOLICIT_STATE = #{solicitState},
            </if>
            <if test="creater != null AND creater != '' ">
                CREATER = #{creater},
            </if>
            <if test="createTime != null AND createTime != '' ">
                CREATE_TIME = #{createTime},
            </if>
            <if test="modifier != null AND modifier != '' ">
                MODIFIER = #{modifier},
            </if>
            <if test="modifyTime != null AND modifyTime != '' ">
                MODIFY_TIME = #{modifyTime},
            </if>
            <if test="rootOrgId != null AND rootOrgId != '' ">
                ROOT_ORG_ID = #{rootOrgId},
            </if>
        </set>
        where SOLICIT_ID = #{solicitId}
    </update>
    <!--7 删除实体对象,根据主键ID -->
    <delete id="deleteAeaHiSolicit">
        delete from   AEA_HI_SOLICIT
        where
    SOLICIT_ID = #{id}
    </delete>

    <!--根据意见征求流水号获取意见征求信息-->
    <select id="getAeaHiSolicitBySolicitCode" resultType="AeaHiSolicit">
        select
        <include refid="allColumns">
            <property name="alias" value="ahs"/>
        </include>
        from AEA_HI_SOLICIT ahs
        where ahs.SOLICIT_CODE = #{solicitCode}
    </select>
    <!--查询意见征求，一次征询，部门征求等意见列表-->
    <select id="listSolicit" resultType="com.augurit.aplanmis.common.vo.solicit.AeaHiSolicitVo">
        select
        ahs.SOLICIT_ID,ahs.SOLICIT_TYPE
        from aea_hi_solicit ahs
        LEFT JOIN aea_hi_solicit_detail ahsd on ahsd.SOLICIT_ID=ahs.SOLICIT_ID
        left join aea_hi_solicit_detail_user ahsdu on ahsdu.SOLICIT_DETAIL_ID=ahsd.SOLICIT_DETAIL_ID
        INNER JOIN aea_solicit_item asi on asi.ITEM_VER_ID=ahsd.ITEM_VER_ID
        where ahs.SOLICIT_TYPE='i' and asi.BUS_TYPE='1'
        UNION all
        select
        ahs.SOLICIT_ID,ahs.SOLICIT_TYPE
        from aea_hi_solicit ahs
        LEFT JOIN aea_hi_solicit_detail ahsd on ahsd.SOLICIT_ID=ahs.SOLICIT_ID
        left join aea_hi_solicit_detail_user ahsdu on ahsdu.SOLICIT_DETAIL_ID=ahsd.SOLICIT_DETAIL_ID
        inner JOIN aea_solicit_org aso on aso.ORG_ID=ahsd.DETAIL_ORG_ID
        where ahs.SOLICIT_TYPE='d' and aso.BUS_TYPE='1'
    </select>

    <!--8 删除实体对象列表,根据主键ID列表 -->
    <!--9 返回所有字段的对象map,用于级联 -->
    <resultMap type="AeaHiSolicit" id="AeaHiSolicitMap">
        <id property="solicitId" column="SOLICIT_ID"/>
        <result property="solicitType" column="SOLICIT_TYPE"/>
        <result property="solicitOrgId" column="SOLICIT_ORG_ID"/>
        <result property="solicitItemId" column="SOLICIT_ITEM_ID"/>
        <result property="applyinstId" column="APPLYINST_ID"/>
        <result property="procinstId" column="PROCINST_ID"/>
        <result property="hiTaskinstId" column="HI_TASKINST_ID"/>
        <result property="solicitCode" column="SOLICIT_CODE"/>
        <result property="solicitTopic" column="SOLICIT_TOPIC"/>
        <result property="solicitContent" column="SOLICIT_CONTENT"/>
        <result property="solicitDueDays" column="SOLICIT_DUE_DAYS"/>
        <result property="solicitRealDays" column="SOLICIT_REAL_DAYS"/>
        <result property="solicitDaysUnit" column="SOLICIT_DAYS_UNIT"/>
        <result property="solicitStartTime" column="SOLICIT_START_TIME"/>
        <result property="solicitEndTime" column="SOLICIT_END_TIME"/>
        <result property="isCalcTimerule" column="IS_CALC_TIMERULE"/>
        <result property="solicitTimeruleId" column="SOLICIT_TIMERULE_ID"/>
        <result property="conclusionFlag" column="CONCLUSION_FLAG"/>
        <result property="conclusionDesc" column="CONCLUSION_DESC"/>
        <result property="conclusionTime" column="CONCLUSION_TIME"/>
        <result property="conclusionUserId" column="CONCLUSION_USER_ID"/>
        <result property="conclusionUserName" column="CONCLUSION_USER_NAME"/>
        <result property="initiatorOrgId" column="INITIATOR_ORG_ID"/>
        <result property="initiatorOrgName" column="INITIATOR_ORG_NAME"/>
        <result property="initiatorUserId" column="INITIATOR_USER_ID"/>
        <result property="initiatorUserName" column="INITIATOR_USER_NAME"/>
        <result property="countLimit" column="COUNT_LIMIT"/>
        <result property="solicitState" column="SOLICIT_STATE"/>
        <result property="creater" column="CREATER"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="modifier" column="MODIFIER"/>
        <result property="modifyTime" column="MODIFY_TIME"/>
        <result property="rootOrgId" column="ROOT_ORG_ID"/>
    </resultMap>
</mapper>