<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--created by Augurit    2019-12-23 09:54:35 -->
<!--0 一些前置信息配置 -->
<mapper namespace="com.augurit.aplanmis.common.mapper.AeaHiSolicitMapper">
    <!--1 返回所有字段的SQL字句 -->
    <sql id="allColumns">
    ${alias}.SOLICIT_ID  solicitId,
    ${alias}.BUS_TYPE  busType,
    ${alias}.SOLICIT_TYPE  solicitType,
    ${alias}.SOLICIT_ORG_ID  solicitOrgId,
    ${alias}.SOLICIT_ITEM_ID  solicitItemId,
    ${alias}.APPLYINST_ID  applyinstId,
    ${alias}.PROCINST_ID  procinstId,
    ${alias}.HI_TASKINST_ID  hiTaskinstId,
    ${alias}.SOLICIT_CODE  solicitCode,
    ${alias}.SOLICIT_TOPIC  solicitTopic,
    ${alias}.SOLICIT_CONTENT  solicitContent,
    ${alias}.SOLICIT_DUE_DAYS  solicitDueDays,
    ${alias}.SOLICIT_REAL_DAYS  solicitRealDays,
    ${alias}.SOLICIT_DAYS_UNIT  solicitDaysUnit,
    ${alias}.SOLICIT_START_TIME  solicitStartTime,
    ${alias}.SOLICIT_END_TIME  solicitEndTime,
    ${alias}.IS_CALC_TIMERULE  isCalcTimerule,
    ${alias}.SOLICIT_TIMERULE_ID  solicitTimeruleId,
    ${alias}.CONCLUSION_FLAG  conclusionFlag,
    ${alias}.CONCLUSION_DESC  conclusionDesc,
    ${alias}.CONCLUSION_TIME  conclusionTime,
    ${alias}.CONCLUSION_USER_ID  conclusionUserId,
    ${alias}.CONCLUSION_USER_NAME  conclusionUserName,
    ${alias}.INITIATOR_ORG_ID  initiatorOrgId,
    ${alias}.INITIATOR_ORG_NAME  initiatorOrgName,
    ${alias}.INITIATOR_USER_ID  initiatorUserId,
    ${alias}.INITIATOR_USER_NAME  initiatorUserName,
    ${alias}.COUNT_LIMIT  countLimit,
    ${alias}.SOLICIT_STATE  solicitState,
    ${alias}.CREATER  creater,
    ${alias}.CREATE_TIME  createTime,
    ${alias}.MODIFIER  modifier,
    ${alias}.MODIFY_TIME  modifyTime,
    ${alias}.ROOT_ORG_ID  rootOrgId
    </sql>

    <sql id="queryByTime">
        <if test="_databaseId == 'oracle'">
            <if test="acceptStartTime != null and acceptStartTime != '' ">
                <![CDATA[ AND to_char(aha.ACCEPT_TIME , 'yyyy-mm-dd')>=  #{acceptStartTime}   ]]>
            </if>
            <if test="acceptEndTime != null and acceptEndTime != '' ">
                <![CDATA[ AND to_char(aha.ACCEPT_TIME , 'yyyy-mm-dd')<=  #{acceptEndTime}   ]]>
            </if>
        </if>
        <if test="_databaseId == 'mysql'">

            <if test="acceptStartTime != null and acceptStartTime != '' ">
                <![CDATA[ AND DATE_FORMAT(aha.ACCEPT_TIME , '%Y-%m-%d')>=  #{acceptStartTime}   ]]>
            </if>
            <if test="acceptEndTime != null and acceptEndTime != '' ">
                <![CDATA[ AND DATE_FORMAT(aha.ACCEPT_TIME , '%Y-%m-%d')<=  #{acceptEndTime}   ]]>
            </if>
        </if>
    </sql>

    <!--查询意见征求，一次征询，部门征求等意见列表返回字段-->
    <sql id="solicitAliasCol">
        ${alias}.SOLICIT_ID,
        ${alias}.SOLICIT_TYPE,
        ${alias}.BUS_TYPE,
        ${alias}.PROCINST_ID,
        ${alias}.HI_TASKINST_ID,
        ${alias}.SOLICIT_CODE,
        ${alias}.SOLICIT_TOPIC,
        ${alias}.APPLYINST_ID,
        ${alias}.INITIATOR_ORG_ID,
        ${alias}.INITIATOR_ORG_NAME,
        ${alias}.INITIATOR_USER_ID,
        ${alias}.INITIATOR_USER_NAME,
        ${alias}.SOLICIT_DUE_DAYS,
        ${alias}.SOLICIT_STATE,
        ${alias}.IS_CALC_TIMERULE  ,
        ${alias}.SOLICIT_TIMERULE_ID ,
        ${alias}.CONCLUSION_FLAG,
        ${alias}.CONCLUSION_DESC,
        ${alias}.CONCLUSION_TIME,
        ${alias}.CONCLUSION_USER_ID,
        ${alias}.COUNT_LIMIT,
        ${alias}.CONCLUSION_USER_NAME
    </sql>
    <sql id="querySolicitStateCol">
        <choose>
            <when test="solicitState!=null and solicitState.length>0">
                AND ahs.SOLICIT_STATE IN
                <if test="_databaseId == 'oracle'">
                    <foreach collection="solicitState" item="state" open="(" separator="union all" close=")">
                        #{state}
                    </foreach>
                </if>
                <if test="_databaseId == 'mysql'">
                    <foreach collection="solicitState" item="state" separator="," open="(" close=")">
                        #{state}
                    </foreach>
                </if>

            </when>
            <otherwise>
                AND ahs.SOLICIT_STATE IN ( '0', '1','2','3' )
            </otherwise>
        </choose>
    </sql>
    <!--2 根据主键ID查询单个实体 -->
    <select id="getAeaHiSolicitById" resultType="AeaHiSolicit">
        select
        <include refid="allColumns">
            <property name="alias" value="ahs"/>
        </include>
        from AEA_HI_SOLICIT ahs
        where ahs.SOLICIT_ID = #{id}
    </select>

    <!--3 根据条件查询实体list -->
    <select id="listAeaHiSolicit" resultType="AeaHiSolicit">
        select
        <include refid="allColumns">
            <property name="alias" value="ahs"/>
        </include>
        from AEA_HI_SOLICIT ahs
        <where>
            <if test="solicitId != null ">
                AND ahs.SOLICIT_ID = #{solicitId}
            </if>
            <if test="busType != null ">
                AND ahs.BUS_TYPE = #{busType}
            </if>
            <if test="solicitType != null ">
                AND ahs.SOLICIT_TYPE = #{solicitType}
            </if>
            <if test="solicitOrgId != null ">
                AND ahs.SOLICIT_ORG_ID = #{solicitOrgId}
            </if>
            <if test="solicitItemId != null ">
                AND ahs.SOLICIT_ITEM_ID = #{solicitItemId}
            </if>
            <if test="applyinstId != null ">
                AND ahs.APPLYINST_ID = #{applyinstId}
            </if>
            <if test="procinstId != null ">
                AND ahs.PROCINST_ID = #{procinstId}
            </if>
            <if test="hiTaskinstId != null ">
                AND ahs.HI_TASKINST_ID = #{hiTaskinstId}
            </if>
            <if test="solicitCode != null ">
                AND ahs.SOLICIT_CODE = #{solicitCode}
            </if>
            <if test="solicitTopic != null ">
                AND ahs.SOLICIT_TOPIC = #{solicitTopic}
            </if>
            <if test="solicitContent != null ">
                AND ahs.SOLICIT_CONTENT = #{solicitContent}
            </if>
            <if test="solicitDueDays != null ">
                AND ahs.SOLICIT_DUE_DAYS = #{solicitDueDays}
            </if>
            <if test="solicitRealDays != null ">
                AND ahs.SOLICIT_REAL_DAYS = #{solicitRealDays}
            </if>
            <if test="solicitDaysUnit != null ">
                AND ahs.SOLICIT_DAYS_UNIT = #{solicitDaysUnit}
            </if>
            <if test="solicitStartTime != null ">
                AND ahs.SOLICIT_START_TIME = #{solicitStartTime}
            </if>
            <if test="solicitEndTime != null ">
                AND ahs.SOLICIT_END_TIME = #{solicitEndTime}
            </if>
            <if test="isCalcTimerule != null ">
                AND ahs.IS_CALC_TIMERULE = #{isCalcTimerule}
            </if>
            <if test="solicitTimeruleId != null ">
                AND ahs.SOLICIT_TIMERULE_ID = #{solicitTimeruleId}
            </if>
            <if test="conclusionFlag != null ">
                AND ahs.CONCLUSION_FLAG = #{conclusionFlag}
            </if>
            <if test="conclusionDesc != null ">
                AND ahs.CONCLUSION_DESC = #{conclusionDesc}
            </if>
            <if test="conclusionTime != null ">
                AND ahs.CONCLUSION_TIME = #{conclusionTime}
            </if>
            <if test="conclusionUserId != null ">
                AND ahs.CONCLUSION_USER_ID = #{conclusionUserId}
            </if>
            <if test="conclusionUserName != null ">
                AND ahs.CONCLUSION_USER_NAME = #{conclusionUserName}
            </if>
            <if test="initiatorOrgId != null ">
                AND ahs.INITIATOR_ORG_ID = #{initiatorOrgId}
            </if>
            <if test="initiatorOrgName != null ">
                AND ahs.INITIATOR_ORG_NAME = #{initiatorOrgName}
            </if>
            <if test="initiatorUserId != null ">
                AND ahs.INITIATOR_USER_ID = #{initiatorUserId}
            </if>
            <if test="initiatorUserName != null ">
                AND ahs.INITIATOR_USER_NAME = #{initiatorUserName}
            </if>
            <if test="countLimit != null ">
                AND ahs.COUNT_LIMIT = #{countLimit}
            </if>
            <if test="solicitState != null ">
                AND ahs.SOLICIT_STATE = #{solicitState}
            </if>
            <if test="creater != null ">
                AND ahs.CREATER = #{creater}
            </if>
            <if test="createTime != null ">
                AND ahs.CREATE_TIME = #{createTime}
            </if>
            <if test="modifier != null ">
                AND ahs.MODIFIER = #{modifier}
            </if>
            <if test="modifyTime != null ">
                AND ahs.MODIFY_TIME = #{modifyTime}
            </if>
            <if test="rootOrgId != null ">
                AND ahs.ROOT_ORG_ID = #{rootOrgId}
            </if>
        </where>
        ORDER BY SOLICIT_START_TIME
    </select>
    <!--4 根据条件查询实体list,返回分页对象 -->

    <!--5 新增实体对象 -->
    <insert id="insertAeaHiSolicit" parameterType="AeaHiSolicit">
        insert into AEA_HI_SOLICIT (
    SOLICIT_ID  ,BUS_TYPE  ,SOLICIT_TYPE  ,SOLICIT_ORG_ID  ,SOLICIT_ITEM_ID  ,APPLYINST_ID  ,PROCINST_ID  ,HI_TASKINST_ID  ,SOLICIT_CODE  ,SOLICIT_TOPIC  ,SOLICIT_CONTENT  ,SOLICIT_DUE_DAYS  ,SOLICIT_REAL_DAYS  ,SOLICIT_DAYS_UNIT  ,SOLICIT_START_TIME  ,SOLICIT_END_TIME  ,IS_CALC_TIMERULE  ,SOLICIT_TIMERULE_ID  ,CONCLUSION_FLAG  ,CONCLUSION_DESC  ,CONCLUSION_TIME  ,CONCLUSION_USER_ID  ,CONCLUSION_USER_NAME  ,INITIATOR_ORG_ID  ,INITIATOR_ORG_NAME  ,INITIATOR_USER_ID  ,INITIATOR_USER_NAME  ,COUNT_LIMIT  ,SOLICIT_STATE  ,CREATER  ,CREATE_TIME  ,MODIFIER  ,MODIFY_TIME  ,ROOT_ORG_ID
        )  values  (
    #{solicitId},#{busType},#{solicitType},#{solicitOrgId},#{solicitItemId},#{applyinstId},#{procinstId},#{hiTaskinstId},#{solicitCode},#{solicitTopic},#{solicitContent},#{solicitDueDays},#{solicitRealDays},#{solicitDaysUnit},#{solicitStartTime},#{solicitEndTime},#{isCalcTimerule},#{solicitTimeruleId},#{conclusionFlag},#{conclusionDesc},#{conclusionTime},#{conclusionUserId},#{conclusionUserName},#{initiatorOrgId},#{initiatorOrgName},#{initiatorUserId},#{initiatorUserName},#{countLimit},#{solicitState},#{creater},#{createTime},#{modifier},#{modifyTime},  #{rootOrgId}
        )
    </insert>
    <!--6 修改实体对象 -->
    <update id="updateAeaHiSolicit" parameterType="AeaHiSolicit">
        update AEA_HI_SOLICIT
        <set>
            <if test="solicitId != null  ">
                SOLICIT_ID = #{solicitId},
            </if>
            <if test="busType != null  ">
                BUS_TYPE = #{busType},
            </if>
            <if test="solicitType != null  ">
                SOLICIT_TYPE = #{solicitType},
            </if>
            <if test="solicitOrgId != null  ">
                SOLICIT_ORG_ID = #{solicitOrgId},
            </if>
            <if test="solicitItemId != null  ">
                SOLICIT_ITEM_ID = #{solicitItemId},
            </if>
            <if test="applyinstId != null  ">
                APPLYINST_ID = #{applyinstId},
            </if>
            <if test="procinstId != null  ">
                PROCINST_ID = #{procinstId},
            </if>
            <if test="hiTaskinstId != null  ">
                HI_TASKINST_ID = #{hiTaskinstId},
            </if>
            <if test="solicitCode != null  ">
                SOLICIT_CODE = #{solicitCode},
            </if>
            <if test="solicitTopic != null  ">
                SOLICIT_TOPIC = #{solicitTopic},
            </if>
            <if test="solicitContent != null  ">
                SOLICIT_CONTENT = #{solicitContent},
            </if>
            <if test="solicitDueDays != null  ">
                SOLICIT_DUE_DAYS = #{solicitDueDays},
            </if>
            <if test="solicitRealDays != null  ">
                SOLICIT_REAL_DAYS = #{solicitRealDays},
            </if>
            <if test="solicitDaysUnit != null  ">
                SOLICIT_DAYS_UNIT = #{solicitDaysUnit},
            </if>
            <if test="solicitStartTime != null  ">
                SOLICIT_START_TIME = #{solicitStartTime},
            </if>
            <if test="solicitEndTime != null  ">
                SOLICIT_END_TIME = #{solicitEndTime},
            </if>
            <if test="isCalcTimerule != null  ">
                IS_CALC_TIMERULE = #{isCalcTimerule},
            </if>
            <if test="solicitTimeruleId != null  ">
                SOLICIT_TIMERULE_ID = #{solicitTimeruleId},
            </if>
            <if test="conclusionFlag != null  ">
                CONCLUSION_FLAG = #{conclusionFlag},
            </if>
            <if test="conclusionDesc != null  ">
                CONCLUSION_DESC = #{conclusionDesc},
            </if>
            <if test="conclusionTime != null  ">
                CONCLUSION_TIME = #{conclusionTime},
            </if>
            <if test="conclusionUserId != null  ">
                CONCLUSION_USER_ID = #{conclusionUserId},
            </if>
            <if test="conclusionUserName != null  ">
                CONCLUSION_USER_NAME = #{conclusionUserName},
            </if>
            <if test="initiatorOrgId != null  ">
                INITIATOR_ORG_ID = #{initiatorOrgId},
            </if>
            <if test="initiatorOrgName != null  ">
                INITIATOR_ORG_NAME = #{initiatorOrgName},
            </if>
            <if test="initiatorUserId != null  ">
                INITIATOR_USER_ID = #{initiatorUserId},
            </if>
            <if test="initiatorUserName != null  ">
                INITIATOR_USER_NAME = #{initiatorUserName},
            </if>
            <if test="countLimit != null  ">
                COUNT_LIMIT = #{countLimit},
            </if>
            <if test="solicitState != null  ">
                SOLICIT_STATE = #{solicitState},
            </if>
            <if test="creater != null  ">
                CREATER = #{creater},
            </if>
            <if test="createTime != null  ">
                CREATE_TIME = #{createTime},
            </if>
            <if test="modifier != null  ">
                MODIFIER = #{modifier},
            </if>
            <if test="modifyTime != null  ">
                MODIFY_TIME = #{modifyTime},
            </if>
            <if test="rootOrgId != null  ">
                ROOT_ORG_ID = #{rootOrgId},
            </if>
        </set>
        where SOLICIT_ID = #{solicitId}
    </update>
    <!--7 删除实体对象,根据主键ID -->
    <delete id="deleteAeaHiSolicit">
        delete from   AEA_HI_SOLICIT
        where
    SOLICIT_ID = #{id}
    </delete>

    <!--根据意见征求流水号获取意见征求信息-->
    <select id="getAeaHiSolicitBySolicitCode" resultType="AeaHiSolicit">
        select
        <include refid="allColumns">
            <property name="alias" value="ahs"/>
        </include>
        from AEA_HI_SOLICIT ahs
        where ahs.SOLICIT_CODE = #{solicitCode}
    </select>

    <select id="listSolicit" resultType="com.augurit.aplanmis.common.vo.solicit.AeaHiSolicitVo">

        SELECT
        ahs.SOLICIT_ID as solicitId,
        ahs.SOLICIT_TYPE as solicitType,
        ahs.PROCINST_ID as procinstId,
        ahs.HI_TASKINST_ID as hiTaskinstId,
        ahs.SOLICIT_CODE as solicitCode,
        ahs.SOLICIT_TOPIC as solicitTopic,
        ahs.APPLYINST_ID as applyinstId,
        ahs.INITIATOR_ORG_ID as initiatorOrgId,
        ahs.INITIATOR_ORG_NAME as initiatorOrgName,
        ahs.INITIATOR_USER_ID as initiatorUserId,
        ahs.INITIATOR_USER_NAME as initiatorUserName,
        ahs.SIGN_TIME as signTime,
        ahs.OVERDUE_TIME overdueTime,
        ahs.REMAINING_TIME remainingTime,
        ahs.TIMERULE_UNIT as timeruleUnit,
        ahs.INST_STATE as instState,
        ahs.SOLICIT_DUE_DAYS as solicitDueDays,
        ahs.SOLICIT_STATE as solicitState,
        ahs.IS_CALC_TIMERULE as isCalcTimerule,
        ahs.SOLICIT_TIMERULE_ID as solicitTimeruleId,
        ahs.CONCLUSION_FLAG as conclusionFlag,
        ahs.CONCLUSION_DESC as conclusionDesc,
        ahs.CONCLUSION_TIME as conclusionTime,
        ahs.CONCLUSION_USER_ID as conclusionUserId,
        ahs.COUNT_LIMIT as countLimit,
        ahs.CONCLUSION_USER_NAME as conclusionUserName,
        ahs.taskId as taskId,
        ahs.taskName as taskName,
        ahs.TASK_DEF_KEY_ as taskDefKey,
        ahs.SOLICIT_DETAIL_ID as solicitDetailId,
        ahs.DETAIL_USER_ID as detailUserId,
        aha.APPLYINST_CODE as applyinstCode,
        aha.IS_SERIES_APPROVE as isSeriesApprove,
        ( CASE aha.IS_SERIES_APPROVE WHEN '0' THEN '并联' ELSE '单项' END ) AS applyType,
        aha.ACCEPT_TIME as acceptTime,
        aha.createTime as createTime,
        aha.ITEMINST_NAME as itemName,
        aha.STAGE_NAME as stageName,
        aha.THEME_ID as themeId,
        aha.THEME_NAME as themeName,
        aha.APPLYINST_SOURCE as applyinstSource,
        ( CASE aha.APPLYINST_SOURCE WHEN 'win' THEN '窗口' ELSE '网厅' END ) AS applySource,
        api.PROJ_NAME as projName,
        api.PROJ_INFO_ID as projInfoId,
        api.LOCAL_CODE as localCode
        FROM
        (
        SELECT
        <include refid="solicitAliasCol">
            <property name="alias" value="ahs"/>
        </include>
        ,
        ahsd.SOLICIT_DETAIL_ID,
        ahsdu.DETAIL_USER_ID,
        ahsdu.USER_ID,
        ahsdu.SIGN_TIME,

        art.ID_ AS taskId,
        art.NAME_ AS taskName ,
        art.TASK_DEF_KEY_ ,
        asti.OVERDUE_TIME,
        asti.REMAINING_TIME,
        asti.TIMERULE_UNIT,
        asti.INST_STATE
        FROM AEA_HI_SOLICIT_DETAIL_USER ahsdu
        LEFT JOIN AEA_HI_SOLICIT_DETAIL ahsd ON ahsdu.SOLICIT_DETAIL_ID = ahsd.SOLICIT_DETAIL_ID
        LEFT JOIN AEA_HI_SOLICIT ahs ON ahsd.SOLICIT_ID = ahs.SOLICIT_ID
        LEFT JOIN opu_om_user oou on oou.user_Id=ahs.INITIATOR_USER_ID
        LEFT JOIN ACT_RU_TASK art ON art.PROC_INST_ID_ = ahs.PROCINST_ID and oou.user_name=art.ASSIGNEE_NAME_
        LEFT JOIN act_hi_taskinst aht ON aht.ID_ = ahs.HI_TASKINST_ID
        LEFT JOIN ACT_STO_TIMERULE ast ON ast.TIMERULE_ID = ahs.SOLICIT_TIMERULE_ID
        LEFT JOIN ACT_STO_TIMERULE_INST asti ON asti.TIMERULE_ID = ast.TIMERULE_ID and
        asti.TASKINST_ID=ahs.HI_TASKINST_ID
        AND ahs.PROCINST_ID = asti.PROC_INST_ID
        WHERE ahs.BUS_TYPE = #{busType}
        <include refid="querySolicitStateCol"></include>
        AND ahsdu.USER_ID=#{userId} AND ahs.ROOT_ORG_ID = #{rootOrgId}
        UNION
        SELECT
        <include refid="solicitAliasCol">
            <property name="alias" value="ahs"/>
        </include>
        ,
        null as SOLICIT_DETAIL_ID,
        null as DETAIL_USER_ID,
        null as USER_ID,
        null as SIGN_TIME,
        art.ID_ AS taskId,
        art.NAME_ AS taskName ,
        art.TASK_DEF_KEY_ ,
        asti.OVERDUE_TIME,
        asti.REMAINING_TIME,
        asti.TIMERULE_UNIT,
        asti.INST_STATE

        FROM
        AEA_HI_SOLICIT ahs
        LEFT JOIN opu_om_user oou on oou.user_Id=ahs.INITIATOR_USER_ID
        LEFT JOIN ACT_RU_TASK art ON art.PROC_INST_ID_ = ahs.PROCINST_ID and oou.user_name=art.ASSIGNEE_NAME_
        LEFT JOIN act_hi_taskinst aht ON aht.ID_ = ahs.HI_TASKINST_ID
        LEFT JOIN ACT_STO_TIMERULE ast ON ast.TIMERULE_ID = ahs.SOLICIT_TIMERULE_ID
        LEFT JOIN ACT_STO_TIMERULE_INST asti ON asti.TIMERULE_ID = ast.TIMERULE_ID and
        asti.TASKINST_ID=ahs.HI_TASKINST_ID
        AND ahs.PROCINST_ID = asti.PROC_INST_ID
        WHERE ahs.BUS_TYPE = #{busType}
        <include refid="querySolicitStateCol"></include>
        AND ahs.INITIATOR_USER_ID = #{userId} AND ahs.ROOT_ORG_ID = #{rootOrgId}
        ) ahs
        left JOIN (
        SELECT
        aha.APPLYINST_ID,
        aha.APPLYINST_CODE,
        aha.IS_SERIES_APPROVE,
        aha.ACCEPT_TIME,
        aha.CREATE_TIME AS createTime,
        aha.APPLYINST_SOURCE,
        NULL AS ITEMINST_NAME,
        aps_123.STAGE_NAME,
        theme.THEME_ID,
        theme.THEME_NAME
        FROM AEA_HI_APPLYINST aha
        INNER JOIN AEA_HI_PAR_STAGEINST ahs_123 ON ahs_123.APPLYINST_ID = aha.APPLYINST_ID
        LEFT JOIN AEA_PAR_STAGE aps_123 ON aps_123.STAGE_ID = ahs_123.STAGE_ID
        LEFT JOIN AEA_PAR_THEME_VER ver ON aps_123.THEME_VER_ID = ver.THEME_VER_ID
        LEFT JOIN AEA_PAR_THEME theme ON theme.THEME_ID = ver.THEME_ID
        <where>
            aha.IS_SERIES_APPROVE = '0'
            <if test="theme!=null and theme!=''">
                and theme.THEME_ID=#{theme}
            </if>
        </where>

        UNION
        SELECT
        aha.APPLYINST_ID,
        aha.APPLYINST_CODE,
        aha.IS_SERIES_APPROVE,
        aha.ACCEPT_TIME,
        aha.CREATE_TIME AS createTime,
        aha.APPLYINST_SOURCE,
        NULL AS ITEMINST_NAME,
        aps_123.STAGE_NAME,
        theme.THEME_ID,
        theme.THEME_NAME
        FROM AEA_HI_APPLYINST aha
        INNER JOIN aea_hi_seriesinst ahs ON ahs.applyinst_id = aha.applyinst_id
        LEFT JOIN AEA_PAR_STAGE aps_123 ON aps_123.STAGE_ID = ahs.STAGE_ID
        LEFT JOIN AEA_PAR_THEME_VER ver ON aps_123.THEME_VER_ID = ver.THEME_VER_ID
        LEFT JOIN AEA_PAR_THEME theme ON theme.THEME_ID = ver.THEME_ID
        <where>
            aha.IS_SERIES_APPROVE = '1' AND ahs.stage_id IS NOT NULL AND ahs.IS_PARALLEL = '1'
            <if test="theme!=null and theme!=''">
                and theme.THEME_ID=#{theme}
            </if>
        </where>
        UNION
        SELECT
        aha.APPLYINST_ID,
        aha.APPLYINST_CODE,
        aha.IS_SERIES_APPROVE,
        aha.ACCEPT_TIME,
        aha.CREATE_TIME AS createTime,
        aha.APPLYINST_SOURCE,
        iteminst.ITEMINST_NAME AS ITEMINST_NAME,
        NULL AS STAGE_NAME,
        NULL AS THEME_ID,
        NULL AS THEME_NAME
        FROM AEA_HI_APPLYINST aha
        INNER JOIN AEA_HI_SERIESINST ahs ON ahs.applyinst_id = aha.applyinst_id
        LEFT JOIN AEA_HI_ITEMINST iteminst ON iteminst.SERIESINST_ID = ahs.SERIESINST_ID
        <where>
            aha.IS_SERIES_APPROVE = '1' AND ahs.IS_PARALLEL = '0'
        </where>

        ) aha ON ahs.APPLYINST_ID = aha.APPLYINST_ID
        LEFT JOIN aea_applyinst_proj aap ON ahs.APPLYINST_ID = aap.APPLYINST_ID
        LEFT JOIN aea_proj_info api ON aap.PROJ_INFO_ID = api.PROJ_INFO_ID

        <where>
            <if test="keyword!=null and keyword!=''">
                AND (
                api.PROJ_NAME LIKE CONCAT(CONCAT('%',#{keyword}),'%')
                OR api.LOCAL_CODE LIKE CONCAT(CONCAT('%',#{keyword}),'%')
                OR api.GCBM LIKE CONCAT(CONCAT('%',#{keyword}),'%')
                OR aha.APPLYINST_CODE LIKE CONCAT(CONCAT('%',#{keyword}),'%')
                OR aha.ITEMINST_NAME LIKE CONCAT(CONCAT('%',#{keyword}),'%')
                OR aha.STAGE_NAME LIKE CONCAT(CONCAT('%',#{keyword}),'%')
                )
            </if>
            <if test="applyType!=null and applyType!='' ">
                and aha.IS_SERIES_APPROVE=#{applyType}
            </if>
            <if test="applySource!=null and applySource!='' ">
                and aha.APPLYINST_SOURCE=#{applySource}
            </if>
            <if test="theme!=null and theme !=''">
                and aha.THEME_ID=#{theme}
            </if>
            <if test="theme!=null and theme !=''">
                and ahs.INST_STATE=#{instState}
            </if>
            <include refid="queryByTime"></include>
        </where>

    </select>


    <select id="getAeaHiSolicitByApplyinstId" resultType="AeaHiSolicit">
        select
        <include refid="allColumns">
            <property name="alias" value="ahs"/>
        </include>
        from aea_hi_solicit ahs where ahs.APPLYINST_ID=#{applyinstId} order by ahs.CREATE_TIME desc
    </select>
    <!--8 删除实体对象列表,根据主键ID列表 -->
    <!--9 返回所有字段的对象map,用于级联 -->
    <resultMap type="AeaHiSolicit" id="AeaHiSolicitMap">
        <id property="solicitId" column="SOLICIT_ID"/>
        <result property="busType" column="BUS_TYPE"/>
        <result property="solicitType" column="SOLICIT_TYPE"/>
        <result property="solicitOrgId" column="SOLICIT_ORG_ID"/>
        <result property="solicitItemId" column="SOLICIT_ITEM_ID"/>
        <result property="applyinstId" column="APPLYINST_ID"/>
        <result property="procinstId" column="PROCINST_ID"/>
        <result property="hiTaskinstId" column="HI_TASKINST_ID"/>
        <result property="solicitCode" column="SOLICIT_CODE"/>
        <result property="solicitTopic" column="SOLICIT_TOPIC"/>
        <result property="solicitContent" column="SOLICIT_CONTENT"/>
        <result property="solicitDueDays" column="SOLICIT_DUE_DAYS"/>
        <result property="solicitRealDays" column="SOLICIT_REAL_DAYS"/>
        <result property="solicitDaysUnit" column="SOLICIT_DAYS_UNIT"/>
        <result property="solicitStartTime" column="SOLICIT_START_TIME"/>
        <result property="solicitEndTime" column="SOLICIT_END_TIME"/>
        <result property="isCalcTimerule" column="IS_CALC_TIMERULE"/>
        <result property="solicitTimeruleId" column="SOLICIT_TIMERULE_ID"/>
        <result property="conclusionFlag" column="CONCLUSION_FLAG"/>
        <result property="conclusionDesc" column="CONCLUSION_DESC"/>
        <result property="conclusionTime" column="CONCLUSION_TIME"/>
        <result property="conclusionUserId" column="CONCLUSION_USER_ID"/>
        <result property="conclusionUserName" column="CONCLUSION_USER_NAME"/>
        <result property="initiatorOrgId" column="INITIATOR_ORG_ID"/>
        <result property="initiatorOrgName" column="INITIATOR_ORG_NAME"/>
        <result property="initiatorUserId" column="INITIATOR_USER_ID"/>
        <result property="initiatorUserName" column="INITIATOR_USER_NAME"/>
        <result property="countLimit" column="COUNT_LIMIT"/>
        <result property="solicitState" column="SOLICIT_STATE"/>
        <result property="creater" column="CREATER"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="modifier" column="MODIFIER"/>
        <result property="modifyTime" column="MODIFY_TIME"/>
        <result property="rootOrgId" column="ROOT_ORG_ID"/>
    </resultMap>
</mapper>