<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.augurit.aplanmis.common.mapper.AeaHiGuideDetailMapper">

    <resultMap id="BaseResultMap" type="com.augurit.aplanmis.common.domain.AeaHiGuideDetail">
        <id column="GUIDE_DETAIL_ID" jdbcType="VARCHAR" property="guideDetailId"/>
        <result column="GUIDE_ID" jdbcType="VARCHAR" property="guideId"/>
        <result column="DETAIL_TYPE" jdbcType="CHAR" property="detailType"/>
        <result column="THEME_ID" jdbcType="VARCHAR" property="themeId"/>
        <result column="THEME_VER_ID" jdbcType="VARCHAR" property="themeVerId"/>
        <result column="STAGE_ID" jdbcType="VARCHAR" property="stageId"/>
        <result column="ITEM_ID" jdbcType="VARCHAR" property="itemId"/>
        <result column="ITEM_VER_ID" jdbcType="VARCHAR" property="itemVerId"/>
        <result column="CATALOG_ITEM_VER_ID" jdbcType="VARCHAR" property="catalogItemVerId"/>
        <result column="GUIDE_ORG_ID" jdbcType="VARCHAR" property="guideOrgId"/>
        <result column="GUIDE_USER_ID" jdbcType="VARCHAR" property="guideUserId"/>
        <result column="GUIDE_OPINION" jdbcType="VARCHAR" property="guideOpinion"/>
        <result column="DETAIL_STATE" jdbcType="VARCHAR" property="detailState"/>
        <result column="GUIDE_CHANGE_ACTION" jdbcType="VARCHAR" property="guideChangeAction"/>
        <result column="DETAIL_START_TIME" jdbcType="TIMESTAMP" property="detailStartTime"/>
        <result column="DETAIL_END_TIME" jdbcType="TIMESTAMP" property="detailEndTime"/>
        <result column="CREATER" jdbcType="VARCHAR" property="creater"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="MODIFIER" jdbcType="VARCHAR" property="modifier"/>
        <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        ahgd.GUIDE_DETAIL_ID guideDetailId,
        ahgd.GUIDE_ID guideId,
        ahgd.DETAIL_TYPE detailType,
        ahgd.THEME_ID themeId,
        ahgd.THEME_VER_ID themeVerId,
        ahgd.STAGE_ID stageId,
        ahgd.ITEM_ID itemId,
        ahgd.ITEM_VER_ID itemVerId,
        ahgd.CATALOG_ITEM_VER_ID catalogItemVerId,
        ahgd.GUIDE_ORG_ID guideOrgId,
        ahgd.GUIDE_USER_ID guideUserId,
        ahgd.GUIDE_OPINION guideOpinion,
        ahgd.DETAIL_STATE detailState,
        ahgd.GUIDE_CHANGE_ACTION guideChangeAction,
        ahgd.DETAIL_START_TIME detailStartTime,
        ahgd.DETAIL_END_TIME detailEndTime,
        ahgd.CREATER creater,
        ahgd.CREATE_TIME createTime,
        ahgd.MODIFIER modifier,
        ahgd.MODIFY_TIME modifyTime
    </sql>

    <select id="getAeaHiGuideDetailByGuideDetailId" parameterType="java.lang.String" resultType="com.augurit.aplanmis.common.domain.AeaHiGuideDetail">
        select
        <include refid="Base_Column_List"/>
        from aea_hi_guide_detail ahgd
        where GUIDE_DETAIL_ID = #{guideDetailId,jdbcType=VARCHAR}
    </select>

    <delete id="deleteByGuideDetailId" parameterType="java.lang.String">
    delete from aea_hi_guide_detail
    where GUIDE_DETAIL_ID = #{guideDetailId,jdbcType=VARCHAR}
  </delete>

    <delete id="batchDeleteAeaHiGuideDetail">
        delete from aea_hi_guide_detail
        where GUIDE_DETAIL_ID in
        <foreach collection="guideDetailIds" close=")" open="(" separator="," item="id">
            #{id,jdbcType=VARCHAR}
        </foreach>
    </delete>

    <insert id="insertAeaHiGuideDetail" parameterType="com.augurit.aplanmis.common.domain.AeaHiGuideDetail">
    insert into aea_hi_guide_detail (GUIDE_DETAIL_ID, GUIDE_ID, DETAIL_TYPE,
      THEME_ID, THEME_VER_ID, STAGE_ID, 
      ITEM_ID, ITEM_VER_ID ,CATALOG_ITEM_VER_ID, GUIDE_ORG_ID,
      GUIDE_USER_ID, GUIDE_OPINION, DETAIL_STATE, GUIDE_CHANGE_ACTION,
      DETAIL_START_TIME, DETAIL_END_TIME, CREATER, 
      CREATE_TIME, MODIFIER, MODIFY_TIME
      )
    values (#{guideDetailId,jdbcType=VARCHAR}, #{guideId,jdbcType=VARCHAR}, #{detailType,jdbcType=CHAR}, 
      #{themeId,jdbcType=VARCHAR}, #{themeVerId,jdbcType=VARCHAR}, #{stageId,jdbcType=VARCHAR}, 
      #{itemId,jdbcType=VARCHAR}, #{itemVerId,jdbcType=VARCHAR}, #{catalogItemVerId,jdbcType=VARCHAR}, #{guideOrgId,jdbcType=VARCHAR},
      #{guideUserId,jdbcType=VARCHAR}, #{guideOpinion,jdbcType=VARCHAR}, #{detailState,jdbcType=VARCHAR}, #{guideChangeAction,jdbcType=VARCHAR},
      #{detailStartTime,jdbcType=TIMESTAMP}, #{detailEndTime,jdbcType=TIMESTAMP}, #{creater,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifier,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}
      )
  </insert>

    <update id="updateAeaHiGuideDetail" parameterType="com.augurit.aplanmis.common.domain.AeaHiGuideDetail">
        update aea_hi_guide_detail
        <set>
            <if test="guideId != null">
                GUIDE_ID = #{guideId,jdbcType=VARCHAR},
            </if>
            <if test="detailType != null">
                DETAIL_TYPE = #{detailType,jdbcType=CHAR},
            </if>
            <if test="themeId != null">
                THEME_ID = #{themeId,jdbcType=VARCHAR},
            </if>
            <if test="themeVerId != null">
                THEME_VER_ID = #{themeVerId,jdbcType=VARCHAR},
            </if>
            <if test="stageId != null">
                STAGE_ID = #{stageId,jdbcType=VARCHAR},
            </if>
            <if test="itemId != null">
                ITEM_ID = #{itemId,jdbcType=VARCHAR},
            </if>
            <if test="itemVerId != null">
                ITEM_VER_ID = #{itemVerId,jdbcType=VARCHAR},
            </if>
            <if test="catalogItemVerId != null">
                CATALOG_ITEM_VER_ID = #{catalogItemVerId,jdbcType=VARCHAR},
            </if>
            <if test="guideOrgId != null">
                GUIDE_ORG_ID = #{guideOrgId,jdbcType=VARCHAR},
            </if>
            <if test="guideUserId != null">
                GUIDE_USER_ID = #{guideUserId,jdbcType=VARCHAR},
            </if>
            <if test="guideOpinion != null">
                GUIDE_OPINION = #{guideOpinion,jdbcType=VARCHAR},
            </if>
            <if test="detailState != null">
                DETAIL_STATE = #{detailState,jdbcType=VARCHAR},
            </if>
            <if test="guideChangeAction != null">
                GUIDE_CHANGE_ACTION = #{guideChangeAction,jdbcType=VARCHAR},
            </if>
            <if test="detailStartTime != null">
                DETAIL_START_TIME = #{detailStartTime,jdbcType=TIMESTAMP},
            </if>
            <if test="detailEndTime != null">
                DETAIL_END_TIME = #{detailEndTime,jdbcType=TIMESTAMP},
            </if>
            <if test="creater != null">
                CREATER = #{creater,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifier != null">
                MODIFIER = #{modifier,jdbcType=VARCHAR},
            </if>
            <if test="modifyTime != null">
                MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where GUIDE_DETAIL_ID = #{guideDetailId,jdbcType=VARCHAR}
    </update>

    <insert id="batchInsertAeaHiGuideDetail" parameterType="map">
        insert into aea_hi_guide_detail
        (GUIDE_DETAIL_ID, GUIDE_ID, DETAIL_TYPE, THEME_ID, THEME_VER_ID, STAGE_ID, ITEM_ID,
        ITEM_VER_ID, CATALOG_ITEM_VER_ID, GUIDE_ORG_ID, GUIDE_USER_ID, GUIDE_OPINION, DETAIL_STATE, GUIDE_CHANGE_ACTION, DETAIL_START_TIME,
        DETAIL_END_TIME, CREATER, CREATE_TIME, MODIFIER, MODIFY_TIME)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.guideDetailId,jdbcType=VARCHAR}, #{item.guideId,jdbcType=VARCHAR}, #{item.detailType,jdbcType=CHAR},
            #{item.themeId,jdbcType=VARCHAR}, #{item.themeVerId,jdbcType=VARCHAR}, #{item.stageId,jdbcType=VARCHAR},
            #{item.itemId,jdbcType=VARCHAR}, #{item.itemVerId,jdbcType=VARCHAR}, #{item.catalogItemVerId,jdbcType=VARCHAR}, #{item.guideOrgId,jdbcType=VARCHAR},
            #{item.guideUserId,jdbcType=VARCHAR}, #{item.guideOpinion,jdbcType=VARCHAR},
            #{item.detailState,jdbcType=VARCHAR}, #{item.guideChangeAction,jdbcType=VARCHAR},
            #{item.detailStartTime,jdbcType=TIMESTAMP}, #{item.detailEndTime,jdbcType=TIMESTAMP},
            #{item.creater,jdbcType=VARCHAR}, #{item.createTime,jdbcType=TIMESTAMP}, #{item.modifier,jdbcType=VARCHAR},
            #{item.modifyTime,jdbcType=TIMESTAMP})
        </foreach>
    </insert>

    <select id="listAeaHiGuideDetailByGuideIdOrderByCreateTimeAsc" resultType="com.augurit.aplanmis.common.domain.AeaHiGuideDetail">
        select
        <include refid="Base_Column_List"/>
        from aea_hi_guide_detail ahgd
        where GUIDE_ID = #{guideId ,jdbcType=VARCHAR}
        order by ahgd.create_time asc
    </select>

</mapper>