<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--created by Administrator    2019-07-04 16:45:22 -->
<!--0 一些前置信息配置 -->
<mapper namespace="com.augurit.aplanmis.common.mapper.AeaHiSmsInfoMapper">
    <!--1 返回所有字段的SQL字句 -->
    <sql id="allColumns">
        ID  id,
        APPLYINST_ID  applyinstId,
        RECEIVE_MODE  receiveMode,
        RECEIVE_TYPE  receiveType,
        ORDER_ID  orderId,
        EXPRESS_NUM  expressNum,
        ADDRESSEE_NAME  addresseeName,
        ADDRESSEE_PHONE  addresseePhone,
        ADDRESSEE_IDCARD  addresseeIdcard,
        ADDRESSEE_ADDR  addresseeAddr,
        ADDRESSEE_PROVINCE  addresseeProvince,
        ADDRESSEE_CITY  addresseeCity,
        ADDRESSEE_COUNTY  addresseeCounty,
        SENDER_NAME  senderName,
        SENDER_PHONE  senderPhone,
        SENDER_ADDR  senderAddr,
        SENDER_PROVINCE  senderProvince,
        SENDER_CITY  senderCity,
        SENDER_COUNTY  senderCounty,
        SMS_TYPE  smsType,
        CREATER  creater,
        CREATE_TIME  createTime,
        ISSUE_TIME  issueTime,
        ROOT_ORG_ID rootOrgId
    </sql>

    <!--2 根据主键ID查询单个实体 -->
    <select id="getAeaHiSmsInfoById" resultType="AeaHiSmsInfo">
        select
        <include refid="allColumns"/>
        from AEA_HI_SMS_INFO
        where ID = #{id}
    </select>

    <select id="getAeaHiSmsInfoByApplyinstId" resultType="AeaHiSmsInfo">
        select
        <include refid="allColumns"/>
        from AEA_HI_SMS_INFO
        where APPLYINST_ID = #{applyinstId}
    </select>

    <select id="listAeaHiSmsInfoLikeSenderName" resultType="AeaHiSmsInfo">
        select
        <include refid="allColumns"/>
        from AEA_HI_SMS_INFO
        where SENDER_NAME like CONCAT('%',#{senderName},'%')
        <if test="rootOrgId != null and rootOrgId!=''">
            and ROOT_ORG_ID = #{rootOrgId}
        </if>
    </select>

    <select id="getAeaHiSmsInfoByOrderIdOrExpressNum" resultType="AeaHiSmsInfo">
        select
        <include refid="allColumns"/>
        from AEA_HI_SMS_INFO
        where (ORDER_ID = #{orderId} or EXPRESS_NUM = #{expressNum})
        <if test="rootOrgId != null and rootOrgId!=''">
            and ROOT_ORG_ID = #{rootOrgId}
        </if>
    </select>

    <!--3 根据条件查询实体list -->
    <select id="listAeaHiSmsInfo" resultType="AeaHiSmsInfo">
        select
        <include refid="allColumns"/>
        from AEA_HI_SMS_INFO
        <where>
            <if test="id != null">
                AND ID = #{id}
            </if>
            <if test="applyinstId != null">
                AND APPLYINST_ID = #{applyinstId}
            </if>
            <if test="receiveMode != null">
                AND RECEIVE_MODE = #{receiveMode}
            </if>
            <if test="receiveType != null">
                AND RECEIVE_TYPE = #{receiveType}
            </if>
            <if test="orderId != null">
                AND ORDER_ID = #{orderId}
            </if>
            <if test="expressNum != null">
                AND EXPRESS_NUM = #{expressNum}
            </if>
            <if test="addresseeName != null">
                AND ADDRESSEE_NAME = #{addresseeName}
            </if>
            <if test="addresseePhone != null">
                AND ADDRESSEE_PHONE = #{addresseePhone}
            </if>
            <if test="addresseeIdcard != null">
                AND ADDRESSEE_IDCARD = #{addresseeIdcard}
            </if>
            <if test="addresseeAddr != null">
                AND ADDRESSEE_ADDR = #{addresseeAddr}
            </if>
            <if test="addresseeProvince != null">
                AND ADDRESSEE_PROVINCE = #{addresseeProvince}
            </if>
            <if test="addresseeCity != null">
                AND ADDRESSEE_CITY = #{addresseeCity}
            </if>
            <if test="addresseeCounty != null">
                AND ADDRESSEE_COUNTY = #{addresseeCounty}
            </if>
            <if test="senderName != null">
                AND SENDER_NAME = #{senderName}
            </if>
            <if test="senderPhone != null">
                AND SENDER_PHONE = #{senderPhone}
            </if>
            <if test="senderAddr != null">
                AND SENDER_ADDR = #{senderAddr}
            </if>
            <if test="senderProvince != null">
                AND SENDER_PROVINCE = #{senderProvince}
            </if>
            <if test="senderCity != null">
                AND SENDER_CITY = #{senderCity}
            </if>
            <if test="senderCounty != null">
                AND SENDER_COUNTY = #{senderCounty}
            </if>
            <if test="smsType != null">
                AND SMS_TYPE = #{smsType}
            </if>
            <if test="creater != null">
                AND CREATER = #{creater}
            </if>
            <if test="createTime != null">
                AND CREATE_TIME = #{createTime}
            </if>
            <if test="issueTime != null">
                AND ISSUE_TIME = #{issueTime}
            </if>
            <if test="rootOrgId != null">
                AND ROOT_ORG_ID = #{rootOrgId}
            </if>
        </where>
    </select>
    <!--4 根据条件查询实体list,返回分页对象 -->

    <!--5 新增实体对象 -->
    <insert id="insertAeaHiSmsInfo" parameterType="AeaHiSmsInfo">
        insert into AEA_HI_SMS_INFO (ID, APPLYINST_ID, RECEIVE_MODE, RECEIVE_TYPE, ORDER_ID, EXPRESS_NUM, ADDRESSEE_NAME,
                                     ADDRESSEE_PHONE, ADDRESSEE_IDCARD, ADDRESSEE_ADDR, ADDRESSEE_PROVINCE,
                                     ADDRESSEE_CITY, ADDRESSEE_COUNTY, SENDER_NAME, SENDER_PHONE, SENDER_ADDR,
                                     SENDER_PROVINCE, SENDER_CITY, SENDER_COUNTY, SMS_TYPE, CREATER, CREATE_TIME,
                                     ISSUE_TIME,ROOT_ORG_ID)
        values (#{id}, #{applyinstId}, #{receiveMode}, #{receiveType},  #{orderId}, #{expressNum}, #{addresseeName}, #{addresseePhone},
                #{addresseeIdcard}, #{addresseeAddr}, #{addresseeProvince}, #{addresseeCity}, #{addresseeCounty},
                #{senderName}, #{senderPhone}, #{senderAddr}, #{senderProvince}, #{senderCity}, #{senderCounty},
                #{smsType}, #{creater}, #{createTime}, #{issueTime},#{rootOrgId})
    </insert>
    <!--6 修改实体对象 -->
    <update id="updateAeaHiSmsInfo" parameterType="AeaHiSmsInfo">
        update AEA_HI_SMS_INFO
        <set>
            <if test="id != null">
                ID = #{id},
            </if>
            <if test="applyinstId != null">
                APPLYINST_ID = #{applyinstId},
            </if>
            <if test="receiveMode != null">
                RECEIVE_MODE = #{receiveMode},
            </if>
            <if test="receiveType != null">
                RECEIVE_TYPE = #{receiveType},
            </if>
            <if test="orderId != null">
                ORDER_ID = #{orderId},
            </if>
            <if test="expressNum != null">
                EXPRESS_NUM = #{expressNum},
            </if>
            <if test="addresseeName != null">
                ADDRESSEE_NAME = #{addresseeName},
            </if>
            <if test="addresseePhone != null">
                ADDRESSEE_PHONE = #{addresseePhone},
            </if>
            <if test="addresseeIdcard != null">
                ADDRESSEE_IDCARD = #{addresseeIdcard},
            </if>
            <if test="addresseeAddr != null">
                ADDRESSEE_ADDR = #{addresseeAddr},
            </if>
            <if test="addresseeProvince != null">
                ADDRESSEE_PROVINCE = #{addresseeProvince},
            </if>
            <if test="addresseeCity != null">
                ADDRESSEE_CITY = #{addresseeCity},
            </if>
            <if test="addresseeCounty != null">
                ADDRESSEE_COUNTY = #{addresseeCounty},
            </if>
            <if test="senderName != null">
                SENDER_NAME = #{senderName},
            </if>
            <if test="senderPhone != null">
                SENDER_PHONE = #{senderPhone},
            </if>
            <if test="senderAddr != null">
                SENDER_ADDR = #{senderAddr},
            </if>
            <if test="senderProvince != null">
                SENDER_PROVINCE = #{senderProvince},
            </if>
            <if test="senderCity != null">
                SENDER_CITY = #{senderCity},
            </if>
            <if test="senderCounty != null">
                SENDER_COUNTY = #{senderCounty},
            </if>
            <if test="smsType != null">
                SMS_TYPE = #{smsType},
            </if>
            <if test="creater != null">
                CREATER = #{creater},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime},
            </if>
            <if test="issueTime != null">
                ISSUE_TIME = #{issueTime},
            </if>
            <if test="rootOrgId != null">
                ROOT_ORG_ID = #{rootOrgId},
            </if>
        </set>
        where ID = #{id}
    </update>
    <!--7 删除实体对象,根据主键ID -->
    <delete id="deleteAeaHiSmsInfo">
        delete
        from AEA_HI_SMS_INFO
        where ID = #{id}
    </delete>
    <!--8 删除实体对象列表,根据主键ID列表 -->
    <!--9 返回所有字段的对象map,用于级联 -->
    <resultMap type="AeaHiSmsInfo" id="AeaHiSmsInfoMap">
        <id property="id" column="ID"/>
        <result property="applyinstId" column="APPLYINST_ID"/>
        <result property="receiveMode" column="RECEIVE_MODE"/>
        <result property="receiveType" column="RECEIVE_TYPE"/>
        <result property="orderId" column="ORDER_ID"/>
        <result property="expressNum" column="EXPRESS_NUM"/>
        <result property="addresseeName" column="ADDRESSEE_NAME"/>
        <result property="addresseePhone" column="ADDRESSEE_PHONE"/>
        <result property="addresseeIdcard" column="ADDRESSEE_IDCARD"/>
        <result property="addresseeAddr" column="ADDRESSEE_ADDR"/>
        <result property="addresseeProvince" column="ADDRESSEE_PROVINCE"/>
        <result property="addresseeCity" column="ADDRESSEE_CITY"/>
        <result property="addresseeCounty" column="ADDRESSEE_COUNTY"/>
        <result property="senderName" column="SENDER_NAME"/>
        <result property="senderPhone" column="SENDER_PHONE"/>
        <result property="senderAddr" column="SENDER_ADDR"/>
        <result property="senderProvince" column="SENDER_PROVINCE"/>
        <result property="senderCity" column="SENDER_CITY"/>
        <result property="senderCounty" column="SENDER_COUNTY"/>
        <result property="smsType" column="SMS_TYPE"/>
        <result property="creater" column="CREATER"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="issueTime" column="ISSUE_TIME"/>
        <result property="rootOrgId" column="ROOT_ORG_ID"/>
    </resultMap>
</mapper>