<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--created by Augurit    2020-01-15 09:38:02 -->
<!--0 一些前置信息配置 -->
<mapper namespace="com.augurit.aplanmis.common.mapper.AeaHiItemFillDueIninstMapper" >
<!--1 返回所有字段的SQL字句 -->
<sql id="allColumns" >
    DUE_ININST_ID  dueIninstId,
    FILL_ID  fillId,
    INOUTINST_ID  inoutinstId,
    FILL_OPINION  fillOpinion,
    TIME_LIMIT_TYPE  timeLimitType,
    IS_PASS  isPass,
    ATT_COUNT  attCount,
    PAPER_COUNT  paperCount,
    COPY_COUNT  copyCount,
    IS_NEED_ATT  isNeedAtt,
    CREATER  creater,
    CREATE_TIME  createTime,
    ROOT_ORG_ID  rootOrgId
    </sql>

    <sql id="aliasColumns" >
        ${alias}.DUE_ININST_ID  dueIninstId,
        ${alias}.FILL_ID  fillId,
        ${alias}.INOUTINST_ID  inoutinstId,
        ${alias}.FILL_OPINION  fillOpinion,
        ${alias}.TIME_LIMIT_TYPE  timeLimitType,
        ${alias}.IS_PASS  isPass,
        ${alias}.ATT_COUNT  attCount,
        ${alias}.PAPER_COUNT  paperCount,
        ${alias}.COPY_COUNT  copyCount,
        ${alias}.IS_NEED_ATT  isNeedAtt,
        ${alias}.CREATER  creater,
        ${alias}.CREATE_TIME  createTime,
        ${alias}.ROOT_ORG_ID  rootOrgId
    </sql>

<!--2 根据主键ID查询单个实体 -->
<select id="getAeaHiItemFillDueIninstById" resultType="AeaHiItemFillDueIninst" >
    select
    <include refid="allColumns"/>
    from    AEA_HI_ITEM_FILL_DUE_ININST
    where    DUE_ININST_ID = #{id}
</select>

    <select id="listAeaHiItemFillDueIninstByFillId" resultType="AeaHiItemFillDueIninst" >
        SELECT
        <include refid="aliasColumns">
            <property name="alias" value="due"/>
        </include>,
        tt.MAT_ID matId,
        tt.MAT_CODE matCode,
        tt.MAT_NAME matName
        FROM aea_hi_item_fill_due_ininst due
        LEFT JOIN (
            SELECT aim.MAT_ID,aim.MAT_CODE,aim.MAT_NAME, ahii.INOUTINST_ID FROM aea_hi_item_inoutinst ahii
            LEFT JOIN aea_item_inout aii ON ahii.ITEM_INOUT_ID = aii.INOUT_ID
            LEFT JOIN aea_item_mat aim ON aim.MAT_ID = aii.MAT_ID
        ) tt ON tt.INOUTINST_ID = due.INOUTINST_ID
        WHERE due.FILL_ID = #{fillId}
    </select>

<!--3 根据条件查询实体list -->
    <select id="listAeaHiItemFillDueIninst" resultType="AeaHiItemFillDueIninst" >
        select
        <include refid="allColumns"/>
        from    AEA_HI_ITEM_FILL_DUE_ININST
    <where>
        <if test="dueIninstId != null and dueIninstId != ''" >
        and    DUE_ININST_ID = #{dueIninstId}
        </if>
        <if test="fillId != null and fillId != ''" >
        and    FILL_ID = #{fillId}
        </if>
        <if test="inoutinstId != null and inoutinstId != ''" >
        and    INOUTINST_ID = #{inoutinstId}
        </if>
        <if test="fillOpinion != null and fillOpinion != ''" >
        and    FILL_OPINION = #{fillOpinion}
        </if>
        <if test="timeLimitType != null and timeLimitType != ''" >
        and    TIME_LIMIT_TYPE = #{timeLimitType}
        </if>
        <if test="isPass != null and isPass != ''" >
            and    IS_PASS = #{isPass}
        </if>
        <if test="attCount != null and attCount != ''" >
            and    ATT_COUNT = #{attCount}
        </if>
        <if test="paperCount != null and paperCount != ''" >
        and    PAPER_COUNT = #{paperCount}
        </if>
        <if test="copyCount != null and copyCount != ''" >
        and    COPY_COUNT = #{copyCount}
        </if>
        <if test="isNeedAtt != null and isNeedAtt != ''" >
        and    IS_NEED_ATT = #{isNeedAtt}
        </if>
        <if test="creater != null and creater != ''" >
        and    CREATER = #{creater}
        </if>
        <if test="createTime != null" >
        and    CREATE_TIME = #{createTime}
        </if>
        <if test="rootOrgId != null and rootOrgId != ''" >
        and    ROOT_ORG_ID = #{rootOrgId}
        </if>
    </where>
    </select>
<!--4 根据条件查询实体list,返回分页对象 -->

<!--5 新增实体对象 -->
<insert id="insertAeaHiItemFillDueIninst" parameterType="AeaHiItemFillDueIninst" >
    insert into AEA_HI_ITEM_FILL_DUE_ININST (
DUE_ININST_ID  ,FILL_ID  ,INOUTINST_ID  ,FILL_OPINION  ,TIME_LIMIT_TYPE  ,IS_PASS  ,ATT_COUNT  ,PAPER_COUNT  ,COPY_COUNT  ,IS_NEED_ATT  ,CREATER  ,CREATE_TIME  ,ROOT_ORG_ID
    )  values  (
#{dueIninstId},#{fillId},#{inoutinstId},#{fillOpinion},#{timeLimitType},#{isPass},#{attCount},#{paperCount},#{copyCount},#{isNeedAtt},#{creater},#{createTime},  #{rootOrgId}
    )
</insert>

    <insert id="batchInsertAeaHiItemFillDueIninst" parameterType="AeaHiItemFillDueIninst" >
        insert into AEA_HI_ITEM_FILL_DUE_ININST (
        DUE_ININST_ID  ,FILL_ID  ,INOUTINST_ID  ,FILL_OPINION  ,TIME_LIMIT_TYPE  ,IS_PASS  ,ATT_COUNT  ,PAPER_COUNT  ,COPY_COUNT  ,IS_NEED_ATT  ,CREATER  ,CREATE_TIME  ,ROOT_ORG_ID
        )  values
        <foreach collection="list" item="item" separator=",">
        (
            #{item.dueIninstId},#{item.fillId},#{item.inoutinstId},#{item.fillOpinion},#{item.timeLimitType},#{item.isPass},#{item.attCount},#{item.paperCount},
            #{item.copyCount},#{item.isNeedAtt},#{item.creater},#{item.createTime},  #{item.rootOrgId}
        )
        </foreach>
    </insert>

<!--6 修改实体对象 -->
<update id="updateAeaHiItemFillDueIninst" parameterType="AeaHiItemFillDueIninst" >
    update AEA_HI_ITEM_FILL_DUE_ININST
    <set >
        <if test="dueIninstId != null and dueIninstId != '' " >
        DUE_ININST_ID = #{dueIninstId},
        </if>
        <if test="fillId != null and fillId != '' " >
        FILL_ID = #{fillId},
        </if>
        <if test="inoutinstId != null and inoutinstId != '' " >
        INOUTINST_ID = #{inoutinstId},
        </if>
        <if test="fillOpinion != null and fillOpinion != '' " >
        FILL_OPINION = #{fillOpinion},
        </if>
        <if test="timeLimitType != null and timeLimitType != '' " >
        TIME_LIMIT_TYPE = #{timeLimitType},
        </if>
        <if test="isPass != null and isPass != ''" >
         IS_PASS = #{isPass},
        </if>
        <if test="attCount != null and attCount != ''" >
         ATT_COUNT = #{attCount},
        </if>
        <if test="paperCount != null and paperCount != '' " >
        PAPER_COUNT = #{paperCount},
        </if>
        <if test="copyCount != null and copyCount != '' " >
        COPY_COUNT = #{copyCount},
        </if>
        <if test="isNeedAtt != null and isNeedAtt != '' " >
        IS_NEED_ATT = #{isNeedAtt},
        </if>
        <if test="creater != null and creater != '' " >
        CREATER = #{creater},
        </if>
        <if test="createTime != null" >
        CREATE_TIME = #{createTime},
        </if>
        <if test="rootOrgId != null and rootOrgId != '' " >
        ROOT_ORG_ID = #{rootOrgId},
        </if>
    </set>
    where DUE_ININST_ID = #{dueIninstId}
</update>

    <update id="batchUpdateAeaHiItemFillDueIninst" parameterType="java.util.List">
        <if test="_databaseId == 'oracle'">
            <foreach collection="list" open="begin" close=";end;" separator=";" item="item">
                update AEA_HI_ITEM_FILL_DUE_ININST
                <set >
                    <if test="item.dueIninstId != null and item.dueIninstId != '' " >
                        DUE_ININST_ID = #{item.dueIninstId},
                    </if>
                    <if test="item.fillId != null and item.fillId != '' " >
                        FILL_ID = #{item.fillId},
                    </if>
                    <if test="item.inoutinstId != null and item.inoutinstId != '' " >
                        INOUTINST_ID = #{item.inoutinstId},
                    </if>
                    <if test="item.fillOpinion != null and item.fillOpinion != '' " >
                        FILL_OPINION = #{item.fillOpinion},
                    </if>
                    <if test="item.timeLimitType != null and item.timeLimitType != '' " >
                        TIME_LIMIT_TYPE = #{item.timeLimitType},
                    </if>
                    <if test="item.isPass != null and item.isPass != ''" >
                        IS_PASS = #{item.isPass},
                    </if>
                    <if test="item.attCount != null and item.attCount != ''" >
                        ATT_COUNT = #{item.attCount},
                    </if>
                    <if test="item.paperCount != null and item.paperCount != '' " >
                        PAPER_COUNT = #{item.paperCount},
                    </if>
                    <if test="item.copyCount != null and item.copyCount != '' " >
                        COPY_COUNT = #{item.copyCount},
                    </if>
                    <if test="item.isNeedAtt != null and item.isNeedAtt != '' " >
                        IS_NEED_ATT = #{item.isNeedAtt},
                    </if>
                    <if test="item.creater != null and item.creater != '' " >
                        CREATER = #{item.creater},
                    </if>
                    <if test="item.createTime != null" >
                        CREATE_TIME = #{item.createTime},
                    </if>
                    <if test="item.rootOrgId != null and item.rootOrgId != '' " >
                        ROOT_ORG_ID = #{item.rootOrgId},
                    </if>
                </set>
                where DUE_ININST_ID = #{item.dueIninstId}
            </foreach>
        </if>
        <if test="_databaseId == 'mysql'">
            <foreach collection="list" open="" close="" separator=";" item="item">
                update AEA_HI_ITEM_FILL_DUE_ININST
                <set >
                    <if test="item.dueIninstId != null and item.dueIninstId != '' " >
                        DUE_ININST_ID = #{item.dueIninstId},
                    </if>
                    <if test="item.fillId != null and item.fillId != '' " >
                        FILL_ID = #{item.fillId},
                    </if>
                    <if test="item.inoutinstId != null and item.inoutinstId != '' " >
                        INOUTINST_ID = #{item.inoutinstId},
                    </if>
                    <if test="item.fillOpinion != null and item.fillOpinion != '' " >
                        FILL_OPINION = #{item.fillOpinion},
                    </if>
                    <if test="item.timeLimitType != null and item.timeLimitType != '' " >
                        TIME_LIMIT_TYPE = #{item.timeLimitType},
                    </if>
                    <if test="item.isPass != null and item.isPass != ''" >
                        IS_PASS = #{item.isPass},
                    </if>
                    <if test="item.attCount != null and item.attCount != ''" >
                        ATT_COUNT = #{item.attCount},
                    </if>
                    <if test="item.paperCount != null and item.paperCount != '' " >
                        PAPER_COUNT = #{item.paperCount},
                    </if>
                    <if test="item.copyCount != null and item.copyCount != '' " >
                        COPY_COUNT = #{item.copyCount},
                    </if>
                    <if test="item.isNeedAtt != null and item.isNeedAtt != '' " >
                        IS_NEED_ATT = #{item.isNeedAtt},
                    </if>
                    <if test="item.creater != null and item.creater != '' " >
                        CREATER = #{item.creater},
                    </if>
                    <if test="item.createTime != null" >
                        CREATE_TIME = #{item.createTime},
                    </if>
                    <if test="item.rootOrgId != null and item.rootOrgId != '' " >
                        ROOT_ORG_ID = #{item.rootOrgId},
                    </if>
                </set>
                where DUE_ININST_ID = #{item.dueIninstId}
            </foreach>
        </if>


    </update>
<!--7 删除实体对象,根据主键ID -->
    <delete id="deleteAeaHiItemFillDueIninst">
        delete from   AEA_HI_ITEM_FILL_DUE_ININST
        where
    DUE_ININST_ID = #{id}
    </delete>
<!--8 删除实体对象列表,根据主键ID列表 -->
<!--9 返回所有字段的对象map,用于级联 -->
    <resultMap type="AeaHiItemFillDueIninst" id="AeaHiItemFillDueIninstMap">
        <id property="dueIninstId" column="DUE_ININST_ID"/>
        <result property="fillId" column="FILL_ID"/>
        <result property="inoutinstId" column="INOUTINST_ID"/>
        <result property="fillOpinion" column="FILL_OPINION"/>
        <result property="timeLimitType" column="TIME_LIMIT_TYPE"/>
        <result property="isPass" column="IS_PASS"/>
        <result property="attCount" column="ATT_COUNT"/>
        <result property="paperCount" column="PAPER_COUNT"/>
        <result property="copyCount" column="COPY_COUNT"/>
        <result property="isNeedAtt" column="IS_NEED_ATT"/>
        <result property="creater" column="CREATER"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="rootOrgId" column="ROOT_ORG_ID"/>
    </resultMap>
</mapper>