<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--created by Administrator    2019-08-03 10:31:32 -->
<!--0 一些前置信息配置 -->
<mapper namespace="com.augurit.aplanmis.common.mapper.AeaHiItemCorrectRealIninstMapper">
    <!--1 返回所有字段的SQL字句 -->
    <sql id="allColumns">
    REAL_ININST_ID  realIninstId,
    CORRECT_ID  correctId,
    DUE_ININST_ID  dueIninstId,
    INOUTINST_ID  inoutinstId,
    IS_PASS  isPass,
    ATT_COUNT  attCount,
    REAL_PAPER_COUNT  realPaperCount,
    REAL_COPY_COUNT  realCopyCount,
    CREATER  creater,
    CREATE_TIME  createTime,
    MODIFIER  modifier,
    MODIFY_TIME  modifyTime,
    ROOT_ORG_ID rootOrgId
    </sql>

    <sql id="allColumns_ahicri">
    ahicri.REAL_ININST_ID  realIninstId,
    ahicri.CORRECT_ID  correctId,
    ahicri.DUE_ININST_ID  dueIninstId,
    ahicri.INOUTINST_ID  inoutinstId,
    ahicri.IS_PASS  isPass,
    ahicri.ATT_COUNT  attCount,
    ahicri.REAL_PAPER_COUNT  realPaperCount,
    ahicri.REAL_COPY_COUNT  realCopyCount,
    ahicri.CREATER  creater,
    ahicri.CREATE_TIME  createTime,
    ahicri.MODIFIER  modifier,
    ahicri.MODIFY_TIME  modifyTime,
    ahicri.ROOT_ORG_ID rootOrgId
    </sql>

    <!--2 根据主键ID查询单个实体 -->
    <select id="getAeaHiItemCorrectRealIninstById" resultType="AeaHiItemCorrectRealIninst">
        select
        <include refid="allColumns"/>
        from AEA_HI_ITEM_CORRECT_REAL_ININST
        where REAL_ININST_ID = #{id}
    </select>

    <!--3 根据条件查询实体list -->
    <select id="listAeaHiItemCorrectRealIninst" resultType="AeaHiItemCorrectRealIninst">
        select
        <include refid="allColumns"/>
        from AEA_HI_ITEM_CORRECT_REAL_ININST
        <where>
            <if test="realIninstId != null">
                AND REAL_ININST_ID = #{realIninstId}
            </if>
            <if test="correctId != null">
                AND CORRECT_ID = #{correctId}
            </if>
            <if test="dueIninstId != null">
                AND DUE_ININST_ID = #{dueIninstId}
            </if>
            <if test="inoutinstId != null">
                AND INOUTINST_ID = #{inoutinstId}
            </if>
            <if test="isPass != null">
                AND IS_PASS = #{isPass}
            </if>
            <if test="attCount != null">
                AND ATT_COUNT = #{attCount}
            </if>
            <if test="realPaperCount != null">
                AND REAL_PAPER_COUNT = #{realPaperCount}
            </if>
            <if test="realCopyCount != null">
                AND REAL_COPY_COUNT = #{realCopyCount}
            </if>
            <if test="creater != null">
                AND CREATER = #{creater}
            </if>
            <if test="createTime != null">
                AND CREATE_TIME = #{createTime}
            </if>
            <if test="modifier != null">
                AND MODIFIER = #{modifier}
            </if>
            <if test="modifyTime != null">
                AND MODIFY_TIME = #{modifyTime}
            </if>
            <if test="rootOrgId != null">
                AND ROOT_ORG_ID = #{rootOrgId}
            </if>
        </where>
    </select>
    <!--4 根据条件查询实体list,返回分页对象 -->

    <select id="getCorrectRealIninstByCorrectId" resultType="AeaHiItemCorrectRealIninst">
        SELECT
        <include refid="allColumns_ahicri"/>,ahim.MATINST_ID matinstId,ahim.MATINST_NAME matinstName,ahim.MAT_ID matId,aim.REVIEW_KEY_POINTS reviewKeyPoints,aim.REVIEW_SAMPLE_DOC reviewSampleDoc,aim.SAMPLE_DOC sampleDoc,aim.TEMPLATE_DOC templateDoc
        FROM AEA_HI_ITEM_CORRECT_REAL_ININST ahicri, AEA_HI_ITEM_INOUTINST ahii,AEA_HI_ITEM_MATINST ahim,AEA_ITEM_MAT aim
        WHERE
        ahicri.INOUTINST_ID = ahii.INOUTINST_ID
        AND ahii.MATINST_ID = ahim.MATINST_ID
        AND aim.MAT_ID = ahim.MAT_ID
        AND ahicri.CORRECT_ID = #{correctId}
        AND ahicri.ROOT_ORG_ID = #{topOrgId}
    </select>

    <!--5 新增实体对象 -->
    <insert id="insertAeaHiItemCorrectRealIninst" parameterType="AeaHiItemCorrectRealIninst">
    insert into AEA_HI_ITEM_CORRECT_REAL_ININST (
REAL_ININST_ID  ,CORRECT_ID  ,DUE_ININST_ID  ,INOUTINST_ID  ,IS_PASS  ,ATT_COUNT  ,REAL_PAPER_COUNT  ,REAL_COPY_COUNT  ,CREATER  ,CREATE_TIME  ,MODIFIER  ,MODIFY_TIME ,ROOT_ORG_ID
    )  values  (
#{realIninstId},#{correctId},#{dueIninstId},#{inoutinstId},#{isPass},#{attCount},#{realPaperCount},#{realCopyCount},#{creater},#{createTime},#{modifier},  #{modifyTime},#{rootOrgId}
    )
</insert>
    <!--6 修改实体对象 -->
    <update id="updateAeaHiItemCorrectRealIninst" parameterType="AeaHiItemCorrectRealIninst">
        update AEA_HI_ITEM_CORRECT_REAL_ININST
        <set>
            <if test="realIninstId != null">
                REAL_ININST_ID = #{realIninstId},
            </if>
            <if test="correctId != null">
                CORRECT_ID = #{correctId},
            </if>
            <if test="dueIninstId != null">
                DUE_ININST_ID = #{dueIninstId},
            </if>
            <if test="inoutinstId != null">
                INOUTINST_ID = #{inoutinstId},
            </if>
            <if test="isPass != null">
                IS_PASS = #{isPass},
            </if>
            <if test="attCount != null">
                ATT_COUNT = #{attCount},
            </if>
            <if test="realPaperCount != null">
                REAL_PAPER_COUNT = #{realPaperCount},
            </if>
            <if test="realCopyCount != null">
                REAL_COPY_COUNT = #{realCopyCount},
            </if>
            <if test="creater != null">
                CREATER = #{creater},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime},
            </if>
            <if test="modifier != null">
                MODIFIER = #{modifier},
            </if>
            <if test="modifyTime != null">
                MODIFY_TIME = #{modifyTime},
            </if>
            <if test="rootOrgId != null">
                ROOT_ORG_ID = #{rootOrgId},
            </if>
        </set>
        where REAL_ININST_ID = #{realIninstId}
    </update>
    <!--7 删除实体对象,根据主键ID -->
    <delete id="deleteAeaHiItemCorrectRealIninst">
        delete from   AEA_HI_ITEM_CORRECT_REAL_ININST
        where
    REAL_ININST_ID = #{id}
    </delete>
    <!--8 删除实体对象列表,根据主键ID列表 -->
    <!--9 返回所有字段的对象map,用于级联 -->
    <resultMap type="AeaHiItemCorrectRealIninst" id="AeaHiItemCorrectRealIninstMap">
        <id property="realIninstId" column="REAL_ININST_ID"/>
        <result property="correctId" column="CORRECT_ID"/>
        <result property="dueIninstId" column="DUE_ININST_ID"/>
        <result property="inoutinstId" column="INOUTINST_ID"/>
        <result property="isPass" column="IS_PASS"/>
        <result property="attCount" column="ATT_COUNT"/>
        <result property="realPaperCount" column="REAL_PAPER_COUNT"/>
        <result property="realCopyCount" column="REAL_COPY_COUNT"/>
        <result property="creater" column="CREATER"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="modifier" column="MODIFIER"/>
        <result property="modifyTime" column="MODIFY_TIME"/>
        <result property="rootOrgId" column="ROOT_ORG_ID"/>
    </resultMap>
</mapper>