<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--created by Augurit    2020-01-15 09:37:39 -->
<!--0 一些前置信息配置 -->
<mapper namespace="com.augurit.aplanmis.common.mapper.AeaHiItemFillMapper" >
<!--1 返回所有字段的SQL字句 -->
<sql id="allColumns" >
    FILL_ID  fillId,
    ITEMINST_ID  iteminstId,
    APPLYINST_ID  applyinstId,
    PROJ_INFO_ID  projInfoId,
    FILL_DESC  fillDesc,
    FILL_MEMO  fillMemo,
    CHARGE_ORG_ID  chargeOrgId,
    CHARGE_ORG_NAME  chargeOrgName,
    OPS_USER_ID  opsUserId,
    OPS_USER_NAME  opsUserName,
    LAST_OPS_TIME  lastOpsTime,
    LAST_UPLOAD_TIME  lastUploadTime,
    LAST_TIPS_COUNT  lastTipsCount,
    FILL_END_TIME  fillEndTime,
    FILL_STATE  fillState,
    IS_DELETED  isDeleted,
    CREATER  creater,
    CREATE_TIME  createTime,
    MODIFIER  modifier,
    MODIFY_TIME  modifyTime,
    ROOT_ORG_ID  rootOrgId
    </sql>

<!--2 根据主键ID查询单个实体 -->
<select id="getAeaHiItemFillById" resultType="AeaHiItemFill" >
    select
    <include refid="allColumns"/>
    from    AEA_HI_ITEM_FILL
    where    FILL_ID = #{id}
    AND  IS_DELETED = '0'
</select>

<!--3 根据条件查询实体list -->
    <select id="listAeaHiItemFill" resultType="AeaHiItemFill" >
        select
        <include refid="allColumns"/>
        from    AEA_HI_ITEM_FILL
    <where>
        <if test="fillId != null AND fillId != ''" >
        AND    FILL_ID = #{fillId}
        </if>
        <if test="iteminstId != null AND iteminstId != ''" >
        AND    ITEMINST_ID = #{iteminstId}
        </if>
        <if test="applyinstId != null AND applyinstId != ''" >
        AND    APPLYINST_ID = #{applyinstId}
        </if>
        <if test="projInfoId != null AND projInfoId != ''" >
        AND    PROJ_INFO_ID = #{projInfoId}
        </if>
        <if test="fillDesc != null AND fillDesc != ''" >
        AND    FILL_DESC = #{fillDesc}
        </if>
        <if test="fillMemo != null AND fillMemo != ''" >
        AND    FILL_MEMO = #{fillMemo}
        </if>
        <if test="chargeOrgId != null AND chargeOrgId != ''" >
        AND    CHARGE_ORG_ID = #{chargeOrgId}
        </if>
        <if test="chargeOrgName != null AND chargeOrgName != ''" >
        AND    CHARGE_ORG_NAME = #{chargeOrgName}
        </if>
        <if test="opsUserId != null AND opsUserId != ''" >
        AND    OPS_USER_ID = #{opsUserId}
        </if>
        <if test="opsUserName != null AND opsUserName != ''" >
        AND    OPS_USER_NAME = #{opsUserName}
        </if>
        <if test="lastOpsTime != null AND lastOpsTime != ''" >
        AND    LAST_OPS_TIME = #{lastOpsTime}
        </if>
        <if test="lastUploadTime != null AND lastUploadTime != ''" >
        AND    LAST_UPLOAD_TIME = #{lastUploadTime}
        </if>
        <if test="lastTipsCount != null AND lastTipsCount != ''" >
        AND    LAST_TIPS_COUNT = #{lastTipsCount}
        </if>
        <if test="fillEndTime != null AND fillEndTime != ''" >
        AND    FILL_END_TIME = #{fillEndTime}
        </if>
        <if test="fillState != null AND fillState != ''" >
        AND    FILL_STATE = #{fillState}
        </if>
        <if test="isDeleted != null AND isDeleted != ''" >
        AND    IS_DELETED = #{isDeleted}
        </if>
        <if test="creater != null AND creater != ''" >
        AND    CREATER = #{creater}
        </if>
        <if test="createTime != null AND createTime != ''" >
        AND    CREATE_TIME = #{createTime}
        </if>
        <if test="modifier != null AND modifier != ''" >
        AND    MODIFIER = #{modifier}
        </if>
        <if test="modifyTime != null AND modifyTime != ''" >
        AND    MODIFY_TIME = #{modifyTime}
        </if>
        <if test="rootOrgId != null AND rootOrgId != ''" >
        AND    ROOT_ORG_ID = #{rootOrgId}
        </if>
      AND  IS_DELETED = '0'
    </where>
    </select>
<!--4 根据条件查询实体list,返回分页对象 -->

<!--5 新增实体对象 -->
<insert id="insertAeaHiItemFill" parameterType="AeaHiItemFill" >
    insert into AEA_HI_ITEM_FILL (
FILL_ID  ,ITEMINST_ID  ,APPLYINST_ID  ,PROJ_INFO_ID  ,FILL_DESC  ,FILL_MEMO  ,CHARGE_ORG_ID  ,CHARGE_ORG_NAME  ,OPS_USER_ID  ,OPS_USER_NAME  ,LAST_OPS_TIME  ,LAST_UPLOAD_TIME  ,LAST_TIPS_COUNT  ,FILL_END_TIME  ,FILL_STATE  ,IS_DELETED  ,CREATER  ,CREATE_TIME  ,MODIFIER  ,MODIFY_TIME  ,ROOT_ORG_ID  
    )  values  (
#{fillId},#{iteminstId},#{applyinstId},#{projInfoId},#{fillDesc},#{fillMemo},#{chargeOrgId},#{chargeOrgName},#{opsUserId},#{opsUserName},#{lastOpsTime},#{lastUploadTime},#{lastTipsCount},#{fillEndTime},#{fillState},#{isDeleted},#{creater},#{createTime},#{modifier},#{modifyTime},  #{rootOrgId}
    )
</insert>
<!--6 修改实体对象 -->
<update id="updateAeaHiItemFill" parameterType="AeaHiItemFill" >
    update AEA_HI_ITEM_FILL
    <set >
        <if test="fillId != null AND fillId != '' " >
        FILL_ID = #{fillId},
        </if>
        <if test="iteminstId != null AND iteminstId != '' " >
        ITEMINST_ID = #{iteminstId},
        </if>
        <if test="applyinstId != null AND applyinstId != '' " >
        APPLYINST_ID = #{applyinstId},
        </if>
        <if test="projInfoId != null AND projInfoId != '' " >
        PROJ_INFO_ID = #{projInfoId},
        </if>
        <if test="fillDesc != null AND fillDesc != '' " >
        FILL_DESC = #{fillDesc},
        </if>
        <if test="fillMemo != null AND fillMemo != '' " >
        FILL_MEMO = #{fillMemo},
        </if>
        <if test="chargeOrgId != null AND chargeOrgId != '' " >
        CHARGE_ORG_ID = #{chargeOrgId},
        </if>
        <if test="chargeOrgName != null AND chargeOrgName != '' " >
        CHARGE_ORG_NAME = #{chargeOrgName},
        </if>
        <if test="opsUserId != null AND opsUserId != '' " >
        OPS_USER_ID = #{opsUserId},
        </if>
        <if test="opsUserName != null AND opsUserName != '' " >
        OPS_USER_NAME = #{opsUserName},
        </if>
        <if test="lastOpsTime != null AND lastOpsTime != '' " >
        LAST_OPS_TIME = #{lastOpsTime},
        </if>
        <if test="lastUploadTime != null AND lastUploadTime != '' " >
        LAST_UPLOAD_TIME = #{lastUploadTime},
        </if>
        <if test="lastTipsCount != null AND lastTipsCount != '' " >
        LAST_TIPS_COUNT = #{lastTipsCount},
        </if>
        <if test="fillEndTime != null AND fillEndTime != '' " >
        FILL_END_TIME = #{fillEndTime},
        </if>
        <if test="fillState != null AND fillState != '' " >
        FILL_STATE = #{fillState},
        </if>
        <if test="isDeleted != null AND isDeleted != '' " >
        IS_DELETED = #{isDeleted},
        </if>
        <if test="creater != null AND creater != '' " >
        CREATER = #{creater},
        </if>
        <if test="createTime != null AND createTime != '' " >
        CREATE_TIME = #{createTime},
        </if>
        <if test="modifier != null AND modifier != '' " >
        MODIFIER = #{modifier},
        </if>
        <if test="modifyTime != null AND modifyTime != '' " >
        MODIFY_TIME = #{modifyTime},
        </if>
        <if test="rootOrgId != null AND rootOrgId != '' " >
        ROOT_ORG_ID = #{rootOrgId},
        </if>
    </set>
    where FILL_ID = #{fillId}
</update>
<!--7 删除实体对象,根据主键ID -->
    <update id="deleteAeaHiItemFill"  >
        update AEA_HI_ITEM_FILL
    <set >
        IS_DELETED = '1'
    </set>
        where FILL_ID = #{id}
    </update>
<!--8 删除实体对象列表,根据主键ID列表 -->
<!--9 返回所有字段的对象map,用于级联 -->
    <resultMap type="AeaHiItemFill" id="AeaHiItemFillMap">
        <id property="fillId" column="FILL_ID"/>
        <result property="iteminstId" column="ITEMINST_ID"/>
        <result property="applyinstId" column="APPLYINST_ID"/>
        <result property="projInfoId" column="PROJ_INFO_ID"/>
        <result property="fillDesc" column="FILL_DESC"/>
        <result property="fillMemo" column="FILL_MEMO"/>
        <result property="chargeOrgId" column="CHARGE_ORG_ID"/>
        <result property="chargeOrgName" column="CHARGE_ORG_NAME"/>
        <result property="opsUserId" column="OPS_USER_ID"/>
        <result property="opsUserName" column="OPS_USER_NAME"/>
        <result property="lastOpsTime" column="LAST_OPS_TIME"/>
        <result property="lastUploadTime" column="LAST_UPLOAD_TIME"/>
        <result property="lastTipsCount" column="LAST_TIPS_COUNT"/>
        <result property="fillEndTime" column="FILL_END_TIME"/>
        <result property="fillState" column="FILL_STATE"/>
        <result property="isDeleted" column="IS_DELETED"/>
        <result property="creater" column="CREATER"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="modifier" column="MODIFIER"/>
        <result property="modifyTime" column="MODIFY_TIME"/>
        <result property="rootOrgId" column="ROOT_ORG_ID"/>
    </resultMap>
</mapper>