<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.augurit.aplanmis.common.mapper.AeaHiGuideMapper">

    <resultMap id="BaseResultMap" type="com.augurit.aplanmis.common.domain.AeaHiGuide">
        <!--@mbg.generated-->
        <id column="GUIDE_ID" jdbcType="VARCHAR" property="guideId"/>
        <result column="APPLYINST_ID" jdbcType="VARCHAR" property="applyinstId"/>
        <result column="GUIDE_TYPE" jdbcType="CHAR" property="guideType"/>
        <result column="STAGE_ID" jdbcType="VARCHAR" property="stageId"/>
        <result column="PROJ_INFO_ID" jdbcType="VARCHAR" property="projInfoId"/>
        <result column="APPLY_UNIT_INFO_ID" jdbcType="VARCHAR" property="applyUnitInfoId"/>
        <result column="APPLY_LINKMAN_INFO_ID" jdbcType="VARCHAR" property="applyLinkmanInfoId"/>
        <result column="APPLY_STATE" jdbcType="CHAR" property="applyState"/>
        <result column="GUIDE_START_TIME" jdbcType="TIMESTAMP" property="guideStartTime"/>
        <result column="GUIDE_END_TIME" jdbcType="TIMESTAMP" property="guideEndTime"/>
        <result column="DUE_TIME_LIMIT" jdbcType="FLOAT" property="dueTimeLimit"/>
        <result column="REAL_TIME_LIMIT" jdbcType="FLOAT" property="realTimeLimit"/>
        <result column="LEADER_ORG_ID" jdbcType="VARCHAR" property="leaderOrgId"/>
        <result column="LEADER_USER_ID" jdbcType="VARCHAR" property="leaderUserId"/>
        <result column="LEADER_ORG_OPINION" jdbcType="VARCHAR" property="leaderOrgOpinion"/>
        <result column="CREATER" jdbcType="VARCHAR" property="creater"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="MODIFIER" jdbcType="VARCHAR" property="modifier"/>
        <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime"/>
        <result column="IS_IT_GUIDE" jdbcType="CHAR" property="isItGuide"/>
    </resultMap>

    <sql id="Base_Column_List">
        ahg.GUIDE_ID guideId,
        ahg.APPLYINST_ID applyinstId,
        ahg.GUIDE_TYPE guideType,
        ahg.STAGE_ID stageId,
        ahg.PROJ_INFO_ID projInfoId,
        ahg.APPLY_UNIT_INFO_ID applyUnitInfoId,
        ahg.APPLY_LINKMAN_INFO_ID applyLinkmanInfoId,
        ahg.APPLY_STATE applyState,
        ahg.GUIDE_START_TIME guideStartTime,
        ahg.GUIDE_END_TIME guideEndTime,
        ahg.DUE_TIME_LIMIT dueTimeLimit,
        ahg.REAL_TIME_LIMIT realTimeLimit,
        ahg.LEADER_ORG_ID leaderOrgId,
        ahg.LEADER_USER_ID leaderUserId,
        ahg.LEADER_ORG_OPINION leaderOrgOpinion,
        ahg.CREATER creater,
        ahg.CREATE_TIME createTime,
        ahg.MODIFIER modifier,
        ahg.MODIFY_TIME modifyTime,
        ahg.IS_IT_GUIDE isItGuide
    </sql>

    <select id="getAeaHiGuideByGuideId" parameterType="java.lang.String"
            resultType="com.augurit.aplanmis.common.domain.AeaHiGuide">
        select
        <include refid="Base_Column_List"/>
        from aea_hi_guide ahg
        where GUIDE_ID = #{guideId,jdbcType=VARCHAR}
    </select>

    <delete id="deleteAeaHiGuideByGuideId" parameterType="java.lang.String">
    delete from aea_hi_guide
    where GUIDE_ID = #{guideId,jdbcType=VARCHAR}
  </delete>

    <delete id="batchDeleteAeaHiGuide">
        delete from aea_hi_guide
        where GUIDE_ID in
        <foreach collection="guideIds" item="id" separator="," open="(" close=")">
            #{id,jdbcType=VARCHAR}
        </foreach>
    </delete>

    <insert id="insertAeaHiGuide" parameterType="com.augurit.aplanmis.common.domain.AeaHiGuide">
    insert into aea_hi_guide (GUIDE_ID, APPLYINST_ID, GUIDE_TYPE, PROJ_INFO_ID, STAGE_ID,
      APPLY_UNIT_INFO_ID, APPLY_LINKMAN_INFO_ID, APPLY_STATE, 
      GUIDE_START_TIME, GUIDE_END_TIME, DUE_TIME_LIMIT, 
      REAL_TIME_LIMIT, LEADER_ORG_ID, LEADER_USER_ID, 
      LEADER_ORG_OPINION, CREATER, CREATE_TIME, 
      MODIFIER, MODIFY_TIME, IS_IT_GUIDE
      )
    values (#{guideId,jdbcType=VARCHAR}, #{applyinstId,jdbcType=VARCHAR}, #{guideType,jdbcType=CHAR}, #{projInfoId,jdbcType=VARCHAR}, #{stageId,jdbcType=VARCHAR},
      #{applyUnitInfoId,jdbcType=VARCHAR}, #{applyLinkmanInfoId,jdbcType=VARCHAR}, #{applyState,jdbcType=CHAR}, 
      #{guideStartTime,jdbcType=TIMESTAMP}, #{guideEndTime,jdbcType=TIMESTAMP}, #{dueTimeLimit,jdbcType=FLOAT}, 
      #{realTimeLimit,jdbcType=FLOAT}, #{leaderOrgId,jdbcType=VARCHAR}, #{leaderUserId,jdbcType=VARCHAR}, 
      #{leaderOrgOpinion,jdbcType=VARCHAR}, #{creater,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifier,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, #{isItGuide,jdbcType=CHAR}
      )
  </insert>

    <update id="updateAeaHiGuide" parameterType="com.augurit.aplanmis.common.domain.AeaHiGuide">
        update aea_hi_guide
        <set>
            <if test="applyinstId != null">
                APPLYINST_ID = #{applyinstId,jdbcType=VARCHAR},
            </if>
            <if test="guideType != null">
                GUIDE_TYPE = #{guideType,jdbcType=CHAR},
            </if>
            <if test="projInfoId != null">
                PROJ_INFO_ID = #{projInfoId,jdbcType=VARCHAR},
            </if>
            <if test="stageId != null">
                #{projInfoId,jdbcType=VARCHAR}, = #{stageId,jdbcType=VARCHAR},
            </if>
            <if test="applyUnitInfoId != null">
                APPLY_UNIT_INFO_ID = #{applyUnitInfoId,jdbcType=VARCHAR},
            </if>
            <if test="applyLinkmanInfoId != null">
                APPLY_LINKMAN_INFO_ID = #{applyLinkmanInfoId,jdbcType=VARCHAR},
            </if>
            <if test="applyState != null">
                APPLY_STATE = #{applyState,jdbcType=CHAR},
            </if>
            <if test="guideStartTime != null">
                GUIDE_START_TIME = #{guideStartTime,jdbcType=TIMESTAMP},
            </if>
            <if test="guideEndTime != null">
                GUIDE_END_TIME = #{guideEndTime,jdbcType=TIMESTAMP},
            </if>
            <if test="dueTimeLimit != null">
                DUE_TIME_LIMIT = #{dueTimeLimit,jdbcType=FLOAT},
            </if>
            <if test="realTimeLimit != null">
                REAL_TIME_LIMIT = #{realTimeLimit,jdbcType=FLOAT},
            </if>
            <if test="leaderOrgId != null">
                LEADER_ORG_ID = #{leaderOrgId,jdbcType=VARCHAR},
            </if>
            <if test="leaderUserId != null">
                LEADER_USER_ID = #{leaderUserId,jdbcType=VARCHAR},
            </if>
            <if test="leaderOrgOpinion != null">
                LEADER_ORG_OPINION = #{leaderOrgOpinion,jdbcType=VARCHAR},
            </if>
            <if test="creater != null">
                CREATER = #{creater,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifier != null">
                MODIFIER = #{modifier,jdbcType=VARCHAR},
            </if>
            <if test="modifyTime != null">
                MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isItGuide != null">
                IS_IT_GUIDE = #{isItGuide,jdbcType=CHAR},
            </if>
        </set>
        where GUIDE_ID = #{guideId,jdbcType=VARCHAR}
    </update>

    <insert id="batchInsertAeaHiGuide" parameterType="map">
        insert into aea_hi_guide
        (GUIDE_ID, APPLYINST_ID, GUIDE_TYPE, PROJ_INFO_ID, STAGE_ID, APPLY_UNIT_INFO_ID, APPLY_LINKMAN_INFO_ID, APPLY_STATE,
        GUIDE_START_TIME, GUIDE_END_TIME, DUE_TIME_LIMIT, REAL_TIME_LIMIT, LEADER_ORG_ID,
        LEADER_USER_ID, LEADER_ORG_OPINION, CREATER, CREATE_TIME, MODIFIER, MODIFY_TIME,
        IS_IT_GUIDE)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.guideId,jdbcType=VARCHAR}, #{item.applyinstId,jdbcType=VARCHAR}, #{item.guideType,jdbcType=CHAR},
            #{item.projInfoId,jdbcType=VARCHAR}, #{stageId,jdbcType=VARCHAR},
            #{item.applyUnitInfoId,jdbcType=VARCHAR}, #{item.applyLinkmanInfoId,jdbcType=VARCHAR},
            #{item.applyState,jdbcType=CHAR}, #{item.guideStartTime,jdbcType=TIMESTAMP},
            #{item.guideEndTime,jdbcType=TIMESTAMP},
            #{item.dueTimeLimit,jdbcType=FLOAT}, #{item.realTimeLimit,jdbcType=FLOAT},
            #{item.leaderOrgId,jdbcType=VARCHAR},
            #{item.leaderUserId,jdbcType=VARCHAR}, #{item.leaderOrgOpinion,jdbcType=VARCHAR},
            #{item.creater,jdbcType=VARCHAR}, #{item.createTime,jdbcType=TIMESTAMP}, #{item.modifier,jdbcType=VARCHAR},
            #{item.modifyTime,jdbcType=TIMESTAMP}, #{item.isItGuide,jdbcType=CHAR})
        </foreach>
    </insert>

    <select id="listAeaHiGuide" parameterType="com.augurit.aplanmis.common.domain.AeaHiGuide"
            resultType="com.augurit.aplanmis.common.domain.AeaHiGuide">
        select
        <include refid="Base_Column_List"/>
        , aps.stage_name stageName
        , apt.theme_id themeId
        , apt.theme_name themeName
        , api.proj_name projName
        , api.gcbm gcbm
        from aea_hi_guide ahg
        join aea_par_stage aps on ahg.stage_id=aps.stage_id
        join aea_par_theme_ver aptv on aptv.theme_ver_id=aps.theme_ver_id
        join aea_par_theme apt on apt.theme_id=aptv.theme_id
        join aea_proj_info api on api.proj_info_id=ahg.proj_info_id
        <where>
            (exists (
            select 1 from aea_hi_guide_detail ahgd
            where ahgd.guide_id=ahg.guide_id
            and ahgd.guide_user_id=#{currentUserId}
            ) or ahg.LEADER_USER_ID=#{currentUserId} )
            <if test="keyword != null and keyword != ''">
                and (
                apt.theme_name like concat(#{keyword}, '%')
                or api.proj_name like concat(#{keyword}, '%')
                or api.gcbm like concat(#{keyword}, '%')
                )
            </if>
            <if test="applyState != null and applyState != ''">
                and ahg.apply_state=#{applyState}
            </if>
            <if test="guideStartTime != null and guideStartTime != ''">
                and ahg.GUIDE_START_TIME &gt;= #{guideStartTime}
            </if>
            <if test="guideEndTime != null and guideEndTime != ''">
                and ahg.GUIDE_END_TIME &lt;= #{guideEndTime}
            </if>
        </where>
    </select>

    <select id="listAeaHiGuideListUnitIdOrLinkmanInfoId" parameterType="com.augurit.aplanmis.common.domain.AeaHiGuide"
            resultType="com.augurit.aplanmis.common.domain.AeaHiGuide">
        select
        <include refid="Base_Column_List"/>
        , aps.stage_name stageName
        , apt.theme_id themeId
        , apt.theme_name themeName
        , api.proj_name projName
        , api.gcbm gcbm
        from aea_hi_guide ahg
        join aea_par_stage aps on ahg.stage_id=aps.stage_id
        join aea_par_theme_ver aptv on aptv.theme_ver_id=aps.theme_ver_id
        join aea_par_theme apt on apt.theme_id=aptv.theme_id
        join aea_proj_info api on api.proj_info_id=ahg.proj_info_id
        <where>
            <if test="keyword != null and keyword != ''">
                and (
                apt.theme_name like concat(#{keyword}, '%')
                or api.proj_name like concat(#{keyword}, '%')
                or api.gcbm like concat(#{keyword}, '%')
                )
            </if>
            <if test="applyState != null and applyState != ''">
                and ahg.apply_state=#{applyState}
            </if>
            <if test="applyUnitInfoId != null and applyUnitInfoId != '' and applyLinkmanInfoId != null and applyLinkmanInfoId != ''">
                and （ahg.APPLY_UNIT_INFO_ID = #{applyUnitInfoId} or ahg.APPLY_LINKMAN_INFO_ID = #{applyLinkmanInfoId}  )
            </if>
            <if test="applyUnitInfoId != null and applyUnitInfoId != '' and (applyLinkmanInfoId == null or applyLinkmanInfoId == '')">
                and ahg.APPLY_UNIT_INFO_ID = #{applyUnitInfoId}
            </if>
            <if test="(applyUnitInfoId == null or applyUnitInfoId == '') and applyLinkmanInfoId != null and applyLinkmanInfoId != ''">
                and ahg.APPLY_LINKMAN_INFO_ID = #{applyLinkmanInfoId}
            </if>
        </where>
    </select>
</mapper>