<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--created by Administrator    2019-11-11 17:31:08 -->
<!--0 一些前置信息配置 -->
<mapper namespace="com.augurit.aplanmis.common.mapper.AeaItemFrontPartformMapper" >

    <sql id="allColumns" >
        FRONT_PARTFORM_ID  frontPartformId,
        ITEM_VER_ID  itemVerId,
        ITEM_PARTFORM_ID  itemPartformId,
        SORT_NO  sortNo,
        IS_ACTIVE  isActive,
        CREATER  creater,
        CREATE_TIME  createTime,
        MODIFIER  modifier,
        MODIFY_TIME  modifyTime,
        ROOT_ORG_ID  rootOrgId,
        ITEM_PARTFORM_MEMO itemPartformMemo
    </sql>

    <sql id="allColumnsAlias">
        ${alias}.FRONT_PARTFORM_ID  frontPartformId,
        ${alias}.ITEM_VER_ID  itemVerId,
        ${alias}.ITEM_PARTFORM_ID  itemPartformId,
        ${alias}.SORT_NO  sortNo,
        ${alias}.IS_ACTIVE  isActive,
        ${alias}.CREATER  creater,
        ${alias}.CREATE_TIME  createTime,
        ${alias}.MODIFIER  modifier,
        ${alias}.MODIFY_TIME  modifyTime,
        ${alias}.ROOT_ORG_ID  rootOrgId,
        ${alias}.ITEM_PARTFORM_MEMO itemPartformMemo
    </sql>

    <!--2 根据主键ID查询单个实体 -->
    <select id="getAeaItemFrontPartformById" resultType="AeaItemFrontPartform" >
        select
            <include refid="allColumns"/>
        from    AEA_ITEM_FRONT_PARTFORM
        where    FRONT_PARTFORM_ID = #{id}
    </select>

    <select id="getAeaItemFrontPartformVoByItemVerId" resultType="com.augurit.aplanmis.common.vo.AeaItemFrontPartformVo">
        select
            <include refid="allColumnsAlias">
                <property name="alias" value="aifp"></property>
            </include>,
            aip.PARTFORM_NAME partformName,
            aip.IS_SMART_FORM isSmartForm,
            aip.STO_FORM_ID stoFormId
        from AEA_ITEM_FRONT_PARTFORM aifp
        left join aea_item_partform aip on aip.ITEM_PARTFORM_ID = aifp.ITEM_PARTFORM_ID
        <where>
            aifp.IS_ACTIVE = '1'
            <if test="itemVerId != null">
                AND aifp.ITEM_VER_ID = #{itemVerId}
            </if>
            <if test="rootOrgId != null">
                AND aifp.ROOT_ORG_ID = #{rootOrgId}
            </if>
        </where>
    </select>

    <!--3 根据条件查询实体list -->
    <select id="listAeaItemFrontPartform" resultType="AeaItemFrontPartform" >
        select
            <include refid="allColumns"/>
        from    AEA_ITEM_FRONT_PARTFORM
        <where>
            <if test="frontPartformId != null" >
            AND    FRONT_PARTFORM_ID = #{frontPartformId}
            </if>
            <if test="itemVerId != null" >
            AND    ITEM_VER_ID = #{itemVerId}
            </if>
            <if test="itemPartformId != null" >
            AND    ITEM_PARTFORM_ID = #{itemPartformId}
            </if>
            <if test="sortNo != null" >
            AND    SORT_NO = #{sortNo}
            </if>
            <if test="isActive != null" >
            AND    IS_ACTIVE = #{isActive}
            </if>
            <if test="creater != null" >
            AND    CREATER = #{creater}
            </if>
            <if test="createTime != null" >
            AND    CREATE_TIME = #{createTime}
            </if>
            <if test="modifier != null" >
            AND    MODIFIER = #{modifier}
            </if>
            <if test="modifyTime != null" >
            AND    MODIFY_TIME = #{modifyTime}
            </if>
            <if test="rootOrgId != null" >
            AND    ROOT_ORG_ID = #{rootOrgId}
            </if>
            <if test="itemPartformMemo != null" >
            AND    ITEM_PARTFORM_MEMO = #{itemPartformMemo}
            </if>
        </where>
    </select>

    <!--5 新增实体对象 -->
    <insert id="insertAeaItemFrontPartform" parameterType="AeaItemFrontPartform" >
        insert into AEA_ITEM_FRONT_PARTFORM (
            FRONT_PARTFORM_ID,
            ITEM_VER_ID,
            ITEM_PARTFORM_ID,
            SORT_NO,
            IS_ACTIVE,
            CREATER,
            CREATE_TIME,
            MODIFIER,
            MODIFY_TIME,
            ROOT_ORG_ID,
            ITEM_PARTFORM_MEMO
        )  values  (
            #{frontPartformId},
            #{itemVerId},
            #{itemPartformId},
            #{sortNo},
            #{isActive},
            #{creater},
            #{createTime},
            #{modifier},
            #{modifyTime},
            #{rootOrgId},
            #{itemPartformMemo}
        )
    </insert>

    <!--6 修改实体对象 -->
    <update id="updateAeaItemFrontPartform" parameterType="AeaItemFrontPartform" >
        update AEA_ITEM_FRONT_PARTFORM
        <set >
            <if test="frontPartformId != null" >
            FRONT_PARTFORM_ID = #{frontPartformId},
            </if>
            <if test="itemVerId != null" >
            ITEM_VER_ID = #{itemVerId},
            </if>
            <if test="itemPartformId != null" >
            ITEM_PARTFORM_ID = #{itemPartformId},
            </if>
            <if test="sortNo != null" >
            SORT_NO = #{sortNo},
            </if>
            <if test="isActive != null" >
            IS_ACTIVE = #{isActive},
            </if>
            <if test="creater != null" >
            CREATER = #{creater},
            </if>
            <if test="createTime != null" >
            CREATE_TIME = #{createTime},
            </if>
            <if test="modifier != null" >
            MODIFIER = #{modifier},
            </if>
            <if test="modifyTime != null" >
            MODIFY_TIME = #{modifyTime},
            </if>
            <if test="rootOrgId != null" >
            ROOT_ORG_ID = #{rootOrgId},
            </if>
            <if test="itemPartformMemo != null" >
            ITEM_PARTFORM_MEMO = #{itemPartformMemo},
            </if>
        </set>
        where FRONT_PARTFORM_ID = #{frontPartformId}
    </update>

    <delete id="deleteAeaItemFrontPartform">
        delete from AEA_ITEM_FRONT_PARTFORM where FRONT_PARTFORM_ID = #{id}
    </delete>
    
    <delete id="deleteAeaItemFrontPartformByIds">
        <if test="ids!=null and ids.length>0">
            delete from AEA_ITEM_FRONT_PARTFORM where FRONT_PARTFORM_ID in 
            <foreach collection="ids" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
    </delete>

    <!--9 返回所有字段的对象map,用于级联 -->
    <resultMap type="AeaItemFrontPartform" id="AeaItemFrontPartformMap">
        <id property="frontPartformId" column="FRONT_PARTFORM_ID"/>
        <result property="itemVerId" column="ITEM_VER_ID"/>
        <result property="itemPartformId" column="ITEM_PARTFORM_ID"/>
        <result property="sortNo" column="SORT_NO"/>
        <result property="isActive" column="IS_ACTIVE"/>
        <result property="creater" column="CREATER"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="modifier" column="MODIFIER"/>
        <result property="modifyTime" column="MODIFY_TIME"/>
        <result property="rootOrgId" column="ROOT_ORG_ID"/>
        <result property="itemPartformMemo" column="ITEM_PARTFORM_MEMO"/>
    </resultMap>

    <select id="listAeaItemFrontPartformVo" resultType="com.augurit.aplanmis.common.vo.AeaItemFrontPartformVo" >
        select
            <include refid="allColumnsAlias">
                <property name="alias" value="aifp"></property>
            </include>,
            aip.PARTFORM_NAME partformName,
            aip.IS_SMART_FORM isSmartForm
        from AEA_ITEM_FRONT_PARTFORM aifp
        left join aea_item_partform aip on aip.ITEM_PARTFORM_ID = aifp.ITEM_PARTFORM_ID
        <where>
            <if test="frontPartformId != null" >
                AND    aifp.FRONT_PARTFORM_ID = #{frontPartformId}
            </if>
            <if test="itemVerId != null" >
                AND    aifp.ITEM_VER_ID = #{itemVerId}
            </if>
            <if test="itemPartformId != null" >
                AND    aifp.ITEM_PARTFORM_ID = #{itemPartformId}
            </if>
            <if test="sortNo != null" >
                AND    aifp.SORT_NO = #{sortNo}
            </if>
            <if test="isActive != null" >
                AND    aifp.IS_ACTIVE = #{isActive}
            </if>
            <if test="creater != null" >
                AND    aifp.CREATER = #{creater}
            </if>
            <if test="createTime != null" >
                AND    aifp.CREATE_TIME = #{createTime}
            </if>
            <if test="modifier != null" >
                AND    aifp.MODIFIER = #{modifier}
            </if>
            <if test="modifyTime != null" >
                AND    aifp.MODIFY_TIME = #{modifyTime}
            </if>
            <if test="rootOrgId != null" >
                AND    aifp.ROOT_ORG_ID = #{rootOrgId}
            </if>
            <if test="itemPartformMemo != null" >
                AND    aifp.ITEM_PARTFORM_MEMO = #{itemPartformMemo}
            </if>
            <if test="keyword!=null and keyword!='' ">
                AND(
                    aip.PARTFORM_NAME LIKE CONCAT(CONCAT('%',#{keyword}),'%')
                )
            </if>
        </where>
        order by aifp.SORT_NO asc, aifp.CREATE_TIME asc, aifp.MODIFY_TIME asc
    </select>

    <select id="getMaxSortNo" resultType="java.lang.Long">
        select
            max(SORT_NO)
        from AEA_ITEM_FRONT_PARTFORM
        <where>
            and ITEM_VER_ID = #{itemVerId}
            and ROOT_ORG_ID = #{rootOrgId}
        </where>
    </select>

    <select id="listItemNoSelectPartform" resultType="com.augurit.aplanmis.common.vo.AeaItemFrontPartformVo">
        select
            aip.ITEM_PARTFORM_ID itemPartformId,
            aip.PARTFORM_NAME partformName,
            aip.IS_SMART_FORM isSmartForm
        from aea_item_partform aip
        <where>
            and aip.ITEM_VER_ID = #{itemVerId}
            and aip.ITEM_PARTFORM_ID not in (
                select distinct
                    ITEM_PARTFORM_ID
                from AEA_ITEM_FRONT_PARTFORM
                <where>
                    and ITEM_VER_ID = #{itemVerId}
                    and ROOT_ORG_ID = #{rootOrgId}
                    and ITEM_PARTFORM_ID is not null
                    and ITEM_PARTFORM_ID != ''
                </where>
            )
            <if test="keyword!=null and keyword!='' ">
            and(
                aip.PARTFORM_NAME like CONCAT(CONCAT('%',#{keyword}),'%')
            )
            </if>
        </where>
    </select>

    <select id="getAeaItemFrontPartformVoById" resultType="com.augurit.aplanmis.common.vo.AeaItemFrontPartformVo">
        select
            <include refid="allColumnsAlias">
                <property name="alias" value="aifp"></property>
            </include>,
            aip.PARTFORM_NAME partformName,
            aip.IS_SMART_FORM isSmartForm
        from AEA_ITEM_FRONT_PARTFORM aifp
        left join aea_item_partform aip on aip.ITEM_PARTFORM_ID = aifp.ITEM_PARTFORM_ID
        where aifp.FRONT_PARTFORM_ID = #{id}
    </select>

    <update id="changIsActive">
        update AEA_ITEM_FRONT_PARTFORM
        set IS_ACTIVE = case IS_ACTIVE
        when '1' then '0'
        when '0' then '1'
        end
        <where>
            and FRONT_PARTFORM_ID = #{id}
            and ROOT_ORG_ID = #{rootOrgId}
        </where>
    </update>

</mapper>