<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--created by zhangwn    2019-11-13 11:07:35 -->
<!--0 一些前置信息配置 -->
<mapper namespace="com.augurit.aplanmis.common.mapper.AeaItemPartformMapper">

    <sql id="allColumns">
        ITEM_PARTFORM_ID  itemPartformId,
        PARTFORM_NAME  partformName,
        ITEM_VER_ID  itemVerId,
        IS_SMART_FORM  isSmartForm,
        STO_FORM_ID stoFormId,
        SORT_NO  sortNo,
        USE_EL  useEl,
        EL_CONTENT  elContent,
        CREATER  creater,
        CREATE_TIME  createTime
    </sql>

    <sql id="allColumns_alias">
        ${alias}.ITEM_PARTFORM_ID  itemPartformId,
        ${alias}.PARTFORM_NAME  partformName,
        ${alias}.ITEM_VER_ID  itemVerId,
        ${alias}.IS_SMART_FORM  isSmartForm,
        ${alias}.STO_FORM_ID stoFormId,
        ${alias}.SORT_NO  sortNo,
        ${alias}.USE_EL  useEl,
        ${alias}.EL_CONTENT  elContent,
        ${alias}.CREATER  creater,
        ${alias}.CREATE_TIME  createTime
    </sql>

    <select id="getAeaItemPartformById" resultType="AeaItemPartform">
        select
            <include refid="allColumns"/>
        from AEA_ITEM_PARTFORM
        where ITEM_PARTFORM_ID = #{id}
    </select>

    <select id="listAeaItemPartform" resultType="AeaItemPartform">
        select
            <include refid="allColumns"/>
        from AEA_ITEM_PARTFORM
        <where>
            <if test="itemPartformId != null and itemPartformId!=''">
                AND ITEM_PARTFORM_ID = #{itemPartformId}
            </if>
            <if test="partformName != null and partformName!=''">
                AND PARTFORM_NAME = #{partformName}
            </if>
            <if test="itemVerId != null and itemVerId!=''">
                AND ITEM_VER_ID = #{itemVerId}
            </if>
            <if test="isSmartForm != null and isSmartForm!=''">
                AND IS_SMART_FORM = #{isSmartForm}
            </if>
            <if test="stoFormId != null and stoFormId!=''">
                AND STO_FORM_ID = #{stoFormId}
            </if>
            <if test="formUrl != null and formUrl!=''" >
                AND FORM_URL = #{formUrl}
            </if>
            <if test="sortNo != null and sortNo!=''">
                AND SORT_NO = #{sortNo}
            </if>
            <if test="useEl != null and useEl!=''">
                AND USE_EL = #{useEl}
            </if>
            <if test="elContent != null">
                AND EL_CONTENT = #{elContent}
            </if>
            <if test="creater != null and creater!=''">
                AND CREATER = #{creater}
            </if>
            <if test="createTime != null">
                AND CREATE_TIME = #{createTime}
            </if>
            <if test="keyword!=null and keyword!=''">
                AND  PARTFORM_NAME like concat('%', concat(#{keyword}, '%'))
            </if>
        </where>
    </select>

    <insert id="insertAeaItemPartform" parameterType="AeaItemPartform">
        insert into AEA_ITEM_PARTFORM (
            ITEM_PARTFORM_ID,
            PARTFORM_NAME,
            ITEM_VER_ID,
            IS_SMART_FORM,
            STO_FORM_ID,
            SORT_NO,
            USE_EL,
            EL_CONTENT,
            CREATER,
            CREATE_TIME
        )  values  (
            #{itemPartformId},
            #{partformName},
            #{itemVerId},
            #{isSmartForm},
            #{stoFormId},
            #{sortNo},
            #{useEl},
            #{elContent},
            #{creater},
            #{createTime}
        )
    </insert>

    <update id="updateAeaItemPartform" parameterType="AeaItemPartform">
        update AEA_ITEM_PARTFORM
        <set>
            <if test="itemPartformId != null">
                ITEM_PARTFORM_ID = #{itemPartformId},
            </if>
            <if test="partformName != null">
                PARTFORM_NAME = #{partformName},
            </if>
            <if test="itemVerId != null">
                ITEM_VER_ID = #{itemVerId},
            </if>
            <if test="isSmartForm != null">
                IS_SMART_FORM = #{isSmartForm},
            </if>
            <if test="stoFormId != null">
                STO_FORM_ID = #{stoFormId},
            </if>
            <if test="sortNo != null">
                SORT_NO = #{sortNo},
            </if>
            <if test="useEl != null">
                USE_EL = #{useEl},
            </if>
            <if test="elContent != null">
                EL_CONTENT = #{elContent},
            </if>
            <if test="creater != null">
                CREATER = #{creater},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime},
            </if>
        </set>
        where ITEM_PARTFORM_ID = #{itemPartformId}
    </update>

    <delete id="deleteAeaItemPartform">
        delete from AEA_ITEM_PARTFORM where ITEM_PARTFORM_ID = #{id}
    </delete>

    <select id="getMaxSortNo" resultType="java.lang.Long">
        select
            max(sort_no)
        from AEA_ITEM_PARTFORM
        where item_ver_id = #{itemVerId}
    </select>

    <delete id="batchDelItemPartformByIds">
        delete from AEA_ITEM_PARTFORM where ITEM_PARTFORM_ID in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <select id="listAeaItemPartformWithFormInfo" resultType="AeaItemPartform">
        select
            <include refid="allColumns_alias">
                <property name="alias" value="aip"/>
            </include>,
            asf.FORM_NAME formName,
            asf.FORM_LOAD_URL formUrl
        from AEA_ITEM_PARTFORM aip
        left join ACT_STO_FORM asf on (
                aip.STO_FORM_ID = asf.FORM_ID
            and asf.IS_DELETED = '0'
            and asf.FORM_PROPERTY in ( 'smart-biz', 'smart-flow','dev-biz' )
            and aip.STO_FORM_ID is not null
            and aip.STO_FORM_ID !=''
        )
        <where>
            <if test="itemPartformId != null and itemPartformId!=''">
                AND aip.ITEM_PARTFORM_ID = #{itemPartformId}
            </if>
            <if test="partformName != null and partformName!=''">
                AND aip.PARTFORM_NAME = #{partformName}
            </if>
            <if test="itemVerId != null and itemVerId!=''">
                AND aip.ITEM_VER_ID = #{itemVerId}
            </if>
            <if test="isSmartForm != null and isSmartForm!=''">
                AND aip.IS_SMART_FORM = #{isSmartForm}
            </if>
            <if test="stoFormId != null and stoFormId!=''">
                AND aip.STO_FORM_ID = #{stoFormId}
            </if>
            <if test="sortNo != null and sortNo!=''">
                AND aip.SORT_NO = #{sortNo}
            </if>
            <if test="useEl != null and useEl!=''">
                AND aip.USE_EL = #{useEl}
            </if>
            <if test="elContent != null">
                AND aip.EL_CONTENT = #{elContent}
            </if>
            <if test="creater != null and creater!=''">
                AND aip.CREATER = #{creater}
            </if>
            <if test="createTime != null">
                AND aip.CREATE_TIME = #{createTime}
            </if>
            <if test="keyword!=null and keyword!=''">
                AND  aip.PARTFORM_NAME like concat('%', concat(#{keyword}, '%'))
            </if>
        </where>
        order by aip.SORT_NO asc, aip.CREATE_TIME asc
    </select>

    <select id="listItemPartFormNoSelectForm" resultType="AeaItemPartform">
        select
            asfrom.FORM_ID as stoFormId,
            asfrom.FORM_ORG_ID  formOrgId,
            asfrom.FORM_PROPERTY  formProperty,
            asfrom.FORM_CODE  formCode,
            asfrom.FORM_NAME  formName,
            asfrom.IS_INNER_FORM  isInnerForm
        from ACT_STO_FORM asfrom
        <where>
            and asfrom.IS_DELETED = '0'
            and asfrom.FORM_ORG_ID = #{formOrgId}
            and asfrom.FORM_ID not in (
                select DISTINCT
                    STO_FORM_ID
                from AEA_ITEM_PARTFORM
                where
                    ITEM_VER_ID = #{itemVerId}
                and ITEM_PARTFORM_ID = #{itemPartformId}
                and STO_FORM_ID is not null
                and STO_FORM_ID !=''
                and IS_SMART_FORM = #{isSmartForm}
            )
            <if test="isSmartForm != null and isSmartForm ==1 ">
            and asfrom.FORM_PROPERTY in ( 'smart-biz', 'smart-flow')
            </if>
            <if test="isSmartForm != null and isSmartForm ==0 ">
            and asfrom.FORM_PROPERTY in ('dev-biz' )
            </if>
            <if test="isSmartForm == null ">
            and asfrom.FORM_PROPERTY in ( 'smart-biz', 'smart-flow', 'dev-biz' )
            </if>
            <if test="keyword != null and keyword !='' " >
            and (
                asfrom.FORM_CODE like CONCAT(CONCAT('%',#{keyword}),'%') or
                asfrom.FORM_NAME like CONCAT(CONCAT('%',#{keyword}),'%')
            )
            </if>
        </where>
        order by asfrom.IS_INNER_FORM desc, asfrom.CREATE_TIME desc
    </select>

    <resultMap type="AeaItemPartform" id="AeaItemPartformMap">
        <id property="itemPartformId" column="ITEM_PARTFORM_ID"/>
        <result property="partformName" column="PARTFORM_NAME"/>
        <result property="itemVerId" column="ITEM_VER_ID"/>
        <result property="isSmartForm" column="IS_SMART_FORM"/>
        <result property="stoFormId" column="STO_FORM_ID"/>
        <result property="sortNo" column="SORT_NO"/>
        <result property="useEl" column="USE_EL"/>
        <result property="elContent" column="EL_CONTENT"/>
        <result property="creater" column="CREATER"/>
        <result property="createTime" column="CREATE_TIME"/>
    </resultMap>

</mapper>