<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--created by Administrator    2019-06-11 15:44:50 -->
<!--0 一些前置信息配置 -->
<mapper namespace="com.augurit.aplanmis.common.mapper.AeaImUnitServiceLinkmanMapper">
    <!--1 返回所有字段的SQL字句 -->
    <sql id="allColumns">
    UNIT_SERVICE_LINKMAN_ID  unitServiceLinkmanId,
    LINKMAN_INFO_ID  linkmanInfoId,
    UNIT_SERVICE_ID  unitServiceId,
    IS_DELETE  isDelete,
    CREATER  creater,
    CREATE_TIME  createTime,
    ROOT_ORG_ID rootOrgId
    </sql>

    <sql id="linkman_allColumns">
        linkman.LINKMAN_INFO_ID  linkmanInfoId,
        linkman.LINKMAN_TYPE  linkmanType,
        linkman.LINKMAN_CATE  linkmanCate,
        linkman.LINKMAN_NAME  linkmanName,
        linkman.LINKMAN_ADDR  linkmanAddr,
        linkman.LINKMAN_OFFICE_PHON  linkmanOfficePhon,
        linkman.LINKMAN_MOBILE_PHONE  linkmanMobilePhone,
        linkman.LINKMAN_FAX  linkmanFax,
        linkman.LINKMAN_MAIL  linkmanMail,
        linkman.LINKMAN_CERT_NO  linkmanCertNo,
        linkman.IS_ACTIVE  isActive,
        linkman.IS_DELETED  isDeleted,
        linkman.LINKMAN_MEMO  linkmanMemo,
        linkman.CREATER  creater,
        linkman.CREATE_TIME  createTime,
        linkman.MODIFIER  modifier,
        linkman.MODIFY_TIME  modifyTime,
        linkman.LOGIN_NAME loginName,
        linkman.LOGIN_PWD loginPwd,
        linkman.IMG_URL imgUrl
    </sql>

    <!--2 根据主键ID查询单个实体 -->
    <select id="getAeaImUnitServiceLinkmanById" resultType="AeaImUnitServiceLinkman">
        select
        <include refid="allColumns"/>
        from AEA_IM_UNIT_SERVICE_LINKMAN
        where UNIT_SERVICE_LINKMAN_ID = #{id}
    </select>

    <!--3 根据条件查询实体list -->
    <select id="listAeaImUnitServiceLinkman" resultType="AeaImUnitServiceLinkman">
        select
        <include refid="allColumns"/>
        from AEA_IM_UNIT_SERVICE_LINKMAN
        <where>
            <if test="unitServiceLinkmanId != null">
                AND UNIT_SERVICE_LINKMAN_ID = #{unitServiceLinkmanId}
            </if>
            <if test="linkmanInfoId != null">
                AND LINKMAN_INFO_ID = #{linkmanInfoId}
            </if>
            <if test="unitServiceId != null">
                AND UNIT_SERVICE_ID = #{unitServiceId}
            </if>
            <if test="isDelete != null">
                AND IS_DELETE = #{isDelete}
            </if>
            <if test="creater != null">
                AND CREATER = #{creater}
            </if>
            <if test="rootOrgId != null">
                AND ROOT_ORG_ID = #{rootOrgId}
            </if>

        </where>
    </select>
    <!--4 根据条件查询实体list,返回分页对象 -->

    <!--5 新增实体对象 -->
    <insert id="insertAeaImUnitServiceLinkman" parameterType="AeaImUnitServiceLinkman">
    insert into AEA_IM_UNIT_SERVICE_LINKMAN (
UNIT_SERVICE_LINKMAN_ID  ,LINKMAN_INFO_ID  ,UNIT_SERVICE_ID   ,IS_DELETE  ,CREATER  ,CREATE_TIME,ROOT_ORG_ID
    )  values  (
#{unitServiceLinkmanId},#{linkmanInfoId},#{unitServiceId},#{isDelete},#{creater},  #{createTime},#{rootOrgId}
    )
</insert>
    <!--6 修改实体对象 -->
    <update id="updateAeaImUnitServiceLinkman" parameterType="AeaImUnitServiceLinkman">
        update AEA_IM_UNIT_SERVICE_LINKMAN
        <set>
            <if test="unitServiceLinkmanId != null">
                UNIT_SERVICE_LINKMAN_ID = #{unitServiceLinkmanId},
            </if>
            <if test="linkmanInfoId != null">
                LINKMAN_INFO_ID = #{linkmanInfoId},
            </if>
            <if test="unitServiceId != null">
                UNIT_SERVICE_ID = #{unitServiceId},
            </if>
            <if test="isDelete != null">
                IS_DELETE = #{isDelete},
            </if>
            <if test="creater != null">
                CREATER = #{creater},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime},
            </if>
            <if test="rootOrgId != null">
                ROOT_ORG_ID = #{rootOrgId},
            </if>
        </set>
        where UNIT_SERVICE_LINKMAN_ID = #{unitServiceLinkmanId}
    </update>
    <!--7 删除实体对象,根据主键ID -->
    <delete id="deleteAeaImUnitServiceLinkman">
        delete from   AEA_IM_UNIT_SERVICE_LINKMAN
        where
    UNIT_SERVICE_LINKMAN_ID = #{id}
    </delete>
    <!--8 删除实体对象列表,根据主键ID列表 -->
    <!--9 返回所有字段的对象map,用于级联 -->
    <resultMap type="AeaImUnitServiceLinkman" id="AeaImUnitServiceLinkmanMap">
        <id property="unitServiceLinkmanId" column="UNIT_SERVICE_LINKMAN_ID"/>
        <result property="linkmanInfoId" column="LINKMAN_INFO_ID"/>
        <result property="unitServiceId" column="UNIT_SERVICE_ID"/>
        <result property="isDelete" column="IS_DELETE"/>
        <result property="creater" column="CREATER"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="rootOrgId" column="ROOT_ORG_ID"/>
    </resultMap>

    <insert id="batchInsert">
        insert into AEA_IM_UNIT_SERVICE_LINKMAN (
        UNIT_SERVICE_LINKMAN_ID ,LINKMAN_INFO_ID ,UNIT_SERVICE_ID ,IS_DELETE ,CREATER ,CREATE_TIME,ROOT_ORG_ID
        ) values

        <foreach collection="list" item="linkMan" index="index" separator=",">
            (#{linkMan.unitServiceLinkmanId},#{linkMan.linkmanInfoId},#{linkMan.unitServiceId},#{linkMan.isDelete},#{linkMan.creater},
            #{linkMan.createTime},#{linkMan.rootOrgId})
        </foreach>
    </insert>
    <delete id="deleteAeaImUnitServiceLinkmanByUnitServiceId">
        delete  from  AEA_IM_UNIT_SERVICE_LINKMAN
        where UNIT_SERVICE_ID = #{unitServiceId}
    </delete>


    <select id="getAeaLinkmanInfoByUnitInfoId" resultType="AeaLinkmanInfo">
        select
        <include refid="linkman_allColumns"/>,
        aius.SERVICE_ID serviceId,
        aisl.IS_HEAD isHead,
        aisl.AUDIT_FLAG auditFlag,
        aisl.SERVICE_LINKMAN_ID serviceLinkmanId,
        aisl.PRACTISE_DATE practiseDate,
        aius.UNIT_SERVICE_ID
        from aea_im_unit_service_linkman aiusl
        LEFT JOIN aea_im_unit_service aius on aiusl.UNIT_SERVICE_ID = aius.UNIT_SERVICE_ID
        LEFT JOIN aea_im_service_linkman aisl on aius.SERVICE_ID = aisl.SERVICE_ID
        LEFT JOIN aea_unit_linkman aul on aul.LINKMAN_INFO_ID = aisl.LINKMAN_INFO_ID
        LEFT JOIN aea_linkman_info linkman ON linkman.LINKMAN_INFO_ID = aul.LINKMAN_INFO_ID
        <where>
            aiusl.IS_DELETE = '0'
            <if test="cardNo != null and cardNo!=''">
                AND linkman.LINKMAN_CERT_NO = #{cardNo}
            </if>
            <if test="auditFlag != null and auditFlag!=''">
                AND aisl.AUDIT_FLAG = #{auditFlag}
            </if>

                AND aul.UNIT_INFO_ID = #{unitInfoId}

        </where>
    </select>
</mapper>