<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--created by Apple    2019-12-25 11:56:41 -->
<!--0 一些前置信息配置 -->
<mapper namespace="com.augurit.aplanmis.common.mapper.AeaLogThemeItemChangeMapper" >
<!--1 返回所有字段的SQL字句 -->
<sql id="allColumns" >
    CHANGE_ID  changeId,
    PROJ_INFO_ID  projInfoId,
    IS_APPLYINST_TRIGGER  isApplyinstTrigger,
    APPLYINST_ID  applyinstId,
    STAGEINST_ID  stageinstId,
    IS_THEME_CHANGE  isThemeChange,
    CHANGE_ACTION  changeAction,
    OLD_THEME_ID  oldThemeId,
    OLD_THEME_NAME  oldThemeName,
    NEW_THEME_ID  newThemeId,
    NEW_THEME_NAME  newThemeName,
    OLD_ITEMINST_ID  oldIteminstId,
    OLD_ITEMINST_NAME  oldIteminstName,
    NEW_ITEMINST_ID  newIteminstId,
    NEW_ITEMINST_NAME  newIteminstName,
    OPS_ORG_ID  opsOrgId,
    OPS_ORG_NAME  opsOrgName,
    OPS_USER_ID  opsUserId,
    OPS_USER_NAME  opsUserName,
    OPS_OPINION  opsOpinion,
    OPS_TIME  opsTime,
    OPS_MEMO  opsMemo,
    CREATER  creater,
    CREATE_TIME  createTime,
    ROOT_ORG_ID  rootOrgId
    </sql>

<!--2 根据主键ID查询单个实体 -->
<select id="getAeaLogThemeItemChangeById" resultType="AeaLogThemeItemChange" >
    select
    <include refid="allColumns"/>
    from    AEA_LOG_THEME_ITEM_CHANGE
    where    CHANGE_ID = #{id}
</select>

<!--3 根据条件查询实体list -->
    <select id="listAeaLogThemeItemChange" resultType="AeaLogThemeItemChange" >
        select
        <include refid="allColumns"/>
        from    AEA_LOG_THEME_ITEM_CHANGE
    <where>
        <if test="changeId != null" >
        AND    CHANGE_ID = #{changeId}
        </if>
        <if test="projInfoId != null" >
        AND    PROJ_INFO_ID = #{projInfoId}
        </if>
        <if test="isApplyinstTrigger != null" >
        AND    IS_APPLYINST_TRIGGER = #{isApplyinstTrigger}
        </if>
        <if test="applyinstId != null" >
        AND    APPLYINST_ID = #{applyinstId}
        </if>
        <if test="stageinstId != null" >
        AND    STAGEINST_ID = #{stageinstId}
        </if>
        <if test="isThemeChange != null" >
        AND    IS_THEME_CHANGE = #{isThemeChange}
        </if>
        <if test="changeAction != null" >
        AND    CHANGE_ACTION = #{changeAction}
        </if>
        <if test="oldThemeId != null" >
        AND    OLD_THEME_ID = #{oldThemeId}
        </if>
        <if test="oldThemeName != null" >
        AND    OLD_THEME_NAME = #{oldThemeName}
        </if>
        <if test="newThemeId != null" >
        AND    NEW_THEME_ID = #{newThemeId}
        </if>
        <if test="newThemeName != null" >
        AND    NEW_THEME_NAME = #{newThemeName}
        </if>
        <if test="oldIteminstId != null" >
        AND    OLD_ITEMINST_ID = #{oldIteminstId}
        </if>
        <if test="oldIteminstName != null" >
        AND    OLD_ITEMINST_NAME = #{oldIteminstName}
        </if>
        <if test="newIteminstId != null" >
        AND    NEW_ITEMINST_ID = #{newIteminstId}
        </if>
        <if test="newIteminstName != null" >
        AND    NEW_ITEMINST_NAME = #{newIteminstName}
        </if>
        <if test="opsOrgId != null" >
        AND    OPS_ORG_ID = #{opsOrgId}
        </if>
        <if test="opsOrgName != null" >
        AND    OPS_ORG_NAME = #{opsOrgName}
        </if>
        <if test="opsUserId != null" >
        AND    OPS_USER_ID = #{opsUserId}
        </if>
        <if test="opsUserName != null" >
        AND    OPS_USER_NAME = #{opsUserName}
        </if>
        <if test="opsOpinion != null" >
        AND    OPS_OPINION = #{opsOpinion}
        </if>
        <if test="opsTime != null" >
        AND    OPS_TIME = #{opsTime}
        </if>
        <if test="opsMemo != null" >
        AND    OPS_MEMO = #{opsMemo}
        </if>
        <if test="creater != null" >
        AND    CREATER = #{creater}
        </if>
        <if test="createTime != null" >
        AND    CREATE_TIME = #{createTime}
        </if>
        <if test="rootOrgId != null" >
        AND    ROOT_ORG_ID = #{rootOrgId}
        </if>
    </where>
    </select>
<!--4 根据条件查询实体list,返回分页对象 -->

<!--5 新增实体对象 -->
<insert id="insertAeaLogThemeItemChange" parameterType="AeaLogThemeItemChange" >
    insert into AEA_LOG_THEME_ITEM_CHANGE (
CHANGE_ID  ,PROJ_INFO_ID  ,IS_APPLYINST_TRIGGER  ,APPLYINST_ID  ,STAGEINST_ID  ,IS_THEME_CHANGE  ,CHANGE_ACTION  ,OLD_THEME_ID  ,OLD_THEME_NAME  ,NEW_THEME_ID  ,NEW_THEME_NAME  ,OLD_ITEMINST_ID  ,OLD_ITEMINST_NAME  ,NEW_ITEMINST_ID  ,NEW_ITEMINST_NAME  ,OPS_ORG_ID  ,OPS_ORG_NAME  ,OPS_USER_ID  ,OPS_USER_NAME  ,OPS_OPINION  ,OPS_TIME  ,OPS_MEMO  ,CREATER  ,CREATE_TIME  ,ROOT_ORG_ID  
    )  values  (
#{changeId},#{projInfoId},#{isApplyinstTrigger},#{applyinstId},#{stageinstId},#{isThemeChange},#{changeAction},#{oldThemeId},#{oldThemeName},#{newThemeId},#{newThemeName},#{oldIteminstId},#{oldIteminstName},#{newIteminstId},#{newIteminstName},#{opsOrgId},#{opsOrgName},#{opsUserId},#{opsUserName},#{opsOpinion},#{opsTime},#{opsMemo},#{creater},#{createTime},  #{rootOrgId}
    )
</insert>
<!--6 修改实体对象 -->
<update id="updateAeaLogThemeItemChange" parameterType="AeaLogThemeItemChange" >
    update AEA_LOG_THEME_ITEM_CHANGE
    <set >
        <if test="changeId != null" >
        CHANGE_ID = #{changeId},
        </if>
        <if test="projInfoId != null" >
        PROJ_INFO_ID = #{projInfoId},
        </if>
        <if test="isApplyinstTrigger != null" >
        IS_APPLYINST_TRIGGER = #{isApplyinstTrigger},
        </if>
        <if test="applyinstId != null" >
        APPLYINST_ID = #{applyinstId},
        </if>
        <if test="stageinstId != null" >
        STAGEINST_ID = #{stageinstId},
        </if>
        <if test="isThemeChange != null" >
        IS_THEME_CHANGE = #{isThemeChange},
        </if>
        <if test="changeAction != null" >
        CHANGE_ACTION = #{changeAction},
        </if>
        <if test="oldThemeId != null" >
        OLD_THEME_ID = #{oldThemeId},
        </if>
        <if test="oldThemeName != null" >
        OLD_THEME_NAME = #{oldThemeName},
        </if>
        <if test="newThemeId != null" >
        NEW_THEME_ID = #{newThemeId},
        </if>
        <if test="newThemeName != null" >
        NEW_THEME_NAME = #{newThemeName},
        </if>
        <if test="oldIteminstId != null" >
        OLD_ITEMINST_ID = #{oldIteminstId},
        </if>
        <if test="oldIteminstName != null" >
        OLD_ITEMINST_NAME = #{oldIteminstName},
        </if>
        <if test="newIteminstId != null" >
        NEW_ITEMINST_ID = #{newIteminstId},
        </if>
        <if test="newIteminstName != null" >
        NEW_ITEMINST_NAME = #{newIteminstName},
        </if>
        <if test="opsOrgId != null" >
        OPS_ORG_ID = #{opsOrgId},
        </if>
        <if test="opsOrgName != null" >
        OPS_ORG_NAME = #{opsOrgName},
        </if>
        <if test="opsUserId != null" >
        OPS_USER_ID = #{opsUserId},
        </if>
        <if test="opsUserName != null" >
        OPS_USER_NAME = #{opsUserName},
        </if>
        <if test="opsOpinion != null" >
        OPS_OPINION = #{opsOpinion},
        </if>
        <if test="opsTime != null" >
        OPS_TIME = #{opsTime},
        </if>
        <if test="opsMemo != null" >
        OPS_MEMO = #{opsMemo},
        </if>
        <if test="creater != null" >
        CREATER = #{creater},
        </if>
        <if test="createTime != null" >
        CREATE_TIME = #{createTime},
        </if>
        <if test="rootOrgId != null" >
        ROOT_ORG_ID = #{rootOrgId},
        </if>
    </set>
    where CHANGE_ID = #{changeId}
</update>
<!--7 删除实体对象,根据主键ID -->
    <delete id="deleteAeaLogThemeItemChange">
        delete from   AEA_LOG_THEME_ITEM_CHANGE
        where
    CHANGE_ID = #{id}
    </delete>
<!--8 删除实体对象列表,根据主键ID列表 -->
<!--9 返回所有字段的对象map,用于级联 -->
    <resultMap type="AeaLogThemeItemChange" id="AeaLogThemeItemChangeMap">
        <id property="changeId" column="CHANGE_ID"/>
        <result property="projInfoId" column="PROJ_INFO_ID"/>
        <result property="isApplyinstTrigger" column="IS_APPLYINST_TRIGGER"/>
        <result property="applyinstId" column="APPLYINST_ID"/>
        <result property="stageinstId" column="STAGEINST_ID"/>
        <result property="isThemeChange" column="IS_THEME_CHANGE"/>
        <result property="changeAction" column="CHANGE_ACTION"/>
        <result property="oldThemeId" column="OLD_THEME_ID"/>
        <result property="oldThemeName" column="OLD_THEME_NAME"/>
        <result property="newThemeId" column="NEW_THEME_ID"/>
        <result property="newThemeName" column="NEW_THEME_NAME"/>
        <result property="oldIteminstId" column="OLD_ITEMINST_ID"/>
        <result property="oldIteminstName" column="OLD_ITEMINST_NAME"/>
        <result property="newIteminstId" column="NEW_ITEMINST_ID"/>
        <result property="newIteminstName" column="NEW_ITEMINST_NAME"/>
        <result property="opsOrgId" column="OPS_ORG_ID"/>
        <result property="opsOrgName" column="OPS_ORG_NAME"/>
        <result property="opsUserId" column="OPS_USER_ID"/>
        <result property="opsUserName" column="OPS_USER_NAME"/>
        <result property="opsOpinion" column="OPS_OPINION"/>
        <result property="opsTime" column="OPS_TIME"/>
        <result property="opsMemo" column="OPS_MEMO"/>
        <result property="creater" column="CREATER"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="rootOrgId" column="ROOT_ORG_ID"/>
    </resultMap>
</mapper>