<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--created by Administrator    2019-11-01 10:48:41 -->
<!--0 一些前置信息配置 -->
<mapper namespace="com.augurit.aplanmis.common.mapper.AeaParFrontStageMapper">
    <!--1 返回所有字段的SQL字句 -->
    <sql id="allColumns">
    FRONT_STAGE_ID  frontStageId,
    STAGE_ID  stageId,
    HIST_STAGE_ID  histStageId,
    SORT_NO  sortNo,
    IS_ACTIVE  isActive,
    FRONT_STAGE_MEMO  frontStageMemo,
    CREATER  creater,
    CREATE_TIME  createTime,
    MODIFIER  modifier,
    MODIFY_TIME  modifyTime,
    ROOT_ORG_ID  rootOrgId
    </sql>

    <sql id="allColumnsAlias">
    ${alias}.FRONT_STAGE_ID  frontStageId,
    ${alias}.STAGE_ID  stageId,
    ${alias}.HIST_STAGE_ID  histStageId,
    ${alias}.SORT_NO  sortNo,
    ${alias}.IS_ACTIVE  isActive,
    ${alias}.FRONT_STAGE_MEMO  frontStageMemo,
    ${alias}.CREATER  creater,
    ${alias}.CREATE_TIME  createTime,
    ${alias}.MODIFIER  modifier,
    ${alias}.MODIFY_TIME  modifyTime,
    ${alias}.ROOT_ORG_ID  rootOrgId
    </sql>

    <!--2 根据主键ID查询单个实体 -->
    <select id="getAeaParFrontStageById" resultType="AeaParFrontStage">
        select
        <include refid="allColumns"/>
        from AEA_PAR_FRONT_STAGE
        where FRONT_STAGE_ID = #{id}
    </select>

    <select id="getHistStageByStageId" resultType="com.augurit.aplanmis.common.vo.AeaParFrontStageVo">
        select
        <include refid="allColumnsAlias">
            <property name="alias" value="apfs"></property>
        </include>
        ,aps.STAGE_NAME histStageName
        from AEA_PAR_FRONT_STAGE apfs
        left join aea_par_stage aps on aps.STAGE_ID = apfs.HIST_STAGE_ID
        <where>
            apfs.IS_ACTIVE = '1'
            <if test="stageId != null">
                AND apfs.STAGE_ID = #{stageId}
            </if>
            <if test="rootOrgId != null">
                AND apfs.ROOT_ORG_ID = #{rootOrgId}
            </if>
        </where>
        order by apfs.SORT_NO
    </select>

    <!--3 根据条件查询实体list -->
    <select id="listAeaParFrontStage" resultType="AeaParFrontStage">
        select
        <include refid="allColumns"/>
        from AEA_PAR_FRONT_STAGE
        <where>
            <if test="frontStageId != null">
                AND FRONT_STAGE_ID = #{frontStageId}
            </if>
            <if test="stageId != null">
                AND STAGE_ID = #{stageId}
            </if>
            <if test="histStageId != null">
                AND HIST_STAGE_ID = #{histStageId}
            </if>
            <if test="sortNo != null">
                AND SORT_NO = #{sortNo}
            </if>
            <if test="isActive != null">
                AND IS_ACTIVE = #{isActive}
            </if>
            <if test="frontStageMemo != null">
                AND FRONT_STAGE_MEMO = #{frontStageMemo}
            </if>
            <if test="creater != null">
                AND CREATER = #{creater}
            </if>
            <if test="createTime != null">
                AND CREATE_TIME = #{createTime}
            </if>
            <if test="modifier != null">
                AND MODIFIER = #{modifier}
            </if>
            <if test="modifyTime != null">
                AND MODIFY_TIME = #{modifyTime}
            </if>
            <if test="rootOrgId != null">
                AND ROOT_ORG_ID = #{rootOrgId}
            </if>
        </where>
    </select>
    <!--4 根据条件查询实体list,返回分页对象 -->

    <!--5 新增实体对象 -->
    <insert id="insertAeaParFrontStage" parameterType="AeaParFrontStage">
    insert into AEA_PAR_FRONT_STAGE (
FRONT_STAGE_ID  ,STAGE_ID  ,HIST_STAGE_ID  ,SORT_NO  ,IS_ACTIVE  ,FRONT_STAGE_MEMO  ,CREATER  ,CREATE_TIME  ,MODIFIER  ,MODIFY_TIME  ,ROOT_ORG_ID  
    )  values  (
#{frontStageId},#{stageId},#{histStageId},#{sortNo},#{isActive},#{frontStageMemo},#{creater},#{createTime},#{modifier},#{modifyTime},  #{rootOrgId}
    )
</insert>
    <!--6 修改实体对象 -->
    <update id="updateAeaParFrontStage" parameterType="AeaParFrontStage">
        update AEA_PAR_FRONT_STAGE
        <set>
            <if test="frontStageId != null">
                FRONT_STAGE_ID = #{frontStageId},
            </if>
            <if test="stageId != null">
                STAGE_ID = #{stageId},
            </if>
            <if test="histStageId != null">
                HIST_STAGE_ID = #{histStageId},
            </if>
            <if test="sortNo != null">
                SORT_NO = #{sortNo},
            </if>
            <if test="isActive != null">
                IS_ACTIVE = #{isActive},
            </if>
            <if test="frontStageMemo != null">
                FRONT_STAGE_MEMO = #{frontStageMemo},
            </if>
            <if test="creater != null">
                CREATER = #{creater},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime},
            </if>
            <if test="modifier != null">
                MODIFIER = #{modifier},
            </if>
            <if test="modifyTime != null">
                MODIFY_TIME = #{modifyTime},
            </if>
            <if test="rootOrgId != null">
                ROOT_ORG_ID = #{rootOrgId},
            </if>
        </set>
        where FRONT_STAGE_ID = #{frontStageId}
    </update>
    <!--7 删除实体对象,根据主键ID -->
    <delete id="deleteAeaParFrontStage">
        delete from   AEA_PAR_FRONT_STAGE
        where
    FRONT_STAGE_ID = #{id}
    </delete>
    <!--8 删除实体对象列表,根据主键ID列表 -->
    <!--9 返回所有字段的对象map,用于级联 -->
    <resultMap type="AeaParFrontStage" id="AeaParFrontStageMap">
        <id property="frontStageId" column="FRONT_STAGE_ID"/>
        <result property="stageId" column="STAGE_ID"/>
        <result property="histStageId" column="HIST_STAGE_ID"/>
        <result property="sortNo" column="SORT_NO"/>
        <result property="isActive" column="IS_ACTIVE"/>
        <result property="frontStageMemo" column="FRONT_STAGE_MEMO"/>
        <result property="creater" column="CREATER"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="modifier" column="MODIFIER"/>
        <result property="modifyTime" column="MODIFY_TIME"/>
        <result property="rootOrgId" column="ROOT_ORG_ID"/>
    </resultMap>

    <select id="listAeaParFrontStageVo" resultType="com.augurit.aplanmis.common.vo.AeaParFrontStageVo">
        select
        <include refid="allColumnsAlias">
            <property name="alias" value="apfs"></property>
        </include>,aps.STAGE_NAME histStageName
        from AEA_PAR_FRONT_STAGE apfs
        left join aea_par_stage aps on aps.STAGE_ID = apfs.HIST_STAGE_ID
        <where>
            <if test="frontStageId != null">
                AND apfs.FRONT_STAGE_ID = #{frontStageId}
            </if>
            <if test="stageId != null">
                AND apfs.STAGE_ID = #{stageId}
            </if>
            <if test="histStageId != null">
                AND apfs.HIST_STAGE_ID = #{histStageId}
            </if>
            <if test="sortNo != null">
                AND apfs.SORT_NO = #{sortNo}
            </if>
            <if test="isActive != null">
                AND apfs.IS_ACTIVE = #{isActive}
            </if>
            <if test="frontStageMemo != null">
                AND apfs.FRONT_STAGE_MEMO = #{frontStageMemo}
            </if>
            <if test="creater != null">
                AND apfs.CREATER = #{creater}
            </if>
            <if test="createTime != null">
                AND apfs.CREATE_TIME = #{createTime}
            </if>
            <if test="modifier != null">
                AND apfs.MODIFIER = #{modifier}
            </if>
            <if test="modifyTime != null">
                AND apfs.MODIFY_TIME = #{modifyTime}
            </if>
            <if test="rootOrgId != null">
                AND apfs.ROOT_ORG_ID = #{rootOrgId}
            </if>
            <if test="keyword!=null and keyword!='' ">
                AND aps.STAGE_NAME LIKE CONCAT(CONCAT('%',#{keyword}),'%')

            </if>
        </where>

        order by apfs.SORT_NO
    </select>

    <select id="getMaxSortNo" resultType="java.lang.Long">
        select max(SORT_NO) from AEA_PAR_FRONT_STAGE
        <where>
            <if test="stageId!=null and stageId!=''">
                and STAGE_ID = #{stageId}
            </if>
        </where>
    </select>

    <select id="getAeaParFrontStageVoById" resultType="com.augurit.aplanmis.common.vo.AeaParFrontStageVo">
        select
        <include refid="allColumnsAlias">
            <property name="alias" value="apfs"></property>
        </include>,aps.STAGE_NAME histStageName
        from AEA_PAR_FRONT_STAGE apfs
        left join aea_par_stage aps on aps.STAGE_ID = apfs.HIST_STAGE_ID
        where apfs.FRONT_STAGE_ID = #{id}
    </select>

    <select id="listSelectParFrontStage" resultType="com.augurit.aplanmis.common.vo.AeaParFrontStageVo">
        select
            aps.STAGE_NAME histStageName,
            aps.STAGE_ID histStageId
        from aea_par_stage aps
        <where>
            aps.IS_DELETED = '0'
            <if test="stageId != null and stageId!=''">
                AND aps.STAGE_ID != #{stageId}
                AND aps.THEME_VER_ID in (
                select stage.THEME_VER_ID from aea_par_stage stage
                where stage.STAGE_ID = #{stageId}
                )
            </if>
            and aps.STAGE_ID not in (
                select apfs.STAGE_ID from AEA_PAR_FRONT_STAGE apfs
                <where>
                    <if test="stageId != null and stageId!=''">
                        AND apfs.STAGE_ID = #{stageId}
                    </if>
                    <if test="frontStageId != null and frontStageId !='' " >
                        and apfs.FRONT_STAGE_ID != #{frontStageId}
                    </if>
                </where>
            )
        </where>

    </select>
</mapper>