<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--created by chenzh    2019-07-04 16:18:35 -->
<!--0 一些前置信息配置 -->
<mapper namespace="com.augurit.aplanmis.common.mapper.AeaParThemeMapper">

    <!--1 返回所有字段的SQL字句 -->
    <sql id="allColumns">
        ${alias}.THEME_ID  themeId,
        ${alias}.THEME_NAME themeName,
        ${alias}.THEME_TYPE themeType,
        ${alias} .DUE_NUM dueNum,
        ${alias}.DUE_UNIT dueUnit,
        ${alias}.COMPLAIN_PHONE complainPhone,
        ${alias}.HOTLINE_PHONE hotlinePhone,
        ${alias}.HANDLE_ADDRESS handleAddress,
        ${alias}.HANDLE_TIME handleTime,
        ${alias}.SORT_NO sortNo,
        ${alias}.IS_ACTIVE isActive,
        ${alias}.THEME_MEMO themeMemo,
        ${alias}.CREATER creater,
        ${alias}.CREATE_TIME createTime,
        ${alias}.MODIFIER modifier,
        ${alias}.MODIFY_TIME modifyTime,
        ${alias}.IS_DELETED isDeleted,
        ${alias}.THEME_CODE themeCode,
        ${alias}.THEME_ICON_CSS themeIconCss,
        ${alias}.SMALL_IMG_PATH smallImgPath,
        ${alias}.MIDDLE_IMG_PATH middleImgPath,
        ${alias}.BIG_IMG_PATH bigImgPath,
        ${alias}.HUGE_IMG_PATH hugeImgPath,
        ${alias}.IS_IMG_ICON isImgIcon,
        ${alias}.IS_MAINLINE isMainline,
        ${alias}.MAINLINE_ALIAS mainlineAlias,
        ${alias}.IS_AUXILINE isAuxiline,
        ${alias}.AUXILINE_ALIAS auxilineAlias,
        ${alias}.IS_TECHSPECTLINE isTechspectline,
        ${alias}.TECHSPECTLINE_ALIAS techspectlineAlias,
        ${alias}.GJBZSPLCLX gjbzsplclx,
        ${alias}.IS_ONLINE_SB isOnlineSb,
        ${alias}.ROOT_ORG_ID rootOrgId
    </sql>

    <!--2 根据主键ID查询单个实体 -->
    <select id="selectOneById" resultType="AeaParTheme">
        select
            <include refid="allColumns">
                <property name="alias" value="apt"/>
            </include>
        from AEA_PAR_THEME apt
        where apt.THEME_ID = #{id}
          and apt.IS_DELETED = '0'
          and apt.IS_ACTIVE='1'
    </select>

    <!--3 根据条件查询实体list -->
    <select id="listAeaParTheme" resultType="AeaParTheme">
        select
            <include refid="allColumns">
                <property name="alias" value="apt"/>
            </include>
        from AEA_PAR_THEME apt
        <where>
            and    apt.IS_DELETED = '0'
        <if test="themeId != null and themeId!='' " >
            and    apt.THEME_ID = #{themeId}
        </if>
        <if test="themeName != null and themeName!='' " >
            and    apt.THEME_NAME = #{themeName}
        </if>
        <if test="themeCode != null and themeCode!='' " >
            and    apt.THEME_CODE = #{themeCode}
        </if>
        <if test="themeType != null and themeType!='' " >
            and    apt.THEME_TYPE = #{themeType}
        </if>
        <if test="dueNum != null " >
            and    theme.DUE_NUM = #{dueNum}
        </if>
        <if test="dueUnit != null" >
            and    apt.DUE_UNIT = #{dueUnit}
        </if>
        <if test="complainPhone != null and complainPhone!='' " >
            and    apt.COMPLAIN_PHONE = #{complainPhone}
        </if>
        <if test="hotlinePhone != null and hotlinePhone!='' " >
            and    apt.HOTLINE_PHONE = #{hotlinePhone}
        </if>
        <if test="handleAddress != null and handleAddress!='' " >
            and    apt.HandLE_ADDRESS = #{handleAddress}
        </if>
        <if test="handleTime != null" >
            and    apt.HandLE_TIME = #{handleTime}
        </if>
        <if test="sortNo != null" >
            and    apt.SORT_NO = #{sortNo}
        </if>
        <if test="isActive != null and isActive!='' " >
            and    apt.IS_ACTIVE = #{isActive}
        </if>
        <if test="themeMemo != null and themeMemo!='' " >
            and    apt.THEME_MEMO = #{themeMemo}
        </if>
        <if test="creater != null and creater!='' " >
            and    apt.CREATER = #{creater}
        </if>
        <if test="createTime != null" >
            and    apt.CREATE_TIME = #{createTime}
        </if>
        <if test="modifier != null and modifier!='' " >
            and    apt.MODIFIER = #{modifier}
        </if>
        <if test="modifyTime != null" >
            and    apt.MODIFY_TIME = #{modifyTime}
        </if>
        <if test="themeIconCss != null" >
            AND    apt.THEME_ICON_CSS = #{themeIconCss}
        </if>
        <if test="smallImgPath != null" >
            AND    apt.SMALL_IMG_PATH = #{smallImgPath}
        </if>
        <if test="middleImgPath != null" >
            AND    apt.MIDDLE_IMG_PATH = #{middleImgPath}
        </if>
        <if test="bigImgPath != null" >
            AND    apt.BIG_IMG_PATH = #{bigImgPath}
        </if>
        <if test="hugeImgPath != null" >
            AND    apt.HUGE_IMG_PATH = #{hugeImgPath}
        </if>
        <if test="isImgIcon != null" >
            AND    apt.IS_IMG_ICON = #{isImgIcon}
        </if>
        <if test="isMainline != null" >
            and    apt.IS_MAINLINE  = #{isMainline}
        </if>
        <if test="mainlineAlias != null" >
            and    apt.MAINLINE_ALIAS = #{mainlineAlias}
        </if>
        <if test="isAuxiline != null" >
            and    apt.IS_AUXILINE  = #{isAuxiline}
        </if>
        <if test="auxilineAlias != null" >
            and    apt.AUXILINE_ALIAS  = #{auxilineAlias}
        </if>
        <if test="isTechspectline != null" >
            and    apt.IS_TECHSPECTLINE  = #{isTechspectline}
        </if>
        <if test="techspectlineAlias != null" >
            and    apt.TECHSPECTLINE_ALIAS  = #{techspectlineAlias}
        </if>
        <if test="gjbzsplclx != null ">
            and    apt.GJBZSPLCLX = #{gjbzsplclx}
        </if>
        <if test="isOnlineSb != null ">
            and    apt.IS_ONLINE_SB = #{isOnlineSb}
        </if>
        <if test="rootOrgId != null">
            and    apt.ROOT_ORG_ID = #{rootOrgId}
        </if>
        <if test="keyword != null and keyword !='' " >
            and (
                apt.THEME_NAME like CONCAT(CONCAT('%',#{keyword}),'%') or
                apt.THEME_MEMO like CONCAT(CONCAT('%',#{keyword}),'%')
            )
        </if>
    </where>
     order by apt.THEME_TYPE asc, apt.SORT_NO asc, apt.CREATE_TIME asc
    </select>

    <!--4 根据主题名称，阶段名称等条件查询实体list -->
    <select id="listAeaParThemeByKeyword" resultType="AeaParTheme">
        select distinct aea_123.* from (
        select
        <include refid="allColumns">
            <property name="alias" value="apt"/>
        </include>
        from AEA_PAR_THEME apt
        <where>
            and apt.IS_DELETED = '0'
            <if test="themeId != null and themeId!='' ">
                and apt.THEME_ID = #{themeId}
            </if>
            <if test="themeName != null and themeName!='' ">
                and apt.THEME_NAME = #{themeName}
            </if>
            <if test="themeCode != null and themeCode!='' ">
                and apt.THEME_CODE = #{themeCode}
            </if>
            <if test="themeType != null and themeType!='' ">
                and apt.THEME_TYPE = #{themeType}
            </if>
            <if test="isActive != null and isActive!='' ">
                and apt.IS_ACTIVE = #{isActive}
            </if>
            <if test="themeMemo != null and themeMemo!='' ">
                and apt.THEME_MEMO = #{themeMemo}
            </if>
            <if test="isOnlineSb != null ">
                and apt.IS_ONLINE_SB = #{isOnlineSb}
            </if>
            <if test="rootOrgId != null">
                and apt.ROOT_ORG_ID = #{rootOrgId}
            </if>
            <if test="keyword != null and keyword !='' ">
                and (
                apt.THEME_NAME like CONCAT(CONCAT('%',#{keyword}),'%')
                )
            </if>
        </where>

        union all

        SELECT
        <include refid="allColumns">
            <property name="alias" value="apt"/>
        </include>
        FROM
        aea_par_theme apt
        LEFT JOIN (
        SELECT
        aptv.THEME_VER_ID,
        aptv.VER_NUM,
        aptv.THEME_ID
        FROM
        aea_par_theme_ver aptv
        WHERE
        EXISTS (
        SELECT
        *
        FROM
        aea_par_theme_seq apts
        WHERE
        apts.MAX_NUM = aptv.VER_NUM
        AND apts.THEME_ID = aptv.THEME_ID
        )
        AND aptv.IS_PUBLISH IN ('1', '2')
        ) temp1 ON temp1.THEME_ID = apt.THEME_ID
        LEFT JOIN aea_par_stage aps ON aps.THEME_VER_ID = temp1.THEME_VER_ID
        WHERE
        apt.IS_ACTIVE = '1'
        AND apt.IS_DELETED = '0'
        <if test="isOnlineSb != null ">
            and apt.IS_ONLINE_SB = #{isOnlineSb}
        </if>
        AND aps.STAGE_NAME like CONCAT(CONCAT('%',#{keyword}),'%')
        AND aps.IS_DELETED = '0'
        ) aea_123
        order by aea_123.themeType asc, aea_123.sortNo asc, aea_123.createTime asc

    </select>

    <select id="listAeaParThemeByDygjbzfxfw" resultType="AeaParTheme">
        select
        <include refid="allColumns">
            <property name="alias" value="apt"/>
        </include>,temp1.THEME_VER_ID themeVerId
        from AEA_PAR_THEME apt
        LEFT JOIN (
        SELECT
        aptv.THEME_VER_ID,
        aptv.VER_NUM,
        aptv.THEME_ID
        FROM
        aea_par_theme_ver aptv
        WHERE
        EXISTS (
        SELECT
        *
        FROM
        aea_par_theme_seq apts
        WHERE
        apts.MAX_NUM = aptv.VER_NUM
        AND apts.THEME_ID = aptv.THEME_ID
        )
        AND aptv.IS_PUBLISH IN ('1', '2')
        ) temp1 ON temp1.THEME_ID = apt.THEME_ID
        LEFT JOIN aea_par_stage aps ON aps.THEME_VER_ID = temp1.THEME_VER_ID
        WHERE
        apt.IS_ACTIVE = '1'
        AND apt.IS_DELETED = '0'
        <if test="isOnlineSb != null ">
            and apt.IS_ONLINE_SB = #{isOnlineSb}
        </if>
        AND aps.DYGJBZFXFW = #{dygjbzfxfw}
        AND aps.IS_DELETED = '0'
    </select>

    <!--5 新增实体对象 -->
    <insert id="insertOne" parameterType="AeaParTheme" >
        insert into AEA_Par_THEME (
            THEME_ID,
            THEME_NAME,
            THEME_CODE,
            THEME_TYPE,
            DUE_NUM,
            DUE_UNIT,
            COMPLAIN_PHONE,
            HOTLINE_PHONE,
            HANDLE_ADDRESS,
            HANDLE_TIME,
            SORT_NO,
            IS_ACTIVE,
            THEME_MEMO,
            CREATER,
            CREATE_TIME,
            MODIFIER,
            MODIFY_TIME,
            IS_DELETED,
            THEME_ICON_CSS,
            SMALL_IMG_PATH,
            MIDDLE_IMG_PATH,
            BIG_IMG_PATH,
            HUGE_IMG_PATH,
            IS_IMG_ICON,
            IS_MAINLINE,
            MAINLINE_ALIAS,
            IS_AUXILINE,
            AUXILINE_ALIAS,
            IS_TECHSPECTLINE,
            TECHSPECTLINE_ALIAS,
            GJBZSPLCLX,
            IS_ONLINE_SB,
            ROOT_ORG_ID
        )  values  (
            #{themeId},
            #{themeName},
            #{themeCode},
            #{themeType},
            #{dueNum},
            #{dueUnit},
            #{complainPhone},
            #{hotlinePhone},
            #{handleAddress},
            #{handleTime},
            #{sortNo},
            #{isActive, jdbcType=VARCHAR},
            #{themeMemo},
            #{creater},
            #{createTime},
            #{modifier},
            #{modifyTime},
            #{isDeleted, jdbcType=VARCHAR},
            #{themeIconCss},
            #{smallImgPath},
            #{middleImgPath},
            #{bigImgPath},
            #{hugeImgPath},
            #{isImgIcon},
            #{isMainline},
            #{mainlineAlias},
            #{isAuxiline},
            #{auxilineAlias},
            #{isTechspectline},
            #{techspectlineAlias},
            #{gjbzsplclx},
            #{isOnlineSb},
            #{rootOrgId}
        )
    </insert>

    <!--6 修改实体对象 -->
    <update id="updateOne" parameterType="AeaParTheme" >
        update AEA_PAR_THEME
        <set>
            <if test="themeName != null">
                THEME_NAME = #{themeName},
            </if>
            <if test="themeType != null">
                THEME_TYPE = #{themeType},
            </if>
            <if test="dueNum != null">
                DUE_NUM = #{dueNum},
            </if>
            <if test="dueUnit != null">
                DUE_UNIT = #{dueUnit},
            </if>
            <if test="complainPhone != null">
                COMPLAIN_PHONE = #{complainPhone},
            </if>
            <if test="hotlinePhone != null">
                HOTLINE_PHONE = #{hotlinePhone},
            </if>
            <if test="handleAddress != null">
                HANDLE_ADDRESS = #{handleAddress},
            </if>
            <if test="handleTime != null">
                HANDLE_TIME = #{handleTime},
            </if>
            <if test="sortNo != null">
                SORT_NO = #{sortNo},
            </if>
            <if test="isActive != null">
                IS_ACTIVE = #{isActive},
            </if>
            <if test="themeMemo != null">
                THEME_MEMO = #{themeMemo},
            </if>
            <if test="creater != null">
                CREATER = #{creater},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime},
            </if>
            <if test="modifier != null">
                MODIFIER = #{modifier},
            </if>
            <if test="modifyTime != null">
                MODIFY_TIME = #{modifyTime},
            </if>
            <if test="isDeleted != null">
                IS_DELETED = #{isDeleted},
            </if>
            <if test="themeCode != null">
                THEME_CODE = #{themeCode},
            </if>
            <if test="themeIconCss != null">
                THEME_ICON_CSS = #{themeIconCss},
            </if>
            <if test="smallImgPath != null">
                SMALL_IMG_PATH = #{smallImgPath},
            </if>
            <if test="middleImgPath != null">
                MIDDLE_IMG_PATH = #{middleImgPath},
            </if>
            <if test="bigImgPath != null">
                BIG_IMG_PATH = #{bigImgPath},
            </if>
            <if test="hugeImgPath != null">
                HUGE_IMG_PATH = #{hugeImgPath},
            </if>
            <if test="isImgIcon != null">
                IS_IMG_ICON = #{isImgIcon},
            </if>
            <if test="isMainline != null">
                IS_MAINLINE = #{isMainline},
            </if>
            <if test="mainlineAlias != null">
                MAINLINE_ALIAS = #{mainlineAlias},
            </if>
            <if test="isAuxiline != null">
                IS_AUXILINE = #{isAuxiline},
            </if>
            <if test="auxilineAlias != null">
                AUXILINE_ALIAS = #{auxilineAlias},
            </if>
            <if test="isTechspectline != null">
                IS_TECHSPECTLINE = #{isTechspectline},
            </if>
            <if test="techspectlineAlias != null">
                TECHSPECTLINE_ALIAS = #{techspectlineAlias},
            </if>
            <if test="gjbzsplclx != null">
                GJBZSPLCLX = #{gjbzsplclx},
            </if>
            <if test="isOnlineSb != null">
                IS_ONLINE_SB = #{isOnlineSb},
            </if>
            <if test="rootOrgId != null">
                ROOT_ORG_ID = #{rootOrgId},
            </if>
        </set>
        where THEME_ID =  #{themeId}
    </update>

    <!--7 删除实体对象,根据主键ID -->
    <delete id="deleteById">
        update AEA_Par_THEME set IS_DELETED = '1' where THEME_ID = #{id}
    </delete>

    <!--根据typecode查询主题列表-->
    <select id="getAeaParThemeListByThemeType" resultType="AeaParTheme">
        select
        <include refid="allColumns">
            <property name="alias" value="apt"/>
        </include>
        from AEA_PAR_THEME apt
        where apt.THEME_TYPE = #{themeType} and apt.root_org_id=#{rootOrgId} and apt.IS_ACTIVE=1 and apt.IS_DELETED !=1
    </select>

    <!--  关联查询所有或主题类型下的最大主题版本列表 -->
    <select id="getMaxVerAeaParTheme" resultType="AeaParTheme">
        select <include refid="allColumns"><property name="alias" value="apt"/></include>, temp1.THEME_VER_ID themeVerId, temp1.VER_NUM verNum
        from aea_par_theme apt
        left join (select aptv.THEME_VER_ID, aptv.VER_NUM, aptv.THEME_ID from aea_par_theme_ver aptv
                            where EXISTS(select * from aea_par_theme_seq apts where apts.MAX_NUM = aptv.VER_NUM and apts.THEME_ID = aptv.THEME_ID)
                            and aptv.IS_PUBLISH in ('1', '2')) temp1 on temp1.THEME_ID = apt.THEME_ID
        where apt.IS_ACTIVE = '1' and IS_DELETED = '0'
        <if test="themeType!=null and themeType!=''">
            and apt.THEME_TYPE = #{themeType}
        </if>
        <if test="themeId!=null and themeId!=''">
            and apt.THEME_ID = #{themeId}
        </if>

    </select>

    <select id="getAeaParThemeByThemeVerId" resultType="AeaParTheme">
        select
        <include refid="allColumns">
            <property name="alias" value="apt"/>
        </include>
        from aea_par_theme_ver aptv
        LEFT JOIN aea_par_theme apt ON aptv.THEME_ID=apt.THEME_ID
        where aptv.THEME_VER_ID=#{themeVerId}
        AND apt.IS_DELETED !=1 and aptv.IS_DELETED !=1
    </select>

    <select id="getMaxSortNo" resultType="Long">
        select
            max(SORT_NO)
          from AEA_Par_THEME
         where IS_DELETED = '0'
           and ROOT_ORG_ID = #{rootOrgId}
    </select>

    <select id="listUniqueThemeByItemIdAndItemVerId" resultType="AeaParTheme" >
        select
            <include refid="allColumns">
                <property name="alias" value="theme"/>
            </include>
        from  AEA_PAR_THEME  theme
        <where>
            and theme.ROOT_ORG_ID = #{rootOrgId}
            and theme.THEME_ID in (
                select distinct THEME_ID
                from AEA_PAR_THEME_VER themeVer
                where 1=1
                and themeVer.ROOT_ORG_ID = #{rootOrgId}
                and themeVer.IS_DELETED = '0'
                and themeVer.IS_PUBLISH in ('0', '1', '2')
                and themeVer.THEME_VER_ID in (
                    select distinct THEME_VER_ID
                    from aea_par_stage
                    where STAGE_ID in (
                        select distinct STAGE_ID
                        from aea_par_stage_item
                        where ITEM_ID = #{itemId}
                          and ITEM_VER_ID = #{itemVerId}
                          and ROOT_ORG_ID = #{rootOrgId}
                    )
                    and ROOT_ORG_ID = #{rootOrgId}
                )
            )
            and theme.IS_DELETED = '0'
        </where>
        order by theme.THEME_TYPE asc, theme.SORT_NO asc, theme.CREATE_TIME asc
    </select>

    <!--9 返回所有字段的对象map,用于级联 -->
    <resultMap type="AeaParTheme" id="AeaParThemeMap">
        <id property="themeId" column="THEME_ID"/>
        <result property="themeName" column="THEME_NAME"/>
        <result property="themeType" column="THEME_TYPE"/>
        <result property="dueNum" column="DUE_NUM"/>
        <result property="dueUnit" column="DUE_UNIT"/>
        <result property="complainPhone" column="COMPLAIN_PHONE"/>
        <result property="hotlinePhone" column="HOTLINE_PHONE"/>
        <result property="handleAddress" column="HANDLE_ADDRESS"/>
        <result property="handleTime" column="HANDLE_TIME"/>
        <result property="sortNo" column="SORT_NO"/>
        <result property="isActive" column="IS_ACTIVE"/>
        <result property="themeMemo" column="THEME_MEMO"/>
        <result property="creater" column="CREATER"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="modifier" column="MODIFIER"/>
        <result property="modifyTime" column="MODIFY_TIME"/>
        <result property="isDeleted" column="IS_DELETED"/>
        <result property="themeCode" column="THEME_CODE"/>
        <result property="themeIconCss" column="THEME_ICON_CSS"/>
        <result property="smallImgPath" column="SMALL_IMG_PATH"/>
        <result property="middleImgPath" column="MIDDLE_IMG_PATH"/>
        <result property="bigImgPath" column="BIG_IMG_PATH"/>
        <result property="hugeImgPath" column="HUGE_IMG_PATH"/>
        <result property="isImgIcon" column="IS_IMG_ICON"/>
        <result property="isMainline" column="IS_MAINLINE"/>
        <result property="mainlineAlias" column="MAINLINE_ALIAS"/>
        <result property="isAuxiline" column="IS_AUXILINE"/>
        <result property="auxilineAlias" column="AUXILINE_ALIAS"/>
        <result property="isTechspectline" column="IS_TECHSPECTLINE"/>
        <result property="techspectlineAlias" column="TECHSPECTLINE_ALIAS"/>
        <result property="gjbzsplclx" column="GJBZSPLCLX"/>
        <result property="isOnlineSb" column="IS_ONLINE_SB"/>
        <result property="rootOrgId" column="ROOT_ORG_ID"/>
    </resultMap>

    <select id="getTestRunOrPublishedVerAeaParTheme" resultType="com.augurit.aplanmis.common.domain.AeaParTheme">
        select
        <include refid="allColumns">
            <property name="alias" value="apt"/>
        </include>
        , aptv2.THEME_VER_ID themeVerId, temp1.maxNum verNum
        from aea_par_theme apt
        join aea_par_theme_ver aptv2 on aptv2.theme_id=apt.theme_id
        join (
        select aptv.theme_id, max(aptv.VER_NUM) maxNum from aea_par_theme_ver aptv
        where aptv.IS_PUBLISH in ('1', '2') and aptv.ROOT_ORG_ID=#{rootOrgId} and aptv.IS_DELETED = '0'
        group by aptv.theme_id
        ) temp1 on temp1.theme_id=aptv2.theme_id and temp1.maxNum=aptv2.VER_NUM
        where apt.IS_ACTIVE = '1' and apt.IS_DELETED = '0' and apt.root_org_id=#{rootOrgId}
        <if test="themeType!=null and themeType!=''">
            and apt.THEME_TYPE = #{themeType}
        </if>
    </select>

    <select id="listAeaParThemeByThemeCategory" resultType="com.augurit.aplanmis.common.domain.AeaParTheme">
        select
        <include refid="allColumns">
            <property name="alias" value="apt"/>
        </include>
        from aea_par_theme apt
        join aea_par_theme_ver aptv on apt.theme_id=aptv.theme_id
        join (select aptv2.theme_id, max(aptv2.VER_NUM) maxNum from aea_par_theme_ver aptv2
        where aptv2.IS_PUBLISH in ('1', '2') and aptv2.ROOT_ORG_ID=#{rootOrgId} and aptv2.IS_DELETED = '0'
        group by aptv2.theme_id) maxVer on maxVer.theme_id=aptv.theme_id and maxVer.maxNum=aptv.VER_NUM
        <where>
            <if test="themeCategory != null and themeCategory == 'mainline'">
                and apt.IS_AUXILINE='1'
            </if>
            <if test="themeCategory != null and (themeCategory == '51' or themeCategory == '52' or themeCategory == '53' or themeCategory == '54C' or themeCategory == '54Y' or themeCategory == 'others')">
                and apt.IS_AUXILINE='1'
            </if>
            <if test="themeId != null and themeId != ''">
                and apt.theme_id=#{themeId}
            </if>
            and EXISTS(
            select 1 from aea_par_stage aps
            where aps.theme_ver_id=aptv.theme_ver_id
            and aps.is_deleted='0'
            <if test="themeCategory != null and themeCategory == 'mainline'">
                and is_node='1'
            </if>
            <if test="themeCategory != null and (themeCategory == '51' or themeCategory == '52' or themeCategory == '53' or themeCategory == '54C' or themeCategory == '54Y' or themeCategory == 'others')">
                and is_node='2'
            </if>
            <choose>
                <when test="themeCategory == '51' or themeCategory == '52' or themeCategory == '53' or themeCategory == '54C' or themeCategory == '54Y' ">
                    and DYGJBZFXFW = #{themeCategory}
                </when>
            </choose>
            )
        </where>
    </select>

</mapper>