<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--created by Administrator    2019-08-29 10:26:52 -->
<!--0 一些前置信息配置 -->
<mapper namespace="com.augurit.aplanmis.common.mapper.AeaParStagePartformMapper" >

    <!--1 返回所有字段的SQL字句 -->
    <sql id="allColumns" >
        ${alias}.STAGE_PARTFORM_ID  stagePartformId,
        ${alias}.PARTFORM_NAME  partformName,
        ${alias}.STAGE_ID  stageId,
        ${alias}.STO_FORM_ID stoFormId,
        ${alias}.SORT_NO  sortNo,
        ${alias}.USE_EL  useEl,
        ${alias}.EL_CONTENT  elContent,
        ${alias}.CREATER  creater,
        ${alias}.CREATE_TIME  createTime,
        ${alias}.IS_SMART_FORM isSmartForm
    </sql>

    <!--2 根据主键ID查询单个实体 -->
    <select id="getStagePartformById" resultType="AeaParStagePartform" >
        select
            <include refid="allColumns">
                <property name="alias" value="partform"/>
            </include>
         from AEA_PAR_STAGE_PARTFORM partform
        where partform.STAGE_PARTFORM_ID = #{id}
    </select>

    <!--3 根据条件查询实体list -->
    <select id="listStagePartform" resultType="AeaParStagePartform" >
        select
            <include refid="allColumns">
                <property name="alias" value="partform"/>
            </include>
        from  AEA_PAR_STAGE_PARTFORM partform
        <where>
            <if test="stagePartformId != null" >
                AND partform.STAGE_PARTFORM_ID = #{stagePartformId}
            </if>
            <if test="partformName != null" >
                AND partform.PARTFORM_NAME = #{partformName}
            </if>
            <if test="stageId != null" >
                AND partform.STAGE_ID = #{stageId}
            </if>
            <if test="stoFormId != null">
                AND partform.STO_FORM_ID = #{stoFormId}
            </if>
            <if test="sortNo != null" >
                AND partform.SORT_NO = #{sortNo}
            </if>
            <if test="useEl != null" >
                AND partform.USE_EL = #{useEl}
            </if>
            <if test="elContent != null" >
                AND partform.EL_CONTENT = #{elContent}
            </if>
            <if test="creater != null" >
                AND partform.CREATER = #{creater}
            </if>
            <if test="createTime != null" >
                AND partform.CREATE_TIME = #{createTime}
            </if>
            <if test="isSmartForm != null and isSmartForm!='' " >
                AND partform.IS_SMART_FORM = #{isSmartForm}
            </if>
            <if test="keyword!=null and keyword!=''">
               AND  partform.PARTFORM_NAME like concat('%', concat(#{keyword}, '%'))
            </if>
        </where>
        order by partform.SORT_NO, partform.CREATE_TIME
    </select>

    <select id="listStagePartformRelFormInfo" resultType="AeaParStagePartform" >
        select
            <include refid="allColumns">
                <property name="alias" value="partform"/>
            </include>,
            asf.FORM_NAME formName,
            asf.FORM_LOAD_URL formUrl
        from AEA_PAR_STAGE_PARTFORM partform
        left join ACT_STO_FORM asf on (
                partform.STO_FORM_ID = asf.FORM_ID
            and asf.IS_DELETED = '0'
            and asf.FORM_PROPERTY in ( 'smart-biz', 'smart-flow','dev-biz' )
            and partform.STO_FORM_ID is not null
            and partform.STO_FORM_ID !=''
        )
        <where>
            <if test="stagePartformId != null" >
                AND partform.STAGE_PARTFORM_ID = #{stagePartformId}
            </if>
            <if test="partformName != null" >
                AND partform.PARTFORM_NAME = #{partformName}
            </if>
            <if test="stageId != null" >
                AND partform.STAGE_ID = #{stageId}
            </if>
            <if test="stoFormId != null">
                AND partform.STO_FORM_ID = #{stoFormId}
            </if>
            <if test="useEl != null" >
                AND partform.USE_EL = #{useEl}
            </if>
            <if test="elContent != null" >
                AND partform.EL_CONTENT = #{elContent}
            </if>
            <if test="creater != null" >
                AND partform.CREATER = #{creater}
            </if>
            <if test="createTime != null" >
                AND partform.CREATE_TIME = #{createTime}
            </if>
            <if test="isSmartForm != null and isSmartForm!='' " >
                AND partform.IS_SMART_FORM = #{isSmartForm}
            </if>
            <if test="keyword!=null and keyword!=''">
                AND (
                    partform.PARTFORM_NAME like concat('%', concat(#{keyword}, '%')) or
                    asf.FORM_NAME like concat('%', concat(#{keyword}, '%'))
                )
            </if>
        </where>
        order by partform.SORT_NO asc, partform.CREATE_TIME asc
    </select>

    <!--5 新增实体对象 -->
    <insert id="insertStagePartform" parameterType="AeaParStagePartform" >
        insert into AEA_PAR_STAGE_PARTFORM (
            STAGE_PARTFORM_ID,
            PARTFORM_NAME,
            STAGE_ID,
            STO_FORM_ID,
            SORT_NO,
            USE_EL,
            EL_CONTENT,
            CREATER,
            CREATE_TIME,
            IS_SMART_FORM
        )  values  (
            #{stagePartformId},
            #{partformName},
            #{stageId},
            #{stoFormId},
            #{sortNo},
            #{useEl},
            #{elContent},
            #{creater},
            #{createTime},
            #{isSmartForm}
        )
    </insert>

    <!--6 修改实体对象 -->
    <update id="updateStagePartform" parameterType="AeaParStagePartform" >
        update AEA_PAR_STAGE_PARTFORM
        <set >
            <if test="stagePartformId != null" >
            STAGE_PARTFORM_ID = #{stagePartformId},
            </if>
            <if test="partformName != null" >
            PARTFORM_NAME = #{partformName},
            </if>
            <if test="stageId != null" >
            STAGE_ID = #{stageId},
            </if>
            <if test="stoFormId != null">
            STO_FORM_ID = #{stoFormId},
            </if>
            <if test="sortNo != null" >
            SORT_NO = #{sortNo},
            </if>
            <if test="useEl != null" >
            USE_EL = #{useEl},
            </if>
            <if test="elContent != null" >
            EL_CONTENT = #{elContent},
            </if>
            <if test="creater != null" >
            CREATER = #{creater},
            </if>
            <if test="createTime != null" >
            CREATE_TIME = #{createTime},
            </if>
            <if test="isSmartForm != null and isSmartForm!='' " >
            IS_SMART_FORM = #{isSmartForm},
            </if>
        </set>
        where STAGE_PARTFORM_ID = #{stagePartformId}
    </update>

    <!--7 删除实体对象,根据主键ID -->
    <delete id="delStagePartformById">
        delete from AEA_PAR_STAGE_PARTFORM where STAGE_PARTFORM_ID = #{id}
    </delete>

    <delete id="batchDelStagePartformByIds">
        delete from AEA_PAR_STAGE_PARTFORM where STAGE_PARTFORM_ID in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <select id="getMaxSortNo" resultType="java.lang.Long">
        select max(SORT_NO) from AEA_PAR_STAGE_PARTFORM where STAGE_ID = #{stageId}
    </select>

    <select id="listPartFormNoSelectForm" resultType="AeaParStagePartform">
        select
            asfrom.FORM_ID as stoFormId,
            asfrom.FORM_ORG_ID  formOrgId,
            asfrom.FORM_PROPERTY  formProperty,
            asfrom.FORM_CODE  formCode,
            asfrom.FORM_NAME  formName,
            asfrom.IS_INNER_FORM  isInnerForm
        from ACT_STO_FORM asfrom
        <where>
            and asfrom.IS_DELETED = '0'
            and asfrom.FORM_ORG_ID = #{formOrgId}
            and asfrom.FORM_ID not in (
                select DISTINCT
                   STO_FORM_ID
                from AEA_PAR_STAGE_PARTFORM
                where STAGE_ID = #{stageId}
                   and STAGE_PARTFORM_ID = #{stagePartformId}
                   and STO_FORM_ID is not null
                   and STO_FORM_ID !=''
                   and IS_SMART_FORM = #{isSmartForm}
            )
            <if test="isSmartForm != null and isSmartForm ==1 ">
                and asfrom.FORM_PROPERTY in ( 'smart-biz', 'smart-flow')
            </if>
            <if test="isSmartForm != null and isSmartForm ==0 ">
                and asfrom.FORM_PROPERTY in ('dev-biz' )
            </if>
            <if test="isSmartForm == null ">
                and asfrom.FORM_PROPERTY in ( 'smart-biz', 'smart-flow', 'dev-biz' )
            </if>
            <if test="keyword != null and keyword !='' " >
            and (
                asfrom.FORM_CODE like CONCAT(CONCAT('%',#{keyword}),'%') or
                asfrom.FORM_NAME like CONCAT(CONCAT('%',#{keyword}),'%')
            )
            </if>
        </where>
        order by asfrom.IS_INNER_FORM desc, asfrom.CREATE_TIME desc
    </select>

    <resultMap type="AeaParStagePartform" id="AeaParStagePartformMap">
        <id property="stagePartformId" column="STAGE_PARTFORM_ID"/>
        <result property="partformName" column="PARTFORM_NAME"/>
        <result property="stageId" column="STAGE_ID"/>
        <result property="stoFormId" column="STO_FORM_ID"/>
        <result property="sortNo" column="SORT_NO"/>
        <result property="useEl" column="USE_EL"/>
        <result property="elContent" column="EL_CONTENT"/>
        <result property="creater" column="CREATER"/>
        <result property="createTime" column="CREATE_TIME"/>
    </resultMap>
    
</mapper>