<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!--0 一些前置信息配置 -->
<mapper namespace="com.augurit.aplanmis.common.mapper.AeaParFrontProjMapper">

    <!--1 返回所有字段的SQL字句 -->
    <sql id="allColumns">
        FRONT_PROJ_ID  frontProjId,
        STAGE_ID  stageId,
        RULE_NAME  ruleName,
        RULE_EL  ruleEl,
        SORT_NO  sortNo,
        IS_ACTIVE  isActive,
        FRONT_PROJ_MEMO  frontProjMemo,
        CREATER  creater,
        CREATE_TIME  createTime,
        MODIFIER  modifier,
        MODIFY_TIME  modifyTime,
        ROOT_ORG_ID  rootOrgId
    </sql>

    <!--2 根据主键ID查询单个实体 -->
    <select id="getAeaParFrontProjById" resultType="AeaParFrontProj">
        select
           <include refid="allColumns"/>
        from AEA_PAR_FRONT_PROJ
        where FRONT_PROJ_ID = #{id}
    </select>

    <!--3 根据条件查询实体list -->
    <select id="listAeaParFrontProj" resultType="AeaParFrontProj">
        select
        <include refid="allColumns"/>
        from AEA_PAR_FRONT_PROJ
        <where>
            <if test="frontProjId != null">
                AND FRONT_PROJ_ID = #{frontProjId}
            </if>
            <if test="stageId != null">
                AND STAGE_ID = #{stageId}
            </if>
            <if test="ruleName != null">
                AND RULE_NAME = #{ruleName}
            </if>
            <if test="ruleEl != null">
                AND RULE_EL = #{ruleEl}
            </if>
            <if test="sortNo != null">
                AND SORT_NO = #{sortNo}
            </if>
            <if test="isActive != null">
                AND IS_ACTIVE = #{isActive}
            </if>
            <if test="frontProjMemo != null">
                AND FRONT_PROJ_MEMO = #{frontProjMemo}
            </if>
            <if test="creater != null">
                AND CREATER = #{creater}
            </if>
            <if test="createTime != null">
                AND CREATE_TIME = #{createTime}
            </if>
            <if test="modifier != null">
                AND MODIFIER = #{modifier}
            </if>
            <if test="modifyTime != null">
                AND MODIFY_TIME = #{modifyTime}
            </if>
            <if test="rootOrgId != null">
                AND ROOT_ORG_ID = #{rootOrgId}
            </if>
            <if test="keyword!=null and keyword!='' ">
                AND RULE_NAME like concat('%',concat(#{keyword},'%'))
            </if>
        </where>
        order by SORT_NO asc, CREATE_TIME asc, MODIFY_TIME asc
    </select>

    <!--5 新增实体对象 -->
    <insert id="insertAeaParFrontProj" parameterType="AeaParFrontProj">
        insert into AEA_PAR_FRONT_PROJ (
            FRONT_PROJ_ID  ,STAGE_ID  ,RULE_NAME  ,RULE_EL  ,SORT_NO  ,IS_ACTIVE  ,FRONT_PROJ_MEMO  ,CREATER  ,CREATE_TIME  ,MODIFIER  ,MODIFY_TIME  ,ROOT_ORG_ID
        )  values  (
            #{frontProjId},#{stageId},#{ruleName},#{ruleEl},#{sortNo},#{isActive},#{frontProjMemo},#{creater},#{createTime},#{modifier},#{modifyTime},  #{rootOrgId}
        )
    </insert>

    <!--6 修改实体对象 -->
    <update id="updateAeaParFrontProj" parameterType="AeaParFrontProj">
        update AEA_PAR_FRONT_PROJ
        <set>
            <if test="frontProjId != null">
                FRONT_PROJ_ID = #{frontProjId},
            </if>
            <if test="stageId != null">
                STAGE_ID = #{stageId},
            </if>
            <if test="ruleName != null">
                RULE_NAME = #{ruleName},
            </if>
            <if test="ruleEl != null">
                RULE_EL = #{ruleEl},
            </if>
            <if test="sortNo != null">
                SORT_NO = #{sortNo},
            </if>
            <if test="isActive != null">
                IS_ACTIVE = #{isActive},
            </if>
            <if test="frontProjMemo != null">
                FRONT_PROJ_MEMO = #{frontProjMemo},
            </if>
            <if test="creater != null">
                CREATER = #{creater},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime},
            </if>
            <if test="modifier != null">
                MODIFIER = #{modifier},
            </if>
            <if test="modifyTime != null">
                MODIFY_TIME = #{modifyTime},
            </if>
            <if test="rootOrgId != null">
                ROOT_ORG_ID = #{rootOrgId},
            </if>
        </set>
        where FRONT_PROJ_ID = #{frontProjId}
    </update>

    <delete id="deleteAeaParFrontProj">
        delete from AEA_PAR_FRONT_PROJ where FRONT_PROJ_ID = #{id}
    </delete>

    <!--9 返回所有字段的对象map,用于级联 -->
    <resultMap type="AeaParFrontProj" id="AeaParFrontProjMap">
        <id property="frontProjId" column="FRONT_PROJ_ID"/>
        <result property="stageId" column="STAGE_ID"/>
        <result property="ruleName" column="RULE_NAME"/>
        <result property="ruleEl" column="RULE_EL"/>
        <result property="sortNo" column="SORT_NO"/>
        <result property="isActive" column="IS_ACTIVE"/>
        <result property="frontProjMemo" column="FRONT_PROJ_MEMO"/>
        <result property="creater" column="CREATER"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="modifier" column="MODIFIER"/>
        <result property="modifyTime" column="MODIFY_TIME"/>
        <result property="rootOrgId" column="ROOT_ORG_ID"/>
    </resultMap>

    <select id="getMaxSortNo" resultType="java.lang.Long">
        select max(SORT_NO) from AEA_PAR_FRONT_PROJ
        <where>
            <if test="stageId!=null and stageId!=''">
                and STAGE_ID = #{stageId}
            </if>
        </where>
    </select>

    <update id="changIsActive">
        update AEA_PAR_FRONT_PROJ
        set IS_ACTIVE = case IS_ACTIVE
        when '1' then '0'
        when '0' then '1'
        end
        <where>
            and FRONT_PROJ_ID = #{id}
            and ROOT_ORG_ID = #{rootOrgId}
        </where>
    </update>

</mapper>