<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!--0 一些前置信息配置 -->
<mapper namespace="com.augurit.aplanmis.common.mapper.AeaSolicitOrgUserMapper" >

    <!--1 返回所有字段的SQL字句 -->
    <sql id="allColumns" >
        ORG_USER_ID  orgUserId,
        SOLICIT_ORG_ID  solicitOrgId,
        USER_ID  userId,
        SORT_NO  sortNo,
        IS_ACTIVE  isActive,
        CREATER  creater,
        CREATE_TIME  createTime,
        MODIFIER  modifier,
        MODIFY_TIME  modifyTime
    </sql>

    <sql id="alias_allColumns">
        ${alias}.ORG_USER_ID  orgUserId,
        ${alias}.SOLICIT_ORG_ID  solicitOrgId,
        ${alias}.USER_ID  userId,
        ${alias}.SORT_NO  sortNo,
        ${alias}.IS_ACTIVE  isActive,
        ${alias}.CREATER  creater,
        ${alias}.CREATE_TIME  createTime,
        ${alias}.MODIFIER  modifier,
        ${alias}.MODIFY_TIME  modifyTime
    </sql>

    <!--2 根据主键ID查询单个实体 -->
    <select id="getAeaSolicitOrgUserById" resultType="AeaSolicitOrgUser" >
        select
           <include refid="allColumns"/>
        from AEA_SOLICIT_ORG_USER
        where ORG_USER_ID = #{id}
    </select>

    <!--2.1 根据orgId查询所有用户信息 -->
    <select id="listAeaSolicitOrgUserByOrgId" resultType="AeaSolicitOrgUser" >
        select
            <include refid="alias_allColumns">
                <property name="alias" value="asou"/>
            </include>
        from AEA_SOLICIT_ORG_USER asou
        left join AEA_SOLICIT_ORG aso on aso.SOLICIT_ORG_ID = asou.SOLICIT_ORG_ID
        where asou.IS_ACTIVE = '1' and aso.ORG_ID = #{orgId}
        <if test="busType != null">
            and aso.BUS_TYPE = #{busType}
        </if>
    </select>

    <!--3 根据条件查询实体list -->
    <select id="listAeaSolicitOrgUser" resultType="AeaSolicitOrgUser" >
        select
           <include refid="allColumns"/>
        from    AEA_SOLICIT_ORG_USER
        <where>
            <if test="orgUserId != null" >
            and    ORG_USER_ID = #{orgUserId}
            </if>
            <if test="solicitOrgId != null" >
            and    SOLICIT_ORG_ID = #{solicitOrgId}
            </if>
            <if test="userId != null" >
            and    USER_ID = #{userId}
            </if>
            <if test="sortNo != null" >
            and    SORT_NO = #{sortNo}
            </if>
            <if test="isActive != null" >
            and    IS_ACTIVE = #{isActive}
            </if>
            <if test="creater != null" >
            and    CREATER = #{creater}
            </if>
            <if test="createTime != null" >
            and    CREATE_TIME = #{createTime}
            </if>
            <if test="modifier != null" >
            and    MODIFIER = #{modifier}
            </if>
            <if test="modifyTime != null" >
            and    MODIFY_TIME = #{modifyTime}
            </if>
        </where>
        order by SORT_NO asc, CREATE_TIME asc
    </select>
    
    <select id="listAeaSolicitOrgUserRelInfo" resultType="AeaSolicitOrgUser">
        select
            <include refid="alias_allColumns">
                <property name="alias" value="asou"/>
            </include>,
            omuser.USER_NAME as userName,
            omuser.LOGIN_NAME as loginName,
            omuser.USER_SEX as userSex,
            userInfo.USER_MOBILE as userMobile
        from AEA_SOLICIT_ORG_USER asou
        left join OPU_OM_USER omuser on omuser.USER_ID = asou.USER_ID
        left join OPU_OM_USER_INFO userInfo on omuser.USER_ID = userInfo.USER_ID
        <where>
            <if test="orgUserId != null" >
                and    asou.ORG_USER_ID = #{orgUserId}
            </if>
            <if test="solicitOrgId != null" >
                and    asou.SOLICIT_ORG_ID = #{solicitOrgId}
            </if>
            <if test="userId != null" >
                and    asou.USER_ID = #{userId}
            </if>
            <if test="isActive != null" >
                and    asou.IS_ACTIVE = #{isActive}
            </if>
            <if test="keyword!=null and keyword!='' ">
                and (
                    omuser.USER_NAME like concat('%', concat(#{keyword}, '%')) or
                    omuser.LOGIN_NAME like concat('%', concat(#{keyword}, '%')) or
                    omuser.USER_SEX like concat('%', concat(#{keyword}, '%')) or
                    userInfo.USER_MOBILE like concat('%', concat(#{keyword}, '%'))
                )
            </if>
        </where>
        order by asou.SORT_NO asc, asou.CREATE_TIME asc
    </select>

    <!--5 新增实体对象 -->
    <insert id="insertAeaSolicitOrgUser" parameterType="AeaSolicitOrgUser" >
        insert into AEA_SOLICIT_ORG_USER (
            ORG_USER_ID,
            SOLICIT_ORG_ID,
            USER_ID,
            SORT_NO,
            IS_ACTIVE,
            CREATER,
            CREATE_TIME,
            MODIFIER,
            MODIFY_TIME
        )  values  (
            #{orgUserId},
            #{solicitOrgId},
            #{userId},
            #{sortNo},
            #{isActive},
            #{creater},
            #{createTime},
            #{modifier},
            #{modifyTime}
        )
    </insert>

    <!--6 修改实体对象 -->
    <update id="updateAeaSolicitOrgUser" parameterType="AeaSolicitOrgUser" >
        update AEA_SOLICIT_ORG_USER
        <set >
            <if test="orgUserId != null" >
            ORG_USER_ID = #{orgUserId},
            </if>
            <if test="solicitOrgId != null" >
            SOLICIT_ORG_ID = #{solicitOrgId},
            </if>
            <if test="userId != null" >
            USER_ID = #{userId},
            </if>
            <if test="sortNo != null" >
            SORT_NO = #{sortNo},
            </if>
            <if test="isActive != null" >
            IS_ACTIVE = #{isActive},
            </if>
            <if test="creater != null" >
            CREATER = #{creater},
            </if>
            <if test="createTime != null" >
            CREATE_TIME = #{createTime},
            </if>
            <if test="modifier != null" >
            MODIFIER = #{modifier},
            </if>
            <if test="modifyTime != null" >
            MODIFY_TIME = #{modifyTime},
            </if>
        </set>
        where ORG_USER_ID = #{orgUserId}
    </update>

    <!--7 删除实体对象,根据主键ID -->
    <delete id="deleteAeaSolicitOrgUser">
        delete from AEA_SOLICIT_ORG_USER where ORG_USER_ID = #{id}
    </delete>
    
    <delete id="batchDelSolicitOrgUserByIds">
        <if test="ids!=null and ids.length>0 ">
            delete from AEA_SOLICIT_ORG_USER where ORG_USER_ID in
            <foreach collection="ids" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
    </delete>

    <delete id="batchDelSolicitOrgUserBySolicitOrgId">
         delete from AEA_SOLICIT_ORG_USER where SOLICIT_ORG_ID = #{solicitOrgId}
    </delete>
    
    <select id="getMaxSortNo" resultType="java.lang.Long">
        select max(SORT_NO) from AEA_SOLICIT_ORG_USER
    </select>

    <update id="changeIsActive">
        update AEA_SOLICIT_ORG_USER
        set IS_ACTIVE = case IS_ACTIVE
        when '1' then '0'
        when '0' then '1'
        end
        <where>
            and ORG_USER_ID = #{id}
        </where>
    </update>

    <resultMap type="AeaSolicitOrgUser" id="AeaSolicitOrgUserMap">
        <id property="orgUserId" column="ORG_USER_ID"/>
        <result property="solicitOrgId" column="SOLICIT_ORG_ID"/>
        <result property="userId" column="USER_ID"/>
        <result property="sortNo" column="SORT_NO"/>
        <result property="isActive" column="IS_ACTIVE"/>
        <result property="creater" column="CREATER"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="modifier" column="MODIFIER"/>
        <result property="modifyTime" column="MODIFY_TIME"/>
    </resultMap>

</mapper>