<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.augurit.aplanmis.common.mapper.AeaSolicitItemUserMapper" >

    <!--1 返回所有字段的SQL字句 -->
    <sql id="allColumns" >
        ITEM_USER_ID  itemUserId,
        SOLICIT_ITEM_ID  solicitItemId,
        USER_ID  userId,
        SORT_NO  sortNo,
        IS_ACTIVE  isActive,
        CREATER  creater,
        CREATE_TIME  createTime,
        MODIFIER  modifier,
        MODIFY_TIME  modifyTime
    </sql>

    <!--2 根据主键ID查询单个实体 -->
    <select id="getAeaSolicitItemUserById" resultType="AeaSolicitItemUser" >
        select
           <include refid="allColumns"/>
        from  AEA_SOLICIT_ITEM_USER
        where ITEM_USER_ID = #{id}
    </select>

    <!--3 根据条件查询实体list -->
    <select id="listAeaSolicitItemUser" resultType="AeaSolicitItemUser" >
        select
           <include refid="allColumns"/>
        from    AEA_SOLICIT_ITEM_USER
        <where>
            <if test="itemUserId != null" >
            AND    ITEM_USER_ID = #{itemUserId}
            </if>
            <if test="solicitItemId != null" >
            AND    SOLICIT_ITEM_ID = #{solicitItemId}
            </if>
            <if test="userId != null" >
            AND    USER_ID = #{userId}
            </if>
            <if test="sortNo != null" >
            AND    SORT_NO = #{sortNo}
            </if>
            <if test="isActive != null" >
            AND    IS_ACTIVE = #{isActive}
            </if>
            <if test="creater != null" >
            AND    CREATER = #{creater}
            </if>
            <if test="createTime != null" >
            AND    CREATE_TIME = #{createTime}
            </if>
            <if test="modifier != null" >
            AND    MODIFIER = #{modifier}
            </if>
            <if test="modifyTime != null" >
            AND    MODIFY_TIME = #{modifyTime}
            </if>
        </where>
    </select>

    <!--5 新增实体对象 -->
    <insert id="insertAeaSolicitItemUser" parameterType="AeaSolicitItemUser" >
        insert into AEA_SOLICIT_ITEM_USER (
            ITEM_USER_ID,
            SOLICIT_ITEM_ID,
            USER_ID,
            SORT_NO,
            IS_ACTIVE,
            CREATER,
            CREATE_TIME,
            MODIFIER,
            MODIFY_TIME
        )  values  (
            #{itemUserId},
            #{solicitItemId},
            #{userId},
            #{sortNo},
            #{isActive},
            #{creater},
            #{createTime},
            #{modifier},
            #{modifyTime}
        )
    </insert>

    <!--6 修改实体对象 -->
    <update id="updateAeaSolicitItemUser" parameterType="AeaSolicitItemUser" >
        update AEA_SOLICIT_ITEM_USER
        <set >
            <if test="itemUserId != null" >
            ITEM_USER_ID = #{itemUserId},
            </if>
            <if test="solicitItemId != null" >
            SOLICIT_ITEM_ID = #{solicitItemId},
            </if>
            <if test="userId != null" >
            USER_ID = #{userId},
            </if>
            <if test="sortNo != null" >
            SORT_NO = #{sortNo},
            </if>
            <if test="isActive != null" >
            IS_ACTIVE = #{isActive},
            </if>
            <if test="creater != null" >
            CREATER = #{creater},
            </if>
            <if test="createTime != null" >
            CREATE_TIME = #{createTime},
            </if>
            <if test="modifier != null" >
            MODIFIER = #{modifier},
            </if>
            <if test="modifyTime != null" >
            MODIFY_TIME = #{modifyTime},
            </if>
        </set>
        where ITEM_USER_ID = #{itemUserId}
    </update>

    <!--7 删除实体对象,根据主键ID -->
    <delete id="deleteAeaSolicitItemUser">
        delete from AEA_SOLICIT_ITEM_USER where ITEM_USER_ID = #{id}
    </delete>
    
    <select id="listSolicitItemUserByItemVerId" resultType="AeaSolicitItemUser">
        select
            <include refid="allColumns"/>
        from  AEA_SOLICIT_ITEM_USER
        <where>
            IS_ACTIVE = '1'
            and SOLICIT_ITEM_ID in (
                select
                   SOLICIT_ITEM_ID
                from AEA_SOLICIT_ITEM
                <where>
                    and ITEM_VER_ID = #{itemVerId}
                    and ROOT_ORG_ID = #{rootOrgId}
                    <if test="busType != null">
                        and BUS_TYPE = #{busType}
                    </if>
                </where>
            )
        </where>
        order by SORT_NO desc, CREATE_TIME desc
    </select>

    <!--9 返回所有字段的对象map,用于级联 -->
    <resultMap type="AeaSolicitItemUser" id="AeaSolicitItemUserMap">
        <id property="itemUserId" column="ITEM_USER_ID"/>
        <result property="solicitItemId" column="SOLICIT_ITEM_ID"/>
        <result property="userId" column="USER_ID"/>
        <result property="sortNo" column="SORT_NO"/>
        <result property="isActive" column="IS_ACTIVE"/>
        <result property="creater" column="CREATER"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="modifier" column="MODIFIER"/>
        <result property="modifyTime" column="MODIFY_TIME"/>
    </resultMap>

</mapper>