<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--created by tiantian    2018-10-20 10:26:49 -->
<!--0 一些前置信息配置 -->
<mapper namespace="com.augurit.aplanmis.common.mapper.AeaServiceWindowMapper">

    <sql id="allColumns">
        window.WINDOW_ID windowId,
        window.WINDOW_NAME windowName,
        window.REGION_ID  regionId,
        window.ORG_ID orgId,
        window.LINK_PHONE linkPhone,
        window.WORK_TIME workTime,
        window.WINDOW_ADDRESS windowAddress,
        window.TRAFFIC_GUIDE trafficGuide,
        window.WINDOW_MEMO windowMemo,
        window.MAP_URL  mapUrl,
        window.MAP_ATT mapAtt,
        window.CREATER  creater,
        window.CREATE_TIME  createTime,
        window.MODIFIER  modifier,
        window.MODIFY_TIME  modifyTime,
        window.SORT_NO as sortNo,
        window.IS_ACTIVE as isActive,
        window.WINDOW_TYPE as windowType,
        window.IS_PUBLIC as isPublic,
        window.IS_ALL_ITEM as isAllItem,
        window.IS_ALL_STAGE as isAllStage,
        window.ROOT_ORG_ID  rootOrgId,
        window.REGION_RANGE regionRange,
        window.STAGE_ITEM_FILTER stageItemFilter,
        window.ECHARTS_COLOR echartsColor
    </sql>

    <!-- 新增实体对象 -->
    <insert id="insertAeaServiceWindow" parameterType="AeaServiceWindow">
        insert into AEA_SERVICE_WINDOW (
          WINDOW_ID,
          WINDOW_NAME,
          REGION_ID,
          ORG_ID,
          LINK_PHONE,
          WORK_TIME,
          WINDOW_ADDRESS,
          TRAFFIC_GUIDE,
          WINDOW_MEMO,
          MAP_URL,
          MAP_ATT,
          CREATER,
          CREATE_TIME,
          MODIFIER,
          MODIFY_TIME,
          SORT_NO,
          IS_ACTIVE,
          WINDOW_TYPE,
          IS_PUBLIC,
          IS_ALL_ITEM,
          IS_ALL_STAGE,
          ROOT_ORG_ID,
          REGION_RANGE,
          STAGE_ITEM_FILTER,
          ECHARTS_COLOR
        ) values  (
          #{windowId},
          #{windowName},
          #{regionId},
          #{orgId},
          #{linkPhone},
          #{workTime},
          #{windowAddress},
          #{trafficGuide},
          #{windowMemo},
          #{mapUrl},
          #{mapAtt},
          #{creater},
          #{createTime},
          #{modifier},
          #{modifyTime},
          #{sortNo},
          #{isActive},
          #{windowType},
          #{isPublic},
          #{isAllItem},
          #{isAllStage},
          #{rootOrgId},
          #{regionRange},
          #{stageItemFilter},
          #{echartsColor}
        )
    </insert>

    <!-- 删除一条实体对象 -->
    <delete id="deleteAeaServiceWindow" parameterType="java.lang.String">
        delete from AEA_SERVICE_WINDOW where WINDOW_ID = #{id}
    </delete>

    <!-- 更新实体对象 -->
    <update id="updateAeaServiceWindow" parameterType="AeaServiceWindow">
        update AEA_SERVICE_WINDOW
        <set>
            <if test="windowId != null and windowId != '' ">
                WINDOW_ID = #{windowId},
            </if>
            <if test="windowName != null and windowName != '' ">
                WINDOW_NAME = #{windowName},
            </if>
            <if test="regionId != null and regionId != '' ">
                REGION_ID = #{regionId},
            </if>
            <if test="orgId != null and orgId != '' ">
                ORG_ID = #{orgId},
            </if>
            <if test="linkPhone != null and linkPhone != '' ">
                LINK_PHONE = #{linkPhone},
            </if>
            <if test="workTime != null and workTime != '' ">
                WORK_TIME = #{workTime},
            </if>
            <if test="windowAddress != null and windowAddress != '' ">
                WINDOW_ADDRESS = #{windowAddress},
            </if>
            <if test="trafficGuide != null and trafficGuide != '' ">
                TRAFFIC_GUIDE = #{trafficGuide},
            </if>
            <if test="windowMemo != null and windowMemo != '' ">
                WINDOW_MEMO = #{windowMemo},
            </if>
            <if test="mapUrl != null and mapUrl != '' ">
                MAP_URL = #{mapUrl},
            </if>
            <if test="mapAtt != null">
                MAP_ATT = #{mapAtt},
            </if>
            <if test="creater != null" >
                CREATER = #{creater},
            </if>
            <if test="createTime != null" >
                CREATE_TIME = #{createTime},
            </if>
            <if test="modifier != null" >
                MODIFIER = #{modifier},
            </if>
            <if test="modifyTime != null" >
                MODIFY_TIME = #{modifyTime},
            </if>
            <if test="sortNo != null" >
                SORT_NO = #{sortNo},
            </if>
            <if test="isActive != null" >
                IS_ACTIVE = #{isActive},
            </if>
            <if test="windowType != null" >
                WINDOW_TYPE = #{windowType},
            </if>
            <if test="isPublic != null" >
                IS_PUBLIC = #{isPublic},
            </if>
            <if test="isAllItem != null" >
                IS_ALL_ITEM = #{isAllItem},
            </if>
            <if test="isAllStage != null" >
                IS_ALL_STAGE = #{isAllStage},
            </if>
            <if test="rootOrgId != null" >
                ROOT_ORG_ID = #{rootOrgId},
            </if>
            <if test="regionRange != null" >
                REGION_RANGE = #{regionRange},
            </if>
            <if test="stageItemFilter != null" >
                STAGE_ITEM_FILTER = #{stageItemFilter},
            </if>
            <if test="echartsColor != null" >
                ECHARTS_COLOR = #{echartsColor},
            </if>
        </set>
        where WINDOW_ID = #{windowId}
    </update>

    <select id="getAeaServiceWindowById" parameterType="java.lang.String" resultType="AeaServiceWindow">
        select
           <include refid="allColumns" />,
           org.org_name orgName,
           region.region_name regionName
        from AEA_SERVICE_WINDOW window
        left join opu_om_org org on org.ORG_ID = window.ORG_ID
        left join bsc_dic_region region on region.REGION_ID = window.REGION_ID
        where window.WINDOW_ID = #{windowId}
    </select>

    <delete id="batchDeleteAeaServiceWindow">
        delete from AEA_SERVICE_WINDOW where ROOT_ORG_ID = #{rootOrgId} and WINDOW_ID in
        <foreach collection="windowIds" item="windowId" open="(" close=")" separator=",">
            #{windowId}
        </foreach>
    </delete>

    <select id="listUnselectedServiceWindow" resultType="AeaServiceWindow">
        select
           <include refid="allColumns" />
        from AEA_SERVICE_WINDOW window
        <where>
            and window.WINDOW_ID not in (
                select distinct windowRel.WINDOW_ID from AEA_SERVICE_WINDOW_REL windowRel
                <where>
                    <if test="tableName != null and tableName != '' ">
                        and windowRel.TABLE_NAME = #{tableName}
                    </if>
                    <if test="pkName != null and pkName != '' ">
                        and windowRel.PK_NAME = #{pkName}
                    </if>
                    <if test="recordId != null and recordId != '' ">
                        and windowRel.RECORD_ID = #{recordId}
                    </if>
                </where>
            )
            <if test="windowId != null and windowId != '' ">
                and  window.WINDOW_ID = #{windowId}
            </if>
            <if test="windowName != null and  windowName != '' ">
                and  window.WINDOW_NAME = #{windowName}
            </if>
            <if test="regionId != null and   regionId != '' ">
                and   window.REGION_ID = #{regionId}
            </if>
            <if test="orgId != null and   orgId != '' ">
                and   window.ORG_ID = #{orgId}
            </if>
            <if test="linkPhone != null and  linkPhone != '' ">
                and  window.LINK_PHONE = #{linkPhone}
            </if>
            <if test="workTime != null and  workTime != '' ">
                and  window.WORK_TIME = #{workTime}
            </if>
            <if test="windowAddress != null and  windowAddress != '' ">
                and  window.WINDOW_ADDRESS = #{windowAddress}
            </if>
            <if test="trafficGuide != null and  trafficGuide != '' ">
                and  window.TRAFFIC_GUIDE = #{trafficGuide}
            </if>
            <if test="windowMemo != null and  windowMemo != '' ">
                and  window.WINDOW_MEMO = #{windowMemo}
            </if>
            <if test="mapUrl != null and  mapUrl != '' ">
                and  window.MAP_URL = #{mapUrl}
            </if>
            <if test="mapAtt != null">
                and  window.MAP_ATT = #{mapAtt}
            </if>
            <if test="sortNo != null" >
                and window.SORT_NO = #{sortNo}
            </if>
            <if test="isActive != null" >
                and window.IS_ACTIVE = #{isActive}
            </if>
            <if test="windowType != null" >
                and window.WINDOW_TYPE = #{windowType}
            </if>
            <if test="isPublic != null" >
                and window.IS_PUBLIC = #{isPublic}
            </if>
            <if test="isAllItem != null" >
                and window.IS_ALL_ITEM = #{isAllItem}
            </if>
            <if test="isAllStage != null" >
                and window.IS_ALL_STAGE = #{isAllStage}
            </if>
            <if test="rootOrgId != null" >
                and window.ROOT_ORG_ID = #{rootOrgId}
            </if>
            <if test="regionRange != null" >
                and window.REGION_RANGE = #{regionRange}
            </if>
            <if test="stageItemFilter != null" >
                AND window.STAGE_ITEM_FILTER = #{stageItemFilter}
            </if>
            <if test="keyword != null and  keyword != ''">
                and  (
                       window.WINDOW_NAME like CONCAT(CONCAT('%',#{keyword}),'%')
                    or window.WINDOW_ADDRESS like CONCAT(CONCAT('%',#{keyword}),'%')
                    or window.WINDOW_MEMO like CONCAT(CONCAT('%',#{keyword}),'%')
                    or window.LINK_PHONE like CONCAT(CONCAT('%',#{keyword}),'%')
                )
            </if>
        </where>
    </select>

    <select id="findAllAeaServiceWindow" resultType="AeaServiceWindow">
        select
        <include refid="allColumns" />
        from AEA_SERVICE_WINDOW window
        where 1 = 1
        <if test="rootOrgId != null">
            and ROOT_ORG_ID = #{rootOrgId}
        </if>
    </select>

    <select id="findAeaServiceWindowByRegionId" resultType="AeaServiceWindow">
        select
        <include refid="allColumns" />
        from AEA_SERVICE_WINDOW window
        WHERE window.REGION_ID = #{regionId}
        <if test="rootOrgId != null">
            and ROOT_ORG_ID = #{rootOrgId}
        </if>
    </select>

    <select id="findWindowByItemVerId" resultType="AeaServiceWindow">
        select
        <include refid="allColumns" />
        from AEA_SERVICE_WINDOW window
        WHERE window.WINDOW_ID IN (
            SELECT WIND_ID
            FROM aea_service_window_item
            WHERE ITEM_VER_ID = #{itemVerId}
        )
    </select>

    <select id="findAeaServiceWindowByUserId" resultType="AeaServiceWindow">
        select
        <include refid="allColumns" />
        from AEA_SERVICE_WINDOW window
        WHERE window.WINDOW_ID IN (
            SELECT WINDOW_ID
            FROM aea_service_window_user
            WHERE USER_ID = #{userId}
        )
    </select>

    <select id="listAeaServiceWindow" resultType="AeaServiceWindow">
        select
            <include refid="allColumns" />,
            org.org_name orgName,
            region.region_name regionName
        from AEA_SERVICE_WINDOW window
        left join opu_om_org org on org.ORG_ID = window.ORG_ID
        left join bsc_dic_region region on region.REGION_ID = window.REGION_ID
        <where>
            <if test="windowId != null and windowId != '' ">
                and  window.WINDOW_ID = #{windowId}
            </if>
            <if test="windowName != null and  windowName != '' ">
                and  window.WINDOW_NAME = #{windowName}
            </if>
            <if test="regionId != null and  regionId != '' ">
                and  window.REGION_ID = #{regionId}
            </if>
            <if test="orgId != null and  orgId != '' ">
                and  window.ORG_ID = #{orgId}
            </if>
            <if test="linkPhone != null and  linkPhone != '' ">
                and  window.LINK_PHONE = #{linkPhone}
            </if>
            <if test="workTime != null and  workTime != '' ">
                and  window.WORK_TIME = #{workTime}
            </if>
            <if test="windowAddress != null and  windowAddress != '' ">
                and  window.WINDOW_ADDRESS = #{windowAddress}
            </if>
            <if test="trafficGuide != null and  trafficGuide != '' ">
                and  window.TRAFFIC_GUIDE = #{trafficGuide}
            </if>
            <if test="windowMemo != null and  windowMemo != '' ">
                and  window.WINDOW_MEMO = #{windowMemo}
            </if>
            <if test="mapUrl != null and  mapUrl != '' ">
                and  window.MAP_URL = #{mapUrl}
            </if>
            <if test="mapAtt != null">
                and  window.MAP_ATT = #{mapAtt}
            </if>
            <if test="sortNo != null" >
                and window.SORT_NO = #{sortNo}
            </if>
            <if test="isActive != null" >
                and window.IS_ACTIVE = #{isActive}
            </if>
            <if test="windowType != null" >
                and window.WINDOW_TYPE = #{windowType}
            </if>
            <if test="isPublic != null" >
                and window.IS_PUBLIC = #{isPublic}
            </if>
            <if test="isAllItem != null" >
                and window.IS_ALL_ITEM = #{isAllItem}
            </if>
            <if test="isAllStage != null" >
                and window.IS_ALL_STAGE = #{isAllStage}
            </if>
            <if test="rootOrgId != null" >
                and window.ROOT_ORG_ID = #{rootOrgId}
            </if>
            <if test="regionRange != null" >
                and window.REGION_RANGE = #{regionRange}
            </if>
            <if test="stageItemFilter != null" >
                AND window.STAGE_ITEM_FILTER = #{stageItemFilter}
            </if>
            <if test="keyword != null and keyword != ''">
                and (
                window.WINDOW_NAME LIKE CONCAT(CONCAT('%',#{keyword}),'%')
                or org.org_name LIKE CONCAT(CONCAT('%',#{keyword}),'%')
                or region.region_name LIKE CONCAT(CONCAT('%',#{keyword}),'%')
                )
            </if>
        </where>
        order by window.SORT_NO desc, region.REGIONAL_LEVEL asc, org.ORG_LEVEL asc, org.ORG_SORT_NO asc
    </select>

    <select id="listItemUnselectedWindow" resultType="AeaServiceWindow">
        select
           <include refid="allColumns" />
        from AEA_SERVICE_WINDOW window
        <where>
            and window.WINDOW_ID not in (
            select distinct WIND_ID
            from AEA_SERVICE_WINDOW_ITEM
            where ITEM_VER_ID = #{itemVerId}
            )
            <if test="windowId != null and windowId != '' ">
                and  window.WINDOW_ID = #{windowId}
            </if>
            <if test="windowName != null and  windowName != '' ">
                and  window.WINDOW_NAME = #{windowName}
            </if>
            <if test="regionId != null and   regionId != '' ">
                and   window.REGION_ID = #{regionId}
            </if>
            <if test="orgId != null and   orgId != '' ">
                and   window.ORG_ID = #{orgId}
            </if>
            <if test="linkPhone != null and  linkPhone != '' ">
                and  window.LINK_PHONE = #{linkPhone}
            </if>
            <if test="workTime != null and  workTime != '' ">
                and  window.WORK_TIME = #{workTime}
            </if>
            <if test="windowAddress != null and  windowAddress != '' ">
                and  window.WINDOW_ADDRESS = #{windowAddress}
            </if>
            <if test="trafficGuide != null and  trafficGuide != '' ">
                and  window.TRAFFIC_GUIDE = #{trafficGuide}
            </if>
            <if test="windowMemo != null and  windowMemo != '' ">
                and  window.WINDOW_MEMO = #{windowMemo}
            </if>
            <if test="mapUrl != null and  mapUrl != '' ">
                and  window.MAP_URL = #{mapUrl}
            </if>
            <if test="mapAtt != null">
                and  window.MAP_ATT = #{mapAtt}
            </if>
            <if test="sortNo != null" >
                and window.SORT_NO = #{sortNo}
            </if>
            <if test="isActive != null" >
                and window.IS_ACTIVE = #{isActive}
            </if>
            <if test="windowType != null" >
                and window.WINDOW_TYPE = #{windowType}
            </if>
            <if test="isPublic != null" >
                and window.IS_PUBLIC = #{isPublic}
            </if>
            <if test="isAllItem != null" >
                and window.IS_ALL_ITEM = #{isAllItem}
            </if>
            <if test="isAllStage != null" >
                and window.IS_ALL_STAGE = #{isAllStage}
            </if>
            <if test="rootOrgId != null" >
                and window.ROOT_ORG_ID = #{rootOrgId}
            </if>
            <if test="regionRange != null" >
                and window.REGION_RANGE = #{regionRange}
            </if>
            <if test="stageItemFilter != null" >
                AND window.STAGE_ITEM_FILTER = #{stageItemFilter}
            </if>
            <if test="keyword != null and  keyword != ''">
                and  (
                window.WINDOW_NAME like CONCAT(CONCAT('%',#{keyword}),'%')
                or window.WINDOW_ADDRESS like CONCAT(CONCAT('%',#{keyword}),'%')
                or window.WINDOW_MEMO like CONCAT(CONCAT('%',#{keyword}),'%')
                or window.LINK_PHONE like CONCAT(CONCAT('%',#{keyword}),'%')
                )
            </if>
        </where>
    </select>

    <select id="listStageUnselectedWindow" resultType="AeaServiceWindow">
        select
        <include refid="allColumns" />
        from AEA_SERVICE_WINDOW window
        <where>
            and window.WINDOW_ID not in (
            select distinct WIND_ID
            from AEA_SERVICE_WINDOW_STAGE
            where STAGE_ID = #{stageId}
            )
            <if test="windowId != null and windowId != '' ">
                and  window.WINDOW_ID = #{windowId}
            </if>
            <if test="windowName != null and  windowName != '' ">
                and  window.WINDOW_NAME = #{windowName}
            </if>
            <if test="regionId != null and   regionId != '' ">
                and   window.REGION_ID = #{regionId}
            </if>
            <if test="orgId != null and   orgId != '' ">
                and   window.ORG_ID = #{orgId}
            </if>
            <if test="linkPhone != null and  linkPhone != '' ">
                and  window.LINK_PHONE = #{linkPhone}
            </if>
            <if test="workTime != null and  workTime != '' ">
                and  window.WORK_TIME = #{workTime}
            </if>
            <if test="windowAddress != null and  windowAddress != '' ">
                and  window.WINDOW_ADDRESS = #{windowAddress}
            </if>
            <if test="trafficGuide != null and  trafficGuide != '' ">
                and  window.TRAFFIC_GUIDE = #{trafficGuide}
            </if>
            <if test="windowMemo != null and  windowMemo != '' ">
                and  window.WINDOW_MEMO = #{windowMemo}
            </if>
            <if test="mapUrl != null and  mapUrl != '' ">
                and  window.MAP_URL = #{mapUrl}
            </if>
            <if test="mapAtt != null">
                and  window.MAP_ATT = #{mapAtt}
            </if>
            <if test="sortNo != null" >
                and window.SORT_NO = #{sortNo}
            </if>
            <if test="isActive != null" >
                and window.IS_ACTIVE = #{isActive}
            </if>
            <if test="windowType != null" >
                and window.WINDOW_TYPE = #{windowType}
            </if>
            <if test="isPublic != null" >
                and window.IS_PUBLIC = #{isPublic}
            </if>
            <if test="isAllItem != null" >
                and window.IS_ALL_ITEM = #{isAllItem}
            </if>
            <if test="isAllStage != null" >
                and window.IS_ALL_STAGE = #{isAllStage}
            </if>
            <if test="rootOrgId != null" >
                and window.ROOT_ORG_ID = #{rootOrgId}
            </if>
            <if test="regionRange != null" >
                and window.REGION_RANGE = #{regionRange}
            </if>
            <if test="stageItemFilter != null" >
                AND window.STAGE_ITEM_FILTER = #{stageItemFilter}
            </if>
            <if test="keyword != null and  keyword != ''">
                and  (
                window.WINDOW_NAME like CONCAT(CONCAT('%',#{keyword}),'%')
                or window.WINDOW_ADDRESS like CONCAT(CONCAT('%',#{keyword}),'%')
                or window.WINDOW_MEMO like CONCAT(CONCAT('%',#{keyword}),'%')
                or window.LINK_PHONE like CONCAT(CONCAT('%',#{keyword}),'%')
                )
            </if>
        </where>
    </select>

    <select id="getMaxSortNo" resultType="java.lang.Long">
        select max(SORT_NO) from AEA_SERVICE_WINDOW where 1 = 1 and ROOT_ORG_ID = #{rootOrgId}
    </select>
</mapper>