<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!--0 一些前置信息配置 -->
<mapper namespace="com.augurit.aplanmis.common.mapper.EfficiencySupervisionMapper">


    <select id="getApplyStatisticsByTIme" resultType="com.augurit.aplanmis.common.vo.analyse.ApplyFormVo">
      select asw.WINDOW_NAME windowName
      ,aha.applyinst_id applyinstId
      ,aha.APPLYINST_STATE applyinstState
    ,aha.IS_SERIES_APPROVE isApprove
    ,aha.APPLYINST_SOURCE applyinstSource
    from aea_hi_applyinst aha
    LEFT JOIN opu_om_user oou on oou.login_name = aha.creater
    LEFT JOIN aea_service_window_user aswu on aswu.user_id = oou.user_id and aswu.ROOT_ORG_ID = #{currentOrgId}
    LEFT JOIN aea_service_window asw on asw.window_id = aswu.window_id and asw.ROOT_ORG_ID = #{currentOrgId}
        where aha.CREATE_TIME <![CDATA[ >= ]]> STR_TO_DATE(concat(#{startTime},' 00:00:01'), '%Y-%m-%d %H:%i:%s')
        and aha.CREATE_TIME <![CDATA[ <= ]]> STR_TO_DATE(concat(#{endTime},' 23:59:59'), '%Y-%m-%d %H:%i:%s')
        and aha.IS_DELETED='0'
        and aha.APPLYINST_SOURCE = 'win'
        and asw.window_name is not null
        and aha.root_org_id = #{currentOrgId}

        UNION
        select
        IFNULL(asw.WINDOW_NAME,'未知窗口2')windowName
        ,aha.applyinst_id applyinstId
        ,aha.APPLYINST_STATE applyinstState
        ,aha.IS_SERIES_APPROVE isApprove
        ,aha.APPLYINST_SOURCE applyinstSource
        from aea_hi_applyinst aha
        LEFT JOIN aea_applyinst_proj aap on aap.applyinst_id = aha.applyinst_id
        LEFT JOIN aea_proj_info api on api.proj_info_id = aap.proj_info_id and api.ROOT_ORG_ID = #{currentOrgId}

        left join aea_service_window asw on asw.REGION_ID = api.REGIONALISM and asw.ROOT_ORG_ID = #{currentOrgId}
       where aha.CREATE_TIME <![CDATA[ >= ]]> STR_TO_DATE(concat(#{startTime},' 00:00:01'), '%Y-%m-%d %H:%i:%s')
        and aha.CREATE_TIME <![CDATA[ <= ]]> STR_TO_DATE(concat(#{endTime},' 23:59:59'), '%Y-%m-%d %H:%i:%s')
        and aha.APPLYINST_SOURCE = 'net'
        and aha.IS_DELETED='0'
        and asw.IS_ACTIVE='1'
        and api.REGIONALISM is not null
        and aha.root_org_id = #{currentOrgId}
	</select>
   <select id="getApplyProjVoByState" resultType="com.augurit.aplanmis.common.vo.analyse.ApplyPorjVo">
    select aha.applyinst_id applyinstId ,aha.IS_SERIES_APPROVE isApprove,aap.proj_info_id projInfoId from aea_hi_applyinst aha
    LEFT JOIN aea_applyinst_proj aap on aap.applyinst_id = aha.applyinst_id
       where aha.is_deleted = '0' and aha.root_org_id = #{rootOrgId} and aap.proj_info_id is not null
       <if test="ids !=null">
           and aha.applyinst_state in
           <if test="_databaseId == 'oracle'">
               <foreach collection="ids" item="item" open="(" separator="union all" close=")">
                   #{item}
               </foreach>
           </if>
           <if test="_databaseId == 'mysql'">
               <foreach collection="ids" item="item" open="(" separator="," close=")">
                   #{item}
               </foreach>
           </if>
       </if>

   </select>
    <select id="queryApplyWithRegion" resultType="com.augurit.aplanmis.common.vo.analyse.ApplyFormVo">
        select
        aha.applyinst_id applyinstId,
        bdr.REGION_NAME regionName,
        bdr.region_id regionId
        from aea_hi_applyinst aha
        LEFT JOIN aea_applyinst_proj aap on aap.applyinst_id = aha.applyinst_id
        LEFT JOIN aea_proj_info api on api.proj_info_id = aap.proj_info_id and api.root_org_id =#{rootOrgId}
        LEFT JOIN bsc_dic_region bdr on bdr.region_id = api.REGIONALISM
        where 1=1
        <if test="startTime != null and startTime != ''  ">
          and  aha.CREATE_TIME <![CDATA[ >= ]]> STR_TO_DATE(concat(#{startTime},' 00:00:01'), '%Y-%m-%d %H:%i:%s')
        </if>
        <if test="endTime != null and endTime != ''">
            and aha.CREATE_TIME <![CDATA[ <= ]]> STR_TO_DATE(concat(#{endTime},' 23:59:59'), '%Y-%m-%d %H:%i:%s')
        </if>
        and aha.IS_DELETED='0'
        and bdr.REGION_NAME is not null
        and aha.root_org_id = #{rootOrgId}
    </select>

    <select id="queryItemStatisticsByTime" resultType="com.augurit.aplanmis.common.vo.analyse.ItemDetailFormVo">

        select
        ahi.APPROVE_ORG_ID orgId
        ,ooo.org_name orgName
        ,ahi.ITEMINST_ID iteminstId
        ,ahi.iteminst_state iteminstState
        ,bdr.REGION_NAME regionName
        ,bdr.REGION_ID regionId
        from  aea_hi_iteminst ahi
        LEFT JOIN opu_om_org ooo on ooo.ORG_ID=ahi.APPROVE_ORG_ID
        LEFT JOIN bsc_dic_region bdr on bdr.region_id = ooo.region_id
        where 1=1
        <if test="startTime != null and startTime != ''  ">
           and  ahi.CREATE_TIME <![CDATA[ >= ]]> STR_TO_DATE(concat(#{startTime},' 00:00:01'), '%Y-%m-%d %H:%i:%s')
        </if>
        <if test="endTime != null and endTime != ''">
            and ahi.CREATE_TIME <![CDATA[ <= ]]> STR_TO_DATE(concat(#{endTime},' 23:59:59'), '%Y-%m-%d %H:%i:%s')
        </if>
        and ahi.root_org_id = #{rootOrgId}
        <if test="ids !=null">
            and ahi.ITEMINST_STATE  in
            <if test="_databaseId == 'oracle'">
                <foreach collection="ids" item="item" open="(" separator="union all" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="_databaseId == 'mysql'">
                <foreach collection="ids" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </if>

    </select>

    <select id="queryItemExceptionCountVo" resultType="com.augurit.aplanmis.common.vo.analyse.ItemExceptionCountVo">
        select ttt.*, aib.item_name as itemName, org.org_name as orgName,
        (select count(1) from aea_hi_iteminst where ITEM_VER_ID = ttt.itemVerId) as totalCount
        from (
        select itemVerId, sum(noAccept) as noAcceptCount, sum(overdue) as overdueCount  from (
        select itemVerId,
        case iteminstState when '5' then 1 else 0 end as noAccept,
        case when remainNum <![CDATA[ <= ]]> 0 then 1 else 0 end as overdue
        from (
        select
        ahi.ITEM_VER_ID as itemVerId,
        ahi.ITEMINST_STATE as iteminstState,
        IFNULL(asti.REMAINING_TIME, 1) AS remainNum
        from aea_hi_iteminst ahi
        left join act_sto_timerule_inst asti on asti.PROC_INST_ID = ahi.PROCINST_ID
        left join aea_item_basic aib on ahi.ITEM_VER_ID = aib.ITEM_VER_ID where ahi.ROOT_ORG_ID = #{rootOrgId}) t
        where iteminstState = '5' or remainNum <![CDATA[ <= ]]> 0 ) tt group by itemVerId) ttt
        left join aea_item_basic aib on ttt.itemVerId = aib.ITEM_VER_ID
        left join opu_om_org org on aib.ORG_ID = org.ORG_ID
    </select>


    <select id="getItemStatisticsByTime" resultType="com.augurit.aplanmis.common.vo.analyse.ItemDetailFormVo">
        select gg.*
        ,ooo.org_name orgName
        ,bdr.REGION_NAME regionName
        ,bdr.REGION_ID regionId
        from(
        select
        alish.ITEMINST_ID iteminstId
        ,alish.NEW_STATE iteminstState
        ,ahi.APPROVE_ORG_ID orgId
        from  aea_hi_iteminst ahi ,aea_log_item_state_hist alish
        where alish.ITEMINST_ID = ahi.ITEMINST_ID
        and ahi.ROOT_ORG_ID= #{rootOrgId}
        and alish.ROOT_ORG_ID = #{rootOrgId}
        and alish.TRIGGER_TIME <![CDATA[ >= ]]> #{startTime}
        and alish.TRIGGER_TIME <![CDATA[ <= ]]> #{endTime}
        <if test="ids !=null">
            and alish.NEW_STATE in
            <if test="_databaseId == 'oracle'">
                <foreach collection="ids" item="item" open="(" separator="union all" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="_databaseId == 'mysql'">
                <foreach collection="ids" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </if>

        )gg
        LEFT JOIN opu_om_org ooo on ooo.ORG_ID=gg.orgId
        LEFT JOIN bsc_dic_region bdr on bdr.region_id = ooo.region_id
    </select>

    <select id="getWinLimitTimeStatistics" resultType="com.augurit.aplanmis.common.vo.analyse.ApplyLimitTimeVo">

        SELECT count(1)count ,gg.INST_STATE instState from (
        select
        alash.APPLYINST_ID applyinstId,
        aha.IS_SERIES_APPROVE isApprove,
        asti.INST_STATE
        from
        aea_log_apply_state_hist alash
        LEFT JOIN aea_hi_applyinst aha on aha.APPLYINST_ID= alash.APPLYINST_ID
        LEFT JOIN aea_hi_par_stageinst ahps on ahps.APPLYINST_ID=aha.APPLYINST_ID
        LEFT JOIN act_sto_appinst asp on asp.APPINST_ID = ahps.APPINST_ID
        LEFT JOIN act_sto_timerule_inst asti on asti.APP_FLOWDEF_ID = asp.APP_FLOWDEF_ID AND asti.PROC_INST_ID = asp.PROCINST_ID
        where alash.NEW_STATE='6'
        and aha.IS_SERIES_APPROVE='0'
        and alash.TRIGGER_TIME <![CDATA[ >= ]]> #{startTime}
        and alash.TRIGGER_TIME <![CDATA[ <= ]]> #{endTime}
        <if test="windowId !=null and windowId !=''">
            and alash.OPS_WINDOW_ID = #{windowId}
        </if>
        and alash.ROOT_ORG_ID= #{rootOrgId}
        and ahps.ROOT_ORG_ID=#{rootOrgId}
        and aha.ROOT_ORG_ID = #{rootOrgId}
        and asp.ROOT_ORG_ID= #{rootOrgId}
        and asti.ORG_ID = #{rootOrgId}
        UNION
        select
        alash.APPLYINST_ID applyinstId,
        aha.IS_SERIES_APPROVE isApprove,
        asti.INST_STATE
        from
        aea_log_apply_state_hist alash
        LEFT JOIN aea_hi_applyinst aha on aha.APPLYINST_ID= alash.APPLYINST_ID
        LEFT JOIN aea_hi_seriesinst ahs on ahs.APPLYINST_ID=aha.APPLYINST_ID
        LEFT JOIN aea_hi_iteminst ahi on ahi.SERIESINST_ID = ahs.SERIESINST_ID
        LEFT JOIN act_sto_appinst asp on asp.APPINST_ID = ahs.APPINST_ID
        LEFT JOIN  act_sto_timerule_inst asti on  asti.PROC_INST_ID = ahi.PROCINST_ID
        where alash.NEW_STATE='6'
        and aha.IS_SERIES_APPROVE='1'
        and ahs.STAGE_ID is not null
        and alash.TRIGGER_TIME <![CDATA[ >= ]]> #{startTime}
        and alash.TRIGGER_TIME <![CDATA[ <= ]]> #{endTime}
        <if test="windowId !=null and windowId !=''">
            and alash.OPS_WINDOW_ID = #{windowId}
        </if>
        and alash.ROOT_ORG_ID= #{rootOrgId}
        and ahs.ROOT_ORG_ID =#{rootOrgId}
        and ahi.ROOT_ORG_ID =#{rootOrgId}
        and asp.ROOT_ORG_ID =#{rootOrgId}
        and asti.ORG_ID = #{rootOrgId}
        ) gg GROUP by gg.INST_STATE

    </select>

    <select id="getWinStageLimitTimeStatistics" resultType="com.augurit.aplanmis.common.vo.analyse.ApplyLimitTimeVo">
        select
        alash.APPLYINST_ID applyinstId,
        aha.IS_SERIES_APPROVE isApprove,
        alash.OPS_WINDOW_ID windowId,
        asw.WINDOW_NAME windowName,
        asw.SORT_NO sortNO,
        aps.DYBZSPJDXH dybzspjdxh,
        asti.USE_LIMIT_TIME useLimitTime,
        "0"  isParallel
        from aea_log_apply_state_hist alash
        LEFT JOIN aea_hi_applyinst aha on aha.APPLYINST_ID= alash.APPLYINST_ID
        LEFT JOIN aea_service_window asw on alash.OPS_WINDOW_ID=asw.WINDOW_ID
        LEFT JOIN aea_hi_par_stageinst ahps on ahps.APPLYINST_ID=aha.APPLYINST_ID
        LEFT JOIN aea_par_stage aps on aps.STAGE_ID = ahps.STAGE_ID
        LEFT JOIN act_sto_appinst asp on asp.APPINST_ID = ahps.APPINST_ID
        LEFT JOIN act_sto_timerule_inst asti on asti.APP_FLOWDEF_ID = asp.APP_FLOWDEF_ID AND asti.PROC_INST_ID = asp.PROCINST_ID
        where alash.NEW_STATE='6'
        and aha.IS_SERIES_APPROVE='0'
        and alash.TRIGGER_TIME <![CDATA[ >= ]]> #{startTime}
        and alash.TRIGGER_TIME <![CDATA[<= ]]> #{endTime}
        <if test="windowId !=null and windowId !=''">
            and alash.OPS_WINDOW_ID = #{windowId}
        </if>
        and alash.ROOT_ORG_ID = #{rootOrgId}
        and aha.ROOT_ORG_ID=#{rootOrgId}
        and asw.ROOT_ORG_ID= #{rootOrgId}
        and ahps.ROOT_ORG_ID= #{rootOrgId}
        and aps.ROOT_ORG_ID= #{rootOrgId}
        and asp.ROOT_ORG_ID = #{rootOrgId}
        and asti.ORG_ID = #{rootOrgId}
        UNION
        select
        alash.APPLYINST_ID applyinstId,
        aha.IS_SERIES_APPROVE isApprove,
        alash.OPS_WINDOW_ID windowId,
        asw.WINDOW_NAME windowName,
        asw.SORT_NO sortNO,
        aps.DYBZSPJDXH dybzspjdxh,
        asti.USE_LIMIT_TIME useLimitTime,
        ahs.IS_PARALLEL isParallel
        from aea_log_apply_state_hist alash
        LEFT JOIN aea_hi_applyinst aha on aha.APPLYINST_ID= alash.APPLYINST_ID
        LEFT JOIN aea_service_window asw on alash.OPS_WINDOW_ID=asw.WINDOW_ID
        LEFT JOIN aea_hi_seriesinst ahs on ahs.APPLYINST_ID=aha.APPLYINST_ID
        LEFT JOIN aea_hi_iteminst ahi on ahi.SERIESINST_ID = ahs.SERIESINST_ID
        LEFT JOIN aea_par_stage aps on aps.STAGE_ID = ahs.STAGE_ID
        LEFT JOIN act_sto_appinst asp on asp.APPINST_ID = ahs.APPINST_ID
        LEFT JOIN  act_sto_timerule_inst asti on  asti.PROC_INST_ID = ahi.PROCINST_ID
        where alash.NEW_STATE='6'
        and aha.IS_SERIES_APPROVE='1'
        and ahs.STAGE_ID is not null
        and alash.TRIGGER_TIME <![CDATA[ >= ]]> #{startTime}
        and alash.TRIGGER_TIME <![CDATA[<= ]]> #{endTime}
        <if test="windowId !=null and windowId !=''">
            and alash.OPS_WINDOW_ID = #{windowId}
        </if>
        and alash.ROOT_ORG_ID = #{rootOrgId}
        and aha.ROOT_ORG_ID= #{rootOrgId}
        and asw.ROOT_ORG_ID= #{rootOrgId}
        and ahs.ROOT_ORG_ID= #{rootOrgId}
        and aps.ROOT_ORG_ID= #{rootOrgId}
        and asp.ROOT_ORG_ID = #{rootOrgId}
        and asti.ORG_ID = #{rootOrgId}

    </select>

    <select id="getCompletedApplyUseTimeByTheme" resultType="com.augurit.aplanmis.common.vo.analyse.ApplyUseTimeStatisticsVo">
        select THEME_ID as themeId, THEME_NAME as themeName,
        max(USE_LIMIT_TIME) as maxUseTime, min(USE_LIMIT_TIME) as minUseTime, round(avg(USE_LIMIT_TIME), 2) as avgUseTime from (
        select
        apt.THEME_ID, apt.THEME_NAME, asti.USE_LIMIT_TIME
        from
        ACT_STO_TIMERULE_INST asti,
        ACT_STO_APPINST asp,
        AEA_HI_PAR_STAGEINST ahps,
        AEA_PAR_STAGE aps,
        AEA_PAR_THEME_VER aptv,
        AEA_PAR_THEME apt,
        AEA_HI_APPLYINST aha,
        AEA_LOG_APPLY_STATE_HIST alash
        where
        asti.APP_FLOWDEF_ID = asp.APP_FLOWDEF_ID
        and asti.PROC_INST_ID = asp.PROCINST_ID
        and asp.APPINST_ID = ahps.APPINST_ID
        and ahps.STAGE_ID = aps.STAGE_ID
        and aps.THEME_VER_ID = aptv.THEME_VER_ID
        and aptv.THEME_ID = apt.THEME_ID
        and ahps.APPLYINST_ID = aha.APPLYINST_ID
        and aha.APPLYINST_ID = alash.APPLYINST_ID
        and asti.ORG_ID = #{rootOrgId}
        and asp.ROOT_ORG_ID = #{rootOrgId}
        and ahps.ROOT_ORG_ID = #{rootOrgId}
        and aha.ROOT_ORG_ID = #{rootOrgId}
        <if test="_databaseId == 'oracle'">
            <if test="startTime != null and startTime != ''">
                and to_char(alash.TRIGGER_TIME, 'yyyy-mm-dd HH24:mi:ss') &gt;= #{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                and to_char(alash.TRIGGER_TIME, 'yyyy-mm-dd HH24:mi:ss') &lt;= #{endTime}
            </if>
        </if>
        <if test="_databaseId == 'mysql'">
            <if test="startTime != null and startTime != ''">
                and alash.TRIGGER_TIME &gt;= #{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                and alash.TRIGGER_TIME &lt;= #{endTime}
            </if>
        </if>
        and alash.NEW_STATE = '6'
        and aha.APPLYINST_STATE = '6'
        and aha.IS_DELETED = '0'
        and aha.IS_SERIES_APPROVE= '0'
        union all
        select
        apt.THEME_ID, apt.THEME_NAME, asti.USE_LIMIT_TIME
        from
        ACT_STO_TIMERULE_INST asti,
        AEA_HI_ITEMINST ahi,
        AEA_HI_SERIESINST ahs,
        AEA_PAR_STAGE aps,
        AEA_PAR_THEME_VER aptv,
        AEA_PAR_THEME apt,
        AEA_HI_APPLYINST aha,
        AEA_LOG_APPLY_STATE_HIST alash
        where
        ahi.SERIESINST_ID = ahs.SERIESINST_ID
        and asti.PROC_INST_ID = ahi.PROCINST_ID
        and ahs.STAGE_ID = aps.STAGE_ID
        and aps.THEME_VER_ID = aptv.THEME_VER_ID
        and aptv.THEME_ID = apt.THEME_ID
        and ahs.APPLYINST_ID = aha.APPLYINST_ID
        and aha.APPLYINST_ID = alash.APPLYINST_ID
        and asti.ORG_ID = #{rootOrgId}
        and ahi.ROOT_ORG_ID = #{rootOrgId}
        and ahs.ROOT_ORG_ID = #{rootOrgId}
        and aha.ROOT_ORG_ID = #{rootOrgId}
        <if test="_databaseId == 'oracle'">
            <if test="startTime != null and startTime != ''">
                and to_char(alash.TRIGGER_TIME, 'yyyy-mm-dd HH24:mi:ss') &gt;= #{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                and to_char(alash.TRIGGER_TIME, 'yyyy-mm-dd HH24:mi:ss') &lt;= #{endTime}
            </if>
        </if>
        <if test="_databaseId == 'mysql'">
            <if test="startTime != null and startTime != ''">
                and alash.TRIGGER_TIME &gt;= #{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                and alash.TRIGGER_TIME &lt;= #{endTime}
            </if>
        </if>
        and alash.NEW_STATE = '6'
        and aha.APPLYINST_STATE = '6'
        and aha.IS_DELETED = '0' ) a
        group by THEME_ID, THEME_NAME
    </select>

    <select id="getCompletedApplyUseTimeByThemeAndWindow" resultType="com.augurit.aplanmis.common.vo.analyse.ApplyUseTimeStatisticsVo">
        select OPS_WINDOW_ID as windowId, WINDOW_NAME as windowName,
        max(USE_LIMIT_TIME) as maxUseTime, min(USE_LIMIT_TIME) as minUseTime, round(avg(USE_LIMIT_TIME), 2) as avgUseTime from (
        select
        alash.OPS_WINDOW_ID, win.WINDOW_NAME, asti.USE_LIMIT_TIME
        from
        ACT_STO_TIMERULE_INST asti,
        ACT_STO_APPINST asp,
        AEA_HI_PAR_STAGEINST ahps,
        AEA_PAR_STAGE aps,
        AEA_PAR_THEME_VER aptv,
        AEA_PAR_THEME apt,
        AEA_HI_APPLYINST aha,
        AEA_LOG_APPLY_STATE_HIST alash,
        AEA_SERVICE_WINDOW win
        where
        asti.APP_FLOWDEF_ID = asp.APP_FLOWDEF_ID
        and asti.PROC_INST_ID = asp.PROCINST_ID
        and asp.APPINST_ID = ahps.APPINST_ID
        and ahps.STAGE_ID = aps.STAGE_ID
        and aps.THEME_VER_ID = aptv.THEME_VER_ID
        and aptv.THEME_ID = apt.THEME_ID
        and ahps.APPLYINST_ID = aha.APPLYINST_ID
        and aha.APPLYINST_ID = alash.APPLYINST_ID
        and alash.OPS_WINDOW_ID = win.WINDOW_ID
        and asti.ORG_ID = #{rootOrgId}
        and asp.ROOT_ORG_ID = #{rootOrgId}
        and ahps.ROOT_ORG_ID = #{rootOrgId}
        and aha.ROOT_ORG_ID = #{rootOrgId}
        and apt.THEME_ID = #{themeId}
        <if test="_databaseId == 'oracle'">
            <if test="startTime != null and startTime != ''">
                and to_char(alash.TRIGGER_TIME, 'yyyy-mm-dd HH24:mi:ss') &gt;= #{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                and to_char(alash.TRIGGER_TIME, 'yyyy-mm-dd HH24:mi:ss') &lt;= #{endTime}
            </if>
        </if>
        <if test="_databaseId == 'mysql'">
            <if test="startTime != null and startTime != ''">
                and alash.TRIGGER_TIME &gt;= #{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                and alash.TRIGGER_TIME &lt;= #{endTime}
            </if>
        </if>
        and alash.NEW_STATE = '6'
        and aha.APPLYINST_STATE = '6'
        and aha.IS_DELETED = '0'
        and aha.IS_SERIES_APPROVE= '0'
        union all
        select
        alash.OPS_WINDOW_ID, win.WINDOW_NAME, asti.USE_LIMIT_TIME
        from
        ACT_STO_TIMERULE_INST asti,
        AEA_HI_ITEMINST ahi,
        AEA_HI_SERIESINST ahs,
        AEA_PAR_STAGE aps,
        AEA_PAR_THEME_VER aptv,
        AEA_PAR_THEME apt,
        AEA_HI_APPLYINST aha,
        AEA_LOG_APPLY_STATE_HIST alash,
        AEA_SERVICE_WINDOW win
        where
        ahi.SERIESINST_ID = ahs.SERIESINST_ID
        and asti.PROC_INST_ID = ahi.PROCINST_ID
        and ahs.STAGE_ID = aps.STAGE_ID
        and aps.THEME_VER_ID = aptv.THEME_VER_ID
        and aptv.THEME_ID = apt.THEME_ID
        and ahs.APPLYINST_ID = aha.APPLYINST_ID
        and aha.APPLYINST_ID = alash.APPLYINST_ID
        and alash.OPS_WINDOW_ID = win.WINDOW_ID
        and asti.ORG_ID = #{rootOrgId}
        and ahi.ROOT_ORG_ID = #{rootOrgId}
        and ahs.ROOT_ORG_ID = #{rootOrgId}
        and aha.ROOT_ORG_ID = #{rootOrgId}
        and apt.THEME_ID = #{themeId}
        <if test="_databaseId == 'oracle'">
            <if test="startTime != null and startTime != ''">
                and to_char(alash.TRIGGER_TIME, 'yyyy-mm-dd HH24:mi:ss') &gt;= #{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                and to_char(alash.TRIGGER_TIME, 'yyyy-mm-dd HH24:mi:ss') &lt;= #{endTime}
            </if>
        </if>
        <if test="_databaseId == 'mysql'">
            <if test="startTime != null and startTime != ''">
                and alash.TRIGGER_TIME &gt;= #{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                and alash.TRIGGER_TIME &lt;= #{endTime}
            </if>
        </if>
        and alash.NEW_STATE = '6'
        and aha.APPLYINST_STATE = '6'
        and aha.IS_DELETED = '0' ) a
        group by OPS_WINDOW_ID, WINDOW_NAME
    </select>

    <select id="getChildrenReggion" resultType="BscDicRegion">
        select <include refid="allColumns_alias"><property name="alias" value="bdr"></property></include> from bsc_dic_region bdr where
        bdr.REGION_SEQ like concat(#{regionSeq},'%' )
        <if test="level!=null">
            and bdr.REGIONAL_LEVEL = #{level}
        </if>
        ORDER BY bdr.REGIONAL_LEVEL
    </select>

    <select id="getCurrentRegionByUserId" resultType="BscDicRegion">
                select <include refid="allColumns_alias"><property name="alias" value="bdr"></property></include> from opu_om_user_org oou
        LEFT JOIN opu_om_org org on org.org_id = oou.ORG_ID
        LEFT JOIN bsc_dic_region bdr on bdr.REGION_ID = org.REGION_ID
        where oou.USER_ID = #{currentUserId}
    </select>

    <select id="getOrgReceiveLimitTimeStatistics" resultType="com.augurit.aplanmis.common.vo.analyse.ItemDetailFormVo">
              select
        gg.regionId,
        gg.regionName,
        gg.instState,count(*) receiptCount
        <if test="regionId !=null and regionId !='' ">
            , gg.orgId
            ,gg.orgName
        </if>

        from
        (
        select
        ahi.APPROVE_ORG_ID orgId,
        org.REGION_ID regionId,
        org.ORG_NAME orgName,
        bdr.REGION_NAME regionName
        ,asti.INST_STATE instState
         from aea_hi_iteminst ahi
        LEFT JOIN opu_om_org org on org.org_id = ahi.APPROVE_ORG_ID
        LEFT JOIN bsc_dic_region bdr on bdr.REGION_ID = org.REGION_ID
        LEFT JOIN act_sto_timerule_inst asti on asti.PROC_INST_ID = ahi.PROCINST_ID

        where ahi.ACCEPT_TIME <![CDATA[ >= ]]> #{startTime}
        and ahi.ACCEPT_TIME <![CDATA[ <= ]]> #{endTime}
        and  asti.INST_STATE is not null
        )gg
        <where>
            <if test="regionId != null and regionId !='' ">
                 gg.regionId = #{regionId}
            </if>
        </where>

        GROUP BY gg.regionId ,gg.instState
        <if test="regionId != null and regionId !='' ">
            ,gg.orgId
        </if>



    </select>
    <select id="listOpuOmOrg" resultType="OpuOmOrg">
        select
        <include refid="AllOrgColumns" />
        from OPU_OM_ORG org
        <where>
            <if test="orgId != null and orgId !=''"  >
                AND org.ORG_SEQ like CONCAT (CONCAT('%.',#{orgId}), '.%')
            </if>
            <if test="orgCode != null and orgCode !=''"  >
                AND ORG_CODE like CONCAT (CONCAT('%',#{orgCode}), '%')
            </if>
            <if test="orgName != null and orgName !=''" >
                AND  ORG_NAME like CONCAT (CONCAT('%',#{orgName}), '%')
            </if>
            <if test="orgProperty != null and orgProperty !=''" >
                AND ORG_PROPERTY = #{orgProperty}
            </if>
            <if test="orgRank != null and orgRank !=''" >
                AND ORG_RANK = #{orgRank}
            </if>
            <if test="isActive != null and isActive !=''" >
                AND IS_ACTIVE = #{isActive}
            </if>
            <if test="isTopOrg != null and isTopOrg !=''" >
                AND IS_TOP_ORG = #{isTopOrg}
            </if>
            <if test="parentOrgId != null and parentOrgId !=''" >
                AND PARENT_ORG_ID = #{parentOrgId}
            </if>

            <if test="regionId != null and regionId !=''" >
                AND region_id = #{regionId}
            </if>
            <if test="orgLevel != null and orgLevel !=''" >
                AND ORG_LEVEL = #{orgLevel}
            </if>
            <if test="isPublic != null and isPublic !=''" >
                AND IS_PUBLIC = #{isPublic}
            </if>
            <if test="keyword!=null and keyword!=''">
                AND (
                ORG_NAME LIKE CONCAT (CONCAT('%',#{keyword}), '%') OR
                ORG_CODE LIKE CONCAT (CONCAT('%',#{keyword}), '%')
                )
            </if>
            AND  ORG_DELETED='0'
            AND  ORG_ID != '-1'
        </where>
        ORDER BY CREATE_TIME DESC ,MODIFY_TIME DESC
    </select>

    <select id="getOrgReceiveStateStatistics" resultType="com.augurit.aplanmis.common.vo.analyse.ItemDetailFormVo">

        select
        gg.REGION_ID regionId,
        gg.REGION_NAME regionName,
        <if test="regionId != null and regionId != ''">
            gg.APPROVE_ORG_ID orgId,
            gg.ORG_NAME orgName,
        </if>
        count(*) correctMaterialCount,
        0  receiptCount,
        0 acceptCount,
        0 notAcceptCount
        from (
        SELECT
        ahi.APPROVE_ORG_ID,
        org.ORG_NAME,
        org.REGION_ID,
        brd.REGION_NAME
        from aea_log_item_state_hist alish
        LEFT JOIN aea_hi_iteminst ahi on ahi.ITEMINST_ID = alish.ITEMINST_ID
        LEFT JOIN opu_om_org org on org.ORG_ID = ahi.APPROVE_ORG_ID
        LEFT JOIN bsc_dic_region brd on brd.REGION_ID = org.REGION_ID
        where alish.TRIGGER_TIME <![CDATA[ >= ]]> #{startTime}
        and alish.TRIGGER_TIME <![CDATA[ <= ]]> #{endTime}
        and alish.NEW_STATE= #{newState}
        and alish.ROOT_ORG_ID = #{rootOrgId}
        and ahi.ROOT_ORG_ID= #{rootOrgId}
        )gg
        <where>
            <if test="regionId !=null and regionId != ''">
                gg.REGION_ID = #{regionId}
            </if>
        </where>
        GROUP by gg.REGION_ID
        <if test="regionId !=null and regionId != ''">
            , gg.APPROVE_ORG_ID
        </if>

    </select>
    <!-- 组织所有字段 -->
    <sql id="AllOrgColumns" >
        org.ORG_ID  as orgId,
        org.ORG_CODE as orgCode,
        org.ORG_NAME as orgName,
        org.ORG_SHORT_NAME1 as orgShortName1,
        org.ORG_SHORT_NAME2 as orgShortName2,
        org.PARENT_ORG_ID as parentOrgId,
        org.ORG_LEVEL as orgLevel,
        org.ORG_SEQ as orgSeq,
        org.ORG_SORT_NO as orgSortNo,
        org.IS_PUBLIC as isPublic,
        org.ORG_PROPERTY as orgProperty,
        org.IS_INNER_CATEGORY_EXPAND as isInnerCategoryExpand,
        org.IS_ACTIVE as isActive,
        org.IS_LEAF as isLeaf,
        org.SUB_UNIT_COUNT as subUnitCount,
        org.SUB_DEPT_COUNT as subDeptCount,
        org.SUB_GROUP_COUNT as subGroupCount,
        org.SUB_POS_COUNT as subPosCount,
        org.SUB_USER_COUNT as subUserCount,
        org.ORG_TYPE as orgType,
        org.ORG_NATURE as orgNature,
        org.ORG_RANK as orgRank,
        org.UNIT_GB_TYPE as unitGbType,
        org.UNIT_GB_CODE as unitGbCode,
        org.UNIT_GB_SYS_CODE as unitGbSysCode,
        org.ORG_FUNDS_FORM as orgFundsForm,
        org.ORG_FOUND_TIME as orgFoundTime,
        org.ORG_LINK_MAN as orgLinkMan,
        org.ORG_LINK_TEL as orgLinkTel,
        org.ORG_ZIP_CODE as orgZipCode,
        org.ORG_EMAIL as orgEmail,
        org.ORG_TEL as orgTel,
        org.ORG_ADDRESS as orgAddress,
        org.ORG_WEBSITE as orgWebsite,
        org.ORG_WEIBO as orgWeibo,
        org.ORG_APPROVAL_NUMBER as orgApprovalNumber,
        org.ORG_FUNC as orgFunc,
        org.ORG_DELETED as orgDeleted,
        org.CREATER as creater,
        org.CREATE_TIME as createTime,
        org.MODIFIER as modifier,
        org.MODIFY_TIME as modifyTime,
        org.IS_TOP_ORG as isTopOrg,
        org.region_id as regionId
    </sql>
    <sql id="allColumns_alias" >
         ${alias}.REGION_ID  regionId,
         ${alias}.PARENT_REGION_ID  parentRegionId,
         ${alias}.REGION_NAME  regionName,
         ${alias}.FIRST_LETTER  firstLetter,
         ${alias}.REGION_FULL_NAME  regionFullName,
         ${alias}.REGION_STATUS  regionStatus,
         ${alias}.REGIONAL_LEVEL  regionalLevel,
         ${alias}.REGION_SEQ  regionSeq,
         ${alias}.REGION_NUM  regionNum,
         ${alias}.REGION_OLD_NUM  regionOldNum,
         ${alias}.CREATER  creater,
         ${alias}.CREATE_TIME  createTime,
         ${alias}.MODIFIER modifier,
         ${alias}.MODIFY_TIME modifyTime,
         ${alias}.REGION_TYPE as regionType,
         ${alias}.REGION_PINYIN as regionPinyin
    </sql>
</mapper>