.c-f {
  zoom: 1;
}

.c-f:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.l {
  float: left;
}

.r {
  float: right;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

#approvePage {
  position: relative;
  font-size: 14px;
  background: #f2f3f8;
  height: 100%;
  overflow: auto;
  min-width: 1366px;
  color: #575962;
}

#approvePage .ltabs > .el-tabs__header .el-tabs__item {
  font-size: 16px;
  height: 44px;
  line-height: 44px;
}

#approvePage .ltabs > .el-tabs__header .el-tabs__nav {
  height: 46px;
}

.page-header {
  height: 50px;
  line-height: 50px;
  background: #169AFF;
  color: #ffffff;
}

.page-header h3 {
  font-size: 16px;
  padding-left: 11px;
}

.page-header span {
  font-weight: normal;
}

.box-position {
  position: absolute;
  top: 65px;
  bottom: 12px;
  border-radius: 4px;
  background: #ffffff;
  overflow: hidden;
  transition: all .3s;
  box-shadow: 0 0 13px 0 rgba(82, 63, 105, .05);
}

.left-content {
  left: 12px;
  right: 72px;
}

.page-aside {
  right: 15px;
  width: 40px;
}

.is-expanded .left-content {
  right: 445px;
}

.is-expanded .page-aside {
  width: 415px;
}

.aside-tab {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 40px;
}

.toggle-triangle {
  width: 40px;
  height: 49px;
  text-align: center;
  line-height: 49px;
  cursor: pointer;
  color: #169AFF;
  font-size: 24px;
}

.aside-tab li {
  border-top: 1px solid #DCDFE6;
  height: 120px;
  color: #575962;
  padding: 20px 13px;
  cursor: pointer;
  transition: all .3s;
}

.aside-tab li:hover {
  color: #169AFF;
}

.aside-tab li.active {
  background: #169AFF;
  color: #fff;
}

.aside-tab li.active:hover {
  color: #fff;
}

.aside-content {
  position: absolute;
  top: 0;
  left: 40px;
  bottom: 0;
  right: 0;
  border-left: 1px solid #DCDFE6;
}

.aside-content .contents {
  position: absolute;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  padding-bottom: 10px;
}

.aside-title {
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  padding-left: 8px;
  border-bottom: 1px solid #DCDFE6;
}

.approve-step {
  position: relative;
  border-left: 3px solid #E8ECF1;
  width: 338px;
  margin: 15px 0 0 22px;
  overflow: visible;
  padding-left: 17px;
}

.step-title {
  line-height: 30px;
  font-weight: bold;
  position: relative;
}

.step-title-text {
  width: 290px;
  height: 30px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-wrap: normal;
  font-size: 15px;
}

.man-icon {
  width: 28px;
  line-height: 28px;
  text-align: center;
  border-radius: 100%;
  background: #4EB2FD;
  color: #fff;
  font-size: 20px;
  position: absolute;
  top: 0;
  left: -32px;
  font-weight: 400;
}

.man-time-box {
  height: 28px;
  line-height: 28px;
  color: #7F8590;
  font-size: 12px;
}

.remark-box {
  color: #575962;
  position: relative;
  padding: 10px;
  font-size: 14px;
  line-height: 18px;
  border-radius: 4px;
  background: #f8fcff;
  border: 1px solid #c5e6ff;
  min-height: 40px;
  margin-top: 5px;
}

.ispass-icon {
  position: absolute;
  text-align: center;
  border-radius: 100%;
  left: -25px;
  /*top: 50%;*/
  /*margin-top: -7px;*/
  background: #00C161;
  font-size: 14px;
  width: 14px;
  height: 14px;
  border: 2px solid #fff;
  top: 3px;
}

.ispass-icon.bg-blue {
  background: #4eb2fd;
}

.s-top.ispass-icon {
  top: 8px;
}

.remark-triangle {
  position: absolute;
  /*top: 50%;*/
  /*left: -6px;*/
  top: 0;
  left: 15px;
  margin-top: -5px;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  background: #f8fcff;
  border: 1px solid #c5e6ff;
  /*border-width: 0 0 1px 1px;*/
  border-width: 1px 0px 0px 1px;
}

.unpass.remark-box {
  border: 1px solid #ffd2d1;
  background: #fff9f9;
}

.unpass .ispass-icon {
  background: #FF4B47;
}

.unpass .remark-triangle {
  border-color: #ffd2d1;
  background: #fff9f9;
}

.step-box + .step-box {
  margin-top: 18px;
}

.node-box {
  margin-top: 0px;
  position: relative;
}

.node-box + .node-box {
  margin-top: 10px;
}

/*.step-box:last-child .node-box:last-child .remark-box::before {*/
/*    content: '';*/
/*    position: absolute;*/
/*    width: 3px;*/
/*    height: 50%;*/
/*    left: -21px;*/
/*    bottom: -1px;*/
/*    background: #fff;*/
/*}*/
/*.step-box:last-child div:last-child .node-box:last-child::before,*/
/*.approve-step::before,*/
.step-box:last-child .node-box:last-child::before {
  content: '';
  position: absolute;
  width: 3px;
  top: 15px;
  left: -20px;
  bottom: -1px;
  background: #fff;
  /*height: 90px;*/
  /*left:-3px;*/
}

.not-item-step {
  margin-top: 10px;
}

.not-item-step .man-icon {
  width: 22px;
  height: 22px;
  line-height: 22px;
  font-size: 14px;
  left: -30px;
  top: 5px;
}

.top-btns-status {
  border-bottom: 1px solid #EBEDF2;
  padding: 20px;
}

.top-btn {
  margin-top: 16px;
  padding: 9px 20px;
}

.top-btns-status .r > span {
  float: right;
  line-height: 24px;
  height: 24px;
  font-size: 14px;
  margin-top: 5px;
}

.top-btns-status .btn,
#parentPro > button {
  font-size: 14px;
  display: inline-block;
  height: 34px;
  border: 1px solid #DCDFE6;
  color: #575962;
  padding: 0px 20px;
  border-radius: 4px;
  margin-right: 10px;
  cursor: pointer;
  background: #fff;
  transition: all .3s;
}

.top-btns-status .btn:hover {
  opacity: .8;
  color: #409eff;
  border-color: #c6e2ff;
  background-color: #ecf5ff;
}

.top-btns-status .btn-primary,
.top-btns-status .btn-primary:hover {
  color: #fff;
  border: 1px solid #169AFF;
  background: #169AFF;
}

#parentPro {
  padding-left: 15px;
}

.forder-f-level {
  color: #FFB822;
  display: none;
  font-size: 22px;
  position: relative;
  top: 2px;
}

.f-node .fi-close {
  display: inline-block;
}

.f-node .fi-open {
  display: none;
}

.f-node.open .fi-close {
  display: none;
}

.f-node.open .fi-open {
  display: inline-block;
}

.checkbox-icon {
  float: left;
  width: 18px;
  height: 18px;
  border: 1px solid #DCDFE6;
  position: relative;
  line-height: 16px;
  color: #FFF;
  border-radius: 4px;
  margin-top: 8px;
}

.checkbox-icon.checked {
  background: #169AFF;
  border-color: #169AFF;
}

.status-text {
  border-radius: 12px;
  color: #fff;
  padding: 0 12px;
  background: #4EB2FD;
}

.status-text.bg-grey {
  background: #B8C8DC;
}

.status-label {
  margin-left: 26px;
}

.table-name {
  color: #575962;
  font-size: 24px;
  text-align: center;
  padding-top: 26px;
}

.table-part-title {
  color: #169AFF;
  line-height: 30px;
  border-bottom: 2px solid #169AFF;
  padding-left: 10px;
  margin-top: 16px;
  font-size: 16px;
  font-weight: bold;
}

.table-part-title .header-icon {
  font-size: 22px;
  position: relative;
  top: 2px;
  margin-right: 5px;
  font-weight: bold;
}

.part-info-box {
  padding: 7px 32px 0 48px;
}

.part-unit {
  width: 50%;
  margin-top: 15px;
  line-height: 34px;
}

.part-unit.full-row {
  width: 100%;
}

.part-info-label {
  width: 100px;
  text-align: right;
}

.part-info-value {
  border: 1px solid #DCDFE6;
  margin-left: 10px;
  line-height: 32px;
  padding: 0 10px;
  width: calc(100% - 150px);
  border-radius: 4px;
}

.show-more-btn {
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
  color: #169AFF;
  background: rgb(246, 251, 255);
  cursor: pointer;
  margin-top: 10px;
}

.button-grounp {
  padding: 14px 0 0 14px;
}

.send-form-part {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.05);
}

.send-form-part + .send-form-part {
  margin-top: 12px;
}

.el-button--medium {
  /*height:34px;*/
}

.send-dia-form .ag-add-person,
.send-dia-form .ag-setting,
.send-dia-form .ag-save-common {
  font-size: 20px;
}

.send-dia-form .el-button--info {
  background-color: #BCC3CF;
  border-color: #BCC3CF;
}

.send-dia-form .el-input--medium .el-input__inner {
  height: 40px;
  line-height: 38px;
}

.send-dia-form .el-button--medium {
  padding: 0 9px;
  height: 40px;
  line-height: 40px;
}

.part-title {
  line-height: 50px;
  color: #575962;
  font-size: 16px;
  padding-left: 19px;
  border-bottom: 1px solid #EBEDF2;
  font-weight: 600;
}

.send-sug-box {
  padding: 10px;
}

.send-sug-textarea {
  /*margin-top: 10px;*/
}

.send-dia-form {

}

.send-form-part .hint-text {
  position: relative;
  line-height: 20px;
  padding: 12px;
  padding-left: 40px;
  border: 1px solid #FFB822;
  background: #FFFCEE;
  border-radius: 4px;
}

.send-form-part .hint-text .ag-warn-circle {
  position: absolute;
  top: 12px;
  left: 14px;
  color: #FFB822;
  font-size: 20px;
}

.send-sug-box .el-select .el-input {
  width: 665px;
  margin-right: 10px;
}

.upload-input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 0px;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
}

/**/
.file-tree {
  line-height: 30px;
  font-size: 14px;
  color: #575962;
  margin: 14px 0 0 14px;
  padding-right: 14px;
}

.file-tree .ag {
  font-size: 20px;
}

.f-title {
  line-height: 36px;
  font-weight: bold;
}

.s-title {
  line-height: 36px;
}

.f-title,
.s-title,
.t-node {
  position: relative;
  /*width: 320px;*/
  cursor: pointer;
}

.t-node {
  cursor: text;
}

.bg-grey-node {
  /*background: #f8fafb;*/
  background: #eceff8;
}

.leaf-node-btns,
.f-title:hover,
.s-title:hover,
.t-node:hover {
  /*background: #eceff8;*/
  background: #f8fafb;
}

/*.bg-grey-node{*/
/*    background: #f2f3f8;*/
/*}*/

/*.s-node:hover .checkbox-icon{*/
/*    color: #f2f3f8;*/
/*}*/
/*.s-title:hover .checkbox-icon.checked{*/
/*    color: #fff;*/
/*}*/
.f-title {
  padding-left: 4px;
}

.s-title {
  padding-left: 24px;
}

.t-node {
  padding-left: 44px;
}

.t-node:hover {
  color: #169AFF;
}

.s-title.istLeaf:hover {
  color: #169AFF;
}

.ss-node:hover .leaf-node-btns,
.t-node:hover .leaf-node-btns,
.s-title:hover .leaf-node-btns {
  display: block;
}

.ss-node .leaf-node-btns {
  height: 37px;
}

.ss-node .leaf-node-btn {
  height: 37px;
  line-height: 37px;
}

.file-tree .el-icon-caret-right {
  color: #B8C8DC;
}

.s-nodes,
.t-nodes {
  display: none;
}

.f-node.open .s-nodes,
.s-node.open .t-nodes {
  display: block;
}

.f-title i {
  transition: all .3s;
}

.s-node.open > .s-title .el-icon-caret-right {
  transform: rotate(90deg);
}

.leaf-node-btns {
  height: 31px;
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
}

.leaf-node-btn {
  height: 31px;
  line-height: 31px;
  text-align: center;
  width: 30px;
  font-size: 18px;
  cursor: pointer;
}

.s-title .leaf-node-btn {
  height: 37px;
  line-height: 37px;
}

.s-title .leaf-node-btns {
  height: 37px;
}

.leaf-node-btn.el-icon-delete {
  color: #FF4B47;
}

.ltabs > .el-tabs__content > .el-tab-pane {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.ltab-iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.bg-white {
  background: #fff;
}

.send-dia-form {
  padding: 8px 14px 16px 14px;
  background: #f2f3f8;
}

/* 申请表 tab*/
#applyForm {
  padding: 0 67px 10px 42px;
}

/*reset element ui dialog*/
.el-dialog {
  border-radius: 4px;
  overflow: hidden;
}

.el-dialog__header {
  background: #169AFF;
  padding: 10px 16px;
  font-weight: 600;
}

.el-dialog__title,
.el-dialog__headerbtn .el-dialog__close,
.el-dialog__headerbtn:hover .el-dialog__close {
  color: #fff;
}

.el-dialog__headerbtn {
  top: 15px;
}

.el-dialog__footer {
  padding: 10px 16px;
}

.el-dialog__body {
  padding: 0;
}

/*reset element ui*/
.el-form-item {
  margin-bottom: 0px;
  padding: 5px 0px;
}

.send-form-part .el-input {
  /*width: 695px;*/
}

.left-content .el-tabs.el-tabs--top {
  position: absolute;
  top: 75px;
  left: 0;
  bottom: 0;
  right: 0;
}

.left-content > .ltabs > .el-tabs__content {
  position: absolute;
  top: 46px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.el-tabs__nav-scroll {
  padding: 0 30px;
}

.el-tabs__header {
  margin-bottom: 0;
}

.el-tabs__nav-wrap::after {
  height: 1px;
  background-color: #DCDFE6;
}

.el-tree {
  /*margin: 16px 0 0 16px;*/
  /*width: 320px;*/
}

.el-tabs__active-bar {
  height: 4px;
}

.el-tree-node__content {
  /*height: 36px;*/
}

.el-tree > .el-tree-node > .el-tree-node__content > .el-tree-node__label {
  /*font-weight: bold;*/
}

.el-table th {
  background: #F5F7FA;
}

/*重置旧的*/
.upload-s-file {
  margin-bottom: 10px;
}

.pic-list-dia .el-dialog__body,
.add-edit-idpic-dia .el-dialog__body,
.dialogPadding .el-dialog__body {
  padding: 16px;
}

#nextTaskList > label {
  margin-left: 10px;
}

#nextTaskList > label > div {
  margin-left: 5px;
}

.row-four-u {
  padding: 0 0px 0 45px;
  position: relative;
}

.row-four-u > span {
  position: absolute;
  left: 10px;
  top: 0;
}

.project-address-row {
  position: relative;
  padding-left: 360px;
}

.proj-address-rowl {
  position: absolute;
  left: 0;
  top: 0;
}

.proj-address-rowl .el-input {
  width: 120px;
}

.el-dropdown-menu__item {
  padding: 0;
}

.el-dropdown-menu__item .btn {
  display: block;
  width: 100%;
  font-size: 14px;
  cursor: pointer;
  height: 34px;
  line-height: 34px;
  border: none;
  background: transparent;
  padding: 0 20px;
}

/*回执样式*/
.receive-modal .el-dialog__body {
  background: rgba(242, 243, 248, 1);
  padding: 16px;
}

.receive-item-header {
  border-bottom: 1px solid #EBEDF2;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  font-size: 16px;
}

.receive-list {
  padding: 10px 14px;
  margin-left: 23px;
  position: relative;
}

.receive-list:before {
  content: '';
  display: inline-block;
  position: absolute;
  width: 1px;
  top: 0;
  bottom: 30px;
  background: #EBEDF2;
  left: 0;
}

.receive-list li {
  margin-bottom: 10px;
  position: relative;
}

.receive-list li:before {
  content: '';
  display: inline-block;
  position: absolute;
  height: 1px;
  width: 14px;
  top: 10px;
  background: #EBEDF2;
  left: -14px;
}

.receive-item {
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.05);
  border-radius: 4px;
  width: 230px;
  margin-bottom: 16px;
}

.receive-list span {
  padding: 4px 8px 5px 8px;;
  cursor: pointer;
}

.receive-list span:hover,
.receive-item.active li.active span {
  color: #169AFF;
  background: rgba(244, 250, 254, 1);
}

.receive-type,
.receive-type-y {
  padding: 0 12px;
  color: #07CDC6;
  border-radius: 11px;
  border: 1px solid #07CDC6;
  font-size: 14px;
  height: 22px;
  line-height: 22px;
  margin: 9px 0;
  display: inline-block;
}

.receive-type-y {
  color: #FFB822;
  border: 1px solid #FFB822;
}

.pdf-view-win {
  width: 100%;
  padding-left: 250px;
  height: 100%;
}

.receive-item-header .icon {
  line-height: 40px;
  padding-left: 5px;
  cursor: pointer;
}

.receive-item-header span.ellipsis {
  display: inline-block;
  width: 130px;
}

.w46 {
  width: 46%;
}

.w98 {
  width: 98% !important;
}

.inline-block {
  display: inline-block;
}

.al-center {
  text-align: center;
}

.border-left {
  border-left: 1px solid #e5e5e5;
}

.mertial-supplement-dialog .supplement-form {
  /*font-size: 0;*/
  /*padding-left: 16px;*/
}

.mertial-supplement-dialog .supplement-form .el-input {
  width: 240px;
}

.mertial-supplement-dialog .supplement-form .el-input.is-disabled .el-input__inner {
  border: 0;
  background-color: #fff;
}

.mertial-supplement-dialog .supplement-form .fill-item .el-input,
.mertial-supplement-dialog .supplement-form .fill-item .el-textarea {
  width: 632px;
}

.mertial-supplement-dialog .supplement-form .half-item {
  width: 33.3%;
  margin-right: 0;
  float: left;
}

.mertial-supplement-dialog .supplement-form .half-item .el-form-item__content {
  width: calc(100% - 140px);
}

.mertial-supplement-dialog .supplement-form .half-item .el-form-item__content .el-input,
.mertial-supplement-dialog .supplement-form .half-item .el-form-item__content .el-textarea {
  width: 100%;
}

.mertial-supplement-dialog .supplement-form .fill-item {
  width: 100%;
}

.mertial-supplement-dialog .supplement-form .fill-item .el-form-item__content {
  width: calc(100% - 140px);
}

.mertial-supplement-dialog .supplement-form .fill-item .el-form-item__content .el-input,
.mertial-supplement-dialog .supplement-form .fill-item .el-form-item__content .el-textarea {
  width: 100%;
}

.mertial-supplement-dialog .half-item .el-form-item__content {
  height: 40px;
  overflow: hidden;
}

.line-height-34 .el-input__inner {
  height: 34px;
  line-height: 32px;
}

.color-999 {
  color: #999;
}

.el-textarea textarea {
  resize: none;
}

.material-table-header {
  width: 630px;
  height: 32px;
  line-height: 32px;
  border: 1px solid #e5e5e5;
  border-bottom: none;
  /*font-size: 0;*/
  background: #fafafa;
}

.material-table-header span {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  text-align: center;
}

.material-table-header span:not(:last-of-type) {
  border-right: 1px solid #e5e5e5;
}

.material-table-wrap {
  max-height: 384px;
  height: 384px;
  overflow-x: hidden;
  overflow-y: auto;
  border-bottom: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
}

.material-table {
  display: table;
  position: relative;
  width: 630px;
  border: 1px solid #e5e5e5;
  border-bottom: 0;
  /*font-size: 0;*/
}

.material-table .tb-title {
  display: table-cell;
  vertical-align: middle;
  /*width: 20%;*/
  text-align: center;
  font-size: 14px;
  line-height: 20px;
}

.material-table .tb-title p {
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.material-table .tb-content {
  width: 100%;
  border-left: 1px solid #e5e5e5;
}

.material-table .tb-content .tb-item {
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #e5e5e5;
}

.material-table .tb-content .tb-item:last-of-type {
  border: none;
}

.material-table .tb-content .tb-item span.tip {
  display: inline-block;
  width: 60px;
  text-align: center;
  font-size: 14px;
}

.material-table .tb-content .tb-item .num {
  width: 100px;
  font-size: 14px;
  padding: 0 4px;
  vertical-align: top;
}

.material-table .tb-content .tb-item .opinion {
  width: calc(100% - 220px);
  font-size: 14px;
  padding: 0 4px;
  vertical-align: top;
}

.material-table .tb-content .tb-item .show-span {
  border-left: 1px solid #e5e5e5;
  display: inline-block;
  width: 100px;
  text-align: center;
  font-size: 14px;
}

.material-table .tb-content .tb-item .show-span:first-of-type {
  border-left: 0;
}

.material-table .tb-content .tb-item .check {
  width: calc(100% - 315px);
  font-size: 14px;
  padding: 0 4px;
}

.material-table .tb-content .tb-item .delete {
  width: 60px;
  font-size: 20px;
  padding: 0 4px;
  cursor: pointer;
}

.material-table .close-box {
  display: none;
  position: absolute;
  top: -12px;
  left: 99%;
  width: 20px;
  line-height: 20px;
  height: 20px;
  text-align: center;
  /* height: 100%; */
  font-size: 20px;
  background: #fff;
  border-radius: 50%;
  color: #999;
  cursor: pointer;
}

.material-table .close-box:hover {
  color: #666;
}

.material-table:hover .close-box {
  display: block;
}

.show-all {
  background-color: #f1f2f3;
  color: #3E97DF;
  text-align: center;
  font-size: .7rem;
  line-height: 1.9rem;
  height: 1.9rem;
  width: 630px;
  cursor: pointer;
}

.supplement-tag {
  height: 32px;
  line-height: 32px;
  background: #e9e9eb;
  color: #f56c6c;
  text-align: center;
  font-size: 14px;
  position: relative;
  top: 0;
  letter-spacing: 2px;
}

.pro-item-box {
  position: relative;
  line-height: 20px;
  margin-top: 15px;
}

.pro-item-box .label-pi {
  display: inline-block;
  height: 20px;
  color: #fff;
  font-size: 12px;
  background: #00C161;
  border-radius: 4px;
  padding: 0 3px;
  margin-right: 5px;
}

.pro-item-box .text-pi {
  font-weight: 600;
  width: 252px;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-wrap: normal;
  display: inline-block;
}

.step-box {
  position: relative;
}

/*reset */
.material-table-header,
.material-table,
.show-all,
.material-table-wrap {
  width: 1040px;
  border-bottom: 1px solid #e5e5e5;
}

.material-table-header .mf-col {
  display: block;
  float: left;
}

.mf-col-w1 {
  width: 465px;
}

.mf-col-w2 {
  width: 61px;
}

.mf-col-w3 {
  width: 100px;
}

.mf-col-w4 {
  width: 282px;
}

.mf-col-w5 {
  width: 128px;
}

.material-table .tb-title {
  width: 402px;
  padding: 0 10px;
  text-align: left;
}

.material-table .tb-content .tb-item span.tip {
  width: 93px;
}

.material-table .tb-content .tb-item .num {
  width: 93px;
}

.material-table .tb-content .tb-item .opinion {
  width: 278px;
  width: 348px;
}

.material-table .tb-content .tb-item .delete {
  width: 128px;
  width: 80px;
}

.special-dialog > .el-dialog {
  width: 80%;
  height: 80%;
}

.special-dialog .el-dialog__body {
  height: calc(100% - 44px);
}

.special-iframe-box {
  height: 100%;
}

.prompt-dia {
  width: 630px;
}

.prompt-dia .el-textarea {
  /*height:70px;*/
}

.prompt-dia textarea {
  height: 85px;
}

/*转发任务弹窗*/
.forw-select-box {
  line-height: 36px;
  background: #fff;
  border-radius: 4px;
  padding: 8px;
}

.dig-bg-grey {
  /*background: #f2f3f8;*/
  padding: 16px;
}

.forw-dia-s .el-form-item__error {
  padding-top: 1px;
}

.forw-dia-s .el-form-item {
  padding: 7px 0;
}

#oneForm {
  padding: 10px 20px;
  height: 100%;
  overflow: auto;
}

#oneForm table {
  width: 98%;
  margin: 10px auto;
  color: #575962;
  border: none;
  border-left: 1px solid #DCDFE6;
  border-top: 1px solid #dcdfe6;
}

#oneForm table td {
  padding: 5px;
  border: none;
  border-bottom: 1px solid #ebeef5;
  border-right: 1px solid #ebeef5;
}

#oneForm .dialog-footer {
  text-align: right;
  margin-right: 10%;
}

#oneForm .el-dialog__body .el-form {
  padding: 0;
}

#oneForm .dialog-footer.fixed {
  display: none;
}

/*失信弹窗  start*/
.special-dialog > .el-dialog {
  width: 80%;
  height: 80%;
}

.credit-dialog > .el-dialog {
  height: auto;
  max-height: 80%;
}

.special-dialog .el-dialog__body {
  height: calc(100% - 44px);
}

.credit-dia-wrap {
  height: 100%;
  background: #f2f3f8;
  padding: 16px;
  color: #575962;
}

.credit-dia-box {
  background: #fff;
  padding: 22px;
  border-radius: 4px;
}

.cd-hint-box {
  border: 1px solid #FF4B47;
  background: rgba(255, 75, 71, 0.08);
  font-size: 16px;
  line-height: 20px;
  padding: 20px 20px 20px 58px;
  border-radius: 4px;
  font-weight: 600;
  position: relative;
}

.cd-type-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  padding: 20px 0 5px 5px;
}

.pre-u-title {
  line-height: 20px;
  padding: 10px 3px;
  cursor: pointer;
}

.p-u-wrap {
  padding: 0 17px;
  display: none;
}

.pre-list-u.open .p-u-wrap {
  display: block;
}

.pre-u-detail {
  border: 1px dashed #66BDFF;
  background: rgba(251, 253, 255, 1);
  line-height: 34px;
  font-size: 14px;
  padding: 3px 0;
}

.p-detail-label {
  width: 150px;
  text-align: right;
}

.p-detail-value {
  width: 260px;
}

.is-black .pre-u-detail {
  border: 1px dashed #FF9B99;
  background: rgba(255, 252, 252, 1);
}

.is-black .cd-type-title {
  color: #FE4743;
}

.credit-hint-icon {
  font-size: 48px;
  color: #FF4B47;
  position: absolute;
  top: 5px;
  left: 7px;
}

/*失信弹窗 end*/

/*制证打印预览弹窗 start*/
.licence-dialog-class .el-dialog__body {
  height: calc(100% - 100px);
}

.licence-dialog-class .el-dialog__body {
  position: relative;
}

.licence-dialog-class .license-pre-iframe {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}

.licence-dialog-class iframe {
  border: none;
  width: 100%;
  height: 100%;
}

/*制证打印预览弹窗 end*/

/*审批过程补正特殊程序详情弹窗 start*/
.el-body-pbg .el-dialog__body {
  background: #f2f3f8;
  padding: 16px;
}

.pro-det-box {
  border-radius: 4px;
  background: #fff;
  padding: 20px;
}

.pro-det-title {
  line-height: 22px;
  height: 36px;
  padding-bottom: 14px;
}

.pro-det-label {
  background: #00C161;
  border-radius: 4px;
  color: #fff;
  padding: 0 5px;
  margin-right: 5px;
}

.el-body-pbg .el-table__expand-column {
  border-right: 0 !important;
}

.pro-det-dialog .el-dialog__body {
  max-height: 700px;
  overflow: auto;
}

.pro-det-dialog .el-table__body-wrapper {
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}

.pro-det-dialog .el-table td,
.pro-det-dialog .el-table th {
  padding: 8px 0;
}

.det-mat-expand {
  padding: 12px 20px;
}

/*审批过程补正特殊程序详情弹窗 end*/

/*申请表样式 start*/
.form-unit-box {
  position: relative;
  padding-left: 165px;
}

.form-left-label {
  position: absolute;
  width: 165px;
  text-align: right;
  top: 0;
  left: 0;
  height: 36px;
  line-height: 36px;
  color: #606266;
  font-size: 14px;
  padding-right: 12px;
}

.u-hint-box {
  cursor: pointer;
  margin-right: 5px;
  font-size: 20px;
  color: #aaacb1;
}

.u-hint-box .ag {
  font-size: 18px;
  color: #d6d6d6;
  position: relative;
  top: -1px;
}

/*申请表样式end*/
.istLeafFri {
  padding-left: 5px;
}

.ppp {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-wrap: normal;
}

.ppp38 {
  height: 38px;
}

.ppp36 {
  height: 36px;
}

.ppp32 {
  height: 32px;
}

/*element-reset*/
.el-table--border, .el-table--group,
.el-table td, .el-table th.is-leaf {
  border-color: #DCDFE6;
}

.el-table--border::after, .el-table--group::after, .el-table::before {
  background-color: #DCDFE6;
}

.el-table, .el-table thead {
  color: #575962;
}

.search-content th {
  background: #F3F6F9;
}

/*材料补全*/
.material-tablesec-header {
  border: 1px solid #e5e5e5;
  border-bottom: none;
  background: #fafafa;
}

.material-tablesec-header .header-item {
  vertical-align: top;
  font-size: 14px;
  text-align: center;
}

.material-tablesec-header .header-item:not(:first-of-type) {
  border-left: 1px solid #e5e5e5;
}

.material-tablesec-wrap {
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
}

.material-tablesec {
  border: 1px solid #e5e5e5;
  border-bottom: 0;
  min-height: 46px;
}

.material-tablesec .tb-title {
  text-align: center;
}

.material-tablesec .tb-title p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: normal;
}

.material-tablesec .tb-content {
  border-left: 1px solid #e5e5e5;
}

.material-tablesec .tb-content .tb-item {
  height: 46px;
  line-height: 46px;
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
}

.material-tablesec .tb-content .tb-item:last-of-type {
  border: none;
}

.material-tablesec .tb-content .tb-item span.tip {
  text-align: center;
}

.material-tablesec .tb-content .tb-item .num {
  padding: 0 4px;
  vertical-align: top;
}

.material-tablesec .tb-content .tb-item .opinion {
  padding: 0 4px;
  vertical-align: top;
}

.material-tablesec .tb-content .tb-item .show-span {
  border-left: 1px solid #e5e5e5;
  text-align: center;
}

.material-tablesec .tb-content .tb-item .show-span:first-of-type {
  border-left: 0;
}

.material-tablesec .tb-content .tb-item .check {
  padding: 0 4px;
}

.material-tablesec .tb-content .tb-item .delete {
  font-size: 20px;
  padding: 0 4px;
  cursor: pointer;
}

.material-tablesec .close-box {
  display: none;
  position: absolute;
  top: -12px;
  left: 99%;
  width: 20px;
  line-height: 20px;
  height: 20px;
  text-align: center;
  font-size: 20px;
  background: #fff;
  border-radius: 50%;
  color: #999;
  cursor: pointer;
}

.material-tablesec .close-box:hover {
  color: #666;
}

.material-tablesec:hover .close-box {
  display: block;
}

.padding-r16 {
  padding-right: 16px;
}

.show-all {
  width: 100%;
}

.states_item {
  padding-bottom: 10px;
}

/*特殊程序 start*/
.special-main-wrap {
  padding: 14px 18px 12px 15px;
  background: #F0F3F6;
  color: #575962;
}

.special-content-box {
  background: #fff;
}

.spe-dia-tabs {
  height: 60px;
  position: relative;
  line-height: 57px;
  padding-left: 17px;
}

.spe-dia-tabs .bottom-line {
  position: absolute;
  left: 0;
  bottom: 1px;
  height: 1px;
  width: 100%;
  background: #DCDFE6;
  z-index: 10;
}

.spe-tab-u {
  float: left;
  padding: 0 20px;
  font-size: 16px;
  position: relative;
  z-index: 20;
}

.spe-tab-u + .spe-tab-u {
  margin-left: 30px;
}

.spe-tab-u.active {
  border-bottom: 3px solid #169AFF;
  color: #169AFF;
}

.spe-footer-btns {
  text-align: right;
  margin-top: 11px;
}

.spe-footer-btns .el-button {
  margin-left: 10px;
}

.el-button--medium {
  height: 34px;
}

.spe-footer-btns .el-button--medium {
  min-width: 90px;
  text-align: center;
}

.spe-tab-contents {
  height: 517px;
  overflow-x: hidden;
  overflow-y: auto;
}

.spe-base-info-box {
  padding: 29px 50px 0 10px;
}

.special-main-wrap .el-col-10 {
  width: 430px;
}

.special-main-wrap .el-col-7 {
  width: 362px;
}

.special-main-wrap .el-select,
.special-main-wrap .el-date-editor,
.spe-pane-wrap .el-date-editor {
  width: 100%;
}

.special-main-wrap .el-form-item {
  padding: 10px 0;
}

.special-main-wrap .el-input-group__append {
  background-color: #fff;
}

.special-message-box {
  padding-bottom: 17px;
}

.special-message-box .el-message-box__header {
  padding: 26px 26px 5px;
}

.special-message-box .el-message-box__content {
  padding: 26px 26px;
}

.special-message-box .el-message-box__btns {
  padding: 10px 26px 0px;
}

.spe-file-box {
  padding: 16px 23px 12px 27px;
}

.spe-file-table {
  margin-top: 10px;
}

.spe-file-btn {
  float: left;
  cursor: pointer;
  color: #169AFF;
}

.spe-file-btn:hover {
  text-decoration: underline;
}

.spe-file-btn.delete {
  color: #FF4B47;
}

.spe-ope-line {
  float: left;
  width: 1px;
  height: 14px;
  background: #B2B7C5;
  margin: 5px 7px 0px;
}

.spe-pane-wrap {
  padding: 15px 26px;
}

.spe-collapse.el-collapse {
  border-top: none;
}

.spe-collapse .el-collapse-item__arrow {
  color: #169AFF;
}

.spe-collapse .el-collapse-item__header {
  border-bottom: 2px solid #169AFF;
  color: #169AFF;
  line-height: 42px;
  font-size: 16px;
  font-weight: bold;
  padding-left: 10px;
}

.spe-collapse .el-collapse-item__wrap {
  border: none;
}

.spe-collapse .ag-files {
  font-weight: normal;
  margin-right: 10px;
  font-size: 24px;
}

.item-spe-number {
  display: inline-block;
  width: 22px;
  height: 22px;
  border-radius: 4px;
  background-color: #FFB822;
  color: #fff;
  margin-left: 10px;
  line-height: 22px;
  text-align: center;
}

.spe-collapse .spe-item-uboxs {
  padding: 24px 22px 0px 13px;
}

.spe-item-uboxs {
  padding-top: 0px;
}

.spe-item-u + .spe-item-u {
  margin-top: 20px;
}

.top-time-text-box {
  height: 36px;
  color: #fff;
  line-height: 32px;
}

.top-time-text-box > div {
  float: left;
}

.top-time-text-box .ttt-f {
  width: 9px;
  background-image: url("../imgs/g3.png");
  background-repeat: no-repeat;
  height: 36px;
}

.top-time-text-box .ttt-s {
  padding: 0 8px;
  background-image: url("../imgs/g2.png");
  background-repeat: repeat-x;
  height: 36px;
}

.top-time-text-box .ttt-t {
  width: 28px;
  height: 36px;
  background-image: url("../imgs/g1.png");
  background-repeat: no-repeat;
}

.top-time-text-box.is-blue .ttt-f {
  background-image: url("../imgs/b3.png");
}

.top-time-text-box.is-blue .ttt-s {
  background-image: url("../imgs/b2.png");
}

.top-time-text-box.is-blue .ttt-t {
  background-image: url("../imgs/b1.png");
}

.spe-info-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 13px;
}

.spe-info-table td {
  border: 1px solid #DCDFE6;
  line-height: 24px;
  padding: 12px 12px;
}

.td-bg-grey {
  background: rgba(245, 247, 250, 1);
  width: 150px;
}

.td-bg-grey.w1 {
  width: 55px;
}

.td-bg-grey.w2 {
}

.td-bg-grey.w3 {
  width: 70px;
}

.td-bg-grey.w4 {
  width: 80px;
}

.td-bg-grey.w5 {
  width: 80px;
}

.td-bg-grey.w6 {
}

.td-bg-grey.w7 {
  width: 60px;
}

.td-bg-grey.w8 {
  width: 150px;
}

.spe-table-file-u {
  height: 25px;
  line-height: 25px;
}

.spe-table-file-u + .spe-table-file-u {
  margin-top: 10px;
}

.spe-result-form-box {
  padding: 10px 0px 10px 3px;
}

.spe-result-tabs {
  padding: 2px 0 0 17px;
  border-bottom: 1px solid #DCDFE6;
  height: 55px;
}

.spe-result-tab {
  float: left;
  padding: 0 20px;
  line-height: 51px;
  margin-right: 30px;
  cursor: pointer;
}

.spe-result-tab.active {
  border-bottom: 2px solid #169AFF;
  color: #169AFF;
}

.spe-result-form-box .el-form-item {
  padding: 10px 0;
}

.spe-result-upload-wrap {
  padding: 16px 0px 20px 33px;
}

.spe-result-upload-wrap .el-table th {
  padding: 6px 0px;
}

.spe-result-upload-wrap td {
  border-width: 0px 1px 1px 0px;
}

.spe-result-all-box {
  padding: 0px 20px 20px 0px;
}

.non-file-text {
  color: #AFB2C1;
}

.spe-table-file-u:hover .ag-ope-btn {
  display: inline;
}

.spe-table-file-u:hover {
  color: #169AFF;
}

.ag-ope-btn {
  display: none;
  margin-left: 15px;
  color: #169AFF;
  cursor: pointer;
}

/*特殊程序 end*/
#selectedAssignees > a {
  padding-bottom: 10px;
}

/*材料补正 新 start*/
.bz-dialog-wrap {
  background: #F0F3F6;
  padding: 14px;
}

.bz-dialog-box {
  background: #fff;
}

.bz-form {
  padding: 12px 18px 18px 0;
  border-bottom: 1px dashed #DCDFE6;
}

.bz-two-table-wrap {
  padding: 18px 18px 12px 21px;
  position: relative;
}

.bz-dia-table {
  border: 1px solid #DCDFE6;
  padding: 13px 11px;
  position: relative;
  height: 366px;
}

.table-center-arrow {
  float: left;
  width: 28px;
  height: 30px;
  position: relative;
}

.table-center-arrow::before {
  content: '';
  width: 21px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -9px 0 0 -10px;
  margin-top: 130px;
  background: url("../imgs/table-arrow.png");
}

.bz-table-top {
  line-height: 30px;
}

.bz-dia-table-left {
  width: 44px;
}

.left-is-expand .bz-dia-table-left {
  width: 480px;
}

.left-is-expand .bz-dia-table-right {
  width: 623px;
}

.bz-dia-table-right {
  width: 1059px;
}

.bz-table-top .bz-t-icon {
  font-size: 22px;
  position: relative;
  top: 3px;
  color: #575962;
  cursor: pointer;
}

.bz-dia-table .el-button--small {
  padding: 8px 17px;
}

.bz-table-out {
  margin-top: 8px;
}

.bz-table-out .el-table th {
  padding: 4px 0;
}

.bz-table-out .el-table .cell {
  padding-left: 8px;
  padding-right: 8px;
}

.bz-table-out .ag-trash {
  color: #FF4B47;
  font-size: 18px;
  cursor: pointer;
}

.bz-table-out th label.el-checkbox {
  display: none;
}

.bz-table-out .el-input-number--small {
  width: 50px;
}

.bz-table-out .el-input-number.is-without-controls .el-input__inner {
  padding: 0 5px;
}

.table-section-title {
  height: 16px;
  line-height: 16px;
  border-left: 3px solid #169AFF;
  padding-left: 7px;
  margin-top: 22px;
}

/*材料补正 新 end*/
/*证照库材料库 start*/
.id-lib-top-search {
  line-height: 36px;
}

.mat-table-btn {
  float: left;
  color: #169AFF;
  line-height: 25px;
  height: 25px;
  cursor: pointer;
}

.mat-table-btn:hover {
  text-decoration: underline;
}

.mat-table-btn.ope-disabled {
  color: #8c939d;
  cursor: text;
}

.mat-table-btn.ope-disabled:hover {
  text-decoration: none;
}

.mat-ope-line {
  float: left;
  width: 1px;
  height: 12px;
  background: #DCDFE6;
  margin: 7px 7px 0 7px;
}

.next-margin-top + .next-margin-top {
  margin-top: 20px;
}

/*证照库材料库 end*/
.mat-form-dialog .el-dialog {
  width: 80%;
}

.form-el-tabs,
.form-el-tabs .el-tabs__content,
.form-el-tabs .el-tab-pane {
  height: 100%;
}

.process-dia-btn-u {
  cursor: pointer;
  border: 1px solid #DCDFE6;
  color: #575962;
  display: inline-block;
  border-radius: 3px;
  padding: 5px 10px;
  margin: 5px 0;
}

.process-dia-btn-u:hover {
  opacity: 0.7;
}

.form-el-tabs .el-tabs__nav-scroll {
  padding: 0px;
}

.form-el-tabs .el-tabs__item {
  max-width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-wrap: normal;
}

/*撤件 start*/
.cancel-app-dialog .el-table th {
  padding: 0;
}

.cancel-app-dialog .el-table__empty-text,
.cancel-app-dialog .el-table__empty-block {
  line-height: 50px;
  min-height: 40px;
}

.cancel-app-dialog .el-input.is-disabled .el-input__inner {
  background-color: #FFF;
  border-color: #DCDFE6;
  color: #606266;
}

/*撤件 end*/
/*联系人新增编辑弹窗 start*/
.dg-modal-add-linkmain-info .el-select {
  width: 100%;
}

/*联系人新增编辑弹窗 end*/
/*意见征询start*/
.solicit-table .el-table__expand-column {
  border-right: 0 !important;
}

.solict-pt.el-table th {
  padding: 0;
}

.status-span {
  display: inline-block;
  height: 24px;
  line-height: 22px;
  border-radius: 12px;
  color: #4EB2FD;
  border: 1px solid #4EB2FD;
  padding: 0 12px;
}

.status-span.done {
  border-color: #00C161;
  color: #00C161;
}

.status-span.back {
  border-color: #B8C8DC;
  color: #B8C8DC;
}

.status-span.forward {
  border-color: #B8C8DC;
  color: #B8C8DC;
}

.status-span.unuse {
  border-color: #B8C8DC;
  color: #B8C8DC;
}

.status-span.red {
  border-color: #FF4B47;
  color: #FF4B47;
}

.solicit-opinion-dialog .el-dialog__body,
.solicit-opinion-dialog .el-dialog__footer {
  background: #F0F3F6;
}

.solicit-opinion-dialog .el-dialog__footer {
  padding: 12px 25px;
}

.solicit-opinion-dialog .el-dialog__body {
  padding: 14px 14px 0 14px;
}

.solicit-o-wrap {
  background: #fff;
}

.s-o-tabs {
  padding: 0px 0 0 19px;
  height: 39px;
  border-bottom: 1px solid #F0F3F6;
}

.so-tab-text {
  float: left;
  line-height: 36px;
  color: #575962;
  font-size: 16px;
  font-weight: bold;
  margin-left: 24px;
  padding: 0 8px;
  cursor: pointer;
}

.so-tab-text:hover {
  color: #169AFF;
  opacity: 0.7;
}

.so-tab-text.active {
  color: #169AFF;
  border-bottom: 3px solid #169AFF;
}

.so-content-u {
  padding: 0px 16px 12px 32px;
}

.so-hint-box {
  position: relative;
  border: 1px solid #FFB822;
  border-radius: 4px;
  color: #3F4047;
  font-size: 14px;
  line-height: 20px;
  padding: 11px 15px 11px 44px;
  background: rgba(255, 252, 238, 1);
}

.so-hint-box .ag {
  position: absolute;
  left: 16px;
  top: 12px;
  display: block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 20px;
  color: #FFB822;
}

.so-table-title {
  height: 44px;
  line-height: 44px;
  color: #575962;
  font-weight: bold;
  padding-left: 14px;
  position: relative;
}

.so-table-title::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 14px;
  width: 6px;
  height: 16px;
  border-radius: 3px;
  background: #169AFF;
}

.so-content-u .el-textarea__inner {
  padding: 5px 10px;
}

.so-transfer-u {
  float: left;
  width: 47%;
  border: 1px solid #CEDAE8;
  border-radius: 4px;
  width: 49%;
}

.so-transfer-u + .so-transfer-u {
  margin-left: 2%
}

.so-center-btns {
  float: left;
  width: 6%;
  min-height: 200px;
  overflow: visible;
}

.so-transfer-title {
  padding: 0 20px;
  line-height: 46px;
  border-bottom: 1px solid #CEDAE8;
  background: #F3F6F9;
}

.so-ope-content {
  /*min-height: 200px;*/
  padding: 10px;
}

.el-form.so-form-c {
  padding: 15px 16px 0 0;
}

.so-checked-org {
  margin-bottom: 10px;
  line-height: 20px;
  padding: 9px 30px 9px 18px;
  border: 1px solid #CEDAE8;
  border-radius: 4px;
  position: relative;
}

.so-checked-org i {
  position: absolute;
  right: 18px;
  top: 50%;
  margin-top: -6px;
  cursor: pointer;
}

.solicit-o-wrap .el-textarea__inner {
  padding: 5px 10px;
}

/*意见征询end*/
/*一次征询 stat*/
.yczx-inner {
  padding: 0 15px 20px 8px;
}

.yczx-top1 {
  line-height: 20px;
  color: #575962;
}

.yczx-top1 span {
  display: inline-block;
  margin-left: 3px;
  color: #AFB2C1;
  font-size: 13px;
}

.yczx-top2 {
  margin-top: 8px;
  line-height: 32px;
  color: #575962;
  font-size: 24px;
}

.yczx-top2 span {
  display: inline-block;
  line-height: 24px;
  height: 24px;
  color: #fff;
  padding: 0 12px;
  background: #169AFF;
  border-radius: 4px;
  position: relative;
  top: -3px;
  font-size: 14px;
}

.yczx-top3 {
  color: #7F8590;
  line-height: 24px;
  margin-top: 12px;
}

.yczx-top4 {
  line-height: 28px;
  margin-top: 28px;
}

.yczx-top4 > div {
  float: left;
}

.yczx-top4 .org-u {
  position: relative;
  padding: 0 10px;
  border-radius: 14px;
  background: #F0F2F5;
  color: #7F8590;
  margin-left: 8px;
  min-width: 60px;
}

.yczx-top4 .org-u.handled {
  padding-left: 28px;
  color: #575962;
}

.yczx-top4 .org-u .ag {
  width: 20px;
  height: 20px;
  line-height: 20px;
  color: #00C161;
  font-size: 20px;
  position: absolute;
  top: 4px;
  left: 4px;
}

.yczx-top4 .l-icon {
  /*font-size: 26px;*/
  /*color: #cdced0;*/
  width: 20px;
  height: 18px;
  margin-top: 4px;
  background-image: url("../imgs/icon_1.png");
}

.yczx-top4-line {
  width: 1px;
  height: 14px;
  background: #7F8590;
  margin: 7px 10px 0 10px;
}

.yczx-block-title {
  border-bottom: 2px solid #169AFF;
  line-height: 50px;
  color: #169AFF;
  font-size: 16px;
  font-weight: bold;
  padding-left: 35px;
  position: relative;
}

.yczx-block-title .ag-community {
  position: absolute;
  left: 10px;
  top: 1px;
  font-size: 20px;
  color: #169AFF;
}

.conclusion-text {
  background: #F7F7FA;
  line-height: 24px;
  padding: 10px;
  padding-right: 26px;
  min-height: 80px;
}

/*一次征询 end*/
.el-table-padding .el-table__expanded-cell[class*=cell]{
  padding: 10px 60px;
}
.process-dialog .el-icon-full-screen{
  font-size: 18px;
  position: absolute;
  top: 13px;
  right: 50px;
  color: #fff;
  cursor: pointer;
}
.process-dialog .el-dialog{
  margin-bottom:0!important;
}
.process-dialog.full .el-dialog{
  width: 100%!important;
  height: 100%!important;
  margin-top:0!important;
}
.config-org-u{
  padding: 4px 12px;
}
.config-org-u:hover{
  background:#f5f7fa;
}

.guide-prompt{
  width: 700px;
}
.guide-prompt textarea{
  min-height: 85px!important;
}
.guide-prompt .el-message-box__input{
  padding-top: 5px;
}
.guide-prompt .el-message-box__content{
  padding-bottom: 0px;
}
.guide-prompt .el-message-box__errormsg{
  min-height: 8px;
}


















