<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!--公共引入的js css-->
<head th:fragment="commonheader(部门辅导)">
	<meta charset="UTF-8">
	<title>部门辅导</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<link rel="stylesheet" href="/framework-ui/src/main/resources/static/agcloud/framework/js-lib/element-2/element.css"
	      th:href="@{/agcloud/framework/js-lib/element-2/element.css}"/>
	<link rel="stylesheet"
	      href="/framework-ui/src/main/resources/static/agcloud/framework/icon-lib/agcloud-fonts/iconfont.css"
	      th:href="@{/agcloud/framework/icon-lib/agcloud-fonts/iconfont.css}">
	<link rel="stylesheet"
	      href="/framework-ui/src/main/resources/static/agcloud/framework/js-lib/agcloud-lib/css/reset.css"
	      th:href="@{/agcloud/framework/js-lib/agcloud-lib/css/reset.css}">
	<link rel="stylesheet" href="../../static/searchTable/css/search-table.css"
	      th:href="@{/searchTable/css/search-table.css}">

	<script>
		var ctx = '[[@{/}]]';
	</script>
	<script src="../../static/approve/js/ip.js" th:src="@{/approve/js/ip.js}"></script>
	<style type="text/css">
		.remind_btn {
			color: white;
			cursor: pointer;
			background-color: #FF9933;
			height: 22px;
			width: 70px;
			line-height: 22px;
			margin: 0px;
			margin-left: 10px;
			border-radius: 20px;
			border: #FF9933;
			font-size: 12px;
		}

		.remind_text {
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
		}

		.sendMsg {
			padding: 10px 20px;
			border-bottom: 1px solid #EBEDF2;
		}

		.remindContent {
			text-indent: 20px;
			padding: 10px 20px;
			min-height: 200px;
			font-size: 16px;
		}

		.more-time {
			display: inline-block;
			background: #DDDFE3;
			position: relative;
			width: 30px;
			height: 24px;
			line-height: 24px;
			text-align: center;
			border-radius: 12px;
			color: #fff;
		}
	</style>
</head>

<body class="gray-body">
<div class="search-table" id="searchTable" v-loading.fullscreen.lock="loading" v-cloak
     :style="{minHeight: (curHeight-32)+'px'}">
	<div class="search-box">
		<el-form class="search-from clearfix" label-width="100px">
			<el-col :span="24" class="search-item-fif">
				<el-form-item label="搜索关键字" class="search-input">
					<el-input v-model="searchFrom.keyword" placeholder="请输入项目/工程编码、名称等关键词">
						<el-button slot="append" icon="el-icon-search" @click="tableDataSearch">查询</el-button>
					</el-input>
				</el-form-item>
				<span class="more-search-item" @click="showMoreSearchItem=!showMoreSearchItem">高级查询 <i class="icon ag"
				                                                                                       :class="showMoreSearchItem?'ag-up-arrow':'ag-down-arrow'"></i></span>
			</el-col>
			<template v-if="showMoreSearchItem">
<!--				<el-col :span="8">-->
<!--					<el-form-item label="申报来源">-->
<!--						<el-select v-model="searchFrom.applySource" placeholder="请选择" clearable @change="tableDataSearch">-->
<!--							<el-option-->
<!--									v-for="item in applySourceList"-->
<!--									:key="item.itemId"-->
<!--									:label="item.itemName"-->
<!--									:value="item.itemCode">-->
<!--							</el-option>-->
<!--						</el-select>-->
<!--					</el-form-item>-->
<!--				</el-col>-->
<!--				<el-col :span="8">-->
<!--					<el-form-item label="审批类型">-->
<!--						<el-radio-group v-model="searchFrom.applyType" @change="clearThemeList">-->
<!--							<el-radio label="">全部</el-radio>-->
<!--							<el-radio label="0">并联</el-radio>-->
<!--							<el-radio label="1">单项</el-radio>-->
<!--						</el-radio-group>-->
<!--					</el-form-item>-->
<!--				</el-col>-->
<!--				<el-col :span="8">-->
<!--					<el-form-item label="所属主题">-->
<!--						<el-select v-model="searchFrom.theme" placeholder="请选择" clearable :disabled="searchFrom.applyType=='1'"-->
<!--						           @change="tableDataSearch">-->
<!--							<el-option-->
<!--									v-for="item in themeList"-->
<!--									:key="item.themeId"-->
<!--									:label="item.themeName"-->
<!--									:value="item.themeId">-->
<!--							</el-option>-->
<!--						</el-select>-->
<!--					</el-form-item>-->
<!--				</el-col>-->
				<el-col :span="8">
					<el-form-item label="审批时限">
						<el-radio-group v-model="searchFrom.instState" @change="tableDataSearch">
							<el-radio label="">全部</el-radio>
							<el-radio label="2">预警</el-radio>
							<el-radio label="3">逾期</el-radio>
						</el-radio-group>
						<el-select v-model="searchFrom.applyState" @change="tableDataSearch">
							<el-option v-for="u in stateList" :label="u.label" :value="u.value"></el-option>
						</el-select>
					</el-form-item>
				</el-col>
				<el-col :span="8">
					<el-form-item label="辅导时间">
						<el-col :span="10">
							<el-form-item prop="searchFrom.acceptStartTime">
								<el-date-picker type="date"
								                format="yyyy-MM-dd"
								                value-format="yyyy-MM-dd"
								                placeholder="选择时间"
								                v-model="searchFrom.acceptStartTime"
								                style="width: 100%;"
								                @change="tableDataSearch">

								</el-date-picker>
							</el-form-item>
						</el-col>
						<span class="line fl" style="padding: 0 5px">-</span>
						<el-col :span="10">
							<el-form-item prop="searchFrom.acceptEndTime">
								<el-date-picker type="date"
								                format="yyyy-MM-dd"
								                value-format="yyyy-MM-dd"
								                placeholder="选择时间"
								                v-model="searchFrom.acceptEndTime"
								                style="width: 100%;"
								                @change="tableDataSearch">

								</el-date-picker>
							</el-form-item>
						</el-col>
					</el-form-item>
				</el-col>
			</template>
		</el-form>
	</div>

	<el-table class="search-content"
	          :data="tableData"
	          border stripe
	          style="width: 100%"
	          :default-sort="{prop: 'acceptTime', order: 'descending'}"
	          @sort-change='sortChange'>
		<el-table-column
				label=""
				:width="getFirstColumnWidth()">
			<template slot-scope="scope">
				<el-tooltip effect="light" placement="top">
					<div slot="content">未签收</div>
					<span class="ye-color icon ag ag-mail" v-show="!isSign(scope.row)"></span>
				</el-tooltip>

				<el-tooltip effect="light" placement="top">
					<div slot="content">已签收</div>
					<span class="color-C9C9C9 icon ag ag-mail-o" v-show="isSign(scope.row)"></span>
				</el-tooltip>

				<el-popover
						v-if="scope.row.remindList && scope.row.remindList.length>0"
						placement="right"
						width="700"
						trigger="hover">
					<el-row :class="scope.row.remindList.length==1?'popover-item':'popover-item-border-bottom'"
					        v-for="mesItem in scope.row.remindList" :key="mesItem.remindId">
						<el-col class="ye-color" :span="5"
						        v-html="formatDatetimeCommon(mesItem.sendDate,'yyyy-MM-dd hh:mm')"></el-col>
						<el-col class="ye-color remind_text" :span="4">{{mesItem.sendUserName}}</el-col>
						<el-col class="wit-opc-color remind_text" :span="12">{{mesItem.remindContent}}</el-col>
						<el-col class="wit-opc-color" :span="3">
							<button class="remind_btn" @click="showRemindInfo(scope.row,mesItem)">查看</button>
						</el-col>
					</el-row>
					<span slot="reference" class="red-color icon ag ag-message"
					      v-if="scope.row.remindList && scope.row.remindList.length>0"></span>
				</el-popover>

				<el-tooltip effect="light" placement="top">
					<div slot="content">暂无未读催办信息</div>
					<span v-show="!scope.row.remindList || scope.row.remindList.length<=0"
					      class="color-C9C9C9 icon ag ag-message"></span>
				</el-tooltip>

				<el-tooltip effect="light" placement="top">
					<div slot="content">绿色通道</div>
					<span class="is-catalog is-green" v-show="scope.row.isGreenWay=='1'">绿</span>
				</el-tooltip>

			</template>
		</el-table-column>
		<el-table-column
				prop="applySource"
				label="来源"
				min-width="80"
				show-overflow-tooltip
				:formatter="formatTableCell">

		</el-table-column>
		<!--<el-table-column
				prop="applyType"
				min-width="50"
				label="类型"
				show-overflow-tooltip
				:formatter="formatTableCell">
		</el-table-column>
		<el-table-column
				prop="applyinstCode"
				min-width="140"
				label="申报流水号"
				show-overflow-tooltip
				:formatter="formatTableCell">
		</el-table-column>-->
		<el-table-column
				prop="gcbm"
				min-width="200"
				label="项目/工程代码"
				show-overflow-tooltip
				:formatter="formatTableCell">
		</el-table-column>
		<el-table-column
				prop="projName"
				min-width="150"
				label="项目/工程名称">
			<template slot-scope="scope">
				<el-tooltip effect="light" placement="top">
					<div slot="content" v-html="showProjInfo(scope.row)"></div>
					<span>{{scope.row.projName?scope.row.projName:'-'}}</span>
				</el-tooltip>
			</template>
		</el-table-column>

		<el-table-column
				prop="themeName"
				min-width="220"
				label="项目类型"
				show-overflow-tooltip
				:formatter="formatTableCell">
		</el-table-column>

		<el-table-column
				min-width="260px"
				prop="stageItemName"
				label="所处阶段"><!--/事项/辅线名称-->
			<template scope="scope">
				<el-tooltip effect="light" placement="top">
					<div slot="content" v-html="showThemeStageItemInfo(scope.row)"></div>
					<span v-html="stageFormatter(scope.row)"></span>
				</el-tooltip>
			</template>

		</el-table-column>
		<el-table-column
				sortable="custom"
				min-width="150"
				prop="createTime"
				label="开始时间"
				show-overflow-tooltip>
			<template slot-scope="scope">
				{{formatDate(scope.row.guideStartTime)}}
			</template>
		</el-table-column>
		<!--<el-table-column
				prop="taskName"
				min-width="100"
				label="当前节点"
				show-overflow-tooltip
				:formatter="formatTableCell">
		</el-table-column>-->
		<el-table-column
				sortable="custom"
				prop="instState,timeruleUnit,overdueTime,remainingTime"
				min-width="150"
				label="剩余时限">
			<template slot-scope="scope">
				<div v-if="scope.row.isCalcTimerule && scope.row.isCalcTimerule==0">
					<span class="bg-status">不计时</span>
				</div>
				<div v-else>
					<span class="bg-status green-deadline"
								:class="[scope.row.overdue==1?'red-deadline':'green-deadline']">
						{{scope.row.timeLimitText}}</span>
<!--					<span class="bg-status green-deadline" v-if="!scope.row.instState">{{scope.row.timeLimitText}}</span>-->
<!--					<span class="bg-status green-deadline" v-else-if="scope.row.instState=='1'">{{scope.row.remainingOrOverTimeText}}</span>-->
<!--					<span class="bg-status yellow-deadline" v-else-if="scope.row.instState=='2'">{{scope.row.remainingOrOverTimeText}}</span>-->
<!--					<span class="bg-status red-deadline"-->
<!--					      v-else-if="scope.row.instState=='3'">{{scope.row.remainingOrOverTimeText}}</span>-->
<!--					<el-popover-->
<!--							v-if="scope.row.nodeTimelimitList&&scope.row.nodeTimelimitList.length"-->
<!--							placement="right"-->
<!--							width="300"-->
<!--							trigger="hover">-->
<!--						<el-row :class="scope.row.nodeTimelimitList.length==1?'popover-item':'popover-item-border-bottom'"-->
<!--						        v-for="uu in scope.row.nodeTimelimitList" :key="uu.name">-->
<!--							<el-col class="wit-opc-color remind_text" :span="16">-->
<!--								{{uu.name}}：-->
<!--							</el-col>-->
<!--							<el-col :span="8">-->
<!--								<span class="bg-status green-deadline" v-if="!uu.instState">{{'剩余'+uu.text}}</span>-->
<!--								<span class="bg-status green-deadline" v-else-if="uu.instState=='1'">{{uu.text}}</span>-->
<!--								<span class="bg-status yellow-deadline" v-else-if="uu.instState=='2'">{{uu.text}}</span>-->
<!--								<span class="bg-status red-deadline"-->
<!--								      v-else-if="uu.instState=='3'">{{uu.text}}</span>-->
<!--							</el-col>-->
<!--						</el-row>-->
<!--						<span slot="reference" class="more-time">-->
<!--							<i class="el-icon-more"></i>-->
<!--						</span>-->
<!--					</el-popover>-->
				</div>

			</template>

		</el-table-column>
		<el-table-column
				prop="applyStateName"
				min-width="170"
				label="状态"
				show-overflow-tooltip>
		</el-table-column>

		<!--<el-table-column
				sortable="custom"
				min-width="140"
				prop="acceptTime"
				label="受理时间"
				show-overflow-tooltip
				:formatter="formatTableCell">
		</el-table-column>-->

		<el-table-column
				min-width="125"
				label="操作">
			<template slot-scope="scope">
				<span class="op-btn" @click="viewDetail(scope.row)">
					{{stateToText(scope.row.applyState)}}
				</span>
<!--				<span v-if="scope.row.solicitState && scope.row.solicitState == 2" class="op-btn" @click="viewDetail(scope.row)">部门辅导完成</span>-->
<!--				<span v-else-if="scope.row.solicitState && scope.row.solicitState == 3" class="op-btn" @click="viewDetail(scope.row)">部门辅导中止</span>-->
<!--				<span v-else-if="scope.row.finishProgressNum == scope.row.allProgressNum && scope.row.promoter" class="op-btn" @click="viewDetail(scope.row)">结束部门辅导</span>-->
<!--				<span v-else-if="scope.row.solicitState && scope.row.solicitState == 2" class="op-btn" @click="viewDetail(scope.row)">牵头部门辅导</span>-->
<!--				<span v-else-if="scope.row.solicitState && scope.row.solicitState == 2" class="op-btn" @click="viewDetail(scope.row)">部门辅导</span>-->
			</template>
		</el-table-column>
	</el-table>

	<el-pagination class="mt20 mb20 mr20 el-pagination-top" background align="right" @size-change="handleSizeChange"
	               @current-change="handleCurrentChange" :page-sizes="[10, 20, 30, 50]"
	               :page-size="searchFrom.pagination.perpage"
	               :current-page="searchFrom.pagination.page" layout="total,sizes, prev, pager, next, jumper"
	               :total="dataTotal" v-show="dataTotal>10">
	</el-pagination>


	<el-dialog
			title="催办信息"
			:visible.sync="isShowMsgDetail"
			:append-to-body="true"
			:show-close="true"
			width="800px">
		<div class="sendMsg" style="border-top: 1px solid #EBEDF2;"><span>发送人：{{msgDetail.sendUserName}}</span><span
				style="float: right;">发送时间：{{msgDetail.sendDate}}</span></div>
		<div class="remindContent">{{msgDetail.remindContent}}</div>
	</el-dialog>

</div>

<script src="/framework-ui/src/main/resources/static/agcloud/framework/js-lib/jquery-v1/jquery.min.js"
        th:src="@{/agcloud/framework/js-lib/jquery-v1/jquery.min.js}"></script>
<script src="/framework-ui/src/main/resources/static/agcloud/framework/js-lib/vue-v2/vue.js"
        th:src="@{/agcloud/framework/js-lib/vue-v2/vue.js}"></script>
<script src="/framework-ui/src/main/resources/static/agcloud/framework/js-lib/element-2/element.js"
        th:src="@{/agcloud/framework/js-lib/element-2/element.js}"></script>
<script src="/framework-ui/src/main/resources/static/agcloud/framework/js-lib/agcloud-lib/js/common.js"
        th:src="@{/agcloud/framework/js-lib/agcloud-lib/js/common.js}"></script>

<script src="../../static/view/js/mixins.js" th:src="@{/view/js/mixins.js}"
        type="text/javascript"></script>
<script src="../../static/view/js/departGuide.js" th:src="@{/view/js/departGuide.js}"
        type="text/javascript"></script>
</body>

</html>