<!DOCTYPE html>
<html lang="en">
<!--申报页面-apply-公共引入的js css-->
<head th:fragment="commonheader(title)">
  <meta charset="UTF-8">
  <title>全局项目库</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <!--<link rel="stylesheet" href="/framework-ui/src/main/resources/static/agcloud/framework/js-lib/element-2/element.css" th:href="@{/agcloud/framework/js-lib/element-2/element.css}"/>-->
  <link rel="stylesheet" href="../../static/global/element-2.9.2/index.css" th:href="@{/global/element-2.9.2/index.css}">
  <link rel="stylesheet" href="/framework-ui/src/main/resources/static/agcloud/framework/icon-lib/agcloud-fonts/iconfont.css" th:href="@{/agcloud/framework/icon-lib/agcloud-fonts/iconfont.css}">
  <link rel="stylesheet" href="/framework-ui/src/main/resources/static/agcloud/framework/js-lib/agcloud-lib/css/reset.css" th:href="@{/agcloud/framework/js-lib/agcloud-lib/css/reset.css}">
  <link rel="stylesheet" href="../../static/searchTable/css/search-table.css" th:href="@{/searchTable/css/search-table.css}">
  <script>
    var ctx = '[[@{/}]]';
    var onlyRegion = '[[${onlyRegion}]]';
    var onlyOrg = '[[${onlyOrg}]]';
    var handler = '[[${handler}]]';
  </script>
  <style type="text/css">
    .el-dialog__header {
      border: none;
      height: 44px;
      line-height: 44px;
      color: #fff;
      background: #1C9AFD;
      padding: 0 15px;
    }

    .el-dialog__headerbtn:focus .el-dialog__close, .el-dialog__headerbtn:hover .el-dialog__close {
      color: #fff;
    }

    .el-dialog__header .el-dialog__title,
    .el-dialog__headerbtn .el-dialog__close {
      color: #fff;
      font-size: 16px;
    }

    .upload-flie-dialog .upload-s-file {
      display: inline-block;
      height: 34px;
      line-height: 34px;
      margin: 0 10px;
    }
  </style>
</head>
<body  class="gray-body">

<!--引入级联选择模块-->
<div th:replace="../templates/view/components/syncCascader :: syncCascader"></div>

<div class="search-table" id="searchTable" v-loading.fullscreen.lock="loading" v-cloak :style="{minHeight: (curHeight-32)+'px'}">
  <div class="search-box">
    <el-form  class="search-from clearfix" label-width="100px" :rules="baseRules" ref="searchFrom" :model="searchFrom">
      <el-col :span="24" class="search-item-fif" style="width: 80%">
        <el-form-item label="搜索关键字" class="search-input">
          <el-input v-model="searchFrom.keyword" placeholder="请输入项目/工程编码、名称等关键词">
            <el-button slot="append" icon="el-icon-search" @click="tableDataSearch" >查询</el-button>
          </el-input>
        </el-form-item>
        <span class="more-search-item" @click="showMoreSearchItem=!showMoreSearchItem">高级查询 <i class="icon ag" :class="showMoreSearchItem?'ag-up-arrow':'ag-down-arrow'"></i></span>
      </el-col>
<!--      <el-button type="primary" style="float: right" size="medium">新增项目</el-button>-->
      <!--<el-upload action=""-->
                 <!--:show-file-list="false"-->
                 <!--:before-upload="onBeforeUpload"-->
                 <!--accept="multipart">-->
        <!--<el-button class="el-button&#45;&#45;medium">导入代办项目</el-button>-->
      <!--</el-upload>-->
      <div style="float: right">
        <a class="el-button el-button--medium" href="javascript:;" @click.prevent="openImportWin()">导入代办项目</a>
        <a class="el-button el-button--primary el-button--medium" href="projectDetail.html" target="_blank" v-if="isLocal">新增项目</a>
        <a class="el-button el-button--primary el-button--medium" href="javascript:;" @click.prevent="jumpToDetail('add')" v-else>新增项目</a>
        <!--<a class="el-button el-button&#45;&#45;danger el-button&#45;&#45;medium" href="javascript:;" @click.prevent="batchDel" >批量删除</a>-->
      </div>
      <template v-if="showMoreSearchItem">
        <el-col :span="8">
          <el-form-item label="立项类型">
            <el-radio-group v-model="searchFrom.projType" @change="tableDataSearch">
              <el-radio label="">全部</el-radio>
              <el-radio :label="item.itemCode" v-for="item in allDicItemListData.XM_PROJECT_STEP" :key="item.id">
                {{item.itemName}}
              </el-radio>
            </el-radio-group>
          </el-form-item>
        </el-col>
        <el-col :span="8" v-show="searchFrom.onlyRegion=='false'">
          <el-form-item label="行政分区" label-width="120px">
              <v-sync-cascader ref="regionalismSyncCascader"  @tabledatasearch="tableDataSearch" v-bind:dataprops="regionalismProps" v-bind:requesturl="regionalismRequestUrl"></v-sync-cascader>
          </el-form-item>
        </el-col>
        <el-col :span="8">
          <el-form-item label="建设性质" label-width="120px">
            <el-select v-model="searchFrom.projNature" placeholder="请选择" clearable @change="tableDataSearch">
              <el-option :label="item.itemName" :value="item.itemCode" v-for="item in allDicItemListData.XM_NATURE"
                         :key="item.id">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>

        <el-col :span="8" :style="searchFrom.onlyRegion=='false'?'width: 33.4%':''">
          <el-form-item label="重点项目">
            <el-radio-group v-model="searchFrom.projLevel" @change="tableDataSearch">
              <el-radio label="">全部</el-radio>
              <el-radio :label="item.itemCode" v-for="item in allDicItemListData.XM_PROJECT_LEVEL" :key="item.id">
                {{item.itemName}}
              </el-radio>
            </el-radio-group>
          </el-form-item>
        </el-col>

        <el-col :span="8" :style="searchFrom.onlyRegion=='false'?'':'width: 33.4%'">
          <el-form-item label="建筑面积(m&sup2;)" label-width="120px">
            <el-col :span="10">
              <el-form-item prop="minBuildAreaSum">
                <el-input v-model="searchFrom.minBuildAreaSum" placeholder="建筑面积">
                </el-input>
              </el-form-item>
            </el-col>
            <span class="line fl" style="padding: 0 5px">-</span>
            <el-col :span="10">
              <el-form-item prop="maxBuildAreaSum">
                <el-input v-model="searchFrom.maxBuildAreaSum" placeholder="建筑面积">
                </el-input>
              </el-form-item>
            </el-col>
          </el-form-item>
        </el-col>

        <el-col :span="8" style="width: 33%">
          <el-form-item label="最后修改时间" label-width="120px">
            <el-col :span="10">
              <el-form-item >
                <el-date-picker type="date"
                                format="yyyy-MM-dd"
                                value-format="yyyy-MM-dd"
                                placeholder="选择时间"
                                v-model="searchFrom.modifyStartTime"
                                style="width: 100%;"
                                @change="tableDataSearch">

                </el-date-picker>
              </el-form-item>
            </el-col>
            <span class="line fl" style="padding: 0 5px">-</span>
            <el-col :span="10">
              <el-form-item>
                <el-date-picker type="date"
                                format="yyyy-MM-dd"
                                value-format="yyyy-MM-dd"
                                placeholder="选择时间"
                                v-model="searchFrom.modifyEndTime"
                                style="width: 100%;"
                                @change="tableDataSearch">

                </el-date-picker>
              </el-form-item>
            </el-col>
          </el-form-item>
        </el-col>

      </template>
    </el-form>
  </div>

  <!--导入代办项目弹窗 start-->
  <el-dialog v-loading="false" element-loading-text="文件上传中"
             element-loading-spinner="el-icon-loading" element-loading-background="rgba(0, 0, 0, 0.3)"
             class="upload-flie-dialog" title="导入代办项目" :visible.sync="showUploadFlag" width="750px">
    <div class="upload-file-content">
      <div class="file-opt-btn">
        <el-upload class="upload-s-file"
                   action=""
                   :show-file-list="false"
                   :before-upload="onBeforeUpload"
                   accept="multipart">
          <el-button class="el-button--primary el-button--medium">导入文件</el-button>
        </el-upload>
        <el-button type="el-button--medium" @click="downloadImportTemplate()">下载模板</el-button>
        &nbsp; &nbsp; &nbsp; &nbsp;
        <span><font style="color: red;font-size: 14px">仅允许导入“xls”或“xlsx”格式文件！</font></span>
      </div>
    </div>
  </el-dialog>
  <!--导入代办项目弹窗 end-->

  <el-table class="search-content"
            :data="tableData"
            border stripe
            :default-sort = "{prop: 'modifyTime', order: 'descending'}"
            style="width: 100%"
            row-key="projInfoId"
            lazy
            :load="load"
            :tree-props="{children: 'children', hasChildren: 'hasChildren'}"
            @selection-change="handleSelectionChange"
            @sort-change='sortChange'>
    <el-table-column
            type="selection"
            width="40">
    </el-table-column>
    <el-table-column
            min-width="200px"
            prop="projName"
            label="项目/工程名称">
        <template scope="scope">
          <el-tooltip effect="light" placement="top">
            <div slot="content" v-html="showAgentProjInfo(scope.row)"></div>
            <span>{{scope.row.projName?scope.row.projName:'-'}}</span>
          </el-tooltip>
        </template>
    </el-table-column>
    <el-table-column
            prop="localCode"
            label="项目/工程代码"
            min-width="120"
            show-overflow-tooltip
            :formatter = "formatTableCell">
    </el-table-column>
    <el-table-column
            prop="projTypeText"
            min-width="50"
            label="立项类型"
            show-overflow-tooltip
            :formatter = "formatTableCell">
    </el-table-column>
    <el-table-column
            prop="regionText"
            min-width="80"
            label="审批行政区划"
            show-overflow-tooltip
            :formatter = "formatTableCell">
    </el-table-column>
    <el-table-column
            prop="projNatureText"
            min-width="50"
            label="建设性质"
            show-overflow-tooltip
            :formatter = "formatTableCell">
    </el-table-column>
    <el-table-column
            prop="projLevelText"
            min-width="50"
            label="重点项目"
            show-overflow-tooltip
            :formatter = "formatTableCell">
    </el-table-column>
    <el-table-column
            prop="themeName"
            min-width="180"
            label="所属主题"
            show-overflow-tooltip
            :formatter = "formatTableCell">
    </el-table-column>
    <el-table-column
            sortable="custom"
            prop="buildAreaSum"
            min-width="120"
            label="建筑面积（m²）"
            show-overflow-tooltip
            :formatter = "formatTableCell">
    </el-table-column>
    <el-table-column
            sortable="custom"
            min-width="100"
            prop="modifyTime"
            label="最后修改时间"
            :formatter="dateFormatCn"
            show-overflow-tooltip>
    </el-table-column>
    <el-table-column
            width="130"
            label="操作">
      <template slot-scope="scope">
          <a class="op-btn btn_border_right" :href="'projectDetail.html?projInfoId='+scope.row.projInfoId" target="_blank" v-if="isLocal">
            编辑
          </a>
          <a class="op-btn btn_border_right" href="javascript:;" target="_blank" @click.prevent="jumpToDetail(scope.row.projInfoId)" v-else>
            编辑
          </a>&nbsp;
        <span class="op-btn"  @click="projPanorama(scope.row.projInfoId)" >全景图</span>
      </template>
    </el-table-column>
  </el-table>
  <el-pagination class="mt20 mb20 mr20 el-pagination-top" background align="right" @size-change="handleSizeChange"
                 @current-change="handleCurrentChange" :page-sizes="[10, 20, 30, 50]" :page-size="searchFrom.pagination.perpage"
                 :current-page="searchFrom.pagination.page" layout="total,sizes, prev, pager, next, jumper"
                 :total="dataTotal" v-show="dataTotal>10">
  </el-pagination>
</div>
<script src="/framework-ui/src/main/resources/static/agcloud/framework/js-lib/jquery-v1/jquery.min.js" th:src="@{/agcloud/framework/js-lib/jquery-v1/jquery.min.js}"></script>
<script src="/framework-ui/src/main/resources/static/agcloud/framework/js-lib/vue-v2/vue.js" th:src="@{/agcloud/framework/js-lib/vue-v2/vue.js}"></script>
<!--<script src="/framework-ui/src/main/resources/static/agcloud/framework/js-lib/element-2/element.js" th:src="@{/agcloud/framework/js-lib/element-2/element.js}"></script>-->
<script src="../../static/global/element-2.9.2/index.js" th:src="@{/global/element-2.9.2/index.js}" type="text/javascript"></script>
<script src="/framework-ui/src/main/resources/static/agcloud/framework/js-lib/agcloud-lib/js/common.js" th:src="@{/agcloud/framework/js-lib/agcloud-lib/js/common.js}"></script>
<script src="../../static/view/js/mixins.js" th:src="@{/view/js/mixins.js}" type="text/javascript"></script>
<script src="../../static/view/js/queryGlobalProjectInfoIndex.js" th:src="@{/view/js/queryGlobalProjectInfoIndex.js}" type="text/javascript"></script>
<script src="../../static/common/js/axios.min.js" th:src="@{/common/js/axios.min.js}"></script>
</body>
</html>