<!DOCTYPE html>
<html lang="en">
<!--申报页面-apply-公共引入的js css-->
<head th:fragment="commonheader(title)">
    <meta charset="UTF-8">
    <title>全局人员库</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="/framework-ui/src/main/resources/static/agcloud/framework/js-lib/element-2/element.css" th:href="@{/agcloud/framework/js-lib/element-2/element.css}"/>
    <link rel="stylesheet" href="/framework-ui/src/main/resources/static/agcloud/framework/icon-lib/agcloud-fonts/iconfont.css" th:href="@{/agcloud/framework/icon-lib/agcloud-fonts/iconfont.css}">
    <link rel="stylesheet" href="/framework-ui/src/main/resources/static/agcloud/framework/js-lib/agcloud-lib/css/reset.css" th:href="@{/agcloud/framework/js-lib/agcloud-lib/css/reset.css}">
    <link rel="stylesheet" href="../../static/searchTable/css/search-table.css" th:href="@{/searchTable/css/search-table.css}">
    <style>
        .linkman-form .el-input {
            width: 240px;
        }
        .linkman-form .fill-item .el-input,
        .linkman-form .fill-item .el-textarea {
            width: 616px;
        }
        .select-drop-box {
            position: absolute;
            top: 40px;
            width: 100%;
            height: 200px;
            overflow-y: auto;
            border: 1px solid #e5e5e5;
            z-index: 99;
            background: #fff;
            border-radius: 4px;
            box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
        }
        .select-drop-box li {
            padding: 0 10px;
            font-size: 16px;
            border-bottom: 1px solid #e8e8e8;
            cursor: pointer;
        }
        .select-drop-box li:hover {
            background-color: #f5f7fa;
        }
        .index-wrapper {
            width: 100%;
            border: 1px solid #e8e8e8;
            min-height: 100%;
        }
        .index-wrapper .title {
            border-bottom: 1px solid #e8e8e8;
            padding: 10px 12px;
            font-size: 16px;
            font-weight: 500;
            font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
        }
        .index-wrapper .tool-bar {
            border-bottom: 1px solid #e8e8e8;
            padding: 10px 12px;
        }
        .index-wrapper .tool-bar .bar-right .el-input {
            width: 400px;
        }
        .upload-card {
            border: 1px solid #ccc;
            padding: 20px 20px 15px 20px;
        }
        .upload-card .upload-btn {
            position: relative;
        }
        .upload-card .upload-btn .tip {
            position: absolute;
            top: 8px;
            left: 110px;
        }
    </style>
    <script>
        var ctx = '[[@{/}]]';
        // var ctx = 'http://192.168.32.46:8083/aplanmis-front/';
    </script>
</head>
<body  class="gray-body">
<div class="search-table" id="searchTable" v-loading.fullscreen.lock="loading" v-cloak :style="{height: (curHeight-32)+'px'}">
    <div class="search-box">
        <el-form  class="search-from clearfix" label-width="100px">
            <el-col :span="24" class="search-item-fif" style="width: 80%">
                <el-form-item label="搜索关键字" class="search-input">
                    <el-input v-model="searchFrom.keyword" placeholder="请输入姓名、身份证号等关键字">
                        <el-button slot="append" icon="el-icon-search" @click="tableDataSearch" >查询</el-button>
                    </el-input>
                </el-form-item>
            </el-col>
            <div style="float: right">
                <a class="el-button el-button--primary el-button--medium" @click="jumpToDetail('add')" target="_blank" >新增人员</a>
            </div>
        </el-form>
    </div>

    <el-table class="search-content"
              :data="tableData"
              border stripe
              style="width: 100%">
        <el-table-column
                min-width="70"
                prop="linkmanName"
                label="联系人姓名"
                show-overflow-tooltip
                :formatter = "formatTableCell">
        </el-table-column>
        <el-table-column
                prop="linkmanCertNo"
                label="身份证号"
                min-width="100"
                show-overflow-tooltip
                :formatter = "formatTableCell">
        </el-table-column>
        <el-table-column
                prop="linkmanMobilePhone"
                min-width="50"
                label="手机号码"
                show-overflow-tooltip
                :formatter = "formatTableCell">
        </el-table-column>
        <el-table-column
                prop="linkmanMail"
                min-width="80"
                label="电子邮箱"
                show-overflow-tooltip
                :formatter = "formatTableCell">
        </el-table-column>
        <el-table-column
                prop="linkmanAddr"
                min-width="100"
                label="联系人住址"
                show-overflow-tooltip
                :formatter = "formatTableCell">
        </el-table-column>
        <el-table-column
                prop="loginName"
                min-width="70"
                label="登录名"
                show-overflow-tooltip
                :formatter = "formatTableCell">
        </el-table-column>
        <el-table-column
                width="180"
                label="操作">
            <template slot-scope="scope">
                <span class="op-btn btn_border_right"  @click="generatePassword(scope.row)" >重置密码</span>
                <span class="op-btn btn_border_right"  @click="jumpToDetail(scope.row.linkmanInfoId)">编辑</span>
                <span class="op-btn"  @click="delLinkMan(scope.row)">删除</span>
            </template>
        </el-table-column>
    </el-table>
    <el-pagination class="mt20 mb20 mr20 el-pagination-top" background align="right" @size-change="handleSizeChange"
                   @current-change="handleCurrentChange" :page-sizes="[10, 20, 30, 50]" :page-size="searchFrom.pagination.perpage"
                   :current-page="searchFrom.pagination.page" layout="total,sizes, prev, pager, next, jumper"
                   :total="dataTotal" v-show="dataTotal>10">
    </el-pagination>

    <!-- 新增，编辑联系人 -->
    <el-dialog :title="isEditLinkManFlag == 1? '编辑联系人':'新增联系人'" :visible.sync="linkManDialogState" width="800px"
               @closed="dialogClose">
        <el-form :model="manForm" :rules="manRules" ref="manForm" :inline="true" label-width="124px" class="linkman-form">
            <div class="divider">
                <span>基本信息</span>
                <el-divider></el-divider>
            </div>
            <el-form-item label="联系人名称" prop="linkmanName">
                <el-input placeholder="请输入联系人名称" v-model="manForm.linkmanName"></el-input>
            </el-form-item>
            <el-form-item label="联系人类型" prop="linkmanType">
                <el-select placeholder="请选择" v-model="manForm.linkmanType" @change="changeLinkmanType">
                    <el-option label="个人联系人" value="c"></el-option>
                    <el-option label="企业联系人" value="u"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item class="fill-item" label="单位名称" v-if="manForm.linkmanType == 'u'">
                <el-input v-model="manForm.applicant">
                    <el-button slot="append" icon="el-icon-search" @click.stop="fetchUnitList"></el-button>
                </el-input>
                <div class="select-drop-box" v-show="isShowSelectDropBox">
                    <ul>
                        <li v-for="item in unitList" :key="item.unitInfoId" @click.stop="selectDropItem(item)">{{item.applicant}}</li>
                    </ul>
                </div>
            </el-form-item>

            <el-form-item label="身份证号" prop="linkmanCertNo">
                <el-input placeholder="请输入身份证号" v-model="manForm.linkmanCertNo"></el-input>
            </el-form-item>
            <el-form-item label="手机号码" prop="linkmanMobilePhone">
                <el-input placeholder="请输入手机号码" v-model="manForm.linkmanMobilePhone"></el-input>
            </el-form-item>
            <el-form-item label="办公电话">
                <el-input placeholder="请输入办公电话" v-model="manForm.linkmanOfficePhon"></el-input>
            </el-form-item>
            <el-form-item label="电子邮件">
                <el-input placeholder="请输入电子邮件" v-model="manForm.linkmanMail"></el-input>
            </el-form-item>
            <el-form-item label="传真">
                <el-input placeholder="请输入传真" v-model="manForm.linkmanFax"></el-input>
            </el-form-item>
            <el-form-item label="登录名">
                <el-input placeholder="请输入登录名" :disabled="true" v-model="curEditRow.loginName"></el-input>
            </el-form-item>
            <el-form-item class="fill-item" label="联系人住址" prop="linkmanAddr">
                <el-input placeholder="请输入联系人住址" v-model="manForm.linkmanAddr"></el-input>
            </el-form-item>
            <el-form-item class="fill-item" label="备注">
                <el-input type="textarea" placeholder="请输入备注" v-model="manForm.linkmanMemo"></el-input>
            </el-form-item>
        </el-form>
        <div class="divider">
            <span>证照信息</span>
            <el-divider></el-divider>
        </div>
        <div class="upload-card">
            <div class="upload-btn">
                <el-upload class="enclosure-upload-ref inlineblock-midd" ref="enclosureUploadRef" action="" :multiple="true"
                           :on-change="enclosureFileSelectChange" :on-remove="enclosureFileSelectRemove" :auto-upload="false">
                    <el-button slot="trigger" size="medium" type="normal">上传文件</el-button>
                </el-upload>
                <span class="tip">上传的附件不可超过10MB，禁止上传以下的附件类型：.exe,.sh,.bat,.com,.dll</span>
            </div>
            <el-table :data="curEditRow.fileList" class="scrollable mt20" style="width: 100%;"
                      @selection-change="handleFileSelectionChange">
                <!-- <el-table-column type="selection" width="55">
                </el-table-column> -->
                <el-table-column label="序号" width="55">
                    <template scope="scope">
                        <span>{{scope.$index + 1}}</span>
                    </template>
                </el-table-column>
                <el-table-column label="文件名">
                    <template scope="scope">
                        <a href="javascript:;" @click="filePreview(scope.row)">{{scope.row.fileName}}</a>
                    </template>
                </el-table-column>
                <el-table-column label="操作" width="100">
                    <template scope="scope">
              <span class="inline-block table-btn" @click="downFile(scope.row)"><i
                      class="el-icon-download"></i></span>
                        <span class="inline-block table-btn btn-hv-danger" @click="deleteContractOne(scope.row)"><i
                                class="el-icon-delete"></i></span>
                    </template>
                </el-table-column>
            </el-table>
        </div>
        <span slot="footer" class="dialog-footer">
        <el-button @click="linkManDialogState = false">取 消</el-button>
        <el-button type="primary" @click="saveLinkManInfo">保 存</el-button>
      </span>
    </el-dialog>
</div>
<script src="/framework-ui/src/main/resources/static/agcloud/framework/js-lib/jquery-v1/jquery.min.js" th:src="@{/agcloud/framework/js-lib/jquery-v1/jquery.min.js}"></script>
<script src="/framework-ui/src/main/resources/static/agcloud/framework/js-lib/vue-v2/vue.js" th:src="@{/agcloud/framework/js-lib/vue-v2/vue.js}"></script>
<script src="/framework-ui/src/main/resources/static/agcloud/framework/js-lib/element-2/element.js" th:src="@{/agcloud/framework/js-lib/element-2/element.js}"></script>
<script src="/framework-ui/src/main/resources/static/agcloud/framework/js-lib/agcloud-lib/js/common.js" th:src="@{/agcloud/framework/js-lib/agcloud-lib/js/common.js}"></script>
<script src="../../static/view/js/mixins.js" th:src="@{/view/js/mixins.js}" type="text/javascript"></script>
<script src="../../static/view/js/queryGlobalLinkmanInfoIndex.js" th:src="@{/view/js/queryGlobalLinkmanInfoIndex.js}" type="text/javascript"></script>
</body>
</html>