<!DOCTYPE html>
<html lang="en">
<!--公共引入的js css-->
<head th:fragment="commonheader(title)">
    <meta charset="UTF-8">
    <title>申报查询</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!--<link rel="stylesheet" href="/framework-ui/src/main/resources/static/agcloud/framework/js-lib/element-2/element.css" th:href="@{/agcloud/framework/js-lib/element-2/element.css}"/>-->
    <link rel="stylesheet" href="../../static/global/element-2.9.2/index.css" th:href="@{/global/element-2.9.2/index.css}">
    <link rel="stylesheet" href="/framework-ui/src/main/resources/static/agcloud/framework/icon-lib/agcloud-fonts/iconfont.css" th:href="@{/agcloud/framework/icon-lib/agcloud-fonts/iconfont.css}">
    <link rel="stylesheet" href="/framework-ui/src/main/resources/static/agcloud/framework/js-lib/agcloud-lib/css/reset.css" th:href="@{/agcloud/framework/js-lib/agcloud-lib/css/reset.css}">
    <link rel="stylesheet" href="../../static/searchTable/css/search-table.css" th:href="@{/searchTable/css/search-table.css}">

    <script>
        var ctx = '[[@{/}]]';
        var handler = '[[${handler}]]';
        var entrust = '[[${entrust}]]';
        var defaultInstState = '[[${defaultInstState}]]';
    </script>
    <style type="text/css">
    </style>
</head>

<body  class="gray-body">

<!--引入催办发送模块-->
<div th:replace="../templates/view/components/sendRemind :: sendRemind"></div>
<!--引入树选择模块-->
<div th:replace="../templates/view/components/syncTreePanel :: syncTreePanel"></div>
<!--引入级联选择模块-->
<div th:replace="../templates/view/components/syncCascader :: syncCascader"></div>

<div class="search-table" id="searchTable" v-loading.fullscreen.lock="loading" v-cloak :style="{minHeight: (curHeight-32)+'px'}">
    <div class="search-box">
        <el-form  class="search-from clearfix" label-width="100px">
            <el-col :span="24" class="search-item-fif" style="width: 80%">
                <el-form-item label="搜索关键字" class="search-input">
                    <el-input v-model="searchFrom.keyword" placeholder="请输入项目/工程编码、名称等关键词">
                        <el-button slot="append" icon="el-icon-search" @click="tableDataSearch" >查询</el-button>
                    </el-input>
                </el-form-item>
                <span class="more-search-item" @click="showMoreSearchItem=!showMoreSearchItem">高级查询 <i class="icon ag" :class="showMoreSearchItem?'ag-up-arrow':'ag-down-arrow'"></i></span>
            </el-col>
            <div style="float: right">
                <a class="el-button el-button--primary el-button--medium" href="javascript:;" @click.prevent="exportExcel">导出</a>
                <a class="el-button el-button--primary el-button--medium" href="javascript:;" @click.prevent="clearSearch">重置</a>
            </div>
            <template v-if="showMoreSearchItem">
                <el-col :span="8">
                    <el-form-item label="申报来源">
                        <el-select v-model="searchFrom.applySource" placeholder="请选择" clearable @change="tableDataSearch">
                            <el-option
                                    v-for="item in applySourceList"
                                    :key="item.itemId"
                                    :label="item.itemName"
                                    :value="item.itemCode">
                            </el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
                <el-col :span="8">
                    <el-form-item label="审批类型">
                        <el-radio-group v-model="searchFrom.applyType" @change="clearThemeList">
                            <el-radio label="">全部</el-radio>
                            <el-radio label="0">并联</el-radio>
                            <el-radio label="1">单项</el-radio>
                        </el-radio-group>
                    </el-form-item>
                </el-col>

                <el-col :span="8">
                    <el-form-item label="申报时间">
                        <el-col :span="10">
                            <el-form-item prop="searchFrom.applyStartTime">
                                <el-date-picker type="date"
                                                format="yyyy-MM-dd"
                                                value-format="yyyy-MM-dd"
                                                placeholder="选择时间"
                                                v-model="searchFrom.applyStartTime"
                                                style="width: 100%;"
                                                @change="tableDataSearch">

                                </el-date-picker>
                            </el-form-item>
                        </el-col>
                        <span class="line fl" style="padding: 0 5px">-</span>
                        <el-col :span="10">
                            <el-form-item prop="searchFrom.applyEndTime">
                                <el-date-picker type="date"
                                                format="yyyy-MM-dd"
                                                value-format="yyyy-MM-dd"
                                                placeholder="选择时间"
                                                v-model="searchFrom.applyEndTime"
                                                style="width: 100%;"
                                                @change="tableDataSearch">

                                </el-date-picker>
                            </el-form-item>
                        </el-col>
                    </el-form-item>
                </el-col>

                <el-col :span="8">
                    <el-form-item label="所属主题">
                        <el-select v-model="searchFrom.theme" placeholder="请选择" clearable :disabled="searchFrom.applyType=='1'" @change="queryApprovalStageList">
                            <el-option
                                    v-for="item in themeList"
                                    :key="item.themeId"
                                    :label="item.themeName"
                                    :value="item.themeId">
                            </el-option>
                        </el-select>
                    </el-form-item>
                </el-col>

                <el-col :span="8">
                    <el-form-item label="审批阶段">
                        <el-select v-model="searchFrom.approvalStage" placeholder="请先选择主题" clearable :disabled="searchFrom.applyType=='1'" @change="tableDataSearch">
                            <el-option
                                    v-for="item in approvalStageList"
                                    :key="item.stageId"
                                    :label="item.stageName"
                                    :value="item.stageId">
                            </el-option>
                        </el-select>
                    </el-form-item>
                </el-col>

                <el-col :span="8">
                    <el-form-item label="申报状态">
                        <el-select v-model="searchFrom.applyState" placeholder="请选择" clearable @change="tableDataSearch">
                            <el-option
                                    v-for="item in applyStateList"
                                    :key="item.itemId"
                                    :label="item.itemName"
                                    :value="item.itemCode">
                            </el-option>
                        </el-select>
                    </el-form-item>
                </el-col>

                <el-col :span="8">
                    <el-form-item label="行业分类">
                        <v-sync-tree-panel ref="industryTreePanel" title="国标行业" @tabledatasearch="tableDataSearch" v-bind:dataprops="industryProps" v-bind:requesturl="industryRequestUrl"></v-sync-tree-panel>
                    </el-form-item>
                </el-col>

                <el-col :span="8">
                    <el-form-item label="立项类型">
                        <el-select v-model="searchFrom.projType" placeholder="请选择" clearable @change="tableDataSearch">
                            <el-option
                                    v-for="item in projTypeList"
                                    :key="item.itemId"
                                    :label="item.itemName"
                                    :value="item.itemCode">
                            </el-option>
                        </el-select>
                    </el-form-item>
                </el-col>

                <el-col :span="8">
                    <el-form-item label="项目级别">
                        <el-select v-model="searchFrom.projLevel" placeholder="请选择" clearable @change="tableDataSearch">
                            <el-option
                                    v-for="item in projLevelList"
                                    :key="item.itemId"
                                    :label="item.itemName"
                                    :value="item.itemCode">
                            </el-option>
                        </el-select>
                    </el-form-item>
                </el-col>

                <el-col :span="8">
                    <el-form-item label="投资类别">
                        <el-select v-model="searchFrom.investCategory" placeholder="请选择" clearable @change="tableDataSearch">
                            <el-option
                                    v-for="item in investCategoryList"
                                    :key="item.itemId"
                                    :label="item.itemName"
                                    :value="item.itemCode">
                            </el-option>
                        </el-select>
                    </el-form-item>
                </el-col>

                <el-col :span="8">
                    <el-form-item label="建设性质">
                        <el-select v-model="searchFrom.buildNature" placeholder="请选择" clearable @change="tableDataSearch">
                            <el-option
                                    v-for="item in buildNatureList"
                                    :key="item.itemId"
                                    :label="item.itemName"
                                    :value="item.itemCode">
                            </el-option>
                        </el-select>
                    </el-form-item>
                </el-col>

                <el-col :span="8">
                    <el-form-item label="行政分区">
                        <v-sync-cascader ref="regionalismSyncCascader"  @tabledatasearch="tableDataSearch" v-bind:dataprops="regionalismProps" v-bind:requesturl="regionalismRequestUrl"></v-sync-cascader>
                    </el-form-item>
                </el-col>

                <el-col :span="8" v-if="defaultInstState==''">
                    <el-form-item label="审批时限">
                        <el-radio-group v-model="searchFrom.instState" @change="tableDataSearch">
                            <el-radio label="">全部</el-radio>
                            <el-radio label="2">预警</el-radio>
                            <el-radio label="3">逾期</el-radio>
                        </el-radio-group>
                    </el-form-item>
                </el-col>
            </template>
        </el-form>
    </div>

    <el-table class="search-content"
              :data="tableData"
              border stripe
              style="width: 100%"
              :default-sort = "{prop: 'applyTime', order: 'descending'}"
              @sort-change='sortChange'>
        <el-table-column
                prop="applySource"
                label="来源"
                min-width="50"
                show-overflow-tooltip
                :formatter = "formatTableCell">

        </el-table-column>
        <el-table-column
                prop="applyType"
                min-width="50"
                label="类型"
                show-overflow-tooltip
                :formatter = "formatTableCell">
        </el-table-column>
        <el-table-column
                prop="applyinstCode"
                min-width="140"
                label="申报流水号"
                show-overflow-tooltip
                :formatter = "formatTableCell">
        </el-table-column>
        <el-table-column
                prop="localCode"
                min-width="220"
                label="项目/工程代码"
                show-overflow-tooltip
                :formatter = "formatTableCell">
        </el-table-column>
        <el-table-column
                sortable="custom"
                prop="projName"
                min-width="150"
                label="项目/工程名称">
            <template scope="scope">
                <el-tooltip  effect="light" placement="top" >
                    <div slot="content" v-html="showProjInfo(scope.row)"></div>
                    <span>{{scope.row.projName?scope.row.projName:'-'}}</span>
                </el-tooltip>
            </template>
        </el-table-column>
        <el-table-column
                sortable="custom"
                prop="linkmanName"
                min-width="80"
                label="申请人"
                show-overflow-tooltip
                :formatter = "formatTableCell">
        </el-table-column>
        <el-table-column
                min-width="260px"
                prop="stageItemName"
                label="阶段/事项/辅线名称">
            <template scope="scope">
                <el-tooltip  effect="light" placement="top" >
                    <div slot="content" v-html="showThemeStageItemInfo(scope.row)"></div>
                    <span v-html="stageFormatter(scope.row)"></span>
                </el-tooltip>
            </template>
        </el-table-column>
        <el-table-column
                sortable="custom"
                prop="applyState"
                min-width="100"
                label="申报状态"
                show-overflow-tooltip
                :formatter = "formatTableCell">
        </el-table-column>
        <el-table-column
                sortable="custom"
                prop="instState,timeruleUnit,overdueTime,remainingTime"
                min-width="105"
                label="剩余时限">
            <template slot-scope="scope">
                <span class="bg-status green-deadline" v-if="!scope.row.instState">{{'剩余'+scope.row.dueNumText}}</span>
                <span class="bg-status green-deadline" v-else-if="scope.row.instState=='1'">{{scope.row.remainingOrOverTimeText}}</span>
                <span class="bg-status yellow-deadline" v-else-if="scope.row.instState=='2'">{{scope.row.remainingOrOverTimeText}}</span>
                <span class="bg-status red-deadline" v-else-if="scope.row.instState=='3'">{{scope.row.remainingOrOverTimeText}}</span>
            </template>
        </el-table-column>
        <el-table-column
                sortable="custom"
                min-width="140"
                prop="applyTime"
                label="申报时间"
                show-overflow-tooltip
                :formatter = "formatTableCell">
        </el-table-column>
        <el-table-column
                min-width="100"
                label="操作">
            <template slot-scope="scope">
                <span class="op-btn"  @click="viewDetail(scope.row)" v-show="defaultInstState==''">查看</span>
                <span class="op-btn btn_border_right"  @click="viewDetail(scope.row)" v-show="defaultInstState!=''">查看</span>
                <span class="op-btn"  @click="handleRemind(scope.$index, scope.row)" v-show="defaultInstState!=''">催办</span>
            </template>
        </el-table-column>
    </el-table>

    <el-pagination class="mt20 mb20 mr20 el-pagination-top" background align="right" @size-change="handleSizeChange"
                   @current-change="handleCurrentChange" :page-sizes="[10, 20, 30, 50]" :page-size="searchFrom.pagination.perpage"
                   :current-page="searchFrom.pagination.page" layout="total,sizes, prev, pager, next, jumper"
                   :total="dataTotal" v-show="dataTotal>10">
    </el-pagination>

    <v-send-remind ref="sendRemind"></v-send-remind>

</div>

<script src="/framework-ui/src/main/resources/static/agcloud/framework/js-lib/jquery-v1/jquery.min.js" th:src="@{/agcloud/framework/js-lib/jquery-v1/jquery.min.js}"></script>
<script src="/framework-ui/src/main/resources/static/agcloud/framework/js-lib/vue-v2/vue.js" th:src="@{/agcloud/framework/js-lib/vue-v2/vue.js}"></script>
<!--<script src="/framework-ui/src/main/resources/static/agcloud/framework/js-lib/element-2/element.js" th:src="@{/agcloud/framework/js-lib/element-2/element.js}"></script>-->
<script src="../../static/global/element-2.9.2/index.js" th:src="@{/global/element-2.9.2/index.js}" type="text/javascript"></script>
<script src="/framework-ui/src/main/resources/static/agcloud/framework/js-lib/agcloud-lib/js/common.js" th:src="@{/agcloud/framework/js-lib/agcloud-lib/js/common.js}"></script>

<script src="../../static/view/js/mixins.js" th:src="@{/view/js/mixins.js}"
        type="text/javascript"></script>
<script src="../../static/view/js/queryApplyIndex.js" th:src="@{/view/js/queryApplyIndex.js}"
        type="text/javascript"></script>
</body>

</html>