<!-- 新增采购需求 -->
<div class="box normal-module-box" id="addNeedPaurse">
	<h2 class="box-tit">新增采购需求</h2>
	<!-- 采购列表 -->
	<div class="list-wrap pandel" v-if="addNeedStatus == 0">
		<!-- <div class="list-wrap pandel" v-if="false"> -->
		<!-- <div class="hint-box">
				温馨提示：投资项目申报前，请登录“<a href="#">河北投资项目在线审批监管平台</a>”进行项目登记赋码
		</div> -->
		<el-row>
			<div class="tip"></div>
		</el-row>
		<el-row class="mt20">
			项目代码：
			<el-input class="w-200 mr20" v-model="projCode" placeholder="请输入项目代码"></el-input>
			<el-button class="ml20" type="primary" size="medium" @click="getUnpublishedProjInfoList">查询</el-button>
			<el-button class="" type="primary" size="medium" style="float:right"
			           @click="addNeedStatus = 1;readonly=false;isAdd=true;getAutoProjCode();getProUnitLinkInfoWithoutId()">
				新增
			</el-button>
		</el-row>
		<el-table :data="addNeedList" class="scrollable mt20" style="width: 100%;" v-loading="loading"
		          :header-cell-style="{background:'#f7f8fa'}">
			<el-table-column label="项目代码" prop="localCode"></el-table-column>
			<el-table-column label="项目名称" prop="projName"></el-table-column>
			<el-table-column label="操作" width="200">
				<template scope="scope">
					<a class="a-color4879E4"
					   @click="addNeedStatus = 2;getProUnitLinkInfo(scope.row.projInfoId);readonly=true;isAdd=false;proj=false;"
					   href="javascript:;"
					   v-if="loginUserInfo.isOwner == '1' && loginUserInfo.unitId && loginUserInfo.userId == null ">查看项目</a>
					<a class="a-color4879E4" v-else href="javascript:;"
					   @click="addNeedStatus = 1;getProUnitLinkInfo(scope.row.projInfoId);readonly=true;isAdd=false;proj=false;getAutoProjCode()">项目发布</a>
				</template>
			</el-table-column>
		</el-table>

		<el-pagination v-show="total>10" background align="right" :pager-count="5" @size-change="homeHandleSizeChange"
		               :current-page="pageNum" :page-size="pageSize" :page-sizes="[10, 20, 30, 50]"
		               :total="total" @current-change="homeHandleCurrentChange" layout="total,sizes, prev, pager, next, jumper">
		</el-pagination>
	</div>
	<!-- 当前发布项目的详情填写页 -->
	<div class="module-edit-wrap pandel" v-if="addNeedStatus == 1">
		<!-- <div class="module-edit-wrap pandel" v-if="true"> -->
		<div class="info-header clearfix">
			<div class="handel text-right fr">
				<el-button @click="addNeedStatus = 0">返回列表</el-button>
			</div>
		</div>
		<!-- 项目title -->
		<div class="info-title" v-text="ProjName">
			【项目报名】东莞市天然气高压管网工程沙田高中压调压站项目
		</div>
		<el-form :model="form" :rules="rules" label-width="120px" ref="form" class="form" id="matterForm">

			<!-- 项目基本信息 -->
			<div class="info-item edit-item">
				<h2 class="item-title active" @click="expandProjectInfoItem"><i class="item-icon"></i>项目基本信息<i
						class="arrow-icon"></i></h2>
				<div class="item-detail edit-item-detail">
					<el-form-item label="中介服务事项" prop="agentItemName" require>
						<div>
							<el-input placeholder="请选择中介服务事项" v-model="form.agentItemName">
								<el-button slot="append"
								           @click.native="serviceTabledialogTable=true;getAgentServiceItemList()">选择
								</el-button>
							</el-input>
						</div>
						<!-- <div v-show="!!serviceDetail">
							<el-row :gutter="20">
								<el-col :span="8">
									<el-form-item label="事项名称：">{{serviceDetail.agentItemName}}</el-form-item>
								</el-col>
								<el-col :span="8">
									<el-form-item label="实施主体：">{{serviceDetail.agentOrgName}}
									</el-form-item>
								</el-col>
								<el-col :span="8">
									<el-form-item label="服务对象：">{{serviceDetail.agentItemFwdx}}
									</el-form-item>
								</el-col>
								<el-col :span="8">
									<el-form-item label="办件类型：">{{serviceDetail.agentItemPropertyName}}
									</el-form-item>
								</el-col>
							</el-row>
							<el-row :gutter="20">								
								<el-col :span="8">
									<el-form-item label="法定办结时限：">
										{{serviceDetail.agentItemDueNum}}（{{serviceDetail.agentItemDueUnitType}}）
									</el-form-item>
								</el-col>
								<el-col :span="8">
									<el-form-item label="承诺办结时限：">
										{{serviceDetail.agentItemDueNum}}（{{serviceDetail.agentItemDueUnitType}}）
									</el-form-item>
								</el-col>
							</el-row>
						</div> -->
					</el-form-item>
					<!--<el-form-item label="实施主体" prop="agentOrgName">{{form.agentOrgName}}
						<el-input type="text" v-model="form.agentOrgName" class="form-control" disabled>
						</el-input>
					</el-form-item>
					<el-form-item label="涉及的行政事项" prop="itemName">
						<el-input type="text" class="form-control" v-model="form.itemName" disabled>
						</el-input>
					</el-form-item>-->

					<div v-show="isShowServiceDetail" class="clearfix">
						<el-form-item class="inline-block" label="实施主体">{{form.agentOrgName}}</el-form-item>
						<el-form-item class="inline-block" label="涉及的行政事项">{{form.itemName}}</el-form-item>
						<el-form-item class="inline-block" label="服务对象："> {{serviceDetail.agentItemFwdx}}</el-form-item>
						<el-form-item class="inline-block" label="办件类型："> {{serviceDetail.agentItemPropertyName}}</el-form-item>
						<el-form-item class="inline-block" label="法定办结时限：">
							{{serviceDetail.agentItemDueNum}}（{{serviceDetail.agentItemDueUnitType}}）
						</el-form-item>
						<el-form-item class="inline-block" label="承诺办结时限：">
							{{serviceDetail.agentItemDueNum}}（{{serviceDetail.agentItemDueUnitType}}）
						</el-form-item>
					</div>

					<el-form-item label="投资审批项目" prop="isApproveProj" require>
						<div class="input-box input-radio el-input-radio">
							<el-radio v-model="form.isApproveProj" label="1">是</el-radio>
							<el-radio v-model="form.isApproveProj" label="0">否</el-radio>
							<span class="note-txt"
							      style="margin-left: 20px;">备注：若办理投资审批项目是需要采购中介服务的，请选择“是”并填写投资审批项目编码。</span>
						</div>
					</el-form-item>
					<el-form-item label="项目/工程查询" id="projCodeInfo" prop="approvalCode"
					              v-show="form.isApproveProj == 1">
						<el-select v-model="form.approvalCode" filterable remote autofocus reserve-keyword
						           :loading="loadingProjInfo" :remote-method="searchProjInfoByKeyword" no-data-text="暂无匹配的项目/工程"
						           placeholder="请输入项目（工程）的编码 / 名称" ref="searchProjInfo">
							<el-option v-for="item in projInfoList" :key="item.projInfoId"
							           :label="item.projName+' （'+item.localCode+'）'" :value="item.projInfoId"
							           @click.native="projNameSel(item)">
							</el-option>
						</el-select>
					</el-form-item>

					<!--<div class="row">
						<div class="col-md-12 form-item">
							<el-form-item label="" prop="applyinstCode">
								<label>审批业务流水号</label>
								<div class="input-box">
									<el-input type="text" class="form-control" placeholder="请输入流水号" v-model="form.applyinstCode"></el-input>
								</div>
							</el-form-item>
						</div>
					</div>-->

					<div class="clearfix">
						<el-form-item class="inline-block" label="采购项目编码" prop="localCode">
							<el-input type="text" class="form-control" v-model="form.localCode"></el-input>
						</el-form-item>
						<el-form-item class="inline-block" label="项目业主" prop="applicant">
							<el-input type="text" class="form-control" v-model="aeaUnitInfo.applicant">
							</el-input>
						</el-form-item>
					</div>

					<div class="clearfix">
						<el-form-item class="inline-block" label="项目联系人" prop="contact" require>
							<el-input type="text" class="form-control" id="contact" v-model="form.contact">
							</el-input>
						</el-form-item>
						<el-form-item class="inline-block" label="联系电话" prop="basicLinkPhone" require>
							<el-input type="number" class="form-control" id="basicLinkPhone"
							          v-model="form.basicLinkPhone">
							</el-input>
						</el-form-item>
					</div>

					<el-form-item label="采购项目名称" prop="projName" require>
						<!-- <el-input type="text" class="form-control" v-model="aeaProjInfo.projName"></el-input> -->
						<el-input type="text" class="form-control" v-model="form.projName"></el-input>
					</el-form-item>

					<div class="clearfix">
						<el-form-item class="inline-block" label="项目规模" prop="projScale" require>
							<div class="input-box">
								<el-select placeholder="请选择" v-model="form.projScale" style="width: 326px;"
								           :popper-append-to-body="false">
									<el-option v-for="item in projScaleOptions" :key="item.value" :label="item.label"
									           :value="item.value">
									</el-option>
								</el-select>
							</div>
						</el-form-item>
						<el-form-item class="inline-block" prop="projScaleContent" require>
							<div class="input-box">
								<el-input type="text" class="form-control" v-model="form.projScaleContent"></el-input>
							</div>
						</el-form-item>
					</div>

					<el-form-item label="资金来源" prop="chooseInsertype" require>
						<div class="input-box input-checkbox el-input-checkbox">
							<el-checkbox v-model="isFinancialFund">财政资金</el-checkbox>
							<el-checkbox v-model="isSocialFund">社会资金</el-checkbox>
						</div>
					</el-form-item>

					<div class="clearfix">
						<el-form-item class="inline-block" label="资金来源比例" :prop="financialFundProportionchange" require>
							<div class="input-box" v-show="isFinancialFund == 1">
								<span>财政资金</span>
								<el-input type="text" class="form-control inline-input"
								          style="width:200px;display: inline-block;" v-model="form.financialFundProportion">
								</el-input>
								<span>%</span>
							</div>
							<div class="input-box" v-show="isFinancialFund != 1">
								<span></span>
								<el-input type="text" class="form-control inline-input"
								          :disable="true" style="width:200px;display: inline-block;border:none;opacity: 0;">
								</el-input>
							</div>
						</el-form-item>
						<el-form-item class="inline-block" :prop="socialFundProportionchange" require
						              v-show="isSocialFund == 1">
							<div class="input-box">
								<span>社会资金</span>
								<el-input type="text" class="form-control inline-input"
								          style="width:200px;    display: inline-block;" v-model="form.socialFundProportion">
								</el-input>
								<span>%</span>
							</div>
						</el-form-item>
					</div>
				</div>
			</div>

			<!-- 服务要求 -->
			<div class="info-item edit-item">
				<h2 class="item-title active" @click="expandProjectInfoItem"><i class="item-icon"></i>服务要求<i
						class="arrow-icon"></i></h2>
				<div class="item-detail edit-item-detail">
					<el-form-item label="所需服务" prop="serviceName" require>
						<div class="input-box">
							<el-select :popper-append-to-body="false" v-model="form.serviceName" placeholder="所需服务"
							           @change="needServiceListChange" value-key="serviceId">
								<el-option :label="item.serviceName" :value="item" :key="item.serviceId"
								           v-for="(item, index) in needServiceList"></el-option>
							</el-select>
						</div>
					</el-form-item>
					<el-form-item label="服务时限说明" prop="timeLimitExplain" require>
						<div class="input-box">
							<el-input type="textarea" class="form-control" v-model="form.timeLimitExplain"></el-input>
						</div>
					</el-form-item>
					<el-form-item label="服务内容" prop="serviceContent" require>
						<div class="input-box">
							<el-input type="textarea" class="form-control" v-model="form.serviceContent"></el-input>
							<p class="note-txt mt-1" style="paddingTop: 20px; lineHeight: 20px;">
								备注：涉及工程项目的，应当包含工程项目地址、项目基本情况(包含建设规模、建设面积、资金投入等具体参数)。涉及土地、房产评估的、应当包含土地、房产面积、预算价格等内容。
							</p>
						</div>
					</el-form-item>
				</div>
			</div>

			<!-- 中介机构要求 -->
			<div class="info-item edit-item">
				<h2 class="item-title active" @click="expandProjectInfoItem"><i class="item-icon"></i>中介机构要求<i
						class="arrow-icon"></i></h2>
				<div class="item-detail edit-item-detail">
					<div class="form-item">
						<el-form-item label="中介服务机构要求" prop="deparment">
							<!-- <label><b class="red-cl">*</b></label> -->
							<div class="input-box el-input-checkbox">
								<el-checkbox label="isQualRequire" v-model="isQualRequire" :disabled="needs">资质(资格)要求
								</el-checkbox>
								<el-checkbox label="isRegisterRequire" v-model="isRegisterRequire" :disabled="needs">
									执业/职业人员要求
								</el-checkbox>
								<el-checkbox label="isRecordRequire" v-model="isRecordRequire" :disabled="needs">备案要求
								</el-checkbox>
								<el-checkbox label="promiseService" v-model="promiseService" :disabled="unNeeds">仅承诺服务即可
								</el-checkbox>

							</div>
						</el-form-item>
					</div>
					<div v-show="isQualRequire">
						<el-form-item label="资质要求" prop="qualRequireType" require>
							<div class="input-box input-radio el-input-radio">
								<el-radio label="0" v-model="qualRequireType">多个资质子项符合其一</el-radio>
								<el-radio label="1" v-model="qualRequireType">需要同时符合所有选中资质子项</el-radio>
								<p class="note-txt mt-1">
									备注：涉及工程项目的，应当包含工程项目地址、项目基本情况(包含建设规模、建设面积、资金投入等具体参数)。涉及土地、房产评估的、应当包含土地、房产面积
									、预算价格等内容。
								</p>
								<div>
									<div>
										<p class="aptTreeTitle" v-if="aptTreeaFlag" @click="aptTreeaFlag = false">
											<i class="header-icon el-icon-caret-top"></i>收起资质树</p>
										<p class="aptTreeTitle" v-else @click="aptTreeaFlag = true">
											<i class="header-icon el-icon-caret-bottom"></i>展开资质树</p>
									</div>
									<div v-show="aptTreeaFlag" style="border:1px solid #ced4da;max-width: 821px;">
										<el-tabs type="border-card" v-model="activeSN" @tab-click="handleClickAtiveQA">
											<el-tab-pane :label="item.qualName" v-for="(item, index1) in qualArry"
											             :key="item.qualId">
												<el-tabs type="border-card" v-model="activeLE"
												         @tab-click="handleClickAtiveLE">
													<el-tab-pane :label="item.qualLevelName"
													             :key="item.qualLevelId"
													             v-for="(item, index2) in needServiceList2">
													</el-tab-pane>
												</el-tabs>
											</el-tab-pane>
										</el-tabs>
										<el-tree :data="serviceTreeData" show-checkbox default-expand-all node-key="id"
										         :props="defaultProps" @check="handleServiceTreeData" empty-text="请选择所需服务"
										         highlight-current ref="treeService">
										</el-tree>
									</div>
								</div>
							</div>
						</el-form-item>
						<el-form-item label="资质要求说明" :prop="qualRequireExplainchange" require>
							<div class="input-box">
								<el-input type="textarea" class="form-control" style="width: 825px;"
								          v-model="form.qualRequireExplain">
									中介机构需要国土资源部门核发的测绘资质证书
								</el-input>
								<p class="note-txt mt-1" style="padding-top: 24px;padding-left: 12px;">
									备注：请说明资质/分类的具体要求，如行业、专业、等级等。</p>
							</div>
						</el-form-item>
					</div>
					<div v-show="isRegisterRequire">
						<el-form-item class="twoLine" label="执业/职业人员总数" :prop="registerTotalchange" require>
							<div class="input-box">
								<el-input type="text" v-model="form.registerTotal" style="width: 825px;"
								          class="form-control"></el-input>
								<p class="note-txt mt-1" style="padding-top: 24px;padding-left: 12px;">
									备注：请填写为本项目提供服务的中介机构持证执业(职业)人员总数要求。</p>
							</div>
						</el-form-item>
						<el-form-item class="twoLine" label="执业/职业人员要求" :prop="registerRequirechange" require>
							<div class="input-box">
								<el-input type="textarea" class="form-control" style="width: 825px;"
								          v-model="form.registerRequire"></el-input>
								<p class="note-txt mt-1" style="padding-top: 24px;padding-left: 12px;">
									备注：该要求将公示于前台采购公告中。</p>
							</div>
						</el-form-item>
					</div>
					<div v-show="isRecordRequire">
						<el-form-item label="备案要求说明" :prop="recordRequireExplainchange" require>
							<div class="input-box">
								<el-input type="textarea" class="form-control" style="width: 825px;"
								          v-model="form.recordRequireExplain"></el-input>
								<p class="note-txt mt-1" style="padding-top: 24px;padding-left: 12px;">
									备注：该要求将公示于前台采购公告中。</p>
							</div>
						</el-form-item>
					</div>
					<el-form-item label="其他要求说明" prop="deparment">
						<textarea class="form-control" style="width: 825px;    border: 1px solid #DCDFE6;"
						          v-model="form.otherRequireExplain"></textarea>
						<p class="note-txt mt-1">备注：应当包含土地、房产面积、预算价格等内容。</p>
					</el-form-item>
				</div>
			</div>

			<!-- 选取中介机构方式 -->
			<div class="info-item edit-item">
				<h2 class="item-title active" @click="expandProjectInfoItem">
					<i class="item-icon"></i>选取中介机构方式<i class="arrow-icon"></i></h2>
				<div class="item-detail edit-item-detail">
					<div class="row">
						<div class="col-md-6 form-item">
							<el-form-item label="选取中介服务机构方式" prop="biddingType" require>
								<div class="input-box">
									<el-select v-model="form.biddingType" placeholder="请选择" stye="width:825px;"
									           :popper-append-to-body="false" @change="biddingTypeChange">
										<el-option value="1" label="随机抽取"></el-option>
										<el-option value="2" label="直接抽取"></el-option>
										<el-option value="3" label="竞价选取"></el-option>
									</el-select>
								</div>
							</el-form-item>
						</div>
					</div>
					<!--随机抽取 str-->
					<div class="" v-if="form.biddingType == 1">
						<el-form-item label="是否确认金额" prop="isDefineAmount" require>
							<div class="input-box input-radio el-input-radio">
								<el-radio label="1" v-model="form.isDefineAmount">确定服务金额</el-radio>
								<el-radio label="0" v-model="form.isDefineAmount">暂不做评估与预算</el-radio>
							</div>
						</el-form-item>
						<div class="clearfix" v-show="form.isDefineAmount == 1">
							<el-form-item class="inline-block" label="服务金额" prop="basePrice" require>
								<el-input type="number" class="form-control" v-model="form.basePrice"
								          @input="basePriceinput" style="width:300px;display: inline-block;"></el-input>
								<span>元</span>
							</el-form-item>
							<el-form-item class="inline-block" label="金额大写" prop="">
								<div class="input-box">
									<el-input type="text" class="form-control" v-model="basePriceDx"></el-input>
								</div>
							</el-form-item>
						</div>
						<el-form-item class="twoLine" label="是否有回避情况" prop="isAvoid" require>
							<div class="input-box input-radio el-input-radio">
								<el-radio label="1" v-model="form.isAvoid">是</el-radio>
								<el-radio label="0" v-model="form.isAvoid">否</el-radio>
							</div>
						</el-form-item>
						<div v-show="form.isAvoid=='1'">
							<el-form-item label="回避单位" prop="isDefineAmount" require>
								<el-button type="primary" @click="selectOrgan" size="mini">选择单位</el-button>
								<el-table :data="avoidData" stripe border ref="multipleTable2"
								          style="margin-top: 10px;">
									<el-table-column prop="applicant" label="公司名称"></el-table-column>
								</el-table>
							</el-form-item>
							<el-form-item label="回避原因" prop="avoidReason" require>
								<div class="input-box">
									<el-input type="textarea" class="form-control" style="width: 825px;"
									          v-model="form.avoidReason"></el-input>
								</div>
							</el-form-item>
						</div>
					</div>
					<!--直接选取 str-->
					<div class="" v-if="form.biddingType == 2">
						<el-form-item class="twoLine" label="是否确定服务金额" prop="isDefineAmount" require>
							<div class="input-box input-radio el-input-radio">
								<el-radio label="1" v-model="form.isDefineAmount">确定服务金额</el-radio>
							</div>
						</el-form-item>
						<div class="clearfix" v-show="form.isDefineAmount == 1">
							<el-form-item class="inline-block" label="服务金额" prop="basePrice" require>
								<el-input type="number" class="form-control" v-model="form.basePrice"
								          @input="basePriceinput" style="width: 300px;"></el-input>
								<span>元</span>
							</el-form-item>
							<el-form-item class="inline-block" label="金额大写" prop="">
								<div class="input-box">
									<el-input type="text" class="form-control" v-model="basePriceDx"></el-input>
								</div>
							</el-form-item>
						</div>

						<el-form-item class="twoLine" label="查看符合条件的中介机构" prop="deparment"
						              v-show="form.biddingType == 2">
							<div class="input-box">
								<el-button type="primary" @click="getAgentUnitInfoList">查看</el-button>
							</div>
						</el-form-item>
						<el-form-item label="指定的中介机构" :prop="agentUnitNamechange" require
						              v-show="biddingType == 2 && multipleSelection3.length>0">
							<div class="input-box input-radio el-input-radio">
								<p>{{multipleSelection3[0].agentUnitName}}</p>
							</div>
						</el-form-item>
					</div>
					<!--竞价选取 str-->
					<div class="" v-if="form.biddingType == 3">
						<el-form-item label="报价方式" prop="quoteType" require>
							<div class="input-box input-radio el-input-radio">
								<el-radio label="0" v-model="form.quoteType">服务金额</el-radio>
								<!--<el-radio label="1" v-model="form.quoteType">下浮率</el-radio>-->
							</div>
						</el-form-item>
						<div v-show="form.quoteType == 1">
							<div class="clearfix">
								<el-form-item class="inline-block" label="下浮率" prop="basePrice" require>
									<el-input type="text" class="form-control" v-model="form.basePrice"
									          @input="basePriceblur" style="width: 300px;"></el-input>
									<span>&nbsp;%</span>
								</el-form-item>
								<el-form-item class="inline-block" label="" prop="highestPrice" require>
									<span>至</span>
									<el-input type="text" class="form-control" v-model="form.highestPrice"
									          @input="highestPriceblur" style="width: 300px;"></el-input>
									<span>&nbsp;%</span>
								</el-form-item>
							</div>
						</div>
						<div v-show="form.quoteType == 0">
							<div class="clearfix">
								<el-form-item class="inline-block" label="服务金额" prop="basePrice" require>
									<el-input type="text" class="form-control" v-model="form.basePrice"
									          @input="basePriceblur" style="width: 300px;"></el-input>
									<span>&nbsp;元</span>
								</el-form-item>
								<el-form-item class="inline-block" label="" prop="highestPrice" require>
									<span>至</span>
									<el-input type="text" class="form-control" v-model="form.highestPrice"
									          @input="highestPriceblur" style="width: 300px;"></el-input>
									<span>&nbsp;元</span>
								</el-form-item>
							</div>
							<div class="clearfix">
								<el-form-item class="inline-block" label="金额大写" prop="" require>
									<el-input type="text" class="form-control" v-model="basePriceDx"
									          style="width: 300px;"></el-input>
									<span>&nbsp;元</span>
								</el-form-item>
								<el-form-item class="inline-block" label="" prop="">
									<span>至</span>
									<el-input type="text" class="form-control" v-model="highestPriceDx"
									          style="width: 300px;">
									</el-input>
									<span>&nbsp;元</span>
								</el-form-item>
							</div>
						</div>
						<el-form-item class="twoLine" label="是否有回避情况" prop="isAvoid" require>
							<div class="input-box input-radio el-input-radio">
								<el-radio label="1" v-model="form.isAvoid">是</el-radio>
								<el-radio label="0" v-model="form.isAvoid">否</el-radio>
							</div>
						</el-form-item>

						<div v-show="form.isAvoid=='1'">
							<el-form-item label="回避单位" prop="isDefineAmount" require>
								<el-button type="primary" @click="selectOrgan" size="mini">选择单位</el-button>
								<el-table :data="avoidData" stripe border ref="multipleTable2"
								          style="margin-top: 10px;">
									<el-table-column prop="applicant" label="公司名称"></el-table-column>
								</el-table>
							</el-form-item>
							<el-form-item label="回避原因" prop="avoidReason" require>
								<div class="input-box">
									<el-input type="textarea" class="form-control" style="width: 825px;"
									          v-model="form.avoidReason"></el-input>
								</div>
							</el-form-item>
						</div>
					</div>

					<el-form-item label="报名截止时间" prop="expirationDate" require>
						<div class="input-box">
							<el-date-picker stye="width:823px;" v-model="form.expirationDate" type="datetime"
							                :popper-append-to-body="false" default-time="00:00:00" placeholder="选择日期时间"
							                value-format="yyyy-MM-dd HH:mm:ss">
							</el-date-picker>
						</div>
					</el-form-item>
					<el-form-item label="选取中介时间" prop="choiceImunitTime" require>
						<div class="input-box">
							<el-date-picker stye="width:823px;" v-model="form.choiceImunitTime" type="datetime"
							                :popper-append-to-body="false" default-time="00:00:00" placeholder="选择日期时间"
							                value-format="yyyy-MM-dd HH:mm:ss">
							</el-date-picker>
						</div>
					</el-form-item>

					<el-form-item label="金额说明" prop="amountExplain" require>
						<div class="input-box">
							<el-input type="textarea" class="form-control" style="width: 825px;"
							          v-model="form.amountExplain"></el-input>
							<p class="note-txt mt-1">
								备注：说明服务金额的实际金额浮动百分比等。若金额不做测算，须填写服务价格的参考标准。若无补充，请填写“无”。</p>
						</div>
					</el-form-item>
					<el-form-item label="中选机构公示" prop="isDiscloseIm" require>
						<div class="input-box input-radio el-input-radio">
							<el-radio label="1" v-model="form.isDiscloseIm">是</el-radio>
							<el-radio label="0" v-model="form.isDiscloseIm">否</el-radio>
							<p class="note-txt mt-1">备注：若隐藏中选机构，在中选公号中将不会出现中选机构名称，项目服务结束之后，才显示中选名称。</p>
						</div>
					</el-form-item>
					<el-form-item label="中选公告公示" prop="isDiscloseBidding" require>
						<div class="input-box input-radio el-input-radio">
							<el-radio label="1" v-model="form.isDiscloseBidding">是</el-radio>
							<el-radio label="0" v-model="form.isDiscloseBidding">否</el-radio>
							<p class="note-txt mt-1">备注：隐藏了中选公告之后,若需要公示，请联系系统管理员。</p>
						</div>
					</el-form-item>
					<!-- <div class="form-item mt-2 agent">
						<el-form-item label="" prop="isLiveWitness">
							<label><b class="red-cl">*</b>见证现场竞价选 取、摇珠</label>
							<div class="input-box input-radio el-input-radio">
								<el-radio label="1" v-model="form.isLiveWitness">是</el-radio>
								<el-radio label="0" v-model="form.isLiveWitness">否</el-radio>
								<p class="note-txt">备注：见证现场竞价选取、摇珠的参与者可填写1人，最多可填3人。</p>
							</div>
						</el-form-item>
					</div>
					<div v-show="form.isLiveWitness != 0">
						<div class="row">
							<div class="col-md-6 form-item">
								<el-form-item label="" :prop="witnessName1change">
									<label><b class="red-cl">*</b>见证人姓名</label>
									<div class="input-box">
										<el-input type="text" class="form-control" v-model="form.witnessName1">
										</el-input>
									</div>
								</el-form-item>
							</div>
							<div class="col-md-6 form-item">
								<el-form-item label="" :prop="witnessPhone1change">
									<label><b class="red-cl">*</b>联系电话</label>
									<div class="input-box">
										<el-input type="text" class="form-control" value=""
											v-model="form.witnessPhone1"></el-input>
									</div>
								</el-form-item>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 form-item">
								<el-form-item label="" prop="witnessName2">
									<label>见证人姓名</label>
									<div class="input-box">
										<el-input type="text" class="form-control" v-model="witnessName2"></el-input>
									</div>
								</el-form-item>
							</div>
							<div class="col-md-6 form-item">
								<el-form-item label="" prop="witnessPhone2">
									<label>联系电话</label>
									<div class="input-box">
										<el-input type="text" class="form-control" value="" v-model="witnessPhone2">
										</el-input>
									</div>
								</el-form-item>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 form-item">
								<el-form-item label="" prop="witnessName3">
									<label>见证人姓名</label>
									<div class="input-box">
										<el-input type="text" class="form-control" v-model="witnessName3"></el-input>
									</div>
								</el-form-item>
							</div>
							<div class="col-md-6 form-item">
								<el-form-item label="" prop="witnessPhone3">
									<label>联系电话</label>
									<div class="input-box">
										<el-input type="text" class="form-control" v-model="witnessPhone3"></el-input>
									</div>
								</el-form-item>
							</div>
						</div>

					</div> -->
				</div>
			</div>

			<!-- 咨询与监督 -->
			<div class="info-item edit-item">
				<h2 class="item-title active" @click="expandProjectInfoItem"><i
						class="item-icon item-zixun-icon"></i>咨询与监督<i class="arrow-icon"></i></h2>
				<div class="item-detail edit-item-detail">
					<div class="row">
						<el-form-item class="twoLine" label="项目业主业务咨询电话" prop="mobile" require>
							<div class="input-box">
								<el-input type="number" class="form-control" v-model="form.mobile"></el-input>
							</div>
						</el-form-item>
						<el-form-item label="投诉质疑" prop="ownerComplaintPhone" require>
							<div class="input-box">
								<el-input type="text" class="form-control" v-model="form.ownerComplaintPhone">
								</el-input>
							</div>
						</el-form-item>
					</div>
				</div>
			</div>

			<!-- 附件 -->
			<div class="info-item edit-item">
				<h2 class="item-title active" @click="expandProjectInfoItem"><i
						class="item-icon item-fujian-icon"></i>附件<i class="arrow-icon"></i></h2>
				<div class="item-detail edit-item-detail">
					<div class="upload-card">
						<div class="upload-btn">
							<el-upload class="matterUploadFile" :show-file-list="false" action="123"
							           :auto-upload="false" :before-remove="beforeRemove1" :before-upload="beforeAvatarUpload"
							           :limit="3" :on-change="onchange1" :on-exceed="handleExceed1" :on-preview="handlePreview1"
							           :on-remove="handleRemove1" multiple>
								<el-button type="primary">上传文件</el-button>
							</el-upload>
							<span class="ml-3" slot="tip"
							      style="position: absolute;left: 100px;top: 10px;">上传的附件不可超过10MB，禁止上传以下的附件类型：.exe,.sh,.bat,.com,.dll</span>
						</div>
						<ul class="pjfile-list">
							<li v-for="(item, index) in fileList1" :key="index">
								{{item.name}}<a class="debtn" href="javascript:;"
								                @click="deluploadImg1(item,index)">删除</a></li>
							<!-- <li>资质证.jpg<a class="debtn" href="javascript:;">删除</a></li>
							<li>资质证.jpg<a class="debtn" href="javascript:;">删除</a></li> -->
						</ul>
						<p class="note-txt mt-1">更新时间：2018年08月14日 21:58:20</p>
					</div>
					<p class="note-txt mt-1">备注：您可上传购买中介服务的政府批文及财政资金安排批文的相关文件，便于项目审批，不供公示下载。</p>
					<div class="upload-card mt20">
						<div class="upload-btn">
							<el-upload class="matterUploadFile" action="dakdsk" :show-file-list="false"
							           :auto-upload="false" :before-remove="beforeRemove2" :before-upload="beforeUpload2"
							           :limit="10" :on-change="onchange2" :on-preview="handlePreview2" :on-remove="handleRemove2"
							           multiple>
								<el-button type="primary">上传文件</el-button>
							</el-upload>
							<span class="ml-3" slot="tip"
							      style="position: absolute;left: 100px;top: 10px;">上传的附件不可超过10MB，禁止上传以下的附件类型：.exe,.sh,.bat,.com,.dll</span>
						</div>
						<ul class="pjfile-list">
							<li v-for="(item, index) in fileList2" :key="index">
								{{item.name}}<a class="debtn" href="javascript:;"
								                @click="deluploadImg2(item,index)">删除</a></li>
							<!-- <li>资质证.jpg<a class="debtn" href="javascript:;">删除</a></li>
							<li>资质证.jpg<a class="debtn" href="javascript:;">删除</a></li> -->
						</ul>
					</div>
					<p class="note-txt mt-1">备注：您可上传采购项目要求说明，可供中介机构查看下载。</p>
				</div>
			</div>

			<!-- 材料一单清 -->
			<div class="info-item edit-item">
				<h2 class="item-title active" @click="expandProjectInfoItem"><i
						class="item-icon item-fujian-icon"></i>材料一单清<i class="arrow-icon"></i></h2>
				<div class="item-detail edit-item-detail">
					<div class="fileDiv" v-loading="loadingFile" element-loading-text="文件上传中"
					     :class="this.AllFileList.length>0?'is-sel-file':''" element-loading-background="rgba(0, 0, 0, 0.3)"
					     element-loading-spinner="el-icon-loading">
						<el-upload ref="uploadFile" class="upload-flie" :auto-upload="false" drag
						           :action="ctx+'rest/mats/att/upload/auto'" :file-list="fileList" :http-request="myUploadFile"
						           :on-change="fileChange" :show-file-list="false" multiple>
							<i slot="trigger" v-show="this.AllFileList.length>0" class="el-icon-plus"></i>
							<el-button class="submit-file" v-show="this.AllFileList.length>0" size="small"
							           @click="submitUpload" type="primary">一键自动分拣
							</el-button>
							<div class="el-upload__text" v-show="this.AllFileList.length==0">或将文件直接拖入这里，支持上传后自动分拣
							</div>
							<el-button v-show="this.AllFileList.length==0" slot="trigger" size="small" type="primary">
								选择文件
							</el-button>
						</el-upload>
						<div class="flie-list-che file-list-ul" v-show="this.AllFileList.length>0">
							<el-checkbox-group v-model="checkedSelFlie" class="check-item"
							                   @change="handleCheckedCitiesChange">
								<el-checkbox v-for="(item,index) in AllFileList" :label="item.name" :key="item.uid">
									<span><i class="el-icon-document"></i>{{item.name}}</span>
								</el-checkbox>
							</el-checkbox-group>
							<el-checkbox class="check-all fr" v-model="checkAll" @change="handleCheckAllChange">全选
							</el-checkbox>
						</div>
					</div>
					<el-form :rules="model.rules" :model="model" ref="formTest">
						<el-table :data="model.matsTableData" row-key="matId" class="mats-table"
						          :expand-row-keys="showFileListKey" style="width: 100%">
							<el-table-column align="center" label="序号" width="55">
								<template slot-scope="scope">
									<span>{{scope.$index+1}}</span>
								</template>
							</el-table-column>
							<el-table-column type="expand" v-if="showMatTableExpand" width="20" align="right">
								<template slot-scope="props">

									<div class="mat-children" v-if="props.row.matChild.length>0">
										<div v-for="item in props.row.matChild" class="file-list-tab"
										     :key="item.fileId">
											<span class="file-name">
												<span class="icon ag ag-filetype-doc"
												      :class="'ag-filetype-'+getFileType(item.fileName)"></span>
												{{item.fileName}}
											</span>
											<span class="file-icon-btn">
												<span title="预览" class="el-icon-search"
												      @click="filePreview(item)"></span>
												<span title="下载" class="el-icon-download"
												      @click="downOneFile(item)"></span>
												<span title="删除" class="el-icon-delete"
												      @click="delOneFile(item,props.row)"></span>
											</span>
										</div>
									</div>
									<div v-else>
										<div class="mat-children">
											<div class="file-list-tab no-file">暂无附件</div>
										</div>
									</div>
								</template>
							</el-table-column>
							<el-table-column prop="matName" label="材料名称" min-width="220">
							</el-table-column>
							<el-table-column label="收件要点" min-width="50" align="center">
								<template slot-scope="scope">
									<el-tooltip class="item custor" effect="light" :content="scope.row.reviewKeyPoints"
									            placement="right">
										<span class="el-icon el-icon-search"></span>
									</el-tooltip>
								</template>
							</el-table-column>
							<el-table-column align="center" label="要点示例" min-width="55">
								<template slot-scope="scope">
									<el-popover class="custor" placement="right" width="60" trigger="hover">
										<p class="notice-pop" @click="showMatFiles(scope.row.matId,'TEMPLATE_DOC')">
											空表</p>
										<p class="notice-pop" @click="showMatFiles(scope.row.matId,'SAMPLE_DOC')">样表
										</p>
										<p class="notice-pop"
										   @click="showMatFiles(scope.row.matId,'REVIEW_SAMPLE_DOC')">收件样本</p>
										<i slot="reference" class="el-icon el-icon-more"></i>
									</el-popover>
								</template>
							</el-table-column>
							<el-table-column align="center" label="是否容缺" min-width="55">
								<template slot-scope="scope">
									<span
											:class="(scope.row.zcqy!='0')?'text-green':''">{{(scope.row.zcqy=='0')?'否':'是'}}</span>
								</template>
							</el-table-column>
							<el-table-column label="纸质件" align="center">
								<el-table-column label="原件" align="center">
									<el-table-column prop="duePaperCount" align="center" label="份数" min-width="60">
									</el-table-column>
									<el-table-column prop="realPaperCount" align="center" label="收/验" min-width="70">
										<template slot-scope="scope">
											<el-form-item :prop="'matsTableData.' + scope.$index + '.realPaperCount'"
											              :rules='(scope.row.zcqy==0&&scope.row.paperIsRequire==1)?model.rules.realPaperCount:[]'>

												<el-input size="mini" v-model="scope.row.realPaperCount"></el-input>
											</el-form-item>
										</template>
									</el-table-column>
									<el-table-column align="center" width="98">
										<template slot-scope="scope" slot="header">
											<el-checkbox v-model="getPaperAll"
											             @change="function(val) {checkAllMatChange(val,'paper')}">全选
											</el-checkbox>
										</template>
										<template slot-scope="scope">
											<el-form-item :prop="'matsTableData.' + scope.$index + '.getPaper'"
											              :rules='(scope.row.zcqy==0&&scope.row.paperIsRequire==1)?model.rules.getPaper:[]'>
												<el-checkbox v-model="scope.row.getPaper" :key="scope.row.matinstId"
												             @change="function(value) {checkedMatChange(value,scope.$index,'paper')}">
													已收/验
												</el-checkbox>
											</el-form-item>
										</template>
									</el-table-column>
								</el-table-column>
								<el-table-column label="复印件" align="center">
									<el-table-column prop="dueCopyCount" align="center" label="份数" min-width="60">
									</el-table-column>
									<el-table-column prop="realCopyCount" align="center" label="收/验" min-width="70">
										<template slot-scope="scope">
											<el-form-item :prop="'matsTableData.' + scope.$index + '.realCopyCount'">
												<el-input size="mini" v-model="scope.row.realCopyCount"></el-input>
											</el-form-item>
										</template>
									</el-table-column>
									<el-table-column align="center" width="98">
										<template slot-scope="scope" slot="header">
											<el-checkbox v-model="getCopyAll"
											             @change="function(val){ checkAllMatChange(val,'copy')}">全选
											</el-checkbox>
										</template>
										<template slot-scope="scope">
											<el-form-item :prop="'matsTableData.' + scope.$index + '.getCopy'">
												<el-checkbox v-model="scope.row.getCopy" :key="scope.row.matinstId"
												             @change="function(value){ checkedMatChange(value,scope.$index,'copy')}">
													已收/验
												</el-checkbox>
											</el-form-item>
										</template>
									</el-table-column>
								</el-table-column>
							</el-table-column>
							<el-table-column label="电子件" align="center">
								<el-table-column align="center" label="必须" min-width="70">
									<template slot-scope="scope">
										<span
												:class="(scope.row.attIsRequire==1)?'text-green':''">{{(scope.row.attIsRequire==1)?'是':'否'}}</span>
									</template>
								</el-table-column>
								<el-table-column label="附件" min-width="60" align="center">
									<template slot-scope="scope">
										<i class="upload-flie-icon el-icon-upload"
										   @click="showUploadWindow(scope.row)"></i>
									</template>
								</el-table-column>
							</el-table-column>
						</el-table>
					</el-form>
				</div>
			</div>

			<!-- 保存，提交 -->
			<div class="mt20 text-ceter">
				<el-button type="primary" @click="saveForm('form')">提 交</el-button>
				<!-- <el-button type="primary" @click="submitProj('form')">提 交</el-button> -->
				<el-button type="normal" @click="addNeedStatus = 0">取 消</el-button>
			</div>

		</el-form>
	</div>

	<!-- 查看项目信息 -->
	<div class="module-edit-wrap pandel" v-if="addNeedStatus == 2">
		<div class="info-header clearfix">
			<div class="handel text-right fr">
				<el-button @click="addNeedStatus = 0">返回列表</el-button>
			</div>
		</div>
		<!-- 项目title -->
		<div class="info-title" v-text="aeaProjInfo.projName">
			【项目报名】东莞市天然气高压管网工程沙田高中压调压站项目
		</div>
		<el-form :model="form" :rules="rules" label-width="150px" ref="form" class="form" id="matterForm">

			<!-- 项目基本信息 -->
			<div class="info-item edit-item">
				<h2 class="item-title active" @click="expandProjectInfoItem"><i class="item-icon"></i>项目基本信息<i
						class="arrow-icon"></i></h2>
				<div class="item-detail edit-item-detail">
					<!-- <div class="row">
								<div class="col-md-12 form-item">
										<el-form-item label="" prop="agentOrgName">
											<label>事项对应部门:</label>
											<div class="input-box">
												<span type="text" v-model="form.agentOrgName" class="form-control"  ></span>
											</div>
										</el-form-item>
								</div>
					</div> -->
					<!-- <div class="row">
						 <div class="col-md-12 form-item">
								 <el-form-item label="" prop="itemName">
									 <label>涉及的行政事项</label>
									 <div class="input-box">
										 <span type="text" class="form-control"   v-model="form.itemName"></span>
									 </div>
								 </el-form-item>
						 </div>
					 </div> -->
					<div class="clearfix">
						<el-form-item class="inline-block" label="投资审批项目编码：" require v-show="form.isApproveProj == 1">
							<div class="input-box">
								<span type="text" class="form-control">{{aeaProjInfo.localCode || '暂无'}}</span>
							</div>
						</el-form-item>

						<el-form-item class="inline-block" label="采购项目名称：">
							<div class="input-box">
								<span type="text" class="form-control">{{aeaProjInfo.projName || '暂无'}}</span>
							</div>
						</el-form-item>
						<el-form-item class="inline-block" label="项目业主：" prop="applicant">
							<div class="input-box">
								<span type="text" class="form-control">{{aeaUnitInfo.applicant || '暂无'}}</span>
							</div>
						</el-form-item>

						<el-form-item class="inline-block" label="项目联系人：" prop="applicant">
							<div class="input-box">
								<span type="text" class="form-control">{{aeaLinkmanInfo.linkmanName || '暂无'}}</span>
							</div>
						</el-form-item>
						<el-form-item class="inline-block" label="联系电话：" prop="applicant">
							<div class="input-box">
								<span type="text" class="form-control">{{aeaLinkmanInfo.linkmanMobilePhone || '暂无'}}</span>
							</div>
						</el-form-item>
					</div>
					<!-- <div class="row">
						<div class="col-md-6 form-item" style="margin-top: 17px;">
						<el-form-item label="" prop="projScale" require>
									<label><b class="red-cl">*</b>项目规模</label>
									<div class="input-box">
										<el-select placeholder="请选择"  v-model="form.projScale" style="width: 326px;" :popper-append-to-body="false">
												<el-option
														v-for="item in projScaleOptions"
														:key="item.value"
														:label="item.label"
														:value="item.value">
												</el-option>
										</el-select>
									</div>
							</el-form-item>
						</div>
						<div class="col-md-6 form-item" id="projScale">
								<el-form-item label="" prop="projScaleContent" require>
							<div class="input-box">
								<el-input type="text" class="form-control"  style="width: 465px;" v-model="form.projScaleContent"></el-input>
							</div>
							</el-form-item>
						</div>
					</div> -->
				</div>
			</div>

		</el-form>
	</div>
	<!-- 选择回避单位 str -->
	<el-dialog title="单位" :visible.sync="avoidOrgan" class="dialog7">
		<div class="dialog-footer">
			<el-button @click="chooseOrgan">选择</el-button>
			<div class="search-box float-right">
				<el-input placeholder="请输入关键字进行搜索" v-model="organWord" class="input-with-select" clearable>
					<i slot="suffix" class="el-input__icon el-icon-search" @click="serachOrgan()"></i>
				</el-input>
			</div>
		</div>
		<el-table :data="avoidList" stripe border highlight-current-row ref="multipleTable3"
		          @selection-change="handleSelectionChange4" style="margin-top: 10px;width: 100%;">
			<el-table-column type="selection" width="40"></el-table-column>
			<el-table-column prop="applicant" label="单位名称" width=""></el-table-column>
		</el-table>
		<el-pagination background align="right" :pager-count="5" @size-change="handleSizeChange4"
		               :current-page="pageNum4" :page-size="pageSize4" :page-sizes="[10, 20, 30, 50]"
		               :total="total4" @current-change="handleCurrentChange4" layout="total,sizes, prev, pager, next, jumper">
		</el-pagination>
	</el-dialog>
	<!-- 选择回避单位 end-->
	<!-- 选择元素部件 str -->
	<el-dialog title="服务事项" :visible.sync="serviceTabledialogTable" class="dialog7">
		<div class="dialog-footer">
			<el-button @click="serviceItemListChange">选择</el-button>
			<div class="search-box float-right">
				<el-input placeholder="请输入关键字进行搜索" v-model="serviceKeyword" class="input-with-select" clearable>
					<i slot="suffix" class="el-input__icon el-icon-search" @click="searchTaskNodeData()"></i>
				</el-input>
			</div>
		</div>
		<el-table height="400" :data="serviceItemList" stripe border highlight-current-row ref="multipleTable2"
		          @selection-change="handleSelectionChange2" style="margin-top: 10px;width: 100%;">
			<el-table-column type="selection" width="40"></el-table-column>
			<el-table-column prop="agentItemName" label="事项名称" width=""></el-table-column>
			<el-table-column prop="serviceName" label="服务类型" width=""></el-table-column>
			<el-table-column prop="agentOrgName" label="审批部门" width=""></el-table-column>
		</el-table>
		<el-pagination background align="right" :pager-count="5" @size-change="handleSizeChange2"
		               :current-page="pageNum2" :page-size="pageSize2" :page-sizes="[10, 20, 30, 50]"
		               :total="total2" @current-change="handleCurrentChange2" layout="total,sizes, prev, pager, next, jumper">
		</el-pagination>
	</el-dialog>
	<!-- 选择元素部件 end-->

	<!-- 可指定的中介机构 str -->
	<el-dialog title="可指定的中介机构" :visible.sync="chooseAgentTabledialogTable" class="dialog7">
		<div class="dialog-footer">
			<el-button @click="chooseAgentTabledialogTable=false">选择</el-button>
		</div>
		<el-table height="400" :data="agentUnit" stripe border highlight-current-row ref="multipleTable3"
		          @selection-change="handleSelectionChange3" style="margin-top: 10px;width: 100%;">
			<el-table-column type="selection" width="40"></el-table-column>
			<el-table-column prop="agentUnitName" label="中介机构名称" width=""></el-table-column>
			<el-table-column prop="compEvaluation" label="中介机构服务评价" width="">
				<template slot-scope="scope">
					<!--score-template="{scope.row.compEvaluation}"-->
					<el-rate v-model="scope.row.compEvaluation" disabled show-score text-color="#ff9900">
					</el-rate>
				</template>

			</el-table-column>
		</el-table>
		<!-- <el-pagination
			background
			align="right"
			:pager-count="5"
			@size-change="handleSizeChange3"
			@current-change="handleCurrentChange3"
			:page-sizes="[10, 20, 30, 50]"
			:page-size="pageSize3"
			:current-page="pageNum3"
			layout="total,sizes, prev, pager, next, jumper"
			:total="total3">
		</el-pagination> -->
	</el-dialog>
	<!-- 可指定的中介机构 end-->

</div>

<script src="../../../../../static/zjcs/common/js/axios.min.js" th:src="@{/zjcs/common/js/axios.min.js}"
        type="text/javascript"></script>
<script src="../../../../../static/zjcs/personCenter/js/addNeedPaurse.js"
        th:src="@{/zjcs/personCenter/js/addNeedPaurse.js}" type="text/javascript"></script>

<style>
	/* #matterForm .el-form-item {
		margin-bottom: 0px;
	} */

	/* #matterForm .el-form-item__error {
		left: 146px;
		top: 120%;
	} */

	#matterForm .dit-item-detail .el-form-item__error {
		left: 137px;
		top: 100%;
	}

	/* #matterForm .el-form-item__content {
		display: inline-table;
	} */

	#matterForm .matterUploadFile {
		display: inline-block;
	}

	#matterForm .aptTreeTitle {
		color: #3184fa;
	}

	#matterForm .el-tabs--border-card > .el-tabs__header .el-tabs__item.is-active {
		color: #3184fa;
	}

	#matterForm .el-tabs--border-card > .el-tabs__content {
		padding: 0px;
	}

	#matterForm .el-tree {
		padding: 30px 15px;
	}

	#matterForm .el-tabs--border-card {
		border: none;
		box-shadow: none;
	}

	#addNeedPaurse .el-dialog__body {
		padding: 15px 20px;
	}

	#addNeedPaurse .form-item .input-box .note-txt {
		vertical-align: top;
	}

	#addNeedPaurse .form-item .percent-box input[type="text"] {
		margin-top: 0px;
	}

	#addNeedPaurse .form-item label {
		vertical-align: initial;
	}

	#addNeedPaurse .el-date-editor.el-input {
		width: 334px;
	}

	#addNeedPaurse input {
		outline: none;
	}

	#addNeedPaurse .el-form-item__error {
		padding-top: 0px;
	}

	#addNeedPaurse ::-webkit-inner-spin-button {
		-webkit-appearance: none;
	}

	#addNeedPaurse .form-control {
		border: none;
	}

	#fina .el-form-item__error {
		left: 71px;
	}

	#projScale .el-form-item__error {
		left: 12px;
	}

	#serviceRQ .el-form-item__error {
		top: 42%;
	}

	.agent .el-form-item__error {
		top: 84% !important;
	}

	#amountExplain .el-form-item__error {
		top: 83%;
	}

	#timeLimitExplain .el-form-item__error {
		top: 179%;
	}

	/*  材料清单 start  */
	.fileDiv {
		border: 1px dashed #D2D2D2;
		min-height: 170px;
		margin-bottom: 10px;
	}

	.fileDiv.is-sel-file .upload-flie {
		width: 130px;
		float: right;
		min-height: 170px;
		height: 100%;
		position: relative;
	}

	.fileDiv.is-sel-file .el-upload-dragger {
		width: 110px;
		height: 110px;
		margin: 7px;
		padding-top: 0;
		border-radius: 0;
	}

	.fileDiv.is-sel-file .submit-file {
		position: absolute;
		bottom: 7px;
		right: 7px;
	}

	.upload-flie .el-icon-plus {
		background-color: rgba(242, 242, 242, 0.56);
		box-sizing: border-box;
		width: 110px;
		height: 110px;
		cursor: pointer;
		line-height: 110px;
		font-size: 40px;
		color: #d7d7d7;
		font-weight: bold;
	}

	.upload-flie {
		height: 100%;
		min-height: 120px;
		width: 100%;
		position: relative;
	}

	.imitate-upload-pic {
		line-height: normal;
	}

	.file-list-ul {
		margin-right: 130px;
		padding: 10px;
		border-right: 1px dashed #D2D2D2;
		min-height: 170px;
	}

	.el-upload-dragger {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		border: none;
		padding-top: 50px;
	}

	/*  材料清单 end  */

	.inline-block {
		float: left;
		width: 50%;
	}

	.el-form-item__content .el-select {
		width: 100%;
	}

	.twoLine label {
		line-height: 20px;
	}
</style>