<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>项目详情</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="../../../static/zjcs/common/images/favicon.ico"
        th:href="@{/zjcs/common/images/favicon.ico}">
    <link rel="stylesheet" href="/framework-ui/src/main/resources/static/agcloud/framework/js-lib/element-2/element.css"
        th:href="@{/agcloud/framework/js-lib/element-2/element.css}" />
    <link rel="stylesheet"
        href="/framework-ui/src/main/resources/static/agcloud/framework/ui-private/default/blue/css/theme.css"
        th:href="@{/agcloud/framework/ui-private/default/blue/css/theme.css}">
    <link rel="stylesheet"
        href="/framework-ui/src/main/resources/static/agcloud/framework/icon-lib/agcloud-fonts/iconfont.css"
        th:href="@{/agcloud/framework/icon-lib/agcloud-fonts/iconfont.css}">
    <link rel="stylesheet" href="../../../static/zjcs/common/css/reset.css" th:href="@{/zjcs/common/css/reset.css}">

    <script>
        var ctx = '[[@{/}]]';
    </script>
</head>

<body class="gray-body">
    <div id="app" v-cloak>
        <el-form ref="form" :model="form" label-width="130px" disabled="disabled">
            <el-collapse v-model="activeNames">
                <el-collapse-item class="clearfix" name="1" id="">
                    <template slot="title">
                        <i class="header-icon icon ag ag-project-info"></i>中介事项信息
                    </template>
                    <el-row>
                        <el-col :span="8">
                            <el-form-item label="事项名称：">
                                <el-input v-model="form.name"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="8">
                            <el-form-item label="实施主体：">
                                <el-input v-model="form.name"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="8">
                            <el-form-item label="服务对象：">
                                <el-input v-model="form.name"></el-input>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="8">
                            <el-form-item label="办件类型：">
                                <el-input v-model="form.name"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="8">
                            <el-form-item label="法定办结期限：">
                                <el-input v-model="form.name"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="8">
                            <el-form-item label="承诺办结期限：">
                                <el-input v-model="form.name"></el-input>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="8">
                            <el-form-item label="关联的行政事项：">
                                <el-input v-model="form.name"></el-input>
                            </el-form-item>
                        </el-col>
                    </el-row>
                </el-collapse-item>

                <el-collapse-item class="clearfix" name="2" id="">
                    <template slot="title">
                        <i class="header-icon icon ag ag-project-info"></i>项目/工程信息
                    </template>

                    <el-form-item label="项目/工程名称">
                        <el-input v-model="form.name"></el-input>
                    </el-form-item>

                    <div class="clearfix">
                        <el-form-item label="项目代码" class="inline-block">
                            <el-input v-model="form.name"></el-input>
                        </el-form-item>
                        <el-form-item label="工程代码" class="inline-block">
                            <el-input v-model="form.name"></el-input>
                        </el-form-item>
                    </div>
                </el-collapse-item>

                <el-collapse-item class="clearfix" name="3" id="">
                    <template slot="title">
                        <i class="header-icon icon ag ag-project-info"></i>采购中介服务信息
                    </template>
                    <div class="clearfix">
                        <el-form-item label="项目联系人" class="inline-block">
                            <el-input v-model="form.name"></el-input>
                        </el-form-item>
                        <el-form-item label="联系电话" class="inline-block">
                            <el-input v-model="form.name"></el-input>
                        </el-form-item>
                        <el-form-item label="采购项目名称" class="inline-block">
                            <el-input v-model="form.name"></el-input>
                        </el-form-item>

                        <el-form-item label="项目规模" class="inline-block">
                            <el-input placeholder="请选择项目规模" v-model="form.name" class="input-with-select">
                                <el-select v-model="form.name" slot="prepend" placeholder="请选择">
                                    <el-option v-for="item in projScaleOptions" :key="item.value" :label="item.label"
                                        :value="item.value">
                                    </el-option>
                                </el-select>
                                <el-button slot="append" icon="el-icon-search"></el-button>
                            </el-input>
                        </el-form-item>
                    </div>

                    <el-form-item label="资源来源比例">
                        <el-row>
                            <el-col :span="12">
                                财政资金(%)<el-input v-model="form.name" style="width: 63%;"></el-input>
                            </el-col>
                            <el-col :span="12">
                                社会资金(%)<el-input v-model="form.name" style="width: 63%;"></el-input>
                            </el-col>
                        </el-row>
                    </el-form-item>
                    <el-form-item label="所需服务">
                        <el-input v-model="form.name" style="width: 63%;"></el-input>
                    </el-form-item>
                    <el-form-item label="服务时限说明">
                        <el-input v-model="form.name" style="width: 63%;"></el-input>
                    </el-form-item>
                    <el-form-item label="服务内容">
                        <el-input v-model="form.name" style="width: 63%;"></el-input>
                    </el-form-item>
                    <el-form-item label="中介服务机构要求">
                        <el-input v-model="form.name"></el-input>
                    </el-form-item>

                    <!--资质（资格）要求 start-->
                    <el-form-item label="资质要求">
                        <el-input v-model="form.name"></el-input>
                    </el-form-item>
                    <el-form-item label="资质要求说明">
                        <el-input v-model="form.name" type="textarea" rows="3"></el-input>
                    </el-form-item>
                    <!--资质（资格）要求 end-->

                    <!--执业/职业人员要求 start-->
                    <el-form-item label="执业/职业人员总数">
                        <el-input v-model="form.name"></el-input>
                    </el-form-item>
                    <el-form-item label="执业/职业人员要求">
                        <el-input v-model="form.name" type="textarea" rows="3"></el-input>
                    </el-form-item>
                    <!--执业/职业人员要求 end-->

                    <!--备案要求 start-->
                    <el-form-item label="备案要求说明">
                        <el-input v-model="form.name" type="textarea" rows="3"></el-input>
                    </el-form-item>
                    <!--备案要求 end-->

                    <el-form-item label="其他要求说明">
                        <el-input v-model="form.name" type="textarea" rows="3"></el-input>
                    </el-form-item>

                    <el-form-item label="选取中介服务机构方式">
                        <el-input v-model="form.name"></el-input>
                    </el-form-item>

                    <!--随机选取 start-->
                    <el-form-item label="是否确认金额">
                        <el-input v-model="form.name"></el-input>
                    </el-form-item>
                    <el-form-item label="服务金额">
                        <el-row>
                            <el-col :span="12">
                                <el-input v-model="form.name" style="width: 63%;"></el-input>元
                            </el-col>
                            <el-col :span="12">
                                金额大写<el-input v-model="form.name" style="width: 63%;"></el-input>
                            </el-col>
                        </el-row>
                    </el-form-item>
                    <el-form-item label="是否有回避情况">
                        <el-input v-model="form.name"></el-input>
                    </el-form-item>
                    <el-form-item label="回避单位">
                        <el-input v-model="form.name" type="textarea" rows="3"></el-input>
                    </el-form-item>
                    <el-form-item label="回避原因">
                        <el-input v-model="form.name" type="textarea" rows="3"></el-input>
                    </el-form-item>
                    <!--随机选取 end-->

                    <!--直接选取 start-->
                    <el-form-item label="是否确定服务金额">
                        <el-input v-model="form.name"></el-input>
                    </el-form-item>
                    <el-form-item label="服务金额">
                        <el-row>
                            <el-col :span="12">
                                <el-input v-model="form.name" style="width: 63%;"></el-input>元
                            </el-col>
                            <el-col :span="12">
                                金额大写<el-input v-model="form.name" style="width: 63%;"></el-input>
                            </el-col>
                        </el-row>
                    </el-form-item>
                    <el-form-item label="查看符合条件的中介机构">
                        <el-input v-model="form.name" type="textarea" rows="3"></el-input>
                    </el-form-item>
                    <!--直接选取 end-->

                    <!--竞价选取 start-->
                    <el-form-item label="报价方式">
                        <el-input v-model="form.name"></el-input>
                    </el-form-item>
                    <el-form-item label="服务金额">
                        <el-row>
                            <el-col :span="12">
                                <el-input v-model="form.name" style="width: 63%;"></el-input>元
                            </el-col>
                            <el-col :span="12">
                                至<el-input v-model="form.name" style="width: 63%;"></el-input>元
                            </el-col>
                        </el-row>
                    </el-form-item>
                    <el-form-item label="金额大写">
                        <el-row>
                            <el-col :span="12">
                                <el-input v-model="form.name" style="width: 63%;"></el-input>元
                            </el-col>
                            <el-col :span="12">
                                至<el-input v-model="form.name" style="width: 63%;"></el-input>元
                            </el-col>
                        </el-row>
                    </el-form-item>
                    <el-form-item label="是否有回避情况">
                        <el-input v-model="form.name"></el-input>
                    </el-form-item>
                    <el-form-item label="回避单位">
                        <el-input v-model="form.name" type="textarea" rows="3"></el-input>
                    </el-form-item>
                    <el-form-item label="回避原因">
                        <el-input v-model="form.name" type="textarea" rows="3"></el-input>
                    </el-form-item>
                    <!--竞价选取 end-->

                    <div class="clearfix">
                        <el-form-item label="报名截止时间" class="inline-block">
                            <el-input v-model="form.name"></el-input>
                        </el-form-item>
                        <el-form-item label="选取中介时间" class="inline-block">
                            <el-input v-model="form.name"></el-input>
                        </el-form-item>
                    </div>

                    <el-form-item label="金额说明">
                        <el-input v-model="form.name" type="textarea" rows="3"></el-input>
                    </el-form-item>

                    <div class="clearfix">
                        <el-form-item label="中选机构公示" class="inline-block">
                            <el-input v-model="form.name"></el-input>
                        </el-form-item>
                        <el-form-item label="中选公告公示" class="inline-block">
                            <el-input v-model="form.name"></el-input>
                        </el-form-item>
                    </div>

                    <!--附件-->
                    <el-form-item label="附件" class="inline-block">
                        <el-input v-model="form.name"></el-input>
                    </el-form-item>

                    <!--材料-->
                    <el-form-item label="材料" class="inline-block">
                        <el-input v-model="form.name"></el-input>
                    </el-form-item>
                </el-collapse-item>
            </el-collapse>
        </el-form>
    </div>
</body>

<script src="/framework-ui/src/main/resources/static/agcloud/framework/js-lib/jquery-v1/jquery.min.js"
    th:src="@{/agcloud/framework/js-lib/jquery-v1/jquery.min.js}"></script>
<script src="/framework-ui/src/main/resources/static/agcloud/framework/js-lib/vue-v2/vue.js"
    th:src="@{/agcloud/framework/js-lib/vue-v2/vue.js}"></script>
<script src="/framework-ui/src/main/resources/static/agcloud/framework/js-lib/element-2/element.js"
    th:src="@{/agcloud/framework/js-lib/element-2/element.js}"></script>
<script src="../../../static/common/js/common.js" th:src="@{/common/js/common.js}"></script>

<script src="../../../static/zjcs/personCenter/js/waitDealProDetail.js"
    th:src="@{/zjcs/personCenter/js/waitDealProDetail.js}" type="text/javascript"></script>

</html>
<style>
    .gray-body {
        background-color: #f2f3f8;
        padding: 16px;
    }

    #app {
        padding: 16px;
        background-color: #fff;
    }

    .el-collapse-item__wrap {
        overflow: visible;
        position: relative;
        border: none;
        padding: 15px 30px;
    }

    .el-collapse {
        border: none;
    }

    .el-collapse-item__header {
        height: 50px;
        line-height: 50px;
        padding-left: 16px;
        font-size: 16px;
        position: relative;
        width: 100%;
        color: #575962;
        font-weight: 700;
        border-bottom: 2px solid #E0E3E9;
    }

    .el-collapse-item__header.is-active {
        border-bottom: 2px solid #36A3F7;
        color: #169aff;
    }

    .el-collapse-item__content {
        color: #575962;
        padding-bottom: 0;
    }

    .el-collapse-item__arrow {
        margin: 0 18px 0 auto;
        font-size: 20px;
        float: right;
        line-height: 42px;
    }

    .el-collapse-item__header.is-active .el-collapse-item__arrow,
    .el-collapse-item__header.is-active .header-icon {
        color: #169aff;
    }

    .el-collapse-item__header .header-icon {
        font-size: 22px;
        margin-right: 5px;
        color: #aaa;
        font-weight: normal;
    }

    .el-collapse-item {
        margin-bottom: 15px;
    }

    .inline-block {
        float: left;
        /* display: inline-block; */
        width: 50%;
    }
</style>