<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta content="text/html;charset=UTF-8"/>
	<meta name="viewport" content="width=device-width,initial-scale=1"/>

	<script src="../webjars/jquery/3.4.0/jquery.js" th:src="@{/webjars/jquery/3.4.0/jquery.js}"></script>
	<script scr="../webjars/bootstrap/4.3.1/js/bootstrap.js" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.js}"></script>
	<link rel="stylesheet" href="../webjars/bootstrap/4.3.1/css/bootstrap.css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}"/>
</head>
<body>
<img th:src="@{/imgs/test.png}" alt=""/>
test!!
</body>
<script th:inline="javascript">
	var context = [[@{/}]];
		$(function () {
			alert(context);
			$.get(context + 'rest/index/approve/details', function (result) {
				alert(result.content);
			});
		})
</script>
</html>