.credit-dia-wrap {
    /*height: 100%;*/
    /*background: #f2f3f8;*/
    /*padding: 16px;*/
    color: #575962;
}

.credit-dia-box {
    background: #fff;
    padding: 22px;
    border-radius: 4px;
}

.cd-hint-box {
    border: 1px solid #FF4B47;
    background: rgba(255, 75, 71, 0.08);
    font-size: 16px;
    padding: 12px 10px;
    border-radius: 4px;
    font-weight: 600;
    min-height: 60px;
}
.cd-hint-box .black{
    font-size: 16px;
    color: #3F4047;
}
.cd-hint-box .cd-hint-icon {
    font-size: 28px;
    vertical-align: middle;
    margin-right: 11px;
    margin-left: 11px;
    color: #FF4B47;
}
.cd-hint-box .credit-red-black{
    display: flex;
   justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #3F4047;
}
.cd-hint-box .credit-red-black{
    line-height: 26px;
    font-weight: 500;
}
.cd-hint-box .credit-red-black .credit-red-black-left{
    margin-left: 56px;
    padding: 7px 0px;
}
.cd-hint-box .credit-red-black .credit-red-black-right{
    margin-right: 200px;
    padding: 7px 0px;
}
.cd-hint-box .credit-red-black .credit-red-black-left p, .cd-hint-box .credit-red-black .credit-red-black-right p{
    font-size: 14px;
    color: #3F4047;
}

.cd-type-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    padding: 20px 0 5px 5px;
}

.pre-u-title {
    line-height: 20px;
    padding: 10px 3px;
    cursor: pointer;
}

.p-u-wrap {
    padding: 0 17px;
    display: none;
}

.pre-list-u.open .p-u-wrap {
    display: block;
}

.is-black .pre-list-u.open .pre-u-title {
    color: #FE4743;
}

.pre-u-detail {
    /*border: 1px dashed #66BDFF;*/
    background: rgba(251, 253, 255, 1);
    line-height: 34px;
    font-size: 14px;
    padding: 3px 0;
}

.p-detail-label {
    text-align: left;
    margin-left: 9px;
}

.p-detail-value {
    min-width: 260px;
}

.is-black .pre-u-detail {
    /*border: 1px dashed #FF9B99;*/
    background: rgba(255, 252, 252, 1);
}

.is-black .cd-type-title {
    color: #FE4743;
}

/*失信弹窗 end*/
.credit-box {
    height: 44px;
    background: rgba(255, 75, 71, 0.08);
    border: 1px solid rgba(255, 148, 146, 1);
    border-radius: 4px;
    line-height: 42px;
    margin-bottom: 20px;
    padding: 0 15px;
    color: #575962;
}

.credit-box-icon {
    color: #FF4B47;
    font-size: 18px;
    vertical-align: middle;
}

.see-credit-btn {
    cursor: pointer;
    background: #FF4B47;
    line-height: normal;
    padding: 3px 15px 5px 15px;
    margin: 9px 0;
    color: #fff;
    border-radius: 12px;
    font-size: 12px;
}

.required-color {
    color: #FF4B47;
}

.cd-hint-good-box {
    font-size: 16px;
    padding: 0 10px;
    border-radius: 4px;
    font-weight: 600;
    line-height: 58px;
    min-height: 60px;
    background: rgba(234, 253, 244, 1);
    border: 1px solid rgba(0, 193, 97, 1);
    opacity: 0.76;
}

.cd-hint-good-box .cd-hint-good-icon {
    font-size: 28px;
    vertical-align: middle;
    margin-right: 6px;
    color: rgba(0, 193, 97, 1);
}

.noData-box{
    text-align: center;
    margin-top: 86px;
}
.radio{
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-right: 8px;
    vertical-align: inherit;
    margin-bottom: 2px;
}
.radio1{
    background: rgba(255,75,71,1);
}
.radio2{
    background: #457EFF;
}
.color1{
    color: rgba(255,75,71,1);
}
.color2{
    color: #457EFF;
}