.color-999 {
  color: #999;
}
.color-4293f4 {
  color: #4293f4;
}
.pointer {
  cursor: pointer;
}
.my-proj-wrap {
  position: relative;
}
.my-proj-wrap .card-proj-wrap {
  margin-top: 40px;
}
.my-proj-wrap .card-proj-wrap .proj-wrap .proj-item {
  position: relative;
  float: left;
  width: 316px;
  height: 160px;
  height: 200px;
  margin: 0 20px 20px 0;
  cursor: pointer;
}
.my-proj-wrap .card-proj-wrap .proj-wrap .proj-item .box-card {
  position: relative;
  width: 100%;
  height: 100%;
}
.my-proj-wrap .card-proj-wrap .proj-wrap .proj-item .box-card:hover {
  background-color: #ebf4fb;
}
.my-proj-wrap .card-proj-wrap .proj-wrap .proj-item .box-card .right-content {
  padding-left: 60px;
  padding-top: 10px;
}
.my-proj-wrap .card-proj-wrap .proj-wrap .proj-item .box-card .right-content .proj-name {
  font-size: 16px;
  font-weight: bold;
}
.my-proj-wrap .card-proj-wrap .proj-wrap .proj-item .box-card .right-content .code-sub {
  margin-top: 3px;
  color: #8D8D8D;
  font-size: 14px;
}
.my-proj-wrap .card-proj-wrap .proj-wrap .proj-item .box-card .proj-tag {
  position: absolute;
  left: 18px;
  top: 20px;
  width: 40px;
  height: 40px;
}
.my-proj-wrap .card-proj-wrap .proj-wrap .proj-item .box-card .tag-fg {
  background: url("../../images/userCenter/proj-type-fg.png") no-repeat center;
  background-size: 100%;
}
.my-proj-wrap .card-proj-wrap .proj-wrap .proj-item .box-card .tag-bd {
  background: url("../../images/userCenter/proj-type-bd.png") no-repeat center;
  background-size: 100%;
}
.my-proj-wrap .card-proj-wrap .proj-wrap .proj-item .box-card .proj-handel {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #fafafa;
  border-top: 1px solid #f4f3f3;
  font-size: 0;
}
.my-proj-wrap .card-proj-wrap .proj-wrap .proj-item .box-card .proj-handel .btn {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  text-align: center;
  color: #4293f4;
  font-size: 14px;
}
.my-proj-wrap .card-proj-wrap .proj-wrap .proj-item .box-card .proj-handel .btn-left {
  border-right: 1px solid #f4f3f3;
}
.my-proj-wrap .card-proj-wrap .proj-wrap .proj-item .box-card .proj-agency-tag {
  position: absolute;
  right: 0;
  top: 0;
  width: 80px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  font-size: 14px;
}
.my-proj-wrap .card-proj-wrap .proj-wrap .proj-add {
  text-align: center;
  line-height: 200px;
  border: 1px dashed #4293f4;
  border-radius: 4px;
  color: #4293f4;
  font-size: 16px;
}
.my-proj-wrap .card-proj-wrap .proj-wrap .proj-add:hover {
  background-color: #ebf4fb;
}
.my-proj-wrap .card-proj-wrap .proj-load-more {
  width: 100%;
  height: 52px;
  line-height: 52px;
  text-align: center;
  font-size: 16px;
  color: #4293f4;
}
