<!--@Author: ***-->
<!--@Date:   ***-->
<!--@Last Modified by:   ***-->
<!--@Last Modified time: ***-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>材料附件</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <!--引入公共css-->
  <link rel="stylesheet" href="/framework-ui/src/main/resources/static/agcloud/framework/js-lib/element-2/element.css"
        th:href="@{/agcloud/framework/js-lib/element-2/element.css}"/>
  <link rel="stylesheet"
        href="/framework-ui/src/main/resources/static/agcloud/framework/icon-lib/agcloud-fonts/iconfont.css"
        th:href="@{/agcloud/framework/icon-lib/agcloud-fonts/iconfont.css}">
  <link rel="stylesheet"
        href="/framework-ui/src/main/resources/static/agcloud/framework/js-lib/agcloud-lib/css/reset.css"
        th:href="@{/agcloud/framework/js-lib/agcloud-lib/css/reset.css}">
  <link rel="stylesheet" href="../../static/approve/css/index.css" th:href="@{/approve/css/index.css}">
  <style>
  
  </style>
  <script>
    var ctx = '[[@{/}]]';
  </script>
  <script src="../../static/approve/js/ip.js" th:src="@{/approve/js/ip.js}"></script>
  <style>
    .mg10 {
      padding: 15px 15px;
    }
    
    .cr {
      font-size: 25px;
      color: red
    }
    
    .cg {
      color: green;
      font-size: 25px;
    }
    
    th:nth-child(2),
    td:nth-child(2) {
      border-right: none;
    }
    
    .el-table__expanded-cell[class*=cell] {
      padding: 0px 49px;
    }
    
    .mat-children {
      border-left: 1px solid #EBEEF5;
      line-height: 26px;
      padding: 10px 20px;
    }
    
    .mat-children + .mat-children {
      padding-top: 0px;
    }
    
    .file-name {
      cursor: pointer;
    }
    
    .file-name:hover {
      color: #169AFF;
    }
    
    .file-icon-btn span {
      cursor: pointer;
      color: #169AFF;
      font-size: 18px;
      margin: 0 5px;
    }
    
    .file-icon-btn .el-icon-delete {
      color: #FF4B47;
    }
    
    .file-icon-btn {
      display: none;
    }
    
    .file-list-tab {
      padding-left: 30px;
    }
    
    .file-list-tab:hover .file-icon-btn {
      display: inline-block;
    }
    
    .file-list-tab:hover .file-name {
      color: #169AFF;
    }
    
    .meterial-col {
      cursor: pointer;
    }
    
    .t-pre-upload {
      height: 24px;
      line-height: 24px;
      display: inline-block;
      border-radius: 12px;
      color: #fff;
      background: #B8C8DC;
      padding: 0 16px;
    }
    
    .t-pre-upload.ready {
      background: #00C161;
    }
    
    #pageBox {
      padding: 15px;
      padding-top: 66px;
    }
    
    .status-btns-right {
      padding-bottom: 15px;
      position: fixed;
      height: 66px;
      padding-top: 15px;
      background: #ffffff;
      z-index: 100;
      top: 0;
      left: 0;
      width: 100%;
      padding-left: 16px;
    }
    
    .ag-id-card {
      position: relative;
      top: 3px;
      left: 3px;
      font-size: 20px;
      color: #4293F4;
    }
    
    .mat-table-btn {
      float: left;
      color: #169AFF;
      line-height: 25px;
      height: 25px;
      cursor: pointer;
    }
    
    .mat-table-btn:hover {
      text-decoration: underline;
    }
    
    .mat-ope-line {
      float: left;
      width: 1px;
      height: 12px;
      background: #DCDFE6;
      margin: 6px 7px 0 7px;
    }
  </style>
</head>

<body class="bg-white">
<div id="pageBox" v-cloak v-loading="pageLoading">
  
  <div class="status-btns-right">
    <el-button size="medium" @click="allExpand">全部展开</el-button>
    <el-button size="medium" @click="allNotExpand">全部折叠</el-button>
  </div>
  <div>
    <el-table class="" :data="matinstList" border tooltip-effect="dark" style="width: 100%;" stripe>
      <el-table-column type="index" width="50px" align="center" label="序号"></el-table-column>
      <el-table-column type="expand" width="15px" align="right">
        <template slot-scope="props">
          <template
              v-if="(props.row.certFileList&&props.row.certFileList.length)||(props.row.fileList&&props.row.fileList.length)">
            <div class="mat-children" v-if="props.row.certFileList&&props.row.certFileList.length">
              <div v-for="item in props.row.certFileList" class="file-list-tab"
                   :key="item.fileId">
                <span style="position:relative;top:-1px;left:-3px;"><i class="ag ag-id-card"></i></span>
                <span class="file-name">
                  {{item.fileName}}
              </span>
                <span v-if="props.row.matProp=='c'" style="color:#AFB2C1;">
                （{{item.createrName}}于{{formatDate(item.updateTime)}}关联）
              </span>
                <span class="file-icon-btn" style="margin-left:20px;">
                  <span title="查验" v-if="props.row.matProp=='c'" class="el-icon-search" @click="checkId(item)"></span>
                  <span title="删除" class="el-icon-delete" @click="delOneFile(item,props.row)"></span>
              </span>
              </div>
            </div>
            <div class="mat-children" v-if="props.row.fileList&&props.row.fileList.length">
              <div v-for="item in props.row.fileList" class="file-list-tab"
                   :key="item.fileId">
              <span class="file-name">
                  <span class="icon ag" :style="{color:getIconColor(getFileType(item.fileName)), fontSize: '20px'}"
                        :class="'ag-filetype-'+getFileType(item.fileName)"></span>
                  {{item.fileName}}
              </span>
                <span style="color:#AFB2C1;">
                （{{item.createrName}}于{{formatDate(item.updateTime)}}上传）
              </span>
                <span class="file-icon-btn" style="margin-left:20px;">
                  <span title="预览" class="el-icon-search" @click="filePreview(item)"></span>
                  <span title="下载" class="el-icon-download" @click="downOneFile(item)"></span>
                  <span title="删除" class="el-icon-delete" @click="delOneFile(item,props.row)"></span>
              </span>
              </div>
            </div>
          </template>
          <div v-else>
            <div class="mat-children" style="text-indent: 2em; color:#AFB2C1">暂无附件</div>
          </div>
        </template>
      </el-table-column>
      <el-table-column class-name="meterial-col" prop="matName" label="材料名称" align="left">
        <template slot-scope="scope">
          {{scope.row.matName}}
          <i v-if="scope.row.matProp=='c'&&scope.row.certFileList&&scope.row.certFileList.length"
             class="ag ag-id-card"></i>
        </template>
      </el-table-column>
      <!--      <el-table-column prop="matFrom" label="文件来源" align="center" width="120px">-->
      <!--        <template slot-scope="scope">{{$options.filters.dicCodeItem(scope.row.matFrom)}}</template>-->
      <!--      </el-table-column>-->
      <el-table-column prop="realPaperCount" label="纸质原件（应收/已收）" align="center" width="180px"
                       :formatter="formDueToZero"></el-table-column>
      <el-table-column prop="realCopyCount" label="复印件（应收/已收）" align="center" width="160px"
                       :formatter="formaterCopyToZero"></el-table-column>
      <el-table-column prop="attCount" label="电子件" width="170px">
        <template slot-scope="scope">
          <div class="c-f">
            <el-upload style="float: left;height:25px;"
                       action="/posts"
                       :show-file-list="false"
                       :http-request="handleUploadFile">
              <span class="mat-table-btn" @click="clickUpload(scope.row)">上传</span>
            </el-upload>
            <span class="mat-ope-line"></span>
            <span class="mat-table-btn" @click="openMatLibDialog(scope.row)">材料库</span>
            <span class="mat-ope-line" v-if="scope.row.matProp=='c'"></span>
            <span class="mat-table-btn" v-if="scope.row.matProp=='c'" @click="openIdLibDialog(scope.row)">证照库</span>
          </div>
        </template>
      </el-table-column>
    </el-table>
  </div>
</div>
</body>
<!--引入公共js-->
<script src="/framework-ui/src/main/resources/static/agcloud/framework/js-lib/jquery-v1/jquery.min.js"
        th:src="@{/agcloud/framework/js-lib/jquery-v1/jquery.min.js}"></script>
<script src="/framework-ui/src/main/resources/static/agcloud/framework/js-lib/vue-v2/vue.js"
        th:src="@{/agcloud/framework/js-lib/vue-v2/vue.js}"></script>
<script src="/framework-ui/src/main/resources/static/agcloud/framework/js-lib/element-2/element.js"
        th:src="@{/agcloud/framework/js-lib/element-2/element.js}"></script>
<script src="../../static/common/js/axios.min.js" th:src="@{/common/js/axios.min.js}"></script>
<script src="/framework-ui/src/main/resources/static/agcloud/framework/js-lib/agcloud-lib/js/common.js"
        th:src="@{/agcloud/framework/js-lib/agcloud-lib/js/common.js}"></script>
<script>
  var vm = new Vue({
    el: '#pageBox',
    data: function () {
      return {
        matinstList: [],
        pageLoading: true,
        isSeries: getUrlParam('isSeriesinst'),//0 并联  1 单项
        // itemInstId: '09f22e01-acc8-485c-88c0-013da24d8548',
        // applyinstId: 'b6fa23fc-682d-450b-97d2-23bc025f61dc',
        dicCodeItems: [],
        iteminstId: getUrlParam('iteminstId'),
        applyinstId: getUrlParam('masterEntityKey'),
        taskId: getUrlParam('taskId'),
        currentUploadRow: null,
      }
    },
    methods: {
      getIteminstIdByTaskId: function () {
        var vm = this;
        var url = ctx + 'rest/approve/basic/getIteminstId?taskId=' + vm.taskId;
        request('', {
          url: url,
          type: 'get',
        }, function (res) {
          // console.log('批文批复列表', res);
          if (res.content) {
            vm.iteminstId = res.content.iteminstId;
          }
          //vm.getmainTbaleList() // 获取批文批复列表
          vm.getMatList();
        }, function () {
          vm.tableloading = false;
        });
        
      },
      // 通用接口  根据dicCodeTypeCode获取数据字典
      getDicCodeItems: function (callback) {
        var vm = this;
        request('', {
          url: ctx + 'rest/dict/code/items/list',
          type: 'get',
          data: {
            dicCodeTypeCode: 'MAT_FROM',
          }
        }, function (res) {
          if (res.success) {
            var result = res.content;
            for (var i = 0; i < result.length; i++) {
              var item = {};
              item['itemCode'] = result[i]['itemCode'];
              item['itemName'] = result[i]['itemName'];
              vm.dicCodeItems.push(item);
            }
            typeof callback == 'function' && callback();
          } else {
            vm.$message.error(res.message || '获取数据字典失败');
          }
        }, function () {
          vm.$message.error("获取数据字典失败！");
        })
      },
      // 获取材料列表
      getMatList: function () {
        var vm = this;
        var params = {
          applyinstId: vm.applyinstId,
          iteminstId: vm.iteminstId || null,
        };
        if (vm.isSeries == '1') {
          params.isSeries = 1;
        }
        request('', {
          url: ctx + 'rest/approve/series/matinst/list',
          type: 'get',
          data: params,
        }, function (res) {
          vm.pageLoading = false;
          if (res.success) {
            vm.matinstList = res.content;
            vm.$nextTick(function () {
              vm.allExpand();
            });
          } else {
            vm.$message.error(res.message || '获取材料列表失败');
          }
        }, function () {
          vm.pageLoading = false;
          vm.$message.error('获取材料列表失败');
        })
      },
      //转化材料来源
      formatMatFrom: function (row, column, cellValue, index) {
      },
      // 获取文件后缀
      getFileType: function (fileName) {
        var index1 = fileName.lastIndexOf(".");
        var index2 = fileName.length;
        var suffix = fileName.substring(index1 + 1, index2);//后缀名
        if (suffix == 'docx') {
          suffix = 'doc';
        }
        return suffix;
      },
      // icon 字体文件颜色
      getIconColor: function (type) {
        return __STATIC.getIconColor(type || "DEFAULT");
      },
      // 预览电子件
      filePreview: function (data) {
        // 调用父iframe预览方法
        parent.vm.filePreview(data);
      },
      //下载单个附件
      downOneFile: function (data) {
        window.open(ctx + 'previewPdf/downLoadPdf?detailId=' + data.fileId, '_blank');
      },
      // 查验电子证照
      checkId: function (row) {
        var vm = this;
        vm.pageLoading = true;
        request('', {
          url: ctx + 'aea/cert/getViewLicenseURL.do',
          type: 'get',
          data: {authCode: row.fileId},
        }, function (res) {
          vm.pageLoading = false;
          if (res.success) {
            window.open(res.content);
          } else {
            vm.$message.error(res.message || '查看证照失败');
          }
        }, function () {
          vm.pageLoading = false;
          vm.$message.error('查看证照失败');
        });
      },
      //删除单个文件附件
      delOneFile: function (data, matData) {
        var _that = this;
        var vm = this;
        this.$confirm('此操作将永久删除该文件, 是否继续?', '删除文件', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning',
        }).then(function (obj) {
          ensureDelete();
        }).catch(function () {
        });
        
        function ensureDelete() {
          vm.pageLoading = true;
          request('', {
            url: ctx + 'rest/mats/att/delelte',
            type: 'post',
            data: {
              matinstId: matData.attMatinstId,
              detailIds: data.fileId,
            },
          }, function (res) {
            vm.pageLoading = false;
            if (res.success) {
              vm.$message.success('删除成功');
              vm.getMatList();
            } else {
              vm.$message.error(res.message || '删除失败')
            }
          }, function (msg) {
            vm.pageLoading = false;
            vm.$message.error('删除失败');
          });
        }
      },
      // 打开材料库弹窗
      openMatLibDialog: function (row) {
        parent.vm.openMatLibDialog(row, vm.getMatList);
      },
      // 打开证照库弹窗
      openIdLibDialog: function (row) {
        parent.vm.openIdLibDialog(row, vm.getMatList);
      },
      // 格式化时间
      formatDate: function (time, formatStr) {
        return __STATIC.formatDate(date, formatStr);
      },
      // 处理上传文件
      handleUploadFile: function (file) {
        var vm = this;
        var _this = this;
        var formData = new FormData();
        formData.append('files', file.file);
        if (vm.currentUploadRow.attMatinstId) {
          formData.append('matinstId', vm.currentUploadRow.attMatinstId);
        } else {
          formData.append('applyinstId', vm.applyinstId);
          formData.append('matId', vm.currentUploadRow.matId);
        }
        vm.pageLoading = true;
        axios.post(ctx + 'rest/approve/matinst/uploadAtt', formData).then(function (res) {
          if (res.data && res.data.success) {
            _this.$message.success('上传成功');
            vm.getMatList();
          } else {
            _this.$message.error(res.message || '上传失败');
          }
        }).catch(function (e) {
          _this.$message.error('上传失败');
        }).finally(function () {
          vm.pageLoading = false;
        })
      },
      // 点击上传文件按钮，记录点击的哪条数据
      clickUpload: function (row) {
        var vm = this;
        vm.currentUploadRow = row;
      },
      formDueToZero: function (row) {
        var duePaperCount = row.duePaperCount;
        var realPaperCount = row.realPaperCount;
        if (!duePaperCount) {
          duePaperCount = 0;
          
        }
        if (!realPaperCount) {
          realPaperCount = 0
        }
        return duePaperCount + '/' + realPaperCount;
      },
      formaterCopyToZero: function (row) {
        var dueCopyCount = row.dueCopyCount;
        var realCopyCount = row.realCopyCount;
        if (!dueCopyCount) {
          dueCopyCount = 0;
          
        }
        if (!realCopyCount) {
          realCopyCount = 0
        }
        return dueCopyCount + '/' + realCopyCount;
      },
      
      allExpand: function () {
        var box = $('.el-table__row');
        for (var i = 0; i < box.length; i++) {
          var _this = box.eq(i);
          if (!_this.hasClass('expanded')) {
            _this.find('.el-icon.el-icon-arrow-right').trigger('click');
          }
        }
      },
      
      allNotExpand: function () {
        $('.el-table__row.expanded .el-icon.el-icon-arrow-right').trigger('click');
      }
      
    },
    created: function () {
      var vm = this;
      axios.defaults.withCredentials = true;
      vm.getDicCodeItems(vm.getMatList); //获取通用字典数据
    },
    mounted: function () {
    },
    filters: {
      dicCodeItem: function (value) {
        if (value != null) {
          var arr = value.split(',');
          for (var j = 0; j < arr.length; j++) {
            for (var i = 0; i < vm.dicCodeItems.length; i++) {
              var item = vm.dicCodeItems[i];
              if (item["itemCode"] == arr[j]) {
                arr[j] = item["itemName"];
                break;
              }
            }
          }
          return arr.join(',');
        }
        return value;
      },
    }
  });
  $('body').on('click', '.meterial-col', function () {
    var _this = $(this);
    _this.parent().find('.el-icon.el-icon-arrow-right').trigger('click');
  });
  
  function getUrlParam(name) {
    var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
    var r = window.location.search.substr(1).match(reg);
    if (r != null) {
      return unescape(r[2]);
    }
    return null;
  }
</script>
</html>