
.row {
    margin-left: 0px;
    margin-right: 0px;
}

label {

    text-align: right;
}

.form-group label {
    display: block;
    float: left;
    position: relative;
}

.form-group input[type="file"] {
    position: absolute;
    width: 10%;
    opacity: 0;
}

.form-group .custorm-style {
    display: block;
    width: 100%;
    height: 38px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
}

.form-group .custorm-style .left-button {
    width: 71px;
    font-size: 13px !important;
    height: 22px;
    line-height: 13px;
    float: left;
    border: 1px solid #b1b1b1;
    background: linear-gradient(to bottom, #fff, #ccc);
    color: #444;
    margin-top: 0.9%;
    margin-left: 1%;
}

.form-group .custorm-style .right-text {
    width: 80%;
    height: 99%;
    line-height: 2.7em;
    display: block;
    overflow: hidden;
}

.blueColor {

    background-color: #52B6FD;
    color: white;
}

.circleIcon {

    /*display: inline-block;*/
    /*width: 34px;*/
    /*height: 24px;*/
    /*border-radius: 0px;*/
    /*color: white;*/
    /*text-align: center;*/
    /*line-height: 24px;*/
    /*font-size: 12px;*/
    /*margin: 0px 1px;*/

    width: 30px;
    height: 30px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    border-radius: 100%;
    margin: 0px 1px;
    line-height: 29px;
    font-size: 12px;
}