.mt20{
    margin-top: 20px;
}
.el-dialog__header {
    border: none;
    height: 44px;
    line-height: 44px;
    color: #fff;
    background: #457EFF;
    padding: 0 15px;
}
.el-dialog__title {
    color: #ffffff;
    line-height: 45px;
}
.el-dialog__footer {
    padding: 10px 20px 10px;
}
.el-dialog__headerbtn .el-dialog__close {
    color: #ffffff;
    -webkit-transition: all 0.2ms;
    -o-transition: all 0.2ms;
    transition: all 0.2ms;
}
.addDirDialog .el-dialog__body {
    padding: 12px;
}
.addDirForm-box {
    background: rgba(255,255,255,1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 25px;
}
.addDirForm-box .el-form-item{
    display: inline-block;
}
.addDirDialog .el-dialog {
    background: #F0F3F6;
}
.addDirDialog .el-dialog .el-upload--picture-card i{
    line-height: 5;
}
.el-form-item.is-success .el-input__inner, .el-form-item.is-success .el-input__inner:focus, .el-form-item.is-success .el-textarea__inner, .el-form-item.is-success .el-textarea__inner:focus {
    border-color: #DCDFE6;
}
.tips {
    width: 930px;
    height: 48px;
    background: rgba(255,252,238,1);
    border: 1px solid rgba(255,184,34,1);
    border-radius: 4px;
    margin-bottom: 30px;
}

.add-btn{
    width:120px;
    height:40px;
    background:rgba(69,126,255,1);
    border-radius:4px;
    color: #ffffff;
}
.search-certifi-btn{
    width:118px;
    height:40px;
    background:rgba(69,126,255,1);
    border-radius:4px;
}

.my-certifiy-table-box .step-title {
    margin: 38px 0 36px 0;
    font-size: 20px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    position: relative;
    color: #3F4047;
}
.my-certifiy-table-box .step-title:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #3F4047;
    position: absolute;
    top: 35px;
    left: 0px;
}