.wt-header-tab {
  box-shadow: 0px 7px 13px 0px rgba(59,97,183,0.1);
}
/* 我的项目 start */
.my-pro-content {
  width: 100%;
}
.my-pro-left {
  width: 240px;
  height: 100%;
  margin-right: 30px;
  background: #F9FBFD;
  /*box-shadow: 0px 4px 16px 0px rgba(9,41,77,0.12);*/
  float: left;
  box-shadow: 0px 5px 6px rgba(120,47,224,0.08);
}
.my-pro-right {
  width: 930px;
  float: left;
}
.my-pro-right-full {
  width: 1200px;
}
.my-pro-right .add-info-content h1 {
  font-size: 23px;
}
.user-company {
  height: 120px;
  background: #457EFF;
  color: #fff;
  text-align: center;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.user-company button {
    width: 110px;
    height: 30px;
    background: rgba(255, 255, 255, 0);
    border: 1px solid #ffffff;
    color: #fff;
    margin: 5px 5px;
    cursor: pointer;
    border-radius: 2px;
    font-size: 14px;
}
.btn-badge {
  display: inline-block;
  position: relative;
}
.red-badge {
  position: absolute;
  right: -7px;
  top: -7px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #f13939;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  font-weight: bold;
}
.company-name {
  min-height: 46px;
  padding: 35px 0 4px;
  position: relative;
  line-height: 24px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  display: -webkit-box;
  font-size:18px;
  font-weight:bold;
  color:rgba(255,255,255,1);
  text-align: center;
}
.company-name span span span{
	display: inline-block;
    width: 198px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}
.pro-title {
  position: relative;
  font-weight: bold;
  line-height: 50px;
  padding-left: 70px;
}
.user-pro-item.active .pro-title {
  color: #457EFF;
  font-size: 16px;
}
.pro-icon{
  width: 18px;
  height: 18px;
  font-weight: 400;
  -webkit-background-size: 18px 18px;
  background-size: 18px 18px;
}
.icon-1{
  background: url(../../images/userCenter/icon-1.png) no-repeat;
  background-position: 43px -1px;
}
.icon-2{
  background: url(../../images/userCenter/icon-2.png) no-repeat;
  background-position: 45px 0px;
}
.icon-3{
  background: url(../../images/userCenter/icon-3.png) no-repeat;
  background-position: 45px 0px;
}
.icon-4{
  background: url(../../images/userCenter/icon-4.png) no-repeat;
  background-position: 45px 0px;
}
.icon-5{
  background: url(../../images/userCenter/icon-5.png) no-repeat;
  background-position: 45px 0px;
}
.icon-6{
  background: url(../../images/userCenter/icon-4.png) no-repeat;
  background-position: 45px 0px;
}
.user-pro-item>div>i{
  transition: all 0.3s;
}
.user-pro-item>div>i.close{
  transform: rotate(180deg);
}

.user-pro-item>div.active{
  background: #fff;
  border-left: 3px solid #457EFF;
  color: #457EFF;
}
.user-pro-item li a {
  height: 40px;
  line-height: 40px;
  padding-left: 80px;
  border-left: 3px solid transparent;
  display: inline-block;
  width: 100%;
}
.user-pro-item li.active a {
  background: #fff;
  border-left-color: #457EFF;
  color: #457EFF;
}
.search-input {
  text-align: left;
  margin-top: 35px;
  margin-bottom: 43px;
}
.search-input input {
  color: #0D1C28;
  padding: 0 10px;
  margin-right: 14px;
  font-size: 14px;
    width:582px;
    height:44px;
    background:rgba(255,255,255,1);
    border:1px solid rgba(230,234,244,1);
    border-radius:4px;
}
input::-webkit-input-placeholder {
  color: #aab2bd;
}
.search-title {
  width: 130px;
  text-align: right;
  padding: 0 10px;
  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: rgba(87,89,98,1);
  display: inline-block;
}
.search-btn {
  width:118px;
  height:44px;
  line-height: 44px;
  background:rgba(69,126,255,1);
  border-radius:4px;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
.my-pro-right .wt-tab .wt-tab-nav li {
  /*padding: 0 10px 12px 10px;*/
  font-size: 16px;
  font-weight: bold;
}
.my-pro-right .wt-tab .wt-tab-nav li.active {
  border-bottom: 4px solid #457EFF;
  margin-bottom: -4px;
  color: #457EFF;
  font-size: 16px;
}
.my-pro-right .pro-name {
  display: inline-block;
  width: 270px;
}
.user-pro-item li {
  cursor: pointer;
}

.red-cycle {
  display: inline-block;
  background: #ff133d;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  vertical-align: middle;
  margin-right: 5px;
}
.red-waring {
  color: #F13939;
}
/* 我的项目 end */
/* 并联申报 start */
.parallel-appr-title {
  text-align: center;
  font-size: 15px;
  color: #575962;
}
.parallel-appr-title b {
  color: #FF8800;
}
.parallel-appr-content .search-input {
  text-align: left;

}
.parallel-appr-content .search-pro-num {
  width:582px;
  height:44px;
  background:rgba(255,255,255,1);
  border:1px solid rgba(230,234,244,1);
  border-radius:4px;
}
.sel-result {
  font-weight: bold;
}
/* 补全信息 */
.my-pro-right .add-info-content .row-stage {
  border-bottom: none;
}
.my-pro-right .add-info-content .row-stage li.active {
  border: none;
  background: #3E97DF;
}
.add-info-content .row-stage {
  font-size: 18px;
  width: 100%;
}
.stage-count {
  color: #51A1E2;
  font-size: 36px;
  vertical-align: top;
}
li.active .stage-count {
  color: #fff;
}
.my-pro-right .wt-tab .row-stage li {
  width: 224px;
  height: 60px;
  line-height: 60px;
  color: #51A1E2;
  position: relative;
  margin-right: 6px;
  padding-left: 40px;
  background: rgba(62, 151, 223, 0.1);
  font-weight: normal;
}
.wt-tab .row-stage li:after {
  content: '';
  display: block;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 30px solid rgba(62, 151, 223, 0.1);
  position: absolute;
  right: -30px;
  top: 0;
  z-index: 10;
}
.wt-tab .row-stage li.active:after {
  border-left-color: #3E97DF;
}
.wt-tab .row-stage li:before {
  content: '';
  display: block;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 30px solid #fff;
  position: absolute;
  left: 0px;
  top: 0;
}
.wt-tab .row-stage li:first-child:before {
  display: none;
}
.wt-tab .row-stage li.none-line:after {
  display: none;
}
.stage-name {
  color: #51A1E2;
  display: inline-block;
  vertical-align: super;
  padding-left: 6px;
  font-size: 18px;
}
.row-stage li.success-tab .stage-name {
  color: rgba(62, 151, 223, 0.3);
}
.row-stage li.active .stage-name {
  color: #fff;
}
.from-content {
  margin-top: 20px;
}
.form-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}
.form-row .form-row-item {
  flex: 1;
  -ms-flex: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 30px;
}
.input-label {
  width: 130px;
  display: inline-block;
  font-weight: 600;
  color: #0D1C28;
  line-height: 48px;
}
.m-radio {
  line-height: 48px;
  margin-right: 20px;
  position: relative;
}
.form-row-item input[type='text'],
.form-row-item select {
  flex: 3;
  -ms-flex: 3;
  height: 48px;
  background: #fff;
  border: 1px solid #BBBBBB;
  padding: 0 10px;
  color: #45484b;
}
.form-row-item input[type='text'].long-input {
  flex: 1 1 auto;
  -ms-flex: 1 1 auto;
}
.form-row-item input.readonly {
  /*background: #F2F2F2;*/
  color: #0D1C28;
}
.form-row-item textarea {
  flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  height: 76px;
  background: #fff;
  border: 1px solid #bbb;
}
.form-row-item .m-checkbox a {
  color: #3E97DF;
}
.stage-icon-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 40px 0;
}
.stage-icon-row > div {
  flex: 1;
  -ms-flex: 1;
  text-align: center;
  font-size: 16px;
}
.end-stage .stage-icon:after {
  width: 0;
}
.approved-success .stage-icon:after {
  background: #34BFA3;
}
.stage-icon-row p {
  font-weight: bold;
  margin-top: 10px;
  color: #adadad;
}
.stage-icon-row .active p {
  color: #3E97DF;
}
.pro-approving p {
  color: #3E97DF;
}
.approved-success p {
  color: #34BFA3;
}
/*.planning-approval.approved-success .stage-icon {*/
/*background: url(../images/icon/icon_lifecycle_3.png) no-repeat;*/
/*}*/
/*.planning-approval.pro-approving .stage-icon, .stage-icon-row .planning-approval:hover .stage-icon, .stage-icon-row .planning-approval.active .stage-icon {*/
/*background: url(../images/icon/icon_lifecycle_2.png) no-repeat;*/
/*}*/
/*.planning-approval .stage-icon {*/
/*background: url(../images/icon/icon_lifecycle_1.png) no-repeat;*/
/*}*/
/*.bulid-permit.approved-success .stage-icon {*/
/*background: url(../images/icon/icon_lifecycle_6.png) no-repeat;*/
/*}*/
/*.bulid-permit.pro-approving .stage-icon, .stage-icon-row .bulid-permit:hover .stage-icon, .stage-icon-row .bulid-permit.active .stage-icon {*/
/*background: url(../images/icon/icon_lifecycle_5.png) no-repeat;*/
/*}*/
/*.bulid-permit .stage-icon {*/
/*background: url(../images/icon/icon_lifecycle_4.png) no-repeat;*/
/*}*/
/*.work-permit.approved-success .stage-icon {*/
/*background: url(../images/icon/icon_lifecycle_9.png) no-repeat;*/
/*}*/
/*.work-permit.pro-approving .stage-icon, .stage-icon-row .work-permit:hover .stage-icon, .stage-icon-row .work-permit.active .stage-icon {*/
/*background: url(../images/icon/icon_lifecycle_8.png) no-repeat;*/
/*}*/
/*.work-permit .stage-icon {*/
/*background: url(../images/icon/icon_lifecycle_7.png) no-repeat;*/
/*}*/
/*.end-stage.approved-success .stage-icon {*/
/*background: url(../images/icon/icon_lifecycle_12.png) no-repeat;*/
/*}*/
/*.end-stage.pro-approving .stage-icon, .stage-icon-row .end-stage:hover .stage-icon, .stage-icon-row .end-stage.active .stage-icon {*/
/*background: url(../images/icon/icon_lifecycle_11.png) no-repeat;*/
/*}*/
/*.end-stage .stage-icon {*/
/*background: url(../images/icon/icon_lifecycle_10.png) no-repeat;*/
/*}*/
.common-pro {
  font-size: 14px;
}
.common-title {
  font-weight: bold;
  /*padding-bottom: 10px;*/
  /*border-bottom: 1px solid rgba(151,151,151,.3);*/
  margin: 20px 0;
  font-size: 18px;
}
.pro-success {
  width: 60px;
  height: 22px;
  background: #34bfa3;
  border-radius: 11px;
  color: #fff;
  display: inline-block;
  text-align: center;
  line-height: 22px;
}
.blue-suss {
  color: #3E97DF;
  padding: 0 10px;
}
.blue-suss.disabled {
  color: rgba(62, 151, 223, 0.31);
}
.sel-status .status-ques {
  padding: 24px 0 20px 0;
}
.sel-status .red-waring {
  margin: 0 6px 0 -8px;
}
sel-status .radiobox {
  margin-left: 8px;
}
.sel-status .status-ques > span {
  color: #999999;
  padding: 0 15px;
}
/* 并联申报 end */
/* 事项材料一单清 */
.wt-tab {
  /*margin-top: 40px;*/
}
.materials-table {
  border: 1px solid #E2E2E2;
  border-bottom: none;
}
.materials-table thead tr {
  background: #F2F2F2;
  border-bottom: 1px solid #E2E2E2;
}
.materials-table th,
.materials-table td {
  padding: 15px 12px;
}
.file-upload {
  color: #3e97df;
  padding-left: 20px;
  background: url("../images/icon/upload.png") no-repeat center left;
  cursor: pointer;
}
.uploader {
  display: inline-block;
  margin: 9px 0 0 0px;
}
.upload-btn {
  display: inline-block;
  width: 180px;
  height: 54px;
  background: #3e97df;
  /*padding: 18px;*/
}
.upload-btn .up-file {
  color: #ffffff;
  background: url(../images/icon/upload-white.png) no-repeat center left;
  cursor: pointer;
  font-size: 15px;
  padding: 18px 24px;
  margin-left: 12px;
}
/* 单项申报 */
.obtain {
  display: inline-block;
  width: 90px;
  height: 48px;
  background: #3E97DF;
  line-height: 48px;
  text-align: center;
  color: #fff;
}
.margin-top-30 {
  margin-top: 30px;
}
/* product-diagram生命周期图 */
.detail-info {
  /*margin-top: 40px;*/
}
.detail-info li {
  display: inline-block;
  width: 46%;
  font-size: 16px;
  margin-bottom: 20px;
}
.detail-info li h3 {
  font-weight: 400;
  color: #727475;
  float: left;
  width: 160px;
  font-size: 16px;
  text-align: right;
  padding-right: 15px;
}
.detail-info li p {
  color: #0D1C28;
  float: left;
}
.info-content {
  display: inline-block;
  padding: 10px 20px 30px 20px;
  background: #ebf6ff;
}
.info-content h3 {
  margin-bottom: 20px;
}
.info-content ul li {
  display: inline-block;
  padding: 0 16px 0px 0px;
  border-right: 1px solid #fff;
}
.info-content ul li:last-child {
  border-right: none;
}
.info-content ul li p {
  font-size: 14px;
}
.info-content2 {
  background: #fff8f1;
  margin-left: 10px;
}
.info-content3 {
  background: #faf1fe;
  margin-left: 10px;
}
/* 生命周期图表格 */
.vertical-font {
  layout-flow: vertical-ideographic;
  width: 40px;
}
#common_item_table thead tr th {
  background: #FFFFFF;
}
#common_item_table .p-header {
  margin-bottom: 0px;
}
/* 修改内容 */
.form-row .form-row-item .short-input {
  width: 400px;
  flex: initial;
}
/*附件上传*/
.support-type {
  font-family: PingFangSC-Regular;
  font-size: 16px;
  color: #727475;
  margin: 30px 0 20px 0;
}
#file-upload {
  border: 1px solid #E2E2E2;
  width: 100%;
  border-bottom: none;
}
#file-upload td {
  border-bottom: 1px solid #E2E2E2;
  padding: 15px;
}
.up-file {
  color: #3E97DF;
  padding-left: 20px;
  background: url("../images/icon/upload.png") no-repeat center left;
  border: none;
}
.wt-title-small {
  margin: 40px 0 20px 0;
}
/*申请人下拉框addbyzl start*/
.applicant-sel {
  position: relative;
}
.applicant-list {
  position: absolute;
  top: 48px;
  left: 130px;
  width: 300px;
  background: #fff;
  z-index: 999;
  border: 1px solid #bbb;
  border-top: none;
  height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
  display: none;
}
.applicant-list li {
  height: 35px;
  line-height: 35px;
  border-bottom: 1px solid #e4e4e4;
  padding: 0 10px;
  cursor: pointer;
}
.applicant-list li > span.fr {
  padding-top: 10px;
}
.applicant-sel .fa-sort-down {
  position: absolute;
  right: 10px;
  top: 10px;
}
/*addbyzl end*/
/* 阶段申报的单选框、多选框样式 2019-03-01 */
.condTable {
  width: 100%;
  font-size: 16px;
}
.condTable tr {
  /*border: 1px solid #e8e8e8;*/
  border-bottom: none;
}
.condTable tr:last-child {
  /*border-bottom: 1px solid #e8e8e8;*/
}
.condTable td p {
  padding: 20px 0 15px 0;
  color: #0D1C28;
  font-weight: 600;
  font-size: 16px;
}
.condTable .m-checkbox-inline {
  padding-bottom: 10px;
  display: inline-block;
  font-size: 16px;
}
.condTable .m-checkbox-inline .checkbox {
  margin-left: 0;
}
.tips {
  font-size: 14px;
  color: #666;
  line-height: 24px;
  padding: 10px;
  background: #f7f7f7;
  border-radius: 3px;
}
/*.my-pro-right .wt-tab .stage-title li{*/
/*  width: 300px;*/
/*}*/
/* parallel-add-info  2019-03-01 */
.items-list {
  overflow: hidden;
}
.items-list .department-name {
  float: left;
  width: 293px;
  height: 48px;
  background: #f1f2f3;
  text-align: center;
  line-height: 48px;
  margin-bottom: 10px;
  margin-right: 9px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  padding: 0 10px;
  font-size: 14px;
}
.itmes-title {
  line-height: 30px;
  border-bottom: 1px solid #e2e2e2;
  overflow: hidden;
  padding: 12px 0;
  margin: 20px 0;
}
.itmes-title h5 {
  font-size: 16px;
  font-weight: bold;
  float: left;
}
.itmes-title a {
  font-size: 14px;
  float: right;
  line-height: 30px;
  cursor: pointer;
  color: #3e97df;
}
.itmes-title a:hover {
  opacity: 0.8;
}
/*.my-pro-right .wt-tab .stage-title li{*/
/*  width: 300px;*/
/*}*/
/* 办事指南pdf */
.margin-right-10 {
  margin-right: 10px;
}
/*安监系统跳转*/
.outside_class {
  display: none;
}
.outside_btn {
  display: block;
  width: 100px;
  height: 30px;
  margin: auto;
  line-height: 30px;
  text-align: center;
  background-color: #3E97DF;
  color: white;
}
#companyPro #stageTypeList .active_sel {
  border-bottom: 6px solid #3E97DF;
  margin-bottom: -4px;
  color: #3E97DF;
}
.userCenterMenList {
  background: #F9FBFD;
}
[v-cloak] {
  display: none;
}
#scheduQ .el-table th{
    width:930px;
    height:60px;
    background:rgba(249,251,253,1);
    font-size:14px;
    font-family:Microsoft YaHei;
    font-weight:400;
    color:rgba(127,133,144,1);
}
#scheduQ .el-table th>.cell{
  font-weight: normal;
}

#declareVue .el-table th{
  width:930px;
  height:60px;
  background:rgba(249,251,253,1);
  font-size:14px;
  font-family:Microsoft YaHei;
  font-weight:400;
  color:rgba(127,133,144,1);
}
#declareVue .el-table th>.cell{
  font-weight: normal;
}
.my-pro-left .userCenterMenList ul.user-pro-list li.user-pro-item{
  position: relative;
}
.my-pro-left .userCenterMenList ul.user-pro-list li.user-pro-item .el-icon-arrow-down{
  position: absolute;
  right: 20px;
  top: 19px;
}


















