.mt10 {
  margin-top: 10px;
}
.mt20 {
  margin-top: 20px;
}
.mt40 {
  margin-top: 40px;
}
.mb20 {
  margin-bottom: 20px;
}
.mt60 {
  margin-top: 60px;
}
.pd10 {
  padding: 10px;
}
.pl20 {
  padding-left: 20px;
}
.wt100 {
  width: 100%;
}
.wt92 {
  width: 92%;
}
.wt48 {
  width: 48%;
}
.wt448 {
  width: 448px;
}
.wt588 {
  width: 588px;
}
.w-320 {
  width: 270px;
}
.w-410 {
  width: 410px;
}
.w-775 {
  width: 730px;
}
.w-875 {
  width: 870px;
}
.w-1010 {
  width: 1010px;
}
.inline-block {
  display: inline-block;
}
.color-3e97df {
  color: #457EFF !important;
}
.font-blod {
  font-weight: bold;
}
.font-size16 {
  font-size: 16px;
}
.normal-dialog {
  color: #e5e5e5;
}
.normal-dialog .el-dialog__body {
  padding-top: 0;
}
.declare-content {
  position: relative;
}
.declare-content .pd-tab-nav li.tab-li {
  float: left;
  text-align: center;
  position: relative;
  margin-right: 50px;
  margin-top: 10px;
  width: 106px;
}
.el-select-dropdown.el-popper {
  max-width: 558px;
}
.declare-content .pd-tab-nav.tab_5 li.tab-li {
  margin-right: 165px;
}
.declare-content .pd-tab-nav li.tab-li:last-child {
  margin-right: 0;
}
.declare-content .pd-tab-nav li.tab-li .mstage-count {
  display: inline-block;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background: #fff;
  color: #457EFF;
  border: 1px solid #457EFF;
  opacity: 0.6;
  line-height: 26px;
  text-align: center;
  margin-bottom: 8px;
}
.declare-content .pd-tab-nav li.tab-li.active .mstage-count {
  background: #457EFF;
  color: #fff;
  opacity: 1;
}
.declare-content .pd-tab-nav li.tab-li .mstage-count.not-allow-sel {
  background: #AFB2C1;
  color: #fff;
  border-color: #AFB2C1;
}
.declare-content .pd-tab-nav li.tab-li .mstage-count.not-allow-sel~.mstage-name{
 color: #AFB2C1;
}
.declare-content .pd-tab-nav li.tab-li .mstage-name {
  color: #7F8590;
}
.declare-content .pd-tab-nav li.tab-li.active .mstage-name {
  color: #3F4047;
}
.declare-content .pd-tab-nav li.tab-li:before {
  content: '';
  display: block;
  position: absolute;
  height: 1px;
  left: 67px;
  width: 132px;
  background: #E6EAF4;
  top: 14px;
  border-radius: 1px;
}
.declare-content .pd-tab-nav.tab_5 li.tab-li:before {
  width: 242px;
}
.declare-content .pd-tab-nav li.tab-li:last-child:before{
  content: none;
}
.declare-content .proj-base-info .el-form .el-form-item .el-form-item__label {
  width: 178px;
}
.declare-content .pro-type-item {
  width: 48%;
  border: 1px solid #E6EAF4;
  border-radius: 4px;
  margin: 0 5px 20px 5px;
  float: left;
  cursor: pointer;
  height: 70px;
  color: #3F4047;
  padding: 15px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.declare-content .pro-type-item:hover {
  box-shadow:0px 2px 13px 0px rgba(59,97,183,0.16);
  border-color: transparent;
}
.change-theme-btn {
  border-color: #457EFF;
  color: #457EFF;
  position: absolute;
  right: 110px;
  top: 80px;
}
.declare-content .pro-type-item.active:before {
  content: '';
  display: inline;
  position: absolute;
  bottom: -1px;
  right: -1px;
  padding: 0;
  border-left: 45px solid transparent;
  border-top: 18px solid transparent;
  border-bottom: 45px solid #457EFF;
}
.declare-content .pro-type-item img {
  margin-right: 15px;
  display: block;
  float: left;
  width: 50px;
  height: 50px;
}
.declare-content .pro-type-item.disabled {
  opacity: .6;
  cursor: not-allowed;
}
.declare-content  .pro-type-item.active {
  border-color: #457EFF;
  position: relative;
}
.declare-content .pd-info-pandel .pro-type-item.pro-type-sel,
.declare-content .pd-info-pandel .pro-type-item.pro-type-null {
  padding: 0px 20px;
  height: 70px;
  width: 80%;
  float: inherit;
  margin: 20px 0 0 60px;
}
.declare-content .pro-type-item.pro-type-null {
  text-align: center;
  border: dashed 2px #E0E3E9;
  display: block;
  line-height: 70px;
  font-size: 16px;
  color: #457EFF;
}
.declare-content .pro-type-item.pro-type-null .el-icon-circle-plus-outline {
  font-size: 24px;
  vertical-align: sub;
  padding-right: 10px;
}
.declare-content .pro-type-item .el-icon-check {
  display: none;
}

.declare-content .pro-type-item.active .el-icon-check {
  display: inline;
  position: absolute;
  bottom: 2px;
  right: 2px;
  font-size: 20px;
  color: #FFF;
}
.declare-content .pd-info-pandel .pandel-tab-nav {
  text-align: center;
  margin-top: 28px;
}
.declare-content .pd-info-pandel .pandel-tab-nav li {
  padding: 0 20px;
  cursor: pointer;
  display: inline-block;
}
.declare-content .pd-info-pandel .pandel-tab-nav li img {
  border: 1px dashed #a1a2af;
  width: 180px;
  height: 200px;
}
.declare-content .pd-info-pandel .pandel-tab-nav li .status-line-img {
  padding: 12px 9px;
  border: 1px solid #E6EAF4;
  border-radius: 4px;
  margin-bottom: 20px;
}
.declare-content .pd-info-pandel .pandel-tab-nav li.active .status-line-img {
  border-color: #457EFF;
  box-shadow:0px 3px 10px 0px rgba(69,126,255,0.21);
}
.matter-list .handel-icon {
  display: inline-block;
  width: 54px;
  height: 22px;
}
.matter-list .guid-icon {
  background: url(../../images/icon/guide.png) no-repeat center center;
}
.matter-list .sign-icon {
  background: url(../../images/icon/declare.png) no-repeat center center;
}
.matter-list .sign-icon.disabled {
  cursor: not-allowed;
}
.matter-list .guid-icon.disabled {
  cursor: not-allowed;
}
.declare-content .pd-info-pandel .situation-box .question {
  padding: 24px 0 20px 0;
}
.declare-content .pd-info-pandel .situation-box .question i {
  margin: 0 6px 0 -8px;
  color: #F13939;
}
.declare-content .pd-info-pandel .fileDiv .upload-file {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border: 1px dashed #D2D2D2;
  margin-bottom: 10px;
}
.declare-content .pd-info-pandel .fileDiv .upload-file .sel-file-stutas {
  flex: 0.5;
  -ms-flex: 0.5;
  background: #DCF0FF;
  font-size: 30px;
  font-weight: 400;
  color: #36A3F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  margin: -1px 0 -1px -1px;
}
.declare-content .pd-info-pandel .fileDiv .upload-file .label {
  font-size: 16px;
  font-weight: bold;
  display: block;
  line-height: 22px;
  padding-top: 8px;
}
.declare-content .pd-info-pandel .fileDiv .upload-file .sel-file {
  flex: 8;
  -ms-flex: 8;
  padding: 20px;
}
.declare-content .pd-info-pandel .collpase-pandel {
  background-color: #f1f2f3;
  color: #457EFF;
  text-align: center;
  font-size: .7rem;
  line-height: 1.9rem;
  height: 1.9rem;
  margin-top: .5rem;
  cursor: pointer;
}
.declare-content .pd-info-pandel .collpase-pandel i {
  font-weight: bold;
}
.declare-content .proj-module h4 {
  font-size: 18px;
  padding-bottom: 10px;
  border-bottom: 2px solid #575962;
  margin-bottom: 24px;
  color: #575962;
  cursor: pointer;
}
.declare-content .proj-module p.non-data {
  color: #909399;
}
.declare-content .proj-module .module-content table {
  width: 100%;
  font-size: 14px;
  border: 1px solid #E2E2E2;
  border-left: 0;
  border-bottom: 0;
}
.declare-content .proj-module .module-content table tbody th,
.declare-content .proj-module .module-content table tbody td {
  border-bottom: 1px solid #E2E2E2;
}
.declare-content .proj-module .module-content table tbody th {
  font-weight: 400;
  width: 110px;
  background: #f2f2f2;
  height: 46px;
  border-left: 1px solid #E2E2E2;
  border-right: 1px solid #E2E2E2;
}
.declare-content .proj-module .module-content table tbody td {
  padding: 10px;
  line-height: 24px;
}
.declare-content .proj-module .module-content .collpase-pandel {
  background-color: #f1f2f3;
  color: #457EFF;
  text-align: center;
  font-size: .7rem;
  line-height: 1.9rem;
  height: 1.9rem;
  margin-top: .5rem;
  cursor: pointer;
}
.declare-content .proj-module .module-content .collpase-pandel i {
  font-weight: bold;
}
.declare-content .proj-module .content-border {
  border: 1px solid #e2e2e2;
}
.addressee-sel .el-form--inline .el-form-item__content {
  width: 775px;
}
.addressee-sel .el-form--inline .el-form-item__content .el-select {
  width: 250px;
  margin-right: 5px;
}
/*element*/
.el-button--primary,
.el-radio__input.is-checked .el-radio__inner {
  background-color: #457EFF;
  border-color: #457EFF;
}
.el-tabs__header {
  margin-bottom: 20px;
}
.el-radio__input.is-checked+.el-radio__label {
  color: #575962;
}
.el-input__inner, .el-textarea__inner {
  border-radius: 0;
}
.el-input.is-disabled .el-input__inner {
  background-color: #F5F7FA;
  border-color: #DCDFE6;
  color: #AFB2C1;
}
.el-form-item.is-success .el-input__inner, .el-form-item.is-success .el-input__inner:focus, .el-form-item.is-success .el-textarea__inner, .el-form-item.is-success .el-textarea__inner:focus {
  border-color: #DCDFE6;
}
.el-tabs__item {
  font-size: 18px;
  font-weight: bold;
}
.one-form-tab .el-tabs__item {
  font-size: 12px;
  padding: 0 8px 0 0;
  max-width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
.one-form-tab.closed .el-tabs__item {
  max-width: 50px;
}
.one-form-tab .el-tabs__nav {
  margin-top: 40px
}
.one-form-tab .el-tabs__nav:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 2px;
  height: 100%;
  background-color: #E6EAF4;
}
.one-form-tab .el-tabs__nav-wrap::after {
  content: none;
}
.icon-fold {
  position: absolute;
  left: 30px;
  font-size: 28px;
  color: #999;
  z-index: 100;
  cursor: pointer;
}
.file-name .icon {
  padding-right: 5px;
}
.icon-fold.el-icon-s-fold {
  left: 94px;
}
.el-tabs__item.is-active, .el-tabs__item:hover {
  color: #457EFF;
}
.el-tabs__nav-wrap::after {
  height: 1px;
  background: #E6EAF4;
}
.el-tabs__active-bar {
  height: 2px;
  background-color: #457EFF;
}
.pro-type-item .theme-name {
  overflow: hidden;
  width: 460px;
}
.sel-status-item {
  border: 1px solid #e8e8e8;
  border-bottom: none;
  padding: 5px 8px;
  margin: 0;
}
.matter-list .sel-status-item {
  border: none;
  border-left: 1px solid #e8e8e8;
  padding: 5px 20px;
}
.sel-status-item:last-child {
  border-bottom: 1px solid #e8e8e8;
}
.matter-list .sel-status-item:last-child {
  border-bottom: none;
}
.matter-list .sel-status-item:not(:last-child) {
  border-bottom: 1px solid #e8e8e8;
}
.sel-status-item .el-radio-group, .sel-status-item .el-checkbox-group {
  padding: 0 0 5px 20px;
}
.isTag{
  margin-left: 5px;
  border-radius: 5px;
  padding: 4px 6px 3px 6px;
  color: white;
  line-height: normal;
  font-size: 12px;
  white-space: nowrap;
}
.isTag.isRecommend{
  background-color: #FF8800;
}
.isTag.isDone{
  background-color: #00C161;
}
.isTag.isDoing {
  background-color: #4EB2FD;
}
.isTag.isRequired{
  background-color:red;
}
.isTag .ag {
  padding-right: 3px;
  vertical-align: middle;
}
.isTag.notDone {
  background-color: #aaa;
}
.matter-list .el-table__expand-column {
  border-left: none;
  border-right: none;
}
.matter-list .el-table__expand-icon {
  display: none;
}
/*材料上传*/
.fileDiv {
  border: 1px dashed #D2D2D2;
  min-height: 170px;
  margin-bottom: 10px;
}
.fileDiv.is-sel-file .upload-flie {
  width: 130px;
  float: right;
  min-height: 170px;
  height: 170px;
  position: relative;
}
.fileDiv.is-sel-file .el-upload-dragger {
  width: 110px;
  height: 110px;
  margin: 7px;
  padding-top: 0;
  border-radius: 0;
}
.fileDiv.is-sel-file .submit-file {
  position: absolute;
  bottom: 7px;
  right: 14px;
}
.el-upload-dragger .el-icon-plus {
  background-color: rgba(242, 242, 242, 0.56);
  box-sizing: border-box;
  width: 110px;
  height: 110px;
  cursor: pointer;
  line-height: 110px;
  font-size: 40px;
  color: #d7d7d7;
  font-weight: bold;
}
.upload-flie {
  min-height: 120px;
  width: 100%;
  position: relative;
  max-height: 200px;
}
.imitate-upload-pic {
  line-height: normal;
}
.file-list-ul {
  margin-right: 130px;
  padding: 10px;
  border-right: 1px dashed #D2D2D2;
  min-height: 170px;
}
.el-upload-dragger {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: none;
  padding-top: 50px;
}
.el-upload__text {
  color: #7C828D;
  margin-top: 90px;
  position: relative;
  text-align: center;
}
.file-list-tab:not(:last-child) {
  margin-bottom: 10px;
}
.file-list-tab .file-name {
  color: #457EFF;
  font-size: 14px;
}
.file-list-tab .file-icon-btn span {
  padding: 0 6px;
  cursor: pointer;
}
.file-list-tab .file-icon-btn span:hover {
  color: #457EFF;
}
.show-loading-prog .el-dialog__header, .show-loading-prog .el-dialog.is-fullscreen {
  background: rgba(0,0,0,.1);
}
.show-loading-prog .el-dialog__body {
  text-align: center;
  margin-top: 20%;
}
.show-loading-prog .el-progress--circle .el-progress__text {
  color: #fff;
}
.gary-notice {
  font-size: 14px;
  color: #666;
  line-height: 24px;
  padding: 10px;
  background: #f7f7f7;
  border-radius: 3px;
}
.is-catalog {
  display: inline-block;
  height: 25px;
  width: 25px;
  text-align: center;
  background: #FDB929;
  border-radius: 50%;
  color: #fff;
  padding: 0px 0;
}
.is-catalog.is-shishi {
  background: #8ACB2C;
}
.el-message-box__message p {
  word-break: break-all;
}
.one-form-name {
  height: 50px;
  line-height: 50px;
  border: 1px solid #DCDFE6;
  padding: 0 15px;
  border-radius: 4px;
  width: 240px;
  margin-right: 16px;
  cursor: pointer;
}
.show-one-form .el-dialog__header {
  background: transparent;
  color: #575962;
  border-bottom: 1px solid #DCDFE6;
}
.show-one-form .el-dialog__headerbtn:focus .el-dialog__close, .show-one-form .el-dialog__headerbtn:hover .el-dialog__close {
  color: #7F8590;
}
.show-one-form .el-dialog__header .el-dialog__title,
.show-one-form .el-dialog__headerbtn .el-dialog__close {
  color: #575962;
}
.one-form-name .icon {
  font-size: 22px;
  vertical-align: middle;
  color: #169AFF;
}
#oneFormContent {
  padding: 10px 20px;
}
.success-apply-back {
  width: 100%;
}
.success-apply-back th, .el-table th {
  background: #F9FBFD;
}
.success-apply-back.el-table:before {
  border-color: #E6EAF4;
  top: 0;
}
.success-apply-back td, .success-apply-back th {
  border-bottom: 1px solid #E6EAF4;
  border-left: 1px solid #E6EAF4;
  min-width: 150px;
  width: auto !important;
}
.footer-stage-btn {
  text-align: center;
}
.ye-notice {
  border: 1px solid #FFB822;
  border-radius: 4px;
  padding: 14px 16px 15px 40px;
  color: #575962;
  position: relative;
  background: #FFFCEE;
}
.ye-notice i {
  color: #FFB822;
  position: absolute;
  left: 15px;
  top: 16px;
  font-size: 20px;
}
.stage-row .icon-box {
  float: left;
  width: 210px;
  height: 218px;
  margin-right: 30px;
  padding: 30px 10px;
  text-align: center;
  border:1px solid #E6EAF4;
  border-radius:10px;
  font-size: 16px;
  cursor: pointer;
}
.stage-row .icon-box.gary-bg-row {
  background: #F0F3F6;
}
.stage-row .icon-box:hover, .stage-row .icon-box.active {
  background: #457EFF;
}
.el-table .ascending .sort-caret.ascending {
  border-bottom-color: #457EFF;
}
.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: #457EFF;
  border-color: #457EFF;
}
.stage-row .icon-box:last-child {
  margin-right: 0;
}
.stage-row .icon-box img {
  border: 7px solid #F0F3F6;
  border-radius: 50%;
}
.stage-row .icon-box.gary-bg-row img {
  border-color: #fff;
}
.stage-row .icon-box:hover img, .stage-row .icon-box.active img {
  border-color: #fff;
}
.stage-row .icon-box p {
  margin: 10px 0;
  color: #3F4047;
}
.icon-box .is-done {
  color: #7F8590;
}
.icon-box .is-done i {
  color: #00C161;
  margin-right: 4px;
}
.stage-row .icon-box:hover p,
.stage-row .icon-box:hover .is-done,
.stage-row .icon-box:hover .is-done i,
.stage-row .icon-box.active p,
.stage-row .icon-box.active .is-done,
.stage-row .icon-box.active .is-done i  {
  color: #fff;
}
.icon-box p.not-done {
  color: #7F8590;
}
.icon-box span.not-done {
  color: #AFB2C1;
}
.stage-row .icon-box:hover p,
.stage-row .icon-box:hover .not-done,
.stage-row .icon-box.active p,
.stage-row .icon-box.active .not-done{
  color: #fff;
}
.more-base-info, .show-more-theme {
  float: left;
  height: 40px;
  line-height: 40px;
  color: #457EFF;
  width: 100%;
  cursor: pointer;
  background: #F5F7FA;
  text-align: center;
  margin-bottom: 10px;
}
.status-css{
  padding: 3.5px 14px;
  border-radius: 15px;
  display: inline-block;
  font-size:14px;
}
.status-css img {
  margin-right: 5px;
}
.status-css_1{
  background:rgba(239,247,255,1);
  color:#4EB1FD;
}
.status-css_2, .status-css_4,.status-css_5 {
  background:rgba(183,200,220,1);
  color: #FFFFFF;
}
.status-css_7, .status-css_10{
  background:rgba(241,245,243,1);
  color: #2BB49E;
}
.status-css_3, .status-css_6, .status-css_8, .status-css_9 {
  background:rgba(239,247,255,1);
  color: #447EFF;
}
.status-css_11, .status-css_12 {
  background:rgba(234,251,240,1);
  color: #00C161;
}
.status-css_13,.status-css_14,.status-css_15 {
  background:rgba(255,240,240,1);
  color: #FF4B47;
}
.el-tooltip__popper.is-light {
  border: 1px solid #AFB2C1;
  box-shadow: 0px 3px 8px 0px rgba(46,98,176,0.15);
  color: #7F8590;
}
.el-tooltip__popper.is-light i {
  font-size: 16px;
  padding-right: 5px;
}
.status-label i {
  line-height: 40px;
}
.situation-box .el-radio {
  line-height: 30px;
}
.proj-addr .el-form-item:nth-child(2) .el-form-item__label {
  width: 83px !important;
}
.proj-addr .el-form-item:last-child .el-form-item__label {
  width: 40px !important;
}
.proj-addr .el-form-item__content {
  width: 194px;
}
.proj-addr-scope .el-form-item:not(:first-child) .el-form-item__label {
  width: 40px !important;
}
.proj-addr-scope .el-form-item__content {
  width: 142px;
}
.not-region-data {
  padding-left: 20px;
  color: #FF4B47;
}
.matter-list .el-table__expanded-cell[class*=cell] {
  padding: 0 0 0 54px;
}
/*失信弹窗  start*/
.el-dialog__footer {
  text-align: center;
  padding: 13px 20px 18px;
}
.el-dialog__footer .el-button {
  padding: 9px 20px;
}
.credit-dialog .el-dialog__footer {
  background: #F0F3F6;
}
.el-dialog__header {
  padding: 10px 20px 10px 30px;
  height: 48px;
  line-height: 48px;
  background: #457EFF;
}
.el-dialog__headerbtn {
  top: 14px;
  font-size: 18px;
}
.el-dialog__headerbtn .el-dialog__close, .el-dialog__header .el-dialog__title {
  color: #fff;
}
.el-dialog__header .el-dialog__title {
  width: 90%;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
.credit-dialog .el-dialog__body {
  background: #F0F3F6;
  padding: 12px 12px 0;
}
.credit-dia-wrap{
  color: #575962;
}
.credit-dia-box{
  background: #fff;
  padding: 22px;
  border-radius: 4px;
}
.cd-hint-box{
  border: 1px solid #FF4B47;
  background: rgba(255,75,71,0.08);
  font-size: 16px;
  padding: 0 10px;
  border-radius: 4px;
  font-weight: 600;
  line-height: 58px;
  height: 60px;
}
.cd-hint-box .cd-hint-icon {
  font-size: 42px;
  vertical-align: middle;
  margin-right: 6px;
  color: #FF4B47;
}
.cd-type-title{
  font-size: 16px;
  font-weight: 600;
  line-height:20px;
  padding: 20px 0 5px 5px;
}
.pre-u-title{
  line-height: 20px;
  padding: 10px 3px;
  cursor: pointer;
}
.p-u-wrap{
  padding: 0 17px;
  display:none;
}
.pre-list-u.open .p-u-wrap{
  display: block;
}
.is-black .pre-list-u.open .pre-u-title {
  color: #FE4743;
}
.pre-u-detail{
  border: 1px dashed #66BDFF;
  background:rgba(251,253,255,1);
  line-height: 34px;
  font-size: 14px;
  padding: 3px 0;
}
.p-detail-label{
  width: 130px;
  text-align: right;
}
.p-detail-value{
  width: 260px;
}
.is-black .pre-u-detail{
  border: 1px dashed #FF9B99;
  background:rgba(255,252,252,1);
}
.is-black .cd-type-title{
  color: #FE4743;
}
/*失信弹窗 end*/
.credit-box {
  height: 44px;
  background: rgba(255,75,71,0.08);
  border: 1px solid rgba(255,148,146,1);
  border-radius: 4px;
  line-height: 42px;
  margin-bottom: 20px;
  padding: 0 15px;
  color: #575962;
}
.credit-box-icon {
  color: #FF4B47;
  font-size: 18px;
  vertical-align: middle;
}
.see-credit-btn {
  cursor: pointer;
  background: #FF4B47;
  line-height: normal;
  padding: 3px 15px 5px 15px;
  margin: 9px 0;
  color: #fff;
  border-radius: 12px;
  font-size: 12px;
}
.required-color {
  color: #FF4B47;
}

.gbhyTreeBox {
  position: absolute;
  top: 5px;
  left: 0;
  z-index: 1;
  border: 1px solid #DCDFE6;
  width: 349px;
  background-color: #fff;
}

.gbhyTreeBox .closeTree {
  text-align: right;
  padding: 10px 15px 10px 0;
  color: #C0C4CC;
}

.gbhyTreeBox .closeTree i {
  cursor: pointer;
  font-size: 20px;
}

.gbhyTree {
  height: 300px;
  overflow-y: auto;
}

.el-tooltip__popper {
  max-width: 150px;
}
.org-name {
  padding-left: 25px;
  color: #999;
}
.linkman-set {
  min-width: 700px;
}
.linkman-set .item-left-btn {
  padding: 11px 10px;
  font-size: 16px;
}
.linkman-set .linkman-set-item {
  margin-bottom: 10px;
}
.linkman-name .el-select {
  width: 290px;
}
.linkman-name .el-button+.el-button {
  margin-left: 0;
}
.select-option-ul .el-icon-delete {
  line-height: 34px;
}
.linkman-set-item .el-col {
  margin-right: 3px
}
.add-new-unit {
  width: 100%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background: rgba(255,255,255,1);
  border: 1px dotted #457EFF;
  color: #457EFF;
  cursor: pointer;
}
.apply-info-title {
  color: #3F4047;
  font-size: 16px;
  position: relative;
  margin-bottom: 20px;
  height: 30px;
  line-height: 30px;
}
.apply-info-title .unit-index {
  width: 20px;
  height: 20px;
  background: rgba(69,126,255,1);
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 20px;
  color: #fff;
  margin-right: 6px;
  font-size: 14px;
}
.apply-info-title .el-icon-delete {
  display: inline-block;
  height: 30px;
  width: 30px;
  background: #F88F56;
  color: #fff;
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}
.apply-info-title:after {
  content: '';
  position: absolute;
  display: inline-block;
  left: 100px;
  right: 40px;
  height: 2px;
  background: #DCDFE6;
  top: 15px;
}
#declareVue .item-before .parallel-appr-title {
  margin-bottom: 16px;
  width: 100%;
}
.parallel-appr-title {
  padding: 0 16px;
}
.parallel-appr-title .ag-warn-circle {
  font-size: 20px;
  vertical-align: middle;
  color: #ffb822;
  margin-right: 5px;
}
.dia-mat-name {
  font-size: 18px;
  padding-bottom: 10px;
  border-bottom: 2px solid #3F4047;
  margin-bottom: 20px;
  color: #3F4047;
}
.upload-flie-dialog .el-dialog {
  background: #f0f3f6;
}
.upload-flie-dialog .el-dialog__body {
  background: #fff;
  padding: 15px 20px;
  margin: 14px 15px 0 15px;
}
.file-icon-btn {
  padding-left: 20px;
  display: none;
}
.file-list-tab:hover .file-icon-btn {
  display: inline-block;
}
.file-icon-btn span {
  cursor: pointer;
  font-size: 16px;
  padding: 0 3px;
  color: #169AFF;
}
.file-icon-btn span.el-icon-delete {
  color: #FF4B47;
}
.file-content-left, .file-content-right {
  width: 550px;
}
.upload-flie-dialog .el-tabs__item {
  font-size: 14px;
  font-weight: normal;
  background: rgba(240,243,246,1);
}
.upload-flie-dialog .el-tabs__item.is-active, .upload-flie-dialog .el-tabs__item:hover {
  background: #fff;
}
.upload-s-file {
  text-align: center;
  margin-top: 10px;
}
.upload-flie-dialog .el-button {
  padding: 9px 40px;
}
.search-mat .el-input {
  width: 410px;
}
.search-mat .el-button {
  padding: 11px 20px;
  margin-left: 5px;
}
.upload-flie-dialog .el-tabs__content {
  border: 1px solid #EBEEF5;
  border-top: none;
  margin-top: -20px;
  padding: 20px 15px 10px 15px;
}
.upload-flie-dialog .el-pagination {
  padding: 10px 5px 0 5px;
  text-align: right;
}
.upload-file-list .file-btn {
  color: #457EFF;
  padding-right: 5px;
}
.upload-file-list .file-btn.el-icon-delete {
  color: #FF4B47;
}
.my-dir-table .dir-file-name, .my-mat-table .dir-file-name {
  width: 240px;
  display: inline-block;
  vertical-align: bottom;
}
.dir-file-name .ag {
  margin-right: 10px;
  color: #457EFF;
}
.dir-file-name .ag-folder-open-fill {
  color: #ffb822;
  font-size: 20px;
  vertical-align: sub;
  padding-right: 10px;
}
.my-dir-table .dir-file-name .file-icon {
  vertical-align: sub;
  display: inline-block;
  height: 18px;
  width: 25px;
  background: url("../../images/userCenter/word.png") no-repeat;
}
.my-dir-table .dir-file-name .file-icon-pdf {
  background: url("../../images/userCenter/pdf.png") no-repeat;
}
.my-dir-table .dir-file-name .file-icon-txt {
  background: url("../../images/userCenter/txt.png") no-repeat;
}
.my-dir-table:before {
  content: none;
}
.file-opt-btn .el-radio {
  line-height: 40px;
}
.op-btn {
  color: #3e97df;
  cursor: pointer;
  padding-right: 10px;
  position: relative;
}
.op-btn:after {
  content: '';
  position: absolute;
  width: 1px;
  top: 3px;
  bottom: 2px;
  right: 3px;
  background: #DCDFE6;
}
.op-btn:last-child {
  padding-right: 0;
}
.op-btn:last-child:after {
  content: none;
}
.cert-icon {
  color: #4293F4;
  font-size: 20px;
  vertical-align: middle;
}
.show-mat-form .el-dialog__body {
  padding: 0 20px 20px 20px;
}
.my-mat-table.el-table:before {
  height: 0;
}