<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>设立依据</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--引入样式-->
    <link rel="stylesheet" href="/framework-ui/src/main/resources/static/agcloud/framework/js-lib/metronic-5/vendors.bundle.css" th:href="@{/agcloud/framework/js-lib/metronic-5/vendors.bundle.css}">
    <link rel="stylesheet" href="/framework-ui/src/main/resources/static/agcloud/framework/ui-private/default/common/css/metronic.css" th:href="@{/agcloud/framework/ui-private/default/common/css/metronic.css}">
    <link rel="stylesheet" href="/framework-ui/src/main/resources/static/agcloud/framework/js-lib/element-2/element.css" th:href="@{/agcloud/framework/js-lib/element-2/element.css}">
    <link rel="stylesheet" href="/framework-ui/src/main/resources/static/agcloud/framework/ui-private/default/common/css/layout.css" th:href="@{/agcloud/framework/ui-private/default/common/css/layout.css}">
    <link rel="stylesheet" href="/framework-ui/src/main/resources/static/agcloud/framework/ui-private/default/blue/css/theme.css" th:href="@{/agcloud/framework/ui-private/default/blue/css/theme.css}">
    <!-- 业务样式 -->
    <link rel="stylesheet" href="../../../../static/admin/theme/guide/css/baseOnInfoIndex.css" th:href="@{/admin/theme/guide/css/baseOnInfoIndex.css}">
    <style>
        .sel-apartment .tree-left {

            position: inherit;
            float: inherit;
            padding: 0;
            width: 100%;
        }

        .sel-apartment .search-apartment {

            width: 94%;
            margin: 11px 3%;
        }
    </style>
    <script>
        var ctx = '[[@{/}]]';
        var stageId = '[[${recordId}]]';
        var curIsEditable = [[${curIsEditable}]];
        var relTbName = 'AEA_PAR_STAGE';
        var relPkName = 'STAGE_ID';
    </script>
</head>
<body>
<div id="index" v-loading="loading" style="padding: 15px;">
    <!-- 查询 -->
    <div class="add-search clearfix" style="padding-bottom: 15px;">
        <button v-show="curIsEditable" type="button" class="btn btn-primary" @click="openSelectTree();">导入条款</button>
        <button v-show="curIsEditable" type="button" class="btn btn-outline-danger" @click="batchDelData();">删除</button>
        <button v-show="curIsEditable" type="button" class="btn btn-secondary" @click="searchRow();">刷新</button>
        <div class="float-right search-btn" style="padding-left: 10px;">
            <div class="input-group search-key">
                <input type="text" class="form-control" v-model="searchKey" placeholder="请输入查询关键字" style="width: 250px;">
                <i class="la la-close clear-search" @click="searchKey='';page=1;searchRow();"></i>
                <div class="input-group-append">
                    <button class="btn btn-primary m-btn--icon" @click="searchRow()">
                        <span><i class="fa fa-search"></i><span>查询</span></span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- 主要显示内容 -->
    <el-table
            ref="itemBasicTb"
            :data="tableData.rows"
            border style="width: 100%"
            highlight-current-row
            v-loading="loading"
            @row-click="itemBasicClickSel"
            @row-dblclick="itemBasicDblClickSel"
            @selection-change="handleSelChange">
        <el-table-column type="selection" align="center"></el-table-column>
        <el-table-column prop="legalName" label="依据名称" align="left"></el-table-column>
        <el-table-column prop="basicNo" label="依据文号" align="left"></el-table-column>
        <el-table-column prop="issueOrg" label="颁布机关" align="left"></el-table-column>
        <el-table-column prop="exeDate" label="实施日期" width="130" align="center">
            <template slot-scope="scope">
                <p v-text="formatOperTime(scope.row.exeDate, 'yyyy-MM-dd')"></p>
            </template>
        </el-table-column>
        <el-table-column prop="clauseTitle" label="条款号" align="left"></el-table-column>
        <el-table-column prop="clauseContent" label="条款具体内容" align="left">
            <template slot-scope="scope">
                <p v-text="formatClauseContent(scope.row.clauseContent)"></p>
            </template>
        </el-table-column>
        <el-table-column label="操作" width="130" align="center">
            <template slot-scope="scope">
                <el-button icon="el-icon-search" circle @click="viewBasicById(scope.row)"></el-button>
                <el-button v-show="curIsEditable" type="danger" icon="el-icon-delete" circle @click="deleteData(scope.row.basicId)"></el-button>
            </template>
        </el-table-column>
    </el-table>
    <!-- 分页 -->
    <el-pagination
            background
            align="right"
            :pager-count="5"
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :page-sizes="[10, 20, 30, 50]"
            :page-size="pageSize"
            layout="total,sizes, prev, pager, next, jumper"
            :total="tableData.total">
    </el-pagination>

    <!-- 查看法律条款 -->
    <el-dialog title="查看法律条款" :visible.sync="dialogIsShow" class="edit-row" @closed="clearLegalClauseFormData" width="45%">

        <el-form :inline="true" :model="legalClauseData" ref="legalClauseData" :style="{height: '450px', overflow:'auto'}">

            <el-row>
                <el-col :span="24">
                    <el-form-item label="法律法规名称：" prop="legalName" class="ops-memo2">
                        <el-input v-model="legalClauseData.legalName" :readonly="readonly"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>

            <el-row>
                <el-col :span="12">
                    <el-form-item label="法规层级：" prop="legalLevel">
                        <el-input v-model="legalClauseData.legalLevel" :readonly="readonly"></el-input>
                    </el-form-item>
                </el-col>

                <el-col :span="12">
                    <el-form-item label="依据文号：" prop="basicNo">
                        <el-input v-model="legalClauseData.basicNo" :readonly="readonly"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>

            <el-row>
                <el-col :span="12">
                    <el-form-item label="颁发机构：" prop="issueOrg">
                        <el-input v-model="legalClauseData.issueOrg" :readonly="readonly"></el-input>
                    </el-form-item>
                </el-col>

                <el-col :span="12">
                    <el-form-item label="实施日期：" prop="exeDate">
                        <el-date-picker
                                v-model="legalClauseData.exeDate"
                                type="date" :readonly="readonly"
                                style="width: 100%">
                        </el-date-picker>
                    </el-form-item>
                </el-col>
            </el-row>

            <el-row>
                <el-col :span="24">
                    <el-form-item label="条款号：" prop="clauseTitle" class="ops-memo2">
                        <el-input v-model="legalClauseData.clauseTitle" :readonly="readonly"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>

            <el-row>
                <el-col :span="24">
                    <el-form-item label="条款具体内容：" prop="clauseContent" class="ops-memo">
                        <el-input type="textarea" v-model="legalClauseData.clauseContent" rows="9" :readonly="readonly"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>

            <el-row>
                <el-col :span="24">
                    <el-form-item label="法律法规说明：" prop="serviceLegalMemo" class="ops-memo">
                        <el-input type="textarea" v-model="legalClauseData.serviceLegalMemo" rows="5" :readonly="readonly"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="dialogIsShow=false">取消</el-button>
        </div>
    </el-dialog>

    <!-- 选择法律法规条款 -->
    <el-dialog title="法律法规库" class="sel-apartment" :class="dialogSetLegal?'show':''"
               :visible.sync="dialogSetLegal" @opened="loadSelectedClause();" @closed="clearSelLegalData();" width="45%">

        <div class="tree-left float-left">
            <p class="sel-title">选择：</p>
            <el-input class="search-apartment" placeholder="请输入关键字" v-model="filterText">
                <i slot="prefix" class="el-input__icon el-icon-search"></i>
                <i slot="suffix" class="el-input__icon el-icon-close" @click="filterText='';"></i>
            </el-input>
            <el-tree
                :style="{height:fullHeight-400+'px',overflow:'auto'}"
                :data="setLegalTreeData"
                show-checkbox
                node-key="id"
                ref="setLegalTree"
                highlight-current
                :props="defaultLegalProps"
                :check-strictly=true
                :filter-node-method="filterLegalNode"
                :default-expanded-keys="setLegalExpanded"
                @node-expand="nodeExpand"
                @node-click="nodeClick"
                @check="nodeCheck"
                @check-change="nodeCheckChange">
                <span class="custom-tree-node" slot-scope="scope">
                    <span>
                      <i :class="'fa fa-folder'"></i>{{ scope.data.label }}
                    </span>
                </span>
            </el-tree>
        </div>

        <div slot="footer" class="dialog-footer">
            <el-button type="primary" @click="saveSelLegal">保存</el-button>
            <el-button @click="dialogSetLegal=false">取消</el-button>
        </div>
    </el-dialog>
</div>
<!-- 引入js文件 -->
<script src="/framework-ui/src/main/resources/static/agcloud/framework/js-lib/jquery-v1/jquery.min.js" th:src="@{/agcloud/framework/js-lib/jquery-v1/jquery.min.js}"></script>
<script src="/framework-ui/src/main/resources/static/agcloud/framework/js-lib/vue-v2/vue.js" th:src="@{/agcloud/framework/js-lib/vue-v2/vue.js}"></script>
<script src="/framework-ui/src/main/resources/static/agcloud/framework/js-lib/element-2/element.js" th:src="@{/agcloud/framework/js-lib/element-2/element.js}"></script>
<script src="/framework-ui/src/main/resources/static/agcloud/framework/js-lib/agcloud-lib/js/common.js" th:src="@{/agcloud/framework/js-lib/agcloud-lib/js/common.js}"></script>
<script type="text/javascript" src="../../../../static/admin/theme/guide/js/baseOnInfoIndex.js" th:src="@{/admin/theme/guide/js/baseOnInfoIndex.js}"></script>
</body>
</html>
