/*
* @Author: ZL
* @Date:   2019/02/14
* @Last Modified by:   ZL
* @Last Modified time: $ $
*/
[v-cloak]{
    display: none;
}
#index {
    padding: 0 10px;
}
.add-search {
    padding: 10px 0;
}
.add-search .btn {
    margin-right: 5px;
}
/*el-search样式重置*/
.add-search .el-input__inner {
    height: 34px;
    line-height: 34px;
}
.add-search .search-btn {
    margin-left: 5px;
}
.add-search .el-input__icon {
    line-height: 34px;
}
/*el-search样式重置*/

/*表格操作按钮样式 */
.btn-table {
    padding: 0 7px 0 9px;
    position: relative;
    color: #169AFF;
    cursor: pointer;
}
.btn-table.disabled, .btn-table.disabled:hover {
    color: #8ACCFF;
    cursor: not-allowed;
}
.btn-table:hover {
    color: #008DF9;
}
.btn-table:first-child {
    padding-left: 0;
}
.btn-table:after {
    content: '';
    display: inline-block;
    height: 12px;
    width: 1px;
    background: #E0E3E9;
    margin-left: 6px;
    position: absolute;
    top: 2px;
}
.btn-table:last-child:after {
    height: 0;
}
/*表格操作按钮样式 */

/*el-dialog 样式*/
.el-dialog__header {
    border-bottom: 1px solid #E0E3E9;
}
.el-dialog__body {
    padding: 0 20px;
}
.el-dialog .el-form {
    padding-top: 20px;
}
.edit-row .el-form-item__label {
    width: 20%;
    text-align: right;
}
.el-form--inline .el-form-item {
    margin-right: 0;
    width: 99%;
}
.el-form--inline .el-form-item__content {
    width: 80%;
}
.el-form-item__content .el-select {
    width: 100%;
}
.ops-memo .el-form-item__label {
    float: left;
}
.ops-memo .el-form-item__content {
    margin-left: 20%;
    display: block;
    width: 80%;
}
.search-key {
    position: relative;
}
.clear-search {
    position: absolute;
    right: 90px;
    top: 8px;
    color: #afb2c1;
    z-index: 100;
}

/*button重置*/
.el-button--medium {
    padding: 9px 14px;
}
