body {
  margin: 0;
  /*padding: 16px;*/
  background: #f2f3f8;
  margin: 0 auto;
}

/*element 样式重置 start*/
.el-table--border,
.el-table--group {
  border-color: #dcdfe6;
}

.el-table td,
.el-table th,
.el-table th.is-leaf {
  border-color: #dcdfe6;
}

.el-table--border::after,
.el-table--group::after,
.el-table::before {
  background: #dcdfe6;
}

.el-table,
.el-table thead {
  color: #575962;
}

.el-collapse {
  border: none;
}

.el-collapse-item__header {
  height: 50px;
  line-height: 50px;
  padding-left: 16px;
  font-size: 16px;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  color: #575962;
  font-weight: 700;
  border-bottom: 2px solid #E0E3E9;
}

.el-collapse-item__header.is-active {
  border-bottom: 2px solid #457EFF;
  color: #457EFF;
}

.el-collapse-item__content {
  color: #575962;
  padding-bottom: 0;
  display: grid;
}

.el-collapse-item__arrow {
  margin: 0 18px 0 auto;
  font-size: 20px;
  float: right;
  line-height: 42px;
}

.el-collapse-item__header.is-active .el-collapse-item__arrow,
.el-collapse-item__header.is-active .header-icon {
  color: #457EFF;
}

.el-collapse-item__header .header-icon {
  font-size: 22px;
  margin-right: 5px;
  color: #aaa;
  font-weight: normal;
}

.el-collapse-item {
  margin-bottom: 15px;
}

.el-input-group__append {
  color: #fff;
  border-color: #457EFF;
  background: #457EFF;
}

#applyPerson .el-input-group__append {
  color: #575962;
  border-color: #DCDFE6;
  background: #fff;
  padding: 0 10px;
}

.el-button--primary {
  border-color: #457EFF;
  background: #457EFF;
}

.el-input__inner {
  border-color: #DCDFE6;
  height: 34px;
  line-height: 34px;
  color: #575962;
  padding: 0 10px;
}

.el-input.is-disabled .el-input__inner {
  color: #575962;
}

.el-form-item.is-success .el-input__inner,
.el-form-item.is-success .el-input__inner:focus,
.el-form-item.is-success .el-textarea__inner,
.el-form-item.is-success .el-textarea__inner:focus {
  border-color: #DCDFE6;
}

.el-form-item__content,
.el-form-item__label {
  line-height: 34px;
  color: #575962;
}

.el-autocomplete {
  line-height: 34px;
  height: 34px;
}

.el-form-item {
  margin-bottom: 14px;
}

.el-input-group__append button.el-button i[class^=el-icon-] {
  font-size: 16px;
}

.el-button {
  padding: 9px 20px;
}

.el-collapse-item__wrap {
  overflow: visible;
  position: relative;
  border: none;
  padding: 15px 30px;
}

.el-button--mini,
.el-button--mini.is-round {
  padding: 7px 15px;
}

.el-upload__text {
  color: #7C828D;
  margin-top: 65px;
  position: relative;
  text-align: center;
}

/*.el-table thead.is-group th {*/
/*  background: #fbfbfb;*/
/*}*/
.el-dialog__header {
  border: none;
  height: 44px;
  line-height: 44px;
  color: #fff;
  background: #1C9AFD;
  padding: 0 15px;
}

.el-dialog__headerbtn:focus .el-dialog__close,
.el-dialog__headerbtn:hover .el-dialog__close {
  color: #fff;
}

.el-dialog__headerbtn {
  top: 13px;
}

.el-dialog__body .el-form {
  padding: 10px 40px 0 0;
}

.el-dialog__body {
  padding: 20px 0;
}

.el-dialog__footer {
  padding: 0px 20px 20px;
}

.dg-modal-add-linkmain-info .el-select {
  width: 100%;
}

.el-form-item__error {
  padding-top: 0;
}

.el-input-group__prepend div.el-select .el-input__inner {
  color: #575962;
  padding-right: 20px;
}

.el-input__icon {
  line-height: 34px;
}

.el-input__suffix {
  right: 2px;
}

.el-form-item {
  margin-bottom: 20px;
}

.el-cascader {
  line-height: 34px;
  width: 100%;
}

.clearfix {
  zoom: 1;
}

#app {
  /*padding: 20px 120px 80px 120px;*/
  background: rgb(240, 241, 244);
}

.content {
  width: 1200px;
  padding: 39px 60px;
  background: #fff;

  margin: 0 auto;
}

.content .content-head {
  color: rgb(79, 171, 191);
  font-size: 15px;
  line-height: 37px;
  height: auto;
  margin-bottom: 48px;
}

.content .content-head h2 {
  font-size: 24px;
  color: #3F4047;
}

.input-inline {
  width: 45%;
  float: left;
}

.el-form-item__content .el-date-editor {
  width: 100%;
}

.el-form-item__content .el-select {
  width: 100%;
}

.input-inline:nth-child(even) {
  float: right;
}

.input-with-select .el-input-group__append .el-select {
  width: 85px;
}

.input-with-select .el-input-group__append {
  background: #fff;
  color: #575962;
  border-color: #DCDFE6;
}

/*头部面包屑*/
.crumbs-wrap {
  width: 1200px;
  margin: 0 auto;
  height: 48px;
  line-height: 48px;
}

/*当前页面*/
.crumbs-wrap .crumbs-cur {
  color: #3184FA;
}

.crumbs-wrap .crumbs-icon {
  width: 16px;
  height: 18px;
  background: url("../images/icon_local.png") no-repeat center;
  background-size: 100% 100%;
  margin-right: 6px;
}

.crumbs-wrap .crumbs-tip {
  color: #333;
  font-size: 14px;
}

.el-breadcrumb {
  display: inline-block;
}

.crumbs-wrap a {
  color: #606266;

}

.table a {
  margin: 0 10px;
}

.right-bottom-btn {
  text-align: center;
  margin: 20px 0;
}

.tip {
  color: #afb2c1;
  font-size: 12px;
}

.mb5 {
  margin-bottom: 5px;
}

.mat {
  background: url(../images/mat.png) no-repeat 0 0;
  background-size: 100% 90%;
  width: 20px;
  height: 20px;
}

.contact {
  background: url(../images/contact.png) no-repeat 0 0;
  background-size: 100% 90%;
  width: 20px;
  height: 20px;
}

.grade {
  background: url(../images/grade.png) no-repeat 0 0;
  background-size: 100% 90%;
  width: 20px;
  height: 20px;
}

.card {
  background: url(../images/card.png) no-repeat 0 0;
  background-size: 100% 90%;
  width: 23px;
  height: 20px;
}

/*step2*/
.tips {
  background: rgba(255, 252, 238, 1);
  border: 1px solid rgba(255, 184, 34, 1);
  opacity: 0.76;
  border-radius: 4px;
  padding: 26px;
}

.tips p {
  background: url(../images/icon-attention.png) no-repeat 0 2px;
  text-indent: 25px;
  color: #3F4047;
  font-size: 18px;
  font-weight: bold;
}

.tips ul li {
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: rgba(87, 89, 98, 1);
  line-height: 30px;
  text-indent: 22px;
}

.tips2 {
  padding: 7px;
}

.tips2 p {
  font-weight: normal;
  font-size: 14px;
}

.tips3 p {
  background: url(../images/icon-attention.png) no-repeat 0 0;
}

.plus-btn {
  text-align: center;
  margin: 28px 0;
}

.el-input-group__prepend {
  background: #457EFF;
  color: #fff;
}

.el-input-group--prepend {
  margin-top: 15px;
  width: 78%;
  height: 41px;
  margin-left: 50px;
}

.el-input-group--prepend input {
  background: #f7f7f7;
  height: 41px;
}

.grade-box {
  display: flex;
}

.select-btn {
  height: 41px;
  margin: 15px 0 0 10px;
}

/*专业资格弹窗*/
.el-dialog {
  height: 674px;
}

.el-dialog .el-dialog__title,
.el-dialog button i {
  color: #fff !important;
  font-weight: bold;
}

.el-dialog__body {
  padding: 15px;
  height: 93%;
  background: rgba(240, 243, 246, 1);
}

.grade-content {
  background: #fff;
  padding: 13px;
  height: 100%;
}

.search-proj {
  margin-top: 24px;
  margin-left: 40px;
}

.tabs,
.matfile {
  margin-top: 24px;
  height: 70%;
}

.tabBtn {
  text-align: right;
  margin-top: 18px;
}

.table .el-table__header-wrapper .el-table__header thead tr th {
  background: #F3F6F9;
}

/*stpe4*/
.verify {
  text-indent: 180px;
  text-align: left;
  margin: 6px 0;
}

.addcert {
  width: 13%;
  margin-top: 20px;
  margin-bottom: 10px;
}

.specialbtn {
  border-color: #BACFFF;
  color: #457EFF;
}

:root {
  --achieved: #00C161;
  --color: #fff;
}

.current {
  --achieved: #457EFF;
}

.future {
  --achieved: #F5F5F5;
  --color: #7F8590;
}

.content-head h2 {
  display: inline-block;
}

.tag {
  display: inline-block;
  margin-left: 233px;
  width: 441px;
  height: 40px;
  float: right;
}

.tag ul {
  position: relative;
  width: 100%;
}

.tag ul li {
  position: absolute;
  font-size: 14px;
  top: 0;
  width: 130px;
  text-align: center;
  border-radius: 2px;
  background: var(--achieved);
  color: var(--color);
}

.tag ul li:nth-child(1) {
  z-index: 5;
  left: 0px;
}

.tag ul li:nth-child(2) {
  z-index: 4;
  left: 133px;
  text-indent: 10px;
}

.tag ul li:nth-child(3) {
  z-index: 3;
  width: 142px;
  left: 266px;
  text-indent: 10px;

}


.tag ul li:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  right: -36px;
  border: 18px transparent solid;
  border-left-color: var(--achieved);
}

.tag ul li:nth-child(3):after {
  content: '';
  border: 0 none;
}

.tag ul li:nth-child(2):before,
.tag ul li:nth-child(3):before,
.tag ul li:nth-child(4):before,
.tag ul li:nth-child(5):before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  border: 18px transparent solid;
  border-left-color: #fff;
}

/*上传*/
.file-opt-btn {
  margin-bottom: 10px;
}

.file-icon-btn {
  margin-left: 40px;
  display: none;
}

.file-box:hover .file-icon-btn {
  display: inline-block;
}

.file-icon-btn span {
  cursor: pointer;
  margin-left: 5px;
  font-size: 15px;
}

.el-icon-delete {
  color: red;
}

.el-icon-search,
.el-icon-download {
  color: rgb(54, 99, 255);
}

.el-input-checkbox {
  margin-top: 20px;
}

.el-tabs--border-card>.el-tabs__content {
  padding: 0;
}

.grade-tabs {
  border: none;
}

.grade-tree {
  height: 200px;
}

.el-tree-node__content {
  height: 40px;
}

.aptTreeTitle i,
.aptTreeTitle span {
  cursor: pointer;
}

.aptTreeTitle span:hover {
  color: #409EFF;
}

.linkman-dialog .el-dialog__body {
  height: 74%;
  background: #fff;
}

.linkman-dialog .el-dialog {
  height: 400px;
}

.certDialog .el-dialog {
  height: 800px;
}

.certDialog .el-dialog__body {
  overflow-y: auto;
  background: #fff;
  padding: 15px 15px 48px 15px;
}

.certDialog .text-center .el-button {
  float: right;
  margin-right: 39px;
}

.belong-grade {
  padding: 10px;
  border: 1px solid #e5e5e5;
}

.loginInfo {
  font-size: 16px;
  text-align: center;
  margin: 27px 0 0 0;
}