ul,li{
	list-style: none;
	margin: 0;
	padding: 0;
}
.el-upload-list__item-name [class^=el-icon]{
  height:auto;
}
/* 重置 element css STR */
[v-cloak] {
display: none;
}
.el-table th>.cell{
  font-size: 13px;
}
.el-table .cell{
  font-size: 12px;
}
/* 重置 element css END */
.add-search .btn {
margin-right:5px;
}
.label{
line-height: 40px;
display:inline-block;
}
.float-right{
display:flex;
}
.form-control{
padding:1.336rem 0.713rem;
}
.el-dialog{
width:66%;
}
.dialog2 .el-dialog{
width:34%;
}
.el-input--suffix .el-input__inner{
height:40px;
}
.add-search{
padding: 0 15px;
}
#app{
padding:12px;
overflow: hidden;
position:relative;
}
.el-table td, .el-table th{
text-align: center;
}
.edit-row1 .el-dialog{
  height:750px;
}
.edit-row1 .el-dialog .el-dialog__body{
  height:600px;
  overflow-y: scroll;
}
.edit-row1 .el-dialog .el-select,
.edit-row1 .el-dialog .el-input-number{
width:100%;
}
.loading{
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 7;
}
.loading .tips{
  width:20%;
  height:20%;
  position: absolute;
  left:50%;
  top:50%;
  color:#fff;
  text-align:center;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.el-table__empty-block{
max-height:22px;
}
.el-dialog__headerbtn{
top:12px;
}
.el-dialog__header{
/*padding-top: 10px;*/
}
.el-dialog__body{
padding:15px 20px;
}
.dialog2 .el-dialog__body{
height: 500px;
overflow-y: auto;
}
/* 滚动条 */
::-webkit-scrollbar-thumb:horizontal { /*水平滚动条的样式*/
  width: 8px;
  background-color: #bbb;
  -webkit-border-radius: 6px;
}
::-webkit-scrollbar-track-piece {
  background-color: #fff; /*滚动条的背景颜色*/
  -webkit-border-radius: 0; /*滚动条的圆角宽度*/
}
::-webkit-scrollbar {
  width: 10px; /*滚动条的宽度*/
  height: 8px; /*滚动条的高度*/
  background-color: #bbb;
  -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:vertical { /*垂直滚动条的样式*/
  height: 50px;
  background-color: #bbbbbb;
  outline: 2px solid #fff;
  outline-offset: -2px;
  border: 2px solid #fff;
  -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover { /*滚动条的hover样式*/
  height: 50px;
  background-color: #9f9f9f;
  -webkit-border-radius: 4px;
}
.el-tabs__nav-wrap::after{
height:1px;
}
/*thead .el-table-column--selection  .cell,
thead .el-table_1_column_1  .cell{
display: none;
}*/
.cup{
	cursor: pointer;
	font-size:16px;
}
.btns{
	margin-bottom: 27px;
}
.search{
	display: inline-block;
	float: right;
}
.radioGroup{
	padding-top:10px;
}
.orgUser,
.windows,
.selectUser{
	width:38%;
  height:760px;
  overflow-y: auto;
	float: left;
	margin-left: 10px;
	border:1px solid #ccc;
}
.orgUser{
  overflow-y: hidden;
}
.windows{
  width:20%;
}
.orgUser>ul>li:nth-child(1),
.selectUser>ul>li:nth-child(1){
	padding: 13px 21px 19px 12px;
}
.orgUser>ul>li:nth-child(2){
	padding:0 0 20px 10px;
}
.el-tree--highlight-current .el-tree-node.is-current>.el-tree-node__content{
  background: #bedcff;
}
.userList .file{
  background: url(../image/spritPic.png) no-repeat;
  width: 14px;
  background-position: -112px -30px;
  height: 16px;
  display: inline-block;
}
.userList{
  height: 84%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.userList .el-checkbox{
  display: block;
  margin: 7px 0px;
}
.userList>li{
  padding-left:20px;
}
.userList>li>span{
  width: 16px;
  height: 16px;
  cursor: pointer;
  display: inline-block;
  background: url(../image/spritPic.png) no-repeat;
  background-position: -93px 0px;
}
.userList>li>i{
  width: 20px;
  height: 16px;
  display: inline-block;
  background: url(../image/spritPic.png) no-repeat;
  background-position: -108px 1px;
}
.userList .el-checkbox-group{
  margin-left: 40px;
}
.userShrink{
  background-position: -74px 0px !important;
}
.selectUser>ul>li:nth-child(2){
  padding-left: 20px;
}
.selectUser .selectedList{
  margin-top: 15px;
  overflow-y: auto;
  height: 652px;
}
.selectUser .selectedList>li{
  background-color: #fff;
  padding: 6px 0px;
  font-size: 15px;
  text-align:left;
  border: 1px solid transparent;
  border-bottom: 1px solid #ebebeb;
}
.selectUser .selectedList>li>i{
  text-align: center;
  font: bold 16px Sans-Serif;
  color: #5F9EDF;
  display: inline-block;
  width: 8%;
  cursor: pointer;
}
/*.stage-tree .el-tree-node__label:before {
  content: "";
  background: url(../image/spritPic.png) no-repeat;
  width: 19px;
  background-position: -109px -14px;
  height: 16px;
  display: inline-block;
}*/
/*.stage-tree .el-tree-node__children .el-tree-node__label:before {
  content: "";
  background: url(../image/spritPic.png) no-repeat;
  width: 19px;
  background-position: -109px -30px;
  height: 16px;
  display: inline-block;
}*/
.edit-row2 .dialog-footer,
.dialog-footer{
  margin-right: 38px;
}
/*.edit-row1 .dialog-footer{
  margin-right: 118px;
  margin-top: 10px;
}*/
.el-table{
  margin-bottom: 15px;
}

.open{
    font-size: 14px;
    color: #777;
    /* text-align: left; */
    text-indent: 17px;
}
.selectInput{
    margin-right: 15px;
}
/*.pjfile-list {
    width: 790px;
}*/
.pjfile-list li{
  position: relative;
  padding-right: 60px;
  word-break: break-all;
}
.pjfile-list li p {
    width: 340px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.pjfile-list li a {
  margin-left:15px;
  text-decoration: none;
}
.items{
  width: 40%;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


/* new css */
.lt-path {
  border-right: 1px solid rgba(235,237,242,1);
}

.rt-path {
  padding: 0;
}

.window-title {
  height: 49px;
  line-height: 49px;
  padding: 0 16px;
  border-bottom: 1px solid rgba(235,237,242,1);
}

.window-title span.title {
  font-size:16px;
  color:#575962;
}

.window-title button {
  float: right;
  font-size:14px;
  color:#169AFF;
  margin-top: 5px;
}

.el-input--suffix .el-input__inner {
  height: 34px;
}

.window-bottom {
  padding: 11px 16px;
}

.window-box{
  /*height: 690px;
  overflow-y: auto;*/
}

.window-show .title {
  font-size:14px;
  color:#AFB2C1;
  margin: 16px 0;
}

.window-show .list {
  overflow-y: auto;
}

.window-show .list ul li{
  position: relative;
  font-size: 14px;
  height:40px;  
  line-height: 40px;
  padding: 0 8px;
  cursor: pointer;
}

.window-show .list ul li.active{
  color: #169AFF;
  background:rgba(234,246,255,1);
}

.window-show .list ul li.active::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 4px;
  height: 100%;
  background:#169AFF;
}

.window-show .hadFixedList ul li {
  cursor: not-allowed;
}

.window-operationLayer {
  position: absolute;
  top: 50%;
  right: 25%;
  z-index: 10;
  width: 110px;
  background:rgba(255,255,255,1);
  box-shadow:0px 0px 11px 2px rgba(69,65,78,0.34);
  border-radius:4px;
}

.window-operationLayer div {
  font-size: 14px;
  color: #F55555;
  height: 44px;
  line-height: 44px;
  text-align: center;
  cursor: pointer;
}

.window-operationLayer div:nth-child(1) {
  color: #575962;
  background-color: #F3F6F9;
}

.user .title {
  font-size: 14px;
  color: #AFB2C1;
  margin: 16px 0;
}

.userBigBox {
  padding: 0 17px 17px;
}

.userBigBox .searchBox {
  margin-bottom: 18px;
}

.userList {
  height: 90%;
}

.userList>li {
    padding-left: 0;
}

.userList .el-checkbox-group {
    margin-left: 29px;
}

.operationBtn {
  margin-bottom: 18px;
}

.right-arrow {
  box-sizing: border-box;
  height: 750px;
  padding-top: 420px;
  text-align: center;
  font-size: 35px;
  color: #C9C9C9;
}

.edit-row1 .el-dialog {
  position: absolute;
  right: 0;
}

.edit-row1 .el-form-item {
  display: block;
}

.edit-row1 .dialog-footer {
  margin-right: 20px;
}

.el-form--inline .el-form-item__content {
  vertical-align: middle;
}

.el-form-item.is-success .el-input__inner, .el-form-item.is-success .el-input__inner:focus, .el-form-item.is-success .el-textarea__inner, .el-form-item.is-success .el-textarea__inner:focus {
  border: 1px solid #DCDFE6;
}





.tableOpBtn {
  float: right;
  text-align: right;
}

.tableOpBtn button.el-button {
  padding: 9px 20px;
}

.edit-row1 .el-checkbox__input.is-checked+.el-checkbox__label {
  color: #606266;
}

.title .el-input-group__append {
  background-color: #169AFF;
  border: 1px solid #169AFF;
  color: #fff;
  padding: 0 15px;
}

.upload-demo .el-button--primary {
  color: #169aff;
  background-color: #fff;
  border-color: #169aff;
  padding: 11px 15px;
}

.el-dialog__title {
  line-height: 48px;
  font-size: 16px;
}

.right-sidebar.show {
  right: 0;
}

.rt-slidebar-title {
  height: 49px;
  line-height: 49px;
  padding-left: 14px;
  font-size: 16px;
  color: #575962;
  border-bottom: 1px solid #E8EAEF;
  margin-bottom: 18px;
}

.right-sidebar-footer {
  box-sizing: border-box;
  padding: 0 20px 0 0;
  z-index: 999;
}

.right-sidebar .right-sidebar-close {
  top: 16px;
}

/* 超出隐藏-一行 */
.ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
}

/*// 2行省略*/
.ellipsisLn {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}

.pr{
  position: relative;
}

.inle-block{
  display: inline-block;
  vertical-align: top;
}

/* 市级还是区级 */
.type-tag{
  position: absolute;
  top: 50%;
  right: 12px;
  width: 34px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  transform: translateY(-50%);
  color: #fff;
  background: #FFC04A;
  font-size: 12px;
  border-radius: 4px;
}

.win-info{
  color: #AFB2C1;
  font-size: 16px;
  float: right;
}

.addUser .el-dialog {
  margin-top: 3vh!important;
}