<!DOCTYPE html>
<!--suppress ALL-->
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<!--申报页面-apply-公共引入的js css-->
<head th:fragment="commonheader(title)">
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="/framework-ui/src/main/resources/static/agcloud/framework/js-lib/element-2/element.css" th:href="@{/agcloud/framework/js-lib/element-2/element.css}"/>
    <link rel="stylesheet" href="/framework-ui/src/main/resources/static/agcloud/framework/icon-lib/agcloud-fonts/iconfont.css" th:href="@{/agcloud/framework/icon-lib/agcloud-fonts/iconfont.css}">
    <link rel="stylesheet" href="/framework-ui/src/main/resources/static/agcloud/framework/js-lib/agcloud-lib/css/reset.css" th:href="@{/agcloud/framework/js-lib/agcloud-lib/css/reset.css}">
    <style>
        .custor{
            cursor:pointer;
        }
    </style>
    <script>
        var ctx = '[[@{/}]]';
        // var ctx = 'http://192.168.32.46:8083/aplanmis-front/';
    </script>
</head>
<!--审批页-approve-公共头-->
<div th:fragment="approveCommonHeader(title)">
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="../../static/agcloud/bpm/front/process/css/common.css" th:href="@{/agcloud/bpm/front/process/css/common.css}">
    <!--<link rel="stylesheet" href="/framework-ui/src/main/resources/static/agcloud/framework/js-lib/element-2/element.css" th:href="@{/agcloud/framework/js-lib/element-2/element.css}">
    <link rel="stylesheet" href="/framework-ui/src/main/resources/static/agcloud/framework/ui-private/default/common/css/layout.css" th:href="@{/agcloud/framework/ui-private/default/common/css/layout.css}">
    <link rel="stylesheet" href="/framework-ui/src/main/resources/static/agcloud/framework/ui-private/default/blue/css/theme.css" th:href="@{/agcloud/framework/ui-private/default/blue/css/theme.css}">
    -->

    <link rel="stylesheet" href="/framework-ui/src/main/resources/static/agcloud/framework/js-lib/element-2/element.css" th:href="@{/agcloud/framework/js-lib/element-2/element.css}"/>
    <link rel="stylesheet" href="/framework-ui/src/main/resources/static/agcloud/framework/icon-lib/agcloud-fonts/iconfont.css" th:href="@{/agcloud/framework/icon-lib/agcloud-fonts/iconfont.css}">
    <link rel="stylesheet" href="/framework-ui/src/main/resources/static/agcloud/framework/js-lib/agcloud-lib/css/reset.css" th:href="@{/agcloud/framework/js-lib/agcloud-lib/css/reset.css}">
    <link rel="stylesheet" href="/framework-ui/src/main/resources/static/agcloud/framework/ui-private/default/common/css/layout.css" th:href="@{/agcloud/framework/ui-private/default/common/css/layout.css}">
    <link rel="stylesheet" href="/framework-ui/src/main/resources/static/agcloud/framework/ui-private/default/blue/css/theme.css" th:href="@{/agcloud/framework/ui-private/default/blue/css/theme.css}">

    <script>
        var ctx = '[[@{/}]]';
    </script>
</div>
<div>

</div>
<body>
<!-- ntkoJS -->
<div th:fragment="ntkojs">
    <!--ntko功能js-->
    <script type="text/javascript" src="../../static/ntko/js/index.js?<%=isDebugMode%>" th:src="@{/ntko/js/index.js}"></script>
    <!--谷歌事件js-->
    <script type="text/javascript" src="../../static/ntko/js/chromeEvent.js?<%=isDebugMode%>" th:src="@{/ntko/js/chromeEvent.js}"></script>
    <!-- IE触发事件相关start ******* ********* 以下事件在IE中触发。谷歌事件触发机制和IE不同，谷歌事件在ntkoofficecontrol.js中 -->
    <!--1.盖章之后触发-->
    <script language="JScript" for="TANGER_OCX" event="OnSecSignSetInfo(UserName, SignType, secSignObj)">
        var singer = secSignObj.Signer;//获取签章用户名
    </script>

    <!--2.文档打开后触发事件-->
    <script language="JScript" for="TANGER_OCX" event="OnDocumentOpened(str,obj)">
        ntkoondocumentopened(str, obj);
    </script>

    <!-- 3.文档控件菜单点击事件，可以接管默认的事件 -->
    <script language="JScript" for="TANGER_OCX" event="OnFileCommand(commandid,canceled)">
        // FileCommand(commandid, canceled);
    </script>

    <!--4.自定义工具栏按钮触发事件-->
    <script language="javascript" for="TANGER_OCX" event="OnCustomToolBarCommand(btnIdx)"></script>

    <!--5.自定义菜单触发事件-->
    <script language="JScript" for="TANGER_OCX" event="OnCustomMenuCmd2(menuPos, submenuPos, subsubmenuPos, menuCaption, myMenuID)">
        // CustomMenuCmd(menuPos,submenuPos,subsubmenuPos,menuCaption,myMenuID)
    </script>

    <!--6.文档激活后触发事件-->
    <script language="JScript" for="TANGER_OCX" event="OnDocActivated(bool)"></script>

    <!--7.当Word或者WPS文档的插入点或者选中内容改变时触发此事件-->
    <script language="JScript" for="TANGER_OCX" event="OnWordWPSSelChange(menuTitle)"></script>

    <!--8.WORD、WPS右键之前触发事件-->
    <script language="javascript" for="TANGER_OCX" event="OnWordBeforeRightClick(Selection, IsCancel)">
        // TANGER_OCX_OBJ.FullScreenMode = true;//全屏
        console.log('IE右键...')
    </script>

    <!--9.Excel右键之前触发事件-->
    <script language="javascript" for="TANGER_OCX" event="OnSheetBeforeRightClick(SheetName, row, col, IsCancel)"></script>
    <!-- IE触发事件相关 ******* ********* END -->
    <!--ntko插件-->
    <script type="text/javascript" src="../../static/ntko/js/ntkobackground.min.js" th:src="@{/ntko/js/ntkobackground.min.js}"></script>
    <script type="text/javascript" src="../../static/ntko/js/ntkoofficecontrol.js?<%=isDebugMode%>" th:src="@{/ntko/js/ntkoofficecontrol.js}"></script>
</div>
<!--申报页-apply-尾-->
<div th:fragment="commonfooter">
    <!--一下文件不存在，先注释-->
    <script src="/framework-ui/src/main/resources/static/agcloud/framework/js-lib/jquery-v1/jquery.min.js" th:src="@{/agcloud/framework/js-lib/jquery-v1/jquery.min.js}"></script>
    <script src="/framework-ui/src/main/resources/static/agcloud/framework/js-lib/element-2/polyfill.min.js" th:src="@{/agcloud/framework/js-lib/element-2/polyfill.min.js}"></script>
    <script src="/framework-ui/src/main/resources/static/agcloud/framework/js-lib/vue-v2/vue.js" th:src="@{/agcloud/framework/js-lib/vue-v2/vue.js}"></script>
    <script src="/framework-ui/src/main/resources/static/agcloud/framework/js-lib/element-2/element.js" th:src="@{/agcloud/framework/js-lib/element-2/element.js}"></script>
    <script src="../../static/common/js/axios.min.js" th:src="@{/common/js/axios.min.js}"></script>
    <script src="/framework-ui/src/main/resources/static/agcloud/framework/js-lib/agcloud-lib/js/common.js" th:src="@{/agcloud/framework/js-lib/agcloud-lib/js/common.js}"></script>
</div>
<!--审批页-approve-尾-->
<div th:fragment="approveCommonfooter">
    <script src="/framework-ui/src/main/resources/static/agcloud/framework/js-lib/jquery-v1/jquery.min.js" th:src="@{/agcloud/framework/js-lib/jquery-v1/jquery.min.js}"></script>
    <script src="/framework-ui/src/main/resources/static/agcloud/framework/js-lib/vue-v2/vue.js" th:src="@{/agcloud/framework/js-lib/vue-v2/vue.js}"></script>
    <script src="/framework-ui/src/main/resources/static/agcloud/framework/js-lib/element-2/element.js" th:src="@{/agcloud/framework/js-lib/element-2/element.js}"></script>
    <script src="/framework-ui/src/main/resources/static/agcloud/framework/js-lib/agcloud-lib/js/common.js" th:src="@{/agcloud/framework/js-lib/agcloud-lib/js/common.js}"></script>
</div>
<!--高拍仪-->
<div th:fragment="gaopaiyi">
    <!--引入图片转pdf文件-->
    <script type="text/javascript" th:src="@{/common/js/pdfmake.js}"></script>
    <script src="../../static/common/js/qwebchannel.js" th:src="@{/common/js/qwebchannel.js}"></script>
    <script src="../../static/common/js/liangtian_gaopaoyi.js" th:src="@{/common/js/liangtian_gaopaoyi.js}"></script>
    <script src="../../static/common/js/fangzheng_gaopaiyi.js" th:src="@{/common/js/fangzheng_gaopaiyi.js}"></script>
    <!--InitializationCompleted 是方正高拍仪控件的事件，表示控件加载完成-->
    <script type="text/javascript" FOR="Capture" EVENT="InitializationCompleted" >
      catchInitFinishedMessage();
    </script>
</div>
</body>
</html>